Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

docs: sync remaining test-invocation guidance with new addopts
  CLAUDE.md
  README.md
  docs/developing-gyrinx/testing.md
  docs/useful-scripts.md
  scripts/test.sh
Due: check-fmt, markdownlint

feat: support trait and rule mods in pack house rules (closes #1752)
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/house_rule_form.html
  gyrinx/core/tests/test_pack_house_rule_view.py
  gyrinx/core/views/pack.py
Due: none

fix: drop --reuse-db default so schema changes are picked up automatically (#1776)
  CLAUDE.md
  README.md
  docs/developing-gyrinx/testing.md
  docs/useful-scripts.md
  pyproject.toml
  scripts/test.sh
Due: check-fmt, markdownlint

feat: showcase featured content packs on the front page (#1775)
  gyrinx/core/templates/core/includes/featured_pack_card.html
  gyrinx/core/templates/core/index.html
  gyrinx/core/templates/core/pack/packs.html
  gyrinx/core/tests/test_homepage_featured_packs.py
  gyrinx/core/views/home.py
Due: none

chore(infra): match prod Cloud SQL shape, wire staging billing account
  infra/environments/prod/main.tf
  infra/environments/staging/bootstrap.tfvars
  infra/modules/gyrinx/README.md
  infra/modules/gyrinx/cloud_sql.tf
  infra/modules/gyrinx/variables.tf
Due: check-fmt, markdownlint

docs(agents): note pushpush notification when blocked at task start
  .claude/agents/code-architect.md
  .claude/agents/code-explorer.md
  .claude/agents/code-reviewer.md
  .claude/agents/code-simplifier.md
  .claude/agents/diataxis-docs-expert.md
  .claude/agents/feature-planner.md
Due: check-fmt, markdownlint

chore(infra): set correct staging billing account ID
  infra/environments/staging/bootstrap.tfvars
Due: none

docs(agents): note pushpush notification when blocked at task start (#1778)
  .claude/agents/code-architect.md
  .claude/agents/code-explorer.md
  .claude/agents/code-reviewer.md
  .claude/agents/code-simplifier.md
  .claude/agents/diataxis-docs-expert.md
  .claude/agents/feature-planner.md
Due: check-fmt, markdownlint

fix: install npm deps and seed CSS build in dev.sh
  .claude/skills/dev-server/SKILL.md
  CLAUDE.md
  scripts/dev.sh
Due: check-fmt, markdownlint

fix: hoist npm check and detect SCSS-newer-than-CSS in dev.sh
  scripts/dev.sh
Due: none

fix: keep stash rating consistent after a fighter dies
  gyrinx/core/handlers/fighter/kill.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_handlers_fighter_lifecycle.py
Due: none

fix: install npm deps and seed CSS build in dev.sh (#1779)
  .claude/skills/dev-server/SKILL.md
  CLAUDE.md
  scripts/dev.sh
Due: check-fmt, markdownlint

refactor: URL-driven house-rule kind picker; trait/rule add-remove preview
  .claude/skills/gyrinx-conventions/SKILL.md
  CLAUDE.md
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/CLAUDE.md
  gyrinx/core/templates/core/pack/house_rule_form.html
  gyrinx/core/templates/core/pack/house_rule_picker.html
  gyrinx/core/templates/core/pack/includes/pack_mod_view_line.html
  gyrinx/core/tests/test_pack_house_rule_view.py
  gyrinx/core/views/pack.py
Due: check-fmt, markdownlint

refactor(infra): adopt Spacelift; consolidate bootstrap
  infra/.gitignore
  infra/README.md
  infra/bootstrap/README.md
  infra/bootstrap/gcp_projects.tf
  infra/bootstrap/gcp_service_accounts.tf
  infra/bootstrap/outputs.tf
  infra/bootstrap/providers.tf
  infra/bootstrap/scripts/setup-keys.sh
  infra/bootstrap/spacelift_stacks.tf
  infra/bootstrap/terraform.tfvars
  infra/bootstrap/variables.tf
  infra/bootstrap/versions.tf
  infra/environments/prod/README.md
  infra/environments/prod/backend.tf
  infra/environments/prod/bootstrap.tfvars
  infra/environments/staging/README.md
  infra/environments/staging/backend.tf
  infra/environments/staging/bootstrap.tfvars
  infra/modules/bootstrap/README.md
  infra/modules/bootstrap/apis.tf
  infra/modules/bootstrap/artifact_registry.tf
  infra/modules/bootstrap/iam.tf
  infra/modules/bootstrap/outputs.tf
  infra/modules/bootstrap/project.tf
  infra/modules/bootstrap/providers.tf
  infra/modules/bootstrap/state.tf
  infra/modules/bootstrap/variables.tf
  infra/modules/bootstrap/versions.tf
Due: check-fmt, markdownlint

test: use FighterCategoryChoices.STASH for stash fighters in lifecycle tests
  gyrinx/core/tests/test_handlers_fighter_lifecycle.py
Due: none

fix: keep stash rating consistent after a fighter dies (#1781)
  gyrinx/core/handlers/fighter/kill.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_handlers_fighter_lifecycle.py
Due: none

feat: apply pack mods on Trading Post + Customise Weapon; unify weapon pickers
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/pack/customise_weapon_picker.html
  gyrinx/core/templates/core/pack/house_rule_picker.html
  gyrinx/core/templates/core/pack/includes/weapon_picker_filter.html
  gyrinx/core/templates/core/pack/includes/weapon_picker_table.html
  gyrinx/core/tests/test_pack_customise_weapon.py
  gyrinx/core/views/pack.py
Due: none

feat: add fighter mod picker to pack gear and weapons (closes #1753)
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/includes/_accessory_mods_picker.html
  gyrinx/core/templates/core/pack/includes/_equipment_mods_picker.html
  gyrinx/core/templates/core/pack/includes/_mod_picker_shared.html
  gyrinx/core/templates/core/pack/includes/pack_item_edit_tabs_equipment.html
  gyrinx/core/templates/core/pack/pack_item_add.html
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/templates/core/pack/pack_item_modifiers.html
  gyrinx/core/tests/test_pack_equipment_mods.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: none

style: use design-system alert for Modifiers tab hint
  gyrinx/core/templates/core/pack/pack_item_add.html
Due: none

style: drop fs-7 from Modifiers tab intro text
  gyrinx/core/templates/core/pack/includes/_equipment_mods_picker.html
Due: none

fix: only surface fighter-side stats in the equipment mod picker
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/includes/_equipment_mods_picker.html
  gyrinx/core/tests/test_pack_equipment_mods.py
Due: none

fix: auto-activate per-worktree venv on every Bash invocation
  scripts/activate_venv_hook.sh
  scripts/dev.sh
  scripts/lib/worktree.sh
Due: none

fix: forward cost_for_fighter_int through VirtualWeaponProfile
  gyrinx/content/models/weapon.py
Due: none

feat: add fighter mod picker to pack gear and weapons (closes #1753) (#1783)
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/includes/_accessory_mods_picker.html
  gyrinx/core/templates/core/pack/includes/_equipment_mods_picker.html
  gyrinx/core/templates/core/pack/includes/_mod_picker_shared.html
  gyrinx/core/templates/core/pack/includes/pack_item_edit_tabs_equipment.html
  gyrinx/core/templates/core/pack/pack_item_add.html
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/templates/core/pack/pack_item_modifiers.html
  gyrinx/core/tests/test_pack_equipment_mods.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: none

chore(infra): move Spacelift API config into tfvars
  infra/bootstrap/README.md
  infra/bootstrap/providers.tf
  infra/bootstrap/secrets.auto.tfvars.example
  infra/bootstrap/terraform.tfvars
  infra/bootstrap/variables.tf
Due: check-fmt, markdownlint

chore(infra): wire gyrinx.app org through bootstrap, defer prod
  infra/bootstrap/gcp_projects.tf
  infra/bootstrap/terraform.tfvars
  infra/bootstrap/variables.tf
Due: none

fix: address Copilot review on per-worktree venv activation
  scripts/activate_venv_hook.sh
  scripts/lib/worktree.sh
Due: none

feat: support trait and rule mods in pack house rules (#1777)
  .claude/skills/gyrinx-conventions/SKILL.md
  CLAUDE.md
  gyrinx/content/models/weapon.py
  gyrinx/core/forms/pack.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/CLAUDE.md
  gyrinx/core/templates/core/pack/customise_weapon_picker.html
  gyrinx/core/templates/core/pack/house_rule_form.html
  gyrinx/core/templates/core/pack/house_rule_picker.html
  gyrinx/core/templates/core/pack/includes/pack_mod_view_line.html
  gyrinx/core/templates/core/pack/includes/weapon_picker_filter.html
  gyrinx/core/templates/core/pack/includes/weapon_picker_table.html
  gyrinx/core/tests/test_pack_customise_weapon.py
  gyrinx/core/tests/test_pack_house_rule_view.py
  gyrinx/core/views/pack.py
Due: check-fmt, markdownlint

fix: auto-activate per-worktree venv on every Bash invocation (#1785)
  scripts/activate_venv_hook.sh
  scripts/dev.sh
  scripts/lib/worktree.sh
Due: none

docs: record why CampaignContentPack stays a bare models.Model (closes #1774)
  gyrinx/core/models/campaign.py
Due: none

feat: add pin and star to lists and campaigns
  gyrinx/core/migrations/0144_list_campaign_pin_star.py
  gyrinx/core/models/campaign.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaigns.html
  gyrinx/core/templates/core/includes/campaigns_filter.html
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/includes/lists_filter.html
  gyrinx/core/templates/core/includes/pinned_card.html
  gyrinx/core/templates/core/index.html
  gyrinx/core/templates/core/lists.html
  gyrinx/core/tests/test_pin_star.py
  gyrinx/core/urls.py
  gyrinx/core/views/campaign/lifecycle.py
  gyrinx/core/views/campaign/views.py
  gyrinx/core/views/home.py
  gyrinx/core/views/list/views.py
Due: none

fix: keep "Your Lists Only" toggle checked when a sort param is present
  gyrinx/core/templates/core/includes/lists_filter.html
  gyrinx/core/tests/test_pin_star.py
Due: none

refactor: address PR review feedback on pin/star
  gyrinx/core/models/campaign.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/campaign/campaigns.html
  gyrinx/core/templates/core/includes/campaigns_filter.html
  gyrinx/core/templates/core/includes/lists_filter.html
  gyrinx/core/templates/core/lists.html
  gyrinx/core/tests/test_pin_star.py
  gyrinx/core/utils.py
  gyrinx/core/views/campaign/lifecycle.py
  gyrinx/core/views/list/views.py
Due: none

feat: propagate pack default child-fighter assignments to existing gangs (closes #1725)
  gyrinx/core/models/list.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_propagate_default_child_fighter.py
  gyrinx/tasks/registry.py
Due: none

refactor: address Copilot review feedback on #1725
  gyrinx/core/models/list.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_propagate_default_child_fighter.py
Due: none

fix: clear dead-fighter cost_override on all non-resurrect exits (#1782)
  gyrinx/core/handlers/fighter/__init__.py
  gyrinx/core/handlers/fighter/resurrect.py
  gyrinx/core/templates/core/list_fighter_resurrect.html
  gyrinx/core/tests/test_fighter_state_edit.py
  gyrinx/core/tests/test_handlers_fighter_lifecycle.py
  gyrinx/core/tests/test_injury_views.py
  gyrinx/core/views/fighter/crud.py
  gyrinx/core/views/fighter/state.py
Due: none

refactor: render pinned items as normal rows; recolour pin/star buttons
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaigns.html
  gyrinx/core/templates/core/campaign/includes/campaign_row.html
  gyrinx/core/templates/core/includes/home/campaign_row.html
  gyrinx/core/templates/core/includes/home/gang_row.html
  gyrinx/core/templates/core/includes/home/list_row.html
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/includes/list_row.html
  gyrinx/core/templates/core/includes/pinned_card.html
  gyrinx/core/templates/core/index.html
  gyrinx/core/templates/core/lists.html
  gyrinx/core/views/campaign/views.py
  gyrinx/core/views/home.py
  gyrinx/core/views/list/views.py
Due: none

fix: address code review on dead-fighter resurrect routing (#1782)
  gyrinx/core/handlers/fighter/resurrect.py
  gyrinx/core/templates/core/list_fighter_resurrect.html
  gyrinx/core/tests/test_fighter_state_edit.py
  gyrinx/core/tests/test_handlers_fighter_lifecycle.py
  gyrinx/core/views/fighter/crud.py
  gyrinx/core/views/fighter/state.py
Due: none

fix: reflect resurrect target state in confirmation copy (#1782)
  gyrinx/core/templates/core/list_fighter_resurrect.html
  gyrinx/core/tests/test_resurrect_fighter.py
  gyrinx/core/views/fighter/crud.py
Due: none

chore: pin direct deps to == and drop pip versioning-strategy: increase
  .github/dependabot.yml
  requirements.txt
Due: check-fmt

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
