Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

feat: reconcile_defaults creates only what provenance says is missing (#2286)
  n26/core/builtins.py
  n26/core/migrations/0022_a_removal_carries_no_provenance.py
  n26/core/models/assignment.py
  n26/core/operations.py
  n26/tests/sandbox/test_builtin_reconciliation.py
  n26/tests/sandbox/test_rechoosing.py
Due: none

docs: C2 merged (#2165)
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

docs: C2b UX agreed — Add profile page per gun member, in progress (#2165)
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

feat: DefaultAssignment.gun_member names the gun an extra profile rides
  n26/library/migrations/0065_an_extra_profile_names_its_gun_member.py
  n26/library/migrations/0066_standing_profile_members_take_their_gun.py
  n26/library/models/defaults.py
Due: none

feat: add_default_member anchors a weapon profile to its gun member
  n26/library/authoring.py
  n26/library/models/assignable.py
  n26/library/specs.py
  n26/tests/sandbox/test_generated_forms.py
Due: none

feat: reconcile_defaults resolves ammo through gun_member, dropping the FIFO
  n26/core/card.py
  n26/core/operations.py
  n26/tests/sandbox/test_builtin_reconciliation.py
  n26/tests/sandbox/test_builtins_archival.py
Due: none

feat: authoring pages that build a weapon profile in beside its gun
  n26/library/concepts.md
  n26/library/templates/authoring/built_in_profiles.html
  n26/library/templates/authoring/detail.html
  n26/library/templates/authoring/option_add.html
  n26/library/views.py
  n26/tests/sandbox/test_builtin_profile_pages.py
  n26/urls.py
Due: check-fmt, markdownlint

fix: DefaultAssignment.clean refuses an archived gun_member anchor
  n26/library/models/defaults.py
  n26/tests/sandbox/test_builtin_reconciliation.py
Due: none

refactor: gun_members_bringing states the gun match once for verb and page
  n26/library/authoring.py
  n26/library/views.py
Due: none

fix: indent nested profile rows with pl-6! so the table's td padding loses
  n26/library/templates/authoring/detail.html
Due: none

test: pin that a fighter cell's weapon-profile line is a note, never a member
  n26/tests/sandbox/test_ingest.py
Due: none

fix: create_default_set anchors lines against the completed set, atomically
  n26/library/authoring.py
  n26/tests/sandbox/test_builtin_reconciliation.py
Due: none

fix: migration 0066 leaves an ambiguous twin unanchored instead of aborting
  n26/library/migrations/0066_standing_profile_members_take_their_gun.py
Due: none

fix: built_in_profiles lets the verb place new lines at the end of the set
  n26/library/views.py
  n26/tests/sandbox/test_builtin_profile_pages.py
Due: none

feat: a weapon-profile built-in names the gun member it rides (#2301)
  n26/core/card.py
  n26/core/operations.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/migrations/0065_an_extra_profile_names_its_gun_member.py
  n26/library/migrations/0066_standing_profile_members_take_their_gun.py
  n26/library/models/assignable.py
  n26/library/models/defaults.py
  n26/library/specs.py
  n26/library/templates/authoring/built_in_profiles.html
  n26/library/templates/authoring/detail.html
  n26/library/templates/authoring/option_add.html
  n26/library/views.py
  n26/tests/sandbox/test_builtin_profile_pages.py
  n26/tests/sandbox/test_builtin_reconciliation.py
  n26/tests/sandbox/test_builtins_archival.py
  n26/tests/sandbox/test_generated_forms.py
  n26/tests/sandbox/test_ingest.py
  n26/urls.py
Due: check-fmt, markdownlint

docs: C2b merged (#2165)
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

feat: add n26 feature flags: a settings switch and a Group allowlist
  gyrinx/settings.py
  n26/core/flags.py
  n26/core/migrations/0022_an_account_may_be_let_into_campaigns_early.py
  n26/core/test_flags.py
Due: none

fix: a feature flag fails shut on a word nothing can read, and its group survives a reverse
  n26/core/admin.py
  n26/core/migrations/0023_an_account_may_be_let_into_campaigns_early.py
  n26/core/models/flag.py
  n26/core/test_flags.py
Due: none

refactor: move the n26 feature flag from a setting into a FeatureFlag row
  gyrinx/settings.py
  n26/core/admin.py
  n26/core/flags.py
  n26/core/migrations/0023_a_feature_may_be_opened_from_the_admin.py
  n26/core/migrations/0024_the_campaigns_feature_starts_shut.py
  n26/core/models/__init__.py
  n26/core/models/flag.py
  n26/core/test_admin.py
  n26/core/test_flags.py
Due: none

chore: renumber the feature-flag migrations to follow n26 0022 on main
  n26/core/migrations/0023_an_account_may_be_let_into_campaigns_early.py
  n26/core/migrations/0024_a_feature_may_be_opened_from_the_admin.py
  n26/core/migrations/0025_the_campaigns_feature_starts_shut.py
Due: none

fix: only a slug the code asks for may be stored on a feature flag
  n26/core/admin.py
  n26/core/flags.py
  n26/core/migrations/0023_an_account_may_be_let_into_campaigns_early.py
  n26/core/migrations/0025_the_campaigns_feature_starts_shut.py
  n26/core/models/flag.py
  n26/core/test_flags.py
Due: none

fix: commit the migration that adds the feature-flag availability constraint
  n26/core/migrations/0026_a_flag_may_only_hold_a_word_that_can_be_read.py
Due: none

fix: a guard on an unknown feature-flag slug refuses to be applied
  n26/core/admin.py
  n26/core/flags.py
  n26/core/test_flags.py
Due: none

feat: add an admin-controlled n26 FeatureFlag with a Group allowlist (#2298)
  n26/core/admin.py
  n26/core/flags.py
  n26/core/migrations/0023_an_account_may_be_let_into_campaigns_early.py
  n26/core/migrations/0024_a_feature_may_be_opened_from_the_admin.py
  n26/core/migrations/0025_the_campaigns_feature_starts_shut.py
  n26/core/migrations/0026_a_flag_may_only_hold_a_word_that_can_be_read.py
  n26/core/models/__init__.py
  n26/core/models/flag.py
  n26/core/test_admin.py
  n26/core/test_flags.py
Due: none

feat: add the n26 Campaign model and the arbitrator's pages for one
  n26/analytics.py
  n26/core/admin.py
  n26/core/forms.py
  n26/core/migrations/0027_a_campaign_is_a_thing_an_arbitrator_owns.py
  n26/core/models/__init__.py
  n26/core/models/campaign.py
  n26/core/templates/n26/_nav.html
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/campaigns.html
  n26/core/templates/n26/create_campaign.html
  n26/core/templates/n26/delete_campaign.html
  n26/core/templates/n26/edit_campaign.html
  n26/core/templates/n26/includes/campaign_form_fields.html
  n26/core/templatetags/navigation.py
  n26/core/test_admin.py
  n26/core/test_views_campaigns.py
  n26/core/test_views_gang_equip.py
  n26/core/views/__init__.py
  n26/core/views/campaigns.py
  n26/core/views/permissions.py
  n26/urls.py
Due: none

fix: the campaigns list draws a pager, and Save is green
  n26/core/templates/n26/campaigns.html
  n26/core/templates/n26/edit_campaign.html
  n26/core/test_views_campaigns.py
  n26/core/views/campaigns.py
Due: none

docs: C4 pending row rides gyrinx.state_machine.StateMachine (maintainer ruling)
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

docs: C4 obligation rows are single-shot — forward-only graph, no RUNNING->PENDING
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

docs: C4 sweep = TaskRoute schedule; first live user of Cloud Scheduler provisioning
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

refactor: feature flags move from n26/core to gyrinx.site, behind a seam
  gyrinx/site/admin.py
  gyrinx/site/flags.py
  gyrinx/site/migrations/0007_feature_flags_belong_to_the_site.py
  gyrinx/site/migrations/0008_the_flags_an_edition_held_move_to_the_site.py
  gyrinx/site/models.py
  gyrinx/tests/test_feature_flags.py
  n26/CLAUDE.md
  n26/core/admin.py
  n26/core/apps.py
  n26/core/flags.py
  n26/core/migrations/0028_the_flag_table_belongs_to_the_site_now.py
  n26/core/models/__init__.py
  n26/core/models/flag.py
  n26/core/templatetags/navigation.py
  n26/core/test_admin.py
  n26/core/views/campaigns.py
  n26/flags.py
  n26/tests/test_flag_seam.py
  n26/tests/test_views_campaigns.py
Due: check-fmt, markdownlint

docs: D14 settles propagation history wording — dedicated kind, empty actor, folded per gang
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

fix: the campaign editor loads, and a campaign is archived rather than deleted
  n26/core/templates/n26/archive_campaign.html
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/create_campaign.html
  n26/core/templates/n26/edit_campaign.html
  n26/core/templates/n26/includes/campaign_form_fields.html
  n26/core/views/__init__.py
  n26/core/views/campaigns.py
  n26/tests/test_views_campaigns.py
  n26/urls.py
Due: none

style: the campaign page's Edit button is default, not primary
  n26/core/templates/n26/campaign.html
Due: none

spike: htmx answers a purchase with the row it changed (#2303)
  n26/core/templates/cotton/n26/collection_picker/index.html
  n26/core/templates/cotton/n26/collection_picker/item.html
  n26/core/templates/n26/equip.html
  n26/core/templates/n26/includes/equip_bought.html
  n26/core/templates/n26/includes/equip_line.html
  n26/core/templates/n26/includes/equip_owned_line.html
  n26/core/templates/n26/includes/row_action.html
  n26/core/templates/n26/layouts/base.html
  n26/core/test_views_equip.py
  n26/core/views/equip.py
  n26/designsystem/static/designsystem/vendor/htmx.min.js
Due: check-fmt

feat: the campaigns list uses the gangs table, and the home tab respects the flag
  n26/core/CLAUDE.md
  n26/core/templates/cotton/n26/record_table/campaign_row.html
  n26/core/templates/cotton/n26/record_table/gang_row.html
  n26/core/templates/cotton/n26/record_table/index.html
  n26/core/templates/cotton/n26/view/dashboard.html
  n26/core/templates/n26/campaigns.html
  n26/core/templates/n26/dashboard.html
  n26/core/templates/n26/gangs.html
  n26/core/views/campaigns.py
  n26/core/views/gangs.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/record-table/10-table.html
  n26/designsystem/templates/designsystem/demos/view-dashboard/10-dashboard.html
  n26/designsystem/templates/designsystem/shell/home.html
  n26/tests/test_views_campaigns.py
Due: check-fmt, markdownlint

feat: add ReconcileObligation, the durable debt a DefaultAssignmentSet edit files
  n26/CLAUDE.md
  n26/core/migrations/0027_a_set_change_files_a_debt_to_its_holders.py
  n26/core/models/__init__.py
  n26/core/models/ledger.py
  n26/core/models/obligation.py
Due: check-fmt, markdownlint

feat: propagate_built_ins task pays set-change debts gang by gang
  n26/core/propagation.py
  n26/library/authoring.py
  n26/maintenance.py
  n26/tests/sandbox/test_prose.py
Due: none

feat: history folds CAUGHT_UP grants into one comes-with line per pass
  n26/core/history.py
  n26/core/operations.py
Due: none

test: chaos-test built-in propagation through the manual task queue
  n26/tests/sandbox/test_builtin_propagation.py
Due: none
