Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

fix: keep recruited models and their territory history clear
  n26/core/templates/n26/unassign_asset.html
  n26/library/models/modifier.py
  n26/tests/sandbox/test_campaign_assets.py
Due: none

refactor: type the share island's button through ui (#2800)
  n26/frontend/islands/share/Share.tsx
  n26/frontend/ui/index.tsx
Due: none

refactor: dismiss the n26 announcement bar in React
  gyrinx/pages/templates/flatpages/shell.html
  n26/core/templates/cotton/n26/site/announcement.html
  n26/core/templates/n26/layouts/base.html
  n26/core/templatetags/announcement.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/site-announcement/20-dismiss.html
  n26/frontend/islands/announcement/Announcement.test.tsx
  n26/frontend/islands/announcement/Announcement.tsx
  n26/frontend/islands/announcement/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/frontend/tooling/export_cotton_recipes.py
  n26/tests/test_platform_integration.py
Due: check-fmt

chore: host announcement bar screenshots
  screenshots/react-migrations/announcement-desktop-dark.png
  screenshots/react-migrations/announcement-desktop-light.png
  screenshots/react-migrations/announcement-dismissed-phone-light.png
  screenshots/react-migrations/announcement-gallery-desktop-light.png
  screenshots/react-migrations/announcement-phone-dark.png
  screenshots/react-migrations/announcement-phone-light.png
Due: none

fix: reuse campaign viewer visibility for asset controls
  n26/core/render.py
  n26/core/templates/cotton/n26/campaign_assets.html
  n26/core/views/campaigns.py
  n26/tests/sandbox/test_asset_rolls.py
  n26/tests/sandbox/test_campaign_additions.py
  n26/tests/sandbox/test_campaign_sheet.py
Due: none

fix: record a free DJANGO_PORT when the worktree hash is taken
  .agents/skills/dev-server/SKILL.md
  gyrinx/tests/test_worktree_port.py
  scripts/dev.sh
  scripts/lib/worktree.sh
Due: check-fmt, markdownlint

test: let the fake runserver accept, so macOS still sees the port in use
  gyrinx/tests/test_worktree_port.py
Due: none

fix: treat a port runserver cannot bind as taken, and match whole worktree paths
  gyrinx/tests/test_worktree_port.py
  scripts/lib/worktree.sh
Due: none

fix: keep the n26 announcement form and icons in server markup
  n26/core/templates/cotton/n26/site/announcement.html
  n26/core/templatetags/announcement.py
  n26/designsystem/catalog.py
  n26/frontend/islands/announcement/Announcement.test.tsx
  n26/frontend/islands/announcement/Announcement.tsx
  n26/frontend/tooling/export_cotton_recipes.py
  n26/tests/test_platform_integration.py
Due: none

fix: group campaign header details beneath stats and actions
  n26/core/templates/cotton/n26/view/campaign_sheet.html
Due: none

fix: improve campaign territory naming and assignment forms
  n26/core/campaigns.py
  n26/core/forms.py
  n26/core/templates/cotton/n26/campaign_assets.html
  n26/core/templates/cotton/n26/view/campaign_sheet.html
  n26/core/templates/n26/add_asset.html
  n26/core/templates/n26/assign_asset.html
  n26/core/templates/n26/includes/campaign_assign_choices.html
  n26/core/templates/n26/includes/campaign_assign_dialog.html
  n26/core/templates/n26/includes/campaign_update.html
  n26/core/views/campaigns.py
  n26/frontend/islands/campaign-asset-selection/AssetSelection.test.tsx
  n26/frontend/islands/campaign-asset-selection/AssetSelection.tsx
  n26/frontend/tooling/export_cotton_recipes.py
  n26/frontend/ui/index.tsx
  n26/tests/sandbox/test_campaign_assets.py
  n26/tests/test_campaign_asset_batches.py
  n26/tests/test_views_campaigns.py
Due: none

fix: recognise campaign PNG uploads and simplify mission counters
  n26/core/static/n26/richtext.js
  n26/core/templates/n26/includes/post_battle_counters.html
  n26/core/templates/n26/includes/post_battle_mission.html
  n26/core/templates/n26/includes/post_battle_model.html
  n26/core/widgets.py
  n26/frontend/test/richtext-uploads.test.js
  n26/tests/test_campaign_summary.py
  n26/tests/test_views_post_battle.py
Due: check-fmt

refactor: dismiss the n26 announcement bar in React (#2801)
  gyrinx/pages/templates/flatpages/shell.html
  n26/core/templates/cotton/n26/site/announcement.html
  n26/core/templates/n26/layouts/base.html
  n26/core/templatetags/announcement.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/site-announcement/20-dismiss.html
  n26/frontend/islands/announcement/Announcement.test.tsx
  n26/frontend/islands/announcement/Announcement.tsx
  n26/frontend/islands/announcement/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/tests/test_platform_integration.py
Due: check-fmt

refactor: show the n26 hire dialog price difference in React
  n26/core/templates/cotton/n26/hire_dialog.html
  n26/core/templates/n26/hire_fighter.html
  n26/core/templatetags/hire_price.py
  n26/core/test_views_hire.py
  n26/frontend/islands/hire-price/HirePrice.test.tsx
  n26/frontend/islands/hire-price/HirePrice.tsx
  n26/frontend/islands/hire-price/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
Due: check-fmt

fix: keep a price typed before the hire island mounts
  n26/frontend/islands/hire-price/HirePrice.test.tsx
  n26/frontend/islands/hire-price/HirePrice.tsx
  n26/frontend/islands/hire-price/entry.tsx
Due: none

fix: omit repeated asset types from campaign selection cards
  n26/core/views/campaigns.py
Due: none

fix: explain ownership on the campaign asset creation form
  n26/core/templates/n26/new_asset.html
  n26/core/views/campaigns.py
Due: none

fix: show the n26 hire price difference after the box
  n26/core/templates/cotton/n26/hire_dialog.html
  n26/frontend/islands/hire-price/HirePrice.test.tsx
  n26/frontend/islands/hire-price/HirePrice.tsx
Due: none

refactor: show the n26 hire dialog price difference in React (#2805)
  n26/core/templates/cotton/n26/hire_dialog.html
  n26/core/templates/n26/hire_fighter.html
  n26/core/templatetags/hire_price.py
  n26/core/test_views_hire.py
  n26/frontend/islands/hire-price/HirePrice.test.tsx
  n26/frontend/islands/hire-price/HirePrice.tsx
  n26/frontend/islands/hire-price/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
Due: check-fmt

style: arrange campaign sections in cards like the gang page
  n26/core/templates/cotton/n26/campaign_assets.html
  n26/core/templates/cotton/n26/campaign_description.html
  n26/core/templates/cotton/n26/section.html
  n26/core/templates/cotton/n26/view/campaign_sheet.html
  n26/core/templates/n26/includes/campaign_assets_section.html
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/campaign-description/10-description.html
  n26/designsystem/templates/designsystem/demos/section/20-card.html
  n26/designsystem/templates/designsystem/demos/view-campaign-sheet/10-sheet.html
  n26/tests/test_campaign_summary.py
Due: none

style: tighten campaign card padding and description layout
  n26/core/templates/cotton/n26/campaign_assets.html
  n26/core/templates/cotton/n26/campaign_description.html
  n26/core/templates/cotton/n26/section.html
  n26/core/templates/cotton/n26/view/campaign_sheet.html
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/includes/campaign_assets_section.html
  n26/core/templates/n26/includes/campaign_gangs.html
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/section/20-card.html
  n26/tests/sandbox/test_asset_rolls.py
Due: none

fix: remove mobile campaign gang row hover backgrounds
  n26/core/templates/cotton/n26/campaign_gangs.html
Due: none

style: give campaign gang details rows and label the roster card
  n26/core/render.py
  n26/core/templates/cotton/n26/campaign_block.html
  n26/core/templates/cotton/n26/campaign_gangs.html
  n26/core/test_render.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/campaign-gangs/10-table.html
  n26/tests/test_campaign_counter_adjustment.py
  n26/tests/test_views_campaigns.py
Due: none

fix: finish campaign layout and preserve profile link targets
  n26/core/templates/cotton/n26/campaign_assets.html
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/includes/campaign_pool_roll_dialog.html
  n26/core/templates/n26/includes/campaign_roll_dialog.html
  n26/core/templates/n26/includes/campaign_roll_table.html
  n26/core/views/__init__.py
  n26/core/views/profiles.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/campaign-assets/10-table.html
  n26/tests/sandbox/test_asset_rolls.py
  n26/tests/sandbox/test_campaign_founding.py
  n26/tests/test_campaign_asset_detail.py
  n26/tests/test_user_profiles.py
  n26/tests/test_views_battles.py
  n26/urls.py
Due: none

fix: add custom campaign holdings with their annotation and income (#2782)
  n26/core/campaigns.py
  n26/core/forms.py
  n26/core/models/campaign.py
  n26/core/render.py
  n26/core/templates/cotton/n26/campaign_assets.html
  n26/core/templates/n26/add_asset.html
  n26/core/views/campaigns.py
  n26/frontend/islands/campaign-asset-selection/AssetSelection.test.tsx
  n26/frontend/islands/campaign-asset-selection/AssetSelection.tsx
  n26/frontend/islands/campaign-asset-selection/entry.tsx
  n26/library/income.py
  n26/library/models/campaign_type.py
  n26/tests/sandbox/test_asset_rolls.py
  n26/tests/sandbox/test_campaign_additions.py
  n26/tests/sandbox/test_campaign_assets.py
  n26/tests/sandbox/test_campaign_sheet.py
  n26/tests/test_campaign_asset_batches.py
Due: none

feat: generate a campaign territory pool in one roll (#2786)
  n26/core/campaigns.py
  n26/core/forms.py
  n26/core/templates/cotton/n26/campaign_assets.html
  n26/core/templates/n26/includes/campaign_pool_roll_dialog.html
  n26/core/templates/n26/includes/campaign_roll_dialogs.html
  n26/core/views/campaigns.py
  n26/tests/sandbox/test_asset_rolls.py
Due: none

fix: let campaign invitees answer from the campaign page (#2779)
  n26/core/templates/cotton/n26/view/campaign_sheet.html
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/includes/campaign_invitations.html
  n26/core/views/campaigns.py
  n26/tests/test_views_campaign_invitations.py
  n26/tests/test_views_campaigns.py
Due: none

fix: include Campaigns in the N26 page navigation menu (#2781)
  n26/core/navigation.py
  n26/core/templatetags/navigation.py
  n26/core/test_navigation.py
  n26/tests/test_campaign_navigation.py
Due: none

feat: explain campaign credits budgets and link gang memberships (#2792)
  n26/core/templates/cotton/n26/record_table/gang_row.html
  n26/core/templates/cotton/n26/view/gang_sheet.html
  n26/core/templates/n26/add_gang_to_campaign.html
  n26/core/templates/n26/dashboard.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/templates/n26/gangs.html
  n26/core/views/campaigns.py
  n26/core/views/gangs.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/record-table/10-table.html
  n26/designsystem/templates/designsystem/demos/view-gang-sheet/20-budget-notice.html
  n26/tests/test_campaign_budget_guidance.py
Due: none

fix: run campaign territory recruit boons when granted (#2787)
  n26/core/campaigns.py
  n26/core/operations.py
  n26/core/templates/n26/unassign_asset.html
  n26/library/models/modifier.py
  n26/tests/sandbox/test_campaign_assets.py
Due: none

feat: show campaign territory details and ownership history (#2794)
  n26/core/history.py
  n26/core/render.py
  n26/core/templates/cotton/n26/campaign_assets.html
  n26/core/templates/n26/campaign_asset.html
  n26/core/views/__init__.py
  n26/core/views/campaign_assets.py
  n26/core/views/campaigns.py
  n26/tests/sandbox/test_campaign_assets.py
  n26/tests/test_campaign_asset_detail.py
  n26/urls.py
Due: none

feat: adjust campaign counters by a deliberate amount (#2793)
  n26/core/forms.py
  n26/core/render.py
  n26/core/templates/cotton/n26/counter_controls.html
  n26/core/templates/n26/adjust_counter.html
  n26/core/views/campaigns.py
  n26/core/views/gangs.py
  n26/core/views/owned.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/model-card/95-counter-adjustment.html
  n26/tests/test_campaign_counter_adjustment.py
Due: none

fix: clarify campaign dice choices and align dice icons (#2795)
  n26/core/campaigns.py
  n26/core/forms.py
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/campaign_log.html
  n26/core/templates/n26/campaign_roll.html
  n26/core/templates/n26/record_campaign_roll.html
  n26/designsystem/templates/designsystem/shell/campaign.html
  n26/frontend/islands/campaign-roll-source/CampaignRollSource.test.tsx
  n26/frontend/islands/campaign-roll-source/CampaignRollSource.tsx
Due: none

feat: filter campaign logs by player, gang, date and action type (#2796)
  n26/core/forms.py
  n26/core/history.py
  n26/core/templates/cotton/ui/select/native.html
  n26/core/templates/n26/campaign_log.html
  n26/core/views/campaigns.py
  n26/core/views/history.py
  n26/tests/test_campaign_log_filters.py
Due: none

feat: upload pasted images in campaign summaries (#2797)
  n26/AGENTS.md
  n26/core/forms.py
  n26/core/widgets.py
  n26/tests/test_campaign_summary.py
  n26/uploads.py
Due: check-fmt, markdownlint

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
