Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

fix: rehost_picks.find() refuses a pick made for one model of a gang-carried choice
  n26/core/rehost_picks.py
  n26/tests/sandbox/test_rehost_picks.py
Due: none

fix: rehost_picks.find() names a pick with no chosen_for as its own refusal
  n26/core/rehost_picks.py
  n26/tests/sandbox/test_rehost_picks.py
Due: none

docs: plan n26 Trade Point budgets on a generic Action with computed counters
  .claude/notes/n26-tp-budgets-plan.md
Due: check-fmt, markdownlint

docs: settle the open questions in the n26 TP budgets plan
  .claude/notes/n26-tp-budgets-plan.md
Due: check-fmt, markdownlint

feat: maintenance op n26_rehost_gang_picks moves gang-held slot picks off models onto the gang (#2409)
  n26/core/rehost_picks.py
  n26/core/templates/admin/maintenance/n26/_rehost_detail.html
  n26/maintenance.py
  n26/tests/sandbox/test_rehost_picks.py
Due: none

docs: open the founding action for existing gangs by backfill, not migration
  .claude/notes/n26-tp-budgets-plan.md
Due: check-fmt, markdownlint

fix: a pick narrowing naming several picks reads as any of them
  n26/library/prose.py
  n26/tests/sandbox/test_prose.py
Due: none

docs: add parallel waves and Opus sub-agent delegation to the n26 TP budgets plan
  .claude/notes/n26-tp-budgets-plan.md
Due: check-fmt, markdownlint

fix: a rank or entry a row leaves out reads "except", and the narrowing table carries its own note
  n26/library/prose.py
  n26/tests/sandbox/test_prose.py
Due: none

fix: draw the model card Choose link at the same xs size as Add
  n26/core/templates/cotton/n26/model_card/body.html
  n26/designsystem/tests.py
Due: none

style: the narrowing guards' class, fixture and note say what they check
  n26/library/prose.py
  n26/tests/sandbox/test_prose.py
Due: none

fix: one named rank is one subject, so its verb is singular
  n26/library/prose.py
  n26/tests/sandbox/test_prose.py
Due: none

fix: a Type left out shares one "except" with the ranks left out
  n26/library/prose.py
  n26/tests/sandbox/test_prose.py
Due: none

fix: narrowings on one scope compose, and a condition row's names are prefetched
  n26/library/prose.py
  n26/library/references.py
  n26/tests/sandbox/test_prose.py
Due: none

chore: make .codex bootstrap worktree-safe
  .codex/config.toml
  .codex/hooks.json
  .codex/run.sh
  .codex/setup.sh
  .worktreeinclude
  CLAUDE.md
  docs/useful-scripts.md
  scripts/README.md
  scripts/dev.sh
Due: check-fmt, markdownlint

fix: draw the model card Choose link at the same xs size as Add (#2414)
  n26/core/templates/cotton/n26/model_card/body.html
  n26/designsystem/tests.py
Due: none

fix: a pick left out reads "not holding" as a clause, and ranks of either kind read "or"
  n26/library/prose.py
  n26/tests/sandbox/test_prose.py
Due: none

chore: make .codex bootstrap worktree-safe (#2418)
  .codex/config.toml
  .codex/hooks.json
  .codex/run.sh
  .codex/setup.sh
  .worktreeinclude
  CLAUDE.md
  docs/useful-scripts.md
  scripts/README.md
  scripts/dev.sh
Due: check-fmt, markdownlint

feat: ContributesToCounter raises a counter's reading; add Counter.drawn
  n26/core/card.py
  n26/core/effects.py
  n26/core/render.py
  n26/core/select.py
  n26/core/views/owned.py
  n26/designsystem/sampledata.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/forms.py
  n26/library/migrations/0076_contributes_to_counter_and_counter_drawn.py
  n26/library/models/__init__.py
  n26/library/models/assignable.py
  n26/library/models/modifier.py
  n26/library/prose.py
  n26/library/specs.py
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_counters.py
Due: check-fmt, markdownlint

ci: run pytest-xdist with -n logical so the test job uses all 4 runner vCPUs
  .github/workflows/test.yaml
Due: check-fmt

fix: prose says every model-scope narrowing, and a guard holds it to CONDITIONS (#2416)
  n26/library/prose.py
  n26/library/references.py
  n26/tests/sandbox/test_prose.py
Due: none

fix(hooks): keep comments out of the env-file block; append it once per session
  scripts/activate_venv_hook.sh
Due: none

feat: n26 Action model, with a Found and equip gang action at founding
  n26/core/actions.py
  n26/core/history.py
  n26/core/migrations/0042_a_gang_opens_and_closes_actions.py
  n26/core/models/__init__.py
  n26/core/models/action.py
  n26/core/models/gang.py
  n26/core/models/ledger.py
  n26/core/operations.py
  n26/core/templates/cotton/n26/action_card.html
  n26/core/templates/cotton/n26/view/gang_sheet.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/templates/n26/trade_points.html
  n26/core/test_views_founding_action.py
  n26/core/views/__init__.py
  n26/core/views/gangs.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/action-card/10-with-figures.html
  n26/designsystem/templates/designsystem/demos/action-card/20-no-figures.html
  n26/designsystem/templates/designsystem/demos/action-card/30-not-started.html
  n26/designsystem/templates/designsystem/shell/gang.html
  n26/designsystem/tests.py
  n26/urls.py
Due: none

fix: scope close_action to its own gang and catch a refusal on completing
  n26/core/operations.py
  n26/core/test_views_founding_action.py
  n26/core/views/gangs.py
Due: none

fix: read the XP cell and the minus control off the right half of a counter
  n26/core/render.py
  n26/core/templates/cotton/n26/counter_controls.html
  n26/designsystem/sampledata.py
  n26/designsystem/tests.py
  n26/library/specs.py
  n26/tests/sandbox/test_counters.py
Due: none

feat: the Spyrer glitch and delegation injury tables join the lasting-effect seed (#2417)
  n26/library/recipes.md
  n26/library/standard_content.py
  n26/tests/sandbox/test_lasting_effects.py
Due: check-fmt, markdownlint

docs: the open action is a gang-sheet grid square, and slice 9 grows it
  .claude/notes/n26-tp-budgets-plan.md
Due: check-fmt, markdownlint

feat: ContributesToCounter computed effect raises a counter's reading; add Counter.drawn (#2419)
  n26/core/card.py
  n26/core/effects.py
  n26/core/render.py
  n26/core/select.py
  n26/core/templates/cotton/n26/counter_controls.html
  n26/core/views/owned.py
  n26/designsystem/sampledata.py
  n26/designsystem/tests.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/forms.py
  n26/library/migrations/0076_contributes_to_counter_and_counter_drawn.py
  n26/library/models/__init__.py
  n26/library/models/assignable.py
  n26/library/models/modifier.py
  n26/library/prose.py
  n26/library/specs.py
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_counters.py
Due: check-fmt, markdownlint

feat: give the Champion Archetype slot its own Pickables and picklist
  n26/library/champion_archetypes.py
  n26/library/migrations/0077_champions_pick_their_own_archetype.py
  n26/library/test_champion_archetypes.py
Due: none

ci: run pytest-xdist with -n logical so the test job uses all 4 vCPUs
  .github/workflows/test.yaml
Due: check-fmt

feat: maintenance op n26_repoint_champion_picks moves picks onto their slot's own Pickables
  n26/core/repoint_champion_picks.py
  n26/maintenance.py
  n26/tests/sandbox/test_repoint_champion_picks.py
Due: none

changed_test_paths: count deletions so a removed conftest still runs its tree
  gyrinx/tests/test_changed_test_paths.py
  scripts/changed_test_paths.py
Due: none

core suite review fixes: per-run test-full concurrency group, pipefail, testable changed-paths parsing
  .github/actions/python-env/action.yml
  .github/workflows/test.yaml
  conftest.py
  docs/developing-gyrinx/testing.md
  gyrinx/tests/test_changed_test_paths.py
  n23/core/tests/test_csp.py
  n23/core/tests/test_csp_tinymce.py
  scripts/changed_test_paths.py
Due: check-fmt, markdownlint

feat: n26 Actions square leads the gang sheet grid, ahead of the stash
  n26/core/actions.py
  n26/core/templates/cotton/n26/action_card.html
  n26/core/templates/cotton/n26/action_card/body.html
  n26/core/templates/cotton/n26/action_card/index.html
  n26/core/templates/cotton/n26/actions_square/index.html
  n26/core/templates/cotton/n26/actions_square/menu_post.html
  n26/core/templates/cotton/n26/view/gang_sheet.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/templates/n26/includes/stash_trading_post.html
  n26/core/test_views_founding_action.py
  n26/core/test_views_trade_points.py
  n26/core/views/gangs.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/action-card/10-with-figures.html
  n26/designsystem/templates/designsystem/demos/action-card/30-not-started.html
  n26/designsystem/templates/designsystem/demos/action-card/30-unboxed.html
  n26/designsystem/templates/designsystem/demos/actions-square/10-nothing-open.html
  n26/designsystem/templates/designsystem/demos/actions-square/20-founding-open.html
  n26/designsystem/templates/designsystem/demos/actions-square/30-visit-open.html
  n26/designsystem/templates/designsystem/demos/actions-square/40-both-open.html
  n26/designsystem/templates/designsystem/shell/gang.html
  n26/designsystem/tests.py
Due: none

core suite bounds check tolerates pytest exit 5; changed_test_paths diffs with --no-renames
  .github/workflows/test.yaml
  scripts/changed_test_paths.py
Due: check-fmt

fix: draw a script-free start control in the n26 Actions square
  n26/core/templates/cotton/n26/actions_square/index.html
  n26/core/test_views_founding_action.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/actions-square/30-visit-open.html
Due: none

feat: give the Champion Archetype slot its own Pickables, and a repair that repoints existing picks (#2426)
  n26/core/repoint_champion_picks.py
  n26/library/champion_archetypes.py
  n26/library/migrations/0077_champions_pick_their_own_archetype.py
  n26/library/test_champion_archetypes.py
  n26/maintenance.py
  n26/tests/sandbox/test_repoint_champion_picks.py
Due: none

fix: keep Affiliation in the authoring switcher on its leftover pages
  n26/library/templatetags/authoring_nav.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_empty_affiliations.py
  n26/tests/test_maintenance_console.py
Due: none

test: use the owner fixture in the Affiliation slot-type authoring walkthrough
  n26/tests/sandbox/test_authoring_views.py
Due: none

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
