Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

fix: clear rank targets for untracked XP counters
  n26/core/render.py
  n26/tests/sandbox/test_rank_progression.py
Due: none

fix: simplify fighter action flows and resume existing drafts (#2664)
  n26/core/action_flow.py
  n26/core/action_forms.py
  n26/core/action_records.py
  n26/core/advancements.py
  n26/core/render.py
  n26/core/templates/cotton/n26/assignable_lines.html
  n26/core/templates/cotton/n26/counter_controls.html
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/n26/action_flow.html
  n26/core/templates/n26/equip.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/action_panels.html
  n26/core/templates/n26/includes/assignable_name.html
  n26/core/templates/n26/includes/equip_update.html
  n26/core/templates/n26/includes/model_card_update.html
  n26/core/test_action_checkout.py
  n26/core/test_advancement_runtime.py
  n26/core/test_render.py
  n26/core/test_views_equip.py
  n26/core/views/action_flows.py
  n26/core/views/advancement_flows.py
  n26/core/views/edit.py
  n26/core/views/equip.py
  n26/core/views/gangs.py
  n26/designsystem/sampledata.py
  n26/designsystem/tests.py
  n26/tests/sandbox/test_advancement_action_flows.py
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_collapsed_lines.py
  n26/tests/sandbox/test_counters.py
  n26/tests/sandbox/test_fighter_action_flows.py
  n26/tests/sandbox/test_reset_spyrer_built_ins.py
  n26/tests/sandbox/test_selecting_skills.py
  n26/tests/sandbox/test_slots_and_picks.py
Due: none

fix: charge founding TP only on fighter Trading Post purchases
  n26/core/activities.py
  n26/core/browse.py
  n26/core/founding.py
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/n26/includes/founding_budget.html
  n26/core/test_views_founding_activity.py
  n26/core/test_views_founding_budget.py
  n26/core/views/equip.py
  n26/flags.py
  n26/tests/sandbox/test_founding_budget.py
Due: none

docs: describe the founding TP query guard without history
  n26/core/views/equip.py
Due: none

fix: clarify the founding TP model card tooltip
  n26/core/templates/cotton/n26/model_card/index.html
  n26/tests/sandbox/test_founding_budget.py
Due: none

feat: show fighter rank titles and advancement history (#2665)
  n26/core/advancements.py
  n26/core/augmentations.py
  n26/core/crews.py
  n26/core/progression.py
  n26/core/render.py
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/model_card_update.html
  n26/core/templates/n26/includes/progression_history.html
  n26/core/templates/n26/includes/progression_status.html
  n26/core/test_action_augmentations.py
  n26/core/test_advancement_runtime.py
  n26/core/test_progression.py
  n26/core/test_views_edit.py
  n26/core/test_views_print.py
  n26/core/views/assignment_sets.py
  n26/core/views/edit.py
  n26/core/views/printing.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/migrations/0117_rank_titles.py
  n26/library/models/actions.py
  n26/library/specs.py
  n26/library/standard_content.py
  n26/library/test_actions.py
  n26/library/test_fighter_action_content.py
  n26/library/views.py
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_crews.py
  n26/tests/sandbox/test_rank_progression.py
  n26/tests/test_views_assignment_sets.py
Due: check-fmt, markdownlint

fix: let scripts/screenshot.py reverse n26: URL names
  .agents/skills/dev-server/SKILL.md
  .agents/skills/pr-screenshots/SKILL.md
  gyrinx/tests/test_screenshot_script.py
  scripts/README.md
  scripts/screenshot.py
Due: check-fmt, markdownlint

fix: charge founding TP only on fighter Trading Post purchases (#2666)
  n26/core/activities.py
  n26/core/browse.py
  n26/core/founding.py
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/n26/includes/founding_budget.html
  n26/core/test_views_founding_activity.py
  n26/core/test_views_founding_budget.py
  n26/core/views/equip.py
  n26/flags.py
  n26/tests/sandbox/test_founding_budget.py
Due: none

feat: add a Manage credits page to n26 gangs for adding and removing credits
  n26/core/AGENTS.md
  n26/core/forms.py
  n26/core/history.py
  n26/core/migrations/0075_credits_adjusted_kind.py
  n26/core/models/ledger.py
  n26/core/operations.py
  n26/core/render.py
  n26/core/templates/cotton/n26/campaign_gangs.html
  n26/core/templates/cotton/n26/gang_figures/index.html
  n26/core/templates/cotton/n26/gang_figures/wealth.html
  n26/core/templates/cotton/n26/view/gang_sheet.html
  n26/core/templates/cotton/n26/wealth/index.html
  n26/core/templates/n26/equip.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/fighter_options.html
  n26/core/templates/n26/gang_credits.html
  n26/core/templates/n26/gang_equip.html
  n26/core/templates/n26/gang_lore.html
  n26/core/templates/n26/gang_notes.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/templates/n26/hire_fighter.html
  n26/core/templates/n26/includes/equip_update.html
  n26/core/views/__init__.py
  n26/core/views/campaigns.py
  n26/core/views/credits.py
  n26/core/views/edit.py
  n26/core/views/equip.py
  n26/core/views/gangs.py
  n26/core/views/hire.py
  n26/core/views/options.py
  n26/core/views/permissions.py
  n26/tests/test_views_campaigns.py
  n26/tests/test_views_credits.py
  n26/urls.py
Due: check-fmt, markdownlint

feat: move Manage credits into the stash header and rename the history Money filter to Credits
  n26/core/history.py
  n26/core/templates/cotton/n26/stash/index.html
  n26/core/templates/cotton/n26/view/gang_sheet.html
  n26/core/templates/n26/gang_credits.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/test_action_history.py
  n26/core/views/credits.py
  n26/core/views/history.py
  n26/tests/sandbox/test_cloning.py
  n26/tests/sandbox/test_gang_history.py
  n26/tests/sandbox/test_ransom.py
  n26/tests/test_views_credits.py
Due: none

fix: draw Manage credits as a text link in the n26 stash header
  n26/core/templates/cotton/n26/stash/index.html
  n26/core/templates/n26/gang_sheet.html
Due: none

fix: wrap the n26 stash header as whole rows on narrow cards
  n26/core/templates/cotton/n26/stash/index.html
Due: none

fix: harden the n26 Manage credits form and test its edges
  n26/core/forms.py
  n26/core/reconcile.py
  n26/core/test_views_overspend.py
  n26/core/views/credits.py
  n26/tests/test_views_credits.py
Due: none

fix: recheck Manage credits permission under the n26 gang lock
  n26/core/views/credits.py
  n26/tests/test_views_credits.py
Due: none

test: match the founding Trade Points tooltip in the model-card gallery test
  n26/designsystem/tests.py
Due: none

test: match the founding Trade Points tooltip in the model-card gallery test (#2678)
  n26/designsystem/tests.py
Due: none

fix: draw only palette colours in the n26 action mark, and label it
  n26/core/action_flow.py
  n26/core/colours.py
  n26/core/templates/n26/includes/action_panels.html
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/model-card/65-actions-waiting.html
  n26/designsystem/templates/designsystem/demos/view-model-edit/10-edit.html
  n26/designsystem/views.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

feat: add a compact c-ui.button and pack the model card header controls
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/cotton/ui/button.html
  n26/core/templates/n26/gang_sheet.html
  n26/designsystem/templates/designsystem/demos/button/25-compact.html
  n26/designsystem/templates/designsystem/demos/model-card/15-header.html
  n26/designsystem/templates/designsystem/demos/model-card/65-actions-waiting.html
Due: none

fix: keep #n26-action-panels clear of the fixed bar when Edit scrolls to it
  n26/designsystem/assets/app.css
Due: none

fix: mark waiting actions on the n26 model card with one icon
  n26/core/action_flow.py
  n26/core/render.py
  n26/core/static/n26/action-scroll.js
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/action_panels.html
  n26/core/views/edit.py
  n26/core/views/gangs.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: check-fmt

feat: draw the n26 Actions square founding start as help text and a short button
  n26/core/templates/cotton/n26/activities_square/index.html
  n26/core/test_views_founding_activity.py
  n26/designsystem/templates/designsystem/demos/founding-mark/30-in-place.html
  n26/designsystem/tests.py
Due: none

feat: keep n26 action flow steps fixed, mark skipped ones, and stack long flows
  n26/core/flow.py
  n26/core/templates/cotton/n26/flow_progress.html
  n26/core/test_flow_steps.py
  n26/core/views/action_flows.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/flow-progress/30-skipped.html
Due: none

fix: mark waiting actions on the n26 model card with one icon (#2669)
  n26/core/action_flow.py
  n26/core/colours.py
  n26/core/render.py
  n26/core/static/n26/action-scroll.js
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/cotton/ui/button.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/templates/n26/includes/action_panels.html
  n26/core/views/edit.py
  n26/core/views/gangs.py
  n26/designsystem/assets/app.css
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/button/25-compact.html
  n26/designsystem/templates/designsystem/demos/model-card/15-header.html
  n26/designsystem/templates/designsystem/demos/model-card/65-actions-waiting.html
  n26/designsystem/templates/designsystem/demos/view-model-edit/10-edit.html
  n26/designsystem/views.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: check-fmt

fix: refuse gang colours outside the palette in css_color and gang forms
  n26/core/forms.py
  n26/core/templatetags/theme.py
  n26/core/test_colours.py
  n26/core/test_views_edit_gang.py
  n26/core/test_views_gangs.py
Due: none

test: cover CreateGangForm refusing a colour outside the palette
  n26/core/test_views_create_gang.py
  n26/tests/test_platform_integration.py
Due: none

test: cover the Waiting mark on the n26 Edit action panels
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

fix: accept only 3, 4, 6 or 8 digit hex colours in css_color
  n26/core/templatetags/theme.py
  n26/core/test_colours.py
Due: none

fix: keep skipped flow steps at full muted contrast
  n26/core/templates/cotton/n26/flow_progress.html
  n26/designsystem/templates/designsystem/demos/flow-progress/30-skipped.html
Due: none

feat: draw the n26 Actions square founding start as help text and a short button (#2679)
  n26/core/templates/cotton/n26/activities_square/index.html
  n26/core/test_views_founding_activity.py
  n26/designsystem/templates/designsystem/demos/founding-mark/30-in-place.html
  n26/designsystem/tests.py
Due: none

feat: rename the n26 founding action to Spend built-in TP and stop opening it on new gangs
  n26/core/activities.py
  n26/core/founding.py
  n26/core/migrations/0076_founding_activity_label_spend_built_in_tp.py
  n26/core/models/activity.py
  n26/core/operations.py
  n26/core/templates/admin/maintenance/n26/_open_founding_actions_detail.html
  n26/core/templates/admin/maintenance/n26/open_founding_actions.html
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/n26/includes/founding_budget.html
  n26/core/templates/n26/includes/not_tracking_tp.html
  n26/core/templates/n26/includes/stash_trading_post.html
  n26/core/test_views_founding_activity.py
  n26/core/test_views_founding_budget.py
  n26/core/test_views_trade_points.py
  n26/core/views/gangs.py
  n26/designsystem/templates/designsystem/demos/activity-card/20-no-figures.html
  n26/designsystem/templates/designsystem/demos/founding-mark/30-in-place.html
  n26/designsystem/templates/designsystem/demos/model-card/60-founding-budget.html
  n26/designsystem/templates/designsystem/demos/stash/40-visit-blocked.html
  n26/designsystem/tests.py
  n26/maintenance.py
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_cloning.py
  n26/tests/sandbox/test_founding_activity_backfill.py
  n26/tests/sandbox/test_founding_budget.py
  n26/tests/sandbox/test_model_status.py
  n26/tests/sandbox/test_trade_points.py
  n26/tests/test_maintenance_console.py
  n26/tests/test_views_post_battle.py
Due: none

fix: refuse gang colours outside the palette in css_color and gang forms (#2677)
  n26/core/forms.py
  n26/core/templatetags/theme.py
  n26/core/test_colours.py
  n26/core/test_views_create_gang.py
  n26/core/test_views_edit_gang.py
  n26/core/test_views_gangs.py
  n26/tests/sandbox/test_fighter_action_flows.py
  n26/tests/test_platform_integration.py
Due: none

feat: keep n26 action flow steps fixed, mark skipped ones, and stack long flows (#2681)
  n26/core/flow.py
  n26/core/templates/cotton/n26/flow_progress.html
  n26/core/test_flow_steps.py
  n26/core/views/action_flows.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/flow-progress/30-skipped.html
Due: none

feat: rename the n26 founding action to Spend built-in TP and stop opening it on new gangs (#2680)
  n26/core/activities.py
  n26/core/founding.py
  n26/core/migrations/0076_founding_activity_label_spend_built_in_tp.py
  n26/core/models/activity.py
  n26/core/operations.py
  n26/core/templates/admin/maintenance/n26/_open_founding_actions_detail.html
  n26/core/templates/admin/maintenance/n26/open_founding_actions.html
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/n26/includes/founding_budget.html
  n26/core/templates/n26/includes/not_tracking_tp.html
  n26/core/templates/n26/includes/stash_trading_post.html
  n26/core/test_views_founding_activity.py
  n26/core/test_views_founding_budget.py
  n26/core/test_views_trade_points.py
  n26/core/views/gangs.py
  n26/designsystem/templates/designsystem/demos/activity-card/20-no-figures.html
  n26/designsystem/templates/designsystem/demos/founding-mark/30-in-place.html
  n26/designsystem/templates/designsystem/demos/model-card/60-founding-budget.html
  n26/designsystem/templates/designsystem/demos/stash/40-visit-blocked.html
  n26/designsystem/tests.py
  n26/maintenance.py
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_cloning.py
  n26/tests/sandbox/test_founding_activity_backfill.py
  n26/tests/sandbox/test_founding_budget.py
  n26/tests/sandbox/test_model_status.py
  n26/tests/sandbox/test_trade_points.py
  n26/tests/test_maintenance_console.py
  n26/tests/test_views_post_battle.py
Due: none

feat: show tagged changelog entries on the shared changelog page (#2657)
  gyrinx/urls.py
  n26/core/changelog_urls.py
  n26/core/templates/cotton/n26/changelog/entry.html
  n26/core/templates/n26/_changelog_filters.html
  n26/core/templates/n26/_changelog_tags.html
  n26/core/templates/n26/changelog.html
  n26/core/templates/n26/changelog_entry.html
  n26/core/templates/n26/dashboard.html
  n26/core/views/__init__.py
  n26/core/views/changelog.py
  n26/core/views/gangs.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/changelog/40-tags.html
  n26/tests/test_platform_integration.py
  n26/urls.py
Due: none

feat: move n26 filter-select authoring pickers to React
  n26/core/templates/cotton/n26/filter_select.html
  n26/core/templatetags/filter_select.py
  n26/core/test_filter_select.py
  n26/designsystem/catalog.py
  n26/designsystem/tests.py
  n26/frontend/islands/filter-select/FilterSelect.test.tsx
  n26/frontend/islands/filter-select/FilterSelect.tsx
  n26/frontend/islands/filter-select/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/frontend/ui/index.tsx
  n26/tests/sandbox/test_authoring_views.py
Due: check-fmt

fix: let fetch-pr-comments.sh report Copilot lite reviews in progress
  .agents/skills/pr-comments/SKILL.md
  .agents/skills/pr-comments/scripts/annotate_reviews_in_progress.py
  .agents/skills/pr-comments/scripts/fetch-pr-comments.sh
  gyrinx/tests/test_pr_comments_reviews_in_progress.py
Due: check-fmt, markdownlint

fix: flag truncated reviewsInProgress and ignore fulfilled team requests
  .agents/skills/pr-comments/SKILL.md
  .agents/skills/pr-comments/scripts/annotate_reviews_in_progress.py
  .agents/skills/pr-comments/scripts/fetch-pr-comments.sh
  gyrinx/tests/test_pr_comments_reviews_in_progress.py
Due: check-fmt, markdownlint

fix: keep form and aria attributes on the n26 filter-select island
  n26/core/templates/cotton/n26/filter_select.html
  n26/core/templatetags/filter_select.py
  n26/core/test_filter_select.py
  n26/frontend/islands/filter-select/FilterSelect.test.tsx
  n26/frontend/islands/filter-select/FilterSelect.tsx
Due: none

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
