Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

docs: add fighter action gallery and guide
  n26/design/fighter-actions.md
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/view-model-edit/10-edit.html
  n26/designsystem/tests.py
Due: check-fmt, markdownlint

docs: preserve fighter action exploration
  design/exploration/README.md
  design/exploration/fighter-actions/README.md
  design/exploration/fighter-actions/action-allowance-flow.mmd
  design/exploration/fighter-actions/action-allowance-flow.svg
  design/exploration/fighter-actions/action-data-model.html
  design/exploration/fighter-actions/action-data-model.md
  design/exploration/fighter-actions/action-data-model.yaml
  design/exploration/fighter-actions/action-payment-flow.mmd
  design/exploration/fighter-actions/action-payment-flow.svg
  design/exploration/fighter-actions/action-relationships.mmd
  design/exploration/fighter-actions/action-relationships.svg
  design/exploration/fighter-actions/build_data_model.rb
  design/exploration/fighter-actions/build_diagrams.py
  design/exploration/fighter-actions/data-model.template.html
  design/exploration/fighter-actions/index.html
Due: check-fmt, markdownlint

feat: add fighter action flow pages
  n26/core/action_flow.py
  n26/core/action_forms.py
  n26/core/templates/cotton/n26/view/model_edit.html
  n26/core/templates/n26/action_flow.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/action_panels.html
  n26/core/templates/n26/includes/action_skills.html
  n26/core/test_views_edit.py
  n26/core/views/__init__.py
  n26/core/views/action_flows.py
  n26/core/views/advancement_flows.py
  n26/core/views/edit.py
  n26/tests/sandbox/test_fighter_action_flows.py
  n26/urls.py
Due: none

fix: explain unavailable action choices and form errors
  n26/core/templates/n26/action_flow.html
  n26/core/views/action_flows.py
  n26/core/views/advancement_flows.py
  n26/tests/sandbox/test_advancement_action_flows.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

test: cover advancement action flows
  n26/tests/sandbox/test_advancement_action_flows.py
Due: none

fix: keep fighter action forms clear and resumable
  n26/core/action_forms.py
  n26/core/templates/n26/action_flow.html
  n26/core/templates/n26/includes/action_panels.html
  n26/core/templates/n26/includes/action_skills.html
  n26/core/templates/n26/includes/model_card_update.html
  n26/core/views/action_flows.py
  n26/core/views/advancement_flows.py
  n26/core/views/edit.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

fix: reject unchanged prototype purchases
  design/exploration/fighter-actions/index.html
Due: none

docs: explain fighter action build and activation
  .pre-commit-config.yaml
  design/exploration/fighter-actions/BUILD.md
  n26/design/fighter-actions.md
  pyproject.toml
Due: check-fmt, markdownlint

docs: link the fighter action build stack
  design/exploration/fighter-actions/BUILD.md
  n26/design/fighter-actions.md
Due: check-fmt, markdownlint

fix: refuse turning off can_go_negative from CampaignResourceType.clean
  n23/core/forms/campaign.py
  n23/core/models/campaign.py
  n23/core/tests/test_campaign_resources.py
Due: none

fix: omit can_go_negative from Reputation in CampaignResourceTypeAdmin
  n23/core/admin/campaign.py
  n23/core/forms/campaign.py
  n23/core/migrations/0216_campaign_resource_can_go_negative.py
  n23/core/models/campaign.py
  n23/core/tests/test_campaign_resources.py
Due: none

chore: lower include-form_field baseline after resource type form conversion
  scripts/raw_markup_baseline.json
Due: check-fmt

fix: count live negatives on CampaignListResource's campaign
  n23/core/models/campaign.py
  n23/core/tests/test_campaign_resources.py
Due: none

fix: bind pause locks to physical connections
  .claude/notes/n26-write-pause-inventory.md
  gyrinx/site/tests/test_write_pause.py
  gyrinx/site/write_pause.py
Due: check-fmt, markdownlint

test: verify upload deletion after commit and pause query capture
  n26/tests/sandbox/test_ingest_page.py
  n26/tests/test_badges.py
Due: none

fix: read current counter values under the gang lock
  n26/core/operations.py
  n26/core/test_action_records.py
Due: none

fix: reconcile legacy counter repairs
  n26/core/campaign_packs.py
  n26/core/duplicate_grants.py
  n26/core/history.py
  n26/tests/sandbox/test_duplicate_grants.py
Due: none

Add fighter action records and counter history
  n26/core/migrations/0069_fighter_action_records_and_counter_events.py
  n26/core/models/__init__.py
  n26/core/models/action_record.py
  n26/core/models/ledger.py
  n26/core/operations.py
  n26/core/reconcile.py
  n26/core/test_action_records.py
Due: none

fix: flush counter checkpoint constraints
  .claude/notes/counter-migration-volume-evidence.md
  .claude/notes/counter-migration-volume-evidence.py
  n26/core/migrations/0069_fighter_action_records_and_counter_events.py
Due: check-fmt, markdownlint

fix: reject missing rank allowance thresholds
  n26/core/migrations/0071_alter_ledgerevent_options_and_more.py
  n26/core/models/action_record.py
  n26/core/test_action_records.py
Due: none

test: strengthen counter migration rehearsal
  .claude/notes/counter-migration-volume-evidence.md
  .claude/notes/counter-migration-volume-evidence.py
Due: check-fmt, markdownlint

fix: preserve counter history during repair and rollback
  n26/core/duplicate_grants.py
  n26/core/migrations/0069_fighter_action_records_and_counter_events.py
  n26/tests/sandbox/test_duplicate_grants.py
Due: none

fix: verify counter openings and reconciliation drift
  n26/core/reconcile.py
  n26/core/test_action_records.py
Due: none

fix: constrain fighter action history records
  n26/core/migrations/0071_alter_ledgerevent_options_and_more.py
  n26/core/models/action_record.py
  n26/core/models/ledger.py
  n26/core/test_action_records.py
Due: none

fix: keep counter history complete and player logs clear
  .claude/notes/counter-migration-volume-evidence.md
  .claude/notes/counter-migration-volume-evidence.py
  n26/core/duplicate_grants.py
  n26/core/history.py
  n26/core/migrations/0069_fighter_action_records_and_counter_events.py
  n26/core/reconcile.py
  n26/core/test_action_records.py
  n26/tests/sandbox/test_duplicate_grants.py
  n26/tests/sandbox/test_gang_history.py
Due: check-fmt, markdownlint

test: verify all counters across migration reversal
  .claude/notes/counter-migration-volume-evidence.md
  .claude/notes/counter-migration-volume-evidence.py
Due: check-fmt, markdownlint

fix: allow fighter action records to cascade
  n26/core/migrations/0070_alter_actionrecord_allowance.py
  n26/core/models/action_record.py
  n26/core/test_action_records.py
Due: none

docs: distinguish retained counter rehearsal measurements
  .claude/notes/counter-migration-volume-evidence.md
Due: check-fmt, markdownlint

feat: defer counter history until explicit activation
  n26/core/counter_tracking.py
  n26/core/migrations/0069_fighter_action_records_and_counter_events.py
  n26/core/migrations/0072_counter_tracking_activation.py
  n26/core/models/__init__.py
  n26/core/models/counter_tracking.py
  n26/core/operations.py
  n26/core/reconcile.py
  n26/core/test_action_records.py
  n26/tests/fixtures.py
  n26/tests/sandbox/test_counter_tracking.py
  n26/tests/sandbox/test_duplicate_grants.py
Due: none

docs: mark counter migration evidence historical
  .claude/notes/counter-migration-volume-evidence.md
Due: check-fmt, markdownlint

fix: tighten structured counter audit invariants
  n26/core/migrations/0073_require_structured_counter_baselines.py
  n26/core/models/ledger.py
  n26/core/reconcile.py
  n26/core/test_action_records.py
Due: none

test: rehearse dormant counter activation and recovery
  .claude/notes/counter-activation-volume-evidence.md
  .claude/notes/counter-activation-volume-evidence.py
Due: check-fmt, markdownlint

fix: recover stalled counter activation
  n26/core/templates/admin/maintenance/n26/counter_history.html
  n26/maintenance.py
  n26/tests/test_counter_activation.py
Due: none

feat: activate counter history through recorded maintenance
  n26/core/counter_activation.py
  n26/core/templates/admin/maintenance/n26/counter_history.html
  n26/maintenance.py
  n26/test_write_pause.py
  n26/tests/test_counter_activation.py
  n26/write_pause.py
Due: none

docs: clarify counter activation rehearsal commit
  .claude/notes/counter-activation-volume-evidence.md
Due: check-fmt, markdownlint

docs: record counter audit on populated rehearsal data
  .claude/notes/counter-activation-volume-evidence.md
Due: check-fmt, markdownlint

Summarize fighter action results
  n26/core/action_records.py
  n26/core/migrations/0071_fighter_action_correction_events.py
  n26/core/models/ledger.py
  n26/core/test_action_checkout.py
Due: none

Add transactional fighter action checkout
  n26/core/action_payments.py
  n26/core/action_records.py
  n26/core/migrations/0070_fighter_action_checkout_events.py
  n26/core/models/ledger.py
  n26/core/operations.py
  n26/core/test_action_checkout.py
  n26/core/test_action_payments.py
Due: none

Add reviewed action corrections
  n26/core/action_records.py
  n26/core/operations.py
Due: none
