Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

fix: refound refuses before it writes anything, in memory too
  n26/core/operations.py
  n26/tests/sandbox/test_nameless_gang_type.py
Due: none

test: pin the rating a repoint may move to none at all
  n26/library/nameless_gang_type.py
  n26/tests/sandbox/test_nameless_gang_type.py
Due: none

feat: a gang played on the nameless gang type is repointed, not refused (#2264)
  n26/core/operations.py
  n26/core/templates/admin/maintenance/n26/_delete_detail.html
  n26/library/nameless_gang_type.py
  n26/maintenance.py
  n26/tests/sandbox/test_nameless_gang_type.py
  n26/tests/test_maintenance_console.py
Due: none

fix: a superuser may remove player data through the admin (#2259)
  .claude/notes/conversion-cleanup-order.md
  n26/core/admin.py
  n26/core/test_admin.py
Due: check-fmt, markdownlint

feat: anyone who can read an n26 gang sheet can print it
  n26/CLAUDE.md
  n26/core/templates/n26/gang_sheet.html
  n26/core/templates/n26/print_setup.html
  n26/core/test_views_print.py
  n26/core/views/printing.py
  n26/tests/sandbox/test_sharing_a_gang.py
Due: check-fmt, markdownlint

chore: the authoring menu stops offering the kinds slots replaced
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
Due: none

fix: a question keeps one answer, however fast the second arrives
  n26/core/views/choose.py
  n26/tests/sandbox/test_outcast_affiliation_flow.py
Due: none

fix: settle a question from the card, with the gang held for the act
  n26/core/operations.py
  n26/core/views/choose.py
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_outcast_affiliation_flow.py
Due: none

test: drop a duplicate, and check the numbers after the race
  n26/core/operations.py
  n26/tests/sandbox/test_outcast_affiliation_flow.py
Due: none

fix: read ids the same way wherever a print is asked for
  docker/entrypoint.sh
  n26/core/templates/n26/gang_sheet.html
  n26/core/templates/n26/print_setup.html
  n26/core/test_views_print.py
  n26/core/views/gangs.py
  n26/core/views/permissions.py
  n26/core/views/printing.py
  n26/tests/sandbox/test_sharing_a_gang.py
Due: none

fix: a question keeps one answer, however fast the second arrives (#2260)
  n26/core/operations.py
  n26/core/views/choose.py
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_outcast_affiliation_flow.py
Due: none

feat: n26 reaches the dice roller
  n26/CLAUDE.md
  n26/core/icons.py
  n26/core/templates/cotton/n26/site/nav/index.html
  n26/core/templates/n26/layouts/base.html
Due: check-fmt, markdownlint

feat: n26 reaches the dice roller (#2267)
  n26/CLAUDE.md
  n26/core/icons.py
  n26/core/templates/cotton/n26/site/nav/index.html
  n26/core/templates/n26/layouts/base.html
Due: check-fmt, markdownlint

chore: the authoring menu stops offering the kinds slots replaced (#2265)
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
Due: none

chore: a cloud agent mints its own short-lived credential instead of holding a key
  scripts/cursor/mint-gcp-token.sh
Due: none

fix: the credential config is written where nothing else can redirect it
  .cursor/start.sh
Due: none

chore: the cloud agent environment can reach the production database read-only
  .cursor/install.sh
  .cursor/start.sh
Due: none

fix: the credential path stops depending on which user the agent runs as
  .cursor/start.sh
Due: none

fix: the token helper keeps its contract when anything goes wrong
  .cursor/install.sh
  .cursor/start.sh
  scripts/cursor/mint-gcp-token.sh
Due: none

feat: models and gangs hold notes, lore and a picture
  n26/core/capture.py
  n26/core/migrations/0018_the_owner_writes_notes_lore_and_shows_a_picture.py
  n26/core/models/gang.py
  n26/core/models/miniature.py
  n26/core/render.py
  n26/core/render_text.py
  n26/tests/sandbox/test_outcast_affiliation_shape.py
  n26/tests/sandbox/test_outcast_archetype_shape.py
Due: none

fix: optional production access can no longer cost the environment its database
  .cursor/install.sh
  .cursor/start.sh
  scripts/cursor/mint-gcp-token.sh
Due: none

fix: what is on disk reflects the credential variable on every path, not two
  .cursor/install.sh
  .cursor/start.sh
  scripts/cursor/mint-gcp-token.sh
Due: none

chore: a cloud agent reaches the production database read-only, without holding a key (#2266)
  .cursor/install.sh
  .cursor/start.sh
  scripts/cursor/mint-gcp-token.sh
Due: none

feat: the model card grows a segmented tab strip — Card, Lore, Notes
  n26/core/icons.py
  n26/core/templates/cotton/n26/model_card/body.html
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/cotton/n26/model_card/prose.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/templates/n26/layouts/base.html
  n26/core/test_card_rows.py
  n26/designsystem/assets/app.css
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/model-card/30-written.html
  n26/designsystem/templates/designsystem/demos/model-card/40-empty-written.html
  n26/designsystem/views.py
Due: none

chore: comment pass over the tab-strip work
  n26/core/templates/cotton/n26/model_card/index.html
  n26/designsystem/templates/designsystem/demos/model-card/30-written.html
Due: none

feat: the owner writes lore and pictures onto models and gangs
  n26/core/forms.py
  n26/core/history.py
  n26/core/migrations/0019_the_journal_learns_lore_and_picture_verbs.py
  n26/core/models/ledger.py
  n26/core/operations.py
  n26/core/templates/cotton/n26/view/model_edit.html
  n26/core/templates/n26/edit_gang.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/test_views_edit.py
  n26/core/test_views_edit_gang.py
  n26/core/views/edit.py
  n26/core/views/gangs.py
Due: none

feat: choosing the crop when a picture is uploaded
  n26/core/forms.py
  n26/core/images.py
  n26/core/static/n26/imagecrop.js
  n26/core/templates/n26/edit_gang.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/test_images.py
  n26/designsystem/assets/app.css
Due: check-fmt

chore: comment pass over the writing and crop work
  n26/core/views/edit.py
Due: none

feat: notes go on paper, and a model's picture prints with its card
  n26/core/migrations/0020_a_print_says_whether_notes_go_on_paper.py
  n26/core/models/print_config.py
  n26/core/templates/n26/print_gang.html
  n26/core/templates/n26/print_setup.html
  n26/core/test_views_print.py
  n26/core/views/printing.py
  n26/designsystem/assets/print.css
Due: none

feat: the lore page — the gang's story, then every model's
  n26/core/templates/n26/gang_lore.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/test_views_gang_lore.py
  n26/core/views/__init__.py
  n26/core/views/gangs.py
  n26/urls.py
Due: none

fix: review round one — history words, exact ratio, guarded acts
  n26/core/history.py
  n26/core/images.py
  n26/core/static/n26/imagecrop.js
  n26/core/templates/cotton/n26/model_card/prose.html
  n26/core/templates/n26/edit_gang.html
  n26/core/test_views_edit_gang.py
  n26/core/views/edit.py
Due: check-fmt

fix: a refused picture no longer costs the notes typed beside it
  n26/core/static/n26/imagecrop.js
  n26/core/test_views_edit.py
  n26/core/views/edit.py
Due: check-fmt

fix: the notes form names its act, and the view requires it
  n26/core/test_journal.py
  n26/core/test_views_edit.py
  n26/core/views/edit.py
Due: none

fix: review round two — broken files refused, honest flashes, public ways in
  n26/core/images.py
  n26/core/templates/cotton/ui/tabs/tab.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/test_images.py
  n26/core/test_views_edit_gang.py
  n26/core/test_views_gang_lore.py
  n26/core/views/edit.py
  n26/core/views/gangs.py
  n26/designsystem/sampledata.py
Due: none

fix: a tab's name is escaped into the strip's script literals
  n26/core/templates/cotton/ui/tabs/tab.html
Due: none

style: the tab strip becomes a full-width band
  n26/core/templates/cotton/n26/model_card/index.html
  n26/designsystem/assets/app.css
Due: none

feat: the crop is chosen in a dialog, and the picture gets its own box
  n26/core/forms.py
  n26/core/static/n26/imagecrop.js
  n26/core/templates/cotton/n26/picture_input.html
  n26/core/templates/cotton/n26/view/model_edit.html
  n26/core/templates/n26/edit_gang.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/test_views_edit.py
  n26/core/views/edit.py
  n26/designsystem/assets/app.css
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/picture-input/10-basic.html
Due: check-fmt

feat: the crop is a rectangle dragged over the picture
  n26/core/static/n26/imagecrop.js
  n26/core/templates/cotton/n26/picture_input.html
  n26/core/templates/n26/edit_gang.html
  n26/core/templates/n26/fighter_edit.html
  n26/designsystem/assets/app.css
  n26/designsystem/catalog.py
  n26/designsystem/static/designsystem/vendor/cropper.min.css
  n26/designsystem/static/designsystem/vendor/cropper.min.js
  n26/designsystem/templates/designsystem/demos/picture-input/10-basic.html
Due: check-fmt

fix: the settings Google's libraries read reach the shell that uses them
  .cursor/install.sh
Due: none

feat: using the crop saves the picture
  n26/core/static/n26/imagecrop.js
  n26/core/templates/cotton/n26/picture_input.html
  n26/core/templates/n26/fighter_edit.html
Due: check-fmt

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
