Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

docs: link final fighter action layers
  design/exploration/fighter-actions/BUILD.md
Due: check-fmt, markdownlint

fix: close fighter action flow edge cases
  n26/core/action_initialisation.py
  n26/core/test_action_initialisation.py
  n26/core/views/action_flows.py
  n26/tests/sandbox/test_advancement_action_flows.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

fix: clean up fighter action prototype script
  design/exploration/fighter-actions/index.html
Due: none

fix: show stale fighter action refusals
  n26/core/views/action_flows.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

test: keep action initialisation core suite focused
  n26/core/test_action_initialisation.py
Due: none

fix: unify post-battle with existing gang Actions steps
  n26/core/activities.py
  n26/core/templates/cotton/n26/activities_square/index.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/views/gangs.py
  n26/core/views/permissions.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/activities-square/60-post-battle.html
  n26/designsystem/templates/designsystem/demos/activities-square/70-post-battle-only.html
  n26/designsystem/templates/designsystem/demos/activities-square/80-post-battle-no-history.html
  n26/designsystem/tests.py
  n26/flags.py
  n26/tests/test_views_post_battle.py
Due: none

fix: match the Canvas viewer runtime to the public SDK
  tools/canvas-viewer/index.html
  tools/canvas-viewer/src/canvas-directory.test.ts
  tools/canvas-viewer/src/canvas-directory.ts
  tools/canvas-viewer/src/canvas-runtime.test.tsx
  tools/canvas-viewer/src/canvas-runtime.tsx
  tools/canvas-viewer/src/styles.css
  tools/canvas-viewer/src/viewer.tsx
Due: none

fix: bound fighter action retries and history
  n26/core/action_flow.py
  n26/core/test_action_initialisation.py
  n26/maintenance.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

fix: format fighter action credit prices
  n26/core/action_flow.py
  n26/core/templates/n26/action_flow.html
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

fix: preserve Canvas chart values and switch labels
  tools/canvas-viewer/src/canvas-runtime.test.tsx
  tools/canvas-viewer/src/canvas-runtime.tsx
Due: none

fix: keep Canvas viewer setup and component markup valid
  scripts/canvas-viewer.sh
  tools/canvas-viewer/src/canvas-runtime.test.tsx
  tools/canvas-viewer/src/canvas-runtime.tsx
  tools/canvas-viewer/src/styles.css
Due: none

test: account for bounded action history queries
  n26/core/test_views_edit.py
Due: none

feat: migrate the N26 modifier list to React
  docs/developing-gyrinx/react.md
  n26/frontend/islands/modifier-list/ModifierList.test.tsx
  n26/frontend/islands/modifier-list/ModifierList.tsx
  n26/frontend/islands/modifier-list/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/frontend/tooling/export_cotton_recipes.py
  n26/frontend/ui/FilterMenu.test.tsx
  n26/frontend/ui/FilterMenu.tsx
  n26/frontend/ui/index.tsx
  n26/library/templates/authoring/modifiers.html
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
Due: check-fmt, markdownlint

fix: normalize Canvas viewer paths and icon labels
  tools/canvas-viewer/src/canvas-directory.test.ts
  tools/canvas-viewer/src/canvas-directory.ts
  tools/canvas-viewer/src/canvas-runtime.test.tsx
  tools/canvas-viewer/src/canvas-runtime.tsx
Due: none

fix: expose Canvas disclosure state to assistive tech
  tools/canvas-viewer/src/canvas-runtime.test.tsx
  tools/canvas-viewer/src/canvas-runtime.tsx
Due: none

fix: harden React filter menu placement
  docs/developing-gyrinx/react.md
  n26/frontend/ui/FilterMenu.test.tsx
  n26/frontend/ui/FilterMenu.tsx
Due: check-fmt, markdownlint

feat: add a local Canvas viewer for CLI sessions (#2628)
  .agents/skills/canvas-viewer/SKILL.md
  CLAUDE.md
  scripts/canvas-viewer.sh
  tools/canvas-viewer/.gitignore
  tools/canvas-viewer/index.html
  tools/canvas-viewer/package-lock.json
  tools/canvas-viewer/package.json
  tools/canvas-viewer/src/canvas-directory.test.ts
  tools/canvas-viewer/src/canvas-directory.ts
  tools/canvas-viewer/src/canvas-runtime.test.tsx
  tools/canvas-viewer/src/canvas-runtime.tsx
  tools/canvas-viewer/src/main.tsx
  tools/canvas-viewer/src/styles.css
  tools/canvas-viewer/src/viewer.tsx
  tools/canvas-viewer/tsconfig.json
  tools/canvas-viewer/vite.config.ts
Due: check-fmt, markdownlint

fix: refine n26 battle summaries and crew printing
  n26/core/crews.py
  n26/core/templates/cotton/n26/model_card/body.html
  n26/core/templates/n26/battle.html
  n26/core/templates/n26/crew_sheet.html
  n26/core/templates/n26/post_battle_list.html
  n26/core/templates/n26/print_gang.html
  n26/core/views/battles.py
  n26/core/views/crews.py
  n26/core/views/post_battle.py
  n26/tests/test_views_battles.py
  n26/tests/test_views_crews.py
  n26/tests/test_views_post_battle.py
Due: none

test: verify filter scroll placement
  n26/frontend/ui/FilterMenu.test.tsx
Due: none

fix: clamp filter menus to the viewport
  n26/frontend/ui/FilterMenu.test.tsx
  n26/frontend/ui/FilterMenu.tsx
Due: none

style: tighten fighter action panels
  n26/core/action_flow.py
  n26/core/templates/cotton/n26/payment_figures.html
  n26/core/templates/n26/includes/action_panels.html
  n26/core/templates/n26/includes/gear_lines.html
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/tests.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

docs: clarify local login command variants
  AGENTS.md
Due: check-fmt, markdownlint

docs: correct AGENTS.md scope and references
  AGENTS.md
  docs/how-to-guides/n26-frontend-stack.md
  n23/content/models/base.py
  n23/core/forms/pack.py
  n23/core/models/list/fighter.py
  n23/core/tasks.py
  n23/core/tests/test_pack_form_mixin.py
  n26/core/AGENTS.md
  n26/core/models/AGENTS.md
  n26/library/models/base.py
Due: check-fmt, markdownlint

fix: keep decorative checkboxes out of focus
  n26/frontend/ui/FilterMenu.test.tsx
  n26/frontend/ui/FilterMenu.tsx
Due: none

docs: point N26 comments to scoped guidance
  n26/designsystem/sampledata.py
  n26/library/authoring.py
  n26/library/ingest.py
  n26/library/models/assignable.py
  n26/library/models/modifier.py
  n26/library/standard_content.py
  n26/tests/sandbox/test_buying_with_options.py
  n26/tests/sandbox/test_escher_gang.py
  n26/tests/sandbox/test_screenshot_profiles.py
  n26/tests/sandbox/test_traits.py
Due: none

style: group fighter actions in one card
  n26/core/templates/n26/includes/action_panels.html
  n26/designsystem/tests.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

fix: wrap modifier table links
  n26/frontend/islands/modifier-list/ModifierList.test.tsx
  n26/frontend/islands/modifier-list/ModifierList.tsx
  n26/frontend/ui/index.tsx
Due: none

fix: rate crews by selected equipment and clarify autosave errors
  n26/core/crews.py
  n26/core/static/n26/post-battle.js
  n26/core/templates/n26/crew.html
  n26/core/views/crews.py
  n26/frontend/test/post-battle-autosave.test.js
  n26/tests/sandbox/test_crews.py
  n26/tests/test_views_crews.py
Due: check-fmt

feat: migrate the N26 modifier list to React (#2631)
  docs/developing-gyrinx/react.md
  n26/frontend/islands/modifier-list/ModifierList.test.tsx
  n26/frontend/islands/modifier-list/ModifierList.tsx
  n26/frontend/islands/modifier-list/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/frontend/tooling/export_cotton_recipes.py
  n26/frontend/ui/FilterMenu.test.tsx
  n26/frontend/ui/FilterMenu.tsx
  n26/frontend/ui/index.tsx
  n26/library/templates/authoring/modifiers.html
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
Due: check-fmt, markdownlint

feat: use compact checkbox cards for N26 crew selection
  docs/developing-gyrinx/react.md
  n26/core/crew_forms.py
  n26/core/templates/n26/crew.html
  n26/core/templates/n26/crew_sheet.html
  n26/core/views/crews.py
  n26/frontend/islands/crew-picker/CrewPicker.test.tsx
  n26/frontend/islands/crew-picker/CrewPicker.tsx
  n26/frontend/islands/crew-picker/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/frontend/tooling/export_cotton_recipes.py
  n26/frontend/ui/index.tsx
  n26/frontend/ui/ui.test.tsx
  n26/tests/test_views_crews.py
Due: check-fmt, markdownlint

style: place fighter actions beside card
  n26/core/templates/cotton/n26/model_header.html
  n26/core/templates/cotton/n26/view/model_edit.html
  n26/designsystem/tests.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

style: compact fighter action starts
  n26/core/templates/n26/includes/action_panels.html
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

fix: wrap recovering crew models in an eligibility control
  n26/core/crew_forms.py
  n26/frontend/islands/crew-picker/CrewPicker.test.tsx
  n26/frontend/islands/crew-picker/CrewPicker.tsx
  n26/tests/test_views_crews.py
Due: none

style: inline fighter action units
  n26/core/templates/cotton/n26/payment_figures.html
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

fix: simplify crew selection to one checkbox per model
  n26/frontend/islands/crew-picker/CrewPicker.test.tsx
  n26/frontend/islands/crew-picker/CrewPicker.tsx
  n26/frontend/tooling/export_cotton_recipes.py
  n26/frontend/ui/index.tsx
  n26/frontend/ui/ui.test.tsx
  n26/tests/test_views_crews.py
Due: none

feat: refine fighter action flow UI
  n26/core/action_flow.py
  n26/core/templates/cotton/n26/form_actions.html
  n26/core/templates/cotton/n26/form_page.html
  n26/core/templates/cotton/n26/view/model_edit.html
  n26/core/templates/n26/action_flow.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/action_history.html
  n26/core/templates/n26/includes/action_panels.html
  n26/core/views/action_flows.py
  n26/core/views/edit.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/view-model-edit/10-edit.html
  n26/designsystem/tests.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

fix: promote crew rating and simplify the crew header
  n26/core/templates/n26/battle.html
  n26/core/templates/n26/crew_sheet.html
  n26/core/templates/n26/print_gang.html
  n26/tests/test_views_battles.py
  n26/tests/test_views_crews.py
Due: none

feat: polish fighter action controls
  n26/core/action_flow.py
  n26/core/templates/cotton/n26/form_actions.html
  n26/core/templates/cotton/n26/form_page.html
  n26/core/templates/cotton/n26/view/model_edit.html
  n26/core/templates/n26/action_flow.html
  n26/core/templates/n26/includes/action_history.html
  n26/core/templates/n26/includes/action_panels.html
  n26/core/views/action_flows.py
  n26/designsystem/sampledata.py
  n26/designsystem/tests.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
