Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

fix: polish campaign Income controls and territory entry forms
  n26/core/campaigns.py
  n26/core/forms.py
  n26/core/render.py
  n26/core/templates/cotton/n26/campaign_assets.html
  n26/core/templates/cotton/n26/campaign_block.html
  n26/core/templates/n26/includes/asset_source.html
  n26/core/templates/n26/includes/campaign_counter_value.html
  n26/core/templates/n26/new_asset.html
  n26/core/views/campaigns.py
  n26/frontend/islands/campaign-asset-selection/AssetSelection.test.tsx
  n26/frontend/islands/campaign-asset-selection/AssetSelection.tsx
  n26/frontend/islands/counter-adjustment/CounterAdjustment.tsx
  n26/frontend/islands/income-tooltip/IncomeTooltip.test.tsx
  n26/frontend/islands/income-tooltip/IncomeTooltip.tsx
  n26/frontend/islands/income-tooltip/entry.tsx
  n26/library/income.py
  n26/tests/test_basic_campaign_dashboard.py
Due: none

feat: count kit-owned Alpine in the N26 Alpine guard (#2859)
  .agents/skills/n26-react/SKILL.md
  .prettierignore
  docs/developing-gyrinx/react.md
  gyrinx/tests/test_check_n26_alpine.py
  n26/frontend/tooling/alpine-baseline.json
  scripts/check_n26_alpine.py
Due: check-fmt, markdownlint

style: use the dots-and-chevron ghost trigger for the N26 action header menu
  n26/core/templates/n26/includes/action_panels.html
Due: none

fix: base an N26 gang's first credits budget on its current wealth
  n26/core/AGENTS.md
  n26/core/history.py
  n26/core/models/ledger.py
  n26/core/operations.py
  n26/core/reconcile.py
  n26/tests/sandbox/test_budget_after_spending_freely.py
Due: check-fmt, markdownlint

fix: retire the empty N26 advancement slot when a flow is applied by hand
  n26/core/action_flow.py
  n26/core/action_records.py
  n26/core/advancements.py
  n26/tests/sandbox/test_advancement_action_flows.py
Due: none

fix: stop N26 Undo reopening an earned use behind a later one
  n26/core/action_flow.py
  n26/core/action_records.py
  n26/core/views/action_flows.py
  n26/tests/sandbox/test_advancement_action_flows.py
Due: none

feat: restart or stop dev servers from a gyrinx.devserver guard
  .agents/skills/dev-server/SKILL.md
  docs/useful-scripts.md
  gyrinx/devserver/__init__.py
  gyrinx/devserver/apps.py
  gyrinx/devserver/guard.py
  gyrinx/settings_dev.py
  gyrinx/tests/test_devserver_guard.py
Due: check-fmt, markdownlint

perf: keep each debug toolbar template context layer once in dev
  gyrinx/settings_dev.py
  gyrinx/tests/test_toolbar_panels.py
  gyrinx/toolbar_panels.py
  scripts/measure_dev_server_memory.py
Due: none

fix: draw the N26 "Mark as applied" menu with the action-menu island
  n26/core/action_flow.py
  n26/core/action_forms.py
  n26/core/templates/n26/action_flow.html
  n26/core/templates/n26/includes/action_panels.html
  n26/core/views/action_flows.py
  n26/tests/sandbox/test_advancement_action_flows.py
Due: none

fix: base an N26 gang's first credits budget on its current wealth (#2862)
  n26/core/AGENTS.md
  n26/core/history.py
  n26/core/models/ledger.py
  n26/core/operations.py
  n26/core/reconcile.py
  n26/tests/sandbox/test_budget_after_spending_freely.py
Due: check-fmt, markdownlint

fix: keep a result picked by hand when an N26 flow is marked as applied
  n26/core/action_records.py
  n26/core/views/action_flows.py
  n26/tests/sandbox/test_advancement_action_flows.py
Due: none

fix: say model, not fighter, in the N26 applied-by-hand refusal
  n26/core/action_records.py
Due: none

fix: drop a stale N26 review when Undo rebuilds an advancement slot
  n26/core/action_records.py
  n26/tests/sandbox/test_advancement_action_flows.py
Due: none

test: align campaign assertions with custom assets and arbitrator icon
  n26/tests/sandbox/test_asset_rolls.py
  n26/tests/test_campaign_summary.py
Due: none

refactor: draw the n26 checkbox card in React
  n26/core/templates/cotton/n26/checkbox_card.html
  n26/core/templates/n26/includes/checkbox_card_face.html
  n26/core/templatetags/checkbox_card.py
  n26/core/test_checkbox_card.py
  n26/designsystem/catalog.py
  n26/designsystem/tests.py
  n26/frontend/islands/checkbox-card/CheckboxCardIsland.test.tsx
  n26/frontend/islands/checkbox-card/CheckboxCardIsland.tsx
  n26/frontend/islands/checkbox-card/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/frontend/tooling/export_cotton_recipes.py
  n26/tests/sandbox/test_asset_rolls.py
Due: check-fmt

feat: let players mark an N26 earned advancement as applied by hand (#2861)
  n26/core/action_flow.py
  n26/core/action_forms.py
  n26/core/action_records.py
  n26/core/advancements.py
  n26/core/allowances.py
  n26/core/history.py
  n26/core/migrations/0080_action_use_applied_by_hand.py
  n26/core/models/action_record.py
  n26/core/models/ledger.py
  n26/core/operations.py
  n26/core/progression.py
  n26/core/promotions.py
  n26/core/templates/n26/action_flow.html
  n26/core/templates/n26/includes/action_history.html
  n26/core/templates/n26/includes/action_panels.html
  n26/core/templates/n26/includes/progression_history.html
  n26/core/views/__init__.py
  n26/core/views/action_flows.py
  n26/tests/sandbox/test_advancement_action_flows.py
  n26/urls.py
Due: none

feat: edit campaign Income as a total value
  n26/core/forms.py
  n26/core/views/owned.py
  n26/frontend/islands/counter-adjustment/CounterAdjustment.test.tsx
  n26/frontend/islands/counter-adjustment/CounterAdjustment.tsx
  n26/tests/test_basic_campaign_dashboard.py
Due: none

fix: stop content_stat_definitions writing to the dev database
  .agents/skills/worktree-db/SKILL.md
  AGENTS.md
  conftest.py
  docs/developing-gyrinx/testing.md
  gyrinx/pytest_database.py
  gyrinx/tests/test_pytest_database.py
Due: check-fmt, markdownlint

docs: describe the pytest database guard as it stands
  conftest.py
  gyrinx/pytest_database.py
  gyrinx/tests/test_pytest_database.py
Due: none

fix: skip logs/*.html when djlint formats the tree
  .pre-commit-config.yaml
  AGENTS.md
  docs/useful-scripts.md
  gyrinx/tests/test_djlint_logs.py
  pyproject.toml
Due: check-fmt, markdownlint

test: check each pre-commit djlint hook skips logs/
  docs/useful-scripts.md
  gyrinx/tests/test_djlint_logs.py
  pyproject.toml
Due: check-fmt, markdownlint

fix: reject a Cotton :prop that names a firstof result
  .github/instructions/templates.instructions.md
  n23/core/templates/AGENTS.md
  n23/core/tests/test_cotton_call_site_gates.py
  n26/core/templates/AGENTS.md
  scripts/check_cotton.py
Due: check-fmt, markdownlint

fix: follow Django scopes in the Cotton firstof prop check
  n23/core/tests/test_cotton_call_site_gates.py
  scripts/check_cotton.py
Due: none

fix: check CLAUDE_PID is alive before gyrinx.devserver trusts it
  gyrinx/devserver/apps.py
  gyrinx/devserver/guard.py
  gyrinx/settings_dev.py
  gyrinx/tests/test_devserver_guard.py
  gyrinx/tests/test_toolbar_panels.py
  gyrinx/toolbar_panels.py
Due: none

feat: show campaign Income breakdown and unify territory forms (#2860)
  n26/core/campaigns.py
  n26/core/card.py
  n26/core/forms.py
  n26/core/migrations/0080_campaign_holdings_can_override_catalogue_income.py
  n26/core/models/campaign.py
  n26/core/render.py
  n26/core/static/n26/arbitrator.svg
  n26/core/templates/cotton/n26/campaign_assets.html
  n26/core/templates/cotton/n26/campaign_block.html
  n26/core/templates/cotton/n26/campaign_gangs.html
  n26/core/templates/cotton/n26/view/campaign_sheet.html
  n26/core/templates/n26/add_asset.html
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/includes/asset_source.html
  n26/core/templates/n26/includes/campaign_assets_section.html
  n26/core/templates/n26/includes/campaign_counter_value.html
  n26/core/templates/n26/new_asset.html
  n26/core/views/campaign_assets.py
  n26/core/views/campaigns.py
  n26/core/views/owned.py
  n26/frontend/islands/campaign-asset-selection/AssetSelection.test.tsx
  n26/frontend/islands/campaign-asset-selection/AssetSelection.tsx
  n26/frontend/islands/counter-adjustment/CounterAdjustment.test.tsx
  n26/frontend/islands/counter-adjustment/CounterAdjustment.tsx
  n26/frontend/islands/income-tooltip/IncomeTooltip.test.tsx
  n26/frontend/islands/income-tooltip/IncomeTooltip.tsx
  n26/frontend/islands/income-tooltip/entry.tsx
  n26/library/income.py
  n26/tests/sandbox/test_asset_rolls.py
  n26/tests/sandbox/test_campaign_additions.py
  n26/tests/test_basic_campaign_dashboard.py
  n26/tests/test_campaign_asset_batches.py
  n26/tests/test_campaign_summary.py
  n26/tests/test_views_campaigns.py
Due: none

fix: follow if-branches and quoted with values in the firstof prop check
  n23/core/tests/test_cotton_call_site_gates.py
  scripts/check_cotton.py
Due: none

fix: judge a firstof prop from the arm the call site sits on
  n23/core/tests/test_cotton_call_site_gates.py
  scripts/check_cotton.py
Due: none

fix: say gyrinx.devserver stops a --noreload server over its limit
  .agents/skills/dev-server/SKILL.md
  docs/useful-scripts.md
  gyrinx/devserver/guard.py
  gyrinx/tests/test_devserver_guard.py
  scripts/measure_dev_server_memory.py
Due: check-fmt, markdownlint

fix: say "stops past" in the gyrinx.devserver start-up line under --noreload
  gyrinx/devserver/guard.py
  gyrinx/tests/test_devserver_guard.py
Due: none

fix: let gyrinx.devserver restart a server whose first request never ends
  gyrinx/devserver/guard.py
  gyrinx/tests/test_devserver_guard.py
Due: none

fix: open the n26 accessory panel without a scroll jump
  n26/core/templates/cotton/n26/dialog.html
  n26/frontend/islands/accessorise-link/AccessoriseLink.test.tsx
  n26/frontend/islands/accessorise-link/AccessoriseLink.tsx
Due: none

style: format the accessory link test
  n26/frontend/islands/accessorise-link/AccessoriseLink.test.tsx
Due: none

fix: hide untracked migrations during the pre-commit check
  .pre-commit-config.yaml
  AGENTS.md
  docs/developing-gyrinx/models-and-database.md
  gyrinx/tests/test_untracked_migrations.py
  scripts/README.md
  scripts/check_migrations.sh
  scripts/lib/untracked_migrations.sh
Due: check-fmt, markdownlint

fix: restore every untracked migration the pre-commit check hides
  gyrinx/tests/test_untracked_migrations.py
  scripts/lib/untracked_migrations.sh
Due: none

fix: never overwrite a migration recreated during the pre-commit check
  gyrinx/tests/test_untracked_migrations.py
  scripts/lib/untracked_migrations.sh
Due: none

fix: record a hidden migration before moving it
  gyrinx/tests/test_untracked_migrations.py
  scripts/lib/untracked_migrations.sh
Due: none

docs: reword the untracked migration restore comment
  scripts/lib/untracked_migrations.sh
Due: none

style: indent the rich-summary demo for djlint 1.46.4
  n26/designsystem/templates/designsystem/demos/changelog/30-rich-summary.html
Due: none

perf: dedupe toolbar Templates panel context; add gyrinx.devserver guard (#2863)
  .agents/skills/dev-server/SKILL.md
  docs/useful-scripts.md
  gyrinx/devserver/__init__.py
  gyrinx/devserver/apps.py
  gyrinx/devserver/guard.py
  gyrinx/settings_dev.py
  gyrinx/tests/test_devserver_guard.py
  gyrinx/tests/test_toolbar_panels.py
  gyrinx/toolbar_panels.py
  scripts/measure_dev_server_memory.py
Due: check-fmt, markdownlint

refactor: open the n26 accessory panel from React (#2849)
  n26/core/templates/cotton/n26/dialog.html
  n26/core/templates/cotton/n26/owned_lines.html
  n26/core/templatetags/accessorise_link.py
  n26/core/test_views_equip.py
  n26/frontend/islands/accessorise-link/AccessoriseLink.test.tsx
  n26/frontend/islands/accessorise-link/AccessoriseLink.tsx
  n26/frontend/islands/accessorise-link/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/frontend/tooling/export_cotton_recipes.py
Due: check-fmt
