Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

Fix Prettier vs markdownlint conflict by disabling Prettier for markdown
  .markdownlint-cli2.mjs
  .pre-commit-config.yaml
  .prettierignore
  CLAUDE.md
  package.json
  scripts/fmt.sh
Due: check-fmt, markdownlint

Update docs/runbook.md
  docs/runbook.md
Due: check-fmt, markdownlint

Apply suggestion from @Copilot
  gyrinx/core/tests/test_clone_linked_equipment.py
Due: none

Fix fighter cloning with equipment-equipment links (#1047)
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_clone_linked_equipment.py
Due: none

feat: Add Claude Code hooks for automated formatting, testing, and migration checks (#1049)
  .claude/settings.json
Due: check-fmt

Add campaign actions when spending credits on fighter hiring and vehicle purchases
  gyrinx/core/tests/test_campaign_credit_spending.py
  gyrinx/core/views/list.py
  gyrinx/core/views/vehicle.py
Due: none

Allow campaign owners to edit stash credits for lists in their campaigns
  gyrinx/core/templates/core/includes/fighter_card_stash.html
  gyrinx/core/tests/test_list_credit_tracking.py
Due: none

Allow campaign owners to edit stash credits for lists in their campaigns (#1052)
  gyrinx/core/templates/core/includes/fighter_card_stash.html
  gyrinx/core/tests/test_list_credit_tracking.py
Due: none

Fix test_add_vehicle_creates_campaign_action
  gyrinx/core/tests/test_campaign_credit_spending.py
Due: none

Add campaign actions when spending credits on fighter hiring and vehicle purchases (#1051)
  gyrinx/core/tests/test_campaign_credit_spending.py
  gyrinx/core/views/list.py
  gyrinx/core/views/vehicle.py
Due: none

Fix PR comment
  gyrinx/content/admin.py
  gyrinx/content/models.py
Due: none

Fixup a bunch of latent pesky commas
  gyrinx/core/templates/core/includes/fighter_card.html
  gyrinx/core/templates/core/includes/fighter_card_content_inner.html
  gyrinx/core/templates/core/includes/gear_assign_name.html
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/includes/rule.html
  gyrinx/core/views/list.py
  gyrinx/core/views/vehicle.py
  pyproject.toml
Due: none

Fixup a bunch of latent pesky commas (#1055)
  gyrinx/core/templates/core/includes/fighter_card.html
  gyrinx/core/templates/core/includes/fighter_card_content_inner.html
  gyrinx/core/templates/core/includes/gear_assign_name.html
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/includes/rule.html
  gyrinx/core/views/list.py
  gyrinx/core/views/vehicle.py
  pyproject.toml
Due: none

Temporarily disable Dependabot pip updates due to pip-tools incompatibility
  .github/dependabot.yml
Due: check-fmt

Temporarily disable Dependabot pip updates due to pip-tools incompatibility (#1056)
  .github/dependabot.yml
Due: check-fmt

Revert "Temporarily disable Dependabot pip updates due to pip-tools incompati…"
  .github/dependabot.yml
Due: check-fmt

Revert "Temporarily disable Dependabot pip updates due to pip-tools incompatibility" (#1059)
  .github/dependabot.yml
Due: check-fmt

Add list action tracking system for cost management
  .claude/settings.json
  gyrinx/core/admin/__init__.py
  gyrinx/core/admin/action.py
  gyrinx/core/migrations/0108_historicallist_rating_current_and_more.py
  gyrinx/core/models/__init__.py
  gyrinx/core/models/action.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_models_action.py
Due: check-fmt

Add initial list action model for tracking costs (#1058)
  .claude/settings.json
  gyrinx/core/admin/__init__.py
  gyrinx/core/admin/action.py
  gyrinx/core/migrations/0108_historicallist_rating_current_and_more.py
  gyrinx/core/models/__init__.py
  gyrinx/core/models/action.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_models_action.py
Due: check-fmt

Use list action in main spend_credits pathways
  gyrinx/core/admin/list.py
  gyrinx/core/migrations/0109_historicallistaction_user_listaction_user_and_more.py
  gyrinx/core/migrations/0110_historicallistaction_applied_listaction_applied.py
  gyrinx/core/models/action.py
  gyrinx/core/models/campaign.py
  gyrinx/core/models/list.py
  gyrinx/core/views/list.py
  gyrinx/core/views/vehicle.py
  gyrinx/settings.py
  gyrinx/settings_dev.py
  gyrinx/tracker.py
Due: none

Initial tests of list_action pathways
  gyrinx/conftest.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_listaction_integration.py
  gyrinx/core/views/list.py
Due: none

Add autocomplete fields for fighters and houses
  gyrinx/content/admin.py
Due: none

Update test to match new labelling
  gyrinx/content/tests/test_equipment_upgrade_overrides.py
Due: none

Add further autocomplete fields at the expense of grouping logic
  gyrinx/content/admin.py
Due: none

Register ContentEquipmentUpgrade admin with autocomplete fields
  gyrinx/content/admin.py
Due: none

Add autocomplete fields to content admin screens (#1042)
  gyrinx/content/admin.py
  gyrinx/content/models.py
  gyrinx/content/tests/test_equipment_upgrade_overrides.py
Due: none

Refactor to handlers and improve tests
  gyrinx/conftest.py
  gyrinx/core/handlers/__init__.py
  gyrinx/core/handlers/equipment_purchases.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_handlers_equipment_purchases.py
  gyrinx/core/tests/test_handlers_vehicle_purchases.py
  gyrinx/core/views/list.py
  gyrinx/core/views/vehicle.py
Due: check-fmt

Remove redundant test file
  gyrinx/core/tests/test_listaction_integration.py
Due: none

Extrat some fighter & list ops to handlers
  gyrinx/core/handlers/fighter_operations.py
  gyrinx/core/handlers/list_operations.py
  gyrinx/core/tests/test_handlers_fighter_operations.py
  gyrinx/core/tests/test_handlers_list_operations.py
  gyrinx/core/views/list.py
Due: none

Tweak form text
  gyrinx/core/forms/list.py
Due: none

Add applied field index and improve transaction handling
  gyrinx/conftest.py
  gyrinx/core/migrations/0111_add_applied_field_index.py
  gyrinx/core/models/action.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_handlers_equipment_purchases.py
  gyrinx/core/tests/test_models_action.py
  gyrinx/core/views/list.py
  gyrinx/tracker.py
Due: none

Ensure house overrides costs are used for vehicles in stash
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_vehicle_stash_cost_bug.py
Due: none

Add cost field copying and ListAction tracking to list cloning
  gyrinx/core/handlers/list_operations.py
  gyrinx/core/migrations/0112_add_clone_action_type.py
  gyrinx/core/models/action.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_clone.py
  gyrinx/core/views/list.py
Due: none

Refactor to include ListAction creation in core credit-spending flows (#1066)
  gyrinx/conftest.py
  gyrinx/core/admin/list.py
  gyrinx/core/forms/list.py
  gyrinx/core/handlers/__init__.py
  gyrinx/core/handlers/equipment_purchases.py
  gyrinx/core/handlers/fighter_operations.py
  gyrinx/core/handlers/list_operations.py
  gyrinx/core/migrations/0109_historicallistaction_user_listaction_user_and_more.py
  gyrinx/core/migrations/0110_historicallistaction_applied_listaction_applied.py
  gyrinx/core/migrations/0111_add_applied_field_index.py
  gyrinx/core/migrations/0112_add_clone_action_type.py
  gyrinx/core/models/action.py
  gyrinx/core/models/campaign.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_clone.py
  gyrinx/core/tests/test_handlers_equipment_purchases.py
  gyrinx/core/tests/test_handlers_fighter_operations.py
  gyrinx/core/tests/test_handlers_list_operations.py
  gyrinx/core/tests/test_handlers_vehicle_purchases.py
  gyrinx/core/tests/test_models_action.py
  gyrinx/core/views/list.py
  gyrinx/core/views/vehicle.py
  gyrinx/settings.py
  gyrinx/settings_dev.py
  gyrinx/tracker.py
Due: check-fmt

fix: use cost_for_house for vehicles in stash (#1065)
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_vehicle_stash_cost_bug.py
Due: none

Add migration to move upgrade data to upgrades_field
  gyrinx/core/migrations/0113_migrate_upgrade_to_upgrades_field.py
  gyrinx/core/tests/test_migrate_upgrade_to_upgrades_field.py
Due: none

Add Claude issue responder workflow
  .github/workflows/claude-plan-action.yml
Due: check-fmt
