Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

fix: stop supporter badges aliasing unevenly when scaled down
  gyrinx/core/static/core/scss/styles.scss
Due: check-fmt

refactor: address review feedback on the balance-sheet PR
  gyrinx/core/cost/balance_sheet.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/debug/list_balance_sheet.html
  gyrinx/core/tests/test_balance_sheet.py
  gyrinx/core/views/debug.py
Due: none

feat: balance-sheet harness, situation matrix, and debug UI (#1826 Phase 1) (#1927)
  .claude/notes/cost-pinning-design.md
  gyrinx/core/cost/balance_sheet.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/debug/list_actions.html
  gyrinx/core/templates/core/debug/list_balance_sheet.html
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/tests/test_balance_sheet.py
  gyrinx/core/tests/test_debug_views.py
  gyrinx/core/views/debug.py
  gyrinx/urls.py
Due: check-fmt, markdownlint

fix: stop component deltas being swallowed by cost overrides; account reassignment re-pricing (#1925, #1826 Phase 2)
  gyrinx/core/handlers/equipment/deltas.py
  gyrinx/core/handlers/equipment/purchase.py
  gyrinx/core/handlers/equipment/reassignment.py
  gyrinx/core/handlers/equipment/removal.py
  gyrinx/core/tests/test_balance_sheet.py
Due: none

fix: vertically centre supporter badges on text at any size
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/debug/design_system.html
Due: check-fmt

docs: summarise work plainly; start the dev server when starting work
  CLAUDE.md
Due: check-fmt, markdownlint

fix: refetch reassigned gear with view semantics so pack accessories keep their value
  gyrinx/core/handlers/equipment/reassignment.py
  gyrinx/core/tests/test_balance_sheet.py
Due: none

docs: summarise work plainly; start the dev server when starting work (#1929)
  CLAUDE.md
Due: check-fmt, markdownlint

fix: component deltas under cost overrides + reassignment re-pricing (#1925, #1826 Phase 2) (#1928)
  gyrinx/core/handlers/equipment/deltas.py
  gyrinx/core/handlers/equipment/purchase.py
  gyrinx/core/handlers/equipment/reassignment.py
  gyrinx/core/handlers/equipment/removal.py
  gyrinx/core/tests/test_balance_sheet.py
Due: none

test: run the balance-sheet matrix across a catalog-vs-pack content axis
  .claude/notes/cost-pinning-design.md
  gyrinx/core/tests/test_balance_sheet.py
Due: check-fmt, markdownlint

fix: size supporter badges in em so they centre at any text size
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/debug/design_system.html
Due: check-fmt

fix: pack price changes sweep again; delete the bare-form accessories branch (#1930)
  .claude/notes/cost-pinning-design.md
  gyrinx/content/signals.py
  gyrinx/core/tests/test_balance_sheet.py
  gyrinx/core/views/fighter/equipment.py
Due: check-fmt, markdownlint

test: assert booked movement in component cells; pin pack-upgrade zero-booking (#1933)
  .claude/notes/cost-pinning-design.md
  gyrinx/core/tests/test_balance_sheet.py
Due: check-fmt, markdownlint

fix: address review findings on dice roller and homepage pins
  gyrinx/core/static/core/js/dice.js
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/badge_settings.html
  gyrinx/core/templates/core/index.html
  gyrinx/core/tests/test_dice.py
  gyrinx/core/tests/test_pin_star.py
  gyrinx/core/views/dice.py
Due: check-fmt

test: run the balance-sheet matrix across a catalog-vs-pack content axis (#1826) (#1931)
  .claude/notes/cost-pinning-design.md
  gyrinx/content/signals.py
  gyrinx/core/tests/test_balance_sheet.py
  gyrinx/core/views/fighter/equipment.py
Due: check-fmt, markdownlint

feat: homepage, dice roller, sign-out, and supporter-badge UI tweaks (#1932)
  gyrinx/core/static/core/js/dice.js
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/account/logout.html
  gyrinx/core/templates/core/badge_settings.html
  gyrinx/core/templates/core/debug/design_system.html
  gyrinx/core/templates/core/dice.html
  gyrinx/core/templates/core/includes/account_sidebar.html
  gyrinx/core/templates/core/includes/featured_pack_card.html
  gyrinx/core/templates/core/includes/home/campaign_row.html
  gyrinx/core/templates/core/includes/home/gang_row.html
  gyrinx/core/templates/core/includes/home/list_row.html
  gyrinx/core/templates/core/index.html
  gyrinx/core/templates/core/layouts/base.html
  gyrinx/core/templatetags/custom_tags.py
  gyrinx/core/tests/test_dice.py
  gyrinx/core/tests/test_pin_star.py
  gyrinx/core/views/dice.py
  gyrinx/core/views/home.py
Due: check-fmt

fix: validate dice-roller URL input against 500s and unbounded pages
  gyrinx/core/tests/test_dice.py
  gyrinx/core/views/dice.py
Due: none

fix: sale books resolved values; stash removal decrements caches; pack components price everywhere (#1826 Phase 3)
  .claude/notes/cost-pinning-design.md
  gyrinx/content/models/equipment.py
  gyrinx/core/handlers/equipment/__init__.py
  gyrinx/core/handlers/equipment/removal.py
  gyrinx/core/models/list/assignment.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_balance_sheet.py
  gyrinx/core/views/fighter/equipment.py
Due: check-fmt, markdownlint

refactor: address Phase 3 review findings
  gyrinx/content/models/equipment.py
  gyrinx/core/forms/list.py
  gyrinx/core/tests/test_balance_sheet.py
Due: none

fix: pack profiles can be individually sold from the stash
  gyrinx/core/handlers/equipment/sale.py
  gyrinx/core/tests/test_balance_sheet.py
  gyrinx/core/views/fighter/equipment.py
Due: none

fix: sale, stash-removal, and pack component pricing (#1826 Phase 3) (#1934)
  .claude/notes/cost-pinning-design.md
  gyrinx/content/models/equipment.py
  gyrinx/core/forms/list.py
  gyrinx/core/handlers/equipment/__init__.py
  gyrinx/core/handlers/equipment/removal.py
  gyrinx/core/handlers/equipment/sale.py
  gyrinx/core/models/list/assignment.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_balance_sheet.py
  gyrinx/core/views/fighter/equipment.py
Due: check-fmt, markdownlint

fix: validate dice-roller URL input against 500s and unbounded pages (#1935)
  gyrinx/core/tests/test_dice.py
  gyrinx/core/views/dice.py
Due: none

feat: declare component through models in place; add inert pin columns (#1826 Phase 4)
  gyrinx/core/admin/list.py
  gyrinx/core/migrations/0151_assignment_component_through_models.py
  gyrinx/core/migrations/0152_component_pin_columns.py
  gyrinx/core/models/list/__init__.py
  gyrinx/core/models/list/assignment.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_pin_schema.py
Due: check-fmt

refactor: address Phase 4 review findings
  .claude/notes/cost-pinning-design.md
  gyrinx/core/migrations/0152_component_pin_columns.py
  gyrinx/core/models/list/assignment.py
  gyrinx/core/tests/test_pin_schema.py
Due: check-fmt, markdownlint

refactor: surface base-cost pin fields read-only on the assignment admin
  gyrinx/core/admin/list.py
Due: none

feat: in-place component through models + inert pin columns (#1826 Phase 4) (#1937)
  .claude/notes/cost-pinning-design.md
  gyrinx/core/admin/list.py
  gyrinx/core/migrations/0151_assignment_component_through_models.py
  gyrinx/core/migrations/0152_component_pin_columns.py
  gyrinx/core/models/list/__init__.py
  gyrinx/core/models/list/assignment.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_pin_schema.py
Due: check-fmt, markdownlint

feat: resolution honours pinned amounts (#1826 Phase 5)
  gyrinx/core/models/list/assignment.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_pin_resolution.py
Due: check-fmt

refactor: address Phase 5 review findings
  .claude/notes/cost-pinning-design.md
  gyrinx/core/migrations/0153_pin_state_amount_invariants.py
  gyrinx/core/models/list/assignment.py
  gyrinx/core/models/list/virtual.py
  gyrinx/core/tests/test_pin_resolution.py
Due: check-fmt, markdownlint

feat: resolution honours pinned amounts (#1826 Phase 5) (#1939)
  .claude/notes/cost-pinning-design.md
  gyrinx/core/migrations/0153_pin_state_amount_invariants.py
  gyrinx/core/models/list/assignment.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/models/list/virtual.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_pin_resolution.py
Due: check-fmt, markdownlint

fix: adapt tests + templates to bumped pytest and djlint, sync pre-commit pins
  .pre-commit-config.yaml
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/includes/advancement_progress.html
  gyrinx/core/templates/core/includes/step_progress.html
  gyrinx/core/templates/mfa/recovery_codes/index.html
  gyrinx/templates/500.html
  gyrinx/tests/test_tracker.py
Due: check-fmt

fix: render Modification admin changelist by description, not ctype
  gyrinx/content/admin.py
  gyrinx/content/tests/test_admin_actions.py
Due: none

docs: use commit-push-draft skill when shipping a draft PR
  CLAUDE.md
Due: check-fmt, markdownlint

refactor: drop always-empty packs column from mod changelist
  gyrinx/content/admin.py
Due: none

test: use reverse() for the mod changelist URL
  gyrinx/content/tests/test_admin_actions.py
Due: none

fix: render Modification admin changelist by description, not ctype (#1942)
  CLAUDE.md
  gyrinx/content/admin.py
  gyrinx/content/tests/test_admin_actions.py
Due: check-fmt, markdownlint

test: expansion blank-cost fallback rewrites pins to the base price (#1826 Phase 6)
  gyrinx/core/tests/test_pin_sweeps.py
Due: none

fix: cost-change sweeps reach pinned rows; watch accessory cost_expression (#1826 Phase 6)
  gyrinx/content/models/equipment_list.py
  gyrinx/content/models/expansion.py
  gyrinx/content/models/signal_handlers.py
  gyrinx/content/signals.py
  gyrinx/core/tests/test_balance_sheet.py
  gyrinx/core/tests/test_pin_sweeps.py
Due: none

fix: deep-review round 2 — cascade-safe delete audits; CFELU reaches higher rungs; derived rows follow live bases
  gyrinx/content/models/equipment_list.py
  gyrinx/content/models/signal_handlers.py
  gyrinx/core/cost/pin_sweep.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_pin_sweeps.py
Due: none

fix: address Phase 6 review findings — masked pins book no movement; archived rows swept; expression riders force fallback
  gyrinx/content/models/equipment.py
  gyrinx/content/models/signal_handlers.py
  gyrinx/core/cost/pin_sweep.py
  gyrinx/core/tests/test_pin_sweeps.py
Due: none

feat: sweeps rewrite pinned amounts; per-row audit deltas; orphan pins on source delete (#1826 Phase 6)
  gyrinx/content/models/equipment.py
  gyrinx/content/models/signal_handlers.py
  gyrinx/core/cost/pin_sweep.py
  gyrinx/core/tests/test_pin_sweeps.py
Due: none
