Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

feat: the price follows the rating until the player sets one
  gyrinx/core/templates/core/crew/crew_extra_form.html
Due: none

feat: the participants pane credits each gang to its owner
  gyrinx/core/models/battle.py
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/tests/test_crew.py
Due: none

docs: the "play the battle" step points at the print button
  gyrinx/core/handlers/battle.py
Due: none

fix: review findings on crew readiness and charging
  gyrinx/core/handlers/battle.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/migrations/0194_crew_line_item_split_amounts.py
  gyrinx/core/migrations/0195_crew_credits_owed.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/crew/crew_extra_form.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/battle.py
  gyrinx/core/views/crew.py
Due: none

fix: the unpaid callout reads the snapshot, and paying needs a price
  gyrinx/core/forms/crew.py
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/tests/test_crew.py
Due: none

feat: warn when a crew is spending more than its gang has
  gyrinx/core/handlers/battle.py
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/battle.py
Due: none

style: the overspend warning sits with the gangs it names
  gyrinx/core/templates/core/battle/battle.html
Due: none

fix: the timeline only counts crews still in the battle
  gyrinx/core/handlers/battle.py
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/tests/test_crew.py
Due: none

refactor: classify stats from ContentStat only, not a hardcoded fallback
  gyrinx/conftest.py
  gyrinx/content/models/modifier.py
  gyrinx/content/tests/test_mods.py
  gyrinx/tests/test_tracker.py
  gyrinx/tracker.py
Due: none

refactor: address review of the stat-classification cleanup
  docs/logging-and-tracing-reference.md
  docs/tracking.md
  gyrinx/conftest.py
  gyrinx/content/models/modifier.py
  gyrinx/content/tests/test_mods.py
  gyrinx/tests/test_tracker.py
Due: check-fmt, markdownlint

refactor: classify stats from ContentStat only, not a hardcoded fallback (#2064)
  docs/logging-and-tracing-reference.md
  docs/tracking.md
  gyrinx/conftest.py
  gyrinx/content/models/modifier.py
  gyrinx/content/tests/test_mods.py
  gyrinx/tests/test_tracker.py
  gyrinx/tracker.py
Due: check-fmt, markdownlint

refactor: the end-battle form uses the design system
  gyrinx/core/forms/battle.py
  gyrinx/core/templates/core/battle/battle_end.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/battle.py
Due: none

feat: the end-battle form opens on a win
  gyrinx/core/forms/battle.py
  gyrinx/core/tests/test_crew.py
Due: none

fix: the remaining review findings
  gyrinx/core/handlers/battle.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/battle/battle_start.html
  gyrinx/core/templates/core/crew/crew_extra_form.html
  gyrinx/core/templates/core/includes/campaign_common_header.html
  gyrinx/core/tests/test_crew.py
Due: none

fix: reversing the amount split kept the wrong number
  gyrinx/core/migrations/0194_crew_line_item_split_amounts.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/tests/test_migration_crew_line_item_split.py
Due: none

fix: the screen offered readiness the handler would refuse
  gyrinx/core/handlers/crew.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/battle.py
Due: none

feat: crew readiness, spending charged at battle start, and rating split from cost (#2068)
  gyrinx/core/forms/battle.py
  gyrinx/core/forms/crew.py
  gyrinx/core/handlers/battle.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/migrations/0189_crew_ready_and_credits_charged.py
  gyrinx/core/migrations/0190_crew_line_item_balancing_label.py
  gyrinx/core/migrations/0191_crew_line_item_help_text.py
  gyrinx/core/migrations/0192_crew_line_item_label_help_text.py
  gyrinx/core/migrations/0193_crew_line_item_rating_value.py
  gyrinx/core/migrations/0194_crew_line_item_split_amounts.py
  gyrinx/core/migrations/0195_crew_credits_owed.py
  gyrinx/core/models/battle.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/templates/core/battle/battle_end.html
  gyrinx/core/templates/core/battle/battle_start.html
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/crew/crew_extra_form.html
  gyrinx/core/templates/core/crew/crew_form.html
  gyrinx/core/templates/core/crew/crew_loadouts.html
  gyrinx/core/templates/core/crew/crew_setup.html
  gyrinx/core/templates/core/crew/crew_stash.html
  gyrinx/core/templates/core/includes/campaign_common_header.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/tests/test_migration_crew_line_item_split.py
  gyrinx/core/urls/campaign.py
  gyrinx/core/views/battle.py
  gyrinx/core/views/crew.py
  scripts/raw_markup_baseline.json
Due: check-fmt

fix: stop copied fighters double-counting stat advancements
  gyrinx/core/migrations/0196_convert_legacy_stat_advancements.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/tests/test_migration_convert_legacy_advancements.py
Due: none

fix: gate the advancement conversion on what the mod system computes
  gyrinx/core/migrations/0196_convert_legacy_stat_advancements.py
  gyrinx/core/tests/test_migration_convert_legacy_advancements.py
Due: none

fix: write the migration's stat clears without firing fighter signals
  gyrinx/core/migrations/0196_convert_legacy_stat_advancements.py
Due: none

fix: stop copied fighters double-counting stat advancements (#2069)
  gyrinx/core/migrations/0196_convert_legacy_stat_advancements.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/tests/test_migration_convert_legacy_advancements.py
Due: none

feat: gang plate on classic sheets, XP on web cards, and a lore & notes printout
  gyrinx/core/forms/print_config.py
  gyrinx/core/migrations/0197_print_config_include_xp.py
  gyrinx/core/models/print_config.py
  gyrinx/core/print_cards.py
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/includes/classic_card_text.html
  gyrinx/core/templates/core/includes/classic_sheet.html
  gyrinx/core/templates/core/includes/fighter_card_content_inner.html
  gyrinx/core/templates/core/includes/list_about.html
  gyrinx/core/templates/core/includes/list_lore_notes_tabs.html
  gyrinx/core/templates/core/includes/list_notes.html
  gyrinx/core/templates/core/list_print_lore_notes.html
  gyrinx/core/templates/core/list_print_lore_notes_classic.html
  gyrinx/core/templates/core/print_config/form.html
  gyrinx/core/tests/test_print_expanded_options.py
  gyrinx/core/urls/list.py
  gyrinx/core/views/list/views.py
  gyrinx/core/views/print_config.py
  gyrinx/core/views/print_lab.py
Due: check-fmt

feat: write-in boxes under Lore and Notes on the classic lore plate
  gyrinx/core/print_cards.py
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/debug/print_lab.html
  gyrinx/core/templates/core/includes/classic_card_text.html
  gyrinx/core/tests/test_print_expanded_options.py
  gyrinx/core/views/print_lab.py
Due: check-fmt

feat: option to print Lore & Notes cards alongside the fighter cards
  gyrinx/core/forms/print_config.py
  gyrinx/core/migrations/0198_print_config_include_lore_notes.py
  gyrinx/core/models/print_config.py
  gyrinx/core/templates/core/includes/fighter_notes_card.html
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/print_config/form.html
  gyrinx/core/tests/test_print_expanded_options.py
  gyrinx/core/views/list/views.py
  gyrinx/core/views/print_config.py
Due: none

fix: review follow-ups on the print options work
  gyrinx/core/print_cards.py
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/print_config/form.html
  gyrinx/core/tests/test_print_expanded_options.py
  gyrinx/core/views/list/views.py
Due: check-fmt

feat: gang plate on classic sheets, XP on web cards, and Lore & Notes cards (#2071)
  gyrinx/core/forms/print_config.py
  gyrinx/core/migrations/0197_print_config_include_xp.py
  gyrinx/core/migrations/0198_print_config_include_lore_notes.py
  gyrinx/core/models/print_config.py
  gyrinx/core/print_cards.py
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/debug/print_lab.html
  gyrinx/core/templates/core/includes/classic_card_text.html
  gyrinx/core/templates/core/includes/classic_sheet.html
  gyrinx/core/templates/core/includes/fighter_card_content_inner.html
  gyrinx/core/templates/core/includes/fighter_notes_card.html
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/includes/list_about.html
  gyrinx/core/templates/core/includes/list_lore_notes_tabs.html
  gyrinx/core/templates/core/includes/list_notes.html
  gyrinx/core/templates/core/list_print_lore_notes.html
  gyrinx/core/templates/core/list_print_lore_notes_classic.html
  gyrinx/core/templates/core/print_config/form.html
  gyrinx/core/tests/test_print_expanded_options.py
  gyrinx/core/urls/list.py
  gyrinx/core/views/list/views.py
  gyrinx/core/views/print_config.py
  gyrinx/core/views/print_lab.py
Due: check-fmt

feat: start a new campaign from a template campaign
  gyrinx/core/handlers/campaign_copy.py
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_new.html
  gyrinx/core/tests/test_campaign_copy.py
  gyrinx/core/views/campaign/crud.py
  scripts/raw_markup_baseline.json
Due: check-fmt

fix: hide decorative template icons from screen readers
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_new.html
Due: none

feat: log a campaign action when a campaign is created from a template
  gyrinx/core/handlers/campaign_copy.py
  gyrinx/core/migrations/0199_campaign_action_template_campaign.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/includes/campaign_action_item.html
  gyrinx/core/tests/test_campaign_copy.py
  gyrinx/core/views/campaign/crud.py
Due: none

docs: correct why two campaign settings are skipped, cover the empty template
  gyrinx/core/handlers/campaign_copy.py
  gyrinx/core/tests/test_campaign_copy.py
Due: none

fix: keep the new-campaign form when its template vanishes mid-edit
  gyrinx/core/handlers/campaign_copy.py
  gyrinx/core/tests/test_campaign_copy.py
  gyrinx/core/views/campaign/crud.py
Due: none

style: use an info callout for the template Campaign banner
  gyrinx/core/templates/core/campaign/campaign.html
Due: none

test: pin that field errors render on the lost-template path
  gyrinx/core/tests/test_campaign_copy.py
Due: none

perf: select_related the template campaign on action querysets
  gyrinx/core/views/campaign/actions.py
  gyrinx/core/views/campaign/views.py
Due: none

fix: stop advancements stacking on a stat that gear sets
  gyrinx/core/models/list/fighter.py
  gyrinx/core/tests/test_mod_ordering.py
Due: none

fix: count copied attribute values in the template copy summary
  gyrinx/core/handlers/campaign_copy.py
  gyrinx/core/tests/test_campaign_copy.py
Due: none

feat: start a new campaign from a template campaign (#2073)
  gyrinx/core/handlers/campaign_copy.py
  gyrinx/core/migrations/0199_campaign_action_template_campaign.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_new.html
  gyrinx/core/templates/core/includes/campaign_action_item.html
  gyrinx/core/tests/test_campaign_copy.py
  gyrinx/core/views/campaign/actions.py
  gyrinx/core/views/campaign/crud.py
  gyrinx/core/views/campaign/views.py
  scripts/raw_markup_baseline.json
Due: check-fmt

test: give the set-gear category a valid group
  gyrinx/core/models/list/fighter.py
  gyrinx/core/tests/test_mod_ordering.py
Due: none

fix: roll results must not stack on a set either, and correct the comment
  gyrinx/core/models/list/fighter.py
  gyrinx/core/tests/test_mod_ordering.py
Due: none

fix: stop advancements stacking on a stat that gear sets (#2077)
  gyrinx/core/models/list/fighter.py
  gyrinx/core/tests/test_mod_ordering.py
Due: none
