Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

fix: retry contended allowance initialisation
  n26/core/action_initialisation.py
  n26/core/allowances.py
  n26/core/test_action_initialisation.py
  n26/maintenance.py
Due: none

fix: wait for counter history before allowance initialisation
  n26/core/action_initialisation.py
  n26/core/test_action_initialisation.py
  n26/maintenance.py
Due: none

fix: keep ordinary gear choices on the card
  n26/core/render.py
  n26/core/templates/cotton/n26/model_card/body.html
  n26/designsystem/sampledata.py
  n26/tests/sandbox/test_choosing.py
Due: none

test: use valid counter checkpoints for allowance initialisation
  n26/core/test_action_initialisation.py
Due: none

fix: preserve item choices across card renderers
  n26/core/capture.py
  n26/core/printing.py
  n26/core/render.py
  n26/core/render_text.py
  n26/tests/sandbox/test_choosing.py
Due: none

fix: serialize allowance initialisation
  n26/core/action_initialisation.py
  n26/core/test_action_initialisation.py
  n26/maintenance.py
Due: none

feat: show item choice details
  n26/core/render.py
  n26/core/templates/cotton/n26/choice_offer.html
  n26/core/templates/n26/includes/gear_lines.html
  n26/core/views/gangs.py
  n26/designsystem/sampledata.py
  n26/tests/sandbox/test_choosing.py
Due: none

feat: add shared flow progress and payment figures
  n26/core/flow.py
  n26/core/templates/cotton/n26/flow_progress.html
  n26/core/templates/cotton/n26/payment_figures.html
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/flow-progress/10-review.html
  n26/designsystem/templates/designsystem/demos/flow-progress/20-advancement.html
  n26/designsystem/templates/designsystem/demos/payment-figures/10-counter.html
  n26/designsystem/templates/designsystem/demos/payment-figures/20-mixed.html
Due: none

fix: explain unavailable action choices and form errors
  n26/core/templates/n26/action_flow.html
  n26/core/views/action_flows.py
  n26/core/views/advancement_flows.py
  n26/tests/sandbox/test_advancement_action_flows.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

feat: explain dormant fighter actions
  n26/core/action_flow.py
  n26/core/templates/n26/action_flow.html
  n26/core/views/action_flows.py
  n26/core/views/edit.py
  n26/tests/sandbox/test_advancement_action_flows.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

fix: keep fighter action forms clear and resumable
  n26/core/action_forms.py
  n26/core/templates/n26/action_flow.html
  n26/core/templates/n26/includes/action_panels.html
  n26/core/templates/n26/includes/action_skills.html
  n26/core/templates/n26/includes/model_card_update.html
  n26/core/views/action_flows.py
  n26/core/views/advancement_flows.py
  n26/core/views/edit.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

test: account for action readiness query
  n26/core/action_flow.py
  n26/core/test_views_edit.py
  n26/core/views/action_flows.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

test: cover advancement action flows
  n26/tests/sandbox/test_advancement_action_flows.py
Due: none

feat: add fighter action flow pages
  n26/core/action_flow.py
  n26/core/action_forms.py
  n26/core/templates/cotton/n26/view/model_edit.html
  n26/core/templates/n26/action_flow.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/action_panels.html
  n26/core/templates/n26/includes/action_skills.html
  n26/core/test_views_edit.py
  n26/core/views/__init__.py
  n26/core/views/action_flows.py
  n26/core/views/advancement_flows.py
  n26/core/views/edit.py
  n26/tests/sandbox/test_fighter_action_flows.py
  n26/urls.py
Due: none

docs: link the fighter action build stack
  design/exploration/fighter-actions/BUILD.md
  n26/design/fighter-actions.md
Due: check-fmt, markdownlint

docs: preserve fighter action exploration
  design/exploration/README.md
  design/exploration/fighter-actions/README.md
  design/exploration/fighter-actions/action-allowance-flow.mmd
  design/exploration/fighter-actions/action-allowance-flow.svg
  design/exploration/fighter-actions/action-data-model.html
  design/exploration/fighter-actions/action-data-model.md
  design/exploration/fighter-actions/action-data-model.yaml
  design/exploration/fighter-actions/action-payment-flow.mmd
  design/exploration/fighter-actions/action-payment-flow.svg
  design/exploration/fighter-actions/action-relationships.mmd
  design/exploration/fighter-actions/action-relationships.svg
  design/exploration/fighter-actions/build_data_model.rb
  design/exploration/fighter-actions/build_diagrams.py
  design/exploration/fighter-actions/data-model.template.html
  design/exploration/fighter-actions/index.html
Due: check-fmt, markdownlint

docs: link write pause and activation PRs in fighter action plan
  design/exploration/fighter-actions/BUILD.md
Due: check-fmt, markdownlint

docs: explain fighter action rollout activation
  design/exploration/fighter-actions/BUILD.md
  design/exploration/fighter-actions/README.md
  design/exploration/fighter-actions/action-data-model.html
  design/exploration/fighter-actions/action-data-model.md
  design/exploration/fighter-actions/action-data-model.yaml
  n26/design/fighter-actions.md
Due: check-fmt, markdownlint

docs: explain fighter action build and activation
  .pre-commit-config.yaml
  design/exploration/fighter-actions/BUILD.md
  n26/design/fighter-actions.md
  pyproject.toml
Due: check-fmt, markdownlint

fix: reject unchanged prototype purchases
  design/exploration/fighter-actions/index.html
Due: none

docs: add fighter action gallery and guide
  n26/design/fighter-actions.md
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/view-model-edit/10-edit.html
  n26/designsystem/tests.py
Due: check-fmt, markdownlint

feat: add can_go_negative so campaign resources can drop below zero (#2593)
  docs/developing-gyrinx/models-and-database.md
  docs/n23/campaigns.md
  docs/n23/manual-testing-guide.md
  n23/core/admin/campaign.py
  n23/core/forms/campaign.py
  n23/core/forms/post_battle.py
  n23/core/handlers/campaign_copy.py
  n23/core/migrations/0216_campaign_resource_can_go_negative.py
  n23/core/models/campaign.py
  n23/core/templates/core/campaign/campaign_resource_modify.html
  n23/core/templates/core/campaign/includes/resource_type_form_fields.html
  n23/core/tests/test_campaign_copy.py
  n23/core/tests/test_campaign_resources.py
  n23/core/tests/test_post_battle_updates.py
  n23/core/utils.py
  scripts/raw_markup_baseline.json
Due: check-fmt, markdownlint

fix: keep model card status beside its rating
  n26/core/templates/cotton/n26/model_card/index.html
  n26/designsystem/tests.py
Due: none

fix: keep model card status beside its rating (#2596)
  n26/core/templates/cotton/n26/model_card/index.html
  n26/designsystem/tests.py
Due: none

chore: keep write-pause working inventory outside the repository
  .claude/notes/n26-write-pause-inventory.md
Due: check-fmt, markdownlint

docs: keep agent notes outside the repository
  .claude/commands/gissue.md
  .gitignore
  CLAUDE.md
Due: check-fmt, markdownlint

fix: handle an empty agent notes directory
  .claude/commands/gissue.md
Due: check-fmt, markdownlint

docs: keep agent note guidance soft-wrapped
  .claude/commands/gissue.md
  CLAUDE.md
Due: check-fmt, markdownlint

fix: close write-pause admission gaps
  gyrinx/maintenance/templates/admin/maintenance/write_pause.html
  gyrinx/maintenance/tests/test_admin_views.py
  gyrinx/maintenance/views.py
  gyrinx/site/middleware.py
  gyrinx/site/tests/test_write_pause.py
  gyrinx/site/write_pause.py
  gyrinx/tasks/local_backend.py
  gyrinx/tasks/testing.py
  gyrinx/tasks/tests/test_local_backend.py
  gyrinx/tasks/tests/test_views.py
  n26/library/authoring.py
  n26/library/ingest.py
  n26/test_write_pause.py
Due: none

docs: keep agent working notes outside the repository (#2597)
  .claude/commands/gissue.md
  .gitignore
  CLAUDE.md
Due: check-fmt, markdownlint

fix: style the n26 write pause notice
  n26/core/templates/n26/layouts/base.html
  n26/test_write_pause.py
Due: none

fix: a stacked branch that cannot merge into main is a note, not a problem
  .github/workflows/migration-watch.yml
  gyrinx/tests/test_migration_watch_report.py
  scripts/migration_watch_report.py
Due: check-fmt

Add fighter action records and counter history
  n26/core/migrations/0069_fighter_action_records_and_counter_events.py
  n26/core/models/__init__.py
  n26/core/models/action_record.py
  n26/core/models/ledger.py
  n26/core/operations.py
  n26/core/reconcile.py
  n26/core/test_action_records.py
Due: none

fix: read current counter values under the gang lock
  n26/core/operations.py
  n26/core/test_action_records.py
Due: none

fix: constrain fighter action history records
  n26/core/migrations/0071_alter_ledgerevent_options_and_more.py
  n26/core/models/action_record.py
  n26/core/models/ledger.py
  n26/core/test_action_records.py
Due: none

fix: keep counter history complete and player logs clear
  .claude/notes/counter-migration-volume-evidence.md
  .claude/notes/counter-migration-volume-evidence.py
  n26/core/duplicate_grants.py
  n26/core/history.py
  n26/core/migrations/0069_fighter_action_records_and_counter_events.py
  n26/core/reconcile.py
  n26/core/test_action_records.py
  n26/tests/sandbox/test_duplicate_grants.py
  n26/tests/sandbox/test_gang_history.py
Due: check-fmt, markdownlint

fix: preserve counter history during repair and rollback
  n26/core/duplicate_grants.py
  n26/core/migrations/0069_fighter_action_records_and_counter_events.py
  n26/tests/sandbox/test_duplicate_grants.py
Due: none

fix: allow fighter action records to cascade
  n26/core/migrations/0070_alter_actionrecord_allowance.py
  n26/core/models/action_record.py
  n26/core/test_action_records.py
Due: none

fix: reconcile legacy counter repairs
  n26/core/campaign_packs.py
  n26/core/duplicate_grants.py
  n26/core/history.py
  n26/tests/sandbox/test_duplicate_grants.py
Due: none
