Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

feat: add counters and roll tables for fighters (#1426)
  gyrinx/content/admin.py
  gyrinx/content/migrations/0156_add_counter_and_roll_table_models.py
  gyrinx/content/models/__init__.py
  gyrinx/content/models/counter.py
  gyrinx/content/models/roll_table.py
  gyrinx/core/forms/list.py
  gyrinx/core/migrations/0130_add_list_fighter_counter.py
  gyrinx/core/migrations/0131_add_related_name_to_listfightercounter_counter.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/includes/fighter_card_content_inner.html
  gyrinx/core/templates/core/includes/fighter_switcher.html
  gyrinx/core/templates/core/includes/list_common_header.html
  gyrinx/core/templates/core/list_fighter_counters_edit.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_counters.py
  gyrinx/core/urls.py
  gyrinx/core/views/fighter/counters.py
  gyrinx/core/views/fighter/permissions.py
Due: check-fmt

feat: add Discord-to-GitHub issue creation via message context menu (#1429)
  .env.example
  .github/scripts/discord_issue.py
  .github/workflows/discord-issue.yml
  gyrinx/api/management/__init__.py
  gyrinx/api/management/commands/__init__.py
  gyrinx/api/management/commands/register_discord_commands.py
  gyrinx/api/tests.py
  gyrinx/api/urls.py
  gyrinx/api/views.py
  gyrinx/core/tasks.py
  gyrinx/settings.py
  gyrinx/tasks/registry.py
  requirements.txt
Due: check-fmt

feat: add campaign-scoped dynamic attributes (#1291)
  gyrinx/core/admin/campaign.py
  gyrinx/core/forms/campaign.py
  gyrinx/core/migrations/0130_add_campaign_attributes.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_attribute_type_edit.html
  gyrinx/core/templates/core/campaign/campaign_attribute_type_new.html
  gyrinx/core/templates/core/campaign/campaign_attribute_type_remove.html
  gyrinx/core/templates/core/campaign/campaign_attribute_value_edit.html
  gyrinx/core/templates/core/campaign/campaign_attribute_value_new.html
  gyrinx/core/templates/core/campaign/campaign_attribute_value_remove.html
  gyrinx/core/templates/core/campaign/campaign_attributes.html
  gyrinx/core/templates/core/campaign/campaign_list_attribute_assign.html
  gyrinx/core/templates/core/campaign/includes/attribute_type_form_fields.html
  gyrinx/core/templates/core/campaign/includes/attribute_value_form_fields.html
  gyrinx/core/tests/test_campaign_attributes.py
  gyrinx/core/urls.py
  gyrinx/core/views/campaign/attributes.py
  gyrinx/core/views/campaign/views.py
Due: none

fix: address PR review feedback and rebase onto main
  gyrinx/content/migrations/0157_add_counter_and_roll_table_models.py
  gyrinx/core/migrations/0130_add_list_fighter_counter.py
  gyrinx/core/migrations/0131_add_related_name_to_listfightercounter_counter.py
  gyrinx/core/models/list.py
  gyrinx/core/views/fighter/counters.py
  gyrinx/core/views/fighter/permissions.py
Due: none

feat: add counters and roll tables for fighters (#1426) (#1432)
  gyrinx/content/admin.py
  gyrinx/content/migrations/0157_add_counter_and_roll_table_models.py
  gyrinx/content/models/__init__.py
  gyrinx/content/models/counter.py
  gyrinx/content/models/roll_table.py
  gyrinx/core/forms/list.py
  gyrinx/core/migrations/0130_add_list_fighter_counter.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/includes/fighter_card_content_inner.html
  gyrinx/core/templates/core/includes/fighter_switcher.html
  gyrinx/core/templates/core/includes/list_common_header.html
  gyrinx/core/templates/core/list_fighter_counters_edit.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_counters.py
  gyrinx/core/urls.py
  gyrinx/core/views/fighter/counters.py
  gyrinx/core/views/fighter/permissions.py
Due: check-fmt

fix: reverse list creation flow so pack selection happens before form
  gyrinx/core/forms/list.py
  gyrinx/core/templates/core/list_new.html
  gyrinx/core/templates/core/list_new_packs.html
  gyrinx/core/tests/test_list_packs.py
  gyrinx/core/urls.py
  gyrinx/core/views/list/views.py
Due: none

fix: address PR review feedback and move Your Lists to dropdown
  gyrinx/conftest.py
  gyrinx/core/forms/list.py
  gyrinx/core/migrations/0131_list_packs_m2m.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/list_edit.html
  gyrinx/core/templates/core/list_new_packs.html
  gyrinx/core/templates/core/list_packs.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_lists.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_list_packs.py
  gyrinx/core/urls.py
  gyrinx/core/views/fighter/rules.py
  gyrinx/core/views/pack.py
Due: check-fmt

feat: add pack subscriptions for lists (#1405)
  gyrinx/core/forms/list.py
  gyrinx/core/migrations/0130_list_packs_m2m.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/list.html
  gyrinx/core/templates/core/list_edit.html
  gyrinx/core/templates/core/list_new_packs.html
  gyrinx/core/templates/core/list_packs.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/tests/test_list_packs.py
  gyrinx/core/urls.py
  gyrinx/core/views/fighter/rules.py
  gyrinx/core/views/list/views.py
  gyrinx/core/views/pack.py
Due: none

fix: harden pack subscription security and fix double query
  gyrinx/conftest.py
  gyrinx/core/templates/core/list_new.html
  gyrinx/core/tests/test_list_packs.py
  gyrinx/core/views/list/views.py
  gyrinx/core/views/pack.py
Due: none

Add content pack subscription system for lists (#1431)
  gyrinx/conftest.py
  gyrinx/core/forms/list.py
  gyrinx/core/migrations/0131_list_packs_m2m.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/list.html
  gyrinx/core/templates/core/list_edit.html
  gyrinx/core/templates/core/list_new.html
  gyrinx/core/templates/core/list_new_packs.html
  gyrinx/core/templates/core/list_packs.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_lists.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_list_packs.py
  gyrinx/core/urls.py
  gyrinx/core/views/fighter/rules.py
  gyrinx/core/views/list/views.py
  gyrinx/core/views/pack.py
Due: check-fmt

fix: assign stable keys at row creation, not on first keystroke
  gyrinx/core/templates/core/campaign/includes/property_schema_editor.html
  gyrinx/core/templates/core/campaign/includes/sub_asset_schema_editor.html
Due: none

feat: add /pr-comments slash command for fetching PR feedback
  .claude/commands/pr-comments.md
  CLAUDE.md
  scripts/fetch-pr-comments.sh
Due: check-fmt, markdownlint

fix: hide asset properties whose key is no longer in the schema
  gyrinx/core/models/campaign.py
Due: none

fix: address PR review feedback on Discord integration
  .github/scripts/discord_issue.py
  .github/workflows/discord-issue.yml
  gyrinx/api/tests.py
  gyrinx/api/views.py
Due: check-fmt

fix: make asset property keys stable across label renames (#1436)
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/campaign/includes/property_schema_editor.html
  gyrinx/core/templates/core/campaign/includes/sub_asset_schema_editor.html
Due: none

refactor: convert pr-comments from command to skill
  .claude/skills/pr-comments/SKILL.md
  .claude/skills/pr-comments/scripts/fetch-pr-comments.sh
  CLAUDE.md
Due: check-fmt, markdownlint

feat: add Discord-to-GitHub issue creation via message context menu (#1433)
  .env.example
  .github/scripts/discord_issue.py
  .github/workflows/discord-issue.yml
  gyrinx/api/management/__init__.py
  gyrinx/api/management/commands/__init__.py
  gyrinx/api/management/commands/register_discord_commands.py
  gyrinx/api/tests.py
  gyrinx/api/urls.py
  gyrinx/api/views.py
  gyrinx/core/tasks.py
  gyrinx/settings.py
  gyrinx/tasks/registry.py
  requirements.txt
Due: check-fmt

feat: add campaign-scoped dynamic attributes (#1291)
  gyrinx/core/admin/campaign.py
  gyrinx/core/forms/campaign.py
  gyrinx/core/migrations/0132_add_campaign_attributes.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_attribute_type_edit.html
  gyrinx/core/templates/core/campaign/campaign_attribute_type_new.html
  gyrinx/core/templates/core/campaign/campaign_attribute_type_remove.html
  gyrinx/core/templates/core/campaign/campaign_attribute_value_edit.html
  gyrinx/core/templates/core/campaign/campaign_attribute_value_new.html
  gyrinx/core/templates/core/campaign/campaign_attribute_value_remove.html
  gyrinx/core/templates/core/campaign/campaign_attributes.html
  gyrinx/core/templates/core/campaign/campaign_list_attribute_assign.html
  gyrinx/core/templates/core/campaign/includes/attribute_type_form_fields.html
  gyrinx/core/templates/core/campaign/includes/attribute_value_form_fields.html
  gyrinx/core/tests/test_campaign_attributes.py
  gyrinx/core/urls.py
  gyrinx/core/views/campaign/attributes.py
  gyrinx/core/views/campaign/views.py
Due: none

refactor: integrate attributes into Gangs table on campaign dashboard
  gyrinx/core/forms/campaign.py
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_attributes.html
  gyrinx/core/templates/core/campaign/includes/campaign_lists.html
  gyrinx/core/tests/test_campaign_attributes.py
Due: none

perf: avoid duplicate prefetch queries on list detail page
  gyrinx/core/views/list/views.py
Due: none

fix: use pack-aware queryset for content-pack rule lookups
  gyrinx/core/tests/test_list_fighter_rules.py
  gyrinx/core/views/fighter/rules.py
Due: none

feat: add attribute types to campaign copy flow
  gyrinx/core/forms/campaign.py
  gyrinx/core/handlers/campaign_copy.py
  gyrinx/core/templates/core/campaign/campaign_copy_from.html
  gyrinx/core/templates/core/campaign/campaign_copy_to.html
  gyrinx/core/tests/test_campaign_copy.py
  gyrinx/core/views/campaign/copy.py
Due: none

fix: add archived guards to attribute edit views and fix colour input
  gyrinx/core/forms/campaign.py
  gyrinx/core/templates/core/campaign/campaign_attributes.html
  gyrinx/core/views/campaign/attributes.py
Due: none

feat: auto-label GitHub issues with claude-code-web in web sessions
  CLAUDE.md
  scripts/setup_web.sh
Due: check-fmt, markdownlint

fix: broaden bot actor workaround for scheduled Claude workflows
  .github/workflows/claude-code-improvement.yml
  .github/workflows/claude-docs-update.yml
  .github/workflows/weekly-summary.yml
Due: check-fmt

fix: use ColorRadioSelect widget for attribute value colour
  gyrinx/core/forms/campaign.py
Due: none

fix: update colour palette to new dark/base/light scheme
  gyrinx/core/widgets.py
Due: none

fix: arrange colour palette in 6-column grid with paired hues
  gyrinx/core/templates/core/widgets/color_radio_option.html
  gyrinx/core/templates/core/widgets/color_radio_select.html
  gyrinx/core/widgets.py
Due: none

fix: move None and White to first row of colour palette
  gyrinx/core/widgets.py
Due: none

fix: make None and White labels stretch to fill their grid columns
  gyrinx/core/templates/core/widgets/color_radio_option.html
  gyrinx/core/templates/core/widgets/color_radio_select.html
Due: none

fix: update colour palette values and hue names
  gyrinx/core/widgets.py
Due: none

fix: address Copilot review feedback on pr-comments skill
  .claude/skills/pr-comments/SKILL.md
  .claude/skills/pr-comments/scripts/fetch-pr-comments.sh
Due: check-fmt, markdownlint

fix: broaden bot actor workaround for scheduled Claude workflows (#1443)
  .github/workflows/claude-code-improvement.yml
  .github/workflows/claude-docs-update.yml
  .github/workflows/weekly-summary.yml
Due: check-fmt

fix: 404 when adding content-pack rule to a fighter in a list (#1442)
  gyrinx/core/tests/test_list_fighter_rules.py
  gyrinx/core/views/fighter/rules.py
Due: none

Optimize list view by filtering prefetched data in Python (#1444)
  gyrinx/core/views/list/views.py
Due: none

Add pr-comments skill for fetching PR feedback data (#1440)
  .claude/skills/pr-comments/SKILL.md
  .claude/skills/pr-comments/scripts/fetch-pr-comments.sh
  CLAUDE.md
Due: check-fmt, markdownlint

Update CLAUDE.md
  CLAUDE.md
Due: check-fmt, markdownlint

fix: default rules not saving on custom fighter edit page
  gyrinx/core/forms/pack.py
  gyrinx/core/tests/test_views_pack.py
Due: none

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
