Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

test: assert detach htmx update redraws the accessory as its own row
  n26/core/test_views_owned.py
Due: none

fix: hide Fit on stash accessories and name stash after detach
  n26/core/owned.py
  n26/core/test_views_owned.py
  n26/core/views/owned.py
  n26/designsystem/catalog.py
Due: none

fix: refuse a built-in or firing-line detach in words and skip the empty Fit panel
  n26/core/templates/cotton/n26/owned_dialog.html
  n26/core/test_views_edit.py
  n26/core/test_views_owned.py
  n26/core/views/owned.py
  n26/tests/sandbox/test_listing.py
Due: none

fix: let the n26 quick-switcher list scroll on a phone
  n26/core/templates/cotton/n26/quick_switcher/index.html
  n26/core/templates/cotton/ui/dropdown/index.html
  n26/core/test_menu_position.py
  n26/core/test_quick_switcher.py
  n26/designsystem/catalog.py
Due: none

fix: refuse any move of a built-in WeaponAccessory in reassign_assignment, naming the gun
  n26/core/test_views_owned.py
  n26/core/views/owned.py
Due: none

docs: say in can_unbolt that Operation.move does not enforce the built-in rule
  n26/core/owned.py
  n26/core/views/owned.py
  n26/designsystem/catalog.py
Due: none

fix: reload the stash tab after an htmx detach so the WeaponAccessory's new row is drawn
  n26/core/test_views_owned.py
  n26/core/views/owned.py
Due: none

feat: n26 accessory kebab can detach a WeaponAccessory onto the fighter (#2403)
  n26/core/listing.py
  n26/core/operations.py
  n26/core/owned.py
  n26/core/templates/cotton/n26/owned_dialog.html
  n26/core/test_views_edit.py
  n26/core/test_views_owned.py
  n26/core/views/owned.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/owned-dialog/36-detaching.html
  n26/designsystem/tests.py
  n26/tests/sandbox/test_listing.py
Due: none

fix: let the n26 quick-switcher list scroll on a phone (#2407)
  n26/core/templates/cotton/n26/quick_switcher/index.html
  n26/core/templates/cotton/ui/dropdown/index.html
  n26/core/test_menu_position.py
  n26/core/test_quick_switcher.py
  n26/designsystem/catalog.py
Due: none

feat: price the Unrestricted equip tab from the lists held, and spin the rail tab clicked
  n26/core/browse.py
  n26/core/static/n26/busy.js
  n26/core/templates/n26/equip.html
  n26/core/templates/n26/gang_equip.html
  n26/core/templates/n26/includes/unrestricted_note.html
  n26/core/test_views_equip.py
  n26/core/test_views_gang_equip.py
  n26/core/views/equip.py
Due: check-fmt

feat: maintenance op n26_rehost_gang_picks moves gang-held slot picks off models onto the gang
  n26/core/rehost_picks.py
  n26/core/templates/admin/maintenance/n26/_rehost_detail.html
  n26/maintenance.py
  n26/tests/sandbox/test_rehost_picks.py
Due: none

fix: the Unrestricted note says items the post does not include keep their standard price
  n26/core/templates/n26/includes/unrestricted_note.html
Due: none

style: fix two comment typos in busy.js and all_gear
  n26/core/browse.py
  n26/core/static/n26/busy.js
Due: check-fmt

revert: drop the /discord/ data migration
  gyrinx/pages/migrations/0008_discord_redirect.py
  gyrinx/pages/tests/test_redirects.py
Due: none

feat: offer the Unrestricted library tab on the n26 fighter equip page (#2404)
  n26/core/browse.py
  n26/core/static/n26/busy.js
  n26/core/templates/n26/equip.html
  n26/core/templates/n26/gang_equip.html
  n26/core/templates/n26/includes/unrestricted_note.html
  n26/core/test_views_equip.py
  n26/core/test_views_gang_equip.py
  n26/core/views/equip.py
Due: check-fmt

feat: a clicked equip rail tab takes the current look and the catalogue shows the wait
  n26/core/static/n26/busy.js
  n26/core/templates/n26/equip.html
  n26/core/templates/n26/gang_equip.html
  n26/core/templates/n26/includes/equip_rail.html
  n26/core/test_views_equip.py
  n26/core/test_views_gang_equip.py
  n26/designsystem/assets/app.css
Due: check-fmt

fix: the equip rail wait honours data-busy="off" and moves aria-current with the look
  n26/core/static/n26/busy.js
  n26/designsystem/catalog.py
Due: check-fmt

docs: plain-English pass over the equip rail wait's comments and gallery note
  n26/core/static/n26/busy.js
  n26/core/templates/n26/includes/equip_rail.html
  n26/core/test_views_equip.py
  n26/designsystem/assets/app.css
  n26/designsystem/catalog.py
Due: check-fmt

feat: show the equip catalogue's wait when a rail tab is clicked (#2410)
  n26/core/static/n26/busy.js
  n26/core/templates/n26/equip.html
  n26/core/templates/n26/gang_equip.html
  n26/core/templates/n26/includes/equip_rail.html
  n26/core/test_views_equip.py
  n26/core/test_views_gang_equip.py
  n26/designsystem/assets/app.css
  n26/designsystem/catalog.py
Due: check-fmt

feat: IsProfileType — a model scope condition on Fighter or Vehicle
  n26/library/authoring.py
  n26/library/migrations/0075_is_profile_type.py
  n26/library/models/__init__.py
  n26/library/models/modifier.py
  n26/library/specs.py
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_authoring_verbs.py
  n26/tests/sandbox/test_generated_forms.py
  n26/tests/sandbox/test_prose.py
  n26/tests/sandbox/test_standing_grants.py
Due: none

fix: prefetch IsProfileType rows with the other conditions in build_modifier_index
  n26/core/card.py
Due: none

fix: reach prose says "every vehicle" for an IsProfileType narrowing
  n26/library/prose.py
  n26/tests/sandbox/test_prose.py
Due: none

feat: attach one modifier to several things from a kind's listing
  n26/library/templates/authoring/_leaf_table.html
  n26/library/templates/authoring/attach_modifier.html
  n26/library/templates/authoring/leaf.html
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
  n26/urls.py
Due: none

test: the lasting-effect tables reach models as a standing grant on the gang type
  n26/library/recipes.md
  n26/library/standard_content.py
  n26/tests/sandbox/test_lasting_effects.py
  n26/tests/sandbox/test_standing_grants.py
Due: check-fmt, markdownlint

perf: answer a kit-menu click on the n26 fighter edit page with the confirmation panel alone
  n26/core/templates/cotton/n26/model_card/body.html
  n26/core/templates/cotton/n26/owned_actions.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/equip_panel.html
  n26/core/templates/n26/includes/menu_item.html
  n26/core/test_views_edit.py
  n26/core/views/edit.py
  n26/core/views/equip.py
  n26/core/views/owned.py
Due: none

feat: IsProfileType — a model scope condition on Fighter or Vehicle (#2392)
  n26/core/card.py
  n26/library/authoring.py
  n26/library/migrations/0075_is_profile_type.py
  n26/library/models/__init__.py
  n26/library/models/modifier.py
  n26/library/prose.py
  n26/library/specs.py
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_authoring_verbs.py
  n26/tests/sandbox/test_generated_forms.py
  n26/tests/sandbox/test_prose.py
  n26/tests/sandbox/test_standing_grants.py
Due: none

feat: attach one modifier to several things from a kind's listing (#2393)
  n26/library/templates/authoring/_leaf_table.html
  n26/library/templates/authoring/attach_modifier.html
  n26/library/templates/authoring/leaf.html
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
  n26/urls.py
Due: none

test: the lasting-effect tables reach models as a standing grant on the gang type (#2395)
  n26/library/recipes.md
  n26/library/standard_content.py
  n26/tests/sandbox/test_lasting_effects.py
  n26/tests/sandbox/test_standing_grants.py
Due: check-fmt, markdownlint

fix: thread htmx to the weapon's own menu on the n26 model card, and answer the panel before the skills offer
  n26/core/templates/cotton/n26/owned_actions.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/equip_panel.html
  n26/core/templates/n26/includes/menu_item.html
  n26/core/templates/n26/includes/weapon_name.html
  n26/core/test_views_edit.py
  n26/core/test_views_equip.py
  n26/core/views/edit.py
  n26/core/views/owned.py
Due: none

perf: answer a kit-menu click on the n26 fighter edit page with the confirmation panel alone (#2411)
  n26/core/templates/cotton/n26/model_card/body.html
  n26/core/templates/cotton/n26/owned_actions.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/equip_panel.html
  n26/core/templates/n26/includes/menu_item.html
  n26/core/templates/n26/includes/weapon_name.html
  n26/core/test_views_edit.py
  n26/core/test_views_equip.py
  n26/core/views/edit.py
  n26/core/views/equip.py
  n26/core/views/owned.py
Due: none

fix: wrap n26 radio-card titles so the Deprecated pill stays inside the card
  n26/core/templates/cotton/n26/flair_link.html
  n26/core/templates/cotton/n26/radio_cards/card.html
  n26/core/templates/cotton/n26/radio_cards/index.html
  n26/core/test_page_header.py
  n26/core/test_radio_cards.py
  n26/designsystem/templates/designsystem/demos/radio-cards/30-wrapping.html
  n26/designsystem/tests.py
  n26/tests/sandbox/test_authoring_views.py
Due: none

fix: keep a wrapping flair-link pill off the title line
  n26/core/templates/cotton/n26/flair_link.html
  n26/core/test_page_header.py
  n26/core/test_radio_cards.py
Due: none

fix: omit the Add prompt from n26 printed slot rows
  n26/core/printing.py
  n26/core/test_printing.py
  n26/designsystem/tests.py
Due: none

fix: show the chosen row on n26 native multiple selects
  n26/core/templates/cotton/ui/select/native.html
  n26/core/test_select_native.py
  n26/designsystem/assets/app.css
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/select/40-multiple.html
  n26/designsystem/tests.py
  n26/tests/sandbox/test_authoring_views.py
Due: none

fix: scope rehost_picks.find() to one gang under the lock, and test the rollback and stale-plan paths
  n26/core/rehost_picks.py
  n26/core/templates/admin/maintenance/n26/_rehost_detail.html
  n26/maintenance.py
  n26/tests/sandbox/test_rehost_picks.py
Due: none

fix: prose says every model-scope narrowing, and a guard holds it to CONDITIONS
  n26/library/prose.py
  n26/tests/sandbox/test_prose.py
Due: none

feat: the Spyrer glitch and delegation injury tables join the lasting-effect seed
  n26/library/recipes.md
  n26/library/standard_content.py
  n26/tests/sandbox/test_lasting_effects.py
Due: check-fmt, markdownlint

fix: omit the Add prompt from n26 printed slot rows (#2413)
  n26/core/printing.py
  n26/core/test_printing.py
  n26/designsystem/tests.py
Due: none

fix: wrap n26 radio-card titles and mark chosen multiple-select rows (#2412)
  n26/core/templates/cotton/n26/flair_link.html
  n26/core/templates/cotton/n26/radio_cards/card.html
  n26/core/templates/cotton/n26/radio_cards/index.html
  n26/core/templates/cotton/ui/select/native.html
  n26/core/test_page_header.py
  n26/core/test_radio_cards.py
  n26/core/test_select_native.py
  n26/designsystem/assets/app.css
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/radio-cards/30-wrapping.html
  n26/designsystem/templates/designsystem/demos/select/40-multiple.html
  n26/designsystem/tests.py
  n26/tests/sandbox/test_authoring_views.py
Due: none

test: the model-narrowing guard checks it found the conditions, and the narrowings are plain functions
  n26/library/prose.py
  n26/tests/sandbox/test_prose.py
Due: none
