Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

Add GitHub label management for Claude Code Web sessions (#1445)
  CLAUDE.md
  scripts/setup_web.sh
Due: check-fmt, markdownlint

fix: address review feedback on rules initial values
  CLAUDE.md
  gyrinx/core/forms/pack.py
  gyrinx/core/tests/test_views_pack.py
Due: check-fmt, markdownlint

feat: post visible channel reply when Discord issue is created
  .github/scripts/discord_issue.py
Due: none

feat: add campaign-scoped dynamic attributes (#1291) (#1434)
  gyrinx/core/admin/campaign.py
  gyrinx/core/forms/campaign.py
  gyrinx/core/handlers/campaign_copy.py
  gyrinx/core/migrations/0132_add_campaign_attributes.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_attribute_type_edit.html
  gyrinx/core/templates/core/campaign/campaign_attribute_type_new.html
  gyrinx/core/templates/core/campaign/campaign_attribute_type_remove.html
  gyrinx/core/templates/core/campaign/campaign_attribute_value_edit.html
  gyrinx/core/templates/core/campaign/campaign_attribute_value_new.html
  gyrinx/core/templates/core/campaign/campaign_attribute_value_remove.html
  gyrinx/core/templates/core/campaign/campaign_attributes.html
  gyrinx/core/templates/core/campaign/campaign_copy_from.html
  gyrinx/core/templates/core/campaign/campaign_copy_to.html
  gyrinx/core/templates/core/campaign/campaign_list_attribute_assign.html
  gyrinx/core/templates/core/campaign/includes/attribute_type_form_fields.html
  gyrinx/core/templates/core/campaign/includes/attribute_value_form_fields.html
  gyrinx/core/templates/core/campaign/includes/campaign_lists.html
  gyrinx/core/templates/core/widgets/color_radio_option.html
  gyrinx/core/templates/core/widgets/color_radio_select.html
  gyrinx/core/tests/test_campaign_attributes.py
  gyrinx/core/tests/test_campaign_copy.py
  gyrinx/core/urls.py
  gyrinx/core/views/campaign/attributes.py
  gyrinx/core/views/campaign/copy.py
  gyrinx/core/views/campaign/views.py
  gyrinx/core/widgets.py
Due: none

fix: default rules not saving on custom fighter edit page (#1441)
  CLAUDE.md
  gyrinx/core/forms/pack.py
  gyrinx/core/tests/test_views_pack.py
Due: check-fmt, markdownlint

fix: restructure URL redirect validation to address CodeQL false positives
  gyrinx/core/utils.py
  gyrinx/core/views/campaign/actions.py
Due: none

fix: restructure URL redirect validation to address CodeQL false positives (#1450)
  gyrinx/core/utils.py
  gyrinx/core/views/campaign/actions.py
Due: none

style: unbold campaign attribute badges
  gyrinx/core/templates/core/campaign/campaign_attributes.html
  gyrinx/core/templates/core/campaign/includes/campaign_lists.html
Due: none

feat: post visible channel reply when Discord issue is created (#1449)
  .github/scripts/discord_issue.py
Due: none

Add font-weight-normal class to campaign attribute badges (#1451)
  gyrinx/core/templates/core/campaign/campaign_attributes.html
  gyrinx/core/templates/core/campaign/includes/campaign_lists.html
Due: none

fix: use Claude CLI directly for weekly summary instead of claude-code-action
  .github/workflows/weekly-summary.yml
Due: check-fmt

refactor: use FK on Campaign for group attribute, add dropdown UI and resource grouping
  gyrinx/core/migrations/0133_add_group_attribute_type_to_campaign.py
  gyrinx/core/migrations/0133_add_is_group_to_campaign_attribute_type.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_attributes.html
  gyrinx/core/templates/core/campaign/includes/campaign_lists.html
  gyrinx/core/templates/core/campaign/includes/resource_row.html
  gyrinx/core/tests/test_campaign_attributes.py
  gyrinx/core/urls.py
  gyrinx/core/views/campaign/attributes.py
  gyrinx/core/views/campaign/views.py
Due: none

fix: address CI failures and review feedback
  gyrinx/core/templates/core/campaign/includes/resource_row.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_campaign_attributes.py
  gyrinx/core/views/campaign/attributes.py
  gyrinx/core/views/campaign/views.py
Due: check-fmt

feat: allow Arb to designate a Group attribute for visual row dividers (#1452)
  gyrinx/core/migrations/0133_add_group_attribute_type_to_campaign.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_attributes.html
  gyrinx/core/templates/core/campaign/includes/campaign_lists.html
  gyrinx/core/templates/core/campaign/includes/resource_row.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_campaign_attributes.py
  gyrinx/core/urls.py
  gyrinx/core/views/campaign/attributes.py
  gyrinx/core/views/campaign/views.py
Due: check-fmt

fix: include pack houses in search page house filter dropdown
  gyrinx/core/tests/test_list_house_filter_security.py
  gyrinx/core/views/list/views.py
Due: none

fix: scope house dropdown to current result set
  gyrinx/core/tests/test_list_house_filter_security.py
  gyrinx/core/views/list/views.py
Due: none

fix: address PR feedback — pin CLI version, setup Node, drop git tools
  .github/workflows/weekly-summary.yml
Due: check-fmt

fix: use Claude CLI directly for weekly summary (#1458)
  .github/workflows/weekly-summary.yml
Due: check-fmt

fix: hide pack houses from logged-out users in house filter dropdown
  gyrinx/core/tests/test_list_house_filter_security.py
  gyrinx/core/views/list/views.py
Due: none

fix: include pack houses in search page house filter (#1446)
  gyrinx/core/tests/test_list_house_filter_security.py
  gyrinx/core/views/list/views.py
Due: none

chore: batch dependency updates (PRs #1453, #1455, #1457)
  gyrinx/core/forms/list.py
  gyrinx/core/forms/print_config.py
  package-lock.json
  package.json
  requirements.txt
  uv.lock
Due: check-fmt

chore: batch dependency updates (#1460)
  gyrinx/core/forms/list.py
  gyrinx/core/forms/print_config.py
  package-lock.json
  package.json
  requirements.txt
  uv.lock
Due: check-fmt

fix: pass branch name explicitly to gh pr view -R in pr-comments skill
  .claude/skills/pr-comments/scripts/fetch-pr-comments.sh
Due: none

feat: add campaign content pack integration with UX improvements
  .github/workflows/weekly-summary.yml
  gyrinx/core/forms/campaign.py
  gyrinx/core/forms/list.py
  gyrinx/core/forms/print_config.py
  gyrinx/core/handlers/campaign_copy.py
  gyrinx/core/migrations/0134_add_campaign_packs.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_add_lists.html
  gyrinx/core/templates/core/campaign/campaign_copy_from.html
  gyrinx/core/templates/core/campaign/campaign_copy_to.html
  gyrinx/core/templates/core/campaign/campaign_pack_remove.html
  gyrinx/core/templates/core/campaign/campaign_packs.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_campaigns.html
  gyrinx/core/tests/test_campaign_copy.py
  gyrinx/core/tests/test_campaign_packs.py
  gyrinx/core/tests/test_list_house_filter_security.py
  gyrinx/core/urls.py
  gyrinx/core/views/campaign/copy.py
  gyrinx/core/views/campaign/lists.py
  gyrinx/core/views/campaign/packs.py
  gyrinx/core/views/campaign/views.py
  gyrinx/core/views/list/invitations.py
  gyrinx/core/views/list/views.py
  gyrinx/core/views/pack.py
  package-lock.json
  package.json
  requirements.txt
  uv.lock
Due: check-fmt

feat: add /pr-feedback slash command for triaging PR review comments
  .claude/commands/pr-feedback.md
  CLAUDE.md
Due: check-fmt, markdownlint

docs: add LLM integration testing framework design document
  .claude/notes/llm-integration-testing-framework.md
Due: check-fmt, markdownlint

feat: add campaign content pack integration with UX improvements (#1461)
  .github/workflows/weekly-summary.yml
  gyrinx/core/forms/campaign.py
  gyrinx/core/forms/list.py
  gyrinx/core/forms/print_config.py
  gyrinx/core/handlers/campaign_copy.py
  gyrinx/core/migrations/0134_add_campaign_packs.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_add_lists.html
  gyrinx/core/templates/core/campaign/campaign_copy_from.html
  gyrinx/core/templates/core/campaign/campaign_copy_to.html
  gyrinx/core/templates/core/campaign/campaign_pack_remove.html
  gyrinx/core/templates/core/campaign/campaign_packs.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_campaigns.html
  gyrinx/core/tests/test_campaign_copy.py
  gyrinx/core/tests/test_campaign_packs.py
  gyrinx/core/tests/test_list_house_filter_security.py
  gyrinx/core/urls.py
  gyrinx/core/views/campaign/copy.py
  gyrinx/core/views/campaign/lists.py
  gyrinx/core/views/campaign/packs.py
  gyrinx/core/views/campaign/views.py
  gyrinx/core/views/list/invitations.py
  gyrinx/core/views/list/views.py
  gyrinx/core/views/pack.py
  package-lock.json
  package.json
  requirements.txt
  uv.lock
Due: check-fmt

Fix PR detection when using explicit repo argument (#1463)
  .claude/skills/pr-comments/scripts/fetch-pr-comments.sh
Due: none

refactor: convert pr-feedback from command to skill
  .claude/skills/pr-feedback/SKILL.md
  CLAUDE.md
Due: check-fmt, markdownlint

feat: add pr-feedback skill for triaging PR review comments (#1464)
  .claude/skills/pr-feedback/SKILL.md
  CLAUDE.md
Due: check-fmt, markdownlint

feat: add support for custom houses in content packs (#1462)
  gyrinx/core/forms/pack.py
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: none

feat: add support for custom houses in content packs (#1465)
  gyrinx/core/forms/pack.py
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: none

feat: add editor permissions for content packs (#1407)
  gyrinx/core/admin/pack.py
  gyrinx/core/migrations/0135_add_pack_permission.py
  gyrinx/core/models/__init__.py
  gyrinx/core/models/pack.py
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_permissions.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: none

perf: prefetch permissions in _get_pack_for_edit helper
  gyrinx/core/views/pack.py
Due: none

feat: add editor permissions for content packs (#1407) (#1466)
  gyrinx/core/admin/pack.py
  gyrinx/core/migrations/0135_add_pack_permission.py
  gyrinx/core/models/__init__.py
  gyrinx/core/models/pack.py
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_permissions.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: none

feat: add gear (non-weapon equipment) to content packs (#1469)
  gyrinx/core/forms/pack.py
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: none

fix: reject pack content names that duplicate base library (case-insensitive)
  gyrinx/core/forms/pack.py
  gyrinx/core/tests/test_views_pack.py
Due: none

refactor: rename Equipment to Gear and filter to non-weapon categories
  gyrinx/core/forms/pack.py
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: none

feat: add availability level field to gear form
  gyrinx/core/forms/pack.py
Due: none

fix: include pack equipment in fighter gear/weapons edit view
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/fighter/equipment.py
Due: none
