Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

build(deps): replace npm-run-all with the maintained npm-run-all2 fork (#2062)
  package-lock.json
  package.json
Due: check-fmt

fix: correct the fix hint the cotton gate prints
  scripts/check_cotton.py
Due: none

docs: point reviewers and agents at cotton adoption; drop two stale plans
  .claude/notes/cotton-bigbang-plan.md
  .claude/notes/design-system-page-upgrade.md
  .github/copilot-instructions.md
  .github/instructions/templates.instructions.md
  AGENTS.md
  CLAUDE.md
  gyrinx/core/templates/CLAUDE.md
  scripts/check_cotton.py
Due: check-fmt, markdownlint

docs: correct the `btn-` rule in the new guidance
  .github/instructions/templates.instructions.md
  gyrinx/core/templates/CLAUDE.md
Due: check-fmt, markdownlint

fix: label the cotton gate's finding accurately for both tag forms
  scripts/check_cotton.py
Due: none

fix: stop the ratchet test flaking, and drop a contradicting rule
  gyrinx/core/templates/CLAUDE.md
  scripts/check_raw_markup.py
Due: check-fmt, markdownlint

docs: point reviewers and agents at cotton adoption; drop two stale plans (#2059)
  .claude/notes/cotton-bigbang-plan.md
  .claude/notes/design-system-page-upgrade.md
  .github/copilot-instructions.md
  .github/instructions/templates.instructions.md
  AGENTS.md
  CLAUDE.md
  gyrinx/core/templates/CLAUDE.md
  scripts/check_cotton.py
  scripts/check_raw_markup.py
Due: check-fmt, markdownlint

style: lighten classic card background, enlarge weapon and detail text
  gyrinx/core/static/core/scss/_classic_card.scss
Due: check-fmt

refactor: drop an unreachable branch in detail_columns
  gyrinx/core/print_cards.py
  gyrinx/core/static/core/scss/_classic_card.scss
Due: check-fmt

fix: let blank cards spread their detail write-in boxes again
  gyrinx/core/print_cards.py
  gyrinx/core/static/core/scss/_classic_card.scss
Due: check-fmt

fix: keep the classic card's detail columns when printing
  gyrinx/core/print_cards.py
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/includes/classic_card.html
  gyrinx/core/tests/test_print_lab.py
Due: check-fmt

fix: classic card print — restore detail columns in print, lighter background, larger text (#2058)
  gyrinx/core/print_cards.py
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/includes/classic_card.html
  gyrinx/core/tests/test_print_lab.py
Due: check-fmt

fix: make the bg-body-tertiary utility match the section header surface
  gyrinx/core/static/core/scss/_tokens.scss
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/debug/design_system.html
Due: check-fmt

fix: make the bg-body-tertiary utility match the section header surface (#2065)
  gyrinx/core/static/core/scss/_tokens.scss
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/debug/design_system.html
Due: check-fmt

fix: campaign start page spacing and gang credit alignment
  gyrinx/core/templates/core/campaign/campaign_start.html
  scripts/raw_markup_baseline.json
Due: check-fmt

fix: campaign start page spacing and gang credit alignment (#2067)
  gyrinx/core/templates/core/campaign/campaign_start.html
  scripts/raw_markup_baseline.json
Due: check-fmt

feat: crew rating counts stash and spending; split the battle spread by balancing
  gyrinx/core/forms/battle.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/includes/battle_summary_card.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/battle.py
Due: none

fix: review follow-ups on the crew rating spread
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/templates/core/includes/battle_summary_card.html
  gyrinx/core/tests/test_campaign_battles_page.py
  gyrinx/core/tests/test_crew.py
Due: none

feat: extras before confirmation, rating subtotals, clearer locked badge
  gyrinx/core/migrations/0188_crew_membership_locked_label.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/crew.py
Due: none

style: rating subtotals sit in the column they total up to
  gyrinx/core/templates/core/crew/crew.html
Due: none

perf: the crew sheet walks its brought stash once, not twice
  gyrinx/core/handlers/crew.py
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/battle.py
  gyrinx/core/views/crew.py
Due: none

refactor: confirm-crew page uses the design-system components
  gyrinx/core/templates/core/crew/crew_lock.html
  gyrinx/core/tests/test_crew.py
  scripts/raw_markup_baseline.json
Due: check-fmt

docs: thin out the template comments, and write the rule down
  gyrinx/core/templates/CLAUDE.md
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/crew/crew_lock.html
  gyrinx/core/templates/core/includes/battle_summary_card.html
Due: check-fmt, markdownlint

docs: crew sheet calls its extras section "Spending & balancing"
  gyrinx/core/templates/core/crew/crew.html
Due: none

style: crew sheet drops the duplicate rating row and opens without a rule
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/crew.py
Due: none

feat: free extras sit in Spending at 0¢; drop the Free column
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/crew/crew_extra_form.html
  gyrinx/core/tests/test_crew.py
Due: none

style: crew page uses the full-width detail shell
  gyrinx/core/templates/core/crew/crew.html
Due: none

fix: the participants header has no empty cell above Gang
  gyrinx/core/templates/core/battle/battle.html
Due: none

chore: refresh the raw-markup baseline after rebasing on main
  scripts/raw_markup_baseline.json
Due: check-fmt

feat: crew rating counts stash and spending; split the battle spread by balancing (#2066)
  gyrinx/core/forms/battle.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/migrations/0188_crew_membership_locked_label.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/CLAUDE.md
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/crew/crew_extra_form.html
  gyrinx/core/templates/core/crew/crew_lock.html
  gyrinx/core/templates/core/includes/battle_summary_card.html
  gyrinx/core/tests/test_campaign_battles_page.py
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/battle.py
  gyrinx/core/views/crew.py
  scripts/raw_markup_baseline.json
Due: check-fmt, markdownlint

Small tweaks
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/crew/crew_loadouts.html
  gyrinx/core/templates/core/crew/crew_setup.html
  scripts/raw_markup_baseline.json
Due: check-fmt

style: tighter back link in the campaign header, tooltips on the crew columns
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/crew/crew_form.html
  gyrinx/core/templates/core/crew/crew_setup.html
  gyrinx/core/templates/core/crew/crew_stash.html
  gyrinx/core/templates/core/includes/campaign_common_header.html
  gyrinx/core/tests/test_crew.py
Due: none

style: the header back link is an icon-link
  gyrinx/core/templates/core/includes/campaign_common_header.html
Due: none

style: give the crew sheet's totals room to breathe
  gyrinx/core/templates/core/crew/crew.html
Due: none

feat: crews declare themselves ready, and their spending is charged at battle start
  gyrinx/core/handlers/battle.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/migrations/0189_crew_ready_and_credits_charged.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/templates/core/battle/battle_start.html
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/urls/campaign.py
  gyrinx/core/views/battle.py
  gyrinx/core/views/crew.py
Due: none

feat: the spending & balancing form matches the sheet's vocabulary
  gyrinx/core/forms/crew.py
  gyrinx/core/migrations/0190_crew_line_item_balancing_label.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/crew/crew_extra_form.html
Due: none

feat: the amount is only asked for when the entry isn't free
  gyrinx/core/forms/crew.py
  gyrinx/core/migrations/0191_crew_line_item_help_text.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/crew/crew_extra_form.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/crew.py
Due: none

feat: what a crew extra is worth is separate from what it cost
  gyrinx/core/forms/crew.py
  gyrinx/core/migrations/0192_crew_line_item_label_help_text.py
  gyrinx/core/migrations/0193_crew_line_item_rating_value.py
  gyrinx/core/migrations/0194_crew_line_item_split_amounts.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/crew/crew_extra_form.html
  gyrinx/core/tests/test_crew.py
Due: none

feat: the extras form opens on the case players reach for most
  gyrinx/core/forms/crew.py
  gyrinx/core/templates/core/crew/crew_extra_form.html
  gyrinx/core/tests/test_crew.py
Due: none
