Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

Don't follow URLs before test assertions
  gyrinx/core/tests/test_resurrect_fighter.py
  gyrinx/core/views/list.py
Due: none

Tweaks
  gyrinx/core/templates/core/campaign/campaign.html
Due: none

Make fighter status badges clickable to status update pages (#1091)
  gyrinx/core/templates/core/includes/fighter_card_content.html
Due: none

Change campaign resources panel from lists to table (#1090)
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/views/campaign.py
Due: none

Add ListAction tracking for campaign start operations
  gyrinx/core/handlers/campaign_operations.py
  gyrinx/core/handlers/equipment_purchases.py
  gyrinx/core/handlers/list_operations.py
  gyrinx/core/migrations/0116_alter_historicallistaction_action_type_and_more.py
  gyrinx/core/models/action.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_handlers_campaign_operations.py
  gyrinx/core/views/campaign.py
  gyrinx/tracker.py
Due: none

Add more tracking to help with CI debugging
  gyrinx/core/handlers/campaign_operations.py
  gyrinx/core/models/list.py
Due: none

Explicitly parameterise feature flag state
  gyrinx/core/tests/test_handlers_campaign_operations.py
Due: none

List action support for cloning, reassignment and campaigns (#1095)
  gyrinx/core/forms/list.py
  gyrinx/core/handlers/campaign_operations.py
  gyrinx/core/handlers/equipment_purchases.py
  gyrinx/core/handlers/fighter_operations.py
  gyrinx/core/handlers/list_operations.py
  gyrinx/core/migrations/0116_alter_historicallistaction_action_type_and_more.py
  gyrinx/core/models/action.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/list_fighter_clone.html
  gyrinx/core/tests/test_handlers_campaign_operations.py
  gyrinx/core/tests/test_handlers_equipment_purchases.py
  gyrinx/core/tests/test_handlers_fighter_operations.py
  gyrinx/core/views/campaign.py
  gyrinx/core/views/list.py
  gyrinx/tracker.py
Due: none

Resurrection working
  gyrinx/core/templates/core/includes/fighter_card_content.html
  gyrinx/core/templates/core/list_fighter_resurrect.html
  gyrinx/core/urls.py
  gyrinx/core/views/list.py
Due: none

Do something with response variables
  gyrinx/core/templates/core/list_fighter_resurrect.html
  gyrinx/core/tests/test_resurrect_fighter.py
  gyrinx/core/views/list.py
Due: none

Fix fighter edit state test
  gyrinx/core/templates/core/list_fighter_resurrect.html
  gyrinx/core/tests/test_fighter_state_edit.py
  gyrinx/core/views/list.py
Due: none

Fix typos
  gyrinx/core/tests/test_resurrect_fighter.py
Due: none

Update gyrinx/core/views/list.py
  gyrinx/core/views/list.py
Due: none

Fix TransactionManagementError by removing refresh_from_db call (#1102)
  gyrinx/core/models/list.py
Due: none

Tweak example env and add PG hostport override
  .env.example
  docker-compose.yml
Due: check-fmt

Protect current values from going negative
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_models_action.py
  gyrinx/settings.py
Due: none

Handle none dictionary for list resources
  gyrinx/core/templatetags/custom_tags.py
Due: none

Parametrize tests to work with list action feature flag
  .claude/notes/listaction_handlers_batch2.md
  gyrinx/core/tests/test_clone.py
  gyrinx/core/tests/test_equipment_deletion_refund.py
  gyrinx/core/tests/test_handlers_equipment_purchases.py
  gyrinx/core/tests/test_handlers_fighter_operations.py
  gyrinx/core/tests/test_handlers_vehicle_purchases.py
Due: check-fmt, markdownlint

Fix campaign action assertion placement in upgrade test
  gyrinx/core/tests/test_handlers_equipment_purchases.py
Due: none

Add defensive fix for missing campaign list resources
  gyrinx/core/tests/test_campaign_resources.py
  gyrinx/core/views/campaign.py
Due: none

Parametrize tests to work with list action feature flag (#1108)
  .claude/notes/listaction_handlers_batch2.md
  gyrinx/core/tests/test_clone.py
  gyrinx/core/tests/test_equipment_deletion_refund.py
  gyrinx/core/tests/test_handlers_equipment_purchases.py
  gyrinx/core/tests/test_handlers_fighter_operations.py
  gyrinx/core/tests/test_handlers_vehicle_purchases.py
Due: check-fmt, markdownlint

Remove errant file
  .claude/notes/listaction_handlers_batch2.md
Due: check-fmt, markdownlint

Add defensive fix for missing campaign list resources (#1107)
  gyrinx/core/tests/test_campaign_resources.py
  gyrinx/core/views/campaign.py
Due: none

Fix: AttributeError in delete_list_fighter_weapon_profile view (#1104)
  gyrinx/core/tests/test_delete_weapon_profile.py
  gyrinx/core/views/list.py
Due: none

feat: Auto-accept campaign invitations for list owners (#1092)
  CLAUDE.md
  gyrinx/core/tests/test_invitation.py
  gyrinx/core/views/campaign.py
Due: check-fmt, markdownlint

feat: Auto-accept campaign invitations for list owners (#1092) (#1111)
  CLAUDE.md
  gyrinx/core/tests/test_campaign_lists.py
  gyrinx/core/tests/test_invitation.py
  gyrinx/core/tests/test_list_status.py
  gyrinx/core/views/campaign.py
Due: check-fmt, markdownlint

Remove delete cannot be undone warning
  gyrinx/core/templates/core/list_fighter_kill.html
Due: none

Fix IntegrityError on duplicate advancement with campaign_action_id (#1103)
  gyrinx/core/tests/test_advancements.py
  gyrinx/core/views/list.py
Due: none

Allow gang fighters to be resurrected if the are accidentally deleted (#1101)
  gyrinx/core/templates/core/includes/fighter_card_content.html
  gyrinx/core/templates/core/list_fighter_kill.html
  gyrinx/core/templates/core/list_fighter_resurrect.html
  gyrinx/core/tests/test_fighter_state_edit.py
  gyrinx/core/tests/test_resurrect_fighter.py
  gyrinx/core/urls.py
  gyrinx/core/views/list.py
Due: none

Fix list clone template
  gyrinx/core/templates/core/list_clone.html
Due: none

Refactor CloneListForm from ModelForm to regular Form (#1109)
  gyrinx/core/forms/list.py
  gyrinx/core/templates/core/list_clone.html
  gyrinx/core/views/list.py
Due: none

Implement missing stat advancement name display method
  gyrinx/core/models/list.py
Due: none

Fix ListFighter duplication with custom statline and stat overrides (#1113)
  gyrinx/core/models/list.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_list_fighter_stat_override.py
Due: check-fmt

Fix conditions around claude plan action
  .github/workflows/claude-plan-action.yml
Due: check-fmt

Fix conditions around claude plan action (#1115)
  .github/workflows/claude-plan-action.yml
Due: check-fmt

Attempt to fix traces in prod
  .claude/notes/logging-complete-fix.md
  .claude/notes/logging-implementation-examples.md
  .claude/notes/logging-root-cause-analysis.md
  .claude/notes/logging-trace-correlation.md
  gyrinx/settings.py
  gyrinx/settings_prod.py
Due: check-fmt, markdownlint
