Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

feat: record a table D6 roll on the N26 random skill step (#2858)
  n26/core/action_forms.py
  n26/core/advancements.py
  n26/core/templates/n26/includes/action_skills.html
  n26/core/test_action_forms.py
  n26/core/test_advancement_runtime.py
  n26/core/views/advancement_flows.py
  n26/frontend/islands/advancement-roll/AdvancementRoll.test.tsx
  n26/frontend/islands/advancement-roll/AdvancementRoll.tsx
  n26/tests/sandbox/test_advancement_action_flows.py
Due: none

refactor: draw only a header in the n26 checkbox card island
  n26/core/templates/cotton/n26/checkbox_card.html
  n26/core/templates/n26/includes/checkbox_card_face.html
  n26/core/templatetags/checkbox_card.py
  n26/core/test_checkbox_card.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/checkbox-card/10-with-body.html
  n26/designsystem/templates/designsystem/demos/checkbox-card/20-header-only.html
  n26/frontend/islands/checkbox-card/CheckboxCardIsland.test.tsx
  n26/frontend/islands/checkbox-card/CheckboxCardIsland.tsx
  n26/frontend/islands/checkbox-card/entry.tsx
Due: none

fix: tidy campaign status, starting rolls and joining activity
  n26/core/campaigns.py
  n26/core/forms.py
  n26/core/history.py
  n26/core/migrations/0081_campaigns_have_an_explicit_status.py
  n26/core/models/campaign.py
  n26/core/render.py
  n26/core/templates/cotton/n26/campaign_gangs.html
  n26/core/templates/cotton/n26/view/campaign_sheet.html
  n26/core/templates/n26/includes/campaign_form_fields.html
  n26/core/views/campaigns.py
  n26/tests/sandbox/test_asset_rolls.py
  n26/tests/sandbox/test_campaign_sheet.py
  n26/tests/test_views_campaigns.py
Due: none

fix: keep the checkbox card's layout and root attributes
  n26/core/templates/cotton/n26/checkbox_card.html
  n26/core/templates/n26/includes/checkbox_card_face.html
  n26/core/templatetags/checkbox_card.py
  n26/core/test_checkbox_card.py
Due: none

fix: decode only escaped template text in the checkbox card props
  n26/core/templatetags/checkbox_card.py
  n26/core/test_checkbox_card.py
Due: none

fix: draw the checkbox card's fallback from the same checked boolean
  n26/core/templates/cotton/n26/checkbox_card.html
  n26/core/templatetags/checkbox_card.py
  n26/core/test_checkbox_card.py
Due: none

fix: retain starting territory receipts after campaign asset removal
  n26/core/campaigns.py
  n26/core/migrations/0081_campaigns_have_an_explicit_status.py
  n26/core/models/ledger.py
  n26/core/operations.py
  n26/tests/sandbox/test_asset_rolls.py
Due: none

fix: keep the checkbox card's dependent controls inert when clear
  n26/core/templates/cotton/n26/checkbox_card.html
  n26/core/templatetags/checkbox_card.py
  n26/core/test_checkbox_card.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/checkbox-card/10-with-body.html
  n26/designsystem/templates/designsystem/demos/checkbox-card/20-header-only.html
  n26/frontend/tooling/alpine-baseline.json
Due: check-fmt

test: cover manual starting territory allocation on campaign dashboard
  n26/tests/sandbox/test_asset_rolls.py
Due: none

refactor: draw the n26 checkbox card's nested ticks from data in React
  .agents/skills/n26-react/SKILL.md
  docs/developing-gyrinx/react.md
  docs/how-to-guides/n26-frontend-stack.md
  n26/core/checkbox_card.py
  n26/core/templates/cotton/n26/checkbox_card.html
  n26/core/templates/n26/includes/checkbox_card_face.html
  n26/core/templatetags/checkbox_card.py
  n26/core/test_checkbox_card.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/checkbox-card/10-with-body.html
  n26/designsystem/templates/designsystem/demos/checkbox-card/20-header-only.html
  n26/frontend/islands/checkbox-card/CheckboxCardIsland.test.tsx
  n26/frontend/islands/checkbox-card/CheckboxCardIsland.tsx
  n26/frontend/islands/checkbox-card/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/frontend/ui/index.tsx
Due: check-fmt, markdownlint

fix: let gang type names wrap on the campaign dashboard
  n26/core/templates/cotton/n26/campaign_gangs.html
Due: none

fix: take the checkbox card's item classes from the Cotton recipe
  n26/core/templates/n26/includes/checkbox_card_face.html
  n26/designsystem/templates/designsystem/demos/checkbox-card/10-with-body.html
  n26/frontend/islands/checkbox-card/CheckboxCardIsland.test.tsx
  n26/frontend/islands/checkbox-card/CheckboxCardIsland.tsx
  n26/frontend/islands/checkbox-card/entry.tsx
  n26/frontend/tooling/export_cotton_recipes.py
  n26/frontend/ui/index.tsx
Due: none

fix: read the checkbox card item recipe without the React manifest
  n26/frontend/tooling/export_cotton_recipes.py
Due: none

fix: improve campaign dashboard status, starting rolls and activity (#2872)
  n26/core/campaigns.py
  n26/core/forms.py
  n26/core/history.py
  n26/core/migrations/0081_campaigns_have_an_explicit_status.py
  n26/core/models/campaign.py
  n26/core/models/ledger.py
  n26/core/operations.py
  n26/core/render.py
  n26/core/templates/cotton/n26/campaign_gangs.html
  n26/core/templates/cotton/n26/view/campaign_sheet.html
  n26/core/templates/n26/includes/campaign_form_fields.html
  n26/core/views/campaigns.py
  n26/tests/sandbox/test_asset_rolls.py
  n26/tests/sandbox/test_campaign_sheet.py
  n26/tests/test_views_campaigns.py
Due: none

fix: clarify Campaign budget admin help for pre-campaign status
  n26/core/migrations/0082_campaign_budget_pre_campaign_help.py
  n26/core/models/campaign.py
Due: none

fix: head the campaign Tables page's tickable list "Optional territory tables"
  n26/core/templates/n26/campaign_tables.html
  n26/tests/sandbox/test_asset_rolls.py
Due: none

feat: open n26 model status to every owner, not just the founding flag
  n26/core/views/equip.py
  n26/core/views/gangs.py
  n26/core/views/permissions.py
  n26/tests/sandbox/test_model_status.py
  n26/tests/test_views_post_battle.py
Due: none

docs: say why the post-battle-only Actions square demo draws no status step
  n26/designsystem/templates/designsystem/demos/activities-square/70-post-battle-only.html
Due: none

fix: clarify Campaign budget admin help for pre-campaign status (#2881)
  n26/core/migrations/0082_campaign_budget_pre_campaign_help.py
  n26/core/models/campaign.py
Due: none

fix: clarify N26 campaign budget guidance and allow dismissal
  n26/core/templates/n26/includes/gang_sheet_content.html
  n26/core/views/__init__.py
  n26/core/views/gangs.py
  n26/tests/test_campaign_budget_guidance.py
  n26/urls.py
  scripts/screenshot.py
Due: none

test: pin the n26 edit page query budget at 51 now status asks no flag
  n26/core/test_views_edit.py
Due: none

perf: batch statline writes and reduce pytest database overhead
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  docs/test-performance-improvements.md
  gyrinx/pytest_postgresql/__init__.py
  gyrinx/pytest_postgresql/base.py
  gyrinx/settings_dev.py
  gyrinx/tests/test_pytest_postgresql.py
  n23/content/statlines.py
  n23/content/tests/test_statline_batching.py
  n23/core/tests/test_models_core.py
  n26/designsystem/tests.py
  n26/tests/fixtures.py
  n26/tests/sandbox/test_advancement_action_flows.py
  n26/tests/sandbox/test_fighter_progression_setup.py
  n26/tests/sandbox/test_power_advancements.py
  scripts/measure_test_performance.py
  scripts/measure_test_performance.sh
Due: check-fmt, markdownlint

test: tolerate gang icons in the campaign gallery owner check
  n26/designsystem/tests.py
Due: none

feat: add a maintenance seed giving the 18 core Territories their income and boons
  n26/core/templates/admin/maintenance/n26/_seed_core_territory_content_detail.html
  n26/core/templates/admin/maintenance/n26/seed_core_territory_content.html
  n26/library/core_territory_content.py
  n26/maintenance.py
  n26/tests/sandbox/test_core_territory_content.py
Due: none

fix: recheck N26 campaign budgets under campaign locks
  n26/core/templates/n26/includes/gang_sheet_content.html
  n26/core/views/gangs.py
  n26/tests/test_campaign_budget_guidance.py
Due: none

test: tolerate gang icons in the campaign gallery owner check (#2888)
  n26/designsystem/tests.py
Due: none

fix: head the campaign Tables page's tickable list "Optional territory tables" (#2882)
  n26/core/templates/n26/campaign_tables.html
  n26/tests/sandbox/test_asset_rolls.py
Due: none

fix: stop number inputs taking "e", "E" and "+" on every page shell
  gyrinx/site/static/platform/js/number-input-characters.js
  gyrinx/site/tests/test_number_input_characters.py
  n23/core/templates/core/layouts/foundation.html
  n26/core/templates/n26/layouts/base.html
  n26/designsystem/templates/designsystem/base.html
  n26/frontend/test/number-input-characters.test.js
Due: check-fmt

fix: clarify N26 campaign budget guidance and allow dismissal (#2887)
  n26/core/templates/n26/includes/gang_sheet_content.html
  n26/core/views/__init__.py
  n26/core/views/gangs.py
  n26/tests/test_campaign_budget_guidance.py
  n26/urls.py
  scripts/screenshot.py
Due: none

fix: ignore keyless keydown events in number-input-characters.js
  gyrinx/site/static/platform/js/number-input-characters.js
  n26/frontend/test/number-input-characters.test.js
Due: check-fmt

perf: batch statline writes and reduce pytest database overhead
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  docs/test-performance-improvements.md
  gyrinx/pytest_postgresql/__init__.py
  gyrinx/pytest_postgresql/base.py
  gyrinx/settings_dev.py
  gyrinx/tests/test_pytest_postgresql.py
  n23/content/statlines.py
  n23/content/tests/test_statline_batching.py
  n23/core/tests/test_models_core.py
  n26/tests/fixtures.py
  n26/tests/sandbox/test_advancement_action_flows.py
  n26/tests/sandbox/test_fighter_progression_setup.py
  n26/tests/sandbox/test_power_advancements.py
  scripts/measure_test_performance.py
  scripts/measure_test_performance.sh
Due: check-fmt, markdownlint

fix: reword the core territory seed console and its nothing-to-do line
  n26/core/templates/admin/maintenance/n26/_seed_core_territory_content_detail.html
  n26/core/templates/admin/maintenance/n26/seed_core_territory_content.html
  n26/library/core_territory_content.py
  n26/maintenance.py
  n26/tests/sandbox/test_core_territory_content.py
Due: none

feat: set Roll territories quantity to one for a manual roll
  n26/core/forms.py
  n26/core/templates/n26/includes/campaign_pool_roll_dialog.html
  n26/core/views/campaigns.py
  n26/frontend/islands/campaign-pool-roll/PoolRoll.test.tsx
  n26/frontend/islands/campaign-pool-roll/PoolRoll.tsx
  n26/frontend/islands/campaign-pool-roll/entry.tsx
  n26/tests/sandbox/test_asset_rolls.py
Due: none

perf: consolidate pytest scenarios and reduce fixture setup
  docs/test-performance-improvements.md
  gyrinx/maintenance/tests/test_admin_views.py
  gyrinx/site/tests/test_write_pause.py
  gyrinx/tasks/tests/test_local_backend.py
  gyrinx/tasks/tests/test_views.py
  n23/core/tests/test_advancements.py
  n23/core/tests/test_balance_sheet.py
  n23/core/tests/test_crew.py
  n23/core/tests/test_edit_single_weapon_no_standard_profiles.py
  n23/core/tests/test_notes_page.py
  n23/core/tests/test_performance_view_queries.py
  n26/core/test_action_forms.py
  n26/core/test_views_equip.py
  n26/designsystem/tests.py
  n26/library/test_fighter_action_content.py
  n26/test_write_pause.py
  n26/tests/sandbox/test_advancement_action_flows.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_builtin_reach_preview.py
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_conversion_affiliation.py
  n26/tests/sandbox/test_conversion_chaos_god.py
  n26/tests/sandbox/test_conversion_variant.py
  n26/tests/sandbox/test_foundations.py
  n26/tests/sandbox/test_ingest.py
  n26/tests/sandbox/test_ingest_page.py
  n26/tests/sandbox/test_outcast_gang.py
  n26/tests/sandbox/test_post_battle.py
  n26/tests/sandbox/test_power_advancements.py
  n26/tests/sandbox/test_spyrer_augmentations.py
  n26/tests/sandbox/test_status_choices.py
  n26/tests/sandbox/test_taking_away.py
  n26/tests/test_spyrer_reset_maintenance.py
  n26/tests/test_views_campaigns.py
  n26/tests/test_views_post_battle.py
  pyproject.toml
Due: check-fmt, markdownlint

perf: limit ingest fixtures to required foundation content
  docs/test-performance-improvements.md
  n26/tests/sandbox/test_ingest.py
Due: check-fmt, markdownlint

test: expect Asset types in the campaign More actions menu tests
  n26/core/test_header_menus.py
  n26/designsystem/templates/designsystem/shell/campaign.html
  n26/tests/test_badges.py
Due: none

feat: edit a campaign's own asset types from an Asset types tab in Edit campaign
  n26/core/campaigns.py
  n26/core/forms.py
  n26/core/history.py
  n26/core/migrations/0082_campaign_events_record_asset_type_edits.py
  n26/core/models/campaign.py
  n26/core/templates/n26/edit_asset_type.html
  n26/core/templates/n26/edit_campaign.html
  n26/core/views/__init__.py
  n26/core/views/campaigns.py
  n26/tests/sandbox/test_campaign_asset_type_edits.py
  n26/urls.py
Due: none

fix: lock asset type ownership once it has a table in edit_asset_type
  n26/core/campaigns.py
  n26/core/forms.py
  n26/core/templates/n26/edit_asset_type.html
  n26/core/views/campaigns.py
  n26/tests/sandbox/test_campaign_asset_type_edits.py
Due: none

feat: set Roll territories quantity to one for a manual roll (#2893)
  n26/core/forms.py
  n26/core/templates/n26/includes/campaign_pool_roll_dialog.html
  n26/core/views/campaigns.py
  n26/frontend/islands/campaign-pool-roll/PoolRoll.test.tsx
  n26/frontend/islands/campaign-pool-roll/PoolRoll.tsx
  n26/frontend/islands/campaign-pool-roll/entry.tsx
  n26/tests/sandbox/test_asset_rolls.py
Due: none
