Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

feat: save-and-customise-another button on customise-weapon profile forms
  gyrinx/core/templates/core/pack/weapon_profile_add.html
  gyrinx/core/templates/core/pack/weapon_profile_edit.html
  gyrinx/core/tests/test_pack_customise_weapon.py
  gyrinx/core/views/pack.py
Due: none

feat: swap "Add a Rule" for "Add gear" in pack quick-add
  gyrinx/core/templates/core/pack/pack.html
Due: none

feat: rename pack "Rules" section to "Special Rules"
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: none

feat: tell pack authors skill trees and psyker disciplines come after creation
  gyrinx/core/views/pack.py
Due: none

fix: archived pack content stays visible to subscribed lists/gangs (#1744)
  CLAUDE.md
  gyrinx/content/models/base.py
  gyrinx/content/models/equipment.py
  gyrinx/content/models/fighter.py
  gyrinx/content/models/weapon.py
  gyrinx/core/forms/advancement.py
  gyrinx/core/forms/attribute.py
  gyrinx/core/forms/list.py
  gyrinx/core/forms/vehicle.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_list_packs.py
  gyrinx/core/tests/test_models_pack.py
  gyrinx/core/tests/test_pack_psyker.py
  gyrinx/core/utils.py
  gyrinx/core/views/fighter/advancements.py
  gyrinx/core/views/fighter/equipment.py
  gyrinx/core/views/fighter/helpers.py
  gyrinx/core/views/fighter/powers.py
  gyrinx/core/views/fighter/rules.py
  gyrinx/core/views/fighter/skills.py
  gyrinx/core/views/list/attributes.py
  gyrinx/core/views/list/views.py
  gyrinx/core/views/vehicle.py
Due: check-fmt, markdownlint

feat: rapid pack iteration — customise-weapon shortcut, special rules, quick-add tweaks (#1751)
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/weapon_profile_add.html
  gyrinx/core/templates/core/pack/weapon_profile_edit.html
  gyrinx/core/tests/test_pack_customise_weapon.py
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: none

feat: local Postgres with per-worktree database isolation
  .claude/skills/dev-server/SKILL.md
  .claude/skills/worktree-db/SKILL.md
  CLAUDE.md
  docs/developing-gyrinx/key-concepts.md
  docs/developing-gyrinx/testing.md
  docs/developing-gyrinx/tutorial-first-contribution.md
  docs/explanation/technology-choices.md
  docs/useful-scripts.md
  gyrinx/content/tests/test_ordering.py
  gyrinx/settings_dev.py
  scripts/activate_venv_hook.sh
  scripts/cleanup-worktree-dbs.sh
  scripts/dev.sh
  scripts/lib/worktree.sh
  scripts/setup-local-postgres.sh
Due: check-fmt, markdownlint

fix: harden local-Postgres scripts (review feedback)
  scripts/activate_venv_hook.sh
  scripts/cleanup-worktree-dbs.sh
  scripts/dev.sh
  scripts/lib/worktree.sh
  scripts/setup-local-postgres.sh
Due: none

ci: move tests off Docker onto GHA service Postgres
  .github/workflows/test.yaml
  scripts/test.sh
Due: check-fmt

chore: remove scripts/migrate.sh
  CLAUDE.md
  scripts/README.md
  scripts/migrate.sh
Due: check-fmt, markdownlint

docs: align dev workflow docs with local Postgres + ./scripts/dev.sh
  CLAUDE.md
  README.md
  docs/developing-gyrinx/key-concepts.md
  docs/developing-gyrinx/testing.md
  scripts/README.md
Due: check-fmt, markdownlint

chore: tighten dependabot grouping to reduce PR fragmentation
  .github/dependabot.yml
Due: check-fmt

chore: tighten dependabot grouping to reduce PR fragmentation (#1762)
  .github/dependabot.yml
Due: check-fmt

fix: don't log DB_CONFIG password error when key is set but empty
  gyrinx/settings.py
Due: none

fix: PR review feedback — defensive guards + harness env export
  docs/useful-scripts.md
  scripts/activate_venv_hook.sh
  scripts/cleanup-worktree-dbs.sh
  scripts/dev.sh
  scripts/setup-local-postgres.sh
  scripts/test.sh
Due: check-fmt, markdownlint

chore: remove full_clean() from model save() methods (#1749)
  gyrinx/content/models/weapon.py
  gyrinx/core/models/list.py
  gyrinx/core/models/upload.py
  gyrinx/core/views/upload.py
Due: none

docs+fix: clarify macOS-only dev workflow and fix stale --parallel docs
  README.md
  scripts/README.md
  scripts/dev.sh
Due: check-fmt, markdownlint

fix: third-round PR feedback (venv guards, --porcelain parsing, README)
  README.md
  scripts/activate_venv_hook.sh
  scripts/cleanup-worktree-dbs.sh
  scripts/dev.sh
  scripts/lib/worktree.sh
  scripts/setup-local-postgres.sh
Due: check-fmt, markdownlint

test: drop accessory ORM-create duplicate test
  gyrinx/core/tests/test_pack_weapon_accessories.py
Due: none

feat: setup-local-postgres.sh writes pgAdmin servers.json
  scripts/setup-local-postgres.sh
Due: none

chore: remove full_clean() from model save() methods (#1769)
  gyrinx/content/models/weapon.py
  gyrinx/core/models/list.py
  gyrinx/core/models/upload.py
  gyrinx/core/tests/test_pack_weapon_accessories.py
  gyrinx/core/views/upload.py
Due: none

feat: auto-import pgAdmin servers via the bundled CLI
  scripts/setup-local-postgres.sh
Due: none

feat: cleanup-worktree-dbs.sh handles pytest test databases
  docs/useful-scripts.md
  scripts/README.md
  scripts/cleanup-worktree-dbs.sh
Due: check-fmt, markdownlint

feat: setup-local-postgres.sh appends venv activation hook
  scripts/setup-local-postgres.sh
Due: none

feat: setup tunes max_locks_per_transaction + docs the venv hook
  .claude/skills/dev-server/SKILL.md
  .claude/skills/worktree-db/SKILL.md
  CLAUDE.md
  README.md
  scripts/setup-local-postgres.sh
Due: check-fmt, markdownlint

feat: local Postgres with per-worktree database isolation (#1710)
  .claude/skills/dev-server/SKILL.md
  .claude/skills/worktree-db/SKILL.md
  .github/workflows/test.yaml
  CLAUDE.md
  README.md
  docs/developing-gyrinx/key-concepts.md
  docs/developing-gyrinx/testing.md
  docs/developing-gyrinx/tutorial-first-contribution.md
  docs/explanation/technology-choices.md
  docs/useful-scripts.md
  gyrinx/content/tests/test_ordering.py
  gyrinx/settings.py
  gyrinx/settings_dev.py
  scripts/README.md
  scripts/activate_venv_hook.sh
  scripts/cleanup-worktree-dbs.sh
  scripts/dev.sh
  scripts/lib/worktree.sh
  scripts/migrate.sh
  scripts/setup-local-postgres.sh
  scripts/test.sh
Due: check-fmt, markdownlint

chore: auto-enqueue Dependabot PRs in the merge queue
  .github/workflows/dependabot-auto-merge.yml
Due: check-fmt

chore: tighten dependabot auto-merge gate
  .github/workflows/dependabot-auto-merge.yml
Due: check-fmt

feat: auto-provision per-worktree .venv so editable gyrinx resolves locally
  .claude/skills/worktree-db/SKILL.md
  CLAUDE.md
  scripts/cleanup-worktree-dbs.sh
  scripts/dev.sh
  scripts/lib/worktree.sh
  scripts/setup-local-postgres.sh
Due: check-fmt, markdownlint

chore: auto-enqueue Dependabot PRs in the merge queue (#1771)
  .github/workflows/dependabot-auto-merge.yml
Due: check-fmt

fix: PR review feedback (defensive du, hook on existing venvs, POSIX source)
  scripts/cleanup-worktree-dbs.sh
  scripts/dev.sh
  scripts/lib/worktree.sh
Due: none

feat: auto-provision per-worktree .venv (closes #1772) (#1773)
  .claude/skills/worktree-db/SKILL.md
  CLAUDE.md
  scripts/cleanup-worktree-dbs.sh
  scripts/dev.sh
  scripts/lib/worktree.sh
  scripts/setup-local-postgres.sh
Due: check-fmt, markdownlint

feat: arbitrators can mark Campaign content packs as required
  gyrinx/core/admin/campaign.py
  gyrinx/core/handlers/campaign_copy.py
  gyrinx/core/migrations/0143_campaign_content_pack_through.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/campaign/campaign_packs.html
  gyrinx/core/templates/core/list/invitation_pack_setup.html
  gyrinx/core/templates/core/list_packs.html
  gyrinx/core/tests/test_campaign_packs.py
  gyrinx/core/urls.py
  gyrinx/core/views/campaign/packs.py
  gyrinx/core/views/list/invitations.py
  gyrinx/core/views/pack.py
Due: none

fix(dev): auto-provision node_modules in child worktrees
  scripts/dev.sh
Due: none

feat: scaffold Terraform for GCP infra (bootstrap + gyrinx modules)
  infra/.gitignore
  infra/README.md
  infra/environments/prod/README.md
  infra/environments/prod/backend.tf
  infra/environments/prod/bootstrap.tfvars
  infra/environments/prod/main.tf
  infra/environments/prod/versions.tf
  infra/environments/staging/README.md
  infra/environments/staging/backend.tf
  infra/environments/staging/bootstrap.tfvars
  infra/environments/staging/main.tf
  infra/environments/staging/versions.tf
  infra/modules/bootstrap/README.md
  infra/modules/bootstrap/apis.tf
  infra/modules/bootstrap/artifact_registry.tf
  infra/modules/bootstrap/iam.tf
  infra/modules/bootstrap/outputs.tf
  infra/modules/bootstrap/project.tf
  infra/modules/bootstrap/providers.tf
  infra/modules/bootstrap/state.tf
  infra/modules/bootstrap/variables.tf
  infra/modules/bootstrap/versions.tf
  infra/modules/gyrinx/README.md
  infra/modules/gyrinx/cdn.tf
  infra/modules/gyrinx/cloud_run.tf
  infra/modules/gyrinx/cloud_sql.tf
  infra/modules/gyrinx/gcs.tf
  infra/modules/gyrinx/iam.tf
  infra/modules/gyrinx/outputs.tf
  infra/modules/gyrinx/secrets.tf
  infra/modules/gyrinx/variables.tf
  infra/modules/gyrinx/versions.tf
Due: check-fmt, markdownlint

fix: serialize required-flag flip against concurrent unsubscribe
  gyrinx/core/tests/test_campaign_packs.py
  gyrinx/core/views/campaign/packs.py
  gyrinx/core/views/pack.py
Due: none

fix: lock pack rows on join + block pack mutation post-campaign
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/campaign/campaign_packs.html
  gyrinx/core/tests/test_campaign_packs.py
  gyrinx/core/views/campaign/packs.py
Due: none

feat: required Content Packs for Campaigns (#1770)
  gyrinx/core/admin/campaign.py
  gyrinx/core/handlers/campaign_copy.py
  gyrinx/core/migrations/0143_campaign_content_pack_through.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/campaign/campaign_packs.html
  gyrinx/core/templates/core/list/invitation_pack_setup.html
  gyrinx/core/templates/core/list_packs.html
  gyrinx/core/tests/test_campaign_packs.py
  gyrinx/core/urls.py
  gyrinx/core/views/campaign/packs.py
  gyrinx/core/views/list/invitations.py
  gyrinx/core/views/pack.py
  scripts/dev.sh
Due: none

feat: showcase featured content packs on the front page
  gyrinx/core/templates/core/includes/featured_pack_card.html
  gyrinx/core/templates/core/index.html
  gyrinx/core/templates/core/pack/packs.html
  gyrinx/core/tests/test_homepage_featured_packs.py
  gyrinx/core/views/home.py
Due: none

fix: drop --reuse-db default so schema changes are picked up automatically
  CLAUDE.md
  pyproject.toml
Due: check-fmt, markdownlint

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
