Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

fix: align post-battle receipts with the design system
  n26/core/templates/n26/post_battle_receipt.html
  n26/tests/test_views_post_battle.py
Due: none

fix: recognise Glitch Count standard content
  n26/library/standard_content.py
  n26/library/test_fighter_action_content.py
Due: none

fix: place advancement results on model card rows
  n26/core/test_advancement_runtime.py
  n26/library/standard_content.py
  n26/library/test_fighter_action_content.py
Due: none

fix: stop n26 Sell on a weapon's built-in WeaponProfile
  n26/core/listing.py
  n26/core/owned.py
  n26/core/test_views_owned.py
  n26/core/views/owned.py
  n26/tests/sandbox/test_listing.py
Due: none

fix: annotate skills granted by advancements
  n26/core/render.py
  n26/core/templates/cotton/n26/assignable_lines.html
  n26/core/templates/n26/includes/assignable_name.html
  n26/core/test_advancement_runtime.py
Due: none

fix: let check_migrations.sh and sibling hooks use .venv/bin/python
  .codex/README.md
  .pre-commit-config.yaml
  AGENTS.md
  gyrinx/tests/test_worktree_venv.py
  scripts/README.md
  scripts/check_cotton.sh
  scripts/check_migration_conflicts.sh
  scripts/check_raw_markup.sh
  scripts/lib/worktree.sh
Due: check-fmt, markdownlint

fix: let .codex/run.sh rebuild React islands after a rebase
  .codex/README.md
  .codex/run.sh
  AGENTS.md
  docs/developing-gyrinx/react.md
  docs/developing-gyrinx/testing.md
  gyrinx/tests/test_worktree_frontend.py
  n26/core/templatetags/react.py
  n26/core/test_react.py
  n26/frontend/AGENTS.md
  scripts/README.md
  scripts/lib/worktree.sh
Due: check-fmt, markdownlint

test: keep frontend provisioner tests outside the core suite
  gyrinx/tests/test_worktree_frontend.py
Due: none

feat: launch fighter progression and authored promotions
  n26/core/action_records.py
  n26/core/advancements.py
  n26/core/allowances.py
  n26/core/migrations/0073_advancement_promotions.py
  n26/core/models/action_record.py
  n26/core/operations.py
  n26/core/promotions.py
  n26/core/templates/n26/action_flow.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/test_advancement_runtime.py
  n26/core/views/action_flows.py
  n26/core/views/advancement_flows.py
  n26/core/views/edit.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/fighter_action_content.py
  n26/library/fighter_action_setup.py
  n26/library/migrations/0114_advancement_promotions.py
  n26/library/models/__init__.py
  n26/library/models/actions.py
  n26/library/recipes.md
  n26/library/specs.py
  n26/library/templates/authoring/foundations.html
  n26/library/views.py
  n26/tests/sandbox/test_fighter_progression_setup.py
Due: check-fmt, markdownlint

fix: preserve promotion visibility and recorded-roll guards
  n26/core/action_records.py
  n26/core/advancements.py
  n26/core/promotions.py
  n26/library/recipes.md
  n26/tests/sandbox/test_fighter_progression_setup.py
Due: check-fmt, markdownlint

fix: filter retired promotion results consistently
  n26/core/advancements.py
  n26/core/browse.py
  n26/core/promotions.py
  n26/library/models/actions.py
  n26/library/models/slots.py
  n26/tests/sandbox/test_fighter_progression_setup.py
Due: none

fix: let .codex/push.sh rewrite git@github.com: URLs to HTTPS
  .codex/README.md
  .codex/push.sh
  .codex/run.sh
  .codex/tests/test_lifecycle.py
  .codex/worktree.sh
  AGENTS.md
Due: check-fmt, markdownlint

refactor: move modifier naming preview to React
  n26/frontend/islands/modifier-naming/ModifierNaming.test.tsx
  n26/frontend/islands/modifier-naming/ModifierNaming.tsx
  n26/frontend/islands/modifier-naming/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/frontend/tooling/export_cotton_recipes.py
  n26/frontend/tooling/test_export_cotton_recipes.py
  n26/frontend/ui/index.tsx
  n26/frontend/ui/ui.test.tsx
  n26/library/templates/authoring/_composer.html
  n26/library/templates/authoring/detail.html
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
Due: check-fmt

fix: guard unavailable promotions and retain query budgets
  n26/core/advancements.py
  n26/core/views/edit.py
  n26/tests/sandbox/test_collapsed_lines.py
  n26/tests/sandbox/test_fighter_progression_setup.py
  n26/tests/sandbox/test_prose.py
Due: none

fix: preserve content identity during progression setup
  n26/core/allowances.py
  n26/library/fighter_action_setup.py
  n26/tests/sandbox/test_fighter_progression_setup.py
Due: none

fix: report progression setup conflicts to authors
  n26/library/fighter_action_setup.py
  n26/library/templates/authoring/foundations.html
  n26/library/views.py
  n26/tests/sandbox/test_fighter_progression_setup.py
Due: none

feat: launch fighter progression and authored promotions (#2635)
  n26/core/action_records.py
  n26/core/advancements.py
  n26/core/allowances.py
  n26/core/browse.py
  n26/core/migrations/0073_advancement_promotions.py
  n26/core/models/action_record.py
  n26/core/operations.py
  n26/core/promotions.py
  n26/core/templates/n26/action_flow.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/test_advancement_runtime.py
  n26/core/views/action_flows.py
  n26/core/views/advancement_flows.py
  n26/core/views/edit.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/fighter_action_content.py
  n26/library/fighter_action_setup.py
  n26/library/migrations/0114_advancement_promotions.py
  n26/library/models/__init__.py
  n26/library/models/actions.py
  n26/library/models/slots.py
  n26/library/recipes.md
  n26/library/specs.py
  n26/library/templates/authoring/foundations.html
  n26/library/views.py
  n26/tests/sandbox/test_collapsed_lines.py
  n26/tests/sandbox/test_fighter_progression_setup.py
  n26/tests/sandbox/test_prose.py
Due: check-fmt, markdownlint

docs: call a weapon's bundled profiles weapon profiles in owned.py comments
  n26/core/listing.py
  n26/core/owned.py
  n26/core/views/owned.py
  n26/tests/sandbox/test_listing.py
Due: none

fix: keep agent instructions out of the missing React assets error
  n26/core/templatetags/react.py
Due: none

ci: raise the core suite cap to 1400 so PRs that add core tests pass
  .github/workflows/test.yaml
Due: check-fmt

fix: rewrite ssh://git@github.com/ origins in codex_github_https_git too
  .codex/tests/test_lifecycle.py
  .codex/worktree.sh
Due: none

fix: add maintenance reset for mistaken Spyre Hunters built-ins
  n26/core/reset_spyrer_built_ins.py
  n26/maintenance.py
  n26/tests/sandbox/test_reset_spyrer_built_ins.py
  n26/tests/test_spyrer_reset_maintenance.py
Due: none

fix: add maintenance reset for mistaken Spyre Hunters built-ins (#2638)
  n26/core/reset_spyrer_built_ins.py
  n26/maintenance.py
  n26/tests/sandbox/test_reset_spyrer_built_ins.py
  n26/tests/test_spyrer_reset_maintenance.py
Due: none

fix: announce the modifier name preview politely to screen readers
  n26/frontend/islands/modifier-naming/ModifierNaming.tsx
Due: none

ci: warn when the core suite count is within 50 of CORE_SUITE_MAX
  .github/workflows/test.yaml
  docs/developing-gyrinx/testing.md
  gyrinx/tests/test_core_suite_bounds.py
  scripts/README.md
  scripts/check_core_suite_bounds.py
Due: check-fmt, markdownlint

refactor: move authoring file input drag state to React
  n26/core/templatetags/formkit.py
  n26/frontend/islands/file-input/FileInput.test.tsx
  n26/frontend/islands/file-input/FileInput.tsx
  n26/frontend/islands/file-input/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/library/templates/authoring/_field.html
  n26/library/test_artwork.py
  n26/tests/sandbox/test_ingest_page.py
Due: check-fmt

refactor: keep authoring file field chrome in Cotton
  n26/core/templatetags/formkit.py
  n26/frontend/islands/file-input/FileInput.test.tsx
  n26/frontend/islands/file-input/FileInput.tsx
  n26/library/templates/authoring/_field.html
  n26/tests/sandbox/test_ingest_page.py
Due: none

docs: say the core bound counts core-marked tests, not PR-touched ones
  .github/workflows/test.yaml
  docs/developing-gyrinx/testing.md
  scripts/check_core_suite_bounds.py
Due: check-fmt, markdownlint

docs: explain manual augmentation setup in Recipes
  n26/library/recipes.md
Due: check-fmt, markdownlint

docs: clarify fighter action grants in Recipes
  n26/library/recipes.md
Due: check-fmt, markdownlint

docs: explain manual augmentation setup in Recipes (#2641)
  n26/library/recipes.md
Due: check-fmt, markdownlint

docs: add python.instructions.md for PEP 758 except groups
  .agents/skills/pr-comments/SKILL.md
  .github/copilot-instructions.md
  .github/instructions/python.instructions.md
  AGENTS.md
  gyrinx/tests/test_pep758_except_groups.py
  n26/AGENTS.md
Due: check-fmt, markdownlint

refactor: move modifier kind picker to React
  n26/frontend/islands/modifier-kind-picker/ModifierKindPicker.test.tsx
  n26/frontend/islands/modifier-kind-picker/ModifierKindPicker.tsx
  n26/frontend/islands/modifier-kind-picker/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/frontend/tooling/export_cotton_recipes.py
  n26/frontend/tooling/test_export_cotton_recipes.py
  n26/frontend/ui/index.tsx
  n26/library/templates/authoring/_composer.html
  n26/library/templates/authoring/detail.html
  n26/library/templates/authoring/modifier_create.html
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
Due: check-fmt

docs: add N26 card visibility and subhead rules to AGENTS.md
  n26/AGENTS.md
Due: check-fmt, markdownlint

feat: n26 founding Activity is named Spend built-in Trade Points
  n26/core/activities.py
  n26/core/founding.py
  n26/core/migrations/0074_founding_activity_label_spend_builtin_tp.py
  n26/core/models/activity.py
  n26/core/operations.py
  n26/core/templates/admin/maintenance/n26/_open_founding_actions_detail.html
  n26/core/templates/admin/maintenance/n26/open_founding_actions.html
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/n26/includes/founding_budget.html
  n26/core/templates/n26/includes/not_tracking_tp.html
  n26/core/templates/n26/includes/stash_trading_post.html
  n26/core/test_views_founding_activity.py
  n26/core/test_views_founding_budget.py
  n26/core/test_views_trade_points.py
  n26/core/views/gangs.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/activity-card/20-no-figures.html
  n26/designsystem/templates/designsystem/demos/founding-mark/30-in-place.html
  n26/designsystem/templates/designsystem/demos/model-card/60-founding-budget.html
  n26/designsystem/templates/designsystem/demos/stash/40-visit-blocked.html
  n26/designsystem/tests.py
  n26/maintenance.py
  n26/tests/sandbox/test_cloning.py
  n26/tests/sandbox/test_founding_activity_backfill.py
  n26/tests/sandbox/test_founding_budget.py
  n26/tests/sandbox/test_trade_points.py
  n26/tests/test_maintenance_console.py
Due: none

docs: add N26 card visibility and subhead rules to AGENTS.md (#2644)
  n26/AGENTS.md
Due: check-fmt, markdownlint

feat: label the modifier kind picker Continue → and shrink radio card help text
  n26/core/templates/cotton/n26/radio_cards/card.html
  n26/frontend/islands/modifier-kind-picker/ModifierKindPicker.test.tsx
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
Due: none

feat: add authored copy to N26 choice pages and inline gear tiers
  n26/core/render.py
  n26/core/templates/cotton/n26/assignable_lines.html
  n26/core/templates/cotton/n26/choice_offer.html
  n26/core/templates/cotton/n26/choice_picks.html
  n26/core/templates/cotton/n26/model_card/body.html
  n26/core/templates/n26/includes/assignable_name.html
  n26/core/templates/n26/includes/gear_lines.html
  n26/core/templates/n26/includes/weapon_name.html
  n26/core/test_card_rows.py
  n26/core/views/choose.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/migrations/0115_authored_choice_copy.py
  n26/library/models/AGENTS.md
  n26/library/models/slots.py
  n26/library/recipes.md
  n26/library/specs.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_spyrer_augmentations.py
Due: check-fmt, markdownlint
