Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

refactor: named builder helpers instead of tuple-index lambdas (code-quality bot)
  gyrinx/core/tests/test_pin_sweeps.py
Due: none

feat: sweeps maintain pinned amounts (#1826 Phase 6) (#1941)
  gyrinx/content/models/equipment.py
  gyrinx/content/models/equipment_list.py
  gyrinx/content/models/expansion.py
  gyrinx/content/models/signal_handlers.py
  gyrinx/content/signals.py
  gyrinx/core/cost/pin_sweep.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_balance_sheet.py
  gyrinx/core/tests/test_pin_sweeps.py
Due: none

feat: resolve-and-pin choke point (#1826 Phase 7)
  gyrinx/core/cost/pinning.py
  gyrinx/core/tests/test_pinning.py
Due: none

feat: acquisitions write receipts; clone carries pins (#1826 Phase 7)
  gyrinx/core/handlers/equipment/purchase.py
  gyrinx/core/handlers/fighter/vehicle.py
  gyrinx/core/models/list/advancement.py
  gyrinx/core/models/list/assignment.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/tests/test_balance_sheet.py
Due: none

test: acquisition-pinning CI guard + per-path receipt tests (#1826 Phase 7)
  gyrinx/core/tests/test_pin_guard.py
  gyrinx/core/tests/test_pinning.py
Due: none

fix: balance sheet reports pinned pricing provenance (#1826 Phase 7)
  gyrinx/core/cost/balance_sheet.py
  gyrinx/core/templates/core/debug/list_balance_sheet.html
  gyrinx/core/tests/test_pinning.py
Due: none

fix: SINGLE-stack receipts maintained by delta; frozen gear unpinned; guard hardened (#1826 Phase 7 review)
  gyrinx/content/models/signal_handlers.py
  gyrinx/core/cost/pin_sweep.py
  gyrinx/core/cost/pinning.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_pin_guard.py
  gyrinx/core/tests/test_pin_sweeps.py
  gyrinx/core/tests/test_pinning.py
Due: none

feat: acquisitions write pins; clone carries them (#1826 Phase 7) (#1944)
  gyrinx/content/models/signal_handlers.py
  gyrinx/core/cost/balance_sheet.py
  gyrinx/core/cost/pin_sweep.py
  gyrinx/core/cost/pinning.py
  gyrinx/core/handlers/equipment/purchase.py
  gyrinx/core/handlers/fighter/vehicle.py
  gyrinx/core/models/list/advancement.py
  gyrinx/core/models/list/assignment.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/tasks.py
  gyrinx/core/templates/core/debug/list_balance_sheet.html
  gyrinx/core/tests/test_balance_sheet.py
  gyrinx/core/tests/test_pin_guard.py
  gyrinx/core/tests/test_pin_sweeps.py
  gyrinx/core/tests/test_pinning.py
Due: none

feat: audited RECONCILE + universal receipt backfill (#1826 Phase 8)
  gyrinx/core/admin/list.py
  gyrinx/core/cost/reconcile.py
  gyrinx/core/management/commands/backfill_pins.py
  gyrinx/core/management/commands/reconcile_lists.py
  gyrinx/core/migrations/0154_reconcile_action_type.py
  gyrinx/core/models/action.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_reconcile_backfill.py
Due: none

fix: register the backfill task; book clamped values; lock reconciles (#1826 Phase 8 review)
  gyrinx/core/cost/pinning.py
  gyrinx/core/cost/reconcile.py
  gyrinx/core/management/commands/backfill_pins.py
  gyrinx/core/management/commands/reconcile_lists.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_reconcile_backfill.py
  gyrinx/tasks/registry.py
Due: none

test: zero-boundary matrix — negative costs, refunds, and values crossing zero (#1826)
  gyrinx/core/tests/test_zero_boundaries.py
Due: none

docs: task-registry footgun analysis (refs #1947)
  .claude/notes/task-registry-footgun.md
Due: check-fmt, markdownlint

fix: backfill task reports cumulative failures at walk completion
  gyrinx/core/tasks.py
Due: none

fix: CodeRabbit round — honest exit codes, precise labels, resumable cursors
  gyrinx/core/admin/list.py
  gyrinx/core/cost/reconcile.py
  gyrinx/core/management/commands/backfill_pins.py
  gyrinx/core/management/commands/reconcile_lists.py
  gyrinx/core/tasks.py
Due: none

fix: operator attribution for reconcile_lists; distinct() on covered ids
  gyrinx/core/admin/list.py
  gyrinx/core/management/commands/reconcile_lists.py
Due: none

feat: audited reconcile + universal receipt backfill (#1826 Phase 8) (#1946)
  .claude/notes/task-registry-footgun.md
  gyrinx/core/admin/list.py
  gyrinx/core/cost/pinning.py
  gyrinx/core/cost/reconcile.py
  gyrinx/core/management/commands/backfill_pins.py
  gyrinx/core/management/commands/reconcile_lists.py
  gyrinx/core/migrations/0154_reconcile_action_type.py
  gyrinx/core/models/action.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_reconcile_backfill.py
  gyrinx/core/tests/test_zero_boundaries.py
  gyrinx/tasks/registry.py
Due: check-fmt, markdownlint

feat: admin maintenance triggers for reconcile + receipt backfill, with per-list rollout (#1826 Phase 8b)
  gyrinx/core/migrations/0155_backfill_pin_operations.py
  gyrinx/core/models/backfill.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_maintenance_pin_ops.py
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/templates/admin/maintenance/backfill_pins.html
  gyrinx/maintenance/templates/admin/maintenance/reconcile_lists.html
  gyrinx/tasks/registry.py
Due: none

fix: Phase 8b review round — fork-safe records, friendly inputs, honest failure semantics
  gyrinx/core/admin/__init__.py
  gyrinx/core/admin/backfill.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_maintenance_pin_ops.py
  gyrinx/maintenance/admin.py
Due: none

feat: surface Maintenance in the header nav and admin home (#1826 Phase 8b)
  gyrinx/core/templates/core/layouts/base.html
  gyrinx/core/tests/test_maintenance_pin_ops.py
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/templates/admin/maintenance/admin_index.html
Due: none

refactor: single import style for tasks module in maintenance tests (code-quality bot)
  gyrinx/core/tests/test_maintenance_pin_ops.py
Due: none

feat: admin maintenance triggers for reconcile + backfill, with per-list rollout (#1826 Phase 8b) (#1948)
  gyrinx/core/admin/__init__.py
  gyrinx/core/admin/backfill.py
  gyrinx/core/migrations/0155_backfill_pin_operations.py
  gyrinx/core/models/backfill.py
  gyrinx/core/tasks.py
  gyrinx/core/templates/core/layouts/base.html
  gyrinx/core/tests/test_maintenance_pin_ops.py
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/templates/admin/maintenance/admin_index.html
  gyrinx/maintenance/templates/admin/maintenance/backfill_pins.html
  gyrinx/maintenance/templates/admin/maintenance/reconcile_lists.html
  gyrinx/tasks/registry.py
Due: none

fix: classic card — blank template + skills/wargear spacing
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/includes/classic_card.html
  gyrinx/core/views/print_lab.py
Due: check-fmt

fix: classic card feedback — statline box, blank lines, flush tabs
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/includes/classic_card.html
Due: check-fmt

style: give classic-card Skills and Wargear two ruled rows
  gyrinx/core/static/core/scss/_classic_card.scss
Due: check-fmt

feat: grimdark "classic mode" print card + print lab (#1726)
  gyrinx/core/static/core/img/print/classic/backgrounds/blank.jpg
  gyrinx/core/static/core/img/print/classic/backgrounds/even.jpg
  gyrinx/core/static/core/img/print/classic/backgrounds/odd.jpg
  gyrinx/core/static/core/img/print/classic/backgrounds/paper_even.jpg
  gyrinx/core/static/core/img/print/classic/backgrounds/paper_odd.jpg
  gyrinx/core/static/core/img/print/classic/backgrounds/plate_dark.webp
  gyrinx/core/static/core/img/print/classic/icons/out-of-ammo.png
  gyrinx/core/static/core/img/print/classic/icons/out-of-ammo.svg
  gyrinx/core/static/core/img/print/classic/overlays/cog.png
  gyrinx/core/static/core/img/print/classic/overlays/screen.webp
  gyrinx/core/static/core/img/print/classic/overlays/sidebar.webp
  gyrinx/core/static/core/img/print/classic/overlays/stamp.png
  gyrinx/core/static/core/img/print/classic/skulls/blood-in-the-spire.webp
  gyrinx/core/static/core/img/print/classic/skulls/bonedry-and-broke.webp
  gyrinx/core/static/core/img/print/classic/skulls/daemons-of-meridian.webp
  gyrinx/core/static/core/img/print/classic/skulls/devils-of-gunk-deep.webp
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/static/core/scss/print_classic.scss
  gyrinx/core/templates/core/debug/print_lab.html
  gyrinx/core/templates/core/debug/print_lab_sheet.html
  gyrinx/core/templates/core/includes/classic_card.html
  gyrinx/core/tests/test_print_lab.py
  gyrinx/core/views/print_lab.py
  gyrinx/urls.py
Due: check-fmt

feat: classic card — white write-in boxes for Kills, Notes, Injuries
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/includes/classic_card.html
  gyrinx/core/tests/test_print_lab.py
Due: check-fmt

feat: classic card — XP as the far-right statline column
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/debug/print_lab.html
  gyrinx/core/templates/core/includes/classic_card.html
  gyrinx/core/tests/test_print_lab.py
  gyrinx/core/views/print_lab.py
Due: check-fmt

fix: stop classic-card name descenders being clipped
  gyrinx/core/static/core/scss/_classic_card.scss
Due: check-fmt

feat: classic card — replace condition tabs with an Injuries strip
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/debug/print_lab.html
  gyrinx/core/templates/core/includes/classic_card.html
  gyrinx/core/tests/test_print_lab.py
  gyrinx/core/views/print_lab.py
Due: check-fmt

feat: classic card — restore condition tabs + save in the top strip
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/includes/classic_card.html
Due: check-fmt

feat: classic card — Wyrd Powers + special gear categories on their own rows
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/debug/print_lab.html
  gyrinx/core/templates/core/includes/classic_card.html
  gyrinx/core/tests/test_print_lab.py
  gyrinx/core/views/print_lab.py
Due: check-fmt

feat: classic card — 2-column detail grid, auto-fit text, layout polish
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/debug/print_lab.html
  gyrinx/core/templates/core/debug/print_lab_sheet.html
  gyrinx/core/templates/core/includes/classic_card.html
  gyrinx/core/tests/test_print_lab.py
  gyrinx/core/views/print_lab.py
Due: check-fmt

feat: classic card — move Injuries to a row beneath Notes
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/debug/print_lab.html
  gyrinx/core/templates/core/includes/classic_card.html
  gyrinx/core/views/print_lab.py
Due: check-fmt

feat: print classic cards from a print config; smaller white-disc cog
  .claude/notes/classic-card-print-config-wiring.md
  gyrinx/core/forms/print_config.py
  gyrinx/core/migrations/0154_print_config_card_style_theme.py
  gyrinx/core/models/print_config.py
  gyrinx/core/print_cards.py
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/debug/print_lab_sheet.html
  gyrinx/core/templates/core/includes/classic_sheet.html
  gyrinx/core/templates/core/list_print_classic.html
  gyrinx/core/templates/core/print_config/form.html
  gyrinx/core/tests/test_print_config_classic.py
  gyrinx/core/tests/test_print_config_stash.py
  gyrinx/core/views/list/views.py
  gyrinx/core/views/print_lab.py
Due: check-fmt, markdownlint

feat: classic card — dark torn-paper nameplate behind the title
  gyrinx/core/static/core/img/print/classic/overlays/nameplate.png
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/includes/classic_card.html
Due: check-fmt

feat: classic card — balanced detail columns, aligned field boxes, faded bg
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/includes/classic_card.html
  gyrinx/core/views/print_lab.py
Due: check-fmt

style: classic card — baseline labels, bottom-aligned detail, cog behind table
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/debug/print_lab_sheet.html
  gyrinx/core/templates/core/includes/classic_card.html
Due: check-fmt

style: classic card — recolour the rating cog stamp black
  gyrinx/core/static/core/img/print/classic/overlays/cog.png
Due: none

style: classic card — vertically centre the rating cog on the header band
  gyrinx/core/static/core/scss/_classic_card.scss
Due: check-fmt

fix: classic card — Skills/Gear reserve at least two rows, not extra ones
  gyrinx/core/static/core/scss/_classic_card.scss
Due: check-fmt

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
