Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

fix: keep pets out of n26 crew selection and tidy the Choose crew page (#2692)
  n26/core/crews.py
  n26/core/templates/n26/crew.html
  n26/core/templates/n26/crew_sheet.html
  n26/core/views/crews.py
  n26/core/views/post_battle.py
  n26/frontend/islands/crew-picker/CrewPicker.test.tsx
  n26/frontend/islands/crew-picker/CrewPicker.tsx
  n26/frontend/islands/help/Help.tsx
  n26/frontend/islands/help/entry.tsx
  n26/frontend/tooling/export_cotton_recipes.py
  n26/frontend/ui/HelpPopover.test.tsx
  n26/frontend/ui/HelpPopover.tsx
  n26/frontend/ui/index.tsx
  n26/tests/test_views_crews.py
  n26/tests/test_views_post_battle.py
  pyproject.toml
Due: none

fix: restrict N26 tier choices and repair Spyrer augmentations (#2695)
  n26/core/arrivals.py
  n26/core/spyrer_augmentation_repair.py
  n26/core/templates/n26/includes/gear_lines.html
  n26/core/templates/n26/includes/weapon_name.html
  n26/core/test_action_augmentations.py
  n26/core/tier_choices.py
  n26/core/views/arrivals.py
  n26/core/views/choose.py
  n26/design/fighter-actions.md
  n26/library/recipes.md
  n26/maintenance.py
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_fighter_action_flows.py
  n26/tests/sandbox/test_spyrer_augmentation_repair.py
  n26/tests/sandbox/test_spyrer_augmentations.py
Due: check-fmt, markdownlint

fix: leave pets out of the n26 battle page crew counts and ratings
  n26/core/views/battles.py
  n26/tests/test_views_battles.py
Due: none

fix: make fetch_job_logs.py executable and mark its subprocess use for bandit
  scripts/fetch_job_logs.py
Due: none

fix: page through run jobs and fail on non-404 log errors in fetch_job_logs.py
  scripts/fetch_job_logs.py
Due: none

fix: leave pets out of the n26 battle page crew counts and ratings (#2713)
  n26/core/views/battles.py
  n26/tests/test_views_battles.py
Due: none

feat: start n26 post-battle reports from Record results and link the gang
  n26/core/templates/n26/battle.html
  n26/core/templates/n26/includes/post_battle_breadcrumbs.html
  n26/core/templates/n26/post_battle.html
  n26/core/templates/n26/post_battle_list.html
  n26/core/templates/n26/post_battle_receipt.html
  n26/core/templates/n26/start_post_battle.html
  n26/core/views/battles.py
  n26/core/views/post_battle.py
  n26/tests/test_views_post_battle.py
Due: none

fix: name the gang in the n26 battle page's post-battle buttons
  n26/core/templates/n26/battle.html
  n26/core/views/battles.py
  n26/tests/test_views_post_battle.py
Due: none

feat: always offer an n26 All equipment card beside named equipment sets
  n26/core/crews.py
  n26/core/templates/n26/model_cards.html
  n26/core/templates/n26/remove_model_card.html
  n26/core/views/assignment_sets.py
  n26/frontend/islands/crew-picker/CrewPicker.test.tsx
  n26/frontend/islands/crew-picker/CrewPicker.tsx
  n26/tests/sandbox/test_crews.py
  n26/tests/test_views_assignment_sets.py
  n26/tests/test_views_crews.py
Due: none

fix: include Spyre Hunt Masters in N26 augmentation repair
  n26/core/spyrer_augmentation_repair.py
  n26/tests/sandbox/test_spyrer_augmentation_repair.py
Due: none

fix: include Spyre Hunt Masters in N26 augmentation repair (#2716)
  n26/core/spyrer_augmentation_repair.py
  n26/tests/sandbox/test_spyrer_augmentation_repair.py
Due: none

feat: start n26 post-battle reports from Record results and link the gang (#2710)
  n26/core/templates/n26/battle.html
  n26/core/templates/n26/includes/post_battle_breadcrumbs.html
  n26/core/templates/n26/post_battle.html
  n26/core/templates/n26/post_battle_list.html
  n26/core/templates/n26/post_battle_receipt.html
  n26/core/templates/n26/start_post_battle.html
  n26/core/views/battles.py
  n26/core/views/post_battle.py
  n26/tests/test_views_post_battle.py
Due: none

feat: tidy the n26 model card headers and stop repeating saved crew cards
  n26/core/crew_forms.py
  n26/core/crews.py
  n26/core/templates/n26/model_cards.html
  n26/core/views/assignment_sets.py
  n26/frontend/islands/help/Help.tsx
  n26/frontend/tooling/export_cotton_recipes.py
  n26/frontend/ui/HelpPopover.test.tsx
  n26/frontend/ui/HelpPopover.tsx
  n26/tests/test_views_assignment_sets.py
  n26/tests/test_views_crews.py
Due: none

fix: let the n26 post-battle editor skip models that cannot take XP
  n26/core/post_battle.py
  n26/core/post_battle_forms.py
  n26/core/static/n26/post-battle.js
  n26/core/templates/n26/post_battle.html
  n26/core/views/post_battle.py
  n26/frontend/test/post-battle-xp-toolbar.test.js
  n26/tests/sandbox/test_post_battle.py
  n26/tests/test_views_post_battle.py
Due: check-fmt

fix: show a question-mark button instead of a disabled XP field in post-battle
  n26/core/post_battle_forms.py
  n26/core/templates/n26/post_battle.html
  n26/tests/test_views_post_battle.py
Due: none

fix: keep the post-battle −1 XP and +1 XP buttons together at phone width
  n26/core/templates/n26/post_battle.html
Due: none

fix: open the post-battle XP reason in a c-ui.popover with strategy="fixed"
  n26/core/post_battle_forms.py
  n26/core/static/n26/post-battle.js
  n26/core/templates/cotton/ui/popover.html
  n26/core/templates/n26/post_battle.html
  n26/core/test_menu_position.py
  n26/designsystem/templates/designsystem/demos/popover/40-inside-a-scroll-box.html
  n26/frontend/test/post-battle-xp-toolbar.test.js
  n26/tests/test_views_post_battle.py
Due: check-fmt

fix: clear stale XP on blocked models before the post-battle editor previews
  n26/core/post_battle_forms.py
  n26/core/templates/n26/post_battle.html
  n26/core/views/post_battle.py
  n26/tests/test_views_post_battle.py
Due: none

fix: let the n26 post-battle editor skip models that cannot take XP (#2711)
  n26/core/post_battle.py
  n26/core/post_battle_forms.py
  n26/core/static/n26/post-battle.js
  n26/core/templates/cotton/ui/popover.html
  n26/core/templates/n26/post_battle.html
  n26/core/test_menu_position.py
  n26/core/views/post_battle.py
  n26/designsystem/templates/designsystem/demos/popover/40-inside-a-scroll-box.html
  n26/frontend/test/post-battle-xp-toolbar.test.js
  n26/tests/sandbox/test_post_battle.py
  n26/tests/test_views_post_battle.py
Due: check-fmt

feat: link the n26 weapon-limit warning to adding a model card
  n26/core/views/assignment_sets.py
  n26/frontend/islands/help/Help.tsx
  n26/frontend/ui/HelpPopover.test.tsx
  n26/frontend/ui/HelpPopover.tsx
  n26/tests/test_views_assignment_sets.py
Due: none

feat: give each model one module in the n26 post-battle editor
  n26/core/activities.py
  n26/core/post_battle.py
  n26/core/post_battle_forms.py
  n26/core/render.py
  n26/core/static/n26/post-battle.js
  n26/core/status.py
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/n26/includes/post_battle_model.html
  n26/core/templates/n26/includes/post_battle_refresh.html
  n26/core/templates/n26/includes/post_battle_summary.html
  n26/core/templates/n26/post_battle.html
  n26/core/templates/n26/post_battle_receipt.html
  n26/core/views/post_battle.py
  n26/designsystem/templates/designsystem/demos/badge/40-status.html
  n26/frontend/test/post-battle-autosave.test.js
  n26/tests/sandbox/test_post_battle.py
  n26/tests/test_views_post_battle.py
Due: check-fmt

fix: lock the n26 post-battle module during its htmx update and redirect stale ones
  n26/core/static/n26/post-battle.js
  n26/core/templates/n26/includes/post_battle_equipment.html
  n26/core/templates/n26/includes/post_battle_errors.html
  n26/core/templates/n26/includes/post_battle_model.html
  n26/core/templates/n26/includes/post_battle_refresh.html
  n26/core/templates/n26/post_battle.html
  n26/core/views/htmx.py
  n26/core/views/post_battle.py
  n26/frontend/test/post-battle-autosave.test.js
  n26/tests/test_views_post_battle.py
Due: check-fmt

fix: put results under XP in the n26 post-battle module and align its fields
  n26/core/post_battle_forms.py
  n26/core/templates/n26/includes/post_battle_model.html
  n26/tests/sandbox/test_post_battle.py
  n26/tests/test_views_post_battle.py
Due: none

fix: count weapon slots for the n26 more-than-three-weapons note
  n26/core/views/assignment_sets.py
  n26/tests/test_views_assignment_sets.py
Due: none

fix: name n26 post-battle result rows by the table's singular kind
  n26/core/post_battle.py
  n26/tests/test_views_post_battle.py
Due: none

chore: remove the N26 Spyrer augmentation maintenance job
  n26/core/spyrer_augmentation_repair.py
  n26/library/recipes.md
  n26/maintenance.py
  n26/tests/sandbox/test_spyrer_augmentation_repair.py
Due: check-fmt, markdownlint

fix: retain the retired Spyrer repair label
  n26/maintenance.py
  n26/tests/test_maintenance_console.py
Due: none

fix: plainer wording in the n26 post-battle model module
  n26/core/templates/n26/includes/post_battle_model.html
  n26/core/templates/n26/includes/post_battle_summary.html
  n26/tests/test_views_post_battle.py
Due: none

chore: remove the N26 Spyrer augmentation maintenance job (#2719)
  n26/core/spyrer_augmentation_repair.py
  n26/library/recipes.md
  n26/maintenance.py
  n26/tests/sandbox/test_spyrer_augmentation_repair.py
  n26/tests/test_maintenance_console.py
Due: check-fmt, markdownlint

test: read the n26 post-battle XP popover from the model module include
  n26/core/test_menu_position.py
Due: none

fix: keep typing and focus through an n26 post-battle module redraw
  n26/core/static/n26/post-battle.js
  n26/core/templates/n26/includes/post_battle_model.html
  n26/frontend/test/post-battle-refresh.test.js
Due: check-fmt

fix: list only real changes in the n26 post-battle summary and receipt
  n26/core/post_battle.py
  n26/core/post_battle_forms.py
  n26/core/templates/n26/includes/post_battle_model.html
  n26/core/templates/n26/includes/post_battle_summary.html
  n26/core/templates/n26/post_battle.html
  n26/core/templates/n26/post_battle_receipt.html
  n26/tests/sandbox/test_post_battle.py
  n26/tests/test_views_post_battle.py
Due: none

fix: never lock or refocus the n26 post-battle module during a redraw
  n26/core/post_battle.py
  n26/core/post_battle_forms.py
  n26/core/static/n26/post-battle.js
  n26/core/templates/n26/includes/post_battle_model.html
  n26/core/templates/n26/includes/post_battle_summary.html
  n26/frontend/test/post-battle-refresh.test.js
  n26/tests/sandbox/test_post_battle.py
  n26/tests/test_views_post_battle.py
Due: check-fmt

feat: give each model one module in the n26 post-battle editor (#2712)
  n26/core/activities.py
  n26/core/post_battle.py
  n26/core/post_battle_forms.py
  n26/core/render.py
  n26/core/static/n26/post-battle.js
  n26/core/status.py
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/n26/includes/post_battle_equipment.html
  n26/core/templates/n26/includes/post_battle_errors.html
  n26/core/templates/n26/includes/post_battle_model.html
  n26/core/templates/n26/includes/post_battle_refresh.html
  n26/core/templates/n26/includes/post_battle_summary.html
  n26/core/templates/n26/post_battle.html
  n26/core/templates/n26/post_battle_receipt.html
  n26/core/test_menu_position.py
  n26/core/views/htmx.py
  n26/core/views/post_battle.py
  n26/designsystem/templates/designsystem/demos/badge/40-status.html
  n26/frontend/test/post-battle-autosave.test.js
  n26/frontend/test/post-battle-refresh.test.js
  n26/tests/sandbox/test_post_battle.py
  n26/tests/test_views_post_battle.py
Due: check-fmt

feat: add lines of credits and gang counters to n26 post-battle Mission results
  n26/core/counter_changes.py
  n26/core/post_battle.py
  n26/core/post_battle_forms.py
  n26/core/static/n26/post-battle.js
  n26/core/templates/n26/includes/post_battle_mission.html
  n26/core/templates/n26/includes/post_battle_refresh.html
  n26/core/templates/n26/includes/post_battle_summary.html
  n26/core/templates/n26/post_battle.html
  n26/core/templates/n26/post_battle_receipt.html
  n26/core/views/post_battle.py
  n26/frontend/test/post-battle-mission.test.js
  n26/tests/sandbox/test_post_battle.py
  n26/tests/test_counter_changes.py
  n26/tests/test_views_post_battle.py
Due: check-fmt

fix: say "line of credits" throughout n26 post-battle Mission results
  n26/core/counter_changes.py
  n26/core/post_battle.py
  n26/core/post_battle_forms.py
  n26/core/templates/n26/includes/post_battle_summary.html
  n26/core/templates/n26/post_battle_receipt.html
  n26/tests/test_counter_changes.py
Due: none

fix: step n26 post-battle gang counters in the page, not by a redraw
  n26/core/post_battle_forms.py
  n26/core/static/n26/post-battle.js
  n26/core/templates/n26/includes/post_battle_mission.html
  n26/frontend/test/post-battle-mission.test.js
  n26/tests/test_views_post_battle.py
Due: check-fmt

fix: keep a removed counter's recorded change in n26 post-battle corrections
  n26/core/counter_changes.py
  n26/tests/test_counter_changes.py
  n26/tests/test_views_post_battle.py
Due: none

fix: make n26 post-battle Mission results add up in corrections
  n26/core/counter_changes.py
  n26/core/history.py
  n26/core/post_battle.py
  n26/core/post_battle_forms.py
  n26/core/static/n26/post-battle.js
  n26/core/templates/n26/includes/post_battle_mission.html
  n26/core/templates/n26/includes/post_battle_summary.html
  n26/core/templates/n26/post_battle_receipt.html
  n26/core/views/post_battle.py
  n26/frontend/test/post-battle-mission.test.js
  n26/tests/sandbox/test_post_battle.py
  n26/tests/test_views_post_battle.py
Due: check-fmt

feat: add credit lines and gang counters to n26 post-battle Mission results (#2714)
  n26/core/counter_changes.py
  n26/core/history.py
  n26/core/post_battle.py
  n26/core/post_battle_forms.py
  n26/core/static/n26/post-battle.js
  n26/core/templates/n26/includes/post_battle_mission.html
  n26/core/templates/n26/includes/post_battle_refresh.html
  n26/core/templates/n26/includes/post_battle_summary.html
  n26/core/templates/n26/post_battle.html
  n26/core/templates/n26/post_battle_receipt.html
  n26/core/views/post_battle.py
  n26/frontend/test/post-battle-mission.test.js
  n26/tests/sandbox/test_post_battle.py
  n26/tests/test_counter_changes.py
  n26/tests/test_views_post_battle.py
Due: check-fmt

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
