Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

docs: the provenance comment catches up with its tooltip
  n26/core/templates/cotton/n26/assignable_lines.html
  n26/core/test_card_tooltips.py
Due: none

refactor: the card's lines are read in one pass, and a test says whose
  n26/core/effects.py
  n26/tests/sandbox/test_slots_and_picks.py
Due: none

fix: a question whose slot was taken away is not asked
  n26/core/effects.py
  n26/tests/sandbox/test_offer_swap_probe.py
Due: none

test: the other wiring of the experiment fails at the same spot
  n26/tests/sandbox/test_offer_swap_probe.py
Due: none

fix: the card's tooltip test proves the card drew, and the badge speaks
  n26/core/templates/cotton/n26/assignable_lines.html
  n26/core/templates/cotton/n26/collection_picker/index.html
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/test_card_tooltips.py
  n26/designsystem/tests.py
Due: none

perf: the app serves on one core, because it only ever used one (#2204)
  cloudbuild.yaml
  docker/entrypoint.sh
Due: check-fmt

fix: a choice a grant offered can be answered, not only read
  n26/core/effects.py
  n26/core/operations.py
  n26/core/views/choose.py
  n26/tests/sandbox/test_offer_swap_probe.py
Due: none

feat: the owner edits what a model is — subtypes and rules, reversibly
  n26/core/card.py
  n26/core/effects.py
  n26/core/migrations/0014_the_owner_edits_what_a_model_is.py
  n26/core/models/assignment.py
  n26/core/models/ledger.py
  n26/core/operations.py
  n26/tests/sandbox/test_editing_what_a_model_is.py
Due: none

feat: the ledger keeps the gang's whole story, not only its money
  n26/core/CLAUDE.md
  n26/core/admin.py
  n26/core/forms.py
  n26/core/migrations/0013_events_stand_alone_pinned_to_their_gang.py
  n26/core/models/ledger.py
  n26/core/models/stat_override.py
  n26/core/operations.py
  n26/core/test_journal.py
  n26/core/views/edit.py
  n26/core/views/gangs.py
  n26/tests/sandbox/actions.py
Due: check-fmt, markdownlint

docs: the wiring notes cover the owner's removals
  n26/core/CLAUDE.md
Due: check-fmt, markdownlint

feat: the edit page offers the model's subtypes and rules as boxes to tick
  n26/core/templates/cotton/n26/view/model_edit.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/views/edit.py
  n26/tests/sandbox/test_editing_what_a_model_is.py
Due: none

test: the named reconcile test speaks assert_reconciled
  n26/tests/sandbox/test_editing_what_a_model_is.py
Due: none

fix: a refused removal saves idempotently, and review corrections
  n26/core/migrations/0013_events_stand_alone_pinned_to_their_gang.py
  n26/core/migrations/0014_the_owner_edits_what_a_model_is.py
  n26/core/models/assignment.py
  n26/core/operations.py
  n26/core/templates/n26/fighter_edit.html
  n26/core/views/edit.py
  n26/library/prose.py
  n26/tests/sandbox/test_editing_what_a_model_is.py
Due: none

test: the guest tests say the books balance
  n26/tests/sandbox/test_slots_and_picks.py
Due: none

feat: owners edit a model's subtypes and rules, and the ledger keeps the gang's whole story (#2205)
  n26/core/CLAUDE.md
  n26/core/admin.py
  n26/core/card.py
  n26/core/effects.py
  n26/core/forms.py
  n26/core/migrations/0013_events_stand_alone_pinned_to_their_gang.py
  n26/core/migrations/0014_the_owner_edits_what_a_model_is.py
  n26/core/models/assignment.py
  n26/core/models/ledger.py
  n26/core/models/stat_override.py
  n26/core/operations.py
  n26/core/templates/cotton/n26/view/model_edit.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/test_journal.py
  n26/core/views/edit.py
  n26/core/views/gangs.py
  n26/library/prose.py
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_editing_what_a_model_is.py
Due: check-fmt, markdownlint

fix: a question with no address is asked and answerable, and one whose slot went is not (#2207)
  n26/core/effects.py
  n26/core/operations.py
  n26/core/views/choose.py
  n26/tests/sandbox/test_offer_swap_probe.py
  n26/tests/sandbox/test_slots_and_picks.py
Due: none

fix: a tick list's muted lines are smaller than the names they belong under
  n26/core/templates/cotton/n26/tick_list.html
Due: none

docs: the chosen-kinds map and the migration plan
  .claude/notes/chosen-kinds-map.md
  .claude/notes/chosen-kinds-migration-plan.md
Due: check-fmt, markdownlint

feat: the rest of the library is a searchable select, not a collapsible
  n26/core/templates/n26/fighter_edit.html
  n26/core/views/edit.py
  n26/tests/sandbox/test_editing_what_a_model_is.py
Due: none

chore: add Cloud Agent development environment config
  .cursor/environment.json
  .cursor/install.sh
  .cursor/start.sh
Due: check-fmt

feat: the Cawdor Paths become picks — the first converted system
  n26/core/capture.py
  n26/library/conversion/__init__.py
  n26/library/conversion/base.py
  n26/library/conversion/paths.py
  n26/library/management/commands/n26_convert.py
  n26/library/migrations/0062_the_paths_become_picks.py
  n26/tests/sandbox/test_conversion_paths.py
Due: none

fix: the plan expects exactly two paths, and the apply report says things once
  n26/core/capture.py
  n26/library/conversion/paths.py
  n26/library/management/commands/n26_convert.py
Due: none

chore: make dev-server terminal ensure PostgreSQL is up before Django
  .cursor/environment.json
Due: check-fmt

fix: the conversion survives switched paths, refuses shared offers, and always answers in words
  n26/core/capture.py
  n26/library/conversion/base.py
  n26/library/conversion/paths.py
  n26/tests/sandbox/test_conversion_paths.py
Due: none

docs: the proof set says where it comes from
  n26/library/conversion/base.py
Due: none

feat: adding a subtype or rule is the switcher shape, and what cannot go is not offered
  n26/core/effects.py
  n26/core/render.py
  n26/core/templates/cotton/n26/pick_list/box.html
  n26/core/templates/cotton/n26/pick_list/index.html
  n26/core/templates/cotton/n26/quick_switcher/choice.html
  n26/core/templates/cotton/n26/tick_list.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/views/edit.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/pick-list/10-long.html
  n26/tests/sandbox/test_editing_what_a_model_is.py
Due: none

docs: the gallery lists the pick list's own box
  n26/designsystem/catalog.py
Due: none

feat: the Cawdor Paths become picks — the first converted system (#2214)
  n26/core/capture.py
  n26/library/conversion/__init__.py
  n26/library/conversion/base.py
  n26/library/conversion/paths.py
  n26/library/management/commands/n26_convert.py
  n26/library/migrations/0062_the_paths_become_picks.py
  n26/tests/sandbox/test_conversion_paths.py
Due: none

fix: a bought subtype cannot be unticked, and adding one is the switcher shape (#2212)
  n26/core/effects.py
  n26/core/render.py
  n26/core/templates/cotton/n26/pick_list/box.html
  n26/core/templates/cotton/n26/pick_list/index.html
  n26/core/templates/cotton/n26/quick_switcher/choice.html
  n26/core/templates/cotton/n26/tick_list.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/views/edit.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/pick-list/10-long.html
  n26/tests/sandbox/test_editing_what_a_model_is.py
Due: none

fix: a pick names the question it answers
  n26/core/card.py
  n26/core/effects.py
  n26/core/migrations/0015_a_pick_names_the_offer_it_settles.py
  n26/core/models/assignment.py
  n26/core/operations.py
  n26/tests/sandbox/test_choosing.py
Due: none

fix: one answer settles one question, named or not
  n26/core/effects.py
  n26/tests/sandbox/test_choosing.py
Due: none

test: the repeated-answer note is drawn from two answers
  n26/tests/sandbox/test_gang_sheet.py
Due: none

chore: add Cloud Agent development environment config (#2213)
  .cursor/environment.json
  .cursor/install.sh
  .cursor/start.sh
Due: check-fmt

docs: spec BadgeGrant for awarding badges to people and cohorts
  .claude/notes/badge-grants-spec.md
Due: check-fmt, markdownlint

feat: badges staff can define, upload artwork for, and grant
  .claude/notes/badge-grants-spec.md
  gyrinx/accounts/admin.py
  gyrinx/accounts/migrations/0003_badge_and_badgegrant.py
  gyrinx/accounts/models.py
  gyrinx/badges.py
  gyrinx/site/templatetags/badge_tags.py
  gyrinx/templates/admin/badge_change_list.html
  gyrinx/templates/admin/grant_badge.html
  gyrinx/templates/admin/grant_badge_to_list.html
  gyrinx/tests/test_badge_admin.py
  gyrinx/tests/test_svg.py
  n23/core/models/battle.py
  n23/core/tests/test_badges.py
  n23/core/views/campaign/views.py
  n23/core/views/home.py
  n23/core/views/list/views.py
  n23/core/views/pack.py
Due: check-fmt, markdownlint

feat: preserve colour and crisp edges in inline SVG, move artwork to platform
  gyrinx/artwork.py
  gyrinx/svg.py
  n26/CLAUDE.md
  n26/library/CLAUDE.md
  n26/library/artwork.py
Due: check-fmt, markdownlint

docs: revise badge spec for admin-defined badges with uploaded artwork
  .claude/notes/badge-grants-spec.md
Due: check-fmt, markdownlint

docs: settle badge artwork decisions — preserve colour, restore crisp edges
  .claude/notes/badge-grants-spec.md
Due: check-fmt, markdownlint

fix: an answer outlives the question being reworded, and is never taken twice
  n26/core/effects.py
  n26/core/migrations/0015_a_pick_names_the_offer_it_settles.py
  n26/core/models/assignment.py
  n26/core/operations.py
  n26/core/test_assignable_wiring.py
  n26/library/conversion/base.py
  n26/tests/sandbox/test_choosing.py
Due: none
