Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

feat: Add confirmation dialog for restore fighter action (#1271)
  gyrinx/core/templates/core/list_archived_fighters.html
  gyrinx/core/templates/core/list_fighter_restore_confirm.html
  gyrinx/core/tests/test_restore_fighter.py
  gyrinx/core/urls.py
  gyrinx/core/views/list.py
Due: none

fix: exclude archived gangs from home page campaign list (#1281)
  gyrinx/core/views/__init__.py
Due: none

fix: Preserve equipment filter params when adding equipment (#1282)
  gyrinx/core/templates/core/includes/list_fighter_weapons.html
  gyrinx/core/templates/core/list_fighter_gear_edit.html
  gyrinx/core/views/list.py
Due: none

Formatting tweaks
  .markdownlint-cli2.mjs
  package.json
Due: check-fmt

feat: Replace claude-plan-action with issue triage workflow
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude-plan-action.yml
  .markdownlint-cli2.mjs
Due: check-fmt

docs: Improve label guidance in issue triage workflow
  .github/workflows/claude-issue-triage.yml
Due: check-fmt

fix: Address Copilot PR feedback on issue triage workflow
  .github/workflows/claude-issue-triage.yml
Due: check-fmt

chore: Specify Claude model in issue triage workflow
  .github/workflows/claude-issue-triage.yml
Due: check-fmt

feat: Replace claude-plan-action with issue triage workflow (#1283)
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude-plan-action.yml
  .markdownlint-cli2.mjs
Due: check-fmt

refactor: Split list.py into list/ and fighter/ packages
  gyrinx/core/views/fighter/__init__.py
  gyrinx/core/views/fighter/advancements.py
  gyrinx/core/views/fighter/crud.py
  gyrinx/core/views/fighter/equipment.py
  gyrinx/core/views/fighter/helpers.py
  gyrinx/core/views/fighter/narrative.py
  gyrinx/core/views/fighter/powers.py
  gyrinx/core/views/fighter/rules.py
  gyrinx/core/views/fighter/skills.py
  gyrinx/core/views/fighter/state.py
  gyrinx/core/views/fighter/stats.py
  gyrinx/core/views/fighter/xp.py
  gyrinx/core/views/list.py
  gyrinx/core/views/list/__init__.py
  gyrinx/core/views/list/attributes.py
  gyrinx/core/views/list/common.py
  gyrinx/core/views/list/invitations.py
  gyrinx/core/views/list/views.py
Due: none

refactor: Split list.py into list/ and fighter/ packages (#1288)
  gyrinx/core/views/fighter/__init__.py
  gyrinx/core/views/fighter/advancements.py
  gyrinx/core/views/fighter/crud.py
  gyrinx/core/views/fighter/equipment.py
  gyrinx/core/views/fighter/helpers.py
  gyrinx/core/views/fighter/narrative.py
  gyrinx/core/views/fighter/powers.py
  gyrinx/core/views/fighter/rules.py
  gyrinx/core/views/fighter/skills.py
  gyrinx/core/views/fighter/state.py
  gyrinx/core/views/fighter/stats.py
  gyrinx/core/views/fighter/xp.py
  gyrinx/core/views/list.py
  gyrinx/core/views/list/__init__.py
  gyrinx/core/views/list/attributes.py
  gyrinx/core/views/list/common.py
  gyrinx/core/views/list/invitations.py
  gyrinx/core/views/list/views.py
Due: none

Apply suggestions from code review
  gyrinx/core/templates/account/login.html
Due: none

Add email detection warning to login page (#1285)
  gyrinx/core/templates/account/login.html
Due: none

fix: Validate UUID category parameters for weapon equipment
  gyrinx/core/views/fighter/equipment.py
Due: none

fix: Only trigger claude.yml workflow on @claude-bot mentions
  .github/workflows/claude.yml
Due: check-fmt

fix: Validate UUID category parameters for weapon equipment (#1293)
  gyrinx/core/views/fighter/equipment.py
Due: none

feat: Add web search/fetch tools to triage bot
  .github/workflows/claude-issue-triage.yml
Due: check-fmt

refactor: Use direct imports from fighter/ and list/ packages
  gyrinx/core/tests/test_advancement_choices.py
  gyrinx/core/tests/test_advancements.py
  gyrinx/core/urls.py
  gyrinx/core/views/list/__init__.py
Due: none

refactor: Split __init__.py and campaign.py into focused modules
  gyrinx/core/views/__init__.py
  gyrinx/core/views/banner.py
  gyrinx/core/views/campaign.py
  gyrinx/core/views/campaign/__init__.py
  gyrinx/core/views/campaign/actions.py
  gyrinx/core/views/campaign/assets.py
  gyrinx/core/views/campaign/battles.py
  gyrinx/core/views/campaign/captured.py
  gyrinx/core/views/campaign/common.py
  gyrinx/core/views/campaign/copy.py
  gyrinx/core/views/campaign/crud.py
  gyrinx/core/views/campaign/lifecycle.py
  gyrinx/core/views/campaign/lists.py
  gyrinx/core/views/campaign/resources.py
  gyrinx/core/views/campaign/sub_assets.py
  gyrinx/core/views/campaign/views.py
  gyrinx/core/views/dice.py
  gyrinx/core/views/home.py
  gyrinx/core/views/user.py
Due: none

feat: Add web search/fetch tools to triage bot (#1296)
  .github/workflows/claude-issue-triage.yml
Due: check-fmt

fix: Only trigger claude.yml workflow on @claude-bot mentions (#1295)
  .github/workflows/claude.yml
Due: check-fmt

Soften web tool guidelines to allow fetching issue URLs
  .github/workflows/claude-issue-triage.yml
Due: check-fmt

Add security guidelines for web tool usage in triage bot (#1298)
  .github/workflows/claude-issue-triage.yml
Due: check-fmt

refactor: Use direct imports from fighter/ and list/ packages (#1289)
  gyrinx/core/tests/test_advancement_choices.py
  gyrinx/core/tests/test_advancements.py
  gyrinx/core/urls.py
  gyrinx/core/views/list/__init__.py
Due: none

refactor: Split __init__.py and campaign.py into focused modules (#1297)
  gyrinx/core/views/__init__.py
  gyrinx/core/views/banner.py
  gyrinx/core/views/campaign.py
  gyrinx/core/views/campaign/__init__.py
  gyrinx/core/views/campaign/actions.py
  gyrinx/core/views/campaign/assets.py
  gyrinx/core/views/campaign/battles.py
  gyrinx/core/views/campaign/captured.py
  gyrinx/core/views/campaign/common.py
  gyrinx/core/views/campaign/copy.py
  gyrinx/core/views/campaign/crud.py
  gyrinx/core/views/campaign/lifecycle.py
  gyrinx/core/views/campaign/lists.py
  gyrinx/core/views/campaign/resources.py
  gyrinx/core/views/campaign/sub_assets.py
  gyrinx/core/views/campaign/views.py
  gyrinx/core/views/dice.py
  gyrinx/core/views/home.py
  gyrinx/core/views/user.py
Due: none

feat: Add weekly summary workflow
  .github/workflows/weekly-summary.yml
Due: check-fmt

address copilot feedback
  .github/workflows/weekly-summary.yml
Due: check-fmt

feat: Add weekly summary workflow (#1301)
  .github/workflows/weekly-summary.yml
Due: check-fmt

fix: Use structured output instead of file writing
  .github/workflows/weekly-summary.yml
Due: check-fmt

tweak: Adjust summary style - intro line, impersonal, slightly more technical
  .github/workflows/weekly-summary.yml
Due: check-fmt

refactor: Use direct imports from campaign/ package
  gyrinx/core/urls.py
  gyrinx/core/views/campaign/__init__.py
Due: none

tweak: British English, title format 'What's new? Week of Jan 4th'
  .github/workflows/weekly-summary.yml
Due: check-fmt

refactor: Use direct imports from campaign/ package (#1303)
  gyrinx/core/urls.py
  gyrinx/core/views/campaign/__init__.py
Due: none

fix: Preserve multi-value filter params when adding equipment
  gyrinx/core/templates/core/includes/list_fighter_weapons.html
  gyrinx/core/templates/core/list_fighter_gear_edit.html
  gyrinx/core/templatetags/custom_tags.py
Due: none

fix: Preserve multi-value filter params when adding equipment (#1307)
  gyrinx/core/templates/core/includes/list_fighter_weapons.html
  gyrinx/core/templates/core/list_fighter_gear_edit.html
  gyrinx/core/templatetags/custom_tags.py
Due: none

fix: Set trigger_phrase to @claude-bot in claude.yml workflow
  .github/workflows/claude.yml
Due: check-fmt

fix: Set default Reputation value to 1 for new campaigns (#1312)
  gyrinx/core/tests/test_campaign.py
  gyrinx/core/views/campaign/crud.py
Due: none

feat: Add skill for editing GitHub discussions
  .claude/skills/edit-github-discussion.md
Due: check-fmt, markdownlint

fix: Add github_token to weekly-summary workflow for scheduled runs
  .github/workflows/weekly-summary.yml
Due: check-fmt

fix: address PR review feedback for All/None filter dropdowns
  gyrinx/core/static/core/js/index.js
  gyrinx/core/templates/core/includes/campaigns_filter.html
  gyrinx/core/templates/core/includes/fighter_gear_filter.html
  gyrinx/core/templates/core/includes/lists_filter.html
  gyrinx/core/templatetags/custom_tags.py
  gyrinx/core/views/campaign/views.py
  gyrinx/core/views/fighter/equipment.py
Due: check-fmt
