Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

fix: a part's ladder files under its host weapon; a weapon's skill offer stays in the Skills row; capture keeps weapon-hosted choices
  n26/core/capture.py
  n26/core/render.py
  n26/core/render_text.py
  n26/core/templates/cotton/n26/print/weapons.html
  n26/core/views/choose.py
  n26/tests/sandbox/test_spyrer_augmentations.py
Due: none

refactor: the price box's floor is a filter, and the parse happens once
  n26/core/templates/n26/includes/equip_price.html
  n26/core/templatetags/arith.py
  n26/core/test_arith.py
  n26/core/views/equip.py
Due: none

test: the picker lead names the weapon; ChoiceLine forward reference quoted on WeaponLine.choices
  n26/tests/sandbox/test_spyrer_augmentations.py
Due: none

feat: the picker returns to the screen it was opened from; the model's edit page passes its address
  .claude/notes/issue-2313-plan.md
  n26/core/templates/n26/choose.html
  n26/core/views/choose.py
  n26/core/views/edit.py
  n26/tests/sandbox/test_spyrer_augmentations.py
Due: check-fmt, markdownlint

feat: a weapon's augmentation choice draws under the weapon row; an item holds one level (#2527)
  .claude/notes/issue-2313-plan.md
  n26/core/capture.py
  n26/core/printing.py
  n26/core/render.py
  n26/core/render_text.py
  n26/core/templates/cotton/n26/model_card/body.html
  n26/core/templates/cotton/n26/print/weapons.html
  n26/core/templates/n26/choose.html
  n26/core/test_card_rows.py
  n26/core/views/choose.py
  n26/core/views/edit.py
  n26/designsystem/sampledata.py
  n26/library/recipes.md
  n26/tests/sandbox/test_spyrer_augmentations.py
Due: check-fmt, markdownlint

feat: n26 delete pages take an author's test gangs with the content they hold (#2523)
  n26/core/deletion.py
  n26/library/deletion.py
  n26/library/references.py
  n26/library/staged.md
  n26/library/templates/authoring/_deletion_plan.html
  n26/library/templates/authoring/deletion.html
  n26/library/templates/authoring/ingest.html
  n26/library/templates/authoring/ingest_clear.html
  n26/library/templates/authoring/staged.html
  n26/library/templates/authoring/staged_delete.html
  n26/library/templates/authoring/thing_delete.html
  n26/library/views.py
  n26/maintenance.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_deletion_pages.py
  n26/tests/sandbox/test_ingest_page.py
  n26/tests/sandbox/test_test_content_deletion.py
  n26/urls.py
Due: check-fmt, markdownlint

feat: a firing line's delete page removes a free line from the fighters that have it before deleting the row (#2524)
  n26/library/deletion.py
  n26/library/templates/authoring/_deletion_plan.html
  n26/library/templates/authoring/weapon_profile_delete.html
  n26/library/views.py
  n26/maintenance.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_firing_line_removal.py
Due: none

feat: Merge into page points every reference to a duplicate weapon or wargear at the row it duplicates (#2526)
  n26/library/merging.py
  n26/library/staged.md
  n26/library/templates/authoring/deletion.html
  n26/library/templates/authoring/detail.html
  n26/library/templates/authoring/thing_merge.html
  n26/library/views.py
  n26/maintenance.py
  n26/tests/sandbox/test_merge_into.py
  n26/urls.py
Due: check-fmt, markdownlint

fix: n26 deletion stack review fixes — emptied columns, campaign locks, per-gang re-check, idempotent redelivery (#2529)
  n26/library/deletion.py
  n26/library/merging.py
  n26/library/staged.md
  n26/library/templates/authoring/_deletion_plan.html
  n26/library/templates/authoring/deletion.html
  n26/library/templates/authoring/thing_delete.html
  n26/library/templates/authoring/thing_merge.html
  n26/library/templates/authoring/weapon_profile_delete.html
  n26/library/views.py
  n26/maintenance.py
  n26/tests/sandbox/test_deletion_pages.py
  n26/tests/sandbox/test_firing_line_removal.py
  n26/tests/sandbox/test_merge_into.py
  n26/tests/sandbox/test_test_content_deletion.py
Due: check-fmt, markdownlint

docs: add interstitials feature plan notes
  .claude/notes/interstitials-plan.md
Due: check-fmt, markdownlint

feat: make Post-battle updates a primary button on the n23 gang page
  n23/core/templates/core/includes/list.html
  n23/core/templates/core/includes/list_common_header.html
  n23/core/templates/core/list_post_battle_updates.html
  n23/core/tests/test_post_battle_updates.py
  scripts/raw_markup_baseline.json
Due: check-fmt

fix: write the equipment-list Restrictions column onto the CollectionEntry, not the item
  n26/library/ingest.py
  n26/tests/sandbox/test_ingest.py
Due: none

fix: draw two tabs whole on narrow tab strips instead of "+1 more"
  n26/core/templates/cotton/n26/collection_picker/index.html
  n26/core/templates/cotton/n26/tab_links.html
  n26/core/templates/cotton/n26/tab_strip.html
  n26/core/templates/cotton/ui/tabs/index.html
  n26/core/test_tab_links.py
  n26/core/test_ui_tabs.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/collection-picker/10-trading-post.html
  n26/designsystem/templates/designsystem/demos/tab-links/10-basic.html
  n26/designsystem/templates/designsystem/demos/tab-strip/10-basic.html
  n26/designsystem/templates/designsystem/demos/tabs/10-basic.html
  n26/designsystem/templates/designsystem/demos/tabs/20-variants.html
Due: none

feat: maintenance op CLEAR_ITEM_RESTRICTIONS strips usable_by_profiles from listed items
  n26/core/templates/admin/maintenance/n26/_clear_item_restrictions_detail.html
  n26/library/item_restrictions.py
  n26/maintenance.py
  n26/tests/sandbox/test_ingest.py
  n26/tests/test_maintenance_console.py
Due: none

style: format post-battle button templates with the djlint version CI runs
  n23/core/templates/core/includes/list.html
  n23/core/templates/core/list_post_battle_updates.html
Due: none

fix: show the Post-battle updates button to shared campaign admins on the n23 gang page
  n23/core/templates/core/includes/list.html
  n23/core/tests/test_post_battle_updates.py
Due: none

feat: sort equip lists by Collection.position, gang's own list first
  n26/core/access.py
  n26/core/templates/admin/maintenance/n26/_order_collections_detail.html
  n26/core/templates/admin/maintenance/n26/order_collections.html
  n26/core/views/equip.py
  n26/library/authoring.py
  n26/library/collection_positions.py
  n26/library/migrations/0107_collection_position_orders_its_lists.py
  n26/library/models/collection.py
  n26/library/specs.py
  n26/maintenance.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_equipment_list_order.py
  n26/tests/test_maintenance_console.py
Due: none

feat: edit a CollectionEntry on its own page and note the item's restriction on the collection page
  n26/library/ingest.py
  n26/library/item_restrictions.py
  n26/library/templates/authoring/collection.html
  n26/library/templates/authoring/entry_edit.html
  n26/library/views.py
  n26/maintenance.py
  n26/tests/sandbox/test_ingest.py
  n26/tests/sandbox/test_narrowed_offers.py
  n26/tests/test_maintenance_console.py
  n26/urls.py
Due: none

docs: record the interstitials design decisions in the plan note
  .claude/notes/interstitials-plan.md
Due: check-fmt, markdownlint

refactor: drop the unused is_campaign_arbitrator context from ListDetailView
  n23/core/tests/test_post_battle_updates.py
  n23/core/views/list/views.py
Due: none

test: assert the equip page's narrow strip bindings after the two-tab change
  n26/core/test_views_equip.py
Due: none

style: say "restriction to fighter entries" throughout the CLEAR_ITEM_RESTRICTIONS copy
  n26/library/ingest.py
  n26/library/item_restrictions.py
  n26/maintenance.py
  n26/tests/test_maintenance_console.py
Due: none

feat: make Post-battle updates a primary button on the n23 gang page (#2548)
  n23/core/templates/core/includes/list.html
  n23/core/templates/core/includes/list_common_header.html
  n23/core/templates/core/list_post_battle_updates.html
  n23/core/tests/test_post_battle_updates.py
  n23/core/views/list/views.py
  scripts/raw_markup_baseline.json
Due: check-fmt

fix: draw two tabs whole on narrow tab strips instead of "+1 more" (#2550)
  n26/core/templates/cotton/n26/collection_picker/index.html
  n26/core/templates/cotton/n26/tab_links.html
  n26/core/templates/cotton/n26/tab_strip.html
  n26/core/templates/cotton/ui/tabs/index.html
  n26/core/test_tab_links.py
  n26/core/test_ui_tabs.py
  n26/core/test_views_equip.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/collection-picker/10-trading-post.html
  n26/designsystem/templates/designsystem/demos/tab-links/10-basic.html
  n26/designsystem/templates/designsystem/demos/tab-strip/10-basic.html
  n26/designsystem/templates/designsystem/demos/tabs/10-basic.html
  n26/designsystem/templates/designsystem/demos/tabs/20-variants.html
Due: none

fix: run CLEAR_ITEM_RESTRICTIONS against the plan on its Backfill record, not a fresh find()
  n26/library/item_restrictions.py
  n26/library/views.py
  n26/maintenance.py
  n26/tests/sandbox/test_ingest.py
  n26/tests/sandbox/test_narrowed_offers.py
  n26/tests/test_maintenance_console.py
Due: none

fix: follow hidden carriers in collection_positions; floor Int specs at 0
  n26/library/collection_positions.py
  n26/library/forms.py
  n26/library/specs.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_equipment_list_order.py
Due: none

feat: weight/colour flatpage headings, add FlatPageOptions.show_contents
  docs/DESIGN-SYSTEM.md
  gyrinx/pages/admin.py
  gyrinx/pages/migrations/0008_flatpageoptions.py
  gyrinx/pages/models.py
  gyrinx/pages/templates/flatpages/default.html
  gyrinx/pages/templates/flatpages/includes/contents.html
  gyrinx/pages/templates/flatpages/includes/contents_list.html
  gyrinx/pages/templatetags/pages.py
  gyrinx/pages/tests/test_page_contents.py
  n23/core/static/core/scss/styles.scss
  n23/core/templates/core/debug/design_system.html
Due: check-fmt, markdownlint

feat: draw the book's asterisk after two-slot weapon names on cards and pickers
  n26/core/listing.py
  n26/core/owned.py
  n26/core/render.py
  n26/core/render_text.py
  n26/core/templates/cotton/n26/owned_lines.html
  n26/core/templates/cotton/n26/print/weapons.html
  n26/core/templates/n26/includes/equip_line.html
  n26/core/templates/n26/includes/equip_owned_line.html
  n26/core/templates/n26/includes/weapon_name.html
  n26/library/models/__init__.py
  n26/library/models/assignable.py
  n26/tests/sandbox/test_two_slot_weapons.py
Due: none

fix: hide the flatpage heading link icon from assistive tech, correct page_contents docs
  docs/DESIGN-SYSTEM.md
  gyrinx/pages/templatetags/pages.py
  gyrinx/pages/tests/test_page_contents.py
  n23/core/static/core/scss/styles.scss
Due: check-fmt, markdownlint

fix: mark two-slot weapons on the stash, print setup, price boxes and owned dialogs
  n26/core/listing.py
  n26/core/owned.py
  n26/core/render.py
  n26/core/templates/cotton/n26/owned_lines.html
  n26/core/templates/cotton/n26/stash/group.html
  n26/core/templates/n26/includes/equip_line.html
  n26/core/templates/n26/includes/equip_owned_line.html
  n26/core/templates/n26/print_gang.html
  n26/core/templates/n26/print_setup.html
  n26/core/views/owned.py
  n26/library/models/__init__.py
  n26/library/models/assignable.py
  n26/tests/sandbox/test_two_slot_weapons.py
Due: none

feat: show user badges beside every username on campaign screens
  gyrinx/templates/cotton/user_link.html
  n23/core/templates/core/battle/battle.html
  n23/core/templates/core/campaign/campaign.html
  n23/core/templates/core/campaign/campaign_add_lists.html
  n23/core/templates/core/campaign/campaign_arbitrators.html
  n23/core/templates/core/campaign/campaign_packs.html
  n23/core/templates/core/campaign/campaign_start.html
  n23/core/templates/core/campaign/includes/campaign_list_table_row.html
  n23/core/templates/core/campaign/includes/campaign_lists.html
  n23/core/templates/core/campaign/includes/campaign_row.html
  n23/core/templates/core/campaign/includes/list_row.html
  n23/core/templates/core/includes/breadcrumb.html
  n23/core/templates/core/includes/campaign_action_item.html
  n23/core/templates/core/includes/list_row.html
  n23/core/tests/test_campaign_user_badges.py
  n23/core/utils.py
  n23/core/views/battle.py
  n23/core/views/campaign/actions.py
  n23/core/views/campaign/arbitrators.py
  n23/core/views/campaign/lifecycle.py
  n23/core/views/campaign/lists.py
  n23/core/views/campaign/packs.py
  n23/core/views/campaign/views.py
  n26/core/render.py
  n26/core/templates/cotton/n26/campaign_gangs.html
  n26/core/templates/cotton/n26/record_table/campaign_row.html
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/campaigns.html
  n26/core/templates/n26/dashboard.html
  n26/core/views/campaigns.py
  n26/core/views/gangs.py
  n26/core/views/permissions.py
  n26/designsystem/templates/designsystem/demos/record-table/20-campaigns.html
  n26/tests/sandbox/test_campaign_sheet.py
  n26/tests/test_badges.py
  n26/tests/test_views_campaigns.py
  scripts/check_cotton.py
Due: none

feat: add c-share / c-n26.share to gang, campaign and help pages
  docs/DESIGN-SYSTEM.md
  gyrinx/pages/templates/flatpages/default.html
  gyrinx/pages/tests/test_share_button.py
  gyrinx/templates/cotton/share.html
  n23/core/static/core/js/index.js
  n23/core/templates/core/campaign/campaign.html
  n23/core/templates/core/debug/design_system.html
  n23/core/templates/core/includes/list.html
  n23/core/tests/test_share_button.py
  n26/core/icons.py
  n26/core/templates/cotton/n26/share.html
  n26/core/templates/cotton/n26/view/gang_sheet.html
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/test_views_share.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/share/10-share.html
  n26/designsystem/tests.py
  n26/tests/test_views_campaigns.py
Due: check-fmt, markdownlint

feat: draw repeated gear, skill and stash lines once as Name (xN)
  n26/core/effects.py
  n26/core/printing.py
  n26/core/render.py
  n26/core/render_text.py
  n26/core/templates/cotton/n26/assignable_lines.html
  n26/core/templates/n26/includes/assignable_name.html
  n26/core/templates/n26/print_gang.html
  n26/core/test_choice_names.py
  n26/core/test_render.py
  n26/core/views/edit.py
  n26/core/views/gangs.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/tests.py
  n26/tests/sandbox/test_collapsed_lines.py
  n26/tests/sandbox/test_lasting_effects.py
  n26/tests/sandbox/test_slots_and_picks.py
Due: none

feat: draw the model card above the tabs on n26 Edit, Equip and Options
  n26/core/forms.py
  n26/core/templates/cotton/n26/model_header.html
  n26/core/templates/cotton/n26/view/model_edit.html
  n26/core/templates/n26/equip.html
  n26/core/templates/n26/fighter_options.html
  n26/core/templates/n26/includes/equip_update.html
  n26/core/templates/n26/includes/model_card_host.html
  n26/core/templates/n26/includes/model_card_update.html
  n26/core/templates/n26/includes/model_name_action.html
  n26/core/test_views_edit.py
  n26/core/test_views_equip.py
  n26/core/test_views_gang_equip.py
  n26/core/test_views_options.py
  n26/core/views/edit.py
  n26/core/views/equip.py
  n26/core/views/options.py
  n26/designsystem/catalog.py
  n26/designsystem/forms.py
  n26/designsystem/templates/designsystem/demos/model-header/20-with-card.html
  n26/designsystem/templates/designsystem/demos/view-model-edit/10-edit.html
  n26/designsystem/tests.py
Due: none

fix: make c-share / c-n26.share navigate when the clipboard is unavailable
  n23/core/static/core/js/index.js
  n23/core/tests/test_share_button.py
  n26/core/templates/cotton/n26/share.html
  n26/core/templates/n26/campaign.html
  n26/designsystem/catalog.py
Due: check-fmt

fix: prefetch badge data for invited gangs and campaign admins' owner, gate n26 user-links
  docs/DESIGN-SYSTEM.md
  n23/core/templates/core/debug/design_system.html
  n23/core/tests/test_campaign_user_badges.py
  n23/core/views/campaign/common.py
  n23/core/views/campaign/views.py
  n26/core/templates/cotton/n26/campaign_gangs.html
  n26/designsystem/sampledata.py
  n26/designsystem/tests.py
  scripts/check_cotton.py
Due: check-fmt, markdownlint

fix: write a stacked card line once per assignment in capture.gang_state
  n26/core/capture.py
  n26/designsystem/sampledata.py
  n26/designsystem/tests.py
  n26/tests/sandbox/test_collapsed_lines.py
Due: none

fix: keep a granted skill's line when the fighter also bought it
  n26/core/render.py
  n26/tests/sandbox/test_collapsed_lines.py
  n26/tests/sandbox/test_computed_effects.py
Due: none

fix: address a tally on the Equip card to the Equip screen, and one card host
  n26/core/forms.py
  n26/core/templates/cotton/n26/model_header.html
  n26/core/templates/cotton/n26/view/model_edit.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/model_card_host.html
  n26/core/test_views_equip.py
  n26/core/views/edit.py
  n26/core/widgets.py
  n26/designsystem/catalog.py
  n26/designsystem/forms.py
  n26/designsystem/templates/designsystem/demos/view-model-edit/10-edit.html
  n26/designsystem/tests.py
Due: none

fix: let c-user-link draw nobody, badge n26 invitations, check n26 components' declared props
  gyrinx/templates/cotton/user_link.html
  n23/core/tests/test_campaign_user_badges.py
  n26/core/templates/cotton/n26/record_table/campaign_row.html
  n26/core/templates/n26/includes/campaign_invitations.html
  n26/core/views/campaigns.py
  n26/tests/test_badges.py
  scripts/check_cotton.py
Due: none
