Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

ci: install with uv everywhere, guard uv.lock against rot
  .github/workflows/format-check.yml
  .github/workflows/test.yaml
  Dockerfile
  pyproject.toml
  uv.lock
Due: check-fmt

fix(ci): pin setup-uv to an exact tag
  .github/workflows/format-check.yml
  .github/workflows/test.yaml
Due: check-fmt

test: mirror the drift assertion for post_save action uids (review)
  gyrinx/content/tests/test_content_cost_signals.py
Due: none

feat: sort by a resource by clicking its column heading
  gyrinx/core/templates/core/campaign/includes/campaign_lists.html
  gyrinx/core/tests/test_campaign_gang_sort.py
  gyrinx/core/tests/test_campaign_resources.py
  gyrinx/core/views/campaign/gang_sort.py
Due: none

ci: converge on uv, and stop uv.lock and pre-commit from rotting (#2043)
  .github/dependabot.yml
  .github/workflows/format-check.yml
  .github/workflows/test.yaml
  Dockerfile
  pyproject.toml
  uv.lock
Due: check-fmt

test: scope the registration assertions to their sender (review)
  gyrinx/content/tests/test_content_cost_signals.py
Due: none

fix(deps): stop base-image bumps from auto-merging to production
  .github/dependabot.yml
Due: check-fmt

style: section heading actions read as one menu; "Sort by:" in the sort menu
  docs/DESIGN-SYSTEM.md
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/includes/campaign_gangs_sort.html
  gyrinx/core/templates/core/debug/design_system.html
  gyrinx/core/tests/test_campaign_attributes.py
  gyrinx/core/tests/test_campaign_resources.py
Due: check-fmt, markdownlint

refactor: build the cost-change signal pairs from one factory (#2040)
  gyrinx/content/models/signal_handlers.py
  gyrinx/content/tests/test_content_cost_signals.py
Due: none

fix(deps): stop base-image bumps from auto-merging to production (#2052)
  .github/dependabot.yml
Due: check-fmt

fix: stop Safari splitting classic card detail groups across columns (#2046)
  gyrinx/core/static/core/scss/_classic_card.scss
Due: check-fmt

style: secondary outline for the gang sort button
  gyrinx/core/templates/core/campaign/includes/campaign_gangs_sort.html
Due: none

feat: sort campaign gangs by wealth, rating, or any resource (#2045)
  docs/DESIGN-SYSTEM.md
  gyrinx/core/migrations/0187_campaign_default_gang_sort.py
  gyrinx/core/models/campaign.py
  gyrinx/core/static/core/js/index.js
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/includes/campaign_gangs_sort.html
  gyrinx/core/templates/core/campaign/includes/campaign_list_table_row.html
  gyrinx/core/templates/core/campaign/includes/campaign_lists.html
  gyrinx/core/templates/core/debug/design_system.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_campaign_attributes.py
  gyrinx/core/tests/test_campaign_gang_sort.py
  gyrinx/core/tests/test_campaign_resources.py
  gyrinx/core/urls/campaign.py
  gyrinx/core/views/campaign/gang_sort.py
  gyrinx/core/views/campaign/lists.py
  gyrinx/core/views/campaign/views.py
Due: check-fmt, markdownlint

feat: design-system page uses the cotton components; document badges
  gyrinx/core/templates/core/debug/design_system.html
  gyrinx/core/views/debug.py
Due: none

feat: components for inline action menus, comma lists, step progress, breadcrumbs
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/debug/design_system.html
  gyrinx/core/templates/core/includes/campaign_common_header.html
  gyrinx/core/templates/core/includes/fighter_card_gear_default_menu.html
  gyrinx/core/templates/core/includes/fighter_card_gear_menu.html
  gyrinx/core/templates/core/includes/fighter_card_weapon_menu.html
  gyrinx/core/templates/core/includes/list_common_header.html
  gyrinx/core/templates/core/list_fighter_equipment_sell.html
  gyrinx/core/templates/core/list_new_packs.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/vehicle_confirm.html
  gyrinx/core/templates/core/vehicle_crew.html
  gyrinx/core/templates/core/vehicle_select.html
  gyrinx/core/templatetags/custom_tags.py
  gyrinx/core/tests/goldens/fighter-edit.html
  gyrinx/core/tests/goldens/list-about.html
  gyrinx/core/tests/goldens/list-detail.html
  gyrinx/core/tests/goldens/list-edit.html
  gyrinx/core/tests/goldens/list-print.html
  gyrinx/core/tests/test_cotton_form.py
  gyrinx/core/views/debug.py
  gyrinx/templates/cotton/actions.html
  gyrinx/templates/cotton/actions/link.html
  gyrinx/templates/cotton/breadcrumb.html
  gyrinx/templates/cotton/list.html
  gyrinx/templates/cotton/list/sep.html
  gyrinx/templates/cotton/steps.html
Due: none

feat: design polish — section header height, breadcrumb slots, link styles
  gyrinx/core/static/core/scss/_tokens.scss
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_packs.html
  gyrinx/core/templates/core/debug/design_system.html
  gyrinx/core/templates/core/includes/campaign_common_header.html
  gyrinx/core/templates/core/includes/fighter_card_stash.html
  gyrinx/core/templates/core/includes/list_attributes.html
  gyrinx/core/templates/core/includes/list_campaign_actions.html
  gyrinx/core/templates/core/includes/list_campaign_resources_assets.html
  gyrinx/core/templates/core/includes/list_common_header.html
  gyrinx/core/templates/core/includes/list_fighter_weapon_rows.html
  gyrinx/core/templates/core/list_new_packs.html
  gyrinx/core/templates/core/list_packs.html
  gyrinx/core/templates/core/pack/house_rule_picker.html
  gyrinx/core/templates/core/pack/includes/fighter_default_equipment.html
  gyrinx/core/templates/core/pack/includes/fighter_equipment_list.html
  gyrinx/core/templates/core/pack/includes/weapon_picker_table.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_campaigns.html
  gyrinx/core/templates/core/pack/pack_item_add.html
  gyrinx/core/templates/core/user.html
  gyrinx/core/tests/goldens/fighter-edit.html
  gyrinx/core/tests/goldens/list-about.html
  gyrinx/core/tests/goldens/list-detail.html
  gyrinx/core/tests/goldens/list-edit.html
  gyrinx/core/tests/goldens/list-print.html
  gyrinx/core/tests/test_cotton_form.py
  gyrinx/templates/cotton/actions/link.html
  gyrinx/templates/cotton/breadcrumb.html
  gyrinx/templates/cotton/breadcrumb/item.html
  gyrinx/templates/cotton/breadcrumb/user.html
  gyrinx/templates/cotton/steps.html
Due: check-fmt

chore: let prettier own scss formatting; make css-lint report real issues
  .stylelintrc.js
  .stylelintrc.json
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/static/core/scss/styles.scss
Due: check-fmt

chore: integrate with main after rebase
  gyrinx/core/templates/core/campaign/includes/campaign_gangs_sort.html
  gyrinx/core/templates/core/crew/crew_stash.html
  gyrinx/core/tests/goldens/fighter-edit.html
  gyrinx/core/tests/goldens/list-about.html
  gyrinx/core/tests/goldens/list-detail.html
  gyrinx/core/tests/goldens/list-edit.html
  scripts/raw_markup_baseline.json
  uv.lock
Due: check-fmt

fix: dark-mode section headers, and a comment rendering into the breadcrumb
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/includes/list_common_header.html
  gyrinx/core/tests/test_cotton_call_site_gates.py
Due: check-fmt

fix: address Copilot review — decorative icons, stale note, strip filter
  gyrinx/core/templatetags/custom_tags.py
  gyrinx/core/tests/test_cotton_form.py
  gyrinx/templates/cotton/actions.html
  gyrinx/templates/cotton/back.html
  gyrinx/templates/cotton/badge.html
  gyrinx/templates/cotton/errors.html
  gyrinx/templates/cotton/icon.html
  gyrinx/templates/cotton/messages.html
Due: none

refactor: drop the render-equivalence harness; wire the gates in for real
  .pre-commit-config.yaml
  gyrinx/core/tests/goldens/dice.html
  gyrinx/core/tests/goldens/fighter-edit.html
  gyrinx/core/tests/goldens/index.html
  gyrinx/core/tests/goldens/list-about.html
  gyrinx/core/tests/goldens/list-detail.html
  gyrinx/core/tests/goldens/list-edit.html
  gyrinx/core/tests/goldens/list-print.html
  gyrinx/core/tests/goldens/lists.html
  gyrinx/core/tests/render_normalise.py
  gyrinx/core/tests/render_world.py
  gyrinx/core/tests/test_cotton_call_site_gates.py
  gyrinx/core/tests/test_cotton_form.py
  gyrinx/core/tests/test_render_equivalence.py
  gyrinx/templates/cotton/btn.html
  pyproject.toml
  scripts/check_cotton.py
  scripts/check_raw_markup.py
Due: check-fmt

fix: unnest quotes in c-messages; drop the second stale duplicate note
  gyrinx/templates/cotton/errors.html
  gyrinx/templates/cotton/messages.html
Due: none

docs: de-duplicate the c-errors doc comment
  gyrinx/templates/cotton/errors.html
Due: none

build(deps)!: declare dependencies in pyproject.toml, install from uv.lock
  .github/dependabot.yml
  .github/workflows/claude-code-improvement.yml
  .github/workflows/claude-docs-update.yml
  .github/workflows/claude.yml
  .github/workflows/format-check.yml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  Dockerfile
  docs/developing-gyrinx/key-concepts.md
  pyproject.toml
  requirements.txt
  scripts/lib/worktree.sh
  scripts/setup_web.sh
  uv.lock
Due: check-fmt, markdownlint

docs: update setup instructions for uv sync
  README.md
  docs/developing-gyrinx/key-concepts.md
  docs/developing-gyrinx/tutorial-first-contribution.md
Due: check-fmt, markdownlint

fix(ci): finish the uv migration in the claude workflows
  .github/workflows/claude-code-improvement.yml
  .github/workflows/claude-docs-update.yml
  .github/workflows/claude.yml
  README.md
  docs/developing-gyrinx/key-concepts.md
  docs/developing-gyrinx/tutorial-first-contribution.md
  pyproject.toml
  scripts/lib/worktree.sh
Due: check-fmt, markdownlint

fix: move the remaining install entrypoints onto uv sync
  .devcontainer/devcontainer.json
  scripts/README.md
  scripts/check_migration_conflicts.sh
  scripts/dev.sh
  scripts/lib/worktree.sh
  scripts/measure_test_performance.sh
  scripts/screenshot.py
  scripts/setup-local-postgres.sh
Due: check-fmt, markdownlint

docs: align the stated uv floor, pin setup_web's target environment
  README.md
  scripts/setup_web.sh
Due: check-fmt, markdownlint

fix: quote paths in the uv-missing fallback hint
  scripts/lib/worktree.sh
Due: none

fix(devcontainer): install uv before using it
  .devcontainer/devcontainer.json
  scripts/README.md
Due: check-fmt, markdownlint

fix: restore prodshell's IPython, keep dev tooling out of the image
  .claude/skills/worktree-db/SKILL.md
  Dockerfile
  pyproject.toml
  scripts/README.md
  scripts/dev.sh
  uv.lock
Due: check-fmt, markdownlint

build(deps)!: declare dependencies in pyproject.toml, install from uv.lock (#2056)
  .claude/skills/worktree-db/SKILL.md
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/claude-code-improvement.yml
  .github/workflows/claude-docs-update.yml
  .github/workflows/claude.yml
  .github/workflows/format-check.yml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  Dockerfile
  README.md
  docs/developing-gyrinx/key-concepts.md
  docs/developing-gyrinx/tutorial-first-contribution.md
  pyproject.toml
  requirements.txt
  scripts/README.md
  scripts/check_migration_conflicts.sh
  scripts/dev.sh
  scripts/lib/worktree.sh
  scripts/measure_test_performance.sh
  scripts/screenshot.py
  scripts/setup-local-postgres.sh
  scripts/setup_web.sh
  uv.lock
Due: check-fmt, markdownlint

build(deps): bump djlint 1.42.3 and ruff 0.16.0, pinning what they changed
  gyrinx/core/templates/account/signup.html
  gyrinx/core/templates/account/signup_by_passkey.html
  gyrinx/core/templates/core/includes/fighter_card_gear.html
  gyrinx/core/templates/core/includes/fighter_card_stash.html
  gyrinx/core/templates/core/pack/includes/weapon_picker_table.html
  gyrinx/core/templates/core/pack/pack_fighter_equipment_list_item_remove.html
  gyrinx/pages/templates/pages/forms/widgets/bs_checkbox_select.html
  gyrinx/pages/templates/pages/forms/widgets/bs_checkbox_select_compact.html
  gyrinx/pages/templates/pages/forms/widgets/bs_radio_select.html
  manage
  pyproject.toml
  uv.lock
Due: none

build(deps): bump djlint 1.42.3 and ruff 0.16.0 with their pre-commit revs (#2060)
  .pre-commit-config.yaml
  gyrinx/core/templates/account/signup.html
  gyrinx/core/templates/account/signup_by_passkey.html
  gyrinx/core/templates/core/includes/fighter_card_gear.html
  gyrinx/core/templates/core/includes/fighter_card_stash.html
  gyrinx/core/templates/core/pack/includes/weapon_picker_table.html
  gyrinx/core/templates/core/pack/pack_fighter_equipment_list_item_remove.html
  gyrinx/pages/templates/pages/forms/widgets/bs_checkbox_select.html
  gyrinx/pages/templates/pages/forms/widgets/bs_checkbox_select_compact.html
  gyrinx/pages/templates/pages/forms/widgets/bs_radio_select.html
  manage
  pyproject.toml
  uv.lock
Due: check-fmt

fix(deps): patch brace-expansion without downgrading npm-run-all
  package-lock.json
  package.json
Due: check-fmt

fix(deps): patch brace-expansion without downgrading npm-run-all (#2061)
  package-lock.json
  package.json
Due: check-fmt

build(deps): replace npm-run-all with the maintained npm-run-all2 fork
  package-lock.json
  package.json
Due: check-fmt
