Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

fix: the settings Google's libraries read reach the shell that uses them (#2270)
  .cursor/install.sh
Due: none

feat: the crop's save redraws the picture box in place
  n26/core/static/n26/imagecrop.js
  n26/core/templates/n26/fighter_edit.html
Due: check-fmt

docs: plan for propagating built-ins to existing uses (#2165)
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

fix: the crop preview's address is guarded to blob: before use
  n26/core/static/n26/imagecrop.js
Due: check-fmt

feat: the answers already taken back become picks
  n26/library/conversion/archived.py
  n26/maintenance.py
  n26/tests/sandbox/test_conversion_archived.py
  n26/tests/test_maintenance_console.py
Due: none

fix: the sweep says what it proves and what it leaves
  n26/core/templates/admin/maintenance/n26/convert.html
  n26/library/conversion/archived.py
  n26/maintenance.py
  n26/tests/sandbox/test_conversion_archived.py
Due: none

docs: the conversion cleanup's plan, as it now stands
  .claude/notes/conversion-cleanup-order.md
Due: check-fmt, markdownlint

test: each operation's page is pinned to its own guarantee
  n26/tests/test_maintenance_console.py
Due: none

feat: the answers a gang took back become picks too (#2268)
  .claude/notes/conversion-cleanup-order.md
  n26/core/templates/admin/maintenance/n26/convert.html
  n26/library/conversion/archived.py
  n26/maintenance.py
  n26/tests/sandbox/test_conversion_archived.py
  n26/tests/test_maintenance_console.py
Due: check-fmt, markdownlint

docs: sub-agent notes cover comment quality and cold-reader reports (#2165)
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

style: the lore page wears the gang header and floats its pictures
  n26/core/templates/n26/gang_lore.html
  n26/core/test_views_gang_lore.py
  n26/core/views/gangs.py
Due: none

docs: C0 done — prod fan-out measured, sequential runner suffices (#2165)
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

feat: the gang edit page splits into tabs the URL picks
  n26/core/forms.py
  n26/core/templates/n26/edit_gang.html
  n26/core/templates/n26/gang_lore.html
  n26/core/test_views_edit_gang.py
  n26/core/views/gangs.py
Due: none

fix: the sweep owns up to the one word it moves
  n26/library/conversion/archived.py
  n26/maintenance.py
  n26/tests/sandbox/test_conversion_archived.py
Due: none

feat: a built-in's copy names the member it came from
  n26/core/migrations/0018_a_grant_names_the_member_it_came_from.py
  n26/core/models/assignment.py
  n26/core/operations.py
Due: none

feat: removing a built-in keeps what fighters already hold
  n26/core/card.py
  n26/library/authoring.py
  n26/library/ingest.py
  n26/library/models/assignable.py
  n26/library/models/defaults.py
  n26/library/views.py
  n26/tests/sandbox/test_ingest.py
Due: none

test: archival and provenance proven from the gang's side
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_builtins_archival.py
Due: none

docs: C1 shipped as PR #2276 — findings recorded for later chunks (#2165)
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

fix: the sweep owns up to the one word it moves (#2273)
  n26/library/conversion/archived.py
  n26/maintenance.py
  n26/tests/sandbox/test_conversion_archived.py
Due: none

feat: the answers a doubled click left behind can be cleared
  n26/library/spare_answers.py
  n26/maintenance.py
  n26/tests/sandbox/test_spare_answers.py
Due: none

fix: the lore page's gang Edit leads to the tab the lore is on
  n26/core/templates/n26/gang_lore.html
  n26/core/test_views_gang_lore.py
Due: none

feat: prodshell reaches production from a cloud agent
  CLAUDE.md
  n23/core/management/commands/prodshell.py
  n23/core/tests/test_prodshell.py
Due: check-fmt, markdownlint

fix: the empty password is marked as the absence of a credential
  n23/core/management/commands/prodshell.py
Due: none

fix: the lore page's prose stops double-narrowing beside its picture
  n26/core/templates/n26/gang_lore.html
Due: none

feat: the answers a doubled click left behind can be cleared (#2275)
  n26/library/spare_answers.py
  n26/maintenance.py
  n26/tests/sandbox/test_spare_answers.py
Due: none

feat: the maintenance index leads with the newest repair, and says how often each has run
  gyrinx/maintenance/registry.py
  gyrinx/maintenance/templates/admin/maintenance/index.html
  gyrinx/maintenance/tests/test_admin_views.py
  gyrinx/maintenance/views.py
  n23/core/admin/maintenance.py
  n26/maintenance.py
Due: none

docs: the cleanup plan, as the survey and the rehearsal found it
  .claude/notes/conversion-cleanup-order.md
Due: check-fmt, markdownlint

feat: what the conversions left standing can be deleted
  n26/library/retired_kinds.py
  n26/maintenance.py
  n26/tests/sandbox/test_retired_kinds.py
Due: none

fix: restore the tests this change had replaced, and act on the review
  .cursor/install.sh
  CLAUDE.md
  n23/core/management/commands/prodshell.py
  n23/core/tests/test_prodshell.py
Due: check-fmt, markdownlint

refactor: the gang edit acts dispatch as one exclusive chain
  n26/core/views/gangs.py
Due: none

fix: the new tests no longer race each other on one real file
  n23/core/management/commands/prodshell.py
  n23/core/tests/test_prodshell.py
Due: none

feat: what the conversions left standing can be deleted (#2277)
  .claude/notes/conversion-cleanup-order.md
  n26/library/retired_kinds.py
  n26/maintenance.py
  n26/tests/sandbox/test_retired_kinds.py
Due: check-fmt, markdownlint

feat: the maintenance index leads with the newest repair, and says how often each has run (#2278)
  gyrinx/maintenance/registry.py
  gyrinx/maintenance/templates/admin/maintenance/index.html
  gyrinx/maintenance/tests/test_admin_views.py
  gyrinx/maintenance/views.py
  n23/core/admin/maintenance.py
  n26/maintenance.py
Due: none

chore: the newest two repairs carry their date like the rest
  n26/maintenance.py
Due: none

feat: prodshell reaches production from a cloud agent (#2274)
  .cursor/install.sh
  CLAUDE.md
  n23/core/management/commands/prodshell.py
  n23/core/tests/test_prodshell.py
Due: check-fmt, markdownlint

docs: C1 browser-tested through the authoring UI, all scenarios pass (#2165)
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

chore: the newest two repairs carry their date like the rest (#2279)
  n26/maintenance.py
Due: none

docs: the cleanup has run, and the plan says what is left
  .claude/notes/conversion-cleanup-order.md
Due: check-fmt, markdownlint

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
