Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

refactor: share useDismiss and useAnchoredPlacement across React popovers (#2851)
  n26/frontend/islands/filter-select/FilterSelect.tsx
  n26/frontend/ui/FilterMenu.tsx
  n26/frontend/ui/HelpPopover.tsx
  n26/frontend/ui/QuickSwitcher.tsx
  n26/frontend/ui/anchoredPanel.test.tsx
  n26/frontend/ui/anchoredPanel.ts
  n26/frontend/ui/index.tsx
Due: none

feat: draw dashboard gang-row menus with a React ActionMenu
  docs/developing-gyrinx/react.md
  n26/core/templates/cotton/n26/action_menu.html
  n26/core/templates/cotton/n26/record_table/gang_row.html
  n26/core/templatetags/action_menu.py
  n26/core/test_action_menu.py
  n26/core/test_views_dashboard.py
  n26/designsystem/assets/app.css
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/action-menu/10-links.html
  n26/designsystem/templates/designsystem/demos/action-menu/20-in-a-button-group.html
  n26/designsystem/templates/designsystem/demos/action-menu/30-chevron.html
  n26/designsystem/tests.py
  n26/frontend/islands/action-menu/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/frontend/tooling/export_cotton_recipes.py
  n26/frontend/tooling/test_export_cotton_recipes.py
  n26/frontend/ui/ActionMenu.test.tsx
  n26/frontend/ui/ActionMenu.tsx
  n26/frontend/ui/index.tsx
Due: check-fmt, markdownlint

fix: list scriptless action-menu links as plain links and scroll edge focus into view
  n26/core/templates/cotton/n26/action_menu.html
  n26/core/test_action_menu.py
  n26/frontend/ui/ActionMenu.test.tsx
  n26/frontend/ui/ActionMenu.tsx
Due: none

fix: keep button-group corner rules off the scriptless action-menu list
  n26/core/test_action_menu.py
  n26/designsystem/assets/app.css
Due: none

feat: draw dashboard gang-row menus with a React ActionMenu (#2852)
  docs/developing-gyrinx/react.md
  n26/core/templates/cotton/n26/action_menu.html
  n26/core/templates/cotton/n26/record_table/gang_row.html
  n26/core/templatetags/action_menu.py
  n26/core/test_action_menu.py
  n26/core/test_views_dashboard.py
  n26/designsystem/assets/app.css
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/action-menu/10-links.html
  n26/designsystem/templates/designsystem/demos/action-menu/20-in-a-button-group.html
  n26/designsystem/templates/designsystem/demos/action-menu/30-chevron.html
  n26/designsystem/tests.py
  n26/frontend/islands/action-menu/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/frontend/tooling/export_cotton_recipes.py
  n26/frontend/tooling/test_export_cotton_recipes.py
  n26/frontend/ui/ActionMenu.test.tsx
  n26/frontend/ui/ActionMenu.tsx
  n26/frontend/ui/index.tsx
Due: check-fmt, markdownlint

feat: draw stash line and campaign gang menus with the React ActionMenu
  n26/core/templates/cotton/n26/campaign_gangs.html
  n26/core/templates/cotton/n26/stash/group.html
  n26/core/views/owned.py
  n26/tests/sandbox/test_asset_rolls.py
  n26/tests/test_stash_and_campaign_gang_menus.py
Due: none

feat: move gang-sheet and campaign header menus to the React action menu
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/includes/gang_sheet_content.html
  n26/core/test_header_menus.py
  n26/core/test_views_cloning.py
  n26/core/views/campaigns.py
  n26/core/views/gangs.py
Due: none

feat: pick print-setup models and weapons in React
  n26/core/templates/n26/print_setup.html
  n26/core/test_views_print.py
  n26/core/views/printing.py
  n26/frontend/islands/print-picker/PrintPicker.test.tsx
  n26/frontend/islands/print-picker/PrintPicker.tsx
  n26/frontend/islands/print-picker/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/frontend/ui/index.tsx
  n26/frontend/ui/ui.test.tsx
  n26/tests/sandbox/test_two_slot_weapons.py
Due: check-fmt

fix: post the print picker's boxes before the island mounts
  n26/core/templates/cotton/n26/checkbox_card.html
  n26/core/templates/n26/print_setup.html
  n26/core/test_views_print.py
  n26/core/views/printing.py
Due: none

fix: refuse a print setup saved without the model picker
  n26/core/templates/n26/print_setup.html
  n26/core/test_views_print.py
  n26/core/views/printing.py
  n26/frontend/islands/print-picker/PrintPicker.test.tsx
  n26/frontend/islands/print-picker/PrintPicker.tsx
Due: none

fix: keep print picker ticks across mount and drop orphaned weapons
  n26/core/templates/cotton/n26/checkbox_card.html
  n26/core/templates/n26/print_setup.html
  n26/core/test_views_print.py
  n26/core/views/printing.py
  n26/frontend/islands/print-picker/PrintPicker.test.tsx
  n26/frontend/islands/print-picker/PrintPicker.tsx
  n26/frontend/islands/print-picker/entry.tsx
Due: none

fix: tick the loaded print setup on the error page and refocus a model
  n26/core/templates/n26/print_setup.html
  n26/core/test_views_print.py
  n26/core/views/printing.py
  n26/frontend/islands/print-picker/PrintPicker.test.tsx
  n26/frontend/islands/print-picker/PrintPicker.tsx
Due: none

docs: say the stash catalogue entry's line menus are c-n26.action-menu
  n26/designsystem/catalog.py
Due: none

fix: focus the first ActionMenu link when assistive tech opens it
  n26/frontend/ui/ActionMenu.test.tsx
  n26/frontend/ui/ActionMenu.tsx
Due: none

refactor: return lists from the gang sheet more_actions helper
  n26/core/test_header_menus.py
  n26/core/views/gangs.py
Due: none

test: split stash and campaign gang menu tests into core and sandbox tiers
  n26/core/test_stash_menu.py
  n26/tests/sandbox/test_stash_and_campaign_gang_menus.py
Due: none

docs: say plainly which weapons a print pick drops
  n26/core/views/printing.py
Due: none

fix: detect ActionMenu virtual clicks the way React Aria does
  n26/frontend/ui/ActionMenu.test.tsx
  n26/frontend/ui/ActionMenu.tsx
Due: none

feat: pick print-setup models and weapons in React (#2850)
  n26/core/templates/cotton/n26/checkbox_card.html
  n26/core/templates/n26/print_setup.html
  n26/core/test_views_print.py
  n26/core/views/printing.py
  n26/frontend/islands/print-picker/PrintPicker.test.tsx
  n26/frontend/islands/print-picker/PrintPicker.tsx
  n26/frontend/islands/print-picker/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/frontend/ui/index.tsx
  n26/frontend/ui/ui.test.tsx
  n26/tests/sandbox/test_two_slot_weapons.py
Due: check-fmt

style: shorten the isVirtualClick comment in ActionMenu
  n26/frontend/ui/ActionMenu.tsx
Due: none

fix: focus the first ActionMenu link when assistive tech opens it (#2855)
  n26/frontend/ui/ActionMenu.test.tsx
  n26/frontend/ui/ActionMenu.tsx
Due: none

test: read the stash Sell link from the action-menu props in test_choosing
  n26/tests/sandbox/test_choosing.py
Due: none

feat: move gang-sheet and campaign header menus to the React action menu (#2854)
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/includes/gang_sheet_content.html
  n26/core/test_header_menus.py
  n26/core/test_views_cloning.py
  n26/core/views/campaigns.py
  n26/core/views/gangs.py
Due: none

feat: move stash line and campaign gang menus to the React ActionMenu (#2853)
  n26/core/templates/cotton/n26/campaign_gangs.html
  n26/core/templates/cotton/n26/stash/group.html
  n26/core/test_stash_menu.py
  n26/core/views/owned.py
  n26/designsystem/catalog.py
  n26/tests/sandbox/test_asset_rolls.py
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_stash_and_campaign_gang_menus.py
Due: none

feat: add n26 Scenario Generator page to campaigns and battle records
  docs/n26/scenario-generator-developer-handover.md
  docs/n26/scenario-generator.md
  n26/core/campaign_permissions.py
  n26/core/campaigns.py
  n26/core/forms.py
  n26/core/history.py
  n26/core/migrations/0079_scenario_generator.py
  n26/core/models/campaign.py
  n26/core/scenarios.py
  n26/core/static/n26/scenarios/deployment-1.png
  n26/core/static/n26/scenarios/deployment-2.png
  n26/core/static/n26/scenarios/deployment-3.png
  n26/core/static/n26/scenarios/deployment-4.png
  n26/core/static/n26/scenarios/deployment-5.png
  n26/core/static/n26/scenarios/deployment-6.png
  n26/core/templates/cotton/n26/share.html
  n26/core/templates/n26/add_battle.html
  n26/core/templates/n26/battle.html
  n26/core/templates/n26/battle_outcome.html
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/includes/scenario_results.html
  n26/core/templates/n26/scenario_generator.html
  n26/core/templatetags/share.py
  n26/core/test_scenarios.py
  n26/core/test_views_share.py
  n26/core/views/__init__.py
  n26/core/views/battles.py
  n26/core/views/campaigns.py
  n26/designsystem/templates/designsystem/demos/view-campaign-sheet/10-sheet.html
  n26/designsystem/templates/designsystem/shell/campaign.html
  n26/frontend/islands/share/Share.test.tsx
  n26/frontend/islands/share/Share.tsx
  n26/tests/test_views_battle_outcome.py
  n26/tests/test_views_scenario_generator.py
  n26/urls.py
Due: check-fmt, markdownlint

test: count only stash-line menus in the gang-sheet stash menu tests
  n26/tests/sandbox/test_stash_and_campaign_gang_menus.py
Due: none

test: count only stash-line menus in the gang-sheet stash menu tests (#2857)
  n26/tests/sandbox/test_stash_and_campaign_gang_menus.py
Due: none

feat: open the amount dialog for every counter on fighter edit (#2846)
  n26/core/render.py
  n26/core/templates/cotton/n26/campaign_block.html
  n26/core/templates/cotton/n26/counter_controls.html
  n26/core/templates/cotton/n26/model_card/body.html
  n26/core/templates/cotton/n26/owned_lines.html
  n26/core/templates/cotton/n26/view/campaign_sheet.html
  n26/core/templates/cotton/ui/button.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/model_card_update.html
  n26/core/templates/n26/includes/model_name_action.html
  n26/core/templates/n26/includes/model_rating.html
  n26/core/views/edit.py
  n26/core/views/owned.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/view-model-edit/10-edit.html
  n26/designsystem/tests.py
  n26/tests/sandbox/test_counters.py
Due: none

feat: record a table D6 roll on the N26 random skill step
  n26/core/action_forms.py
  n26/core/advancements.py
  n26/core/templates/n26/includes/action_skills.html
  n26/core/test_action_forms.py
  n26/core/test_advancement_runtime.py
  n26/core/views/advancement_flows.py
  n26/frontend/islands/advancement-roll/AdvancementRoll.test.tsx
  n26/frontend/islands/advancement-roll/AdvancementRoll.tsx
  n26/tests/sandbox/test_advancement_action_flows.py
Due: none

refactor: read unused N26 action allowances through ActionAllowance.unused()
  n26/core/action_flow.py
  n26/core/action_records.py
  n26/core/allowances.py
  n26/core/models/action_record.py
  n26/core/progression.py
  n26/core/promotions.py
  n26/core/views/action_flows.py
Due: none

feat: count kit-owned Alpine in the N26 Alpine guard
  .agents/skills/n26-react/SKILL.md
  .prettierignore
  docs/developing-gyrinx/react.md
  gyrinx/tests/test_check_n26_alpine.py
  n26/frontend/tooling/alpine-baseline.json
  scripts/check_n26_alpine.py
Due: check-fmt, markdownlint

feat: complete Basic Campaigns dashboard and territory entry
  n26/core/campaigns.py
  n26/core/card.py
  n26/core/forms.py
  n26/core/migrations/0080_campaign_holdings_can_override_catalogue_income.py
  n26/core/models/campaign.py
  n26/core/render.py
  n26/core/static/n26/arbitrator.svg
  n26/core/templates/cotton/n26/campaign_assets.html
  n26/core/templates/cotton/n26/campaign_gangs.html
  n26/core/templates/cotton/n26/view/campaign_sheet.html
  n26/core/templates/n26/add_asset.html
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/includes/asset_source.html
  n26/core/templates/n26/includes/campaign_assets_section.html
  n26/core/templates/n26/includes/campaign_counter_value.html
  n26/core/templates/n26/new_asset.html
  n26/core/views/campaign_assets.py
  n26/core/views/campaigns.py
  n26/core/views/owned.py
  n26/frontend/islands/campaign-asset-selection/AssetSelection.test.tsx
  n26/frontend/islands/campaign-asset-selection/AssetSelection.tsx
  n26/frontend/islands/counter-adjustment/CounterAdjustment.test.tsx
  n26/frontend/islands/counter-adjustment/CounterAdjustment.tsx
  n26/tests/sandbox/test_campaign_additions.py
  n26/tests/test_basic_campaign_dashboard.py
  n26/tests/test_campaign_asset_batches.py
  n26/tests/test_views_campaigns.py
Due: none

fix: price kit uses at recorded weights in the N26 Alpine guard
  gyrinx/tests/test_check_n26_alpine.py
  scripts/check_n26_alpine.py
Due: none

fix: record new kit tags and resolve gallery tags in the N26 Alpine guard
  docs/developing-gyrinx/react.md
  gyrinx/tests/test_check_n26_alpine.py
  scripts/check_n26_alpine.py
Due: check-fmt, markdownlint

feat: let players mark an N26 earned advancement as applied by hand
  n26/core/action_flow.py
  n26/core/action_records.py
  n26/core/history.py
  n26/core/migrations/0080_action_use_applied_by_hand.py
  n26/core/models/action_record.py
  n26/core/models/ledger.py
  n26/core/operations.py
  n26/core/progression.py
  n26/core/templates/n26/includes/action_history.html
  n26/core/templates/n26/includes/action_panels.html
  n26/core/templates/n26/includes/progression_history.html
  n26/core/views/__init__.py
  n26/core/views/action_flows.py
  n26/tests/sandbox/test_advancement_action_flows.py
  n26/urls.py
Due: none

fix: stop caching cycle-member weights in the N26 Alpine guard
  gyrinx/tests/test_check_n26_alpine.py
  scripts/check_n26_alpine.py
Due: none

docs: say Alpine added to a cotton/ui override fails the N26 Alpine guard
  docs/developing-gyrinx/react.md
  gyrinx/tests/test_check_n26_alpine.py
  scripts/check_n26_alpine.py
Due: check-fmt, markdownlint

fix: resolve kit overrides only from n26/core/templates in the N26 Alpine guard
  scripts/check_n26_alpine.py
Due: none

test: check nested kit tags against Django's loader in the N26 Alpine guard
  gyrinx/tests/test_check_n26_alpine.py
  scripts/check_n26_alpine.py
Due: none

feat: move N26 "Mark as applied" into the action header's menu
  n26/core/action_flow.py
  n26/core/templates/n26/includes/action_panels.html
  n26/core/views/action_flows.py
  n26/tests/sandbox/test_advancement_action_flows.py
Due: none

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
