Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

refactor: replace hard-coded gear category list with group-based filter
  gyrinx/core/forms/pack.py
Due: none

fix: exclude current instance in pack content duplicate name validation
  gyrinx/core/forms/pack.py
  gyrinx/core/tests/test_views_pack.py
Due: none

feat: add gear to content packs with pack-aware equipment filtering (#1471)
  gyrinx/core/forms/pack.py
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/fighter/equipment.py
  gyrinx/core/views/pack.py
Due: none

Equipment sale override working
  gyrinx/core/forms/list.py
  gyrinx/core/templates/core/list_fighter_equipment_sell.html
  gyrinx/core/tests/test_equipment_sell.py
  gyrinx/core/views/fighter/equipment.py
Due: none

Only enable relevant input for each radio choice
  gyrinx/core/templates/core/list_fighter_equipment_sell.html
Due: none

Rename for consistency
  gyrinx/core/forms/list.py
  gyrinx/core/templates/core/list_fighter_equipment_sell.html
  gyrinx/core/tests/test_equipment_sell.py
  gyrinx/core/views/fighter/equipment.py
Due: none

Simplify method
  gyrinx/core/views/fighter/equipment.py
Due: none

Address review comments
  gyrinx/core/forms/list.py
  gyrinx/core/views/fighter/equipment.py
Due: none

Belt-and-braces testing
  gyrinx/core/tests/test_equipment_sell.py
Due: none

Update pack_item_add.html
  gyrinx/core/templates/core/pack/pack_item_add.html
Due: none

feat: add 'Save and Add Another' option for custom content entry (#1488)
  gyrinx/core/templates/core/pack/pack_item_add.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: none

feat: add tabs to lists & gangs view (#1489)
  gyrinx/core/templates/core/includes/lists_filter.html
  gyrinx/core/templates/core/lists.html
  gyrinx/core/views/list/views.py
Due: none

fix: re-render bound forms on sell equipment validation failure
  gyrinx/core/views/fighter/equipment.py
Due: none

fix: address PR feedback on equipment sell flow
  gyrinx/core/templates/core/list_fighter_equipment_sell.html
  gyrinx/core/tests/test_equipment_sell.py
  gyrinx/core/views/fighter/equipment.py
Due: none

feat: dice roll override for equipment sale (#1490)
  gyrinx/core/forms/list.py
  gyrinx/core/templates/core/list_fighter_equipment_sell.html
  gyrinx/core/tests/test_equipment_sell.py
  gyrinx/core/views/fighter/equipment.py
Due: none

fix: remove beta badge from header and home page (#1495)
  gyrinx/core/templates/core/account_home.html
  gyrinx/core/templates/core/includes/announcement_banner.html
  gyrinx/core/templates/core/index.html
  gyrinx/core/templates/core/layouts/base.html
  gyrinx/settings.py
Due: none

Finalise wording on screen
  gyrinx/core/templates/core/list_fighter_advancement_dice_choice.html
Due: none

First draft changes to advancement selection screen
  gyrinx/core/templates/core/list_fighter_advancement_dice_choice.html
Due: none

Update basic view tests
  gyrinx/core/tests/test_advancements.py
Due: none

Simplify dice choice template
  gyrinx/core/templates/core/list_fighter_advancement_dice_choice.html
Due: none

Manual advancement roll working with tests
  gyrinx/core/forms/advancement.py
  gyrinx/core/templates/core/list_fighter_advancement_dice_choice.html
  gyrinx/core/tests/test_advancement_choices.py
  gyrinx/core/tests/test_advancements.py
  gyrinx/core/views/fighter/advancements.py
Due: none

refactor: clean up advancement dice choice form and view
  gyrinx/core/forms/advancement.py
  gyrinx/core/views/fighter/advancements.py
Due: none

refactor: simplify dice choice button copy
  gyrinx/core/templates/core/list_fighter_advancement_dice_choice.html
Due: none

fix: address PR feedback from Copilot review
  gyrinx/core/templates/core/list_fighter_advancement_dice_choice.html
  gyrinx/core/tests/test_advancement_choices.py
  gyrinx/core/tests/test_advancements.py
Due: none

feat: dice roll override for ganger advancement roll (#1482)
  gyrinx/core/forms/advancement.py
  gyrinx/core/templates/core/list_fighter_advancement_dice_choice.html
  gyrinx/core/tests/test_advancement_choices.py
  gyrinx/core/tests/test_advancements.py
  gyrinx/core/views/fighter/advancements.py
Due: none

feat: use dynamic date range in weekly summary workflow
  .github/workflows/weekly-summary.yml
Due: check-fmt

feat: use dynamic date range in weekly summary workflow (#1498)
  .github/workflows/weekly-summary.yml
Due: check-fmt

feat: add weapon profiles for content pack equipment (#1470)
  .claude/notes/weapon-profiles-display-spec.md
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/includes/weapon_profile_stats_form.html
  gyrinx/core/templates/core/pack/includes/weapon_profiles_display.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_item_add.html
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/templates/core/pack/weapon_profile_add.html
  gyrinx/core/templates/core/pack/weapon_profile_delete.html
  gyrinx/core/templates/core/pack/weapon_profile_edit.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: check-fmt, markdownlint

fix: remove week-specific language from weekly summary prompt
  .github/workflows/weekly-summary.yml
Due: check-fmt

feat: add delete link on weapon profile edit page
  gyrinx/core/templates/core/pack/weapon_profile_edit.html
  gyrinx/core/tests/test_views_pack.py
Due: none

fix: remove week-specific language from weekly summary prompt (#1501)
  .github/workflows/weekly-summary.yml
Due: check-fmt

fix: address PR review feedback for weapon profiles
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/views/pack.py
Due: none

feat: add weapon profiles for content pack equipment (#1499)
  .claude/notes/weapon-profiles-display-spec.md
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/includes/weapon_profile_stats_form.html
  gyrinx/core/templates/core/pack/includes/weapon_profiles_display.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_item_add.html
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/templates/core/pack/weapon_profile_add.html
  gyrinx/core/templates/core/pack/weapon_profile_delete.html
  gyrinx/core/templates/core/pack/weapon_profile_edit.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: check-fmt, markdownlint

fix: lists page doesn't show gangs with custom content pack houses (#1504)
  gyrinx/core/tests/test_lists_house_filter.py
  gyrinx/core/views/home.py
  gyrinx/core/views/list/views.py
Due: none

chore: bump minor/patch dependencies and ignore blocked major upgrades
  .github/dependabot.yml
  gyrinx/core/forms/list.py
  gyrinx/core/forms/print_config.py
  package-lock.json
  package.json
  requirements.txt
Due: check-fmt

chore: bump minor/patch dependencies and ignore blocked major upgrades (#1506)
  .github/dependabot.yml
  gyrinx/core/forms/list.py
  gyrinx/core/forms/print_config.py
  package-lock.json
  package.json
  requirements.txt
Due: check-fmt

feat: redesign pack "Add to Lists" page with filters, tabs, and pagination (#1477)
  gyrinx/core/templates/core/includes/lists_filter.html
  gyrinx/core/templates/core/pack/pack_lists.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: none

Add content lib analytics streamlit dashboard
  analytics/streamlit/pages/6_Content_Library_Changes.py
Due: none

Add some missing claude notes
  .claude/notes/lokalise-build-deploy-research.md
  .claude/notes/lokalise-codebase-audit.md
  .claude/notes/lokalise-design.md
  .claude/notes/lokalise-docs-research.md
  .claude/notes/pr-deploys-auth-url-research.md
  .claude/notes/pr-deploys-db-research.md
  .claude/notes/pr-deploys-infra-research.md
  .claude/notes/pr-deploys-plan.md
  .claude/notes/spyrer-counters-design.md
Due: check-fmt, markdownlint

Add some missing claude notes (#1511)
  .claude/notes/lokalise-build-deploy-research.md
  .claude/notes/lokalise-codebase-audit.md
  .claude/notes/lokalise-design.md
  .claude/notes/lokalise-docs-research.md
  .claude/notes/pr-deploys-auth-url-research.md
  .claude/notes/pr-deploys-db-research.md
  .claude/notes/pr-deploys-infra-research.md
  .claude/notes/pr-deploys-plan.md
  .claude/notes/spyrer-counters-design.md
Due: check-fmt, markdownlint
