Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

refactor: split core/models/list.py into a list/ package (#1858) (#1896)
  gyrinx/core/models/list.py
  gyrinx/core/models/list/__init__.py
  gyrinx/core/models/list/_common.py
  gyrinx/core/models/list/advancement.py
  gyrinx/core/models/list/assignment.py
  gyrinx/core/models/list/campaign_state.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/models/list/list.py
  gyrinx/core/models/list/psyker.py
  gyrinx/core/models/list/signal_handlers.py
  gyrinx/core/models/list/virtual.py
  gyrinx/core/tests/test_facts_interface.py
  gyrinx/core/tests/test_models_action.py
  gyrinx/core/tests/test_pack_vehicles_beasts.py
  gyrinx/core/tests/test_propagate_default_child_fighter.py
Due: none

fix: index.js bugs + Bootstrap SRI — #1867 Tranche A (#1897)
  gyrinx/core/static/core/js/index.js
  gyrinx/core/templates/core/layouts/foundation.html
  gyrinx/core/tests/test_gear_filter_availability_state.py
Due: check-fmt

fix: use GHA expressions for dates in weekly-summary prompt (#1899)
  .github/workflows/weekly-summary.yml
Due: check-fmt

refactor: split core/urls.py into per-domain url submodules
  gyrinx/core/urls.py
  gyrinx/core/urls/__init__.py
  gyrinx/core/urls/campaign.py
  gyrinx/core/urls/fighter.py
  gyrinx/core/urls/list.py
  gyrinx/core/urls/misc.py
  gyrinx/core/urls/pack.py
Due: none

chore: add read-only facts-vs-live drift harness (#1860 Stage 0)
  gyrinx/core/management/commands/verify_facts_vs_live.py
  gyrinx/core/tests/test_verify_facts_vs_live.py
Due: none

refactor: split core/urls.py into a urls/ package (#1863 part 1) (#1903)
  gyrinx/core/urls.py
  gyrinx/core/urls/__init__.py
  gyrinx/core/urls/campaign.py
  gyrinx/core/urls/fighter.py
  gyrinx/core/urls/list.py
  gyrinx/core/urls/misc.py
  gyrinx/core/urls/pack.py
Due: none

refactor: extract register_cost_change signal factory (#1863)
  gyrinx/content/models/signal_handlers.py
Due: none

refactor: extract PackItemFormMixin for Content*PackForm (#1863)
  gyrinx/core/forms/pack.py
Due: none

refactor: make pack fighter statline-override URL-driven (#1867 B1)
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/pack_item_add.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: none

refactor: make print-config fighter selection mode URL-driven (#1867 B3)
  gyrinx/core/forms/print_config.py
  gyrinx/core/templates/core/print_config/form.html
  gyrinx/core/tests/test_print_config_stash.py
  gyrinx/core/tests/test_print_config_views.py
  gyrinx/core/views/print_config.py
Due: none

refactor: URL-drive advancement-type cost prefill (#1867 B2)
  gyrinx/core/forms/advancement.py
  gyrinx/core/templates/core/list_fighter_advancement_type.html
  gyrinx/core/tests/test_advancements.py
  gyrinx/core/views/fighter/advancements.py
Due: none

chore: PR review screenshots for #1867 B1/B2/B3
  screenshots/1867-b1/01-override-OFF.png
  screenshots/1867-b1/02-override-ON.png
  screenshots/1867-b1/03-toggle-clicked-back-to-OFF.png
  screenshots/1867-b2/01-default-load-willpower.png
  screenshots/1867-b2/02-url-strength.png
  screenshots/1867-b2/03-js-select-attacks-autonav.png
  screenshots/1867-b3/01-create-mode-all-no-fighter-section.png
  screenshots/1867-b3/02-create-mode-specific-fighter-section.png
  screenshots/1867-b3/03-submit-fails-required-errors.png
Due: none

Add many-to-many admins field to Campaign model for #988
  gyrinx/core/migrations/0146_campaign_admins.py
  gyrinx/core/models/campaign.py
Due: none

refactor: make pack fighter statline-override URL-driven (#1867 B1) (#1911)
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/pack_item_add.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: none

refactor: URL-drive advancement-type cost prefill (#1867 B2) (#1912)
  gyrinx/core/forms/advancement.py
  gyrinx/core/templates/core/list_fighter_advancement_type.html
  gyrinx/core/tests/test_advancements.py
  gyrinx/core/views/fighter/advancements.py
Due: none

fix: tolerate duplicate ContentMod rows in pack mod pickers (#1915)
  gyrinx/core/forms/pack.py
  gyrinx/core/tests/test_pack_equipment_mods.py
  gyrinx/core/tests/test_pack_weapon_accessories.py
Due: none

Revert "refactor: URL-drive advancement-type cost prefill (#1867 B2) (#1912)"
  gyrinx/core/forms/advancement.py
  gyrinx/core/templates/core/list_fighter_advancement_type.html
  gyrinx/core/tests/test_advancements.py
  gyrinx/core/views/fighter/advancements.py
Due: none

Revert "refactor: URL-drive advancement-type cost prefill (#1867 B2)" (#1917)
  gyrinx/core/forms/advancement.py
  gyrinx/core/templates/core/list_fighter_advancement_type.html
  gyrinx/core/tests/test_advancements.py
  gyrinx/core/views/fighter/advancements.py
Due: none

Revert "refactor: make pack fighter statline-override URL-driven (#1867 B1) (…"
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/pack_item_add.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: none

Revert "refactor: make pack fighter statline-override URL-driven (#1867 B1)" (#1918)
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/pack_item_add.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: none

fix: dedup ContentMod rows and add unique constraints (#1915)
  gyrinx/content/migrations/0176_contentmod_unique_constraints.py
  gyrinx/content/models/modifier.py
  gyrinx/content/tests/test_content_mod_application.py
  gyrinx/content/tests/test_modifier_constraints.py
  gyrinx/content/tests/test_mods.py
  gyrinx/core/tests/test_injury_modifications.py
  gyrinx/core/tests/test_mod_ctx_optimization.py
Due: none

refactor: drop redundant ContentModFighterStat.clean() (#1915)
  gyrinx/content/migrations/0176_contentmod_unique_constraints.py
  gyrinx/content/models/modifier.py
Due: none

Update campaign templates and logic for multiple admins #988
  gyrinx/core/forms/campaign.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/includes/campaign_lists.html
Due: none

Add unit test to verify multiple campaign admins logic #988
  gyrinx/tests/test_campaign_admins.py
Due: none

Fix is_admin docstring, implement form save_m2m, and clean up template condition syntax per bot feedback
  gyrinx/core/forms/campaign.py
  gyrinx/core/models/campaign.py
Due: none

fix: dedup ContentMod rows and add unique constraints (#1915) (#1919)
  gyrinx/content/migrations/0176_contentmod_unique_constraints.py
  gyrinx/content/models/modifier.py
  gyrinx/content/tests/test_content_mod_application.py
  gyrinx/content/tests/test_modifier_constraints.py
  gyrinx/content/tests/test_mods.py
  gyrinx/core/tests/test_injury_modifications.py
  gyrinx/core/tests/test_mod_ctx_optimization.py
Due: none

feat: top-align featured pack cards and show owner badges
  gyrinx/core/templates/core/includes/featured_pack_card.html
  gyrinx/core/views/home.py
Due: none

feat: reorder homepage pinned sections below search, add divider
  gyrinx/core/templates/core/index.html
Due: none

fix: equalise homepage row heights across columns
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/includes/home/campaign_row.html
  gyrinx/core/templates/core/includes/home/gang_row.html
  gyrinx/core/templates/core/includes/home/list_row.html
Due: check-fmt

feat: reproducible, seed-driven dice roller with placeholder dice
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/dice.html
  gyrinx/core/templatetags/custom_tags.py
  gyrinx/core/tests/test_dice.py
  gyrinx/core/views/dice.py
Due: check-fmt

feat: instant client-side dice editing; match placeholder size
  gyrinx/core/static/core/js/dice.js
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/dice.html
Due: check-fmt

fix: move dice remove-group control out of the button group
  gyrinx/core/templates/core/dice.html
Due: none

fix: dice controls — full-width button group, X icon for remove
  gyrinx/core/templates/core/dice.html
Due: none

feat: cascade rolled dice in with a staggered fade
  gyrinx/core/static/core/js/dice.js
  gyrinx/core/static/core/scss/styles.scss
Due: check-fmt

feat: balance-sheet harness, situation matrix, and debug UI (#1826 Phase 1)
  .claude/notes/cost-pinning-design.md
  gyrinx/core/cost/balance_sheet.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/debug/list_balance_sheet.html
  gyrinx/core/tests/test_balance_sheet.py
  gyrinx/core/tests/test_debug_views.py
  gyrinx/core/views/debug.py
  gyrinx/urls.py
Due: check-fmt, markdownlint

feat: link balance sheet from the list dropdown Internal section
  gyrinx/core/templates/core/debug/list_actions.html
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/tests/test_debug_views.py
Due: none

fix: sign-out nav pill is white-on-red when active, not red-on-blue
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/includes/account_sidebar.html
Due: check-fmt

style: drop programme reference from balance sheet page copy
  gyrinx/core/templates/core/debug/list_balance_sheet.html
Due: none

fix: make logout page Sign Out button danger red
  gyrinx/core/templates/account/logout.html
Due: none

feat: show the user's badge on the header account button
  gyrinx/core/templates/core/layouts/base.html
Due: none
