Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

Fix duplicate logging on runserver startup
  gyrinx/settings.py
  gyrinx/tracing.py
Due: none

Merge head migrations
  gyrinx/core/migrations/0128_merge_20260206_0808.py
Due: none

Add 'None' option to print configuration fighter selection (#1110)
  gyrinx/core/forms/print_config.py
  gyrinx/core/migrations/0126_add_fighter_selection_mode_to_print_config.py
  gyrinx/core/models/print_config.py
  gyrinx/core/templates/core/print_config/form.html
  gyrinx/core/tests/test_print_config_stash.py
  gyrinx/core/views/list/views.py
Due: none

Fix duplicate startup logs (#1383)
  gyrinx/settings.py
  gyrinx/tracing.py
Due: none

fix: remove hardcoded SendGrid email defaults (#1382)
  gyrinx/settings_dev.py
  gyrinx/settings_prod.py
Due: none

Merge head migrations (#1385)
  gyrinx/core/migrations/0128_merge_20260206_0808.py
Due: none

Upgrade Claude model from Opus 4.5 to Opus 4.6 in all workflows
  .github/workflows/claude-code-improvement.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude.yml
Due: check-fmt

Merge head migratons again
  gyrinx/core/migrations/0129_merge_20260206_0853.py
Due: none

Fix ruff version mismatch between Claude Code for Web and local
  .pre-commit-config.yaml
  scripts/setup_web.sh
Due: check-fmt

Merge head migrations again (#1388)
  gyrinx/core/migrations/0129_merge_20260206_0853.py
Due: none

Activate venv in fmt.sh to guarantee pinned tool versions
  scripts/fmt.sh
  scripts/setup_web.sh
Due: none

Update Claude model from opus-4-5 to opus-4-6 across workflows (#1392)
  .github/workflows/claude-code-improvement.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude.yml
Due: check-fmt

Update ruff to v0.14.14 and fix venv PATH ordering (#1391)
  .pre-commit-config.yaml
  scripts/fmt.sh
  scripts/setup_web.sh
Due: check-fmt

fix: Strip HTML from campaign summaries in list views (#1393)
  gyrinx/core/templates/core/campaign/campaign_copy_from.html
  gyrinx/core/templates/core/campaign/campaigns.html
  gyrinx/core/templatetags/custom_tags.py
  gyrinx/core/tests/test_campaign.py
  gyrinx/core/tests/test_xss_protection.py
Due: none

Add migration conflict detection to CI and pre-commit
  .github/workflows/format-check.yml
  .pre-commit-config.yaml
  gyrinx/core/management/commands/check_migration_conflicts.py
  scripts/check_migration_conflicts.sh
Due: check-fmt

feat: Add fighter_can_buy_any to ContentAvailabilityPreset (#1396)
  gyrinx/content/migrations/0154_add_fighter_can_buy_any_to_availability_preset.py
  gyrinx/content/models/availability_preset.py
  gyrinx/content/tests/test_availability_preset.py
  gyrinx/core/views/fighter/equipment.py
Due: none

Add migration conflict detection to CI and pre-commit (#1389)
  .github/workflows/format-check.yml
  .pre-commit-config.yaml
  gyrinx/core/management/commands/check_migration_conflicts.py
  scripts/check_migration_conflicts.sh
Due: check-fmt

fix: upgrade Django to 6.0.2 for SQL injection fix (CVE-2026-1312)
  requirements.txt
Due: none

feat: Show heading link icons only on hover (#1394)
  gyrinx/core/static/core/scss/styles.scss
Due: check-fmt

fix: upgrade Django to 6.0.2 (CVE-2026-1312) (#1397)
  requirements.txt
Due: none

feat: add pack history tracking and activity feed (#1310)
  gyrinx/core/models/pack.py
  gyrinx/core/templates/core/includes/pack_activity_item.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_activity.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: none

feat: Pack history tracking and activity feed (#1395)
  gyrinx/core/models/pack.py
  gyrinx/core/templates/core/includes/pack_activity_item.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_activity.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: none

test: add test coverage for for_campaign parameter in handle_list_clone
  gyrinx/core/handlers/list/operations.py
  gyrinx/core/tests/test_clone.py
Due: none

feat: propagate content_fighter cost changes to fighter.rating_current (#1387)
  gyrinx/core/handlers/fighter/edit.py
  gyrinx/core/tests/test_handlers_fighter_edit.py
Due: none

refactor: always create original_action when cloning lists
  gyrinx/core/handlers/list/operations.py
  gyrinx/core/tests/test_clone.py
Due: none

fix: consolidate list cloning through handle_list_clone handler (#1332)
  gyrinx/core/handlers/campaign_operations.py
  gyrinx/core/handlers/list/operations.py
  gyrinx/core/models/campaign.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_clone.py
Due: none

Add preset name column to ContentAvailabilityPreset admin
  gyrinx/content/admin.py
  gyrinx/content/models/availability_preset.py
Due: none

Fix JSON env var parsing for quote-wrapped values
  gyrinx/settings.py
Due: none

Refactor JSON environment variable parsing into reusable utility (#1399)
  gyrinx/settings.py
Due: none

docs: add comprehensive content library documentation
  docs/SUMMARY.md
  docs/content-library/README.md
  docs/content-library/advancements.md
  docs/content-library/content-packs.md
  docs/content-library/equipment-and-weapons.md
  docs/content-library/equipment-availability.md
  docs/content-library/equipment-list-expansions.md
  docs/content-library/fighters.md
  docs/content-library/gang-attributes.md
  docs/content-library/houses-and-factions.md
  docs/content-library/injuries.md
  docs/content-library/modifiers.md
  docs/content-library/reference-library.md
  docs/content-library/skills-rules-and-psyker-powers.md
  docs/content-library/stats-and-statlines.md
Due: check-fmt, markdownlint

Document available agents, skills, and slash commands in CLAUDE.md
  CLAUDE.md
Due: check-fmt, markdownlint

docs: add comprehensive content library documentation (#1401)
  docs/SUMMARY.md
  docs/content-library/README.md
  docs/content-library/advancements.md
  docs/content-library/content-packs.md
  docs/content-library/equipment-and-weapons.md
  docs/content-library/equipment-availability.md
  docs/content-library/equipment-list-expansions.md
  docs/content-library/fighters.md
  docs/content-library/gang-attributes.md
  docs/content-library/houses-and-factions.md
  docs/content-library/injuries.md
  docs/content-library/modifiers.md
  docs/content-library/reference-library.md
  docs/content-library/skills-rules-and-psyker-powers.md
  docs/content-library/stats-and-statlines.md
Due: check-fmt, markdownlint

Align filter terminology to consistently use "Your" instead of "My"
  gyrinx/core/templates/core/includes/campaigns_filter.html
  gyrinx/core/templates/core/includes/packs_filter.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/campaign/views.py
Due: none

Refactor ContentAvailabilityPresetAdmin list display (#1402)
  gyrinx/content/admin.py
  gyrinx/content/models/availability_preset.py
Due: none

docs: add Claude agents, skills, and commands guide (#1409)
  CLAUDE.md
Due: check-fmt, markdownlint

fix: support non-Docker execution in test and migration scripts
  scripts/migrate.sh
  scripts/setup_web.sh
  scripts/test.sh
Due: none

docs: note that Claude Code on the Web skips Docker
  CLAUDE.md
Due: check-fmt, markdownlint

docs: add conventional commit prefix guide to CLAUDE.md
  CLAUDE.md
Due: check-fmt, markdownlint

fix: match DB_NAME fallback to settings.py default ("gyrinx")
  scripts/setup_web.sh
Due: none

fix: restart PostgreSQL after config change if already running
  scripts/setup_web.sh
Due: none

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
