Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

feat: add All/None option to filter dropdowns (#1311)
  gyrinx/core/static/core/js/index.js
  gyrinx/core/templates/core/includes/campaigns_filter.html
  gyrinx/core/templates/core/includes/fighter_gear_filter.html
  gyrinx/core/templates/core/includes/lists_filter.html
  gyrinx/core/templatetags/custom_tags.py
  gyrinx/core/views/campaign/views.py
  gyrinx/core/views/fighter/equipment.py
Due: check-fmt

fix: Address PR feedback for task result implementation
  gyrinx/core/models/state_machine.py
  gyrinx/tasks/backend.py
  gyrinx/tasks/tests/test_backend.py
  gyrinx/tasks/tests/test_views.py
  gyrinx/tasks/views.py
Due: none

refactor: Replace StateMachineMixin with table-per-model StateMachine descriptor
  docs/SUMMARY.md
  docs/technical-reference/state-machine.md
  docs/technical-reference/task-framework.md
  gyrinx/core/migrations/0125_add_state_transition_model.py
  gyrinx/core/models/state_machine.py
  gyrinx/core/tests/test_state_machine.py
  gyrinx/tasks/admin.py
  gyrinx/tasks/migrations/0002_alter_taskexecution_status_and_more.py
  gyrinx/tasks/models.py
  gyrinx/tasks/tests/test_models.py
  gyrinx/tasks/tests/test_views.py
Due: check-fmt, markdownlint

fix: Remove self-import in test_state_machine.py
  gyrinx/core/tests/test_state_machine.py
Due: none

Add list ID to search fields in ListAction admin (#1320)
  gyrinx/core/admin/action.py
Due: none

Add staff-only debug link to list dropdown menu (#1328)
  gyrinx/core/templates/core/includes/list.html
Due: none

feat: Add signal-based TaskExecution tracking for any backend
  gyrinx/tasks/admin.py
  gyrinx/tasks/apps.py
  gyrinx/tasks/backend.py
  gyrinx/tasks/migrations/0003_add_task_id_to_taskexecution.py
  gyrinx/tasks/models.py
  gyrinx/tasks/signals.py
  gyrinx/tasks/tests/test_backend.py
  gyrinx/tasks/tests/test_models.py
  gyrinx/tasks/tests/test_views.py
  gyrinx/tasks/views.py
Due: none

fix: optimize ListAction admin page with select_related and autocomplete (#1319)
  gyrinx/core/admin/action.py
Due: none

feat: Add owner search fields to ListAdmin (#1329)
  gyrinx/core/admin/list.py
Due: none

fix: Guard field access in ListFighterForm to prevent KeyError (#1330)
  gyrinx/core/admin/list.py
Due: none

feat: Add task result retrieval with state machine pattern (#1321)
  docs/SUMMARY.md
  docs/technical-reference/state-machine.md
  docs/technical-reference/task-framework.md
  gyrinx/core/models/__init__.py
  gyrinx/core/models/state_machine.py
  gyrinx/core/tests/test_state_machine.py
  gyrinx/tasks/admin.py
  gyrinx/tasks/apps.py
  gyrinx/tasks/backend.py
  gyrinx/tasks/migrations/0001_add_task_execution_model.py
  gyrinx/tasks/migrations/0002_alter_taskexecution_status_and_more.py
  gyrinx/tasks/migrations/0003_add_task_id_to_taskexecution.py
  gyrinx/tasks/migrations/__init__.py
  gyrinx/tasks/models.py
  gyrinx/tasks/signals.py
  gyrinx/tasks/tests/test_backend.py
  gyrinx/tasks/tests/test_models.py
  gyrinx/tasks/tests/test_views.py
  gyrinx/tasks/views.py
Due: check-fmt, markdownlint

test: add test coverage for for_campaign parameter in handle_list_clone
  gyrinx/core/handlers/list/operations.py
  gyrinx/core/tests/test_clone.py
Due: none

refactor: always create original_action when cloning lists
  gyrinx/core/handlers/list/operations.py
  gyrinx/core/tests/test_clone.py
Due: none

fix: Allow github-merge-queue[bot] in weekly summary workflow
  .github/workflows/weekly-summary.yml
Due: check-fmt

tweak: Limit admin changes in weekly summary to one bullet max
  .github/workflows/weekly-summary.yml
Due: check-fmt

fix: Allow github-merge-queue[bot] in weekly summary workflow (#1344)
  .github/workflows/weekly-summary.yml
Due: check-fmt

Fix broken tasks migration
  gyrinx/tasks/migrations/0003_add_task_id_to_taskexecution.py
Due: none

feat: Add availability presets for Trading Post defaults
  gyrinx/content/admin.py
  gyrinx/content/migrations/0153_add_availability_preset.py
  gyrinx/content/models/__init__.py
  gyrinx/content/models/availability_preset.py
  gyrinx/content/tests/test_availability_preset.py
  gyrinx/core/views/fighter/equipment.py
Due: none

fix: Render preset availability values in form for Trading Post
  gyrinx/content/admin.py
  gyrinx/content/models/availability_preset.py
  gyrinx/content/tests/test_availability_preset.py
  gyrinx/core/static/core/js/index.js
  gyrinx/core/templates/core/includes/fighter_gear_filter.html
  gyrinx/core/views/fighter/equipment.py
Due: check-fmt

feat: Add availability presets for Trading Post defaults (#1327)
  gyrinx/content/admin.py
  gyrinx/content/migrations/0153_add_availability_preset.py
  gyrinx/content/models/__init__.py
  gyrinx/content/models/availability_preset.py
  gyrinx/content/tests/test_availability_preset.py
  gyrinx/core/static/core/js/index.js
  gyrinx/core/templates/core/includes/fighter_gear_filter.html
  gyrinx/core/views/fighter/equipment.py
Due: check-fmt

review feedback
  gyrinx/core/handlers/equipment/purchase.py
  gyrinx/core/templates/core/list_fighter_assign_delete_confirm.html
  gyrinx/core/templatetags/custom_tags.py
  gyrinx/core/tests/test_campaign_equipment_credit_spending.py
Due: none

feat: support negative credit spending in campaigns (#1335)
  gyrinx/core/handlers/equipment/purchase.py
  gyrinx/core/handlers/equipment/removal.py
  gyrinx/core/handlers/refund.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/list_fighter_assign_delete_confirm.html
  gyrinx/core/templatetags/custom_tags.py
  gyrinx/core/tests/test_campaign_credit_spending.py
  gyrinx/core/tests/test_campaign_equipment_credit_spending.py
  gyrinx/core/views/fighter/equipment.py
Due: none

fix: Remove rating clamping in cost propagation for negative-cost equipment
  gyrinx/core/cost/propagation.py
  gyrinx/core/tests/test_cost_propagation.py
Due: none

fix: Allow negative costs for equipment and fighters in cloned lists (#1342)
  gyrinx/core/cost/propagation.py
  gyrinx/core/migrations/0125_allow_negative_rating_for_equipment.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_clone_negative_cost.py
  gyrinx/core/tests/test_cost_propagation.py
Due: none

Update gyrinx/core/tests/test_clone.py
  gyrinx/core/tests/test_clone.py
Due: none

fix: Add LoginRequiredMixin to ListArchivedFightersView (#1350)
  gyrinx/core/views/fighter/crud.py
Due: none

fix: clone list attributes before fighters for correct expansion costs (#1337)
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_clone.py
Due: none

fix form initial state
  gyrinx/core/forms/list.py
  gyrinx/core/tests/test_upgrade_form_radio.py
Due: none

fix: Use radio buttons for single-mode upgrade stacks (#1351)
  gyrinx/core/forms/__init__.py
  gyrinx/core/forms/list.py
  gyrinx/core/tests/test_upgrade_form_radio.py
  gyrinx/pages/templates/pages/forms/widgets/bs_radio_option.html
  gyrinx/pages/templates/pages/forms/widgets/bs_radio_select.html
Due: none

Reset bandit baseline
  bandit/bandit-baseline.json
Due: check-fmt

fix: pin minimum versions for vulnerable transitive dependencies
  package-lock.json
  requirements.txt
  uv.lock
Due: check-fmt

fix: pin minimum versions for vulnerable transitive dependencies (#1352)
  package-lock.json
  requirements.txt
  uv.lock
Due: check-fmt

fix: preserve upgrades on converted default assignments when cloning (#1336)
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_assignments.py
  gyrinx/core/tests/test_clone.py
Due: none

feat: add CustomContentPack model with polymorphic item through model
  gyrinx/content/models/__init__.py
  gyrinx/content/models/base.py
  gyrinx/content/models/equipment.py
  gyrinx/content/models/fighter.py
  gyrinx/content/models/weapon.py
  gyrinx/core/migrations/0126_add_custom_content_pack_models.py
  gyrinx/core/models/__init__.py
  gyrinx/core/models/pack.py
  gyrinx/core/tests/test_models_pack.py
Due: none

Include 'promote to champion' in advancement type form skill choices
  gyrinx/core/tests/test_advancement_choices.py
  gyrinx/core/tests/test_fighter_advancements.py
Due: none

Promotion to champion should come with random primary skill
  gyrinx/core/forms/advancement.py
  gyrinx/core/tests/test_advancement_choices.py
  gyrinx/core/views/fighter/advancements.py
Due: none

Test for champion advancement flow
  gyrinx/core/tests/test_fighter_advancements.py
Due: none

fix: narrow can_edit to is_arbitrator for campaign owners in fighter cards
  gyrinx/core/templates/core/includes/fighter_card.html
  gyrinx/core/templates/core/includes/fighter_card_content.html
  gyrinx/core/templates/core/includes/fighter_card_content_inner.html
  gyrinx/core/tests/test_injury_views.py
  gyrinx/core/tests/test_xp_tracking.py
Due: none

docs: document test fixtures in CLAUDE.md
  CLAUDE.md
Due: check-fmt, markdownlint

refactor: use conftest fixtures in injury view campaign owner tests
  gyrinx/core/tests/test_injury_views.py
Due: none

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
