Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

feat: reposition the notifications button by breakpoint
  gyrinx/core/templates/core/includes/notification_nav_button.html
  gyrinx/core/templates/core/layouts/base.html
Due: none

style: make edit-set Cancel a link button
  gyrinx/core/templates/core/list_fighter_equipment_set_edit.html
Due: none

fix: harden notification action routes (CodeRabbit/Copilot)
  gyrinx/core/tests/test_notification_admin.py
  gyrinx/core/urls/notification.py
  gyrinx/core/views/notification.py
Due: none

fix: address third review pass on equipment sets
  gyrinx/core/views/fighter/equipment_sets.py
Due: none

fix: render notification banners with border rounded p-2, not alert
  gyrinx/core/templates/core/includes/notification_banners.html
Due: none

style: make inbox row actions icon links
  gyrinx/core/templates/core/includes/notification_list_item.html
Due: none

feat: equipment sets (Tools of the Trade) — Phase 1 (#1955)
  gyrinx/core/migrations/0157_equipment_sets.py
  gyrinx/core/models/list/__init__.py
  gyrinx/core/models/list/equipment_set.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/models/list/list.py
  gyrinx/core/models/list/signal_handlers.py
  gyrinx/core/templates/core/includes/fighter_card_content.html
  gyrinx/core/templates/core/includes/fighter_card_cost.html
  gyrinx/core/templates/core/includes/fighter_card_equipment_set_switcher.html
  gyrinx/core/templates/core/includes/list_common_header.html
  gyrinx/core/templates/core/list_fighter_equipment_set_edit.html
  gyrinx/core/templates/core/list_fighter_equipment_sets.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_equipment_sets.py
  gyrinx/core/urls/fighter.py
  gyrinx/core/views/fighter/equipment_sets.py
  gyrinx/core/views/list/views.py
Due: check-fmt

feat: roll flows for counters — Spyrer Power Boost (#706 Phases 2+3)
  gyrinx/content/admin.py
  gyrinx/content/migrations/0177_add_counter_warning_stat.py
  gyrinx/content/models/counter.py
  gyrinx/content/models/roll_table.py
  gyrinx/core/forms/list.py
  gyrinx/core/handlers/fighter/__init__.py
  gyrinx/core/handlers/fighter/roll_flow.py
  gyrinx/core/migrations/0157_add_list_fighter_roll_result.py
  gyrinx/core/models/list/__init__.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/models/list/roll_result.py
  gyrinx/core/templates/core/includes/fighter_card_content_inner.html
  gyrinx/core/templates/core/list_fighter_counters_edit.html
  gyrinx/core/templates/core/list_fighter_roll_flow.html
  gyrinx/core/templates/core/list_fighter_roll_flow_confirm.html
  gyrinx/core/templates/core/list_fighter_roll_result_remove.html
  gyrinx/core/templates/core/list_fighter_roll_results_edit.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_roll_flow.py
  gyrinx/core/urls/fighter.py
  gyrinx/core/views/fighter/counters.py
  gyrinx/core/views/fighter/roll_flow.py
Due: check-fmt

fix: clear roll_token on clone; log D66 totals with table semantics
  gyrinx/core/models/list/fighter.py
  gyrinx/core/tests/test_roll_flow.py
  gyrinx/core/views/fighter/roll_flow.py
Due: none

feat: clearer counter warning badge — dot indicator + Bootstrap tooltip
  gyrinx/core/templates/core/includes/fighter_card_content_inner.html
Due: none

chore: log non-numeric roll_value in parse_roll_value
  gyrinx/content/models/roll_table.py
Due: none

fix: user-facing copy for unmatched roll (no admin reference)
  gyrinx/core/templates/core/list_fighter_roll_flow_confirm.html
Due: none

refactor: remove unreachable counter-create branch in handle_roll_flow
  gyrinx/core/handlers/fighter/roll_flow.py
Due: none

docs: content-library page for counters & roll tables
  docs/content-library/README.md
  docs/content-library/counters-and-roll-tables.md
Due: check-fmt, markdownlint

fix: apply-once guard for roll flows on lists without a campaign
  gyrinx/core/handlers/fighter/roll_flow.py
  gyrinx/core/migrations/0158_add_roll_result_roll_token.py
  gyrinx/core/models/list/roll_result.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_roll_flow.py
  gyrinx/core/views/fighter/roll_flow.py
Due: check-fmt

fix: harden classic print cards against iOS squish and page-break slicing
  gyrinx/core/static/core/scss/_classic_card.scss
Due: check-fmt

style: banner dismiss as icon link; drop inbox row action icons
  gyrinx/core/templates/core/includes/notification_banners.html
  gyrinx/core/templates/core/includes/notification_list_item.html
Due: none

fix: renumber migrations past 0157_equipment_sets; scope campaign action lookup; drop unused logger
  gyrinx/core/handlers/fighter/roll_flow.py
  gyrinx/core/migrations/0158_add_list_fighter_roll_result.py
  gyrinx/core/migrations/0159_add_roll_result_roll_token.py
  gyrinx/core/models/list/roll_result.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
Due: check-fmt

fix: re-parent notification migration after merging main (0157→0158)
  gyrinx/core/migrations/0158_add_notification_model.py
Due: none

feat: roll flows for counters — Spyrer Power Boost (#706 Phases 2+3) (#1956)
  docs/content-library/README.md
  docs/content-library/counters-and-roll-tables.md
  gyrinx/content/admin.py
  gyrinx/content/migrations/0177_add_counter_warning_stat.py
  gyrinx/content/models/counter.py
  gyrinx/content/models/roll_table.py
  gyrinx/core/forms/list.py
  gyrinx/core/handlers/fighter/__init__.py
  gyrinx/core/handlers/fighter/roll_flow.py
  gyrinx/core/migrations/0158_add_list_fighter_roll_result.py
  gyrinx/core/migrations/0159_add_roll_result_roll_token.py
  gyrinx/core/models/list/__init__.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/models/list/roll_result.py
  gyrinx/core/templates/core/includes/fighter_card_content_inner.html
  gyrinx/core/templates/core/list_fighter_counters_edit.html
  gyrinx/core/templates/core/list_fighter_roll_flow.html
  gyrinx/core/templates/core/list_fighter_roll_flow_confirm.html
  gyrinx/core/templates/core/list_fighter_roll_result_remove.html
  gyrinx/core/templates/core/list_fighter_roll_results_edit.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_roll_flow.py
  gyrinx/core/urls/fighter.py
  gyrinx/core/views/fighter/counters.py
  gyrinx/core/views/fighter/roll_flow.py
Due: check-fmt, markdownlint

fix: make classic print cards plain white — drop grey texture and mat
  gyrinx/core/static/core/scss/_classic_card.scss
Due: check-fmt

fix: keep the classic card texture — only the page mat goes white
  gyrinx/core/static/core/scss/_classic_card.scss
Due: check-fmt

fix: re-integrate main; renumber notification migration to 0160
  gyrinx/core/migrations/0160_add_notification_model.py
Due: none

fix: stop iOS slicing classic cards across the page fold
  gyrinx/core/static/core/scss/_classic_card.scss
Due: check-fmt

feat: notifications & inbox (#721) (#1959)
  CLAUDE.md
  gyrinx/core/admin/__init__.py
  gyrinx/core/admin/notification.py
  gyrinx/core/context_processors.py
  gyrinx/core/migrations/0160_add_notification_model.py
  gyrinx/core/models/__init__.py
  gyrinx/core/models/notification.py
  gyrinx/core/templates/admin/core/notification/broadcast.html
  gyrinx/core/templates/admin/core/notification/change_list.html
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/includes/account_sidebar.html
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/includes/notification_banners.html
  gyrinx/core/templates/core/includes/notification_list_item.html
  gyrinx/core/templates/core/includes/notification_nav_button.html
  gyrinx/core/templates/core/includes/notification_source.html
  gyrinx/core/templates/core/layouts/base.html
  gyrinx/core/templates/core/notifications.html
  gyrinx/core/tests/test_notification_admin.py
  gyrinx/core/tests/test_notification_badge.py
  gyrinx/core/tests/test_notification_banners.py
  gyrinx/core/tests/test_notifications.py
  gyrinx/core/tests/test_views_notifications.py
  gyrinx/core/urls/__init__.py
  gyrinx/core/urls/notification.py
  gyrinx/core/views/__init__.py
  gyrinx/core/views/campaign/views.py
  gyrinx/core/views/list/views.py
  gyrinx/core/views/notification.py
  gyrinx/settings.py
Due: check-fmt, markdownlint

feat: notify affected owners & arbitrators when their lists are reconciled (#1826 + #721)
  gyrinx/core/admin/list.py
  gyrinx/core/cost/reconcile_notify.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_reconcile_notify.py
Due: none

fix: contain classic-card horizontal scroll to the sheet on small phones
  gyrinx/core/static/core/scss/_classic_card.scss
Due: check-fmt

feat: reconcile notifications use SYSTEM type and show each gang's rating change
  gyrinx/core/admin/list.py
  gyrinx/core/cost/reconcile_notify.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_reconcile_notify.py
Due: none

feat: reconcile notifications summarise stash change too, not just rating
  gyrinx/core/admin/list.py
  gyrinx/core/cost/reconcile_notify.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_reconcile_notify.py
Due: none

fix: classic print cards on iOS — page-fold slicing, mobile squish, and page mat (#1960)
  gyrinx/core/static/core/scss/_classic_card.scss
Due: check-fmt

feat: notify affected owners & arbitrators when their lists are reconciled (#1962)
  gyrinx/core/admin/list.py
  gyrinx/core/cost/reconcile_notify.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_reconcile_notify.py
Due: none

feat: reconcile run records per-gang detail + admin detail page shows it
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_maintenance_pin_ops.py
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/templates/admin/maintenance/backfill_detail.html
Due: none

fix: address review — drop Backfill history, gate completion notify, show detail on failed run
  gyrinx/core/migrations/0161_drop_backfill_history.py
  gyrinx/core/models/backfill.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_maintenance_pin_ops.py
  gyrinx/core/tests/test_reconcile_notify.py
  gyrinx/maintenance/templates/admin/maintenance/backfill_detail.html
Due: none

feat: reconcile run records per-gang detail + admin detail page shows it (#1963)
  gyrinx/core/migrations/0161_drop_backfill_history.py
  gyrinx/core/models/backfill.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_maintenance_pin_ops.py
  gyrinx/core/tests/test_reconcile_notify.py
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/templates/admin/maintenance/backfill_detail.html
Due: none

feat: spend counters without a roll flow (#1961)
  gyrinx/core/forms/list.py
  gyrinx/core/handlers/fighter/__init__.py
  gyrinx/core/handlers/fighter/counter_spend.py
  gyrinx/core/migrations/0161_add_list_fighter_counter_spend.py
  gyrinx/core/models/list/__init__.py
  gyrinx/core/models/list/counter_spend.py
  gyrinx/core/templates/core/list_fighter_counters_edit.html
  gyrinx/core/tests/test_counters.py
  gyrinx/core/views/fighter/counters.py
Due: none

fix: reconcile detail page — stray comment rendered, clamp hint always shown
  gyrinx/core/tests/test_maintenance_pin_ops.py
  gyrinx/maintenance/templates/admin/maintenance/backfill_detail.html
Due: none

refactor: drop the spend outcome field, label the box "Purpose"
  gyrinx/core/forms/list.py
  gyrinx/core/handlers/fighter/counter_spend.py
  gyrinx/core/migrations/0161_add_list_fighter_counter_spend.py
  gyrinx/core/models/list/counter_spend.py
  gyrinx/core/templates/core/list_fighter_counters_edit.html
  gyrinx/core/tests/test_counters.py
  gyrinx/core/views/fighter/counters.py
Due: none

docs: document free-form counter spends for admins
  docs/content-library/counters-and-roll-tables.md
Due: check-fmt, markdownlint

feat: price-neutral death transfer via clone-with-pins (#1826 Phase 9)
  .claude/notes/cost-pinning-design.md
  gyrinx/core/handlers/fighter/kill.py
  gyrinx/core/tests/test_balance_sheet.py
  gyrinx/core/tests/test_pin_guard.py
Due: check-fmt, markdownlint

fix: pack-correct clone cache at the root + new-gang pinning test (#1826 Phase 9)
  .claude/notes/cost-pinning-design.md
  gyrinx/core/handlers/fighter/kill.py
  gyrinx/core/models/list/assignment.py
  gyrinx/core/tests/test_balance_sheet.py
Due: check-fmt, markdownlint
