Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

fix: draw the fit question only for an accessory, and refuse a self-fit
  n26/core/test_views_owned.py
  n26/core/views/owned.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/owned-dialog/35-fitting.html
  n26/designsystem/templates/designsystem/demos/owned-dialog/37-fitting-with-no-gun.html
Due: none

fix: a bandless result keeps a covered table out of the clear
  n26/core/browse.py
  n26/library/templates/authoring/picklist_table.html
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_slots_and_picks.py
Due: none

feat: warn on built_in_remove that removal leaves assignments in place (#2364)
  n26/core/propagation.py
  n26/library/templates/authoring/built_in_remove.html
  n26/library/views.py
  n26/tests/sandbox/test_builtin_reach_preview.py
Due: none

docs: C7 fork dry-run, nested built-ins forward fix (#2359), rebase state
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

test: pin the fit panel's empty state, and stop saying one thing four times
  n26/core/listing.py
  n26/core/templates/n26/includes/equip_update.html
  n26/core/test_views_owned.py
  n26/core/views/owned.py
Due: none

fix: rewrite off-style messages, labels and help text to the microcopy rules
  gyrinx/templates/account/password_reset.html
  gyrinx/templates/account/signup_closed.html
  gyrinx/templates/account/verification_sent.html
  gyrinx/templates/account/verified_email_required.html
  n23/core/templates/core/campaign/campaign_copy_from.html
  n23/core/templates/core/campaign/campaign_copy_to.html
  n23/core/templates/core/index.html
  n23/core/templates/core/list_fighter_equipment_sell.html
  n23/core/templates/core/list_fighter_new.html
  n23/core/tests/test_homepage_campaigns.py
  n23/core/views/battle.py
  n23/core/views/campaign/lifecycle.py
  n23/core/views/fighter/crud.py
  n23/core/views/fighter/xp.py
  n23/core/views/list/attributes.py
  n23/core/views/list/views.py
  n23/core/views/vehicle.py
  n26/core/templates/admin/maintenance/n26/convert.html
  n26/core/templates/n26/add_participant.html
  n26/core/templates/n26/archive_campaign.html
  n26/core/views/owned.py
  n26/library/migrations/0074_plain_help_text_for_profile_name_and_slot_min_picks.py
  n26/library/models/profile.py
  n26/library/models/slots.py
  n26/library/templates/authoring/ingest.html
  n26/library/views.py
  n26/maintenance.py
  n26/tests/sandbox/test_ingest_page.py
  n26/tests/test_views_campaigns.py
Due: none

chore: CODEOWNERS leaves the dependency manifests unowned so Dependabot PRs merge
  .github/workflows/dependabot-auto-merge.yml
  CODEOWNERS
Due: check-fmt

fix: check_microcopy.py scans string tokens, edit-only hook input, old-python parse
  .agents/skills/microcopy/SKILL.md
  .claude/agents/copywriter.md
  .github/COMMIT_STYLE.md
  .github/copilot-instructions.md
  CLAUDE.md
  n23/core/templates/CLAUDE.md
  scripts/check_microcopy.py
Due: check-fmt, markdownlint

fix: check_microcopy.py prints its warning header as two complete lines
  scripts/check_microcopy.py
Due: none

feat: n26_backfill_built_ins walks archived gangs too
  n26/core/backfill_built_ins.py
  n26/core/templates/admin/maintenance/n26/backfill_built_ins.html
  n26/maintenance.py
  n26/tests/sandbox/test_builtin_backfill.py
Due: none

feat: a roll table's own page says whether its bands cover the die (#2363)
  n26/core/browse.py
  n26/core/render.py
  n26/core/templates/cotton/n26/choice_picks.html
  n26/library/templates/authoring/picklist_table.html
  n26/library/test_slots.py
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_slots_and_picks.py
  n26/urls.py
Due: none

test: the Lasting Injury and Lasting Damage tables as the executable spec
  n26/library/recipes.md
  n26/tests/sandbox/test_lasting_effects.py
Due: check-fmt, markdownlint

feat: n26 equip page offers Fit to a weapon on a loose accessory row (#2365)
  n26/core/listing.py
  n26/core/owned.py
  n26/core/templates/cotton/n26/owned_dialog.html
  n26/core/templates/n26/includes/equip_update.html
  n26/core/test_views_owned.py
  n26/core/views/equip.py
  n26/core/views/owned.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/owned-dialog/35-fitting.html
  n26/designsystem/templates/designsystem/demos/owned-dialog/37-fitting-with-no-gun.html
Due: none

docs: microcopy refusals say no, then the rule
  .agents/skills/microcopy/SKILL.md
Due: check-fmt, markdownlint

docs: microcopy scope exempts the human-written homepage marketing pitch
  .agents/skills/microcopy/SKILL.md
  .github/copilot-instructions.md
Due: check-fmt, markdownlint

fix: battle refusals say no then the rule; homepage marketing pitch restored
  n23/core/templates/core/index.html
  n23/core/views/battle.py
  n23/core/views/fighter/crud.py
Due: none

chore: CODEOWNERS leaves the dependency manifests unowned so Dependabot PRs merge (#2369)
  .github/workflows/dependabot-auto-merge.yml
  CODEOWNERS
Due: check-fmt

feat: microcopy skill, copywriter agent, and check_microcopy.py warnings (#2366)
  .agents/skills/microcopy/SKILL.md
  .claude/agents/copywriter.md
  .claude/settings.json
  .github/COMMIT_STYLE.md
  .github/copilot-instructions.md
  CLAUDE.md
  n23/core/templates/CLAUDE.md
  scripts/check_microcopy.py
Due: check-fmt, markdownlint

feat: the lasting effect tables are a Foundations seed
  n26/library/recipes.md
  n26/library/standard_content.py
  n26/tests/sandbox/test_lasting_effects.py
Due: check-fmt, markdownlint

feat: offer every skill set on the n26 fighter edit page, in two tabs
  n26/core/static/n26/htmx_support.js
  n26/core/templates/cotton/n26/pick_list/index.html
  n26/core/templates/cotton/n26/tab_links.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/skills_box.html
  n26/core/test_views_equip.py
  n26/core/views/edit.py
  n26/core/views/learn.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/pick-list/20-grouped.html
  n26/library/concepts.md
  n26/tests/sandbox/test_editing_skills.py
Due: check-fmt, markdownlint

fix: build the skills tab redirect from constants, and correct two claims
  n26/core/views/edit.py
  n26/core/views/learn.py
  n26/tests/sandbox/test_editing_skills.py
Due: none

feat: n26_drop_duplicate_grants drops the second copy a catch-up granted
  n26/core/duplicate_grants.py
  n26/core/templates/admin/maintenance/n26/_drop_duplicate_grants_detail.html
  n26/core/templates/admin/maintenance/n26/drop_duplicate_grants.html
  n26/maintenance.py
  n26/tests/sandbox/test_duplicate_grants.py
Due: none

feat: drop_duplicate_grants can be run for one named model
  n26/core/duplicate_grants.py
  n26/core/templates/admin/maintenance/n26/_drop_duplicate_grants_detail.html
  n26/core/templates/admin/maintenance/n26/drop_duplicate_grants.html
  n26/maintenance.py
  n26/tests/sandbox/test_duplicate_grants.py
Due: none

fix: the roll shows the number the campaign weighs
  n26/core/templates/n26/campaign.html
  n26/core/views/campaigns.py
  n26/tests/sandbox/test_campaign_membership.py
Due: none

feat: a player brings their own gang, and the budget is the way in
  n26/core/forms.py
  n26/core/models/gang.py
  n26/core/operations.py
  n26/core/templates/n26/add_gang_to_campaign.html
  n26/core/templates/n26/campaign.html
  n26/core/views/campaigns.py
  n26/tests/sandbox/test_campaign_membership.py
  n26/tests/test_views_campaigns.py
Due: none

fix: keep subtypes off the skills listing, and say what widening it costs
  n26/core/templates/cotton/n26/tab_links.html
  n26/core/views/learn.py
  n26/tests/sandbox/test_editing_skills.py
Due: none

fix: the duplicate-grants console refuses an id that names no model in a gang
  n26/core/duplicate_grants.py
  n26/maintenance.py
  n26/tests/sandbox/test_duplicate_grants.py
Due: none

refactor: campaign join copy says the number and drops the personification
  n26/core/forms.py
  n26/core/operations.py
  n26/core/templates/n26/add_gang_to_campaign.html
  n26/core/templates/n26/campaign.html
  n26/core/views/campaigns.py
Due: none

fix: the model box takes a real id, and a tally anywhere below stops the drop
  n26/core/duplicate_grants.py
  n26/maintenance.py
  n26/tests/sandbox/test_duplicate_grants.py
Due: none

fix: rewrite off-style messages, labels and help text to the microcopy rules (#2368)
  gyrinx/templates/account/password_reset.html
  gyrinx/templates/account/signup_closed.html
  gyrinx/templates/account/verification_sent.html
  gyrinx/templates/account/verified_email_required.html
  n23/core/templates/core/campaign/campaign_copy_from.html
  n23/core/templates/core/campaign/campaign_copy_to.html
  n23/core/templates/core/index.html
  n23/core/templates/core/list_fighter_equipment_sell.html
  n23/core/templates/core/list_fighter_new.html
  n23/core/tests/test_homepage_campaigns.py
  n23/core/views/battle.py
  n23/core/views/campaign/lifecycle.py
  n23/core/views/fighter/crud.py
  n23/core/views/fighter/xp.py
  n23/core/views/list/attributes.py
  n23/core/views/list/views.py
  n23/core/views/vehicle.py
  n26/core/templates/admin/maintenance/n26/convert.html
  n26/core/templates/n26/add_participant.html
  n26/core/templates/n26/archive_campaign.html
  n26/core/views/owned.py
  n26/library/migrations/0074_plain_help_text_for_profile_name_and_slot_min_picks.py
  n26/library/models/profile.py
  n26/library/models/slots.py
  n26/library/templates/authoring/ingest.html
  n26/library/views.py
  n26/maintenance.py
  n26/tests/sandbox/test_ingest_page.py
  n26/tests/test_views_campaigns.py
Due: none

fix: the tables' hand-finished results number ten, not six
  n26/library/recipes.md
  n26/library/standard_content.py
  n26/tests/sandbox/test_lasting_effects.py
Due: check-fmt, markdownlint

fix: a duplicate beneath a duplicate is settled once, not twice
  n26/core/duplicate_grants.py
  n26/tests/sandbox/test_duplicate_grants.py
Due: none

fix: unquote percent-encoded slashes in the gyrinx_tz cookie
  gyrinx/templates/platform/includes/timezone_cookie.html
  gyrinx/tests/test_timezone_middleware.py
  gyrinx/tests/test_timezones.py
  gyrinx/timezones.py
Due: none

feat: a duplicated counter's tally moves to the copy that stays
  n26/core/duplicate_grants.py
  n26/core/templates/admin/maintenance/n26/_drop_duplicate_grants_detail.html
  n26/tests/sandbox/test_duplicate_grants.py
Due: none

refactor: the duplicate-grants page reads the same verdict the run acts on
  n26/core/duplicate_grants.py
Due: none

fix: default pack fighter equipment list costs to Trading Post price
  n23/core/templates/core/pack/pack_fighter_equipment_list_gear_add.html
  n23/core/templates/core/pack/pack_fighter_equipment_list_weapons_add.html
  n23/core/tests/test_views_pack_equipment_list.py
Due: none

fix: a thing a set names twice is never read as a duplicate
  n26/core/duplicate_grants.py
  n26/tests/sandbox/test_duplicate_grants.py
Due: none

fix: the picker's blank option could be picked back and submitted
  n26/core/forms.py
  n26/core/models/gang.py
  n26/core/operations.py
  n26/core/templates/n26/add_gang_to_campaign.html
  n26/core/templates/n26/campaign.html
  n26/core/views/campaigns.py
  n26/tests/test_views_campaigns.py
Due: none

feat: n26_drop_duplicate_grants drops the second copy a catch-up pass granted (#2374)
  n26/core/backfill_built_ins.py
  n26/core/duplicate_grants.py
  n26/core/templates/admin/maintenance/n26/_drop_duplicate_grants_detail.html
  n26/core/templates/admin/maintenance/n26/backfill_built_ins.html
  n26/core/templates/admin/maintenance/n26/drop_duplicate_grants.html
  n26/maintenance.py
  n26/tests/sandbox/test_builtin_backfill.py
  n26/tests/sandbox/test_duplicate_grants.py
Due: none
