Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

feat: mark injuries as treated by the equipment that repairs them
  gyrinx/content/admin.py
  gyrinx/content/migrations/0185_equipment_injury_link.py
  gyrinx/content/models/__init__.py
  gyrinx/content/models/injury.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/templates/core/includes/fighter_card_content_inner.html
  gyrinx/core/templates/core/list_fighter_injuries_edit.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_equipment_injury_links.py
Due: check-fmt

fix: hide the parent side of the equipment-injury admin inline
  gyrinx/content/admin.py
  gyrinx/core/tests/test_equipment_injury_links.py
Due: none

fix: address review findings on the equipment-injury link
  gyrinx/content/admin.py
  gyrinx/content/models/injury.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/templates/core/includes/fighter_card_content_inner.html
  gyrinx/core/templates/core/list_fighter_injuries_edit.html
  gyrinx/core/tests/test_equipment_injury_links.py
Due: none

docs: document equipment-injury links; flag treated injuries in print
  docs/content-library/injuries.md
  gyrinx/core/print_cards.py
  gyrinx/core/tests/test_equipment_injury_links.py
Due: check-fmt, markdownlint

test: pin the treated-injury icon's accessibility markup
  gyrinx/core/tests/test_equipment_injury_links.py
Due: none

feat: mark injuries as treated by the equipment that repairs them (#2076)
  docs/content-library/injuries.md
  gyrinx/content/admin.py
  gyrinx/content/migrations/0185_equipment_injury_link.py
  gyrinx/content/models/__init__.py
  gyrinx/content/models/injury.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/print_cards.py
  gyrinx/core/templates/core/includes/fighter_card_content_inner.html
  gyrinx/core/templates/core/list_fighter_injuries_edit.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_equipment_injury_links.py
Due: check-fmt, markdownlint

feat: route admin login through allauth and require 2FA
  docs/security-baseline.md
  gyrinx/admin_site.py
  gyrinx/analytics/admin.py
  gyrinx/core/tests/test_admin_login_security.py
  gyrinx/settings.py
  gyrinx/settings_dev.py
  gyrinx/urls.py
Due: check-fmt, markdownlint

fix: don't offer password reauthentication on the way into the admin
  gyrinx/admin_site.py
  gyrinx/core/adapter.py
  gyrinx/core/tests/test_admin_login_security.py
Due: none

fix: key the admin 2FA gate on DEBUG so local worktrees are exempt
  docs/security-baseline.md
  gyrinx/admin_site.py
  gyrinx/core/tests/test_admin_login_security.py
  gyrinx/settings.py
  gyrinx/settings_dev.py
Due: check-fmt, markdownlint

feat: route admin login through allauth and require 2FA (#2074)
  docs/security-baseline.md
  gyrinx/admin_site.py
  gyrinx/analytics/admin.py
  gyrinx/core/adapter.py
  gyrinx/core/tests/test_admin_login_security.py
  gyrinx/settings.py
  gyrinx/settings_dev.py
  gyrinx/urls.py
Due: check-fmt, markdownlint

fix: name the source of a stat change; rework the injuries editor
  gyrinx/content/models/base.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/templates/core/includes/fighter_card_content_inner.html
  gyrinx/core/templates/core/includes/list_fighter_statline.html
  gyrinx/core/templates/core/list_fighter_injuries_edit.html
  gyrinx/core/tests/test_equipment_injury_links.py
  scripts/raw_markup_baseline.json
Due: check-fmt

perf: stash mod source pairs instead of zipping per access
  gyrinx/core/models/list/fighter.py
Due: none

fix: name the source of a stat change; rework the injuries editor (#2079)
  gyrinx/content/models/base.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/templates/core/includes/fighter_card_content_inner.html
  gyrinx/core/templates/core/includes/list_fighter_statline.html
  gyrinx/core/templates/core/list_fighter_injuries_edit.html
  gyrinx/core/tests/test_equipment_injury_links.py
  scripts/raw_markup_baseline.json
Due: check-fmt

feat: finish the stat-advancement cleanup and tell affected players
  .claude/notes/issue-2070-plan.md
  gyrinx/core/management/commands/fix_stat_advancements.py
  gyrinx/core/stat_advancement_cleanup.py
  gyrinx/core/tests/test_stat_advancement_cleanup.py
Due: check-fmt, markdownlint

refactor: run the stat-advancement cleanup as a Backfill, not a command
  CLAUDE.md
  gyrinx/core/maintenance/stat_advancements.py
  gyrinx/core/management/commands/fix_stat_advancements.py
  gyrinx/core/migrations/0197_add_fix_stat_advancements_backfill_operation.py
  gyrinx/core/models/backfill.py
  gyrinx/core/tests/test_maintenance_stat_advancements.py
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/templates/admin/maintenance/stat_advancements.html
  gyrinx/maintenance/tests/test_admin_views.py
Due: check-fmt, markdownlint

fix: make the stat-advancement cleanup idempotent
  gyrinx/core/maintenance/stat_advancements.py
  gyrinx/core/tests/test_maintenance_stat_advancements.py
  gyrinx/maintenance/admin.py
Due: none

fix: escape user-supplied names in cleanup notifications
  gyrinx/core/maintenance/stat_advancements.py
  gyrinx/core/migrations/0199_add_fix_stat_advancements_backfill_operation.py
  gyrinx/core/tests/test_maintenance_stat_advancements.py
Due: none

fix: judge each change by re-resolving the card, and survive an interrupted run
  .claude/notes/issue-2070-plan.md
  gyrinx/content/models/modifier.py
  gyrinx/content/tests/test_mod_negative_values.py
  gyrinx/core/maintenance/stat_advancements.py
  gyrinx/core/migrations/0200_add_fix_stat_advancements_backfill_operation.py
  gyrinx/core/tests/test_maintenance_stat_advancements.py
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/tests/test_admin_views.py
Due: check-fmt, markdownlint

fix: replace leaky persistent DB connections with a psycopg connection pool
  gyrinx/core/tests/test_performance_view_queries.py
  gyrinx/settings_prod.py
  pyproject.toml
  uv.lock
Due: none

fix: keep CONN_HEALTH_CHECKS for pool checkout checks; size pool for revision overlap
  gyrinx/settings_prod.py
Due: none

fix: don't overwrite a stat a player edits while the run is in progress
  gyrinx/core/maintenance/stat_advancements.py
  gyrinx/core/tests/test_maintenance_stat_advancements.py
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/tests/test_admin_views.py
Due: none

fix: detect pytest via sys.modules so the admin MFA gate stays off under tests
  gyrinx/settings_dev.py
Due: none

fix: catch pool checkout timeouts in the task 429 path; encode instance cap
  cloudbuild.yaml
  docs/how-to-guides/task-framework.md
  gyrinx/core/tests/test_performance_view_queries.py
  gyrinx/settings_prod.py
  gyrinx/tasks/tests/test_views.py
  gyrinx/tasks/views.py
Due: check-fmt, markdownlint

fix: replace leaky persistent DB connections with a psycopg connection pool (#2083)
  cloudbuild.yaml
  docs/how-to-guides/task-framework.md
  gyrinx/core/tests/test_performance_view_queries.py
  gyrinx/settings_prod.py
  gyrinx/tasks/tests/test_views.py
  gyrinx/tasks/views.py
  pyproject.toml
  uv.lock
Due: check-fmt, markdownlint

fix: three holes left by the previous round of fixes
  gyrinx/core/maintenance/stat_advancements.py
  gyrinx/core/tests/test_maintenance_stat_advancements.py
  gyrinx/maintenance/admin.py
Due: none

test: guard the pytest detection that keeps the admin MFA gate off
  gyrinx/core/tests/test_admin_login_security.py
Due: none

fix: make a failed delivery visible, and don't strand a lowered stat
  gyrinx/core/maintenance/stat_advancements.py
  gyrinx/core/tests/test_maintenance_stat_advancements.py
Due: none

fix: detect pytest via sys.modules so the admin MFA gate stays off under tests (#2084)
  gyrinx/core/tests/test_admin_login_security.py
  gyrinx/settings_dev.py
Due: none

fix: finish the stat-advancement cleanup, and tell affected players (#2072)
  .claude/notes/issue-2070-plan.md
  CLAUDE.md
  gyrinx/content/models/modifier.py
  gyrinx/content/tests/test_mod_negative_values.py
  gyrinx/core/maintenance/stat_advancements.py
  gyrinx/core/migrations/0200_add_fix_stat_advancements_backfill_operation.py
  gyrinx/core/models/backfill.py
  gyrinx/core/tests/test_maintenance_stat_advancements.py
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/templates/admin/maintenance/stat_advancements.html
  gyrinx/maintenance/tests/test_admin_views.py
Due: check-fmt, markdownlint

perf: serve via gunicorn/WSGI instead of daphne/ASGI; resize pool per worker
  docker/entrypoint.sh
  gyrinx/settings.py
  gyrinx/settings_prod.py
  pyproject.toml
  uv.lock
Due: none

docs: queue estate-wide maintenance work instead of running it in the request
  CLAUDE.md
Due: check-fmt, markdownlint

fix: exec gunicorn so it receives SIGTERM as PID 1
  docker/entrypoint.sh
Due: none

fix: min_size 1 to shrink the idle-connection floor during rolling deploys
  gyrinx/settings_prod.py
Due: none

fix: actually record what notification was asked for
  gyrinx/core/maintenance/stat_advancements.py
  gyrinx/core/tests/test_maintenance_stat_advancements.py
Due: none

fix: deploy-window pool hygiene, worker recycling, and log/severity fixes from review
  cloudbuild.yaml
  docker/entrypoint.sh
  docs/logging-and-tracing-reference.md
  gyrinx/core/middleware.py
  gyrinx/core/tests/test_clear_logging_request_middleware.py
  gyrinx/settings.py
  gyrinx/settings_prod.py
Due: check-fmt, markdownlint

fix: exec-form CMD so gunicorn is PID 1 and SIGTERM shuts down gracefully
  Dockerfile
Due: none

perf: serve via gunicorn/WSGI instead of daphne/ASGI; resize pool per worker (#2085)
  Dockerfile
  cloudbuild.yaml
  docker/entrypoint.sh
  docs/logging-and-tracing-reference.md
  gyrinx/core/middleware.py
  gyrinx/core/tests/test_clear_logging_request_middleware.py
  gyrinx/settings.py
  gyrinx/settings_prod.py
  pyproject.toml
  uv.lock
Due: check-fmt, markdownlint

fix: serve a real robots.txt and stop counting crawlers as engagement
  Dockerfile
  gyrinx/core/models/events.py
  gyrinx/core/tests/test_events.py
  gyrinx/pages/tests/test_robots.py
  gyrinx/pages/views.py
  gyrinx/templates/robots.txt
  gyrinx/urls.py
  static/robots.txt
Due: none

fix: serve a real robots.txt and stop counting crawlers as engagement (#2087)
  Dockerfile
  gyrinx/core/models/events.py
  gyrinx/core/tests/test_events.py
  gyrinx/pages/tests/test_robots.py
  gyrinx/pages/views.py
  gyrinx/templates/robots.txt
  gyrinx/urls.py
  static/robots.txt
Due: none

fix: actually record what notification was asked for (#2086)
  gyrinx/core/maintenance/stat_advancements.py
  gyrinx/core/tests/test_maintenance_stat_advancements.py
Due: none

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
