Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

docs: ReconcileObligation.default_set comment states the real scan behaviour
  n26/core/models/obligation.py
Due: none

fix: renumber propagation migration to 0029 after main took 0027 and 0028
  n26/core/migrations/0029_a_set_change_files_a_debt_to_its_holders.py
Due: none

fix: review round — 600s ack for propagate_built_ins, grouped holder lookups, reconciled test endings
  n26/core/propagation.py
  n26/maintenance.py
  n26/tests/sandbox/test_builtin_propagation.py
Due: none

spike: the answer names what it replaces, so no button needs an attribute
  n26/core/templates/cotton/n26/collection_picker/item.html
  n26/core/templates/n26/equip.html
  n26/core/templates/n26/includes/equip_bought.html
  n26/core/templates/n26/includes/row_action.html
  n26/core/test_views_equip.py
  n26/core/views/equip.py
Due: none

docs: C4 filing is append-only (PENDING reuse had a TOCTOU); model named BuiltInPropagationTask
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

fix: BuiltInPropagationTask files append-only, one row per edit
  n26/CLAUDE.md
  n26/core/migrations/0029_a_set_change_files_a_built_in_propagation_task.py
  n26/core/models/__init__.py
  n26/core/models/built_in_propagation.py
  n26/core/models/obligation.py
  n26/core/propagation.py
  n26/library/authoring.py
  n26/maintenance.py
  n26/tests/sandbox/test_builtin_propagation.py
  n26/tests/sandbox/test_prose.py
Due: check-fmt, markdownlint

feat: buying and selling on the equip pages no longer rebuild the screen
  n26/core/templates/cotton/n26/dialog.html
  n26/core/templates/cotton/n26/owned_dialog.html
  n26/core/templates/cotton/n26/owned_lines.html
  n26/core/templates/n26/equip.html
  n26/core/templates/n26/gang_equip.html
  n26/core/templates/n26/includes/equip_owned_line.html
  n26/core/templates/n26/includes/equip_panel.html
  n26/core/templates/n26/includes/row_action.html
  n26/core/test_views_equip.py
  n26/core/test_views_gang_equip.py
  n26/core/views/equip.py
Due: none

feat: confirming an act on a held copy redraws its row, not the screen
  n26/core/templates/cotton/n26/dialog.html
  n26/core/templates/cotton/n26/owned_dialog.html
  n26/core/templates/n26/includes/equip_bought.html
  n26/core/templates/n26/includes/equip_changed.html
  n26/core/test_views_equip.py
  n26/core/views/equip.py
  n26/core/views/owned.py
Due: none

fix: the foundations page stops offering to plant specialisations
  n26/library/standard_content.py
  n26/tests/sandbox/test_foundations.py
  n26/tests/sandbox/test_ingest.py
Due: none

fix: the foundations page stops offering to plant specialisations (#2306)
  n26/library/standard_content.py
  n26/tests/sandbox/test_foundations.py
  n26/tests/sandbox/test_ingest.py
Due: none

fix: an act inside an opened row no longer fetches the whole screen
  n26/core/templates/n26/includes/equip_owned_line.html
  n26/core/templates/n26/layouts/base.html
  n26/core/test_views_equip.py
  n26/core/views/equip.py
  n26/core/views/owned.py
Due: none

test: the design documents are written on slots and picks
  n26/tests/sandbox/test_outcast_gang.py
  n26/tests/sandbox/test_specialist.py
  n26/tests/sandbox/test_venator_skill_trees.py
Due: none

test: the suites that borrowed a retired kind borrow a living one
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_generated_forms.py
  n26/tests/sandbox/test_hire_view.py
  n26/tests/sandbox/test_offer_swap_probe.py
  n26/tests/sandbox/test_specs.py
Due: none

fix: fitting an accessory works again, and a swap leaves the tally alone
  n26/core/templates/cotton/n26/gang_figures.html
  n26/core/templates/cotton/n26/page_header.html
  n26/core/templates/cotton/n26/wealth/index.html
  n26/core/templates/n26/equip.html
  n26/core/templates/n26/gang_equip.html
  n26/core/templates/n26/includes/equip_accessorise.html
  n26/core/templates/n26/includes/equip_changed.html
  n26/core/templates/n26/includes/gang_equip_catalogue.html
  n26/core/templates/n26/layouts/base.html
  n26/core/test_views_equip.py
  n26/core/views/equip.py
  n26/core/views/owned.py
Due: none

fix: maintainer review — plain docstrings, atomic add_default_member, one home for the reuse rationale
  n26/core/models/built_in_propagation.py
  n26/core/models/ledger.py
  n26/core/propagation.py
  n26/library/authoring.py
Due: none

style: drop the solid badge behind the n26 model card's rating
  n26/core/templates/cotton/n26/model_card/index.html
Due: none

test: the sandbox suites move onto slots and picks (#2307)
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_generated_forms.py
  n26/tests/sandbox/test_hire_view.py
  n26/tests/sandbox/test_offer_swap_probe.py
  n26/tests/sandbox/test_outcast_gang.py
  n26/tests/sandbox/test_specialist.py
  n26/tests/sandbox/test_specs.py
  n26/tests/sandbox/test_venator_skill_trees.py
Due: none

fix: only a screen built to receive a piecemeal answer asks for one
  n26/core/templates/cotton/n26/collection_picker/item.html
  n26/core/templates/cotton/n26/owned_dialog.html
  n26/core/templates/n26/equip.html
  n26/core/templates/n26/gang_equip.html
  n26/core/templates/n26/includes/equip_accessorise.html
  n26/core/templates/n26/includes/equip_line.html
  n26/core/templates/n26/includes/equip_owned_line.html
  n26/core/templates/n26/includes/equip_panel.html
  n26/core/templates/n26/layouts/base.html
  n26/core/test_views_equip.py
  n26/core/test_views_gang_sheet.py
  n26/core/views/equip.py
  n26/core/views/owned.py
Due: none

feat: gate propagate_built_ins and the sweep behind a built-in-propagation flag
  gyrinx/site/flags.py
  gyrinx/tests/test_feature_flags.py
  n26/core/propagation.py
  n26/flags.py
  n26/tests/sandbox/test_builtin_propagation.py
  n26/tests/test_flag_seam.py
Due: none

style: drop the solid badge behind the n26 model card's rating (#2309)
  n26/core/templates/cotton/n26/model_card/index.html
Due: none

feat: a built-in added to a set reaches its existing holders within seconds (#2305)
  gyrinx/site/flags.py
  gyrinx/tests/test_feature_flags.py
  n26/CLAUDE.md
  n26/core/history.py
  n26/core/migrations/0029_a_set_change_files_a_built_in_propagation_task.py
  n26/core/models/__init__.py
  n26/core/models/built_in_propagation.py
  n26/core/models/ledger.py
  n26/core/operations.py
  n26/core/propagation.py
  n26/flags.py
  n26/library/authoring.py
  n26/maintenance.py
  n26/tests/sandbox/test_builtin_propagation.py
  n26/tests/sandbox/test_prose.py
  n26/tests/test_flag_seam.py
Due: check-fmt, markdownlint

docs: C4 MERGED via #2305 — BuiltInPropagationTask ships shut behind the built-in-propagation flag
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

fix: FeatureFlag slug is typed and slugified, not chosen from registered flags
  gyrinx/site/admin.py
  gyrinx/tests/test_feature_flags.py
Due: none

fix: FeatureFlag admin takes a typed slug, slugified and checked unique (#2311)
  gyrinx/site/admin.py
  gyrinx/tests/test_feature_flags.py
Due: none

feat: delete the Archetypes ingest sheet and specialist-only restriction
  n26/library/ingest.py
  n26/library/migrations/0067_the_archetypes_sheet_is_no_longer_offered.py
  n26/library/sheets.py
  n26/tests/sandbox/test_ingest.py
  n26/tests/sandbox/test_ingest_page.py
Due: none

feat: delete the Archetypes ingest sheet and specialist-only restriction (#2310)
  n26/library/ingest.py
  n26/library/migrations/0067_the_archetypes_sheet_is_no_longer_offered.py
  n26/library/sheets.py
  n26/tests/sandbox/test_ingest.py
  n26/tests/sandbox/test_ingest_page.py
Due: none

docs: record that stacked PRs use gh stack, not a hand-rolled base chain
  CLAUDE.md
Due: check-fmt, markdownlint

feat: show a built-in change's reach on authoring pages and ingest preview
  n26/core/propagation.py
  n26/library/templates/authoring/built_in_profiles.html
  n26/library/templates/authoring/detail.html
  n26/library/templates/authoring/ingest_preview.html
  n26/library/templates/authoring/option_add.html
  n26/library/views.py
Due: none

test: pin reach_of counts and the reach sentences on every preview surface
  n26/tests/sandbox/test_builtin_reach_preview.py
Due: none

refactor: shared htmx helpers, one screen derivation, and a real opt-in
  n26/core/static/n26/htmx_support.js
  n26/core/templates/cotton/n26/collection_picker/item.html
  n26/core/templates/cotton/n26/dialog.html
  n26/core/templates/cotton/n26/gang_figures/index.html
  n26/core/templates/cotton/n26/gang_figures/wealth.html
  n26/core/templates/cotton/n26/owned_dialog.html
  n26/core/templates/cotton/n26/owned_lines.html
  n26/core/templates/cotton/n26/wealth/index.html
  n26/core/templates/n26/equip.html
  n26/core/templates/n26/gang_equip.html
  n26/core/templates/n26/includes/equip_accessorise.html
  n26/core/templates/n26/includes/equip_changed.html
  n26/core/templates/n26/includes/equip_hosts.html
  n26/core/templates/n26/includes/equip_line.html
  n26/core/templates/n26/includes/equip_owned_line.html
  n26/core/templates/n26/includes/equip_owned_toggle.html
  n26/core/templates/n26/includes/equip_panel.html
  n26/core/templates/n26/includes/equip_update.html
  n26/core/templates/n26/includes/row_action.html
  n26/core/templates/n26/layouts/base.html
  n26/core/templatetags/listing.py
  n26/core/test_views_equip.py
  n26/core/views/equip.py
  n26/core/views/htmx.py
  n26/core/views/owned.py
  n26/designsystem/catalog.py
Due: check-fmt

feat: authoring pages preview how far a built-in change reaches (#2316)
  n26/core/propagation.py
  n26/library/templates/authoring/built_in_profiles.html
  n26/library/templates/authoring/detail.html
  n26/library/templates/authoring/ingest_preview.html
  n26/library/templates/authoring/option_add.html
  n26/library/views.py
  n26/tests/sandbox/test_builtin_reach_preview.py
Due: none

docs: C5 MERGED via #2316 — reach_of shares the pass's carrier queryset; process sized to chunk
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

docs: record that stacked PRs use gh stack, not a hand-rolled base chain (#2315)
  CLAUDE.md
Due: check-fmt, markdownlint

fix: stop the n26 equip pages rebuilding on buy, sell and accessory fit (#2308)
  n26/core/static/n26/htmx_support.js
  n26/core/templates/cotton/n26/collection_picker/index.html
  n26/core/templates/cotton/n26/collection_picker/item.html
  n26/core/templates/cotton/n26/dialog.html
  n26/core/templates/cotton/n26/gang_figures/index.html
  n26/core/templates/cotton/n26/gang_figures/wealth.html
  n26/core/templates/cotton/n26/owned_dialog.html
  n26/core/templates/cotton/n26/owned_lines.html
  n26/core/templates/cotton/n26/page_header.html
  n26/core/templates/n26/equip.html
  n26/core/templates/n26/gang_equip.html
  n26/core/templates/n26/includes/equip_accessorise.html
  n26/core/templates/n26/includes/equip_hosts.html
  n26/core/templates/n26/includes/equip_line.html
  n26/core/templates/n26/includes/equip_owned_line.html
  n26/core/templates/n26/includes/equip_owned_toggle.html
  n26/core/templates/n26/includes/equip_panel.html
  n26/core/templates/n26/includes/equip_update.html
  n26/core/templates/n26/includes/gang_equip_catalogue.html
  n26/core/templates/n26/includes/row_action.html
  n26/core/templates/n26/layouts/base.html
  n26/core/templatetags/listing.py
  n26/core/test_views_equip.py
  n26/core/test_views_gang_equip.py
  n26/core/test_views_gang_sheet.py
  n26/core/views/equip.py
  n26/core/views/htmx.py
  n26/core/views/owned.py
  n26/designsystem/catalog.py
  n26/designsystem/static/designsystem/vendor/htmx.min.js
Due: check-fmt

fix: deleting a gang deletes its models instead of stranding them
  .claude/notes/conversion-cleanup-order.md
  cloudbuild.yaml
  n26/core/CLAUDE.md
  n26/core/migrations/0031_a_gang_deleted_takes_its_models_with_it.py
  n26/core/models/miniature.py
  n26/core/test_admin.py
  n26/core/test_miniature.py
Due: check-fmt, markdownlint

docs: how-to guide for building n26 screens with cotton, Alpine, and htmx
  docs/SUMMARY.md
  docs/how-to-guides/n26-frontend-stack.md
Due: check-fmt, markdownlint

fix: deleting a gang deletes its models instead of stranding them (#2317)
  .claude/notes/conversion-cleanup-order.md
  cloudbuild.yaml
  n26/core/CLAUDE.md
  n26/core/migrations/0031_a_gang_deleted_takes_its_models_with_it.py
  n26/core/models/miniature.py
  n26/core/test_admin.py
  n26/core/test_miniature.py
Due: check-fmt, markdownlint

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
