Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

fix: close Escape seeding, post-battle and rollback gaps (#2825)
  n26/core/post_battle.py
  n26/core/post_battle_forms.py
  n26/core/templates/n26/includes/post_battle_model.html
  n26/library/migrations/0120_status_follow_up_choices.py
  n26/library/standard_content.py
  n26/library/test_status_choices.py
  n26/tests/sandbox/test_status_choices.py
Due: none

fix: omit campaign-pack assets from campaign type authoring pages
  n26/library/views.py
  n26/tests/sandbox/test_campaign_types.py
Due: none

fix: validate D6 numbers when restoring skills and powers
  n26/library/authoring.py
  n26/library/models/assignable.py
  n26/library/test_roll_numbers.py
Due: none

fix: reserve D6 numbers while content packs are archived
  n26/library/concepts.md
  n26/library/models/assignable.py
  n26/library/test_roll_numbers.py
Due: check-fmt, markdownlint

refactor: make N26 skill and power restore overrides explicit
  n26/library/models/assignable.py
Due: none

fix: validate D6 results when seeding N26 skills
  n26/library/standard_content.py
  n26/library/views.py
  n26/tests/sandbox/test_foundations.py
Due: none

fix: point the campaign type listing hint at its function
  n26/library/views.py
Due: none

fix: exit pytest when another run holds this worktree's test databases
  .agents/skills/worktree-db/SKILL.md
  AGENTS.md
  conftest.py
  docs/developing-gyrinx/testing.md
  gyrinx/pytest_worktree_lock.py
  gyrinx/tests/test_pytest_worktree_lock.py
Due: check-fmt, markdownlint

fix: expose D6 roll numbers in N26 skill and power authoring (#2826)
  n26/core/advancements.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/forms.py
  n26/library/migrations/0121_skill_power_roll_numbers.py
  n26/library/models/assignable.py
  n26/library/specs.py
  n26/library/standard_content.py
  n26/library/test_roll_numbers.py
  n26/library/views.py
  n26/tests/sandbox/test_editing_skills.py
  n26/tests/sandbox/test_foundations.py
  n26/tests/sandbox/test_power_advancements.py
  n26/tests/sandbox/test_selecting_skills.py
  n26/tests/sandbox/test_skills_and_powers.py
Due: check-fmt, markdownlint

feat: let N26 modifiers replace inherent campaign assets
  n26/core/campaigns.py
  n26/core/card.py
  n26/core/effects.py
  n26/core/render.py
  n26/core/views/campaigns.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/forms.py
  n26/library/migrations/0121_modifiers_can_replace_inherent_campaign_assets.py
  n26/library/models/__init__.py
  n26/library/models/campaign_type.py
  n26/library/models/modifier.py
  n26/library/possessions.py
  n26/library/prose.py
  n26/library/recipes.md
  n26/library/specs.py
  n26/tests/sandbox/test_inherent_asset_replacement.py
  n26/tests/test_campaign_form_copy.py
  n26/tests/test_views_campaigns.py
Due: check-fmt, markdownlint

ci: page incident.io when main test suites fail
  .github/workflows/test.yaml
  docs/developing-gyrinx/testing.md
Due: check-fmt, markdownlint

fix: preserve post-battle labels and safe rollback guidance
  n26/core/post_battle.py
  n26/library/migrations/0120_status_follow_up_choices.py
  n26/library/test_status_choices.py
  n26/tests/sandbox/test_status_choices.py
Due: none

fix: settle N26 asset exclusions after source cancellations
  n26/core/effects.py
  n26/library/admin.py
  n26/library/test_admin.py
  n26/tests/sandbox/test_inherent_asset_replacement.py
Due: none

ci: add a manual incident.io paging test to Tests
  .github/workflows/test.yaml
  docs/developing-gyrinx/testing.md
Due: check-fmt, markdownlint

test: cover removal of N26 modifier-granted assets
  n26/core/campaigns.py
  n26/core/views/campaigns.py
  n26/library/models/modifier.py
  n26/tests/sandbox/test_inherent_asset_replacement.py
  n26/tests/test_campaign_form_copy.py
  n26/tests/test_views_campaigns.py
Due: none

ci: page incident.io when main test suites fail (#2833)
  .github/workflows/test.yaml
  docs/developing-gyrinx/testing.md
Due: check-fmt, markdownlint

ci: keep Tests checks running on manual branch dispatches
  .github/workflows/test.yaml
  docs/developing-gyrinx/testing.md
Due: check-fmt, markdownlint

fix: preserve post-battle labels and safe rollback guidance (#2834)
  n26/core/post_battle.py
  n26/library/migrations/0120_status_follow_up_choices.py
  n26/library/test_status_choices.py
  n26/tests/sandbox/test_status_choices.py
Due: none

refactor: show the n26 equip price difference in React
  n26/core/templates/cotton/n26/collection_picker/item.html
  n26/core/templates/n26/includes/equip_line.html
  n26/core/templates/n26/includes/equip_options.html
  n26/core/templates/n26/includes/equip_owned_line.html
  n26/core/templates/n26/includes/equip_price.html
  n26/core/templatetags/hire_price.py
  n26/core/test_views_equip.py
  n26/frontend/islands/equip-price/EquipPrice.test.tsx
  n26/frontend/islands/equip-price/EquipPrice.tsx
  n26/frontend/islands/equip-price/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
Due: check-fmt

fix: keep focus when the n26 equip price box mounts
  n26/core/test_views_equip.py
  n26/frontend/islands/equip-price/EquipPrice.test.tsx
  n26/frontend/islands/equip-price/EquipPrice.tsx
  n26/frontend/islands/equip-price/entry.tsx
Due: none

fix: load the pytest worktree lock as a plugin
  .agents/skills/worktree-db/SKILL.md
  AGENTS.md
  conftest.py
  docs/developing-gyrinx/testing.md
  gyrinx/pytest_worktree_lock.py
  gyrinx/tests/test_pytest_worktree_lock.py
  pyproject.toml
Due: check-fmt, markdownlint

ci: keep Tests checks running on manual branch dispatches (#2838)
  .github/workflows/test.yaml
  docs/developing-gyrinx/testing.md
Due: check-fmt, markdownlint

fix: omit campaign-pack assets from campaign type authoring pages (#2829)
  n26/library/views.py
  n26/tests/sandbox/test_campaign_types.py
Due: none

fix: restore a book skill when a qualified copy holds its D6 result
  n26/library/standard_content.py
  n26/library/test_fighter_action_content.py
Due: none

revert: take the book-skill D6 repair off the equip price PR
  n26/library/standard_content.py
  n26/library/test_fighter_action_content.py
Due: none

ci: run claude.yml and dependabot-auto-merge in the main-only environment
  .github/workflows/claude.yml
  .github/workflows/dependabot-auto-merge.yml
Due: check-fmt

feat: let N26 modifiers replace inherent campaign assets
  n26/core/campaigns.py
  n26/core/card.py
  n26/core/effects.py
  n26/core/render.py
  n26/core/views/campaigns.py
  n26/library/admin.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/forms.py
  n26/library/migrations/0121_modifiers_can_replace_inherent_campaign_assets.py
  n26/library/models/__init__.py
  n26/library/models/campaign_type.py
  n26/library/models/modifier.py
  n26/library/possessions.py
  n26/library/prose.py
  n26/library/recipes.md
  n26/library/specs.py
  n26/library/test_admin.py
  n26/tests/sandbox/test_inherent_asset_replacement.py
  n26/tests/test_campaign_form_copy.py
  n26/tests/test_views_campaigns.py
Due: check-fmt, markdownlint

fix: mount an n26 equip price island opened inside a closed row
  .agents/skills/n26-react/SKILL.md
  docs/developing-gyrinx/react.md
  n26/core/static/n26/react-islands.js
  n26/frontend/runtime/react-islands-loader.test.js
Due: check-fmt, markdownlint

test: release the custom Catfall's D6 result in skill completeness coverage
  n26/library/test_fighter_action_content.py
Due: none

feat: open the amount dialog for every counter on fighter edit
  n26/core/render.py
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/model_card_update.html
  n26/core/views/edit.py
  n26/core/views/owned.py
  n26/designsystem/sampledata.py
  n26/designsystem/tests.py
  n26/tests/sandbox/test_counters.py
Due: none

test: release the custom Catfall's D6 result in skill completeness coverage (#2845)
  n26/library/test_fighter_action_content.py
Due: none

ci: run claude.yml and dependabot-auto-merge in the main-only environment (#2843)
  .github/workflows/claude.yml
  .github/workflows/dependabot-auto-merge.yml
Due: check-fmt

fix: stop the mouse wheel changing focused number inputs
  gyrinx/site/static/platform/js/number-input-wheel.js
  gyrinx/site/tests/test_number_input_wheel.py
  n23/core/templates/core/layouts/foundation.html
  n26/core/templates/n26/layouts/base.html
  n26/designsystem/templates/designsystem/base.html
  n26/frontend/test/number-input-wheel.test.js
Due: check-fmt

refactor: open the n26 accessory panel from React
  n26/core/templates/cotton/n26/owned_lines.html
  n26/core/templatetags/accessorise_link.py
  n26/core/test_views_equip.py
  n26/frontend/islands/accessorise-link/AccessoriseLink.test.tsx
  n26/frontend/islands/accessorise-link/AccessoriseLink.tsx
  n26/frontend/islands/accessorise-link/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/frontend/tooling/export_cotton_recipes.py
Due: check-fmt

fix: draw edit pencils as inline text buttons
  n26/core/templates/cotton/n26/campaign_block.html
  n26/core/templates/cotton/n26/counter_controls.html
  n26/core/templates/cotton/n26/model_card/body.html
  n26/core/templates/cotton/n26/owned_lines.html
  n26/core/templates/cotton/n26/view/campaign_sheet.html
  n26/core/templates/cotton/ui/button.html
  n26/core/templates/n26/includes/model_name_action.html
  n26/core/templates/n26/includes/model_rating.html
  n26/designsystem/templates/designsystem/demos/view-model-edit/10-edit.html
  n26/tests/sandbox/test_counters.py
Due: none

fix: let a modified click follow the n26 accessory link
  n26/frontend/islands/accessorise-link/AccessoriseLink.test.tsx
  n26/frontend/islands/accessorise-link/AccessoriseLink.tsx
Due: none

refactor: share useDismiss and useAnchoredPlacement across React popovers
  n26/frontend/islands/filter-select/FilterSelect.tsx
  n26/frontend/ui/FilterMenu.tsx
  n26/frontend/ui/HelpPopover.tsx
  n26/frontend/ui/QuickSwitcher.tsx
  n26/frontend/ui/anchoredPanel.test.tsx
  n26/frontend/ui/anchoredPanel.ts
  n26/frontend/ui/index.tsx
Due: none

fix: keep useAnchoredPlacement panels focusable and content-sized
  n26/frontend/ui/anchoredPanel.test.tsx
  n26/frontend/ui/anchoredPanel.ts
Due: none

docs: say where useAnchoredPlacement can let a panel leave the window
  n26/frontend/ui/anchoredPanel.ts
Due: none

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
