Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

chore: renumber crew migrations after rebase onto main
  gyrinx/core/migrations/0184_crew_member_included_source.py
  gyrinx/core/migrations/0185_crew_eligibility_overrides.py
Due: none

feat: crew pre-battle setup — eligibility screen, selection flow, always-included fighters
  .claude/notes/crew-eligibility-plan.md
  gyrinx/core/forms/crew.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/migrations/0184_crew_member_included_source.py
  gyrinx/core/migrations/0185_crew_eligibility_overrides.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/crew/crew_form.html
  gyrinx/core/templates/core/crew/crew_setup.html
  gyrinx/core/templates/core/crew/includes/crew_tabs.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/urls/campaign.py
  gyrinx/core/views/crew.py
Due: check-fmt, markdownlint

fix: show always-included fighters on a draft crew's overview
  gyrinx/core/handlers/crew.py
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/crew.py
Due: none

feat: Part-of-the-Crew hangers default eligible; show fighter status on setup
  gyrinx/core/forms/crew.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/templates/core/crew/crew_setup.html
  gyrinx/core/tests/test_crew.py
Due: none

feat: Part-of-the-Crew hangers default eligible; show fighter status on the crew setup screen
  gyrinx/core/forms/crew.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/templates/core/crew/crew_setup.html
  gyrinx/core/tests/test_crew.py
Due: none

feat: ContentRule.shed_on_promotion — keep rules on promotion by default
  docs/content-library/promotions.md
  docs/technical-reference/fighter-advancements.md
  gyrinx/content/admin.py
  gyrinx/content/migrations/0182_content_rule_shed_on_promotion.py
  gyrinx/content/models/metadata.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_promotion_paths.py
Due: check-fmt, markdownlint

feat: clarify the eligibility control — "Always included", rightmost
  gyrinx/core/forms/crew.py
  gyrinx/core/templates/core/crew/crew_setup.html
Due: none

feat: keep special rules on promotion by default (ContentRule.shed_on_promotion) (#2023)
  docs/content-library/promotions.md
  docs/technical-reference/fighter-advancements.md
  gyrinx/content/admin.py
  gyrinx/content/migrations/0182_content_rule_shed_on_promotion.py
  gyrinx/content/models/metadata.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_promotion_paths.py
Due: check-fmt, markdownlint

feat: clarify the crew eligibility control — "Always included", moved rightmost
  gyrinx/core/forms/crew.py
  gyrinx/core/templates/core/crew/crew_setup.html
Due: none

fix: crew setup status badges match the fighter card's presentation
  gyrinx/core/forms/crew.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/templates/core/crew/crew_setup.html
  gyrinx/core/tests/test_crew.py
Due: none

feat: crew stash foundation — CrewStashItem, always-brought flag, handlers
  .claude/notes/crew-stash-plan.md
  gyrinx/content/admin.py
  gyrinx/content/migrations/0183_equipment_crew_always_brought.py
  gyrinx/content/models/equipment.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/migrations/0186_crew_stash_item.py
  gyrinx/core/models/crew.py
  gyrinx/core/tests/test_crew.py
Due: check-fmt, markdownlint

feat: stash tab, crew-sheet stash section, and print forwarding
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/crew/crew_stash.html
  gyrinx/core/templates/core/crew/includes/crew_tabs.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/urls/campaign.py
  gyrinx/core/views/crew.py
Due: none

fix: admin survives dangling fighter-house FKs; automaton end-to-end test
  gyrinx/content/admin.py
  gyrinx/content/models/fighter.py
  gyrinx/content/tests/test_admin_actions.py
  gyrinx/core/tests/test_crew.py
Due: none

fix: review + CI fixes — stash-save race lock, terrain not stranded, snapshot
  gyrinx/core/handlers/crew.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/crew.py
Due: check-fmt

test: de-flake the relative query-count tests via stabilised measurement
  gyrinx/core/tests/test_crew.py
Due: none

style: drop the borders on the Stash tab's item rows
  gyrinx/core/templates/core/crew/crew_stash.html
Due: none

refactor: stash-row computation lives on the Crew model, not the handler
  gyrinx/core/handlers/crew.py
  gyrinx/core/models/crew.py
Due: none

feat: stash items in crew selection — stash tab, always-brought flag, sheet section, print
  .claude/notes/crew-stash-plan.md
  gyrinx/content/admin.py
  gyrinx/content/migrations/0183_equipment_crew_always_brought.py
  gyrinx/content/models/equipment.py
  gyrinx/content/models/fighter.py
  gyrinx/content/tests/test_admin_actions.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/migrations/0186_crew_stash_item.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/crew/crew_stash.html
  gyrinx/core/templates/core/crew/includes/crew_tabs.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_crew.py
  gyrinx/core/urls/campaign.py
  gyrinx/core/views/crew.py
Due: check-fmt, markdownlint

feat: crew Print button offers Default or Classic card styles
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/tests/test_print_config_classic.py
  gyrinx/core/views/list/views.py
Due: none

perf: skip web-sheet context on classic prints
  gyrinx/core/views/list/views.py
Due: none

test: cover the ?style= fallback and classic-with-config blank cards
  gyrinx/core/tests/test_print_config_classic.py
Due: none

feat: choose-tab feedback — indicative pick count, tidier crew sheet, stash copy
  gyrinx/core/forms/crew.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/crew/crew_form.html
  gyrinx/core/templates/core/crew/crew_stash.html
  gyrinx/core/tests/test_crew.py
Due: none

perf: stop the equipment admin page rebuilding its dropdowns per row
  gyrinx/content/admin.py
  gyrinx/content/models/modifier.py
  gyrinx/content/tests/test_admin_equipment_change_page.py
Due: none

feat: over-selection warning uses the design-system callout + tab icon
  gyrinx/core/forms/crew.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/crew/crew_form.html
  gyrinx/core/templates/core/crew/includes/crew_tabs.html
  gyrinx/core/tests/test_crew.py
Due: none

fix: review feedback — a11y on the tab warning, custom_count=0 is a limit
  gyrinx/core/forms/crew.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/crew/includes/crew_tabs.html
Due: none

fix: make the modifications option list cover every type, not a fixed list
  gyrinx/content/admin.py
  gyrinx/content/tests/test_admin_equipment_change_page.py
Due: none

feat: notify gang owners when their gang is added to a battle
  gyrinx/core/handlers/battle.py
  gyrinx/core/tests/test_battle_invite_notifications.py
  gyrinx/core/views/battle.py
Due: none

feat: clicking a notification's title marks it read before following the link
  gyrinx/core/templates/core/includes/notification_list_item.html
  gyrinx/core/tests/test_views_notifications.py
  gyrinx/core/urls/notification.py
  gyrinx/core/views/notification.py
Due: none

style: drop trailing space in the over-selection alert heading
  gyrinx/core/templates/core/crew/crew_form.html
Due: none

fix: review follow-ups — JS zero-limit parity, over-pick save warning, a11y
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/crew/crew_form.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/crew.py
Due: none

perf: compute the chosen count once in the over-pick save message
  gyrinx/core/views/crew.py
Due: none

feat: notify gang owners when their gang is added to a battle (#2013)
  gyrinx/core/handlers/battle.py
  gyrinx/core/templates/core/includes/notification_list_item.html
  gyrinx/core/tests/test_battle_invite_notifications.py
  gyrinx/core/tests/test_views_notifications.py
  gyrinx/core/urls/notification.py
  gyrinx/core/views/battle.py
  gyrinx/core/views/notification.py
Due: none

perf: stop the equipment admin page rebuilding its dropdowns per row (#2029)
  gyrinx/content/admin.py
  gyrinx/content/models/modifier.py
  gyrinx/content/tests/test_admin_equipment_change_page.py
Due: none

feat: indicative pick count with over-selection warning; tidier crew sheet; stash copy
  gyrinx/core/forms/crew.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/crew/crew_form.html
  gyrinx/core/templates/core/crew/crew_stash.html
  gyrinx/core/templates/core/crew/includes/crew_tabs.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/crew.py
Due: none

refactor: lay out classic card body and footer with flex
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/includes/classic_card.html
Due: check-fmt

fix: keep blank card's Gear box off the XP/Kills row
  gyrinx/core/static/core/scss/_classic_card.scss
Due: check-fmt

feat: make the classic card portrait a right-hand column of the footer
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/includes/classic_card.html
  gyrinx/core/tests/test_print_config_classic.py
Due: check-fmt
