Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

refactor: organise N26 React islands and map development builds
  .agents/skills/design-system/SKILL.md
  .agents/skills/n26-react/SKILL.md
  docs/developing-gyrinx/frontend-development.md
  docs/developing-gyrinx/react.md
  n26/CLAUDE.md
  n26/core/templatetags/react.py
  n26/core/test_react.py
  n26/designsystem/views.py
  n26/frontend/CLAUDE.md
  n26/frontend/entries/authoring-list.tsx
  n26/frontend/islands/authoring-list/AuthoringList.test.tsx
  n26/frontend/islands/authoring-list/AuthoringList.tsx
  n26/frontend/islands/authoring-list/entry.tsx
  n26/frontend/runtime/mount.tsx
  n26/frontend/runtime/react-islands-loader.test.js
  n26/frontend/test/setup.ts
  n26/frontend/tooling/__init__.py
  n26/frontend/tooling/alpine-baseline.json
  n26/frontend/tooling/export_cotton_recipes.py
  n26/frontend/ui/index.tsx
  n26/frontend/vite.config.mts
  package.json
  scripts/check_n26_alpine.py
  scripts/dev.sh
  tsconfig.json
  vite.config.mts
  vitest.config.mts
Due: check-fmt, markdownlint

fix: clarify n26 battle forms and full-width action footers
  n26/core/static/n26/battle-actions.js
  n26/core/templates/n26/battle.html
  n26/core/templates/n26/crew.html
  n26/core/templates/n26/crew_sheet.html
  n26/core/templates/n26/post_battle.html
  n26/designsystem/assets/app.css
  n26/tests/test_views_post_battle.py
Due: check-fmt

docs: rewrite n26 design library component catalogue (#2614)
  n26/designsystem/CLAUDE.md
  n26/designsystem/catalog.py
Due: check-fmt, markdownlint

fix: show post-battle XP totals when removing lasting effects
  n26/core/templates/n26/post_battle.html
  n26/tests/test_views_post_battle.py
Due: none

fix: keep N26 React assets working across build environments
  Dockerfile
  n26/core/static/n26/react-islands.js
  n26/core/templatetags/react.py
  n26/core/test_react.py
  n26/frontend/runtime/react-islands-loader.test.js
  n26/frontend/tooling/alpine-baseline.json
  scripts/check_n26_alpine.py
Due: check-fmt

feat: add earned fighter advancements and standard actions (#2586)
  n26/core/action_records.py
  n26/core/advancements.py
  n26/core/allowances.py
  n26/core/migrations/0072_add_skill_random_attempts.py
  n26/core/models/action_record.py
  n26/core/operations.py
  n26/core/test_advancement_runtime.py
  n26/core/test_allowances.py
  n26/library/authoring.py
  n26/library/ingest.py
  n26/library/migrations/0112_offerschoice_mode.py
  n26/library/migrations/0113_alter_offerschoice_mode.py
  n26/library/models/modifier.py
  n26/library/recipes.md
  n26/library/specs.py
  n26/library/standard_content.py
  n26/library/test_fighter_action_content.py
  n26/tests/sandbox/test_ingest.py
Due: check-fmt, markdownlint

fix: keep component names in N26 React development builds
  docs/developing-gyrinx/frontend-development.md
  docs/developing-gyrinx/react.md
  n26/frontend/CLAUDE.md
  package.json
  vite.config.mts
Due: check-fmt, markdownlint

fix: move n26 post-battle into the gang Actions panel
  n26/core/templates/cotton/n26/activities_square/index.html
  n26/core/templates/n26/gang_sheet.html
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/activities-square/60-post-battle.html
  n26/designsystem/templates/designsystem/demos/activities-square/70-post-battle-only.html
  n26/tests/test_views_post_battle.py
Due: none

fix: include the shared TypeScript config in Docker builds
  Dockerfile
  docs/developing-gyrinx/react.md
  n26/designsystem/tests.py
Due: check-fmt, markdownlint

test: build N26 React assets before the local pytest suite
  CLAUDE.md
  docs/developing-gyrinx/testing.md
  n26/frontend/tooling/test_export_cotton_recipes.py
  scripts/test.sh
Due: check-fmt, markdownlint

feat: add a local Canvas viewer for CLI sessions
  .agents/skills/canvas-viewer/SKILL.md
  CLAUDE.md
  scripts/canvas-viewer.sh
  tools/canvas-viewer/.gitignore
  tools/canvas-viewer/index.html
  tools/canvas-viewer/package-lock.json
  tools/canvas-viewer/package.json
  tools/canvas-viewer/src/canvas-directory.test.ts
  tools/canvas-viewer/src/canvas-directory.ts
  tools/canvas-viewer/src/canvas-runtime.test.tsx
  tools/canvas-viewer/src/canvas-runtime.tsx
  tools/canvas-viewer/src/main.tsx
  tools/canvas-viewer/src/styles.css
  tools/canvas-viewer/src/viewer.tsx
  tools/canvas-viewer/tsconfig.json
  tools/canvas-viewer/vite.config.ts
Due: check-fmt, markdownlint

feat: initialise existing fighter allowances
  n26/core/action_initialisation.py
  n26/core/templates/admin/maintenance/n26/initialise_action_allowances.html
  n26/core/test_action_initialisation.py
  n26/maintenance.py
Due: none

fix: keep fighter allowance initialisation one-off
  n26/core/action_initialisation.py
  n26/core/templates/admin/maintenance/n26/initialise_action_allowances.html
  n26/core/test_action_initialisation.py
  n26/maintenance.py
Due: none

fix: serialize allowance initialisation
  n26/core/action_initialisation.py
  n26/core/test_action_initialisation.py
  n26/maintenance.py
Due: none

fix: retry contended allowance initialisation
  n26/core/action_initialisation.py
  n26/core/allowances.py
  n26/core/test_action_initialisation.py
  n26/maintenance.py
Due: none

feat: show item choice details
  n26/core/render.py
  n26/core/templates/cotton/n26/choice_offer.html
  n26/core/templates/n26/includes/gear_lines.html
  n26/core/views/gangs.py
  n26/designsystem/sampledata.py
  n26/tests/sandbox/test_choosing.py
Due: none

fix: wait for counter history before allowance initialisation
  n26/core/action_initialisation.py
  n26/core/test_action_initialisation.py
  n26/maintenance.py
Due: none

test: use valid counter checkpoints for allowance initialisation
  n26/core/test_action_initialisation.py
Due: none

feat: add fighter action flow pages
  n26/core/action_flow.py
  n26/core/action_forms.py
  n26/core/templates/cotton/n26/view/model_edit.html
  n26/core/templates/n26/action_flow.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/action_panels.html
  n26/core/templates/n26/includes/action_skills.html
  n26/core/test_views_edit.py
  n26/core/views/__init__.py
  n26/core/views/action_flows.py
  n26/core/views/advancement_flows.py
  n26/core/views/edit.py
  n26/tests/sandbox/test_fighter_action_flows.py
  n26/urls.py
Due: none

fix: preserve item choices across card renderers
  n26/core/capture.py
  n26/core/printing.py
  n26/core/render.py
  n26/core/render_text.py
  n26/tests/sandbox/test_choosing.py
Due: none

fix: keep ordinary gear choices on the card
  n26/core/render.py
  n26/core/templates/cotton/n26/model_card/body.html
  n26/designsystem/sampledata.py
  n26/tests/sandbox/test_choosing.py
Due: none

feat: add shared flow progress and payment figures
  n26/core/flow.py
  n26/core/templates/cotton/n26/flow_progress.html
  n26/core/templates/cotton/n26/payment_figures.html
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/flow-progress/10-review.html
  n26/designsystem/templates/designsystem/demos/flow-progress/20-advancement.html
  n26/designsystem/templates/designsystem/demos/payment-figures/10-counter.html
  n26/designsystem/templates/designsystem/demos/payment-figures/20-mixed.html
Due: none

fix: explain unavailable action choices and form errors
  n26/core/templates/n26/action_flow.html
  n26/core/views/action_flows.py
  n26/core/views/advancement_flows.py
  n26/tests/sandbox/test_advancement_action_flows.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

fix: keep fighter action forms clear and resumable
  n26/core/action_forms.py
  n26/core/templates/n26/action_flow.html
  n26/core/templates/n26/includes/action_panels.html
  n26/core/templates/n26/includes/action_skills.html
  n26/core/templates/n26/includes/model_card_update.html
  n26/core/views/action_flows.py
  n26/core/views/advancement_flows.py
  n26/core/views/edit.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

feat: explain dormant fighter actions
  n26/core/action_flow.py
  n26/core/templates/n26/action_flow.html
  n26/core/views/action_flows.py
  n26/core/views/edit.py
  n26/tests/sandbox/test_advancement_action_flows.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

test: cover advancement action flows
  n26/tests/sandbox/test_advancement_action_flows.py
Due: none

docs: explain fighter action build and activation
  .pre-commit-config.yaml
  design/exploration/fighter-actions/BUILD.md
  n26/design/fighter-actions.md
  pyproject.toml
Due: check-fmt, markdownlint

docs: add fighter action gallery and guide
  n26/design/fighter-actions.md
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/view-model-edit/10-edit.html
  n26/designsystem/tests.py
Due: check-fmt, markdownlint

docs: link the fighter action build stack
  design/exploration/fighter-actions/BUILD.md
  n26/design/fighter-actions.md
Due: check-fmt, markdownlint

test: account for action readiness query
  n26/core/action_flow.py
  n26/core/test_views_edit.py
  n26/core/views/action_flows.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

fix: use renamed action slot selection
  n26/core/views/action_flows.py
Due: none

docs: preserve fighter action exploration
  design/exploration/README.md
  design/exploration/fighter-actions/README.md
  design/exploration/fighter-actions/action-allowance-flow.mmd
  design/exploration/fighter-actions/action-allowance-flow.svg
  design/exploration/fighter-actions/action-data-model.html
  design/exploration/fighter-actions/action-data-model.md
  design/exploration/fighter-actions/action-data-model.yaml
  design/exploration/fighter-actions/action-payment-flow.mmd
  design/exploration/fighter-actions/action-payment-flow.svg
  design/exploration/fighter-actions/action-relationships.mmd
  design/exploration/fighter-actions/action-relationships.svg
  design/exploration/fighter-actions/build_data_model.rb
  design/exploration/fighter-actions/build_diagrams.py
  design/exploration/fighter-actions/data-model.template.html
  design/exploration/fighter-actions/index.html
Due: check-fmt, markdownlint

docs: link fighter action validation without private notes
  design/exploration/fighter-actions/BUILD.md
Due: check-fmt, markdownlint

docs: use renamed action record models
  design/exploration/fighter-actions/action-data-model.html
  design/exploration/fighter-actions/action-data-model.md
  design/exploration/fighter-actions/action-data-model.yaml
Due: check-fmt, markdownlint

test: match advancement flow unavailable-skill copy
  n26/tests/sandbox/test_advancement_action_flows.py
Due: none

docs: link write pause and activation PRs in fighter action plan
  design/exploration/fighter-actions/BUILD.md
Due: check-fmt, markdownlint

docs: explain fighter action rollout activation
  design/exploration/fighter-actions/BUILD.md
  design/exploration/fighter-actions/README.md
  design/exploration/fighter-actions/action-data-model.html
  design/exploration/fighter-actions/action-data-model.md
  design/exploration/fighter-actions/action-data-model.yaml
  n26/design/fighter-actions.md
Due: check-fmt, markdownlint

fix: reject unchanged prototype purchases
  design/exploration/fighter-actions/index.html
Due: none

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
