Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

refactor: crew UI polish — receipt layout, structured dice, no cards
  gyrinx/core/forms/crew.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/crew/crew_form.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/battle.py
  gyrinx/core/views/crew.py
Due: none

fix: crew ownership + honour members prefetch (review follow-ups)
  gyrinx/core/models/crew.py
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/crew.py
Due: none

refactor: crew sheet — grouped columnar receipt, "Allowance", battle-page breakdown
  gyrinx/core/forms/crew.py
  gyrinx/core/migrations/0167_add_crew_models.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/battle.py
  gyrinx/core/views/crew.py
Due: none

refactor: crew receipt columns + richer fighter labels
  gyrinx/core/forms/crew.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/tests/test_crew.py
Due: none

feat: draft crews show unknown rating until rolled; "roll" wording
  gyrinx/core/handlers/crew.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/crew/crew_lock.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/battle.py
  gyrinx/core/views/crew.py
Due: none

feat: crew page breadcrumb via the campaign common header
  gyrinx/core/templates/core/crew/crew.html
Due: none

refactor: plain-language crew selection labels + clearer help; "Edit choices" affordance
  gyrinx/core/forms/crew.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/crew/crew_form.html
  gyrinx/core/tests/test_crew.py
Due: none

fix: re-check crew eligibility at lock, skipping now-ineligible picks
  gyrinx/core/handlers/crew.py
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/crew.py
Due: none

fix: renumber crew migration 0167 -> 0168 to clear conflict with campaign admins
  gyrinx/core/migrations/0168_add_crew_models.py
Due: none

style: crew lock/delete warnings use border box, not alert classes
  gyrinx/core/templates/core/crew/crew_delete.html
  gyrinx/core/templates/core/crew/crew_lock.html
Due: none

fix: crew page back link goes to the battle, not the campaign
  gyrinx/core/templates/core/includes/campaign_common_header.html
Due: none

feat: show each crew's gang on the battle page crew list
  gyrinx/core/templates/core/battle/battle.html
Due: none

fix: harden crew creation against missing gang and create races
  gyrinx/core/views/crew.py
Due: none

fix: keep campaign status in header; reuse crew-manage permission check
  gyrinx/core/templates/core/includes/campaign_common_header.html
  gyrinx/core/views/battle.py
Due: none

fix: crew permissions honour campaign admins, not just the owner
  gyrinx/core/models/crew.py
  gyrinx/core/views/crew.py
Due: none

feat: merge battle participants + crews into one rating table
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/battle.py
  gyrinx/core/views/crew.py
Due: none

perf: use owner_id on crew writes; drop private equipment-sets coupling
  gyrinx/core/handlers/crew.py
  gyrinx/core/models/crew.py
  gyrinx/core/views/crew.py
Due: none

perf: battle page uses crew.rating() not receipt(); robust crew-create form
  gyrinx/core/templates/core/crew/crew_form.html
  gyrinx/core/views/battle.py
Due: none

fix: reject zero-count crew selection specs
  gyrinx/core/models/crew.py
  gyrinx/core/tests/test_crew.py
Due: none

fix: lock crew row on edit; read prefetched winners on battle page
  gyrinx/core/views/battle.py
  gyrinx/core/views/crew.py
Due: none

feat: print a crew's roster via a direct link from the crew page
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/list/views.py
Due: none

fix: crew IDs fail closed on non-UUID input instead of 500ing
  gyrinx/core/tests/test_crew.py
  gyrinx/core/urls/campaign.py
  gyrinx/core/views/crew.py
  gyrinx/core/views/list/views.py
Due: none

fix: neutral crew-lock action description so it can't contradict the outcome
  gyrinx/core/handlers/crew.py
Due: none

feat: battle crews — virtual sub-gang per battle (#1346) (#1993)
  .claude/notes/battle-crew-design.md
  gyrinx/core/forms/crew.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/migrations/0168_add_crew_models.py
  gyrinx/core/models/__init__.py
  gyrinx/core/models/crew.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/crew/crew_delete.html
  gyrinx/core/templates/core/crew/crew_extra_form.html
  gyrinx/core/templates/core/crew/crew_form.html
  gyrinx/core/templates/core/crew/crew_lock.html
  gyrinx/core/templates/core/crew/crew_member_loadout.html
  gyrinx/core/templates/core/includes/campaign_common_header.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/urls/campaign.py
  gyrinx/core/views/battle.py
  gyrinx/core/views/crew.py
  gyrinx/core/views/list/views.py
Due: check-fmt, markdownlint

feat: Python component system for HTML rendering
  .claude/notes/component-system/PLAN.md
  gyrinx/components/__init__.py
  gyrinx/components/backend.py
  gyrinx/components/bridge.py
  gyrinx/components/design/__init__.py
  gyrinx/components/design/badges.py
  gyrinx/components/design/buttons.py
  gyrinx/components/design/containers.py
  gyrinx/components/design/feedback.py
  gyrinx/components/design/forms.py
  gyrinx/components/design/icons.py
  gyrinx/components/design/nav.py
  gyrinx/components/design/page.py
  gyrinx/components/design/tables.py
  gyrinx/components/design/typography.py
  gyrinx/components/elements.py
  gyrinx/components/layout.py
  gyrinx/components/pages/__init__.py
  gyrinx/components/pages/_shared.py
  gyrinx/components/pages/fighter.py
  gyrinx/components/pages/gallery.py
  gyrinx/components/registry.py
  gyrinx/components/tags.py
  gyrinx/components/testing.py
  gyrinx/components/tests/__init__.py
  gyrinx/components/tests/test_backend.py
  gyrinx/components/tests/test_design.py
  gyrinx/components/tests/test_elements.py
  gyrinx/components/tests/test_golden.py
  gyrinx/components/tests/test_layout.py
  gyrinx/components/tests/test_pages.py
  gyrinx/core/views/debug.py
  gyrinx/settings.py
  gyrinx/urls.py
Due: check-fmt, markdownlint

feat: convert 5 more confirm pages to components
  gyrinx/components/pages/campaign.py
  gyrinx/components/pages/fighter.py
  gyrinx/components/tests/test_golden.py
Due: none

feat: convert 5 more confirm/simple pages to components
  .claude/notes/component-system/convert_batch.workflow.js
  gyrinx/components/bridge.py
  gyrinx/components/pages/campaign_remove_list.py
  gyrinx/components/pages/fighter_captured.py
  gyrinx/components/pages/fighter_restore.py
  gyrinx/components/pages/list_archive.py
  gyrinx/components/pages/list_clone.py
  gyrinx/components/tests/test_golden.py
  gyrinx/components/tests/test_golden_fighter_captured.py
  gyrinx/components/tests/test_golden_fighter_restore.py
  gyrinx/components/tests/test_golden_list_archive.py
Due: check-fmt

test: end-to-end view render through the component backend
  gyrinx/components/tests/test_pages.py
Due: none

feat: convert campaign new/edit form pages to components
  gyrinx/components/pages/campaign_crud.py
  gyrinx/components/tests/test_golden.py
Due: none

feat: convert 6 form/edit pages to components (batch 2)
  .claude/notes/component-system/PLAN.md
  .claude/notes/component-system/convert_batch2.workflow.js
  gyrinx/components/pages/campaign_asset_type_new.py
  gyrinx/components/pages/campaign_attribute_type_new.py
  gyrinx/components/pages/campaign_resource_type_new.py
  gyrinx/components/pages/fighter_narrative.py
  gyrinx/components/pages/fighter_notes.py
  gyrinx/components/pages/list_edit.py
  gyrinx/components/tests/test_golden_campaign_asset_type_new.py
  gyrinx/components/tests/test_golden_campaign_attribute_type_new.py
  gyrinx/components/tests/test_golden_campaign_resource_type_new.py
  gyrinx/components/tests/test_golden_fighter_narrative.py
  gyrinx/components/tests/test_golden_fighter_notes.py
  gyrinx/components/tests/test_golden_list_edit.py
Due: check-fmt, markdownlint

feat: convert 5 more pages to components (batch 3)
  .claude/notes/component-system/convert_batch3.workflow.js
  gyrinx/components/pages/campaign_asset_type_edit.py
  gyrinx/components/pages/campaign_resource_type_edit.py
  gyrinx/components/pages/fighter_resurrect.py
  gyrinx/components/pages/fighter_state.py
  gyrinx/components/pages/fighter_xp.py
  gyrinx/components/tests/test_golden_campaign_asset_type_edit.py
  gyrinx/components/tests/test_golden_campaign_resource_type_edit.py
  gyrinx/components/tests/test_golden_fighter_resurrect.py
  gyrinx/components/tests/test_golden_fighter_state.py
  gyrinx/components/tests/test_golden_fighter_xp.py
Due: check-fmt

feat: convert 5 more pages (batch 4) + fix test-client context
  .claude/notes/component-system/convert_batch4.workflow.js
  gyrinx/components/backend.py
  gyrinx/components/pages/campaign_attribute_type_remove.py
  gyrinx/components/pages/campaign_resource_type_remove.py
  gyrinx/components/pages/fighter_rules.py
  gyrinx/components/pages/fighter_stats.py
  gyrinx/components/pages/list_new.py
  gyrinx/components/tests/test_golden_campaign_attribute_type_remove.py
  gyrinx/components/tests/test_golden_campaign_resource_type_remove.py
  gyrinx/components/tests/test_golden_fighter_rules.py
  gyrinx/components/tests/test_golden_fighter_stats.py
  gyrinx/components/tests/test_golden_list_new.py
  gyrinx/components/tests/test_pages.py
Due: check-fmt

feat: convert 4 more pages (batch 5)
  .claude/notes/component-system/convert_batch5.workflow.js
  gyrinx/components/pages/campaign_asset_type_remove.py
  gyrinx/components/pages/fighter_psyker_powers.py
  gyrinx/components/pages/fighter_skills.py
  gyrinx/components/pages/list_credits_edit.py
  gyrinx/components/testing.py
  gyrinx/components/tests/test_golden_campaign_asset_type_remove.py
  gyrinx/components/tests/test_golden_fighter_psyker_powers.py
  gyrinx/components/tests/test_golden_fighter_skills.py
  gyrinx/components/tests/test_golden_list_credits_edit.py
Due: check-fmt

feat: convert 5 more pages (batch 6)
  .claude/notes/component-system/convert_batch6.workflow.js
  gyrinx/components/pages/campaign_attribute_value_edit.py
  gyrinx/components/pages/campaign_attribute_value_new.py
  gyrinx/components/pages/campaign_attribute_value_remove.py
  gyrinx/components/pages/list_about.py
  gyrinx/components/pages/list_notes.py
  gyrinx/components/tests/test_golden_campaign_attribute_value_edit.py
  gyrinx/components/tests/test_golden_campaign_attribute_value_new.py
  gyrinx/components/tests/test_golden_campaign_attribute_value_remove.py
  gyrinx/components/tests/test_golden_list_about.py
  gyrinx/components/tests/test_golden_list_notes.py
Due: check-fmt

feat: convert campaign asset/resource family (batch 7)
  .claude/notes/component-system/convert_batch7.workflow.js
  gyrinx/components/pages/campaign_asset_edit.py
  gyrinx/components/pages/campaign_asset_new.py
  gyrinx/components/pages/campaign_asset_remove.py
  gyrinx/components/pages/campaign_resource_modify.py
  gyrinx/components/pages/campaign_sub_asset_remove.py
  gyrinx/components/tests/test_golden_campaign_asset_edit.py
  gyrinx/components/tests/test_golden_campaign_asset_new.py
  gyrinx/components/tests/test_golden_campaign_asset_remove.py
  gyrinx/components/tests/test_golden_campaign_resource_modify.py
  gyrinx/components/tests/test_golden_campaign_sub_asset_remove.py
Due: check-fmt

feat: convert 6 list/fighter pages (batch 8)
  .claude/notes/component-system/convert_generic.workflow.js
  gyrinx/components/pages/list_archived_fighters.py
  gyrinx/components/pages/list_attributes_manage.py
  gyrinx/components/pages/list_fighter_archive.py
  gyrinx/components/pages/list_fighter_clone.py
  gyrinx/components/pages/list_fighter_new.py
  gyrinx/components/pages/list_skill_trees_manage.py
  gyrinx/components/tests/test_golden_list_archived_fighters.py
  gyrinx/components/tests/test_golden_list_attributes_manage.py
  gyrinx/components/tests/test_golden_list_fighter_archive.py
  gyrinx/components/tests/test_golden_list_fighter_clone.py
  gyrinx/components/tests/test_golden_list_fighter_new.py
  gyrinx/components/tests/test_golden_list_skill_trees_manage.py
Due: check-fmt

feat: convert 6 more list/fighter pages (batch 9)
  gyrinx/components/pages/list_attribute_edit.py
  gyrinx/components/pages/list_campaign_clones.py
  gyrinx/components/pages/list_fighter_edit.py
  gyrinx/components/pages/list_new_packs.py
  gyrinx/components/pages/list_skill_trees_edit.py
  gyrinx/components/pages/vehicle_select.py
  gyrinx/components/tests/test_golden_list_attribute_edit.py
  gyrinx/components/tests/test_golden_list_campaign_clones.py
  gyrinx/components/tests/test_golden_list_fighter_edit.py
  gyrinx/components/tests/test_golden_list_new_packs.py
  gyrinx/components/tests/test_golden_list_skill_trees_edit.py
  gyrinx/components/tests/test_golden_vehicle_select.py
Due: none

feat: convert 6 equipment-assignment pages (batch 10)
  gyrinx/components/pages/list_fighter_assign_convert.py
  gyrinx/components/pages/list_fighter_assign_cost_edit.py
  gyrinx/components/pages/list_fighter_assign_delete_confirm.py
  gyrinx/components/pages/list_fighter_assign_disable.py
  gyrinx/components/pages/list_fighter_assign_reassign.py
  gyrinx/components/pages/list_fighter_weapon_profile_delete.py
  gyrinx/components/tests/test_golden_list_fighter_assign_convert.py
  gyrinx/components/tests/test_golden_list_fighter_assign_cost_edit.py
  gyrinx/components/tests/test_golden_list_fighter_assign_delete_confirm.py
  gyrinx/components/tests/test_golden_list_fighter_assign_disable.py
  gyrinx/components/tests/test_golden_list_fighter_assign_reassign.py
  gyrinx/components/tests/test_golden_list_fighter_weapon_profile_delete.py
Due: none

feat: convert 6 more fighter pages (batch 11)
  gyrinx/components/pages/list_fighter_add_injury.py
  gyrinx/components/pages/list_fighter_assign_upgrade_delete_confirm.py
  gyrinx/components/pages/list_fighter_assign_upgrade_edit.py
  gyrinx/components/pages/list_fighter_remove_injury.py
  gyrinx/components/pages/list_fighter_weapons_accessory_delete.py
  gyrinx/components/pages/vehicle_crew.py
  gyrinx/components/tests/test_golden_list_fighter_add_injury.py
  gyrinx/components/tests/test_golden_list_fighter_assign_upgrade_delete_confirm.py
  gyrinx/components/tests/test_golden_list_fighter_assign_upgrade_edit.py
  gyrinx/components/tests/test_golden_list_fighter_remove_injury.py
  gyrinx/components/tests/test_golden_list_fighter_weapons_accessory_delete.py
  gyrinx/components/tests/test_golden_vehicle_crew.py
Due: none

feat: convert fighter advancement + roll-flow pages (batch 12)
  gyrinx/components/pages/list_fighter_advancement_confirm.py
  gyrinx/components/pages/list_fighter_advancement_delete.py
  gyrinx/components/pages/list_fighter_advancement_other.py
  gyrinx/components/pages/list_fighter_advancement_select.py
  gyrinx/components/pages/list_fighter_roll_result_remove.py
  gyrinx/components/pages/list_fighter_roll_results_edit.py
  gyrinx/components/tests/test_golden_list_fighter_advancement_confirm.py
  gyrinx/components/tests/test_golden_list_fighter_advancement_delete.py
  gyrinx/components/tests/test_golden_list_fighter_advancement_other.py
  gyrinx/components/tests/test_golden_list_fighter_advancement_select.py
  gyrinx/components/tests/test_golden_list_fighter_roll_result_remove.py
  gyrinx/components/tests/test_golden_list_fighter_roll_results_edit.py
Due: none

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
