Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

test: stop crew query-count tests depending on cache warmth (#2125)
  conftest.py
  n23/core/tests/test_crew.py
Due: none

refactor: drop the legacy fighter stat columns (#1861)
  conftest.py
  n23/content/admin.py
  n23/content/migrations/0189_drop_legacy_fighter_stat_columns.py
  n23/content/models/fighter.py
  n23/content/models/signal_handlers.py
  n23/content/statlines.py
  n23/content/tests/test_admin_actions.py
  n23/content/tests/test_admin_fighter_statline.py
  n23/content/tests/test_availability_preset.py
  n23/content/tests/test_content.py
  n23/content/tests/test_statline.py
  n23/content/tests/test_statline_clean.py
  n23/core/models/list/fighter.py
  n23/core/tests/fixtures/performance_view_queries.json
  n23/core/tests/test_advancement_choices.py
  n23/core/tests/test_advancements.py
  n23/core/tests/test_can_buy_any_equipment.py
  n23/core/tests/test_equipment_injury_links.py
  n23/core/tests/test_equipment_list_profile_filtering.py
  n23/core/tests/test_house_restricted_categories.py
  n23/core/tests/test_illegal_equipment_visibility.py
  n23/core/tests/test_injury_modifications.py
  n23/core/tests/test_injury_modifiers.py
  n23/core/tests/test_list_fighter_group_keys.py
  n23/core/tests/test_list_fighter_stat_override.py
  n23/core/tests/test_list_packs.py
  n23/core/tests/test_mod_ctx_optimization.py
  n23/core/tests/test_pack_vehicles_beasts.py
  n23/core/tests/test_performance_view_queries.py
  n23/core/tests/test_ruleline_skilline_queries.py
  n23/core/tests/test_views_pack.py
  n23/core/tests/test_xp_tracking.py
Due: check-fmt

refactor: drop the legacy fighter stat columns (#1861) (#2123)
  conftest.py
  n23/content/admin.py
  n23/content/migrations/0189_drop_legacy_fighter_stat_columns.py
  n23/content/models/fighter.py
  n23/content/models/signal_handlers.py
  n23/content/statlines.py
  n23/content/tests/test_admin_actions.py
  n23/content/tests/test_admin_fighter_statline.py
  n23/content/tests/test_availability_preset.py
  n23/content/tests/test_content.py
  n23/content/tests/test_statline.py
  n23/content/tests/test_statline_clean.py
  n23/core/models/list/fighter.py
  n23/core/tests/fixtures/performance_view_queries.json
  n23/core/tests/test_advancement_choices.py
  n23/core/tests/test_advancements.py
  n23/core/tests/test_can_buy_any_equipment.py
  n23/core/tests/test_equipment_injury_links.py
  n23/core/tests/test_equipment_list_profile_filtering.py
  n23/core/tests/test_house_restricted_categories.py
  n23/core/tests/test_illegal_equipment_visibility.py
  n23/core/tests/test_injury_modifications.py
  n23/core/tests/test_injury_modifiers.py
  n23/core/tests/test_list_fighter_group_keys.py
  n23/core/tests/test_list_fighter_stat_override.py
  n23/core/tests/test_list_packs.py
  n23/core/tests/test_mod_ctx_optimization.py
  n23/core/tests/test_pack_vehicles_beasts.py
  n23/core/tests/test_performance_view_queries.py
  n23/core/tests/test_ruleline_skilline_queries.py
  n23/core/tests/test_views_pack.py
  n23/core/tests/test_xp_tracking.py
Due: check-fmt

docs: make the pre-mod-system advancement flag honest (#1861)
  n23/core/migrations/0213_document_pre_mod_advancement_flag.py
  n23/core/models/list/advancement.py
  n23/core/models/list/fighter.py
  n23/core/tests/test_advancements.py
Due: none

docs: make the pre-mod-system advancement flag honest (#1861) (#2128)
  n23/core/migrations/0213_document_pre_mod_advancement_flag.py
  n23/core/models/list/advancement.py
  n23/core/models/list/fighter.py
  n23/core/tests/test_advancements.py
Due: none

refactor: let the edition register its analytics and broadcast contributions
  gyrinx/analytics/admin.py
  gyrinx/analytics/registry.py
  gyrinx/site/admin.py
  gyrinx/site/registry.py
  gyrinx/tests/test_admin_registration.py
  gyrinx/tests/test_analytics_dashboard.py
  n23/core/admin/__init__.py
  n23/core/admin/analytics.py
  n23/core/admin/broadcast.py
Due: none

refactor: discover task routes from apps instead of naming them in the platform
  .claude/notes/task-registry-footgun.md
  docs/how-to-guides/task-framework.md
  docs/technical-reference/task-framework.md
  gyrinx/api/tasks.py
  gyrinx/tasks/CLAUDE.md
  gyrinx/tasks/__init__.py
  gyrinx/tasks/backend.py
  gyrinx/tasks/checks.py
  gyrinx/tasks/discovery.py
  gyrinx/tasks/registry.py
  gyrinx/tasks/tests/test_checks.py
  gyrinx/tasks/tests/test_discovery.py
  n23/__init__.py
  n23/core/tasks.py
Due: check-fmt, markdownlint

refactor: move the platform-owned template tag libraries out of the edition
  bandit/bandit-baseline.json
  bandit/bandit-baseline.txt
  docs/developing-gyrinx/group-based-features.md
  gyrinx/site/templatetags/__init__.py
  gyrinx/site/templatetags/allauth_bootstrap.py
  gyrinx/site/templatetags/badge_tags.py
  gyrinx/site/templatetags/form_tags.py
  gyrinx/site/templatetags/group_tags.py
  gyrinx/site/templatetags/platform_tags.py
  gyrinx/templates/404.html
  gyrinx/templates/account/snippets/menu.html
  gyrinx/templates/allauth/layouts/base.html
  gyrinx/templates/cotton/actions/link.html
  gyrinx/templates/cotton/back.html
  gyrinx/templates/cotton/badge.html
  gyrinx/templates/cotton/breadcrumb/item.html
  gyrinx/templates/cotton/cancel.html
  gyrinx/templates/cotton/icon.html
  gyrinx/templates/cotton/messages.html
  gyrinx/templates/cotton/steps.html
  gyrinx/templates/errors/error.html
  gyrinx/templates/platform/includes/account_sidebar.html
  n23/core/templates/CLAUDE.md
  n23/core/templatetags/custom_tags.py
  n23/core/tests/test_badges.py
  n23/core/tests/test_cotton_form.py
  n23/core/tests/test_dice.py
  n23/core/tests/test_group_tags.py
  n23/core/tests/test_tags.py
  n23/core/tests/test_xss_protection.py
Due: check-fmt, markdownlint

fix: repoint robots.txt at the /n23/ URLs and stop the page-ref cache thrashing
  gyrinx/pages/tests/test_robots.py
  gyrinx/pages/views.py
  gyrinx/settings.py
  n23/content/models/metadata.py
Due: none

fix: repoint robots.txt at the /n23/ URLs and stop the page-ref cache thrashing (#2133)
  gyrinx/pages/tests/test_robots.py
  gyrinx/pages/views.py
  gyrinx/settings.py
  n23/content/models/metadata.py
Due: none

docs: add an incident reports folder, starting with the 6 August crawler overload
  docs/SUMMARY.md
  docs/operations/incidents/2026-08-06-crawler-overload.md
  docs/operations/incidents/README.md
Due: check-fmt, markdownlint

docs: add an incident reports folder, starting with the 6 August crawler overload (#2134)
  docs/SUMMARY.md
  docs/operations/incidents/2026-08-06-crawler-overload.md
  docs/operations/incidents/README.md
Due: check-fmt, markdownlint

refactor: discover task routes from apps instead of naming them in the platform (#2129)
  .claude/notes/task-registry-footgun.md
  docs/how-to-guides/task-framework.md
  docs/technical-reference/task-framework.md
  gyrinx/api/tasks.py
  gyrinx/tasks/CLAUDE.md
  gyrinx/tasks/__init__.py
  gyrinx/tasks/backend.py
  gyrinx/tasks/checks.py
  gyrinx/tasks/discovery.py
  gyrinx/tasks/registry.py
  gyrinx/tasks/tests/test_checks.py
  gyrinx/tasks/tests/test_discovery.py
  n23/__init__.py
  n23/core/tasks.py
Due: check-fmt, markdownlint

refactor: move the platform-owned template tag libraries out of the edition (#2130)
  bandit/bandit-baseline.json
  bandit/bandit-baseline.txt
  docs/developing-gyrinx/group-based-features.md
  gyrinx/site/templatetags/__init__.py
  gyrinx/site/templatetags/allauth_bootstrap.py
  gyrinx/site/templatetags/badge_tags.py
  gyrinx/site/templatetags/form_tags.py
  gyrinx/site/templatetags/group_tags.py
  gyrinx/site/templatetags/platform_tags.py
  gyrinx/templates/404.html
  gyrinx/templates/account/snippets/menu.html
  gyrinx/templates/allauth/layouts/base.html
  gyrinx/templates/cotton/actions/link.html
  gyrinx/templates/cotton/back.html
  gyrinx/templates/cotton/badge.html
  gyrinx/templates/cotton/breadcrumb/item.html
  gyrinx/templates/cotton/cancel.html
  gyrinx/templates/cotton/icon.html
  gyrinx/templates/cotton/messages.html
  gyrinx/templates/cotton/steps.html
  gyrinx/templates/errors/error.html
  gyrinx/templates/platform/includes/account_sidebar.html
  n23/core/templates/CLAUDE.md
  n23/core/templatetags/custom_tags.py
  n23/core/tests/test_badges.py
  n23/core/tests/test_cotton_form.py
  n23/core/tests/test_dice.py
  n23/core/tests/test_group_tags.py
  n23/core/tests/test_tags.py
  n23/core/tests/test_xss_protection.py
Due: check-fmt, markdownlint

refactor: let the edition register its analytics and broadcast contributions (#2131)
  gyrinx/analytics/admin.py
  gyrinx/analytics/registry.py
  gyrinx/site/admin.py
  gyrinx/site/registry.py
  gyrinx/tests/test_admin_registration.py
  gyrinx/tests/test_analytics_dashboard.py
  n23/core/admin/__init__.py
  n23/core/admin/analytics.py
  n23/core/admin/broadcast.py
Due: none

refactor: turn the maintenance console into a registry the edition fills in
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/migrations/0001_move_backfill_to_maintenance.py
  gyrinx/maintenance/migrations/__init__.py
  gyrinx/maintenance/models.py
  gyrinx/maintenance/registry.py
  gyrinx/maintenance/templates/admin/maintenance/backfill_detail.html
  gyrinx/maintenance/templates/admin/maintenance/index.html
  gyrinx/maintenance/tests/test_admin_views.py
  gyrinx/maintenance/views.py
  gyrinx/tests/test_admin_registration.py
  n23/core/admin/__init__.py
  n23/core/admin/backfill.py
  n23/core/admin/maintenance.py
  n23/core/maintenance/operations.py
  n23/core/migrations/0214_move_backfill_to_maintenance.py
  n23/core/models/__init__.py
  n23/core/tasks.py
  n23/core/templates/admin/maintenance/n23/_persistent_stash_detail.html
  n23/core/templates/admin/maintenance/n23/_reconcile_detail.html
  n23/core/templates/admin/maintenance/n23/backfill_pins.html
  n23/core/templates/admin/maintenance/n23/persistent_stash.html
  n23/core/templates/admin/maintenance/n23/reconcile_lists.html
  n23/core/tests/test_maintenance_pin_ops.py
  n23/core/tests/test_reconcile_notify.py
Due: none

refactor: turn the maintenance console into a registry the edition fills in (#2132)
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/migrations/0001_move_backfill_to_maintenance.py
  gyrinx/maintenance/migrations/__init__.py
  gyrinx/maintenance/models.py
  gyrinx/maintenance/registry.py
  gyrinx/maintenance/templates/admin/maintenance/backfill_detail.html
  gyrinx/maintenance/templates/admin/maintenance/index.html
  gyrinx/maintenance/tests/test_admin_views.py
  gyrinx/maintenance/views.py
  gyrinx/tests/test_admin_registration.py
  n23/core/admin/__init__.py
  n23/core/admin/backfill.py
  n23/core/admin/maintenance.py
  n23/core/maintenance/operations.py
  n23/core/migrations/0214_move_backfill_to_maintenance.py
  n23/core/models/__init__.py
  n23/core/tasks.py
  n23/core/templates/admin/maintenance/n23/_persistent_stash_detail.html
  n23/core/templates/admin/maintenance/n23/_reconcile_detail.html
  n23/core/templates/admin/maintenance/n23/backfill_pins.html
  n23/core/templates/admin/maintenance/n23/persistent_stash.html
  n23/core/templates/admin/maintenance/n23/reconcile_lists.html
  n23/core/tests/test_maintenance_pin_ops.py
  n23/core/tests/test_reconcile_notify.py
Due: none

chore: move to Python 3.14
  .github/dependabot.yml
  .github/workflows/ci-checks.yml
  .github/workflows/claude-code-improvement.yml
  .github/workflows/claude-docs-update.yml
  .github/workflows/claude.yml
  .github/workflows/discord-issue.yml
  .github/workflows/test.yaml
  .python-version
  Dockerfile
  pyproject.toml
  uv.lock
Due: check-fmt

chore: move to Python 3.14 (#2136)
  .github/dependabot.yml
  .github/workflows/ci-checks.yml
  .github/workflows/claude-code-improvement.yml
  .github/workflows/claude-docs-update.yml
  .github/workflows/claude.yml
  .github/workflows/discord-issue.yml
  .github/workflows/test.yaml
  .python-version
  Dockerfile
  pyproject.toml
  uv.lock
Due: check-fmt

chore: adopt bugbear and flake8-django lint rules
  gyrinx/pages/templatetags/pages.py
  gyrinx/tasks/route.py
  gyrinx/tests/test_csrf.py
  n23/content/management/utils.py
  n23/content/models/fighter.py
  n23/content/models/psyker.py
  n23/content/tests/test_admin_clone_equipment.py
  n23/content/tests/test_injuries.py
  n23/content/tests/test_statline.py
  n23/core/forms/campaign.py
  n23/core/handlers/fighter/advancement.py
  n23/core/handlers/fighter/roll_flow.py
  n23/core/management/commands/loaddata_overwrite.py
  n23/core/management/commands/prodshell.py
  n23/core/management/commands/update_claude_secrets.py
  n23/core/models/list/assignment.py
  n23/core/models/list/fighter.py
  n23/core/print_cards.py
  n23/core/tests/test_admin_list.py
  n23/core/tests/test_advancement_choices.py
  n23/core/tests/test_async_campaign_start.py
  n23/core/tests/test_campaign_attributes.py
  n23/core/tests/test_cotton_call_site_gates.py
  n23/core/tests/test_counters.py
  n23/core/tests/test_equipment_injury_links.py
  n23/core/tests/test_fighter_ordering.py
  n23/core/tests/test_invitation.py
  n23/core/tests/test_list_fighter_stat_override.py
  n23/core/tests/test_models_core.py
  n23/core/tests/test_models_pack.py
  n23/core/views/campaign/crud.py
  n23/core/views/campaign/packs.py
  n23/core/views/campaign/views.py
  n23/core/views/fighter/counters.py
  n23/core/views/fighter/helpers.py
  n23/core/views/fighter/state.py
  playbooks/trace/scripts/analyze_trace_detailed.py
  pyproject.toml
  scripts/lint_templates.py
Due: none

chore: adopt bugbear and flake8-django lint rules (#2141)
  gyrinx/pages/templatetags/pages.py
  gyrinx/tasks/route.py
  gyrinx/tests/test_csrf.py
  n23/content/management/utils.py
  n23/content/models/fighter.py
  n23/content/models/psyker.py
  n23/content/tests/test_admin_clone_equipment.py
  n23/content/tests/test_injuries.py
  n23/content/tests/test_statline.py
  n23/core/forms/campaign.py
  n23/core/handlers/fighter/advancement.py
  n23/core/handlers/fighter/roll_flow.py
  n23/core/management/commands/loaddata_overwrite.py
  n23/core/management/commands/prodshell.py
  n23/core/management/commands/update_claude_secrets.py
  n23/core/models/list/assignment.py
  n23/core/models/list/fighter.py
  n23/core/print_cards.py
  n23/core/tests/test_admin_list.py
  n23/core/tests/test_advancement_choices.py
  n23/core/tests/test_async_campaign_start.py
  n23/core/tests/test_campaign_attributes.py
  n23/core/tests/test_cotton_call_site_gates.py
  n23/core/tests/test_counters.py
  n23/core/tests/test_equipment_injury_links.py
  n23/core/tests/test_fighter_ordering.py
  n23/core/tests/test_invitation.py
  n23/core/tests/test_list_fighter_stat_override.py
  n23/core/tests/test_models_core.py
  n23/core/tests/test_models_pack.py
  n23/core/views/campaign/crud.py
  n23/core/views/campaign/packs.py
  n23/core/views/campaign/views.py
  n23/core/views/fighter/counters.py
  n23/core/views/fighter/helpers.py
  n23/core/views/fighter/state.py
  playbooks/trace/scripts/analyze_trace_detailed.py
  pyproject.toml
  scripts/lint_templates.py
Due: none

fix: make the model-move migrations survive a rollback
  n23/core/migrations/0203_move_userprofile_to_accounts.py
  n23/core/migrations/0204_move_site_models_to_platform.py
  n23/core/migrations/0205_move_event_to_analytics.py
  n23/core/migrations/0212_move_notification_to_platform.py
  n23/core/migrations/0215_remove_stray_notification_content_type.py
Due: none

fix: make the model-move migrations survive a rollback (#2142)
  n23/core/migrations/0203_move_userprofile_to_accounts.py
  n23/core/migrations/0204_move_site_models_to_platform.py
  n23/core/migrations/0205_move_event_to_analytics.py
  n23/core/migrations/0212_move_notification_to_platform.py
  n23/core/migrations/0215_remove_stray_notification_content_type.py
Due: none

feat: enable admin-managed redirects
  gyrinx/pages/tests/test_redirects.py
  gyrinx/settings.py
Due: none

feat: move the Necromunda 2023 help pages under /help/n23/
  gyrinx/pages/migrations/0007_move_n23_help_pages.py
Due: none

feat: enable admin-managed redirects (#2143)
  gyrinx/pages/migrations/0007_move_n23_help_pages.py
  gyrinx/pages/tests/test_redirects.py
  gyrinx/settings.py
Due: none

feat: remove the fighter card embed feature
  docs/icon-usage.md
  gyrinx/pages/templates/flatpages/default.html
  gyrinx/settings.py
  n23/core/templates/core/includes/list.html
  n23/core/templates/core/list_fighter_embed.html
  n23/core/tests/test_csp.py
  n23/core/urls/fighter.py
  n23/core/views/fighter/__init__.py
  n23/core/views/fighter/crud.py
  n23/core/views/list/views.py
  scripts/raw_markup_baseline.json
Due: check-fmt, markdownlint

fix: the platform's logo, the platform's measure, and the green button
  gyrinx/settings.py
  n26/core/static/n26/gyrinx-logo.svg
  n26/core/static/n26/print-fit.js
  n26/core/static/n26/richtext.js
  n26/core/static/n26/support-card.svg
  n26/core/templates/n26/layouts/base.html
  n26/tests/test_platform_integration.py
Due: check-fmt

feat: the n26 preview — testers gate, dashboard, founding, changelog
  gyrinx/accounts/migrations/0002_n26_testers_group.py
  gyrinx/middleware.py
  gyrinx/settings.py
  gyrinx/site/admin.py
  gyrinx/site/migrations/0003_changelog_entry.py
  gyrinx/site/models.py
  n26/core/forms.py
  n26/core/migrations/0006_gang_colour.py
  n26/core/models/gang.py
  n26/core/templates/n26/_nav.html
  n26/core/templates/n26/create_gang.html
  n26/core/templates/n26/dashboard.html
  n26/core/views.py
  n26/library/management/__init__.py
  n26/library/management/commands/__init__.py
  n26/library/management/commands/n26_backfill_foundations.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_preview.py
  n26/tests/test_platform_integration.py
  n26/urls.py
Due: none

feat: remove the fighter card embed feature (#2144)
  docs/icon-usage.md
  gyrinx/pages/templates/flatpages/default.html
  gyrinx/settings.py
  n23/core/templates/core/includes/list.html
  n23/core/templates/core/list_fighter_embed.html
  n23/core/tests/test_csp.py
  n23/core/urls/fighter.py
  n23/core/views/fighter/__init__.py
  n23/core/views/fighter/crud.py
  n23/core/views/list/views.py
  scripts/raw_markup_baseline.json
Due: check-fmt, markdownlint
