Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

feat: carry current page through sign-in/sign-up flow
  gyrinx/core/templates/core/layouts/base.html
Due: none

fix: address PR review feedback on busy-state spinner
  gyrinx/core/static/core/js/index.js
  gyrinx/core/static/core/scss/styles.scss
Due: check-fmt

feat: carry current page through sign-in/sign-up flow (#1833)
  gyrinx/core/templates/core/layouts/base.html
Due: none

feat: enlarge house icons and add them to the design system
  docs/DESIGN-SYSTEM.md
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/debug/design_system.html
  gyrinx/core/views/debug.py
Due: check-fmt, markdownlint

fix: address Copilot review on house icon design-system docs
  docs/DESIGN-SYSTEM.md
  gyrinx/core/templates/core/debug/design_system.html
  gyrinx/core/tests/test_debug_views.py
  gyrinx/core/views/debug.py
Due: check-fmt, markdownlint

refactor: make site-wide form-submit spinner non-destructive (#1831)
  gyrinx/core/static/core/js/index.js
  gyrinx/core/static/core/scss/styles.scss
Due: check-fmt

feat: enlarge house icons and add them to the design system (#1834)
  docs/DESIGN-SYSTEM.md
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/debug/design_system.html
  gyrinx/core/tests/test_debug_views.py
  gyrinx/core/views/debug.py
Due: check-fmt, markdownlint

feat: management command to restore persistent gear from stashes to dead Fighters
  gyrinx/content/models/equipment.py
  gyrinx/core/management/commands/migrate_persistent_stash_items.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/includes/fighter_card_stash.html
  gyrinx/core/tests/test_migrate_persistent_stash_items.py
  gyrinx/core/tests/test_stash_fighter.py
Due: none

Nudge the gang icons up a bit
  gyrinx/core/static/core/scss/styles.scss
Due: check-fmt

feat: admin maintenance page for triggering data backfills (#1825)
  gyrinx/core/maintenance/__init__.py
  gyrinx/core/maintenance/persistent_stash.py
  gyrinx/core/management/commands/migrate_persistent_stash_items.py
  gyrinx/core/migrations/0146_backfill_historicalbackfill.py
  gyrinx/core/models/__init__.py
  gyrinx/core/models/backfill.py
  gyrinx/maintenance/__init__.py
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/apps.py
  gyrinx/maintenance/templates/admin/maintenance/backfill_detail.html
  gyrinx/maintenance/templates/admin/maintenance/index.html
  gyrinx/maintenance/templates/admin/maintenance/persistent_stash.html
  gyrinx/maintenance/tests/__init__.py
  gyrinx/maintenance/tests/test_admin_views.py
  gyrinx/settings.py
Due: none

fix: isolate dev session cookies per worktree
  gyrinx/settings_dev.py
Due: none

perf+ux: batch kill-action lookup, link gang names from maintenance pages
  gyrinx/core/maintenance/persistent_stash.py
  gyrinx/core/tests/test_migrate_persistent_stash_items.py
  gyrinx/maintenance/templates/admin/maintenance/backfill_detail.html
  gyrinx/maintenance/templates/admin/maintenance/persistent_stash.html
Due: none

Nudge the gang icons up a bit (#1835)
  gyrinx/core/static/core/scss/styles.scss
Due: check-fmt

fix: read configured CSRF cookie name in TinyMCE upload handler
  gyrinx/core/widgets.py
Due: none

fix: isolate dev session cookies per worktree (#1836)
  gyrinx/core/widgets.py
  gyrinx/settings_dev.py
Due: none

fix: tighten kill-action match + revalidate moves under per-list lock
  gyrinx/core/maintenance/persistent_stash.py
  gyrinx/core/tests/test_migrate_persistent_stash_items.py
Due: none

fix: restore desktop list header, keep mobile cleanup
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/includes/list_common_header.html
Due: none

style: make list header bottom-margin mutually exclusive
  gyrinx/core/templates/core/includes/list_common_header.html
Due: none

fix: show house-additional gear on the stash card (#1830)
  gyrinx/core/maintenance/__init__.py
  gyrinx/core/maintenance/persistent_stash.py
  gyrinx/core/management/commands/migrate_persistent_stash_items.py
  gyrinx/core/migrations/0146_backfill_historicalbackfill.py
  gyrinx/core/models/__init__.py
  gyrinx/core/models/backfill.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_migrate_persistent_stash_items.py
  gyrinx/core/tests/test_stash_fighter.py
  gyrinx/maintenance/__init__.py
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/apps.py
  gyrinx/maintenance/templates/admin/maintenance/backfill_detail.html
  gyrinx/maintenance/templates/admin/maintenance/index.html
  gyrinx/maintenance/templates/admin/maintenance/persistent_stash.html
  gyrinx/maintenance/tests/__init__.py
  gyrinx/maintenance/tests/test_admin_views.py
  gyrinx/settings.py
Due: none

feat: give content-pack houses the custom-gang icon
  gyrinx/content/data/house_icons/custom_gang.svg
  gyrinx/content/house_icons.py
  gyrinx/content/management/commands/load_house_icons.py
  gyrinx/content/migrations/0171_attach_custom_gang_icon.py
  gyrinx/content/tests/test_custom_gang_icon.py
  gyrinx/core/signals.py
Due: none

style: reformat templates for djlint 1.39.0
  .pre-commit-config.yaml
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_add_lists.html
  gyrinx/core/templates/core/campaign/campaign_assets.html
  gyrinx/core/templates/core/campaign/campaign_copy_from.html
  gyrinx/core/templates/core/campaign/campaign_copy_to.html
  gyrinx/core/templates/core/includes/blank_fighter_card.html
  gyrinx/core/templates/core/includes/blank_vehicle_card.html
  gyrinx/core/templates/core/includes/fighter_card_content.html
  gyrinx/core/templates/core/includes/lists_filter.html
  gyrinx/core/templates/core/list_fighter_advancement_other.html
  gyrinx/core/templates/core/list_fighter_advancement_type.html
  gyrinx/core/templates/core/list_fighter_equipment_sell.html
  gyrinx/core/templates/core/list_fighter_gear_edit.html
  gyrinx/core/templates/core/list_fighter_narrative_edit.html
  gyrinx/core/templates/core/list_packs.html
  gyrinx/core/templates/core/list_performance.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/templates/core/pack/packs.html
  gyrinx/pages/templates/pages/forms/widgets/bs_checkbox_select.html
  gyrinx/pages/templates/pages/forms/widgets/bs_checkbox_select_compact.html
  gyrinx/pages/templates/pages/forms/widgets/bs_radio_select.html
Due: check-fmt

fix: keep list header stats beside the house name
  gyrinx/core/templates/core/includes/list_common_header.html
Due: none

fix: clean up list header on mobile (#1838)
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/includes/list_common_header.html
Due: none

feat: give content-pack houses the custom-gang icon (#1842)
  gyrinx/content/data/house_icons/custom_gang.svg
  gyrinx/content/house_icons.py
  gyrinx/content/management/commands/load_house_icons.py
  gyrinx/content/migrations/0171_attach_custom_gang_icon.py
  gyrinx/content/tests/test_custom_gang_icon.py
  gyrinx/core/signals.py
Due: none

feat: add Patreon supporter badges (#1821)
  gyrinx/api/patreon.py
  gyrinx/api/test_patreon.py
  gyrinx/core/badges.py
  gyrinx/core/forms/__init__.py
  gyrinx/core/migrations/0147_add_selected_badge_to_userprofile.py
  gyrinx/core/models/auth.py
  gyrinx/core/static/core/img/badges/guilder.svg
  gyrinx/core/static/core/img/badges/scummer.svg
  gyrinx/core/static/core/img/badges/uphiver.svg
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/badge_settings.html
  gyrinx/core/templates/core/includes/account_sidebar.html
  gyrinx/core/templates/core/includes/breadcrumb.html
  gyrinx/core/templates/core/user.html
  gyrinx/core/templatetags/badge_tags.py
  gyrinx/core/tests/test_badge_views.py
  gyrinx/core/tests/test_badges.py
  gyrinx/core/urls.py
  gyrinx/core/views/__init__.py
  gyrinx/core/views/campaign/views.py
  gyrinx/core/views/list/views.py
  gyrinx/core/views/pack.py
  gyrinx/core/views/user.py
Due: check-fmt

feat: show the supporter badge on the account home page
  gyrinx/core/templates/core/account_home.html
Due: none

feat: add Patreon supporter badges (#1821) (#1843)
  gyrinx/api/patreon.py
  gyrinx/api/test_patreon.py
  gyrinx/core/badges.py
  gyrinx/core/forms/__init__.py
  gyrinx/core/migrations/0147_add_selected_badge_to_userprofile.py
  gyrinx/core/models/auth.py
  gyrinx/core/static/core/img/badges/guilder.svg
  gyrinx/core/static/core/img/badges/scummer.svg
  gyrinx/core/static/core/img/badges/uphiver.svg
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/account_home.html
  gyrinx/core/templates/core/badge_settings.html
  gyrinx/core/templates/core/includes/account_sidebar.html
  gyrinx/core/templates/core/includes/breadcrumb.html
  gyrinx/core/templates/core/user.html
  gyrinx/core/templatetags/badge_tags.py
  gyrinx/core/tests/test_badge_views.py
  gyrinx/core/tests/test_badges.py
  gyrinx/core/urls.py
  gyrinx/core/views/__init__.py
  gyrinx/core/views/campaign/views.py
  gyrinx/core/views/list/views.py
  gyrinx/core/views/pack.py
  gyrinx/core/views/user.py
Due: check-fmt

feat: auto-show current-tier supporter badge by default
  gyrinx/core/badges.py
  gyrinx/core/forms/__init__.py
  gyrinx/core/models/auth.py
  gyrinx/core/templates/core/badge_settings.html
  gyrinx/core/tests/test_badge_views.py
  gyrinx/core/tests/test_badges.py
Due: none

refactor: pass HIDE_BADGE to template instead of hardcoding "none"
  gyrinx/core/templates/core/badge_settings.html
  gyrinx/core/tests/test_badge_views.py
  gyrinx/core/views/user.py
Due: none

refactor: select current-tier badge by rank, not list position
  gyrinx/core/models/auth.py
Due: none

feat: allow attaching files to content packs
  gyrinx/core/admin/pack.py
  gyrinx/core/forms/pack.py
  gyrinx/core/migrations/0148_add_content_pack_attachment.py
  gyrinx/core/models/__init__.py
  gyrinx/core/models/pack.py
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_attachment_add.html
  gyrinx/core/templates/core/pack/pack_attachment_delete.html
  gyrinx/core/tests/test_pack_attachments.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: none

docs: document content-pack file attachments
  docs/content-library/content-packs.md
Due: check-fmt, markdownlint

style: drop card wrapper from badge settings to match sibling pages
  gyrinx/core/templates/core/badge_settings.html
Due: none

feat: auto-show current-tier supporter badge by default (#1847)
  gyrinx/core/badges.py
  gyrinx/core/forms/__init__.py
  gyrinx/core/models/auth.py
  gyrinx/core/templates/core/badge_settings.html
  gyrinx/core/tests/test_badge_views.py
  gyrinx/core/tests/test_badges.py
  gyrinx/core/views/user.py
Due: none

style: tidy pack detail layout and file download link
  gyrinx/core/templates/core/pack/pack.html
Due: none

fix: address review feedback on pack attachments
  gyrinx/core/models/pack.py
  gyrinx/core/tests/test_pack_attachments.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: none

fix: clamp pack attachment quota remaining to zero
  gyrinx/core/models/pack.py
Due: none

feat: allow attaching files to content packs (#1846)
  docs/content-library/content-packs.md
  gyrinx/core/admin/pack.py
  gyrinx/core/forms/pack.py
  gyrinx/core/migrations/0148_add_content_pack_attachment.py
  gyrinx/core/models/__init__.py
  gyrinx/core/models/pack.py
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_attachment_add.html
  gyrinx/core/templates/core/pack/pack_attachment_delete.html
  gyrinx/core/tests/test_pack_attachments.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: check-fmt, markdownlint

refactor: merge per-pixel rects in house icons into single paths
  .gitignore
  gyrinx/content/data/house_icons/ash_wastes_nomads.svg
  gyrinx/content/data/house_icons/badzone_enforcers.svg
  gyrinx/content/data/house_icons/cawdor.svg
  gyrinx/content/data/house_icons/corpse_grinder_cult.svg
  gyrinx/content/data/house_icons/custom_gang.svg
  gyrinx/content/data/house_icons/delaque.svg
  gyrinx/content/data/house_icons/enforcers.svg
  gyrinx/content/data/house_icons/escher.svg
  gyrinx/content/data/house_icons/genestealer_cult.svg
  gyrinx/content/data/house_icons/goliath.svg
  gyrinx/content/data/house_icons/helot_chaos_cult.svg
  gyrinx/content/data/house_icons/ironhead_squats.svg
  gyrinx/content/data/house_icons/malstrain.svg
  gyrinx/content/data/house_icons/orlock.svg
  gyrinx/content/data/house_icons/slave_ogryns.svg
  gyrinx/content/data/house_icons/spyre_hunting_party.svg
  gyrinx/content/data/house_icons/underhive_outcasts.svg
  gyrinx/content/data/house_icons/van_saar.svg
  gyrinx/content/data/house_icons/venators.svg
  gyrinx/content/migrations/0172_refresh_house_icons.py
Due: none

refactor: merge per-pixel rects in house icons into single paths (#1850)
  .gitignore
  gyrinx/content/data/house_icons/ash_wastes_nomads.svg
  gyrinx/content/data/house_icons/badzone_enforcers.svg
  gyrinx/content/data/house_icons/cawdor.svg
  gyrinx/content/data/house_icons/corpse_grinder_cult.svg
  gyrinx/content/data/house_icons/custom_gang.svg
  gyrinx/content/data/house_icons/delaque.svg
  gyrinx/content/data/house_icons/enforcers.svg
  gyrinx/content/data/house_icons/escher.svg
  gyrinx/content/data/house_icons/genestealer_cult.svg
  gyrinx/content/data/house_icons/goliath.svg
  gyrinx/content/data/house_icons/helot_chaos_cult.svg
  gyrinx/content/data/house_icons/ironhead_squats.svg
  gyrinx/content/data/house_icons/malstrain.svg
  gyrinx/content/data/house_icons/orlock.svg
  gyrinx/content/data/house_icons/slave_ogryns.svg
  gyrinx/content/data/house_icons/spyre_hunting_party.svg
  gyrinx/content/data/house_icons/underhive_outcasts.svg
  gyrinx/content/data/house_icons/van_saar.svg
  gyrinx/content/data/house_icons/venators.svg
  gyrinx/content/migrations/0172_refresh_house_icons.py
Due: none

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
