Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

fix: align content under section header bars with px-2 padding
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/includes/list_attributes.html
  gyrinx/core/templates/core/includes/list_campaign_actions.html
  gyrinx/core/templates/core/includes/list_campaign_resources_assets.html
  gyrinx/core/templates/core/list_packs.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_campaigns.html
Due: none

fix: section header bars use bg-body-tertiary to match card headers
  gyrinx/core/static/core/scss/_tokens.scss
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/debug/design_system.html
  gyrinx/core/templates/core/includes/list_attributes.html
  gyrinx/core/templates/core/includes/list_campaign_actions.html
  gyrinx/core/templates/core/includes/list_campaign_resources_assets.html
  gyrinx/core/templates/core/list_packs.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_campaigns.html
Due: check-fmt

fix: unify card header background with section header bars
  gyrinx/core/static/core/scss/styles.scss
Due: check-fmt

fix: increase section header bar v-padding and add btn-sm example
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/debug/design_system.html
  gyrinx/core/templates/core/includes/list_attributes.html
  gyrinx/core/templates/core/includes/list_campaign_actions.html
  gyrinx/core/templates/core/includes/list_campaign_resources_assets.html
  gyrinx/core/templates/core/list_packs.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_campaigns.html
Due: none

fix: checkbox fields render checkbox-first with form-check layout
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/debug/design_system.html
  gyrinx/templates/django/forms/field.html
Due: check-fmt

fix: replace bi-check-circle and bi-plus-circle with non-circle variants
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/templates/core/battle/battle_note_add.html
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_actions.html
  gyrinx/core/templates/core/campaign/campaign_add_lists.html
  gyrinx/core/templates/core/campaign/campaign_asset_edit.html
  gyrinx/core/templates/core/campaign/campaign_assets.html
  gyrinx/core/templates/core/campaign/campaign_attributes.html
  gyrinx/core/templates/core/campaign/campaign_packs.html
  gyrinx/core/templates/core/campaign/campaign_resources.html
  gyrinx/core/templates/core/campaign/includes/campaign_lists.html
  gyrinx/core/templates/core/campaign/includes/property_schema_editor.html
  gyrinx/core/templates/core/campaign/includes/sub_asset_schema_editor.html
  gyrinx/core/templates/core/change_username.html
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/includes/list_campaign_actions.html
  gyrinx/core/templates/core/list_fighter_advancement_confirm.html
  gyrinx/core/templates/core/list_fighter_advancement_select.html
  gyrinx/core/templates/core/list_fighter_equipment_sell.html
  gyrinx/core/templates/core/list_fighter_psyker_powers_edit.html
  gyrinx/core/templates/core/list_fighter_rules_edit.html
  gyrinx/core/templates/core/list_fighter_skills_edit.html
  gyrinx/core/templates/core/vehicle_confirm.html
Due: none

fix: replace per-item "Last edit" with footer "Showing most recently edited"
  gyrinx/core/templates/core/index.html
Due: none

fix: adjust secondary colour with SCSS lighten/darken functions
  gyrinx/core/static/core/scss/styles.scss
Due: check-fmt

fix: darken navbar background in dark mode to distinguish from page
  gyrinx/core/static/core/scss/styles.scss
Due: check-fmt

fix: address PR feedback — missed migrations and HTML fix
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/battle/battle_note_add.html
  gyrinx/core/templates/core/campaign/campaign_resource_modify.html
  gyrinx/core/templates/core/list_fighter_assign_convert.html
  gyrinx/core/templates/core/list_fighter_equipment_sell.html
  playbooks/design-system/stages/4-implementation/scss-tokens.md
Due: check-fmt, markdownlint

fix: update test assertions for text-muted -> text-secondary migration
  gyrinx/core/tests/test_accessory_ui_display.py
Due: none

feat: offer Content Packs to lists contextually based on campaign membership
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/list/invitation_pack_setup.html
  gyrinx/core/templates/core/list_packs.html
  gyrinx/core/urls.py
  gyrinx/core/views/list/invitations.py
  gyrinx/core/views/list/views.py
  gyrinx/core/views/pack.py
Due: none

fix: address PR feedback on invitation pack setup flow
  gyrinx/core/templates/core/list_packs.html
  gyrinx/core/tests/test_invitation_pack_setup.py
  gyrinx/core/views/list/invitations.py
  gyrinx/core/views/list/views.py
Due: none

fix: conditionally link campaign pack names based on visibility
  gyrinx/core/templates/core/campaign/campaign.html
Due: none

fix: checkbox form-check only applies to single checkboxes, not multi-selects
  gyrinx/templates/django/forms/field.html
Due: none

fix: compute suggested packs from campaign directly, fix QuerySet bool
  gyrinx/core/tests/test_invitation_pack_setup.py
  gyrinx/core/views/list/invitations.py
Due: none

fix: make design system page available in prod for staff users
  gyrinx/core/views/debug.py
Due: none

fix: make design system page public
  gyrinx/core/views/debug.py
Due: none

feat: template component includes, linting script, and remaining migrations
  docs/DESIGN-SYSTEM.md
  gyrinx/core/templates/core/campaign/campaign_action_outcome.html
  gyrinx/core/templates/core/campaign/campaign_captured_fighters.html
  gyrinx/core/templates/core/campaign/campaign_resource_modify.html
  gyrinx/core/templates/core/campaign/campaign_start.html
  gyrinx/core/templates/core/campaign/includes/status.html
  gyrinx/core/templates/core/includes/_alert_inner.html
  gyrinx/core/templates/core/includes/alert.html
  gyrinx/core/templates/core/includes/campaign_captured_fighters.html
  gyrinx/core/templates/core/includes/empty_state.html
  gyrinx/core/templates/core/includes/fighter_card_content.html
  gyrinx/core/templates/core/includes/fighter_card_gear.html
  gyrinx/core/templates/core/includes/fighter_card_stash.html
  gyrinx/core/templates/core/includes/fighter_skills_filter.html
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/list_attributes_manage.html
  gyrinx/core/templates/core/list_fighter_injuries_edit.html
  gyrinx/core/templates/core/list_fighter_psyker_powers_edit.html
  gyrinx/core/templates/core/list_fighter_skills_edit.html
  gyrinx/core/templates/core/list_fighter_state_edit.html
  gyrinx/core/templates/core/list_new.html
  gyrinx/core/templates/core/list_new_packs.html
  gyrinx/core/templates/core/list_packs.html
  gyrinx/core/templates/core/pack/pack_campaigns.html
  gyrinx/core/templates/core/pack/packs.html
  gyrinx/core/templates/core/print_config/index.html
  gyrinx/templates/404.html
  gyrinx/templates/errors/error.html
  playbooks/design-system/output/SUMMARY.md
  scripts/lint_templates.py
Due: check-fmt, markdownlint

fix: PR feedback — aria-hidden on icons, linter accuracy, .small straggler
  gyrinx/core/templates/core/includes/_alert_inner.html
  gyrinx/core/templates/core/list_attributes_manage.html
  gyrinx/templates/404.html
  gyrinx/templates/errors/error.html
  scripts/lint_templates.py
Due: none

feat: offer Content Packs to lists contextually based on campaign membership (#1613)
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/list/invitation_pack_setup.html
  gyrinx/core/templates/core/list_packs.html
  gyrinx/core/tests/test_invitation_pack_setup.py
  gyrinx/core/urls.py
  gyrinx/core/views/list/invitations.py
  gyrinx/core/views/list/views.py
  gyrinx/core/views/pack.py
Due: none

feat: design system component includes, linting script, and remaining migrations (#1617)
  docs/DESIGN-SYSTEM.md
  gyrinx/core/templates/core/campaign/campaign_action_outcome.html
  gyrinx/core/templates/core/campaign/campaign_captured_fighters.html
  gyrinx/core/templates/core/campaign/campaign_resource_modify.html
  gyrinx/core/templates/core/campaign/campaign_start.html
  gyrinx/core/templates/core/campaign/includes/status.html
  gyrinx/core/templates/core/includes/_alert_inner.html
  gyrinx/core/templates/core/includes/alert.html
  gyrinx/core/templates/core/includes/campaign_captured_fighters.html
  gyrinx/core/templates/core/includes/empty_state.html
  gyrinx/core/templates/core/includes/fighter_card_content.html
  gyrinx/core/templates/core/includes/fighter_card_gear.html
  gyrinx/core/templates/core/includes/fighter_card_stash.html
  gyrinx/core/templates/core/includes/fighter_skills_filter.html
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/list_attributes_manage.html
  gyrinx/core/templates/core/list_fighter_injuries_edit.html
  gyrinx/core/templates/core/list_fighter_psyker_powers_edit.html
  gyrinx/core/templates/core/list_fighter_skills_edit.html
  gyrinx/core/templates/core/list_fighter_state_edit.html
  gyrinx/core/templates/core/list_new.html
  gyrinx/core/templates/core/list_new_packs.html
  gyrinx/core/templates/core/pack/pack_campaigns.html
  gyrinx/core/templates/core/pack/packs.html
  gyrinx/core/templates/core/print_config/index.html
  gyrinx/templates/404.html
  gyrinx/templates/errors/error.html
  playbooks/design-system/output/SUMMARY.md
  scripts/lint_templates.py
Due: check-fmt, markdownlint

feat: unify UI patterns across all form and multi-step views
  gyrinx/core/templates/core/battle/battle_edit.html
  gyrinx/core/templates/core/battle/battle_new.html
  gyrinx/core/templates/core/battle/battle_note_add.html
  gyrinx/core/templates/core/campaign/fighter_release.html
  gyrinx/core/templates/core/campaign/fighter_return_to_owner.html
  gyrinx/core/templates/core/campaign/fighter_sell_to_guilders.html
  gyrinx/core/templates/core/includes/step_progress.html
  gyrinx/core/templates/core/list/list_invitations.html
  gyrinx/core/templates/core/list_attributes_manage.html
  gyrinx/core/templates/core/list_campaign_clones.html
  gyrinx/core/templates/core/list_credits_edit.html
  gyrinx/core/templates/core/list_fighter_add_injury.html
  gyrinx/core/templates/core/list_fighter_advancement_other.html
  gyrinx/core/templates/core/list_fighter_advancements.html
  gyrinx/core/templates/core/list_fighter_counters_edit.html
  gyrinx/core/templates/core/list_fighter_equipment_sell.html
  gyrinx/core/templates/core/list_fighter_injuries_edit.html
  gyrinx/core/templates/core/list_fighter_remove_injury.html
  gyrinx/core/templates/core/list_fighter_resurrect.html
  gyrinx/core/templates/core/list_fighter_state_edit.html
  gyrinx/core/templates/core/list_fighter_xp_edit.html
  gyrinx/core/templates/core/vehicle_confirm.html
  gyrinx/core/templates/core/vehicle_crew.html
  gyrinx/core/templates/core/vehicle_select.html
Due: none

feat: unify gap classes, submit labels, form rendering, and search bars
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/templates/core/battle/battle_edit.html
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_actions.html
  gyrinx/core/templates/core/campaign/campaign_add_lists.html
  gyrinx/core/templates/core/campaign/campaign_assets.html
  gyrinx/core/templates/core/campaign/campaign_attribute_type_new.html
  gyrinx/core/templates/core/campaign/campaign_attributes.html
  gyrinx/core/templates/core/campaign/campaign_battles.html
  gyrinx/core/templates/core/campaign/campaign_packs.html
  gyrinx/core/templates/core/campaign/campaign_resources.html
  gyrinx/core/templates/core/campaign/campaign_sub_asset_edit.html
  gyrinx/core/templates/core/list.html
  gyrinx/core/templates/core/list_about.html
  gyrinx/core/templates/core/list_credits_edit.html
  gyrinx/core/templates/core/list_fighter_state_edit.html
  gyrinx/core/templates/core/list_fighter_stats_edit.html
  gyrinx/core/templates/core/list_fighter_xp_edit.html
  gyrinx/core/templates/core/list_notes.html
  gyrinx/core/templates/core/list_packs.html
  gyrinx/core/templates/core/list_print.html
  gyrinx/core/templates/core/pack/pack.html
Due: none

fix: update design system page for three-tier heading system
  gyrinx/core/templates/core/debug/design_system.html
Due: none

feat: add "Your Packs only" filter to campaign packs page
  gyrinx/core/templates/core/campaign/campaign_packs.html
  gyrinx/core/views/campaign/packs.py
Due: none

feat: three-tier heading system — h1, h1.h2, h1.h3
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_add_lists.html
  gyrinx/core/templates/core/campaign/campaign_assets.html
  gyrinx/core/templates/core/campaign/campaign_attributes.html
  gyrinx/core/templates/core/campaign/campaign_battles.html
  gyrinx/core/templates/core/campaign/campaign_captured_fighters.html
  gyrinx/core/templates/core/campaign/campaign_copy_from.html
  gyrinx/core/templates/core/campaign/campaign_copy_to.html
  gyrinx/core/templates/core/campaign/campaign_resources.html
  gyrinx/core/templates/core/campaign/fighter_release.html
  gyrinx/core/templates/core/campaign/fighter_return_to_owner.html
  gyrinx/core/templates/core/campaign/fighter_sell_to_guilders.html
  gyrinx/core/templates/core/debug/design_system.html
  gyrinx/core/templates/core/includes/list_common_header.html
  gyrinx/core/templates/core/layouts/page.html
  gyrinx/core/templates/core/pack/pack.html
Due: none

fix: update design system page to reflect gap-4 unification
  gyrinx/core/templates/core/debug/design_system.html
Due: none

fix: unify campaign packs page to match list packs visual style
  gyrinx/core/templates/core/campaign/campaign_packs.html
Due: none

fix: update test assertion for lowercase 'gangs' in campaign packs template
  gyrinx/core/tests/test_campaign_packs.py
Due: none

fix: PR feedback — heading semantics, accessibility, progress bar, test
  gyrinx/core/templates/core/campaign/campaign_packs.html
  gyrinx/core/templates/core/includes/list_common_header.html
  gyrinx/core/templates/core/includes/step_progress.html
  gyrinx/core/templates/core/list_packs.html
  gyrinx/core/tests/test_campaign_packs.py
Due: none

feat: add step progress pattern to design system page
  gyrinx/core/templates/core/debug/design_system.html
Due: none

fix: add subtitle to step progress, increase bar-to-title spacing
  gyrinx/core/templates/core/debug/design_system.html
  gyrinx/core/templates/core/includes/step_progress.html
Due: none

perf: add pack-aware prefetch strategy for skilline and ruleline
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/list_performance.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_ruleline_skilline_queries.py
  gyrinx/core/views/list/views.py
Due: check-fmt

feat: group skills by skill tree on pack detail page
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/views/pack.py
Due: none

feat: reorder pack detail sections and add equipment divider
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/views/pack.py
Due: none

fix: remove col-md-9 from pack info div — page is already constrained
  gyrinx/core/templates/core/pack/pack.html
Due: none

fix: refine skills section header — linked add-skill, simplified button
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/views/pack.py
Due: none
