Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

Attempt to fix traces in prod (#1118)
  .claude/notes/logging-complete-fix.md
  .claude/notes/logging-implementation-examples.md
  .claude/notes/logging-root-cause-analysis.md
  .claude/notes/logging-trace-correlation.md
  gyrinx/settings.py
  gyrinx/settings_prod.py
Due: check-fmt, markdownlint

Move into models directory
  gyrinx/content/models/__init__.py
Due: none

Move to content file
  gyrinx/content/models/__init__.py
  gyrinx/content/models/content.py
Due: none

Shift base Content and skill models
  gyrinx/content/models/__init__.py
  gyrinx/content/models/base.py
  gyrinx/content/models/content.py
  gyrinx/content/models/skill.py
Due: none

Move base content model, house and pskyer
  gyrinx/content/admin.py
  gyrinx/content/models/content.py
  gyrinx/content/models/house.py
  gyrinx/content/models/psyker.py
  gyrinx/content/tests/test_psyker_discipline_modifiers.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_clone_psyker_and_additional.py
  gyrinx/core/tests/test_fighter_psyker_powers_edit.py
  gyrinx/core/tests/test_psyker.py
  gyrinx/core/views/fighter_helpers.py
  gyrinx/core/views/list.py
Due: none

Sonnet 4.5 -> Opus 4.5
  .github/workflows/claude-code-improvement.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-plan-action.yml
  .github/workflows/claude.yml
Due: check-fmt

Sonnet 4.5 -> Opus 4.5 (#1122)
  .github/workflows/claude-code-improvement.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-plan-action.yml
  .github/workflows/claude.yml
Due: check-fmt

Some tweaks
  gyrinx/core/templates/core/includes/list_common_header.html
  gyrinx/core/templates/core/list_credits_edit.html
  gyrinx/core/templates/core/list_fighter_advancements.html
  gyrinx/core/templates/core/list_fighter_archive.html
  gyrinx/core/templates/core/list_fighter_clone.html
  gyrinx/core/templates/core/list_fighter_edit.html
  gyrinx/core/templates/core/list_fighter_gear_edit.html
  gyrinx/core/templates/core/list_fighter_info_edit.html
  gyrinx/core/templates/core/list_fighter_narrative_edit.html
  gyrinx/core/templates/core/list_fighter_new.html
  gyrinx/core/templates/core/list_fighter_rules_edit.html
  gyrinx/core/templates/core/list_fighter_skills_edit.html
  gyrinx/core/templates/core/list_fighter_weapons_edit.html
  gyrinx/core/templates/core/list_fighter_xp_edit.html
  gyrinx/core/templates/core/print_config/index.html
  gyrinx/core/templates/core/vehicle_confirm.html
  gyrinx/core/templates/core/vehicle_crew.html
  gyrinx/core/templates/core/vehicle_select.html
Due: none

feat: add list_common_header to fighter and print config templates (#1124)
  gyrinx/core/templates/core/includes/list_common_header.html
  gyrinx/core/templates/core/list_credits_edit.html
  gyrinx/core/templates/core/list_fighter_advancements.html
  gyrinx/core/templates/core/list_fighter_archive.html
  gyrinx/core/templates/core/list_fighter_clone.html
  gyrinx/core/templates/core/list_fighter_edit.html
  gyrinx/core/templates/core/list_fighter_gear_edit.html
  gyrinx/core/templates/core/list_fighter_info_edit.html
  gyrinx/core/templates/core/list_fighter_narrative_edit.html
  gyrinx/core/templates/core/list_fighter_new.html
  gyrinx/core/templates/core/list_fighter_rules_edit.html
  gyrinx/core/templates/core/list_fighter_skills_edit.html
  gyrinx/core/templates/core/list_fighter_weapons_edit.html
  gyrinx/core/templates/core/list_fighter_xp_edit.html
  gyrinx/core/templates/core/print_config/index.html
  gyrinx/core/templates/core/vehicle_confirm.html
  gyrinx/core/templates/core/vehicle_crew.html
  gyrinx/core/templates/core/vehicle_select.html
Due: none

hotfix PG_HOSTPORT in docker-compose.yml
  docker-compose.yml
Due: check-fmt

fix: return 400 instead of 500 for RequestDataTooBig exception
  gyrinx/core/middleware.py
  gyrinx/core/tests/test_request_data_too_big.py
  gyrinx/settings.py
Due: none

feat: add ListAction tracking for fighter advancements
  gyrinx/core/handlers/fighter/__init__.py
  gyrinx/core/handlers/fighter/advancement.py
  gyrinx/core/handlers/fighter/hire_clone.py
  gyrinx/core/tests/test_handlers_fighter_operations.py
  gyrinx/core/views/list.py
Due: none

docs: remove TODOs and improve content.md
  docs/content.md
Due: check-fmt, markdownlint

docs: update temporal statement in lists.md
  docs/lists.md
Due: check-fmt, markdownlint

docs: streamline README.md with quick start guide
  README.md
Due: check-fmt, markdownlint

docs: add cross-references between fighter cost system docs
  docs/fighter-cost-system-design.md
  docs/fighter-cost-system-reference.md
Due: check-fmt, markdownlint

docs: rename 'Tutorials' section to 'Getting Started' in SUMMARY.md
  docs/SUMMARY.md
Due: check-fmt, markdownlint

docs: recategorise icon-usage and manual-testing-guide as reference
  docs/SUMMARY.md
Due: check-fmt, markdownlint

docs: improve statlines.md structure and clarity
  docs/technical-reference/statlines.md
Due: check-fmt, markdownlint

fix: add ValidationError handling for fighter advancement handler
  gyrinx/core/handlers/fighter/advancement.py
  gyrinx/core/views/list.py
Due: none

docs: add developer tutorial for first contribution
  docs/SUMMARY.md
  docs/developing-gyrinx/tutorial-first-contribution.md
Due: check-fmt, markdownlint

docs: make lists.md more developer-focused
  docs/lists.md
Due: check-fmt, markdownlint

docs: make campaigns.md more developer-focused
  docs/campaigns.md
Due: check-fmt, markdownlint

feat: add ListAction tracking for fighter advancements (#1125)
  gyrinx/core/handlers/fighter/__init__.py
  gyrinx/core/handlers/fighter/advancement.py
  gyrinx/core/handlers/fighter/hire_clone.py
  gyrinx/core/tests/test_handlers_fighter_operations.py
  gyrinx/core/views/list.py
Due: none

Clean out pointless tests, leaving one failing
  gyrinx/core/tests/test_request_data_too_big.py
Due: none

fix: eliminate duplicate log entries in production
  gyrinx/settings.py
  gyrinx/settings_dev.py
  gyrinx/settings_prod.py
  gyrinx/tests/test_tracker.py
  gyrinx/tracker.py
Due: none

docs: expand security-baseline.md with additional practices
  docs/content.md
  docs/security-baseline.md
Due: check-fmt, markdownlint

A few tweaks
  docs/content.md
  docs/operations/content-data-management.md
Due: check-fmt, markdownlint

docs: implement documentation audit recommendations (#1126)
  README.md
  docs/SUMMARY.md
  docs/campaigns.md
  docs/content.md
  docs/developing-gyrinx/tutorial-first-contribution.md
  docs/fighter-cost-system-design.md
  docs/fighter-cost-system-reference.md
  docs/lists.md
  docs/operations/content-data-management.md
  docs/security-baseline.md
  docs/technical-reference/statlines.md
Due: check-fmt, markdownlint

fixup caplog
  gyrinx/tests/test_tracker.py
Due: none

fix: eliminate duplicate log entries in production (#1128)
  gyrinx/settings.py
  gyrinx/settings_dev.py
  gyrinx/settings_prod.py
  gyrinx/tests/test_tracker.py
  gyrinx/tracker.py
Due: none

fix: grant write permissions to Claude workflow and add main branch protection
  .github/workflows/claude.yml
Due: check-fmt

fix: check PR base ref for main branch protection
  .github/workflows/claude.yml
Due: check-fmt

fix: grant write permissions to Claude workflow and add main branch protection (#1129)
  .github/workflows/claude.yml
Due: check-fmt

feat: add ListAction tracking for equipment sales
  gyrinx/core/handlers/equipment_purchases.py
  gyrinx/core/tests/test_handlers_equipment_purchases.py
  gyrinx/core/views/list.py
Due: none

fix: restore project_id for trace correlation in StructuredLogHandler
  gyrinx/settings_prod.py
Due: none

fix: restore project_id for trace correlation in StructuredLogHandler (#1131)
  gyrinx/settings_prod.py
Due: none

feat: add ListAction tracking for equipment sales (#1130)
  gyrinx/core/handlers/equipment_purchases.py
  gyrinx/core/tests/test_handlers_equipment_purchases.py
  gyrinx/core/views/list.py
Due: none

fix: restore project_id for trace correlation in StructuredLogHandler
  .claude/notes/tracing-spans-pattern.md
  docs/SUMMARY.md
  docs/logging-and-tracing-reference.md
  gyrinx/asgi.py
  gyrinx/settings_prod.py
  gyrinx/tests/test_tracing.py
  gyrinx/tracing.py
  gyrinx/wsgi.py
  requirements.txt
Due: check-fmt, markdownlint
