Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

fix: read pet names off the settled roster order, and name them on the print picker
  n26/core/render.py
  n26/core/templates/n26/print_setup.html
  n26/tests/sandbox/test_pets.py
Due: none

perf: key the arbitrator's badge read on the method in every campaign view that acts
  n26/core/views/campaigns.py
  n26/tests/test_badges.py
Due: none

feat: add FlatPageOptions.introduction, give flatpage h4 its own colour
  docs/DESIGN-SYSTEM.md
  gyrinx/pages/admin.py
  gyrinx/pages/migrations/0009_flatpageoptions_introduction.py
  gyrinx/pages/models.py
  gyrinx/pages/templates/flatpages/default.html
  gyrinx/pages/templates/flatpages/includes/introduction.html
  gyrinx/pages/templatetags/pages.py
  gyrinx/pages/tests/test_page_contents.py
  n23/core/static/core/scss/styles.scss
  n23/core/templates/core/debug/design_system.html
Due: check-fmt, markdownlint

feat: add FlatPageOptions.introduction, give flatpage h4 its own colour (#2565)
  docs/DESIGN-SYSTEM.md
  gyrinx/pages/admin.py
  gyrinx/pages/migrations/0009_flatpageoptions_introduction.py
  gyrinx/pages/models.py
  gyrinx/pages/templates/flatpages/default.html
  gyrinx/pages/templates/flatpages/includes/introduction.html
  gyrinx/pages/templatetags/pages.py
  gyrinx/pages/tests/test_page_contents.py
  n23/core/static/core/scss/styles.scss
  n23/core/templates/core/debug/design_system.html
Due: check-fmt, markdownlint

fix: carry each card screen's own query state on a redrawn card
  n26/core/templates/cotton/n26/view/model_edit.html
  n26/core/test_views_options.py
  n26/core/views/edit.py
  n26/core/views/options.py
  n26/designsystem/tests.py
  n26/tests/sandbox/test_counters.py
Due: none

fix: address a tally on the Equip card to the Equip screen, and one card host
  n26/core/forms.py
  n26/core/templates/cotton/n26/model_header.html
  n26/core/templates/cotton/n26/view/model_edit.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/model_card_host.html
  n26/core/test_views_equip.py
  n26/core/views/edit.py
  n26/core/widgets.py
  n26/designsystem/catalog.py
  n26/designsystem/forms.py
  n26/designsystem/templates/designsystem/demos/view-model-edit/10-edit.html
  n26/designsystem/tests.py
Due: none

feat: draw the model card above the tabs on n26 Edit, Equip and Options
  n26/core/forms.py
  n26/core/templates/cotton/n26/model_header.html
  n26/core/templates/cotton/n26/view/model_edit.html
  n26/core/templates/n26/equip.html
  n26/core/templates/n26/fighter_options.html
  n26/core/templates/n26/includes/equip_update.html
  n26/core/templates/n26/includes/model_card_host.html
  n26/core/templates/n26/includes/model_card_update.html
  n26/core/templates/n26/includes/model_name_action.html
  n26/core/test_views_edit.py
  n26/core/test_views_equip.py
  n26/core/test_views_gang_equip.py
  n26/core/test_views_options.py
  n26/core/views/edit.py
  n26/core/views/equip.py
  n26/core/views/options.py
  n26/designsystem/catalog.py
  n26/designsystem/forms.py
  n26/designsystem/templates/designsystem/demos/model-header/20-with-card.html
  n26/designsystem/templates/designsystem/demos/view-model-edit/10-edit.html
  n26/designsystem/tests.py
Due: none

fix: halve the model card from lg, not xl
  n26/core/templates/cotton/n26/model_header.html
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/model-header/20-with-card.html
  n26/designsystem/templates/designsystem/demos/view-model-edit/10-edit.html
Due: none

fix: read a malformed `back` on a card tally as the Edit face, not a 500
  n26/core/test_views_equip.py
  n26/core/views/edit.py
Due: none

fix: halve the model card, drop its inner tabs, and pair Characteristics with Subtypes & Rules
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/cotton/n26/model_header.html
  n26/core/templates/cotton/n26/statline/edit.html
  n26/core/templates/cotton/n26/view/model_edit.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/model_card_host.html
  n26/core/test_views_edit.py
  n26/core/views/edit.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/model-header/20-with-card.html
  n26/designsystem/templates/designsystem/demos/statline/45-editable-wrap.html
  n26/designsystem/templates/designsystem/demos/view-model-edit/10-edit.html
Due: none

test: drop the edit-page half of TestTheScreensAgree
  n26/tests/sandbox/test_equipment_list_order.py
Due: none

feat: add DEBUG-only agent_login_url links for local users
  .agents/skills/dev-server/SKILL.md
  .agents/skills/pr-screenshots/SKILL.md
  CLAUDE.md
  gyrinx/debug_login.py
  gyrinx/tests/test_debug_login.py
  gyrinx/tests/test_screenshot_script.py
  gyrinx/urls.py
  gyrinx/views_debug.py
  n23/core/management/commands/agent_login_url.py
  scripts/README.md
  scripts/screenshot.py
Due: check-fmt, markdownlint

feat: draw the model card above the tabs on n26 Edit, Equip and Options (#2559)
  n26/core/forms.py
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/cotton/n26/model_header.html
  n26/core/templates/cotton/n26/statline/edit.html
  n26/core/templates/cotton/n26/view/model_edit.html
  n26/core/templates/n26/equip.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/fighter_options.html
  n26/core/templates/n26/includes/equip_update.html
  n26/core/templates/n26/includes/model_card_host.html
  n26/core/templates/n26/includes/model_card_update.html
  n26/core/templates/n26/includes/model_name_action.html
  n26/core/test_views_edit.py
  n26/core/test_views_equip.py
  n26/core/test_views_gang_equip.py
  n26/core/test_views_options.py
  n26/core/views/edit.py
  n26/core/views/equip.py
  n26/core/views/options.py
  n26/core/widgets.py
  n26/designsystem/catalog.py
  n26/designsystem/forms.py
  n26/designsystem/templates/designsystem/demos/model-header/20-with-card.html
  n26/designsystem/templates/designsystem/demos/statline/45-editable-wrap.html
  n26/designsystem/templates/designsystem/demos/view-model-edit/10-edit.html
  n26/designsystem/tests.py
  n26/tests/sandbox/test_counters.py
  n26/tests/sandbox/test_equipment_list_order.py
Due: none

feat: add a model-card header specimen to the gallery, with long and short names
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/model-card/15-header.html
  n26/designsystem/tests.py
  n26/designsystem/views.py
Due: none

fix: validate agent_login_url users without modifying collisions
  .agents/skills/dev-server/SKILL.md
  AGENTS.md
  CLAUDE.md
  gyrinx/debug_login.py
  gyrinx/tests/test_debug_login.py
  gyrinx/tests/test_screenshot_script.py
  gyrinx/views_debug.py
  scripts/screenshot.py
Due: check-fmt, markdownlint

feat: draw the status on the model-card header specimens
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/model-card/15-header.html
  n26/designsystem/tests.py
  n26/designsystem/views.py
Due: none

feat: add DEBUG-only agent_login_url links for local users (#2566)
  .agents/skills/dev-server/SKILL.md
  .agents/skills/pr-screenshots/SKILL.md
  AGENTS.md
  CLAUDE.md
  gyrinx/debug_login.py
  gyrinx/tests/test_debug_login.py
  gyrinx/tests/test_screenshot_script.py
  gyrinx/urls.py
  gyrinx/views_debug.py
  n23/core/management/commands/agent_login_url.py
  scripts/README.md
  scripts/screenshot.py
Due: check-fmt, markdownlint

fix: name a stale base ref first when the migration leaf check refuses a branch
  n23/core/management/commands/check_migration_conflicts.py
Due: none

fix: keep fmt.sh and worktree venvs aligned with uv.lock
  .codex/run.sh
  .github/dependabot.yml
  .github/workflows/ci-checks.yml
  .pre-commit-config.yaml
  gyrinx/tests/test_formatter_versions.py
  gyrinx/tests/test_worktree_venv.py
  scripts/activate_venv_hook.sh
  scripts/check_formatter_versions.py
  scripts/dev.sh
  scripts/fmt.sh
  scripts/lib/worktree.sh
Due: check-fmt

fix: draw the owner's chain beside the model's name, and say "Owned by" in its tooltip
  n26/core/templates/cotton/n26/model_card/index.html
  n26/designsystem/templates/designsystem/demos/model-card/15-header.html
Due: none

fix: a cancelled migration watch run no longer reports a pass
  .github/workflows/migration-watch.yml
  scripts/migration_watch_report.py
Due: check-fmt

fix: run formatter pin guard before pre-commit formatters
  .pre-commit-config.yaml
  gyrinx/tests/test_formatter_versions.py
  scripts/lib/worktree.sh
Due: check-fmt

fix: a skipped migration watch check is not a pass either
  gyrinx/tests/test_migration_watch_report.py
  scripts/migration_watch_report.py
Due: none

fix: fail closed when venv freshness is uncertain
  .github/dependabot.yml
  gyrinx/tests/test_formatter_versions.py
  gyrinx/tests/test_worktree_venv.py
  scripts/activate_venv_hook.sh
  scripts/lib/worktree.sh
Due: check-fmt

fix: include project metadata in venv freshness
  .codex/run.sh
  .pre-commit-config.yaml
  gyrinx/tests/test_worktree_venv.py
  scripts/activate_venv_hook.sh
  scripts/lib/worktree.sh
Due: check-fmt

fix: share stamped provisioning with web setup
  .github/dependabot.yml
  gyrinx/tests/test_worktree_venv.py
  scripts/lib/worktree.sh
  scripts/setup_web.sh
Due: check-fmt

fix: the overlap check only counts when it produced findings
  gyrinx/tests/test_migration_watch_report.py
  n23/core/management/commands/check_migration_conflicts.py
  scripts/migration_watch_report.py
Due: none

fix: serialize worktree venv provisioning
  gyrinx/tests/test_worktree_venv.py
  scripts/lib/worktree.sh
Due: none

fix: verify editable install before stamping venv
  gyrinx/tests/test_formatter_versions.py
  gyrinx/tests/test_worktree_venv.py
  scripts/activate_venv_hook.sh
  scripts/dev.sh
  scripts/lib/worktree.sh
Due: none

fix: make venv provision locks recoverable
  .gitignore
  gyrinx/tests/test_worktree_venv.py
  scripts/dev.sh
  scripts/lib/worktree.sh
Due: none

fix: stop migration watch calling a branch clear without checking it (#2567)
  .github/workflows/migration-watch.yml
  gyrinx/tests/test_migration_watch_report.py
  n23/core/management/commands/check_migration_conflicts.py
  scripts/migration_watch_report.py
Due: check-fmt

style: draw the owner's chain smaller beside the model's name
  n26/core/templates/cotton/n26/model_card/index.html
Due: none

feat: add Interstitial and InterstitialSlot to the library with an authoring page
  n26/library/admin.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/deletion.py
  n26/library/migrations/0108_a_slot_can_carry_an_interstitial.py
  n26/library/models/__init__.py
  n26/library/models/slots.py
  n26/library/references.py
  n26/library/specs.py
  n26/library/staged.py
  n26/library/templates/authoring/interstitial_detach.html
  n26/library/test_admin.py
  n26/library/test_slots.py
  n26/library/test_staged.py
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
  n26/urls.py
Due: check-fmt, markdownlint

fix: keep a staged attachment off the player path and raise only the real duplicate
  n26/library/admin.py
  n26/library/authoring.py
  n26/library/models/slots.py
  n26/library/test_admin.py
  n26/library/test_slots.py
Due: none

fix: inherit the interstitial's pack on admin-added attachments and keep the staged page flat
  n26/library/admin.py
  n26/library/migrations/0108_a_slot_can_carry_an_interstitial.py
  n26/library/models/slots.py
  n26/library/staged.md
  n26/library/test_admin.py
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
Due: check-fmt, markdownlint

fix: let an admin attachment's blank pack mean the interstitial's, and honour a pack picked by hand
  n26/library/admin.py
  n26/library/test_admin.py
Due: none

fix: keep InterstitialSlot in its interstitial's pack and read archived packs consistently
  n26/library/admin.py
  n26/library/authoring.py
  n26/library/models/slots.py
  n26/library/specs.py
  n26/library/test_slots.py
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
Due: none

fix: give Slot.interstitials an archive-inclusive read and order it by the interstitial's position
  n26/library/models/slots.py
  n26/library/staged.md
  n26/library/test_slots.py
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
Due: check-fmt, markdownlint

fix: fill an admin attachment's blank pack in the form's save, for existing rows too
  n26/library/admin.py
  n26/library/test_admin.py
Due: none
