Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

fix: improve lore page fighter headings and edit return URLs
  gyrinx/core/templates/core/includes/list_about.html
  gyrinx/core/templates/core/list_edit.html
  gyrinx/core/views/list/views.py
Due: none

fix: add missing return_url on empty lore link and add edit_list redirect tests
  gyrinx/core/templates/core/includes/list_about.html
  gyrinx/core/tests/test_integration_core_functionality.py
Due: none

fix: improve lore page fighter headings and edit return URLs (#1702)
  gyrinx/core/templates/core/includes/list_about.html
  gyrinx/core/templates/core/list_edit.html
  gyrinx/core/tests/test_integration_core_functionality.py
  gyrinx/core/views/list/views.py
Due: none

feat: use fighter preview cards on pack detail page
  gyrinx/core/templates/core/pack/includes/fighter_preview_card.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/views/pack.py
Due: none

perf: prefetch weapon traits to avoid N+1 on pack detail
  .gitignore
  gyrinx/core/views/pack.py
  pyproject.toml
Due: none

feat: add Edit links to Weapons and Gear sections in fighter preview card
  gyrinx/core/templates/core/pack/includes/fighter_preview_card.html
  gyrinx/core/templates/core/pack/pack.html
Due: none

style: display fighter cards in two-column grid on pack detail page
  gyrinx/core/templates/core/pack/pack.html
Due: none

perf: prefetch weapon accessories and modifiers on pack detail
  gyrinx/core/views/pack.py
Due: none

chore: remove pr-feedback skill (now installed externally)
  .claude/skills/pr-feedback/SKILL.md
Due: check-fmt, markdownlint

feat: use fighter preview cards on pack detail page (#1704)
  .gitignore
  gyrinx/core/templates/core/pack/includes/fighter_preview_card.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/views/pack.py
  pyproject.toml
Due: none

feat: add featured content packs to Customisation page
  gyrinx/core/admin/pack.py
  gyrinx/core/migrations/0142_add_featured_fields_to_custom_content_pack.py
  gyrinx/core/models/pack.py
  gyrinx/core/templates/core/includes/packs_filter.html
  gyrinx/core/templates/core/list_new_packs.html
  gyrinx/core/templates/core/pack/packs.html
  gyrinx/core/views/pack.py
Due: none

test: add tests for featured packs on Customisation page
  gyrinx/core/tests/test_views_pack.py
Due: none

chore: remove pr-feedback skill (now installed externally) (#1705)
  .claude/skills/pr-feedback/SKILL.md
Due: check-fmt, markdownlint

Update the performance test
  gyrinx/core/tests/fixtures/performance_view_queries.json
Due: check-fmt

feat: add featured content packs to Customisation page (#1703)
  gyrinx/core/admin/pack.py
  gyrinx/core/migrations/0142_add_featured_fields_to_custom_content_pack.py
  gyrinx/core/models/pack.py
  gyrinx/core/templates/core/includes/packs_filter.html
  gyrinx/core/templates/core/list_new_packs.html
  gyrinx/core/templates/core/pack/packs.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: check-fmt

feat: add description field to ContentHouse and ContentEquipment
  CLAUDE.md
  gyrinx/content/migrations/0161_add_description_to_house_and_equipment.py
  gyrinx/content/models/equipment.py
  gyrinx/content/models/house.py
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
Due: check-fmt, markdownlint

feat: add description field to Content Pack houses and gear (#1708)
  CLAUDE.md
  gyrinx/content/migrations/0161_add_description_to_house_and_equipment.py
  gyrinx/content/models/equipment.py
  gyrinx/content/models/house.py
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
Due: check-fmt, markdownlint

fix: validate redirect URL in pack selection view with safe_redirect
  gyrinx/core/views/list/views.py
Due: none

Add safe redirect with fallback for new list packs view (#1711)
  gyrinx/core/views/list/views.py
Due: none

fix: filter out archived packs in PacksView and PackDetailView
  gyrinx/core/views/pack.py
Due: none

feat: make content pack pages accessible to logged-out users (#1716)
  gyrinx/core/templates/core/layouts/base.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: none

feat: add weapon accessory support to content packs
  gyrinx/content/migrations/0162_weapon_accessory_pack_support.py
  gyrinx/content/models/weapon.py
  gyrinx/core/forms/list.py
  gyrinx/core/forms/pack.py
  gyrinx/core/handlers/fighter/kill.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/includes/fighter_card_stash.html
  gyrinx/core/templates/core/includes/list_fighter_weapon_rows.html
  gyrinx/core/templates/core/pack/includes/_accessory_mods_picker.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_item_add.html
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_pack_weapon_accessories.py
  gyrinx/core/views/fighter/equipment.py
  gyrinx/core/views/pack.py
Due: check-fmt

fix: pack accessory delete and sale silently no-op'd
  gyrinx/core/handlers/equipment/removal.py
  gyrinx/core/handlers/equipment/sale.py
  gyrinx/core/tests/test_pack_weapon_accessories.py
  gyrinx/core/views/fighter/equipment.py
Due: none

feat: weapon accessory CRUD on pack fighter equipment list
  gyrinx/core/templates/core/pack/includes/fighter_equipment_list.html
  gyrinx/core/templates/core/pack/pack_fighter_equipment_list_accessory_add.html
  gyrinx/core/templates/core/pack/pack_fighter_equipment_list_accessory_edit.html
  gyrinx/core/templates/core/pack/pack_fighter_equipment_list_accessory_remove.html
  gyrinx/core/tests/test_views_pack_equipment_list.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: none

fix: PR feedback round 1
  gyrinx/core/forms/pack.py
  gyrinx/core/handlers/fighter/kill.py
  gyrinx/core/templates/core/pack/pack_item_add.html
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/tests/test_pack_weapon_accessories.py
  gyrinx/core/views/fighter/equipment.py
  gyrinx/core/views/pack.py
Due: none

fix: enforce base-accessory/trait uniqueness on direct ORM writes
  gyrinx/content/models/weapon.py
  gyrinx/core/tests/test_pack_weapon_accessories.py
Due: none

feat: add weapon accessory support to content packs (#1723)
  gyrinx/content/migrations/0162_weapon_accessory_pack_support.py
  gyrinx/content/models/weapon.py
  gyrinx/core/forms/list.py
  gyrinx/core/forms/pack.py
  gyrinx/core/handlers/equipment/removal.py
  gyrinx/core/handlers/equipment/sale.py
  gyrinx/core/handlers/fighter/kill.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/includes/fighter_card_stash.html
  gyrinx/core/templates/core/includes/list_fighter_weapon_rows.html
  gyrinx/core/templates/core/pack/includes/_accessory_mods_picker.html
  gyrinx/core/templates/core/pack/includes/fighter_equipment_list.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_fighter_equipment_list_accessory_add.html
  gyrinx/core/templates/core/pack/pack_fighter_equipment_list_accessory_edit.html
  gyrinx/core/templates/core/pack/pack_fighter_equipment_list_accessory_remove.html
  gyrinx/core/templates/core/pack/pack_item_add.html
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_pack_weapon_accessories.py
  gyrinx/core/tests/test_views_pack_equipment_list.py
  gyrinx/core/urls.py
  gyrinx/core/views/fighter/equipment.py
  gyrinx/core/views/pack.py
Due: check-fmt

feat: pack support for vehicles and exotic beasts
  gyrinx/content/models/signal_handlers.py
  gyrinx/core/forms/pack.py
  gyrinx/core/forms/vehicle.py
  gyrinx/core/templates/core/pack/includes/fighter_preview_card.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/tests/test_pack_vehicles_beasts.py
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: none

docs: add pack vehicles + exotic beasts plan note
  .claude/notes/pack-vehicles-beasts-plan.md
Due: check-fmt, markdownlint

feat: block fighter-linked equipment from pack default-equipment picker
  gyrinx/core/tests/test_pack_vehicles_beasts.py
  gyrinx/core/views/pack.py
Due: none

fix: PR feedback round 1 — auto-companion equipment via explicit FK
  gyrinx/content/migrations/0163_add_auto_companion_for_fighter.py
  gyrinx/content/models/equipment.py
  gyrinx/content/models/signal_handlers.py
  gyrinx/core/forms/pack.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_pack_vehicles_beasts.py
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: check-fmt

fix: PR feedback round 2 — comment, cost_display, plan note
  .claude/notes/pack-vehicles-beasts-plan.md
  gyrinx/core/templates/core/pack/includes/fighter_preview_card.html
  gyrinx/core/views/pack.py
Due: check-fmt, markdownlint

fix: vehicle_crew + vehicle_confirm views were not pack-aware
  gyrinx/core/tests/test_pack_vehicles_beasts.py
  gyrinx/core/views/vehicle.py
Due: none

fix: CrewSelectionForm did not include pack-defined crew fighters
  gyrinx/core/forms/vehicle.py
  gyrinx/core/tests/test_pack_vehicles_beasts.py
Due: none

feat: pack support for vehicles and exotic beasts (#1724)
  .claude/notes/pack-vehicles-beasts-plan.md
  gyrinx/content/migrations/0163_add_auto_companion_for_fighter.py
  gyrinx/content/models/equipment.py
  gyrinx/content/models/signal_handlers.py
  gyrinx/core/forms/pack.py
  gyrinx/core/forms/vehicle.py
  gyrinx/core/templates/core/pack/includes/fighter_preview_card.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_pack_vehicles_beasts.py
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
  gyrinx/core/views/vehicle.py
Due: check-fmt, markdownlint

fix: narrow IntegrityError catch to content_obj.save() only
  gyrinx/core/views/pack.py
Due: none

fix: small UX tweaks for pack fighter/vehicle creation
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/pack_item_add_stats.html
  gyrinx/core/views/pack.py
Due: none

fix: handle IntegrityError on duplicate content pack item creation (#1728)
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: none

fix: small UX tweaks for pack fighter/vehicle creation (#1731)
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/pack_item_add_stats.html
  gyrinx/core/views/pack.py
Due: none

fix: singular label override + clearer help text for pack fighter form
  gyrinx/core/forms/pack.py
  gyrinx/core/views/pack.py
Due: none
