Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

feat: gangs can be archived in bulk from the admin
  n26/core/admin.py
Due: none

feat: the n23 welcome names its edition and points at the other one
  n23/core/templates/core/index.html
Due: none

feat: the empty gang list offers the way out of being empty
  n26/core/templates/n26/dashboard.html
  n26/core/templates/n26/gangs.html
Due: none

chore: one Discord invite across the site
  CONTRIBUTING.md
  docs/SUMMARY.md
  docs/developing-gyrinx/tutorial-first-contribution.md
  gyrinx/templates/500.html
  gyrinx/templates/platform/includes/footer.html
  n23/core/templates/core/layouts/base.html
  n26/core/templates/cotton/n26/view/dashboard.html
  n26/core/templates/n26/layouts/base.html
  n26/core/test_views_dashboard.py
Due: check-fmt, markdownlint

feat: the gangs list comes a page at a time
  n26/core/templates/cotton/n26/gang_table/index.html
  n26/core/templates/n26/gangs.html
  n26/core/test_views_gangs.py
  n26/core/views/gangs.py
Due: none

feat: a weapon profile is corrected on a page of its own
  n26/library/specs.py
  n26/library/templates/authoring/detail.html
  n26/library/templates/authoring/weapon_profile.html
  n26/library/templatetags/authoring_nav.py
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
  n26/urls.py
Due: none

feat: listing rows link the thing and say the rest beside it
  n26/library/templates/authoring/_name_cell.html
  n26/library/templates/authoring/built_in_remove.html
  n26/library/templates/authoring/leaf.html
  n26/library/templates/authoring/modifier.html
  n26/library/templates/authoring/modifier_delete.html
  n26/library/templates/authoring/option_remove.html
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
Due: none

feat: the modifier page says what the modifier does, and prose stops offering routes nobody can take
  n26/library/prose.py
  n26/library/templates/authoring/modifier.html
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_prose.py
Due: none

feat: a weapon statline heads Strength as Str
  n26/library/authoring.py
  n26/library/forms.py
  n26/library/migrations/0053_a_shape_may_head_a_column_its_own_way.py
  n26/library/migrations/0054_weapon_shapes_print_strength_as_str.py
  n26/library/models/statline.py
  n26/library/specs.py
  n26/library/standard_content.py
  n26/library/views.py
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_foundations.py
  n26/tests/sandbox/test_weapon_statlines.py
Due: none

refactor: a pick is picked, an offer says where it will be assigned
  n26/core/browse.py
  n26/core/hire.py
  n26/core/listing.py
  n26/core/operations.py
  n26/core/templates/cotton/n26/hire_dialog.html
  n26/core/templates/n26/includes/equip_choices.html
  n26/core/templates/n26/includes/equip_line.html
  n26/core/templates/n26/includes/equip_owned_line.html
  n26/core/test_views_equip.py
  n26/core/test_views_options.py
  n26/core/views/equip.py
  n26/core/views/hire.py
  n26/core/views/learn.py
  n26/core/views/options.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/shell/shop.html
  n26/designsystem/tests.py
  n26/library/authoring.py
  n26/library/ingest.py
  n26/library/migrations/0055_an_offer_says_where_the_pick_will_be_assigned.py
  n26/library/models/collection.py
  n26/library/models/modifier.py
  n26/library/prose.py
  n26/library/specs.py
  n26/library/templates/authoring/entry_remove.html
  n26/library/views.py
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_buying_with_options.py
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_collections.py
  n26/tests/sandbox/test_editing_skills.py
  n26/tests/sandbox/test_hire_view.py
  n26/tests/sandbox/test_ingest.py
  n26/tests/sandbox/test_learning_skills.py
  n26/tests/sandbox/test_outcast_gang.py
  n26/tests/sandbox/test_screenshot_profiles.py
  n26/tests/sandbox/test_specs.py
Due: none

feat: a firing line is added on a page of its own, and can be removed
  n26/library/references.py
  n26/library/templates/authoring/detail.html
  n26/library/templates/authoring/weapon_profile_add.html
  n26/library/templates/authoring/weapon_profile_delete.html
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_foundations.py
  n26/urls.py
Due: none

feat: the gang buys equipment into its stash
  .markdownlint-cli2.mjs
  n26/core/browse.py
  n26/core/templates/n26/equip.html
  n26/core/templates/n26/gang_equip.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/test_views_equip.py
  n26/core/test_views_gang_equip.py
  n26/core/views/__init__.py
  n26/core/views/equip.py
  n26/tests/sandbox/test_buying_with_options.py
  n26/urls.py
Due: check-fmt

fix: the stash lead says equip, not hand
  n26/core/templates/n26/gang_equip.html
Due: none

fix: the stash lead says reassign, matching the control it points at
  n26/core/templates/n26/gang_equip.html
Due: none

feat: the authoring area gains a documentation section
  n26/library/CLAUDE.md
  n26/library/kinds.md
  n26/library/templates/authoring/doc.html
  n26/library/templates/authoring/docs.html
  n26/library/templates/authoring/index.html
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
  n26/urls.py
Due: check-fmt, markdownlint

docs: spec and compare the n23 campaign system against the n26 rules
  .claude/notes/campaigns-n23-vs-n26/comparison.md
  .claude/notes/campaigns-n23-vs-n26/n23-behaviour-detail.md
  .claude/notes/campaigns-n23-vs-n26/n23-campaign-spec.md
  .claude/notes/campaigns-n23-vs-n26/n26-campaign-spec.md
Due: check-fmt, markdownlint

docs: kinds.md gains weapons, wargear, skills and powers, and the other types
  n26/library/kinds.md
Due: check-fmt, markdownlint

docs: does n26 undermine the generic campaign model?
  .claude/notes/campaigns-n23-vs-n26/comparison.md
  .claude/notes/campaigns-n23-vs-n26/platform-design.md
Due: check-fmt, markdownlint

docs: the concepts page's file is called concepts.md
  n26/CLAUDE.md
  n26/library/CLAUDE.md
  n26/library/concepts.md
  n26/library/views.py
Due: check-fmt, markdownlint

perf: a cold container serves in seconds, not minutes
  Dockerfile
  cloudbuild.yaml
  docker/entrypoint.sh
  gyrinx/tasks/apps.py
  gyrinx/tasks/management/__init__.py
  gyrinx/tasks/management/commands/__init__.py
  gyrinx/tasks/management/commands/provision_tasks.py
  gyrinx/tasks/provisioning.py
  gyrinx/tasks/tests/test_provisioning.py
  gyrinx/wsgi.py
  n23/content/models/metadata.py
  n23/content/tests/test_page_ref_cache.py
Due: check-fmt

fix: review findings on the cold-start work
  cloudbuild.yaml
  docker/entrypoint.sh
  gyrinx/tasks/provisioning.py
  gyrinx/tasks/tests/test_provisioning.py
  n23/content/tests/test_page_ref_cache.py
Due: check-fmt

docs: the slots-and-picks spec is grounded in the rules
  .claude/notes/slots-and-picks.md
Due: check-fmt, markdownlint

docs: state the provisioning constraint in the present tense
  gyrinx/tasks/apps.py
Due: none

fix: hold the boot budget, and put collectstatic last
  Dockerfile
  cloudbuild.yaml
  gyrinx/tasks/provisioning.py
  gyrinx/tasks/tests/test_provisioning.py
Due: check-fmt

docs: the probe comment states one ceiling, not two
  cloudbuild.yaml
Due: check-fmt

docs: the conflict docstring matches the log levels it describes
  gyrinx/tasks/provisioning.py
Due: none

perf: a cold container serves in seconds, not minutes (#2176)
  Dockerfile
  cloudbuild.yaml
  docker/entrypoint.sh
  gyrinx/tasks/apps.py
  gyrinx/tasks/management/__init__.py
  gyrinx/tasks/management/commands/__init__.py
  gyrinx/tasks/management/commands/provision_tasks.py
  gyrinx/tasks/provisioning.py
  gyrinx/tasks/tests/test_provisioning.py
  gyrinx/wsgi.py
  n23/content/models/metadata.py
  n23/content/tests/test_page_ref_cache.py
Due: check-fmt

feat: choices are authored as slots and picks
  n26/core/browse.py
  n26/core/card.py
  n26/core/effects.py
  n26/core/migrations/0011_an_assignment_may_be_a_slot_or_its_pick.py
  n26/core/models/assignment.py
  n26/core/operations.py
  n26/core/render.py
  n26/core/test_assignable_wiring.py
  n26/core/views/choose.py
  n26/library/authoring.py
  n26/library/migrations/0057_choices_are_authored_as_slots_and_picks.py
  n26/library/models/__init__.py
  n26/library/models/defaults.py
  n26/library/models/modifier.py
  n26/library/models/slots.py
  n26/library/specs.py
  n26/library/test_slots.py
  n26/library/views.py
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_built_in_offers.py
  n26/tests/sandbox/test_prose.py
  n26/tests/sandbox/test_slots_and_picks.py
  n26/tests/sandbox/test_venator_skill_trees.py
Due: none

docs: the spec speaks the maintainer's rulings, not the old edition's books
  .claude/notes/slots-and-picks.md
Due: check-fmt, markdownlint

feat: a domain of choice is authored from one page
  n26/core/render.py
  n26/core/templates/cotton/n26/choice_offer.html
  n26/designsystem/sampledata.py
  n26/library/admin.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/forms.py
  n26/library/models/assignable.py
  n26/library/models/slots.py
  n26/library/prose.py
  n26/library/recipes.md
  n26/library/references.py
  n26/library/specs.py
  n26/library/templates/authoring/detail.html
  n26/library/templates/authoring/picklist_member_remove.html
  n26/library/templates/authoring/slot_type.html
  n26/library/test_admin.py
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_prose.py
  n26/tests/sandbox/test_slots_and_picks.py
  n26/urls.py
Due: check-fmt, markdownlint

test: the three example shapes walk through the real pages
  n26/tests/sandbox/test_gang_legacy.py
  n26/tests/sandbox/test_outcast_affiliation_shape.py
  n26/tests/sandbox/test_outcast_archetype_shape.py
Due: none

fix: picklist member ties fall back to name, as the help text says
  n26/library/migrations/0058_ties_fall_back_to_name.py
  n26/library/models/slots.py
Due: none

fix: the review round, batched
  .claude/notes/slots-and-picks.md
  n26/core/browse.py
  n26/core/card.py
  n26/core/effects.py
  n26/core/migrations/0012_a_pick_names_the_slot_it_settles.py
  n26/core/models/assignment.py
  n26/core/operations.py
  n26/core/render.py
  n26/core/templates/cotton/n26/choice_picks.html
  n26/core/templates/n26/choose.html
  n26/core/test_assignable_wiring.py
  n26/core/views/choose.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/choice-picks/10-part-way.html
  n26/designsystem/templates/designsystem/demos/choice-picks/20-full.html
  n26/designsystem/tests.py
  n26/library/concepts.md
  n26/library/forms.py
  n26/library/models/slots.py
  n26/library/specs.py
  n26/library/test_slots.py
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_slots_and_picks.py
Due: check-fmt, markdownlint

test: money tests in the picker suite reconcile, and one heading loses a banned word
  n26/tests/sandbox/test_slots_and_picks.py
Due: none

fix: the pages speak the spec's five nouns, and nothing coined
  .claude/notes/slots-and-picks-language.md
  n26/core/browse.py
  n26/core/card.py
  n26/core/effects.py
  n26/core/operations.py
  n26/core/render.py
  n26/core/templates/cotton/n26/choice_offer.html
  n26/core/templates/cotton/n26/choice_picks.html
  n26/designsystem/sampledata.py
  n26/library/admin.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/migrations/0059_slots_and_picks_say_slot_type_and_pickable.py
  n26/library/models/assignable.py
  n26/library/models/defaults.py
  n26/library/models/modifier.py
  n26/library/models/slots.py
  n26/library/prose.py
  n26/library/recipes.md
  n26/library/specs.py
  n26/library/templates/authoring/detail.html
  n26/library/templates/authoring/picklist_member_remove.html
  n26/library/templates/authoring/slot_type.html
  n26/library/test_admin.py
  n26/library/test_slots.py
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_gang_legacy.py
  n26/tests/sandbox/test_outcast_affiliation_shape.py
  n26/tests/sandbox/test_outcast_archetype_shape.py
  n26/tests/sandbox/test_prose.py
  n26/tests/sandbox/test_slots_and_picks.py
  n26/urls.py
Due: check-fmt, markdownlint

docs: the language table reflects the corrected round, and the draft says what renders
  .claude/notes/slots-and-picks-language.md
  n26/library/concepts.md
  n26/library/views.py
Due: check-fmt, markdownlint

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
