Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

fix: ask the Trade Point overspend question as a panel on htmx equip screens
  n26/core/templates/n26/includes/equip_overspend.html
  n26/core/test_views_overspend.py
  n26/core/views/equip.py
Due: none

fix: word TP as "uses" and name the finish button "Complete action"
  n26/core/templates/n26/trade_points.html
  n26/core/test_views_trade_points.py
  n26/core/views/equip.py
Due: none

fix: match the Visit Trading Post copy to the ranks the form offers
  n26/core/templates/n26/includes/stash_trading_post.html
  n26/core/templates/n26/trade_points.html
  n26/core/test_views_trade_points.py
  n26/core/views/gangs.py
  n26/designsystem/sampledata.py
Due: none

fix: renumber the trading post migration to 0031, behind the column drop
  n26/core/migrations/0031_a_gang_may_be_at_the_trading_post.py
Due: none

docs: how-to guide for building n26 screens with cotton, Alpine, and htmx (#2318)
  docs/SUMMARY.md
  docs/how-to-guides/n26-frontend-stack.md
Due: check-fmt, markdownlint

fix: renumber the trading post migration to 0032, behind the gang-delete cascade
  n26/core/migrations/0032_a_gang_may_be_at_the_trading_post.py
Due: none

feat: run_batched — resumable per-row maintenance runs with a cursor on the Backfill record
  n26/maintenance.py
  n26/tests/test_batched_runner.py
Due: none

fix: measure a Trade Point refund against the trip that bought the thing
  n26/core/models/gang.py
  n26/core/operations.py
  n26/core/reconcile.py
  n26/core/test_views_overspend.py
  n26/core/views/equip.py
  n26/tests/sandbox/test_trade_points.py
Due: none

fix: Edit ticks on the Choose list answer a Primary skill question
  n26/core/views/learn.py
  n26/tests/sandbox/test_editing_skills.py
  n26/tests/sandbox/test_learning_skills.py
Due: none

fix: review round — again() after the lock, keyset batches, _claim serves both run shapes
  n26/maintenance.py
  n26/tests/test_batched_runner.py
Due: none

fix: cancel checked before each batch; the hand-back enqueue may raise by design
  n26/maintenance.py
  n26/tests/test_batched_runner.py
Due: none

test: pin _offered_keys off the n26 gang sheet GET
  n26/tests/sandbox/test_editing_skills.py
Due: none

feat: run_batched runs maintenance work in resumable per-row batches (#2322)
  n26/maintenance.py
  n26/tests/test_batched_runner.py
Due: none

docs: C3 MERGED via #2322 — run_batched facts and C7 handover notes
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

fix: Edit ticks on the Choose list answer a Primary skill question (#2320)
  n26/core/views/learn.py
  n26/tests/sandbox/test_editing_skills.py
  n26/tests/sandbox/test_learning_skills.py
Due: none

fix: remove the rename pencil from the n26 gang-sheet model card
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/test_views_edit.py
  n26/core/test_views_rename.py
  n26/core/views/gangs.py
  n26/tests/sandbox/test_sharing_a_gang.py
Due: none

feat: audit_reconcile checks every gang's books from the maintenance console
  n26/core/templates/admin/maintenance/n26/audit.html
  n26/maintenance.py
  n26/tests/sandbox/test_books_audit.py
Due: none

feat: audit_reconcile checks every gang's books from the maintenance console (#2326)
  n26/core/templates/admin/maintenance/n26/audit.html
  n26/maintenance.py
  n26/tests/sandbox/test_books_audit.py
Due: none

docs: audit_reconcile (#2326) is the runner rehearsal and pre-C7 health check
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

fix: remove the rename pencil from the n26 gang-sheet model card (#2325)
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/test_views_edit.py
  n26/core/test_views_rename.py
  n26/core/views/gangs.py
  n26/tests/sandbox/test_sharing_a_gang.py
Due: none

fix: pin the app-move migrations to n23 core so empty databases migrate
  .github/workflows/test.yaml
  gyrinx/accounts/migrations/0001_move_userprofile_to_accounts.py
  gyrinx/analytics/migrations/0001_move_event_to_analytics.py
  gyrinx/maintenance/migrations/0001_move_backfill_to_maintenance.py
  gyrinx/site/migrations/0001_move_site_models_to_platform.py
  gyrinx/site/migrations/0002_move_notification_to_platform.py
Due: check-fmt

docs: prod audit run proves the runner and gates C7 on issue 2330
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

fix: n26 page-header stacks actions under the title on phones
  n26/core/templates/cotton/n26/page_header.html
  n26/core/test_page_header.py
Due: none

fix: stack n26 page-header as a column on phones
  n26/core/templates/cotton/n26/page_header.html
  n26/core/test_page_header.py
  n26/designsystem/templates/designsystem/demos/page-header/20-everything.html
Due: none

fix: keep n26 gang type and its icon on one line
  n26/core/templates/cotton/n26/flair_link.html
  n26/core/templates/cotton/n26/page_header.html
  n26/core/test_form_page.py
  n26/core/test_page_header.py
Due: none

fix: draw n26 flair-link badges at 1em via n26-icon-inline
  n26/core/templates/cotton/n26/flair_link.html
  n26/core/templates/cotton/n26/page_header.html
  n26/core/test_form_page.py
  n26/core/test_page_header.py
  n26/core/test_views_create_gang.py
  n26/tests/test_badges.py
Due: none

fix: let n26 page-header leads wrap and skip empty action rows
  n26/core/templates/cotton/n26/page_header.html
  n26/core/test_page_header.py
Due: none

fix: save n26 notes and lore without wiping the other box
  n26/core/forms.py
  n26/core/static/n26/richtext.js
  n26/core/templates/n26/edit_gang.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/test_views_edit.py
  n26/core/test_views_edit_gang.py
  n26/core/views/edit.py
  n26/core/views/gangs.py
  n26/core/views/htmx.py
Due: check-fmt

fix: n26 page-header stacks actions under the title on phones (#2331)
  n26/core/templates/cotton/n26/flair_link.html
  n26/core/templates/cotton/n26/page_header.html
  n26/core/test_form_page.py
  n26/core/test_page_header.py
  n26/core/test_views_create_gang.py
  n26/designsystem/templates/designsystem/demos/page-header/20-everything.html
  n26/tests/test_badges.py
Due: none

docs: tell agents how to log in locally via a session cookie
  .claude/skills/dev-server/SKILL.md
  AGENTS.md
  CLAUDE.md
Due: check-fmt, markdownlint

docs: tell agents how to log in locally via a session cookie (#2333)
  .claude/skills/dev-server/SKILL.md
  AGENTS.md
  CLAUDE.md
Due: check-fmt, markdownlint

fix: save n26 notes and lore without wiping the other box (#2332)
  n26/core/forms.py
  n26/core/static/n26/richtext.js
  n26/core/templates/n26/edit_gang.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/test_views_edit.py
  n26/core/test_views_edit_gang.py
  n26/core/views/edit.py
  n26/core/views/gangs.py
  n26/core/views/htmx.py
Due: check-fmt

feat: convert Outcast Affiliation onto slots and picks
  n26/core/templates/admin/maintenance/n26/_convert_detail.html
  n26/core/templates/admin/maintenance/n26/convert.html
  n26/library/conversion/__init__.py
  n26/library/conversion/affiliation.py
  n26/library/conversion/base.py
  n26/maintenance.py
  n26/tests/sandbox/test_conversion_affiliation.py
  n26/tests/sandbox/test_outcast_affiliation_flow.py
  n26/tests/sandbox/test_outcast_gang.py
  n26/tests/test_maintenance_console.py
Due: none

fix: _proof_words falls back like Plan.preview when reaches is 0
  n26/maintenance.py
  n26/tests/test_maintenance_console.py
Due: none

docs: plan converting n26 Affiliation onto slots and picks
  .claude/notes/affiliation-conversion-eval.md
  .claude/notes/affiliation-conversion-plan.md
  .claude/notes/conversion-cleanup-order.md
Due: check-fmt, markdownlint

docs: affiliation-conversion-plan matches isolation order and audit_reconcile
  .claude/notes/affiliation-conversion-plan.md
  .claude/notes/conversion-cleanup-order.md
Due: check-fmt, markdownlint

docs: evaluate converting Affiliation onto slots and picks
  .claude/notes/affiliation-conversion-eval.md
Due: check-fmt, markdownlint

docs: plan Affiliation conversion as one flip per system
  .claude/notes/affiliation-conversion-eval.md
  .claude/notes/affiliation-conversion-plan.md
  .claude/notes/conversion-cleanup-order.md
Due: check-fmt, markdownlint

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
