Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

perf: optimize print view with prefetches and expansion cost cache
  gyrinx/core/models/list.py
  gyrinx/core/views/list.py
Due: none

perf: optimize print view with prefetches and expansion cost cache (#1225)
  gyrinx/core/models/list.py
  gyrinx/core/views/list.py
Due: none

perf: fix N+1 queries in form group_select patterns
  gyrinx/content/models.py
  gyrinx/core/forms/list.py
  gyrinx/core/forms/vehicle.py
  gyrinx/core/models/list.py
  gyrinx/core/views/list.py
Due: none

perf: batch-fetch category restrictions in equipment edit view
  gyrinx/core/views/list.py
Due: none

perf: prefetch traits in edit_single_weapon view
  gyrinx/core/views/list.py
Due: none

Fix the performance tests
  gyrinx/core/tests/fixtures/performance_view_queries.json
Due: check-fmt

perf: fix N+1 queries in forms and weapon edit views (#1226)
  gyrinx/content/models.py
  gyrinx/core/forms/list.py
  gyrinx/core/forms/vehicle.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/views/list.py
Due: check-fmt

docs: comprehensive cost management system documentation
  .claude/notes/facts-propagation-system.md
  docs/SUMMARY.md
  docs/fighter-cost-system-design.md
  docs/fighter-cost-system-reference.md
  docs/how-to-guides/handler-development.md
  docs/technical-design/cost-propagation-architecture.md
  docs/technical-reference/prefetching-strategy.md
Due: check-fmt, markdownlint

feat: add trace performance analysis playbook
  .claude/commands/trace-playbook.md
  .claude/skills/trace-analysis.md
  .gitignore
  playbooks/trace/input/.gitkeep
  playbooks/trace/instructions.md
  playbooks/trace/output/.gitkeep
  playbooks/trace/reference/glossary.md
  playbooks/trace/reference/issue-taxonomy.md
  playbooks/trace/scripts/analyze_trace.py
  playbooks/trace/scripts/analyze_trace_detailed.py
  playbooks/trace/scripts/verify-completion.py
  playbooks/trace/stages/0-setup/README.md
  playbooks/trace/stages/1-per-span-group/README.md
  playbooks/trace/stages/2-pattern-aggregation/README.md
  playbooks/trace/stages/3-impact-synthesis/README.md
  playbooks/trace/stages/4-recommendations/README.md
  playbooks/trace/templates/bottleneck-analysis.md
  playbooks/trace/templates/comparison-analysis.md
  playbooks/trace/templates/issue-cluster.md
  playbooks/trace/templates/operation-profile.md
  playbooks/trace/templates/opportunity.md
  playbooks/trace/templates/recommendation-card.md
  playbooks/trace/templates/summary.md
Due: check-fmt, markdownlint

docs: address Copilot review feedback
  docs/fighter-cost-system-design.md
  docs/how-to-guides/handler-development.md
Due: check-fmt, markdownlint

feat: add trace performance analysis playbook (#1227)
  .claude/commands/trace-playbook.md
  .claude/skills/trace-analysis.md
  .gitignore
  playbooks/trace/input/.gitkeep
  playbooks/trace/instructions.md
  playbooks/trace/output/.gitkeep
  playbooks/trace/reference/glossary.md
  playbooks/trace/reference/issue-taxonomy.md
  playbooks/trace/scripts/analyze_trace.py
  playbooks/trace/scripts/analyze_trace_detailed.py
  playbooks/trace/scripts/verify-completion.py
  playbooks/trace/stages/0-setup/README.md
  playbooks/trace/stages/1-per-span-group/README.md
  playbooks/trace/stages/2-pattern-aggregation/README.md
  playbooks/trace/stages/3-impact-synthesis/README.md
  playbooks/trace/stages/4-recommendations/README.md
  playbooks/trace/templates/bottleneck-analysis.md
  playbooks/trace/templates/comparison-analysis.md
  playbooks/trace/templates/issue-cluster.md
  playbooks/trace/templates/operation-profile.md
  playbooks/trace/templates/opportunity.md
  playbooks/trace/templates/recommendation-card.md
  playbooks/trace/templates/summary.md
Due: check-fmt, markdownlint

docs: comprehensive cost management system documentation (#1228)
  .claude/notes/facts-propagation-system.md
  docs/SUMMARY.md
  docs/fighter-cost-system-design.md
  docs/fighter-cost-system-reference.md
  docs/how-to-guides/handler-development.md
  docs/technical-design/cost-propagation-architecture.md
  docs/technical-reference/prefetching-strategy.md
Due: check-fmt, markdownlint

refactor: split content models.py into domain-specific modules
  gyrinx/content/admin.py
  gyrinx/content/models.py
  gyrinx/content/models/__init__.py
  gyrinx/content/models/advancement.py
  gyrinx/content/models/attribute.py
  gyrinx/content/models/base.py
  gyrinx/content/models/default_assignment.py
  gyrinx/content/models/equipment.py
  gyrinx/content/models/equipment_list.py
  gyrinx/content/models/expansion.py
  gyrinx/content/models/fighter.py
  gyrinx/content/models/house.py
  gyrinx/content/models/injury.py
  gyrinx/content/models/metadata.py
  gyrinx/content/models/modifier.py
  gyrinx/content/models/psyker.py
  gyrinx/content/models/signal_handlers.py
  gyrinx/content/models/skill.py
  gyrinx/content/models/statline.py
  gyrinx/content/models/weapon.py
  gyrinx/content/tests/test_content_cost_signals.py
  gyrinx/content/tests/test_expansion_weapon_profiles.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_equipment_list_expansion.py
  gyrinx/core/tests/test_performance_view_queries.py
  gyrinx/core/views/list.py
Due: none

refactor: split content models.py into domain-specific modules (#1230)
  gyrinx/content/admin.py
  gyrinx/content/models.py
  gyrinx/content/models/__init__.py
  gyrinx/content/models/advancement.py
  gyrinx/content/models/attribute.py
  gyrinx/content/models/base.py
  gyrinx/content/models/default_assignment.py
  gyrinx/content/models/equipment.py
  gyrinx/content/models/equipment_list.py
  gyrinx/content/models/expansion.py
  gyrinx/content/models/fighter.py
  gyrinx/content/models/house.py
  gyrinx/content/models/injury.py
  gyrinx/content/models/metadata.py
  gyrinx/content/models/modifier.py
  gyrinx/content/models/psyker.py
  gyrinx/content/models/signal_handlers.py
  gyrinx/content/models/skill.py
  gyrinx/content/models/statline.py
  gyrinx/content/models/weapon.py
  gyrinx/content/tests/test_content_cost_signals.py
  gyrinx/content/tests/test_expansion_weapon_profiles.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_equipment_list_expansion.py
  gyrinx/core/tests/test_performance_view_queries.py
  gyrinx/core/views/list.py
Due: none

feat: add campaign phase tracking and asset properties
  gyrinx/core/forms/campaign.py
  gyrinx/core/migrations/0122_add_campaign_phase_and_asset_properties.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_asset_edit.html
  gyrinx/core/templates/core/campaign/campaign_asset_new.html
  gyrinx/core/templates/core/campaign/campaign_asset_type_edit.html
  gyrinx/core/templates/core/campaign/campaign_asset_type_new.html
  gyrinx/core/templates/core/campaign/campaign_assets.html
  gyrinx/core/templates/core/campaign/includes/asset_properties_fields.html
  gyrinx/core/templates/core/campaign/includes/property_schema_editor.html
  gyrinx/core/templatetags/custom_tags.py
  gyrinx/core/views/campaign.py
Due: none

style: unify campaign UI styling across pages
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_add_lists.html
  gyrinx/core/templates/core/campaign/campaign_assets.html
  gyrinx/core/templates/core/campaign/campaign_resources.html
  gyrinx/core/templates/core/campaign/includes/campaign_lists.html
  gyrinx/core/templates/core/includes/battle_summary_card.html
  gyrinx/core/templates/core/includes/campaign_action_item.html
  gyrinx/core/templates/core/includes/campaign_captured_fighters.html
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/includes/list_attributes.html
  gyrinx/core/templates/core/includes/list_campaign_actions.html
  gyrinx/core/templates/core/includes/list_campaign_resources_assets.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_campaign.py
  gyrinx/core/tests/test_campaign_resources.py
Due: check-fmt

refactor: address Copilot PR feedback
  gyrinx/content/models/modifier.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/campaign/campaign.html
Due: none

feat: add campaign phase tracking and asset properties (#1231)
  gyrinx/content/models/modifier.py
  gyrinx/core/forms/campaign.py
  gyrinx/core/migrations/0122_add_campaign_phase_and_asset_properties.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/battle/battle.html
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_add_lists.html
  gyrinx/core/templates/core/campaign/campaign_asset_edit.html
  gyrinx/core/templates/core/campaign/campaign_asset_new.html
  gyrinx/core/templates/core/campaign/campaign_asset_type_edit.html
  gyrinx/core/templates/core/campaign/campaign_asset_type_new.html
  gyrinx/core/templates/core/campaign/campaign_assets.html
  gyrinx/core/templates/core/campaign/campaign_resources.html
  gyrinx/core/templates/core/campaign/includes/asset_properties_fields.html
  gyrinx/core/templates/core/campaign/includes/campaign_lists.html
  gyrinx/core/templates/core/campaign/includes/property_schema_editor.html
  gyrinx/core/templates/core/includes/battle_summary_card.html
  gyrinx/core/templates/core/includes/campaign_action_item.html
  gyrinx/core/templates/core/includes/campaign_captured_fighters.html
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/includes/list_attributes.html
  gyrinx/core/templates/core/includes/list_campaign_actions.html
  gyrinx/core/templates/core/includes/list_campaign_resources_assets.html
  gyrinx/core/templatetags/custom_tags.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_campaign.py
  gyrinx/core/tests/test_campaign_resources.py
  gyrinx/core/views/campaign.py
Due: check-fmt

feat: add campaign sub-assets for nested asset items (e.g., Structures)
  gyrinx/core/forms/campaign.py
  gyrinx/core/migrations/0123_add_campaign_sub_assets.py
  gyrinx/core/models/campaign.py
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_asset_edit.html
  gyrinx/core/templates/core/campaign/campaign_asset_type_edit.html
  gyrinx/core/templates/core/campaign/campaign_asset_type_new.html
  gyrinx/core/templates/core/campaign/campaign_assets.html
  gyrinx/core/templates/core/campaign/campaign_resources.html
  gyrinx/core/templates/core/campaign/campaign_sub_asset_edit.html
  gyrinx/core/templates/core/campaign/campaign_sub_asset_new.html
  gyrinx/core/templates/core/campaign/campaign_sub_asset_remove.html
  gyrinx/core/templates/core/campaign/includes/sub_asset_schema_editor.html
  gyrinx/core/templates/core/includes/campaign_captured_fighters.html
  gyrinx/core/templates/core/includes/list_attributes.html
  gyrinx/core/templates/core/includes/list_campaign_resources_assets.html
  gyrinx/core/urls.py
  gyrinx/core/views/campaign.py
Due: check-fmt

feat: add campaign sub-assets and UI improvements (#1234)
  gyrinx/core/forms/campaign.py
  gyrinx/core/migrations/0123_add_campaign_sub_assets.py
  gyrinx/core/models/campaign.py
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_asset_edit.html
  gyrinx/core/templates/core/campaign/campaign_asset_type_edit.html
  gyrinx/core/templates/core/campaign/campaign_asset_type_new.html
  gyrinx/core/templates/core/campaign/campaign_assets.html
  gyrinx/core/templates/core/campaign/campaign_resources.html
  gyrinx/core/templates/core/campaign/campaign_sub_asset_edit.html
  gyrinx/core/templates/core/campaign/campaign_sub_asset_new.html
  gyrinx/core/templates/core/campaign/campaign_sub_asset_remove.html
  gyrinx/core/templates/core/campaign/includes/sub_asset_schema_editor.html
  gyrinx/core/templates/core/includes/campaign_captured_fighters.html
  gyrinx/core/templates/core/includes/list_attributes.html
  gyrinx/core/templates/core/includes/list_campaign_resources_assets.html
  gyrinx/core/urls.py
  gyrinx/core/views/campaign.py
Due: check-fmt

feat: Add help link to menu bar if /help/ flatpage exists (#1237)
  gyrinx/core/templates/core/layouts/base.html
  gyrinx/pages/templatetags/pages.py
  gyrinx/pages/tests.py
Due: none

feat: add analytics tracking for campaign events
  gyrinx/core/views/campaign.py
Due: none

fix: Dead fighters should contribute 0 to gang rating including advancements (#1236)
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_dead_fighter_cost.py
Due: none

feat: add analytics tracking for campaign events (#1238)
  gyrinx/core/views/campaign.py
Due: none

fix: use theme-responsive background class in asset type editors (#1247)
  gyrinx/core/templates/core/campaign/includes/property_schema_editor.html
  gyrinx/core/templates/core/campaign/includes/sub_asset_schema_editor.html
Due: none

fix: ensure consistent rating display across all views (#1248)
  gyrinx/content/tests/test_content_cost_signals.py
  gyrinx/core/views/list.py
Due: none

feat: add copy assets & resources between campaigns (#1246)
  gyrinx/core/forms/campaign.py
  gyrinx/core/handlers/campaign_copy.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_assets.html
  gyrinx/core/templates/core/campaign/campaign_copy_from.html
  gyrinx/core/templates/core/campaign/campaign_copy_to.html
  gyrinx/core/templates/core/campaign/campaign_resources.html
  gyrinx/core/tests/test_campaign_copy.py
  gyrinx/core/urls.py
  gyrinx/core/views/campaign.py
Due: none

feat: allow copying from public campaigns not owned by user
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/tests/test_campaign_copy.py
  gyrinx/core/views/campaign.py
Due: none

style: use icon link for non-owner copy button
  gyrinx/core/templates/core/campaign/campaign.html
Due: none

feat: add template campaigns and improve copy-from UI
  CLAUDE.md
  gyrinx/core/admin/campaign.py
  gyrinx/core/forms/campaign.py
  gyrinx/core/migrations/0124_add_campaign_template_flag.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/campaign/campaign_copy_from.html
  gyrinx/core/views/campaign.py
Due: check-fmt, markdownlint

fix: resolve N+1 query in campaign copy forms
  gyrinx/core/forms/campaign.py
Due: none

fix: improve campaign empty states and action links
  gyrinx/core/templates/core/campaign/campaign.html
Due: none

refactor: improve campaign copy URLs and optimize list queries
  gyrinx/core/forms/campaign.py
  gyrinx/core/handlers/campaign_operations.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_assets.html
  gyrinx/core/templates/core/campaign/campaign_copy_from.html
  gyrinx/core/templates/core/campaign/campaign_resources.html
  gyrinx/core/templates/core/campaign/includes/campaign_lists.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_campaign_copy.py
  gyrinx/core/tests/test_campaign_resources.py
  gyrinx/core/urls.py
  gyrinx/core/views/campaign.py
Due: check-fmt

feat: add copy assets & resources between campaigns (#1249)
  CLAUDE.md
  gyrinx/core/admin/campaign.py
  gyrinx/core/forms/campaign.py
  gyrinx/core/handlers/campaign_copy.py
  gyrinx/core/handlers/campaign_operations.py
  gyrinx/core/migrations/0124_add_campaign_template_flag.py
  gyrinx/core/models/campaign.py
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_assets.html
  gyrinx/core/templates/core/campaign/campaign_copy_from.html
  gyrinx/core/templates/core/campaign/campaign_copy_to.html
  gyrinx/core/templates/core/campaign/campaign_resources.html
  gyrinx/core/templates/core/campaign/includes/campaign_lists.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_campaign_copy.py
  gyrinx/core/tests/test_campaign_resources.py
  gyrinx/core/urls.py
  gyrinx/core/views/campaign.py
Due: check-fmt, markdownlint

fix: apply microcopy guidelines to campaign copy templates
  gyrinx/core/templates/CLAUDE.md
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_assets.html
  gyrinx/core/templates/core/campaign/campaign_copy_from.html
  gyrinx/core/templates/core/campaign/campaign_copy_to.html
  gyrinx/core/templates/core/campaign/campaign_resources.html
  gyrinx/core/tests/test_campaign_copy.py
Due: check-fmt, markdownlint

fix: apply microcopy guidelines to campaign copy templates (#1250)
  gyrinx/core/templates/CLAUDE.md
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/campaign/campaign_assets.html
  gyrinx/core/templates/core/campaign/campaign_copy_from.html
  gyrinx/core/templates/core/campaign/campaign_copy_to.html
  gyrinx/core/templates/core/campaign/campaign_resources.html
  gyrinx/core/tests/test_campaign_copy.py
Due: check-fmt, markdownlint

style: make fighter switcher look more like a title
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/includes/fighter_switcher.html
  gyrinx/core/templates/core/includes/list_common_header.html
Due: check-fmt

feat: Add fighter dropdown menu for quick navigation (#1251)
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/includes/fighter_switcher.html
  gyrinx/core/templates/core/includes/list_common_header.html
  gyrinx/core/templates/core/list_fighter_advancements.html
  gyrinx/core/templates/core/list_fighter_archive.html
  gyrinx/core/templates/core/list_fighter_clone.html
  gyrinx/core/templates/core/list_fighter_edit.html
  gyrinx/core/templates/core/list_fighter_gear_edit.html
  gyrinx/core/templates/core/list_fighter_info_edit.html
  gyrinx/core/templates/core/list_fighter_narrative_edit.html
  gyrinx/core/templates/core/list_fighter_rules_edit.html
  gyrinx/core/templates/core/list_fighter_skills_edit.html
  gyrinx/core/templates/core/list_fighter_weapon_edit.html
  gyrinx/core/templates/core/list_fighter_weapons_accessories_edit.html
  gyrinx/core/templates/core/list_fighter_weapons_edit.html
  gyrinx/core/templates/core/list_fighter_xp_edit.html
Due: check-fmt

fix: exclude vehicles from fighter type summary (#1260)
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_models_core.py
Due: none

Tweaks
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/includes/fighter_card_content_inner.html
  gyrinx/core/templates/core/includes/fighter_card_stash.html
  gyrinx/core/templates/core/vehicle_confirm.html
Due: none
