Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

feat: maintenance op to delete empty Affiliation rows
  n26/library/CLAUDE.md
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/empty_affiliations.py
  n26/library/models/assignable.py
  n26/library/recipes.md
  n26/library/templates/authoring/leaf.html
  n26/library/templatetags/authoring_nav.py
  n26/library/views.py
  n26/maintenance.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_empty_affiliations.py
  n26/tests/test_maintenance_console.py
Due: check-fmt, markdownlint

fix: leftover-deletion preview for a kept menu says not everything is going
  n26/library/empty_affiliations.py
  n26/tests/sandbox/test_empty_affiliations.py
Due: none

fix: leftover Affiliation deletion refuses a held OffersChoice and a stale plan
  n26/library/empty_affiliations.py
  n26/maintenance.py
  n26/tests/sandbox/test_empty_affiliations.py
Due: none

fix: protect live content during Affiliation cleanup
  n26/library/concepts.md
  n26/library/empty_affiliations.py
  n26/library/models/assignable.py
  n26/library/models/modifier.py
  n26/library/recipes.md
  n26/library/specs.py
  n26/maintenance.py
  n26/tests/sandbox/test_empty_affiliations.py
  n26/tests/sandbox/test_specs.py
  n26/tests/test_maintenance_console.py
Due: check-fmt, markdownlint

fix: preserve retired choices on existing modifiers
  n26/library/forms.py
  n26/maintenance.py
  n26/tests/sandbox/test_generated_forms.py
Due: none

feat: add the DrawsPick effect, drawing a gang-held pick on member cards
  n26/core/card.py
  n26/core/effects.py
  n26/core/render.py
  n26/designsystem/sampledata.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/forms.py
  n26/library/migrations/0078_a_pick_can_be_drawn_on_the_cards_it_reaches.py
  n26/library/models/__init__.py
  n26/library/models/modifier.py
  n26/library/prose.py
  n26/library/specs.py
  n26/tests/sandbox/test_outcast_archetype_shape.py
  n26/tests/sandbox/test_prose.py
Due: check-fmt, markdownlint

feat: migration 0079 draws the Outcast archetype on every model but Champions
  n26/library/archetype_display.py
  n26/library/migrations/0079_the_gangs_archetype_is_drawn_on_the_models_it_governs.py
  n26/tests/sandbox/test_outcast_archetype_shape.py
Due: none

refactor: retire the n26 stash notice slot and tidy the Actions square's menu
  n26/core/templates/cotton/n26/actions_square/index.html
  n26/core/templates/cotton/n26/actions_square/menu_post.html
  n26/core/templates/cotton/n26/stash/index.html
  n26/core/templates/cotton/n26/view/gang_sheet.html
  n26/core/test_views_trade_points.py
  n26/designsystem/catalog.py
Due: none

fix: explain surviving Affiliation leftovers
  n26/library/empty_affiliations.py
  n26/maintenance.py
  n26/tests/sandbox/test_empty_affiliations.py
  n26/tests/test_maintenance_console.py
Due: none

feat: n26 Action model, with a Found and equip gang action at founding (#2423)
  n26/core/actions.py
  n26/core/history.py
  n26/core/migrations/0042_a_gang_opens_and_closes_actions.py
  n26/core/models/__init__.py
  n26/core/models/action.py
  n26/core/models/gang.py
  n26/core/models/ledger.py
  n26/core/operations.py
  n26/core/templates/cotton/n26/action_card/body.html
  n26/core/templates/cotton/n26/action_card/index.html
  n26/core/templates/cotton/n26/actions_square/index.html
  n26/core/templates/cotton/n26/actions_square/menu_post.html
  n26/core/templates/cotton/n26/stash/index.html
  n26/core/templates/cotton/n26/view/gang_sheet.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/templates/n26/includes/stash_trading_post.html
  n26/core/templates/n26/trade_points.html
  n26/core/test_views_founding_action.py
  n26/core/test_views_trade_points.py
  n26/core/views/__init__.py
  n26/core/views/gangs.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/action-card/10-with-figures.html
  n26/designsystem/templates/designsystem/demos/action-card/20-no-figures.html
  n26/designsystem/templates/designsystem/demos/action-card/30-unboxed.html
  n26/designsystem/templates/designsystem/demos/actions-square/10-nothing-open.html
  n26/designsystem/templates/designsystem/demos/actions-square/20-founding-open.html
  n26/designsystem/templates/designsystem/demos/actions-square/30-visit-open.html
  n26/designsystem/templates/designsystem/demos/actions-square/40-both-open.html
  n26/designsystem/templates/designsystem/shell/gang.html
  n26/designsystem/tests.py
  n26/urls.py
Due: none

test: a delegation's injury table rides a hidden item that swaps the granted slot
  n26/library/recipes.md
  n26/tests/sandbox/test_lasting_effects.py
Due: check-fmt, markdownlint

feat: maintenance op to delete empty Affiliation rows (#2358)
  n26/library/CLAUDE.md
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/empty_affiliations.py
  n26/library/forms.py
  n26/library/models/assignable.py
  n26/library/models/modifier.py
  n26/library/recipes.md
  n26/library/specs.py
  n26/library/templates/authoring/leaf.html
  n26/library/templatetags/authoring_nav.py
  n26/library/views.py
  n26/maintenance.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_empty_affiliations.py
  n26/tests/sandbox/test_generated_forms.py
  n26/tests/sandbox/test_specs.py
  n26/tests/test_maintenance_console.py
Due: check-fmt, markdownlint

feat: add the DrawsPick effect, drawing a gang-held pick on member cards (#2427)
  n26/core/card.py
  n26/core/effects.py
  n26/core/render.py
  n26/designsystem/sampledata.py
  n26/library/archetype_display.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/forms.py
  n26/library/migrations/0078_a_pick_can_be_drawn_on_the_cards_it_reaches.py
  n26/library/migrations/0079_the_gangs_archetype_is_drawn_on_the_models_it_governs.py
  n26/library/models/__init__.py
  n26/library/models/modifier.py
  n26/library/prose.py
  n26/library/specs.py
  n26/tests/sandbox/test_outcast_archetype_shape.py
  n26/tests/sandbox/test_prose.py
Due: check-fmt, markdownlint

fix: a bare figure in a VISITED_TRADING_POST note is not read out as a rank
  n26/core/history.py
  n26/core/test_views_trade_points.py
  n26/core/trading.py
  n26/core/views/gangs.py
  n26/library/ingest.py
  n26/library/standard_content.py
  n26/tests/sandbox/test_ingest.py
  n26/tests/sandbox/test_trade_points.py
Due: none

feat: the Trading Post visit reads a counter, not TRADE_POINTS_FOR_RANK
  n26/core/models/ledger.py
  n26/core/templates/n26/trade_points.html
  n26/core/test_views_trade_points.py
  n26/core/trading.py
  n26/core/views/gangs.py
  n26/library/ingest.py
  n26/library/prose.py
  n26/library/standard_content.py
  n26/tests/sandbox/test_ingest.py
  n26/tests/sandbox/test_prose.py
  n26/tests/sandbox/test_trade_points.py
Due: none

docs: Tom checks each TP-budgets PR locally before it merges
  .claude/notes/n26-tp-budgets-plan.md
Due: check-fmt, markdownlint

feat: n26 maintenance op opens the FOUNDING Action on existing gangs
  n26/core/templates/admin/maintenance/n26/open_founding_actions.html
  n26/maintenance.py
  n26/tests/sandbox/test_founding_action_backfill.py
  n26/tests/test_maintenance_console.py
Due: none

test: a delegation's injury table rides a hidden item that swaps the granted slot (#2429)
  n26/library/recipes.md
  n26/tests/sandbox/test_lasting_effects.py
Due: check-fmt, markdownlint

fix: draw the n26 Actions square for staff owners only, and keep the stash card's Trading Post line
  n26/core/templates/cotton/n26/stash/index.html
  n26/core/templates/cotton/n26/view/gang_sheet.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/templates/n26/includes/stash_trading_post.html
  n26/core/test_views_founding_action.py
  n26/core/test_views_trade_points.py
  n26/core/views/gangs.py
  n26/core/views/permissions.py
Due: none

docs: rewrite n26/library/recipes.md in plain English
  n26/library/recipes.md
Due: check-fmt, markdownlint

feat: n26 Visit Trading Post is an Action row; purchases record LedgerEntry.action
  n26/core/actions.py
  n26/core/migrations/0043_a_purchase_records_the_action_it_counted_against.py
  n26/core/migrations/0044_the_open_visit_becomes_an_action.py
  n26/core/models/action.py
  n26/core/models/gang.py
  n26/core/models/ledger.py
  n26/core/operations.py
  n26/core/reconcile.py
  n26/core/test_views_edit.py
  n26/core/test_views_equip.py
  n26/core/test_views_gang_equip.py
  n26/core/test_views_overspend.py
  n26/core/test_views_trade_points.py
  n26/core/trading.py
  n26/core/views/equip.py
  n26/core/views/gangs.py
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_trade_points.py
Due: none

fix: review fixes for the n26 open_founding_actions maintenance op
  n26/core/templates/admin/maintenance/n26/_open_founding_actions_detail.html
  n26/maintenance.py
  n26/tests/sandbox/test_founding_action_backfill.py
  n26/tests/test_maintenance_console.py
Due: none

feat: add CampaignType, AssetKind and Asset library kinds with the N26 core type
  n26/core/migrations/0043_an_assignment_can_name_a_campaign_type_or_an_asset.py
  n26/core/models/assignment.py
  n26/library/admin.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/core_campaign.py
  n26/library/forms.py
  n26/library/migrations/0078_campaign_type_asset_kind_and_asset.py
  n26/library/migrations/0079_the_n26_core_campaign_type.py
  n26/library/models/__init__.py
  n26/library/models/campaign_type.py
  n26/library/models/defaults.py
  n26/library/prose.py
  n26/library/specs.py
  n26/library/templates/authoring/_editable_parts.html
  n26/library/templates/authoring/asset_kind_remove.html
  n26/library/templates/authoring/detail.html
  n26/library/test_admin.py
  n26/library/views.py
  n26/tests/sandbox/test_campaign_types.py
  n26/tests/sandbox/test_prose.py
  n26/urls.py
Due: check-fmt, markdownlint

perf: read the open visit's figure with the gang's own row, so no screen pays a query for it
  n26/core/models/gang.py
  n26/core/operations.py
  n26/core/reconcile.py
  n26/core/templates/n26/trade_points.html
  n26/core/test_views_edit.py
  n26/core/test_views_equip.py
  n26/core/test_views_gang_equip.py
  n26/core/test_views_trade_points.py
  n26/core/views/permissions.py
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_trade_points.py
Due: none

chore: renumber the CampaignType library migrations to 0080/0081 after merging main
  n26/core/migrations/0043_an_assignment_can_name_a_campaign_type_or_an_asset.py
  n26/library/migrations/0080_campaign_type_asset_kind_and_asset.py
  n26/library/migrations/0081_the_n26_core_campaign_type.py
Due: none

fix: draw the n26 Actions square for staff owners only, and keep the stash card's Trading Post line (#2436)
  n26/core/templates/cotton/n26/stash/index.html
  n26/core/templates/cotton/n26/view/gang_sheet.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/templates/n26/includes/stash_trading_post.html
  n26/core/test_views_founding_action.py
  n26/core/test_views_trade_points.py
  n26/core/views/gangs.py
  n26/core/views/permissions.py
Due: none

feat: the Visit Trading Post reads a contribution counter instead of TRADE_POINTS_FOR_RANK (#2428)
  n26/core/history.py
  n26/core/models/ledger.py
  n26/core/templates/n26/trade_points.html
  n26/core/test_views_trade_points.py
  n26/core/trading.py
  n26/core/views/gangs.py
  n26/library/ingest.py
  n26/library/prose.py
  n26/library/standard_content.py
  n26/tests/sandbox/test_ingest.py
  n26/tests/sandbox/test_prose.py
  n26/tests/sandbox/test_trade_points.py
Due: none

ci: run the fresh-database migrate on a PR only when the migration graph changed
  .github/workflows/test.yaml
Due: check-fmt

feat: n26 backfill opens the Found and equip gang action for existing gangs (#2435)
  n26/core/templates/admin/maintenance/n26/_open_founding_actions_detail.html
  n26/core/templates/admin/maintenance/n26/open_founding_actions.html
  n26/maintenance.py
  n26/tests/sandbox/test_founding_action_backfill.py
  n26/tests/test_maintenance_console.py
Due: none

docs: rewrite n26/library/concepts.md in plain English
  n26/library/concepts.md
Due: check-fmt, markdownlint

docs: plain-English pass over n26/library/CLAUDE.md
  n26/library/CLAUDE.md
Due: check-fmt, markdownlint

feat: the Visit Trading Post is an Action row, and a purchase records the action it counted against (#2438)
  n26/core/actions.py
  n26/core/migrations/0043_a_purchase_records_the_action_it_counted_against.py
  n26/core/migrations/0044_the_open_visit_becomes_an_action.py
  n26/core/models/action.py
  n26/core/models/gang.py
  n26/core/models/ledger.py
  n26/core/operations.py
  n26/core/reconcile.py
  n26/core/templates/n26/trade_points.html
  n26/core/test_views_overspend.py
  n26/core/test_views_trade_points.py
  n26/core/trading.py
  n26/core/views/equip.py
  n26/core/views/gangs.py
  n26/core/views/permissions.py
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_trade_points.py
Due: none

docs: record TP budgets progress and the remaining production steps
  .claude/notes/n26-tp-budgets-plan.md
Due: check-fmt, markdownlint

fresh-database gate decides via scripts/fresh_database_needed.py: migration imports, apps.py, settings, uv.lock
  .github/workflows/test.yaml
  gyrinx/tests/test_fresh_database_needed.py
  scripts/fresh_database_needed.py
Due: check-fmt

chore: renumber the core Assignment migration to 0045 after merging main
  n26/core/migrations/0045_an_assignment_can_name_a_campaign_type_or_an_asset.py
Due: none

test: pin the n26 Trade Points page at 38 queries after #2428 and #2438 met on main
  n26/core/test_views_trade_points.py
Due: none

test: pin the n26 Trade Points page at 38 queries after #2428 and #2438 met on main (#2441)
  n26/core/test_views_trade_points.py
Due: none

ci: run the fresh-database migrate on a PR only when the migration graph changed
  .github/workflows/test.yaml
  gyrinx/tests/test_fresh_database_needed.py
  scripts/fresh_database_needed.py
Due: check-fmt

feat: Campaign gets campaign_type, pack and additions; joins carry both
  n26/core/admin.py
  n26/core/campaign_packs.py
  n26/core/campaigns.py
  n26/core/capture.py
  n26/core/forms.py
  n26/core/history.py
  n26/core/migrations/0047_a_campaign_is_founded_on_a_type_with_a_pack_and_additions.py
  n26/core/migrations/0048_existing_campaigns_get_a_type_a_pack_and_carriers.py
  n26/core/migrations/0049_a_campaign_always_has_a_type_a_pack_and_additions.py
  n26/core/models/campaign.py
  n26/core/operations.py
  n26/core/render.py
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/create_campaign.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/test_campaigns.py
  n26/core/test_navigation.py
  n26/core/views/campaigns.py
  n26/core/views/permissions.py
  n26/designsystem/sampledata.py
  n26/tests/fixtures.py
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_campaign_battles.py
  n26/tests/sandbox/test_campaign_founding.py
  n26/tests/sandbox/test_campaign_membership.py
  n26/tests/sandbox/test_render.py
  n26/tests/test_campaign_invitations.py
  n26/tests/test_views_campaigns.py
Due: none

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
