Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

docs: the pages say it the maintainer's way
  .claude/notes/slots-and-picks-language.md
  n26/core/effects.py
  n26/core/operations.py
  n26/core/templates/cotton/n26/choice_offer.html
  n26/core/templates/cotton/n26/choice_picks.html
  n26/core/templates/n26/choose.html
  n26/core/views/choose.py
  n26/core/views/learn.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/choice-offer/20-empty.html
  n26/designsystem/templates/designsystem/demos/choice-picks/10-part-way.html
  n26/designsystem/templates/designsystem/demos/choice-picks/20-full.html
  n26/library/concepts.md
  n26/library/migrations/0060_slots_and_picks_help_in_the_maintainers_words.py
  n26/library/models/assignable.py
  n26/library/models/defaults.py
  n26/library/models/modifier.py
  n26/library/models/slots.py
  n26/library/prose.py
  n26/library/recipes.md
  n26/library/templates/authoring/picklist_member_remove.html
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_prose.py
  n26/tests/sandbox/test_slots_and_picks.py
Due: check-fmt, markdownlint

docs: two grammar slips leave the shipped copy
  n26/library/concepts.md
  n26/library/models/slots.py
Due: check-fmt, markdownlint

fix: the hire preview draws a slot's starting pick, not Choose
  n26/core/card.py
  n26/core/hire.py
  n26/tests/sandbox/test_hire_view.py
Due: none

feat: an optional choice offers None, which takes the pick back
  n26/core/render.py
  n26/core/views/choose.py
  n26/tests/sandbox/test_slots_and_picks.py
Due: none

feat: the modifier page restates its settled kinds in their own words
  n26/library/forms.py
  n26/library/templates/authoring/_panes.html
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
Due: none

fix: the n26 banner stays closed
  n26/core/templates/n26/layouts/base.html
  n26/tests/test_platform_integration.py
Due: none

feat: an equipped mount says which guns it was bought with
  n26/core/card.py
  n26/core/listing.py
  n26/core/owned.py
  n26/core/templates/cotton/n26/owned_lines.html
  n26/core/views/equip.py
  n26/designsystem/sampledata.py
  n26/library/models/assignable.py
  n26/tests/sandbox/test_buying_with_options.py
Due: none

fix: a set two offers share is named once, where it was spent
  n26/library/models/assignable.py
  n26/tests/sandbox/test_buying_with_options.py
Due: none

fix: a copy names the options it was given, and infers none
  n26/core/card.py
  n26/core/listing.py
  n26/core/templates/cotton/n26/owned_lines.html
  n26/core/views/equip.py
  n26/designsystem/sampledata.py
  n26/library/models/assignable.py
  n26/tests/sandbox/test_buying_with_options.py
Due: none

feat: a modifier's reach is said, never implied by carriage
  .claude/notes/modifier-reach.md
  .claude/notes/reach-failures.txt
  n26/core/effects.py
  n26/library/authoring.py
  n26/library/forms.py
  n26/library/ingest.py
  n26/library/migrations/0061_reach_is_said_not_implied.py
  n26/library/models/modifier.py
  n26/library/prose.py
  n26/library/specs.py
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_authoring_verbs.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_composition_limits.py
  n26/tests/sandbox/test_counters.py
  n26/tests/sandbox/test_escher_gang.py
  n26/tests/sandbox/test_gang_books.py
  n26/tests/sandbox/test_gang_sheet.py
  n26/tests/sandbox/test_ingest.py
  n26/tests/sandbox/test_outcast_affiliation_flow.py
  n26/tests/sandbox/test_outcast_affiliation_shape.py
  n26/tests/sandbox/test_outcast_archetype_shape.py
  n26/tests/sandbox/test_outcast_gang.py
  n26/tests/sandbox/test_preview.py
  n26/tests/sandbox/test_slots_and_picks.py
  n26/tests/sandbox/test_specs.py
  n26/tests/sandbox/test_taking_away.py
  n26/tests/sandbox/test_venator_skill_trees.py
  n26/tests/sandbox/test_what_the_gang_holds.py
Due: check-fmt, markdownlint

chore: the failure worklist was scratch, not a note
  .claude/notes/reach-failures.txt
Due: none

feat: the gang can keep a grant to itself, and a gang pick can ask every model
  n26/core/CLAUDE.md
  n26/core/effects.py
  n26/library/models/modifier.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_slots_and_picks.py
  n26/tests/sandbox/test_what_the_gang_holds.py
Due: check-fmt, markdownlint

test: the conversion's decisions are pinned outside the migration
  n26/tests/sandbox/test_reach_conversion.py
Due: none

fix: an unanchorable given slot is not recorded, and both fighters settle their own
  n26/core/effects.py
  n26/tests/sandbox/test_reach_conversion.py
  n26/tests/sandbox/test_slots_and_picks.py
Due: none

fix: the conversion cannot abort a deploy, and the report holds its promises
  n26/core/effects.py
  n26/library/migrations/0061_reach_is_said_not_implied.py
  n26/library/models/modifier.py
  n26/library/prose.py
  n26/tests/sandbox/test_reach_conversion.py
Due: none

docs: the gang-alone card says it the maintainer's way
  n26/library/authoring.py
  n26/library/specs.py
  n26/tests/sandbox/test_what_the_gang_holds.py
Due: none

feat: the gang-and-all-models option wears a Deprecated pill
  n26/library/authoring.py
  n26/library/forms.py
  n26/library/specs.py
  n26/library/templates/authoring/_composer.html
  n26/tests/sandbox/test_authoring_views.py
Due: none

feat: make modifier reach explicit and simple (#2180)
  .claude/notes/modifier-reach.md
  n26/core/CLAUDE.md
  n26/core/effects.py
  n26/library/authoring.py
  n26/library/forms.py
  n26/library/ingest.py
  n26/library/migrations/0061_reach_is_said_not_implied.py
  n26/library/models/modifier.py
  n26/library/prose.py
  n26/library/specs.py
  n26/library/templates/authoring/_composer.html
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_authoring_verbs.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_composition_limits.py
  n26/tests/sandbox/test_counters.py
  n26/tests/sandbox/test_escher_gang.py
  n26/tests/sandbox/test_gang_books.py
  n26/tests/sandbox/test_gang_sheet.py
  n26/tests/sandbox/test_ingest.py
  n26/tests/sandbox/test_outcast_affiliation_flow.py
  n26/tests/sandbox/test_outcast_affiliation_shape.py
  n26/tests/sandbox/test_outcast_archetype_shape.py
  n26/tests/sandbox/test_outcast_gang.py
  n26/tests/sandbox/test_preview.py
  n26/tests/sandbox/test_reach_conversion.py
  n26/tests/sandbox/test_slots_and_picks.py
  n26/tests/sandbox/test_specs.py
  n26/tests/sandbox/test_taking_away.py
  n26/tests/sandbox/test_venator_skill_trees.py
  n26/tests/sandbox/test_what_the_gang_holds.py
Due: check-fmt, markdownlint

fix: the n26 banner stays closed (#2178)
  n26/core/templates/n26/layouts/base.html
  n26/tests/test_platform_integration.py
Due: none

fix: n26 counts clicks on the site banner
  n26/core/templates/n26/layouts/base.html
  n26/tests/test_platform_integration.py
Due: none

docs: the dump job covers both editions, and the page says how
  docs/operations/content-data-management.md
Due: check-fmt, markdownlint

fix: the gallery's sample banner has an id shaped like an id
  n26/designsystem/tests.py
  n26/designsystem/views.py
  n26/tests/test_platform_integration.py
Due: none

feat: an equipped mount says which guns it was bought with (#2179)
  n26/core/card.py
  n26/core/listing.py
  n26/core/owned.py
  n26/core/templates/cotton/n26/owned_lines.html
  n26/core/views/equip.py
  n26/designsystem/sampledata.py
  n26/library/models/assignable.py
  n26/tests/sandbox/test_buying_with_options.py
Due: none

fix: the modifiers page filters by reach, in the composer's words
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
Due: none

docs: every import snippet migrates first
  docs/operations/content-data-management.md
Due: check-fmt, markdownlint

fix: a banner address that is not one is a 404
  n23/core/tests/test_banner_click_tracking.py
  n23/core/urls/misc.py
Due: none

fix: a renamed route takes the banner down loudly
  n26/core/templates/n26/layouts/base.html
  n26/designsystem/tests.py
  n26/designsystem/views.py
Due: none

fix: n26 counts clicks on the site banner (#2182)
  n23/core/tests/test_banner_click_tracking.py
  n23/core/urls/misc.py
  n26/core/templates/n26/layouts/base.html
  n26/designsystem/tests.py
  n26/designsystem/views.py
  n26/tests/test_platform_integration.py
Due: none

feat: what a mount was bought with can be changed afterwards
  n26/core/browse.py
  n26/core/listing.py
  n26/core/owned.py
  n26/core/templates/cotton/n26/owned_dialog.html
  n26/core/templates/n26/includes/equip_choices.html
  n26/core/templates/n26/includes/equip_line.html
  n26/core/templates/n26/includes/equip_owned_line.html
  n26/core/test_views_owned.py
  n26/core/views/__init__.py
  n26/core/views/equip.py
  n26/core/views/owned.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/owned-dialog/50-rechoosing.html
  n26/tests/sandbox/test_buying_with_options.py
  n26/urls.py
Due: none

fix: both facets filter by the composer's verbs, and drift is refused
  docs/operations/content-data-management.md
  docs/useful-scripts.md
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_specs.py
Due: check-fmt, markdownlint

feat: the content sync covers the n26 library, and the modifiers page filters by reach (#2202)
  docs/operations/content-data-management.md
  docs/useful-scripts.md
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_specs.py
Due: check-fmt, markdownlint

feat: what a mount was bought with can be changed afterwards (#2203)
  n26/core/browse.py
  n26/core/listing.py
  n26/core/owned.py
  n26/core/templates/cotton/n26/owned_dialog.html
  n26/core/templates/n26/includes/equip_choices.html
  n26/core/templates/n26/includes/equip_line.html
  n26/core/templates/n26/includes/equip_owned_line.html
  n26/core/test_views_owned.py
  n26/core/views/__init__.py
  n26/core/views/equip.py
  n26/core/views/owned.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/owned-dialog/50-rechoosing.html
  n26/tests/sandbox/test_buying_with_options.py
  n26/urls.py
Due: none

perf: the app serves on one core, because it only ever used one
  cloudbuild.yaml
  docker/entrypoint.sh
Due: check-fmt

fix: a question whose slot was taken away is not asked
  n26/core/effects.py
  n26/tests/sandbox/test_offer_swap_probe.py
Due: none

docs: rides, names and their kin fall out of the comments
  n26/core/templates/cotton/n26/assignable_lines.html
  n26/core/templates/cotton/n26/choice_offer.html
  n26/core/templates/cotton/n26/choice_picks.html
  n26/core/templates/cotton/n26/color_link.html
  n26/core/templates/cotton/n26/color_swatch.html
  n26/core/templates/cotton/n26/colour_picker.html
  n26/core/templates/cotton/n26/deferred.html
  n26/core/templates/cotton/n26/detail_list/row.html
  n26/core/templates/cotton/n26/dialog.html
  n26/core/templates/cotton/n26/filter_select.html
  n26/core/templates/cotton/n26/gang_table/row.html
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/cotton/n26/print/grid.html
  n26/core/templates/cotton/n26/print/weapons.html
  n26/core/templates/cotton/n26/profile_picker/row.html
  n26/core/templates/cotton/n26/quick_switcher/index.html
  n26/core/templates/cotton/n26/statline/cells.html
  n26/core/templates/cotton/n26/statline/edit.html
  n26/core/templates/cotton/n26/statline/index.html
  n26/core/templates/cotton/n26/tick_list.html
  n26/core/templates/cotton/n26/view/gang_sheet.html
  n26/designsystem/catalog.py
Due: none

fix: the gang card's tooltips are tooltips, not title attributes
  n26/core/test_card_tooltips.py
Due: none

fix: a slot the gang's guest gives is asked after all
  n26/core/effects.py
  n26/tests/sandbox/test_slots_and_picks.py
Due: none

test: the other wiring of the experiment fails at the same spot
  n26/tests/sandbox/test_offer_swap_probe.py
Due: none
