Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

docs: C1 review round recorded — fallback accounting, delete-or-archive (#2165)
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

fix: the unwind never seizes a look-alike, and an unused membership goes completely
  n26/core/migrations/0018_a_grant_names_the_member_it_came_from.py
  n26/core/models/assignment.py
  n26/core/operations.py
  n26/library/authoring.py
  n26/library/ingest.py
  n26/library/prose.py
  n26/library/views.py
  n26/tests/sandbox/test_builtins_archival.py
  n26/tests/sandbox/test_ingest.py
Due: none

feat: removing a built-in keeps what fighters already hold
  n26/core/card.py
  n26/library/authoring.py
  n26/library/ingest.py
  n26/library/models/assignable.py
  n26/library/models/defaults.py
  n26/library/views.py
  n26/tests/sandbox/test_ingest.py
Due: none

test: archival and provenance proven from the gang's side
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_builtins_archival.py
Due: none

feat: a built-in's copy names the member it came from
  n26/core/migrations/0018_a_grant_names_the_member_it_came_from.py
  n26/core/models/assignment.py
  n26/core/operations.py
Due: none

chore: the provenance migration follows the notes-and-lore chain
  n26/core/migrations/0021_a_grant_names_the_member_it_came_from.py
Due: none

refactor: the model and gang picture paths share one write, one form, one box
  n26/core/forms.py
  n26/core/images.py
  n26/core/operations.py
  n26/core/static/n26/imagecrop.js
  n26/core/templates/cotton/n26/picture_box.html
  n26/core/templates/cotton/n26/picture_input.html
  n26/core/templates/n26/edit_gang.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/test_images.py
  n26/core/test_views_edit.py
  n26/core/test_views_edit_gang.py
  n26/core/views/edit.py
  n26/core/views/gangs.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/picture-box/10-empty.html
  n26/designsystem/templates/designsystem/demos/picture-box/20-with-picture.html
  n26/designsystem/tests.py
Due: check-fmt

fix: the gallery demos take the crop spec from context, and the ratio is keyword-only
  n26/core/forms.py
  n26/core/views/edit.py
  n26/core/views/gangs.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/picture-box/10-empty.html
  n26/designsystem/templates/designsystem/demos/picture-box/20-with-picture.html
  n26/designsystem/templates/designsystem/demos/picture-input/10-basic.html
Due: none

docs: the cleanup has run, and the plan says what is left (#2280)
  .claude/notes/conversion-cleanup-order.md
Due: check-fmt, markdownlint

fix: a membership with unlinked copies is kept, not deleted
  n26/library/authoring.py
  n26/tests/sandbox/test_builtins_archival.py
Due: none

test: every hire in the archival suite proves the gang reconciles
  n26/tests/sandbox/test_builtins_archival.py
Due: none

docs: D11 and D12 settled — author-side refusals join C6 (#2165)
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

docs: C8 sweeps the members the interim evidence over-archives (#2165)
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

docs: add COMMIT_STYLE.md so commit and PR titles name what changed
  .github/COMMIT_STYLE.md
  .github/copilot-instructions.md
  CLAUDE.md
  docs/developing-gyrinx/changelog-management.md
Due: check-fmt, markdownlint

feat: the content library names the slot types under their kind
  n26/library/templates/authoring/index.html
  n26/library/test_authoring_index.py
  n26/library/views.py
Due: none

feat: removing a built-in keeps what fighters already hold, and every grant remembers its origin (#2276)
  n26/core/card.py
  n26/core/migrations/0021_a_grant_names_the_member_it_came_from.py
  n26/core/models/assignment.py
  n26/core/operations.py
  n26/library/authoring.py
  n26/library/ingest.py
  n26/library/models/assignable.py
  n26/library/models/defaults.py
  n26/library/prose.py
  n26/library/views.py
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_builtins_archival.py
  n26/tests/sandbox/test_ingest.py
Due: none

docs: C1 merged (#2165)
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

docs: add COMMIT_STYLE.md so commit and PR titles name what changed (#2282)
  .github/COMMIT_STYLE.md
  .github/copilot-instructions.md
  CLAUDE.md
  docs/developing-gyrinx/changelog-management.md
Due: check-fmt, markdownlint

refactor: the model and gang picture paths share one write, one form, one box (#2281)
  n26/core/forms.py
  n26/core/images.py
  n26/core/operations.py
  n26/core/static/n26/imagecrop.js
  n26/core/templates/cotton/n26/picture_box.html
  n26/core/templates/cotton/n26/picture_input.html
  n26/core/templates/n26/edit_gang.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/test_images.py
  n26/core/test_views_edit.py
  n26/core/test_views_edit_gang.py
  n26/core/views/edit.py
  n26/core/views/gangs.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/picture-box/10-empty.html
  n26/designsystem/templates/designsystem/demos/picture-box/20-with-picture.html
  n26/designsystem/templates/designsystem/demos/picture-input/10-basic.html
  n26/designsystem/tests.py
Due: check-fmt

feat: the content library names the slot types under their kind (#2283)
  n26/library/templates/authoring/index.html
  n26/library/test_authoring_index.py
  n26/library/views.py
Due: none

feat: c-n26.tab-strip collapses tab bars to a quick-switcher below sm
  n26/core/templates/cotton/n26/collection_picker/index.html
  n26/core/templates/cotton/n26/tab_links.html
  n26/core/templates/cotton/n26/tab_strip.html
  n26/core/templates/cotton/ui/tabs/index.html
  n26/core/test_tab_links.py
  n26/core/test_ui_tabs.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/tab-links/10-basic.html
  n26/designsystem/templates/designsystem/demos/tab-links/20-narrow.html
  n26/designsystem/templates/designsystem/demos/tab-strip/10-basic.html
  n26/designsystem/templates/designsystem/demos/tabs/10-basic.html
Due: none

fix: switcher items keep shortened tabs' tooltips; escape default_tab
  n26/core/templates/cotton/n26/tab_links.html
  n26/core/templates/cotton/ui/tabs/index.html
  n26/core/test_tab_links.py
  n26/core/test_ui_tabs.py
Due: none

docs: C2 architecture settled — plan/apply split in n26/core/builtins.py (#2165)
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

fix: tab-strip rules meet the tabs' underlines; hire tabs show a wait spinner
  n26/core/templates/cotton/n26/tab_links.html
  n26/core/templates/cotton/n26/tab_strip.html
  n26/core/templates/cotton/ui/tabs/index.html
  n26/core/templates/n26/hire_fighter.html
  n26/core/test_tab_links.py
  n26/designsystem/templates/designsystem/demos/tab-strip/10-basic.html
Due: none

feat: constrain Assignment so a removes=True row carries no provenance
  n26/core/migrations/0022_a_removal_carries_no_provenance.py
  n26/core/models/assignment.py
Due: none

feat: n26/core/builtins.py answers which built-in members lack their copy
  n26/core/builtins.py
Due: none

feat: replace _materialise_defaults with the idempotent reconcile_defaults
  n26/core/builtins.py
  n26/core/operations.py
Due: none

test: reconcile_defaults proven idempotent across every carrier shape
  n26/tests/sandbox/test_builtin_reconciliation.py
Due: none

docs: C2 shipped as PR #2286 — fresh= and ammo-fallback deviations recorded (#2165)
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

test: rechoosing back into a set restores its kit; fresh= rationale stated
  n26/core/builtins.py
  n26/core/operations.py
  n26/tests/sandbox/test_rechoosing.py
Due: none

fix: switcher rows bind their values; the open tab stays in the kit menu
  n26/core/templates/cotton/n26/tab_links.html
  n26/core/templates/cotton/ui/tabs/index.html
  n26/core/test_tab_links.py
Due: none

chore: quick-switcher.item declares its title prop
  n26/core/templates/cotton/n26/quick_switcher/item.html
Due: none

chore: the conversions have run, so their machinery goes
  .claude/notes/conversion-cleanup-order.md
  n26/core/templates/admin/maintenance/n26/_convert_detail.html
  n26/core/templates/admin/maintenance/n26/convert.html
  n26/library/conversion/__init__.py
  n26/library/conversion/archetype.py
  n26/library/conversion/archived.py
  n26/library/conversion/base.py
  n26/library/conversion/gang_legacy.py
  n26/library/conversion/paths.py
  n26/library/conversion/skill_tree.py
  n26/library/conversion/specialisation.py
  n26/library/gang_legacy_pilot.py
  n26/library/management/commands/n26_convert.py
  n26/library/retired_kinds.py
  n26/library/spare_answers.py
  n26/maintenance.py
  n26/tests/sandbox/test_conversion_archetype.py
  n26/tests/sandbox/test_conversion_archived.py
  n26/tests/sandbox/test_conversion_gang_legacy.py
  n26/tests/sandbox/test_conversion_paths.py
  n26/tests/sandbox/test_conversion_skill_tree.py
  n26/tests/sandbox/test_conversion_specialisation.py
  n26/tests/sandbox/test_gang_legacy_pilot.py
  n26/tests/sandbox/test_retired_kinds.py
  n26/tests/sandbox/test_spare_answers.py
  n26/tests/test_maintenance_console.py
Due: check-fmt, markdownlint

fix: idle kit tabs draw their border; the hire card preview sits flush
  n26/core/templates/cotton/n26/collection_picker/item.html
  n26/core/templates/cotton/ui/tabs/index.html
Due: none

refactor: wire is_satisfied into plan_defaults; two-pass ammo; copy vocabulary
  n26/core/builtins.py
  n26/core/operations.py
  n26/tests/sandbox/test_builtin_reconciliation.py
Due: none

fix: the details slot leaves indenting to its content
  n26/core/templates/cotton/n26/collection_picker/item.html
  n26/core/templates/n26/includes/equip_owned_line.html
Due: none

docs: D13 — an ammo built-in names its gun member; chunk C2b added (#2165)
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

chore: the conversions have run, so their machinery goes (#2287)
  .claude/notes/conversion-cleanup-order.md
  n26/core/templates/admin/maintenance/n26/_convert_detail.html
  n26/core/templates/admin/maintenance/n26/convert.html
  n26/library/conversion/__init__.py
  n26/library/conversion/archetype.py
  n26/library/conversion/archived.py
  n26/library/conversion/base.py
  n26/library/conversion/gang_legacy.py
  n26/library/conversion/paths.py
  n26/library/conversion/skill_tree.py
  n26/library/conversion/specialisation.py
  n26/library/gang_legacy_pilot.py
  n26/library/management/commands/n26_convert.py
  n26/library/retired_kinds.py
  n26/library/spare_answers.py
  n26/maintenance.py
  n26/tests/sandbox/test_conversion_archetype.py
  n26/tests/sandbox/test_conversion_archived.py
  n26/tests/sandbox/test_conversion_gang_legacy.py
  n26/tests/sandbox/test_conversion_paths.py
  n26/tests/sandbox/test_conversion_skill_tree.py
  n26/tests/sandbox/test_conversion_specialisation.py
  n26/tests/sandbox/test_gang_legacy_pilot.py
  n26/tests/sandbox/test_retired_kinds.py
  n26/tests/sandbox/test_spare_answers.py
  n26/tests/test_maintenance_console.py
Due: check-fmt, markdownlint

feat: c-n26.tab-strip collapses tab bars to a quick-switcher below sm (#2284)
  n26/core/templates/cotton/n26/collection_picker/index.html
  n26/core/templates/cotton/n26/collection_picker/item.html
  n26/core/templates/cotton/n26/quick_switcher/item.html
  n26/core/templates/cotton/n26/tab_links.html
  n26/core/templates/cotton/n26/tab_strip.html
  n26/core/templates/cotton/ui/tabs/index.html
  n26/core/templates/n26/hire_fighter.html
  n26/core/templates/n26/includes/equip_owned_line.html
  n26/core/test_tab_links.py
  n26/core/test_ui_tabs.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/tab-links/10-basic.html
  n26/designsystem/templates/designsystem/demos/tab-links/20-narrow.html
  n26/designsystem/templates/designsystem/demos/tab-strip/10-basic.html
  n26/designsystem/templates/designsystem/demos/tabs/10-basic.html
Due: none

docs: C2 smoke-tested in the browser, all scenarios pass; bug #2299 filed (#2165)
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
