Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

refactor: address PR review comments on content packs
  gyrinx/content/models/base.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_models_pack.py
Due: check-fmt

Add fixtures to improve test clarity
  gyrinx/conftest.py
  gyrinx/core/tests/test_fighter_advancements.py
Due: none

Test for champion advancement flow
  gyrinx/core/tests/test_fighter_advancements.py
Due: none

Test case for specialist promoted from ganger
  gyrinx/core/tests/test_fighter_advancements.py
Due: none

Include 'promote to champion' in advancement type form skill choices
  gyrinx/core/tests/test_advancement_choices.py
  gyrinx/core/tests/test_fighter_advancements.py
Due: none

Make test names consistent
  gyrinx/core/tests/test_fighter_advancements.py
Due: none

Promotion to champion should come with random primary skill
  gyrinx/core/forms/advancement.py
  gyrinx/core/tests/test_advancement_choices.py
  gyrinx/core/views/fighter/advancements.py
Due: none

Split kwargs in new fixture
  gyrinx/conftest.py
Due: none

Type annotations
  gyrinx/conftest.py
Due: none

docs: document test fixtures in CLAUDE.md (#1365)
  CLAUDE.md
Due: check-fmt, markdownlint

fix: Promote to champion advancement no longer fails (#1362)
  gyrinx/conftest.py
  gyrinx/core/forms/advancement.py
  gyrinx/core/tests/test_advancement_choices.py
  gyrinx/core/tests/test_fighter_advancements.py
  gyrinx/core/views/fighter/advancements.py
Due: none

Allow arbitrators to edit XP and injuries for campaign gangs (#1361)
  gyrinx/core/templates/core/includes/fighter_card.html
  gyrinx/core/templates/core/includes/fighter_card_content.html
  gyrinx/core/templates/core/includes/fighter_card_content_inner.html
  gyrinx/core/tests/test_injury_views.py
  gyrinx/core/tests/test_xp_tracking.py
  gyrinx/core/views/fighter/state.py
  gyrinx/core/views/fighter/xp.py
Due: none

feat: add code-simplifier agent for architecture review and refactoring
  .claude/agents/code-simplifier.md
Due: check-fmt, markdownlint

fix: work around claude-code-action#900 for scheduled weekly summary
  .github/workflows/weekly-summary.yml
Due: check-fmt

Fix weekly summary workflow for scheduled runs with bot actors (#1366)
  .github/workflows/weekly-summary.yml
Due: check-fmt

refactor: extract skills from code-simplifier agent for reuse
  .claude/agents/code-simplifier.md
  .claude/agents/feature-planner.md
  .claude/skills/code-analysis-lenses.md
  .claude/skills/gyrinx-conventions.md
Due: check-fmt, markdownlint

fix: Add line break before link on lists and campaigns page
  gyrinx/core/templates/core/campaign/campaigns.html
  gyrinx/core/templates/core/lists.html
Due: none

feat: add SessionStart hook for Claude Code on the Web
  .claude/settings.json
  scripts/setup_web.sh
Due: check-fmt

Add line break to lists & campaigns page title (#1367)
  gyrinx/core/templates/core/campaign/campaigns.html
  gyrinx/core/templates/core/lists.html
Due: none

Add agent and skill definitions for code review and planning (#1369)
  .claude/agents/code-simplifier.md
  .claude/agents/feature-planner.md
  .claude/skills/code-analysis-lenses.md
  .claude/skills/gyrinx-conventions.md
Due: check-fmt, markdownlint

Add web environment setup script for Claude Code on the Web (#1370)
  .claude/settings.json
  scripts/setup_web.sh
Due: check-fmt

fix: make content admin show pack content and add packs column
  gyrinx/content/admin.py
  gyrinx/core/admin/__init__.py
  gyrinx/core/admin/pack.py
  gyrinx/core/models/pack.py
  gyrinx/core/tests/test_models_pack.py
Due: none

fix: address PR review feedback on fighter selection mode
  gyrinx/core/models/print_config.py
  gyrinx/core/tests/test_print_config_stash.py
  gyrinx/core/views/list/views.py
Due: none

fix: install gh from binary tarball instead of apt
  scripts/setup_web.sh
Due: none

Turn on claude experimental agent teams
  .claude/settings.json
Due: check-fmt

refactor: simplify ContentManager and deduplicate with_packs query
  gyrinx/content/models/base.py
  gyrinx/core/admin/pack.py
Due: none

fix: detect architecture dynamically for gh binary download
  scripts/setup_web.sh
Due: none

feat: add CustomContentPack model with polymorphic item through model (#1358)
  gyrinx/content/admin.py
  gyrinx/content/models/__init__.py
  gyrinx/content/models/base.py
  gyrinx/content/models/equipment.py
  gyrinx/content/models/fighter.py
  gyrinx/content/models/weapon.py
  gyrinx/core/admin/__init__.py
  gyrinx/core/admin/pack.py
  gyrinx/core/migrations/0126_add_custom_content_pack_models.py
  gyrinx/core/models/__init__.py
  gyrinx/core/models/pack.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_models_pack.py
Due: check-fmt

fix: install gh from binary tarball instead of apt (#1373)
  scripts/setup_web.sh
Due: none

fix: suppress pkg_resources deprecation warning from Google namespace packages
  gyrinx/asgi.py
  gyrinx/wsgi.py
  scripts/manage.py
Due: none

fix: remove module filter that prevented warning suppression
  gyrinx/asgi.py
  gyrinx/wsgi.py
  scripts/manage.py
Due: none

Disable markdownlint table-column-style issue
  .markdownlint-cli2.mjs
Due: check-fmt

Suppress pkg_resources deprecation warnings from Google packages (#1368)
  gyrinx/asgi.py
  gyrinx/wsgi.py
  scripts/manage.py
Due: none

Disable markdownlint table-column-style issue (#1376)
  .markdownlint-cli2.mjs
Due: check-fmt

feat: add Content Pack UI with group-gated access
  gyrinx/core/forms/pack.py
  gyrinx/core/migrations/0127_create_custom_content_group.py
  gyrinx/core/templates/core/includes/packs_filter.html
  gyrinx/core/templates/core/layouts/base.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_edit.html
  gyrinx/core/templates/core/pack/pack_new.html
  gyrinx/core/templates/core/pack/packs.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/urls.py
  gyrinx/core/views/auth.py
  gyrinx/core/views/pack.py
Due: none

feat: add Content Pack UI with group-gated access (#1379)
  gyrinx/core/forms/pack.py
  gyrinx/core/migrations/0127_create_custom_content_group.py
  gyrinx/core/templates/core/includes/packs_filter.html
  gyrinx/core/templates/core/layouts/base.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_edit.html
  gyrinx/core/templates/core/pack/pack_new.html
  gyrinx/core/templates/core/pack/packs.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/urls.py
  gyrinx/core/views/auth.py
  gyrinx/core/views/pack.py
Due: none

fix: resolve migration conflict and refactor tests to project conventions
  gyrinx/core/migrations/0127_update_campaign_summary_validator.py
  gyrinx/core/tests/test_validators.py
Due: none

fix: Count only visible text in campaign summary character limit (#1280)
  gyrinx/core/migrations/0127_update_campaign_summary_validator.py
  gyrinx/core/models/campaign.py
  gyrinx/core/tests/test_validators.py
  gyrinx/core/validators.py
Due: none

Improve campaign page layout on xl-wide screens (#1381)
  gyrinx/core/templates/core/campaign/campaign.html
Due: none

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
