Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

test: follow the budget field's wording on the set-up form
  n26/tests/test_views_campaigns.py
Due: none

fix: doubled_refunds.apply repairs gang by gang and skips a gang that spent what it was never owed
  n26/core/doubled_refunds.py
  n26/tests/sandbox/test_doubled_refunds.py
Due: none

fix: busy.js refuses a repeat activation, releases only its own control
  n26/core/static/n26/busy.js
Due: check-fmt

fix: doubled_refunds.apply repairs gang by gang and skips a gang that spent what it was never owed (#2344)
  n26/core/doubled_refunds.py
  n26/tests/sandbox/test_doubled_refunds.py
Due: none

feat: record the battles a campaign has fought, and name them on its events (#2339)
  n26/core/admin.py
  n26/core/campaigns.py
  n26/core/forms.py
  n26/core/history.py
  n26/core/migrations/0035_a_campaign_records_the_battles_fought.py
  n26/core/migrations/0036_a_campaigns_budget_is_what_a_gang_is_founded_with.py
  n26/core/models/__init__.py
  n26/core/models/campaign.py
  n26/core/models/ledger.py
  n26/core/navigation.py
  n26/core/templates/cotton/n26/record_table/campaign_row.html
  n26/core/templates/n26/add_battle.html
  n26/core/templates/n26/add_gang_to_campaign.html
  n26/core/templates/n26/archive_campaign.html
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/campaigns.html
  n26/core/templates/n26/create_campaign.html
  n26/core/templates/n26/dashboard.html
  n26/core/templates/n26/includes/campaign_form_fields.html
  n26/core/templates/n26/remove_battle.html
  n26/core/templates/n26/remove_gang_from_campaign.html
  n26/core/templatetags/navigation.py
  n26/core/test_admin.py
  n26/core/test_campaigns.py
  n26/core/test_navigation.py
  n26/core/views/__init__.py
  n26/core/views/campaigns.py
  n26/designsystem/catalog.py
  n26/tests/sandbox/test_campaign_battles.py
  n26/tests/test_views_campaigns.py
  n26/urls.py
Due: none

fix: name the source on a delegated htmx request, and release only its control
  n26/core/static/n26/busy.js
  n26/core/static/n26/htmx_support.js
  n26/designsystem/assets/app.css
Due: check-fmt

docs: repair went per-gang (#2344); overspent gangs are skipped by ruling
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

feat: busy.js spins and disables the clicked n26 button until work ends (#2342)
  n26/core/static/n26/busy.js
  n26/core/static/n26/htmx_support.js
  n26/core/templates/cotton/ui/button.html
  n26/core/templates/n26/layouts/base.html
  n26/core/test_busy.py
  n26/designsystem/assets/app.css
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/base.html
  n26/designsystem/templates/designsystem/demos/button/60-busy.html
Due: check-fmt

fix: clear lasting effect assignments before the check constraint lands
  n26/core/migrations/0035_clear_lasting_effect_assignments.py
  n26/core/migrations/0036_remove_lasting_effect.py
  n26/library/migrations/0070_drop_lasting_effect_columns.py
  n26/library/migrations/0071_delete_lasting_effect.py
  n26/tests/sandbox/test_assignment_sets.py
Due: none

refactor: remove the LastingEffect kind and ProfileType.lasting_effect_term
  n26/core/migrations/0035_remove_lasting_effect.py
  n26/core/models/assignment.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/migrations/0070_remove_lasting_effect.py
  n26/library/migrations/0071_remove_lasting_effect.py
  n26/library/models/__init__.py
  n26/library/models/assignable.py
  n26/library/models/profile.py
  n26/library/specs.py
  n26/library/standard_content.py
  n26/library/templates/authoring/foundations.html
  n26/library/views.py
  n26/tests/fixtures.py
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_assignment_sets.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_foundations.py
  n26/tests/sandbox/test_prose.py
Due: check-fmt, markdownlint

test: name the Helot hidden Chaos God to match production
  n26/tests/sandbox/test_conversion_chaos_god.py
Due: none

feat: convert Chaos God onto slots and picks
  n26/library/conversion/__init__.py
  n26/library/conversion/base.py
  n26/library/conversion/chaos_god.py
  n26/maintenance.py
  n26/tests/sandbox/test_conversion_chaos_god.py
  n26/tests/test_maintenance_console.py
Due: none

fix: give CONVERT_CHAOS_GOD its own advisory lock key
  n26/maintenance.py
  n26/tests/test_maintenance_console.py
Due: none

chore: renumber the lasting effect migrations past the campaign budget
  n26/core/migrations/0037_clear_lasting_effect_assignments.py
  n26/core/migrations/0038_remove_lasting_effect.py
  n26/library/migrations/0071_delete_lasting_effect.py
Due: none

feat: save the picture from the open crop dialog, and refuse it there
  n26/core/static/n26/imagecrop.js
  n26/core/templates/cotton/n26/picture_box.html
  n26/core/templates/cotton/n26/picture_input.html
  n26/core/templates/n26/includes/messages.html
  n26/core/test_views_edit.py
  n26/designsystem/catalog.py
Due: check-fmt

refactor: remove the LastingEffect kind and ProfileType.lasting_effect_term (#2345)
  n26/core/migrations/0037_clear_lasting_effect_assignments.py
  n26/core/migrations/0038_remove_lasting_effect.py
  n26/core/models/assignment.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/migrations/0070_drop_lasting_effect_columns.py
  n26/library/migrations/0071_delete_lasting_effect.py
  n26/library/models/__init__.py
  n26/library/models/assignable.py
  n26/library/models/profile.py
  n26/library/specs.py
  n26/library/standard_content.py
  n26/library/templates/authoring/foundations.html
  n26/library/views.py
  n26/tests/fixtures.py
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_assignment_sets.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_foundations.py
  n26/tests/sandbox/test_prose.py
Due: check-fmt, markdownlint

docs: prod repair ran (3 fixed, 1 skipped) and the audit is clean — C7 unblocked
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

feat: convert Chaos God onto slots and picks (#2343)
  n26/library/conversion/__init__.py
  n26/library/conversion/base.py
  n26/library/conversion/chaos_god.py
  n26/maintenance.py
  n26/tests/sandbox/test_conversion_chaos_god.py
  n26/tests/test_maintenance_console.py
Due: none

feat: save the picture from the open crop dialog, and refuse it there (#2346)
  n26/core/static/n26/imagecrop.js
  n26/core/templates/cotton/n26/picture_box.html
  n26/core/templates/cotton/n26/picture_input.html
  n26/core/templates/n26/includes/messages.html
  n26/core/test_views_edit.py
  n26/designsystem/catalog.py
Due: check-fmt

feat: convert Variant onto slots and picks
  n26/library/conversion/__init__.py
  n26/library/conversion/base.py
  n26/library/conversion/variant.py
  n26/maintenance.py
  n26/tests/sandbox/test_conversion_variant.py
  n26/tests/sandbox/test_gang_books.py
  n26/tests/test_maintenance_console.py
Due: none

fix: refuse a conversion apply if a planned ArchivePick did not land
  n26/library/conversion/base.py
  n26/maintenance.py
  n26/tests/sandbox/test_conversion_variant.py
Due: none

feat: convert Variant onto slots and picks (#2347)
  n26/library/conversion/__init__.py
  n26/library/conversion/base.py
  n26/library/conversion/variant.py
  n26/maintenance.py
  n26/tests/sandbox/test_conversion_variant.py
  n26/tests/sandbox/test_gang_books.py
  n26/tests/test_maintenance_console.py
Due: none

docs: an apply's duration depends on the gangs it reaches
  .claude/notes/affiliation-conversion-eval.md
  .claude/notes/affiliation-conversion-plan.md
  n26/library/conversion/base.py
Due: check-fmt, markdownlint

docs: D15 (backfill never duplicates) and C7 sized against production, in progress
  .claude/notes/issue-2165-builtin-propagation-plan.md
Due: check-fmt, markdownlint

feat: a several-pick choice keeps its Choose, and allows_repeats offers a held pick again
  n26/core/printing.py
  n26/core/render.py
  n26/core/render_text.py
  n26/core/templates/cotton/n26/choice_picks.html
  n26/core/templates/cotton/n26/model_card/body.html
  n26/core/views/choose.py
  n26/designsystem/sampledata.py
  n26/tests/sandbox/test_slots_and_picks.py
Due: none

feat: Picklist.dice and PicklistMember roll bands make a picklist a roll table
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/migrations/0072_roll_bands.py
  n26/library/models/__init__.py
  n26/library/models/slots.py
  n26/library/specs.py
  n26/library/test_slots.py
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
Due: check-fmt, markdownlint

feat: a several-pick choice keeps its Choose, and allows_repeats offers a held pick again (#2350)
  n26/core/printing.py
  n26/core/render.py
  n26/core/render_text.py
  n26/core/templates/cotton/n26/choice_picks.html
  n26/core/templates/cotton/n26/model_card/body.html
  n26/core/views/choose.py
  n26/designsystem/sampledata.py
  n26/tests/sandbox/test_slots_and_picks.py
Due: none

fix: a several-pick choice says Add, in one size, on the card and in the picker
  n26/core/printing.py
  n26/core/render.py
  n26/core/render_text.py
  n26/core/templates/cotton/n26/choice_picks.html
  n26/core/templates/cotton/n26/model_card/body.html
  n26/designsystem/sampledata.py
  n26/designsystem/tests.py
  n26/tests/sandbox/test_slots_and_picks.py
Due: none

docs: an apply's duration depends on the gangs it reaches (#2349)
  .claude/notes/affiliation-conversion-eval.md
  .claude/notes/affiliation-conversion-plan.md
  n26/library/conversion/base.py
Due: check-fmt, markdownlint

fix: a choice that asks nothing draws no way in on the card
  n26/core/render.py
  n26/core/templates/cotton/n26/choice_picks.html
  n26/core/templates/cotton/n26/model_card/body.html
  n26/designsystem/catalog.py
  n26/tests/sandbox/test_slots_and_picks.py
Due: none

chore: add Codex config and canonical .agents skills
  .agents/skills/code-analysis-lenses/SKILL.md
  .agents/skills/design-system/SKILL.md
  .agents/skills/dev-server/SKILL.md
  .agents/skills/edit-github-discussion/SKILL.md
  .agents/skills/explain/SKILL.md
  .agents/skills/gyrinx-conventions/SKILL.md
  .agents/skills/pr-comments/SKILL.md
  .agents/skills/pr-comments/scripts/fetch-pr-comments.sh
  .agents/skills/trace-analysis/SKILL.md
  .agents/skills/worktree-db/SKILL.md
  .claude/skills
  .codex/agents/code-architect.toml
  .codex/agents/code-explorer.toml
  .codex/agents/code-reviewer.toml
  .codex/config.toml
  .codex/hooks.json
Due: check-fmt, markdownlint

fix: an Add click is confirmed as Added, and the picker's dead Choose branch goes
  n26/core/templates/cotton/n26/choice_picks.html
  n26/core/views/choose.py
  n26/tests/sandbox/test_slots_and_picks.py
Due: none

fix: an open choice built without a slot is not full, so its prompt draws
  n26/core/render.py
  n26/designsystem/tests.py
Due: none

chore: the flash comment names what the choice does, not the button
  n26/core/views/choose.py
Due: none

fix: check every id from a request before it reaches a query
  gyrinx/site/models.py
  n23/core/templates/core/includes/notification_list_item.html
  n23/core/views/notification.py
  n26/CLAUDE.md
  n26/core/campaigns.py
  n26/core/models/campaign.py
  n26/core/templates/n26/add_participant.html
  n26/core/templates/n26/dashboard.html
  n26/core/views/campaigns.py
  n26/core/views/gangs.py
  n26/notifications.py
  n26/tests/test_campaign_invitations.py
  n26/tests/test_views_campaigns.py
  n26/urls.py
Due: check-fmt, markdownlint

fix: mark the tab-mark literal for the security scan, not just the linter
  n26/core/views/gangs.py
Due: none

fix: let a notification link to a row keyed by something other than a UUID
  gyrinx/site/models.py
  gyrinx/tests/test_notifications.py
  n23/core/templates/core/includes/notification_list_item.html
  n23/core/views/notification.py
  n26/core/campaigns.py
  n26/core/models/campaign.py
  n26/core/templates/n26/campaigns.html
  n26/notifications.py
  n26/tests/test_campaign_invitations.py
Due: none

feat: ask people into a campaign, and let them accept or decline
  n26/CLAUDE.md
  n26/core/campaigns.py
  n26/core/history.py
  n26/core/migrations/0039_a_campaign_asks_people_in.py
  n26/core/models/__init__.py
  n26/core/models/campaign.py
  n26/core/templates/cotton/n26/view/dashboard.html
  n26/core/templates/n26/add_participant.html
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/campaigns.html
  n26/core/templates/n26/dashboard.html
  n26/core/templates/n26/includes/campaign_invitations.html
  n26/core/templates/n26/remove_participant.html
  n26/core/views/__init__.py
  n26/core/views/campaigns.py
  n26/core/views/gangs.py
  n26/designsystem/assets/app.css
  n26/notifications.py
  n26/tests/test_campaign_invitations.py
  n26/tests/test_views_campaigns.py
  n26/urls.py
Due: check-fmt, markdownlint

refactor: point an invitation's notification at the campaign
  n26/core/models/campaign.py
  n26/notifications.py
  n26/tests/test_campaign_invitations.py
Due: none

fix: put the search spinner over the results and cap the page width
  n26/core/templates/n26/add_participant.html
Due: none

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
