Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

Baseline-align filter panel elements across lists, campaigns, and packs
  gyrinx/core/templates/core/includes/campaigns_filter.html
  gyrinx/core/templates/core/includes/lists_filter.html
  gyrinx/core/templates/core/includes/packs_filter.html
Due: none

fix: support non-Docker execution in test and migration scripts (#1410)
  CLAUDE.md
  scripts/migrate.sh
  scripts/setup_web.sh
  scripts/test.sh
Due: check-fmt, markdownlint

Update UI labels from "My" to "Your" for better inclusivity (#1411)
  gyrinx/core/templates/core/includes/campaigns_filter.html
  gyrinx/core/templates/core/includes/lists_filter.html
  gyrinx/core/templates/core/includes/packs_filter.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/campaign/views.py
Due: none

fix: repair sudo config file ownership in web environment setup
  scripts/setup_web.sh
Due: none

fix: repair sudo config file ownership in web environment setup (#1414)
  scripts/setup_web.sh
Due: none

feat: add `manage prodshell` for read-only production database access
  gyrinx/core/management/commands/prodshell.py
  gyrinx/core/tests/test_prodshell.py
Due: none

fix: prodshell connects to production via subprocess settings file
  CLAUDE.md
  bandit/bandit-baseline.json
  gyrinx/core/management/commands/prodshell.py
  gyrinx/core/tests/test_prodshell.py
Due: check-fmt, markdownlint

Add prodshell management command for production database access (#1400)
  CLAUDE.md
  bandit/bandit-baseline.json
  gyrinx/core/management/commands/prodshell.py
  gyrinx/core/tests/test_prodshell.py
Due: check-fmt, markdownlint

fix: filter house-restricted equipment categories in equipment view (#1413)
  gyrinx/core/tests/test_combined_equipment_lists.py
  gyrinx/core/views/fighter/equipment.py
Due: none

feat: add custom rules CRUD to Content Packs (#1403)
  gyrinx/content/migrations/0155_add_description_to_contentrule.py
  gyrinx/content/models/metadata.py
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_item_add.html
  gyrinx/core/templates/core/pack/pack_item_delete.html
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: check-fmt

Revert "fix: filter house-restricted equipment categories in equipment view (…"
  gyrinx/core/tests/test_combined_equipment_lists.py
  gyrinx/core/views/fighter/equipment.py
Due: none

Revert "fix: filter house-restricted equipment categories in equipment view" (#1415)
  gyrinx/core/tests/test_combined_equipment_lists.py
  gyrinx/core/views/fighter/equipment.py
Due: none

fix: return 400 instead of 500 for RequestDataTooBig exception
  gyrinx/core/middleware.py
  gyrinx/core/tests/test_request_data_too_big.py
  gyrinx/settings.py
Due: none

fix: exclude house-restricted equipment categories from default selection
  gyrinx/core/tests/test_house_restricted_categories.py
  gyrinx/core/views/fighter/equipment.py
Due: none

fix: harden PostgreSQL startup in web environment setup
  scripts/setup_web.sh
Due: none

fix: return 400 instead of 500 for RequestDataTooBig exception (#1374)
  gyrinx/core/middleware.py
  gyrinx/core/tests/test_request_data_too_big.py
  gyrinx/settings.py
Due: none

Improve setup_web.sh robustness and error handling (#1417)
  scripts/setup_web.sh
Due: none

Add weekly Claude docs update workflow
  .github/workflows/claude-docs-update.yml
Due: check-fmt

feat: add archive/restore and activity tracking for Content Pack items
  gyrinx/core/templates/core/includes/pack_activity_item.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_archived.html
  gyrinx/core/templates/core/pack/pack_item_delete.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: none

fix: strip invalid cross-page cat IDs and filter combine by equipment type
  gyrinx/core/tests/test_house_restricted_categories.py
  gyrinx/core/views/fighter/equipment.py
Due: none

fix: allow template campaigns in copy-from source lookup (#1421)
  gyrinx/core/tests/test_campaign_copy.py
  gyrinx/core/views/campaign/copy.py
Due: none

fix: strip cat params from Edit weapons/gear navigation links
  gyrinx/core/templates/core/includes/fighter_card_gear.html
  gyrinx/core/templates/core/includes/list_fighter_weapons.html
Due: none

feat: add dedicated SessionStart hook for venv auto-activation
  .claude/settings.json
  CLAUDE.md
  scripts/activate_venv_hook.sh
  scripts/setup_web.sh
Due: check-fmt, markdownlint

docs: soften venv auto-activation note in CLAUDE.md
  CLAUDE.md
Due: check-fmt, markdownlint

review tweaks
  .github/workflows/claude-docs-update.yml
Due: check-fmt

Separate virtualenv activation into dedicated SessionStart hook (#1422)
  .claude/settings.json
  CLAUDE.md
  scripts/activate_venv_hook.sh
  scripts/setup_web.sh
Due: check-fmt, markdownlint

fix: consolidate house-restriction redirect to fire regardless of filter state
  gyrinx/core/tests/test_house_restricted_categories.py
  gyrinx/core/views/fighter/equipment.py
Due: none

Add weekly Claude content library docs update workflow (#1418)
  .github/workflows/claude-docs-update.yml
Due: check-fmt

fix: address review feedback on pack archive implementation
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: none

fix: exclude house-restricted equipment categories from default selection (#1416)
  gyrinx/core/templates/core/includes/fighter_card_gear.html
  gyrinx/core/templates/core/includes/list_fighter_weapons.html
  gyrinx/core/tests/test_house_restricted_categories.py
  gyrinx/core/views/fighter/equipment.py
Due: none

feat: add custom rules CRUD with archive/restore for Content Packs (#1419)
  gyrinx/content/migrations/0155_add_description_to_contentrule.py
  gyrinx/content/models/metadata.py
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/includes/pack_activity_item.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_archived.html
  gyrinx/core/templates/core/pack/pack_item_add.html
  gyrinx/core/templates/core/pack/pack_item_delete.html
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: check-fmt

feat: allow stash credits editing in list building mode
  gyrinx/core/forms/list.py
  gyrinx/core/templates/core/includes/fighter_card_stash.html
  gyrinx/core/tests/test_list_credit_tracking.py
  gyrinx/core/views/list/views.py
Due: none

feat: add custom fighters CRUD to Content Packs
  gyrinx/content/migrations/0156_ensure_fighter_statline_type.py
  gyrinx/core/forms/pack.py
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/pack/pack_item_add.html
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: check-fmt

Enable credit tracking in list building mode (#1423)
  gyrinx/core/forms/list.py
  gyrinx/core/templates/core/includes/fighter_card_stash.html
  gyrinx/core/tests/test_list_credit_tracking.py
  gyrinx/core/views/list/views.py
Due: none

fix: preserve stat values on form validation error re-render
  gyrinx/core/templates/core/pack/pack_item_add.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: none

feat: add custom fighters CRUD to Content Packs (#1404) (#1424)
  gyrinx/content/migrations/0156_ensure_fighter_statline_type.py
  gyrinx/core/forms/pack.py
  gyrinx/core/static/core/scss/styles.scss
  gyrinx/core/templates/core/pack/pack_item_add.html
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: check-fmt

feat: add feature-dev plugin from anthropics/claude-code
  plugins/feature-dev/.claude-plugin/plugin.json
  plugins/feature-dev/README.md
  plugins/feature-dev/agents/code-architect.md
  plugins/feature-dev/agents/code-explorer.md
  plugins/feature-dev/agents/code-reviewer.md
  plugins/feature-dev/commands/feature-dev.md
Due: check-fmt, markdownlint

refactor: move feature-dev plugin into .claude/ directory
  .claude/agents/code-architect.md
  .claude/agents/code-explorer.md
  .claude/agents/code-reviewer.md
  .claude/commands/feature-dev.md
  CLAUDE.md
  plugins/feature-dev/.claude-plugin/plugin.json
  plugins/feature-dev/README.md
Due: check-fmt, markdownlint

feat: add pack subscriptions for lists (#1405)
  gyrinx/core/forms/list.py
  gyrinx/core/migrations/0130_list_packs_m2m.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/list.html
  gyrinx/core/templates/core/list_edit.html
  gyrinx/core/templates/core/list_new_packs.html
  gyrinx/core/templates/core/list_packs.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/tests/test_list_packs.py
  gyrinx/core/urls.py
  gyrinx/core/views/fighter/rules.py
  gyrinx/core/views/list/views.py
  gyrinx/core/views/pack.py
Due: none

feat: add feature-dev agents and command from anthropics/claude-code (#1430)
  .claude/agents/code-architect.md
  .claude/agents/code-explorer.md
  .claude/agents/code-reviewer.md
  .claude/commands/feature-dev.md
  CLAUDE.md
Due: check-fmt, markdownlint
