Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

fix: category-override edge cases and toggle a11y from review
  gyrinx/core/handlers/crew.py
  gyrinx/core/templates/core/crew/crew_form.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/crew.py
Due: none

refactor: use readable slugs in the crew ?include= querystring
  gyrinx/core/templates/core/crew/crew_form.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/crew.py
Due: none

feat: campaign-level default for crew category opt-ins, overridable per crew
  gyrinx/core/forms/campaign.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/migrations/0181_campaign_default_crew_categories.py
  gyrinx/core/models/campaign.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/crew.py
Due: check-fmt

fix: align the campaign crew-category checkboxes with their labels
  gyrinx/core/forms/campaign.py
Due: none

feat: exclude hangers-on and vehicle crew from crew selection (with opt-in toggles) (#2015)
  gyrinx/core/forms/campaign.py
  gyrinx/core/forms/crew.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/migrations/0180_crew_included_categories.py
  gyrinx/core/migrations/0181_campaign_default_crew_categories.py
  gyrinx/core/models/campaign.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/crew/crew_form.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/crew.py
Due: check-fmt

fix: address PR review on promotions Phase 1
  .claude/notes/promotions-epic-design.md
  gyrinx/content/admin.py
  gyrinx/content/migrations/0178_seed_promotion_category_paths.py
  gyrinx/content/models/promotion.py
  gyrinx/content/tests/test_promotion.py
Due: check-fmt, markdownlint

feat: ContentPromotionCategoryPath model + seed (promotions epic Phase 1)
  .claude/notes/promotions-epic-design.md
  gyrinx/content/admin.py
  gyrinx/content/migrations/0177_add_content_promotion_category_path.py
  gyrinx/content/migrations/0178_seed_promotion_category_paths.py
  gyrinx/content/models/__init__.py
  gyrinx/content/models/promotion.py
  gyrinx/content/tests/test_promotion.py
Due: check-fmt, markdownlint

chore: renumber promotions migrations after rebase onto main
  gyrinx/content/migrations/0178_add_content_promotion_category_path.py
  gyrinx/content/migrations/0179_seed_promotion_category_paths.py
Due: none

chore: renumber promotions migrations after 2nd rebase onto main
  gyrinx/content/migrations/0180_add_content_promotion_category_path.py
  gyrinx/content/migrations/0181_seed_promotion_category_paths.py
Due: none

refactor: unify promotions into RAW-faithful ContentPromotionPath
  .claude/notes/promotions-epic-design.md
  .claude/notes/promotions-rules-spec.md
  gyrinx/content/admin.py
  gyrinx/content/migrations/0180_add_content_promotion_path.py
  gyrinx/content/migrations/0181_seed_promotion_paths.py
  gyrinx/content/models/__init__.py
  gyrinx/content/models/promotion.py
  gyrinx/content/tests/test_promotion.py
Due: check-fmt, markdownlint

docs: initial content ingest spec for promotion paths (rules x live library)
  .claude/notes/promotions-epic-design.md
Due: check-fmt, markdownlint

docs: ingest is manual admin authoring (no prod commands)
  .claude/notes/promotions-epic-design.md
Due: check-fmt, markdownlint

fix: promotion targets admin widget — autocomplete, not filter_horizontal
  gyrinx/content/admin.py
Due: none

fix: exclude content-pack fighters from promotion source/targets lookups
  gyrinx/content/migrations/0180_add_content_promotion_path.py
  gyrinx/content/models/promotion.py
  gyrinx/content/tests/test_promotion.py
Due: none

feat: rolls as 2d6 checkboxes in the promotion admin
  gyrinx/content/admin.py
  gyrinx/content/tests/test_promotion.py
Due: none

feat: content-driven promotions — Phase 1 (unified ContentPromotionPath) (#1952)
  .claude/notes/promotions-epic-design.md
  .claude/notes/promotions-rules-spec.md
  gyrinx/content/admin.py
  gyrinx/content/migrations/0180_add_content_promotion_path.py
  gyrinx/content/migrations/0181_seed_promotion_paths.py
  gyrinx/content/models/__init__.py
  gyrinx/content/models/promotion.py
  gyrinx/content/tests/test_promotion.py
Due: check-fmt, markdownlint

feat: wire the advancement flow through ContentPromotionPath (promotions Phase 2)
  .claude/notes/promotions-epic-design.md
  gyrinx/conftest.py
  gyrinx/content/models/promotion.py
  gyrinx/content/tests/test_promotion.py
  gyrinx/core/forms/advancement.py
  gyrinx/core/handlers/fighter/advancement.py
  gyrinx/core/migrations/0182_advancement_promotion_type_and_path.py
  gyrinx/core/models/list/advancement.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_advancement_choices.py
  gyrinx/core/tests/test_advancements.py
  gyrinx/core/tests/test_fighter_advancements.py
  gyrinx/core/tests/test_promotion_paths.py
  gyrinx/core/views/fighter/advancements.py
Due: check-fmt, markdownlint

refactor: one tie-break helper for equipment-list override preference
  gyrinx/core/cost/pinning.py
  gyrinx/core/models/list/_common.py
  gyrinx/core/models/list/assignment.py
Due: none

feat: type-change promotions with target choice (promotions Phases 3+4)
  gyrinx/content/models/equipment_list.py
  gyrinx/content/models/house.py
  gyrinx/core/forms/advancement.py
  gyrinx/core/handlers/fighter/advancement.py
  gyrinx/core/migrations/0183_promotion_pointer_and_target.py
  gyrinx/core/models/list/_common.py
  gyrinx/core/models/list/advancement.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/templates/core/list_fighter_advancement_select.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_promotion_paths.py
  gyrinx/core/views/fighter/advancements.py
Due: check-fmt

feat: promotion state survives fighter copies (promotions Phase 5)
  .claude/notes/promotions-epic-design.md
  gyrinx/core/handlers/fighter/hire_clone.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/tests/test_promotion_paths.py
  gyrinx/core/views/fighter/crud.py
Due: check-fmt, markdownlint

docs: promotions guide (content library + technical reference)
  docs/SUMMARY.md
  docs/content-library/README.md
  docs/content-library/advancements.md
  docs/content-library/promotions.md
  docs/technical-reference/fighter-advancements.md
Due: check-fmt, markdownlint

perf: prefetch targets in the roll-prefill path loop
  gyrinx/core/forms/advancement.py
Due: none

fix: multi-target promotion rows without a stored choice resolve no target
  docs/technical-reference/fighter-advancements.md
  gyrinx/core/models/list/advancement.py
  gyrinx/core/tests/test_promotion_paths.py
Due: check-fmt, markdownlint

fix: harden promotions per review — audit mirror, availability, target integrity
  gyrinx/content/models/promotion.py
  gyrinx/content/models/signal_handlers.py
  gyrinx/core/cost/pin_sweep.py
  gyrinx/core/handlers/fighter/advancement.py
  gyrinx/core/models/list/advancement.py
  gyrinx/core/models/list/assignment.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/templates/core/list_fighter_advancements.html
  gyrinx/core/tests/test_promotion_paths.py
  gyrinx/core/views/fighter/advancements.py
Due: none

perf: SQL category pre-filter for path offers; cache promotion_path per request
  gyrinx/core/forms/advancement.py
  gyrinx/core/views/fighter/advancements.py
Due: none

fix: select view catches its own ValueError guard rejections
  gyrinx/core/views/fighter/advancements.py
Due: none

feat: content-driven promotions — wizard, type changes with target choice, propagation (Phases 2–5) (#2019)
  .claude/notes/promotions-epic-design.md
  docs/SUMMARY.md
  docs/content-library/README.md
  docs/content-library/advancements.md
  docs/content-library/promotions.md
  docs/technical-reference/fighter-advancements.md
  gyrinx/conftest.py
  gyrinx/content/models/equipment_list.py
  gyrinx/content/models/house.py
  gyrinx/content/models/promotion.py
  gyrinx/content/models/signal_handlers.py
  gyrinx/content/tests/test_promotion.py
  gyrinx/core/cost/pin_sweep.py
  gyrinx/core/cost/pinning.py
  gyrinx/core/forms/advancement.py
  gyrinx/core/handlers/fighter/advancement.py
  gyrinx/core/handlers/fighter/hire_clone.py
  gyrinx/core/migrations/0182_advancement_promotion_type_and_path.py
  gyrinx/core/migrations/0183_promotion_pointer_and_target.py
  gyrinx/core/models/list/_common.py
  gyrinx/core/models/list/advancement.py
  gyrinx/core/models/list/assignment.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/templates/core/list_fighter_advancement_select.html
  gyrinx/core/templates/core/list_fighter_advancements.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_advancement_choices.py
  gyrinx/core/tests/test_advancements.py
  gyrinx/core/tests/test_fighter_advancements.py
  gyrinx/core/tests/test_promotion_paths.py
  gyrinx/core/views/fighter/advancements.py
  gyrinx/core/views/fighter/crud.py
Due: check-fmt, markdownlint

fix: only add crew extras once the crew is locked, not on a draft
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/views/crew.py
Due: none

feat: hired guns and the like are always included in a crew, never drawn
  .claude/notes/crew-eligibility-plan.md
  gyrinx/core/handlers/crew.py
  gyrinx/core/migrations/0182_crew_member_included_source.py
  gyrinx/core/models/crew.py
  gyrinx/core/tests/test_crew.py
Due: check-fmt, markdownlint

feat: crew eligibility model + per-fighter default/override computation
  .claude/notes/crew-eligibility-plan.md
  gyrinx/core/handlers/crew.py
  gyrinx/core/migrations/0183_crew_size_and_eligibility_overrides.py
  gyrinx/core/models/crew.py
  gyrinx/core/tests/test_crew.py
Due: check-fmt, markdownlint

feat: crew size drives the random draw
  .claude/notes/crew-eligibility-plan.md
  gyrinx/core/forms/crew.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/templates/core/crew/crew_eligibility.html
  gyrinx/core/templates/core/crew/crew_form.html
  gyrinx/core/tests/test_crew.py
Due: check-fmt, markdownlint

docs: capture the crew setup-step design (increment 4)
  .claude/notes/crew-eligibility-plan.md
Due: check-fmt, markdownlint

revert: drop the invented crew_size concept
  gyrinx/core/forms/crew.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/migrations/0183_crew_eligibility_overrides.py
  gyrinx/core/models/crew.py
  gyrinx/core/templates/core/crew/crew_eligibility.html
  gyrinx/core/templates/core/crew/crew_form.html
  gyrinx/core/tests/test_crew.py
Due: none

fix: convalescing fighters are eligible for a crew by default
  gyrinx/core/handlers/crew.py
  gyrinx/core/tests/test_crew.py
Due: none

feat: per-fighter crew eligibility screen
  .claude/notes/crew-eligibility-plan.md
  gyrinx/core/forms/crew.py
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/crew/crew_eligibility.html
  gyrinx/core/templates/core/crew/crew_form.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/urls/campaign.py
  gyrinx/core/views/crew.py
Due: check-fmt, markdownlint

feat: reorder crew setup fields; keep the typed name across method switches
  gyrinx/core/templates/core/crew/crew_setup.html
Due: none

refactor: crew pool derives from unified eligibility computation
  gyrinx/core/forms/crew.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/tests/test_crew.py
Due: none

feat: setup-first crew flow — method + config on the setup screen, tabbed
  .claude/notes/crew-eligibility-plan.md
  gyrinx/core/forms/crew.py
  gyrinx/core/handlers/crew.py
  gyrinx/core/templates/core/crew/crew.html
  gyrinx/core/templates/core/crew/crew_eligibility.html
  gyrinx/core/templates/core/crew/crew_form.html
  gyrinx/core/templates/core/crew/crew_setup.html
  gyrinx/core/templates/core/crew/includes/crew_tabs.html
  gyrinx/core/tests/test_crew.py
  gyrinx/core/urls/campaign.py
  gyrinx/core/views/crew.py
Due: check-fmt, markdownlint

feat: hide vehicles from the crew list; default allies to always-included
  gyrinx/core/handlers/crew.py
  gyrinx/core/tests/test_crew.py
Due: none

feat: show the always-included fighters on the crew selection screen
  gyrinx/core/forms/crew.py
  gyrinx/core/templates/core/crew/crew_form.html
  gyrinx/core/tests/test_crew.py
Due: none

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
