Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

fix: keep N26 augmentations with fighters and refresh glitch reviews (#2726)
  n26/core/action_records.py
  n26/core/listing.py
  n26/core/operations.py
  n26/core/owned.py
  n26/core/tier_choices.py
  n26/core/views/action_flows.py
  n26/core/views/gangs.py
  n26/core/views/owned.py
  n26/tests/sandbox/test_fighter_action_flows.py
  n26/tests/sandbox/test_spyrer_augmentations.py
Due: none

fix: name the items below full price in the n26 equip rating question
  n26/core/operations.py
  n26/core/test_views_rating_box.py
  n26/core/views/equip.py
Due: none

fix: keep the full list price when the n26 equip rating box is ticked
  n26/core/test_views_rating_box.py
  n26/core/views/equip.py
Due: none

docs: describe the ticked rating box in the n26 equip _charge docstring
  n26/core/views/equip.py
Due: none

fix: keep a negative n26 list price as its own full price in the equip rating
  n26/core/test_views_rating_box.py
  n26/core/views/equip.py
Due: none

feat: ask "Match rating to price" when n26 equip buys below full price (#2725)
  n26/core/confirm.py
  n26/core/operations.py
  n26/core/templates/n26/confirm.html
  n26/core/templates/n26/includes/confirm_checkbox.html
  n26/core/templates/n26/includes/equip_overspend.html
  n26/core/test_views_equip.py
  n26/core/test_views_gang_equip.py
  n26/core/test_views_rating_box.py
  n26/core/views/equip.py
  n26/tests/sandbox/test_buying_with_options.py
  n26/tests/sandbox/test_gang_legacy.py
Due: none

fix: show why /_debug/login/ rejected an agent username
  .agents/skills/dev-server/SKILL.md
  gyrinx/debug_login.py
  gyrinx/tests/test_debug_login.py
  gyrinx/views_debug.py
Due: check-fmt, markdownlint

fix: echo only the fixed refusals from /_debug/login/
  gyrinx/views_debug.py
Due: none

fix: return the refusal constant rather than the exception text
  gyrinx/views_debug.py
Due: none

docs: rebuild test databases when Postgres is out of shared memory
  .agents/skills/worktree-db/SKILL.md
  AGENTS.md
  README.md
  docs/developing-gyrinx/testing.md
Due: check-fmt, markdownlint

docs: use --create-db alone and drop the README copy of the shared-memory note
  .agents/skills/worktree-db/SKILL.md
  AGENTS.md
  README.md
  docs/developing-gyrinx/testing.md
Due: check-fmt, markdownlint

docs: a shared-memory failure needs only a rerun, not a --create-db step
  .agents/skills/worktree-db/SKILL.md
  AGENTS.md
  docs/developing-gyrinx/testing.md
Due: check-fmt, markdownlint

fix: compare check_microcopy --diff with origin/main
  .agents/skills/microcopy/SKILL.md
  .claude/agents/copywriter.md
  .claude/commands/manual-test-plan.md
  AGENTS.md
  gyrinx/tests/test_microcopy_diff_base.py
  scripts/check_microcopy.py
Due: check-fmt, markdownlint

refactor: draw the c-ui.switch track with React
  n26/core/templates/cotton/ui/switch/face.html
  n26/core/templates/cotton/ui/switch/impl.html
  n26/core/templatetags/form_switch.py
  n26/core/test_form_switch.py
  n26/designsystem/catalog.py
  n26/frontend/islands/form-switch/FormSwitch.test.tsx
  n26/frontend/islands/form-switch/FormSwitch.tsx
  n26/frontend/islands/form-switch/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/frontend/tooling/export_cotton_recipes.py
  n26/frontend/tooling/test_export_cotton_recipes.py
  n26/frontend/ui/index.tsx
  n26/tests/sandbox/test_authoring_views.py
Due: check-fmt

test: stub the origin/main ref check so CI's checkout cannot flip it
  gyrinx/tests/test_microcopy_diff_base.py
Due: none

docs: list only the branch's own files in the manual test plan
  .claude/commands/manual-test-plan.md
  gyrinx/tests/test_microcopy_diff_base.py
Due: check-fmt, markdownlint

docs: say c-ui.switch forwards only id to its checkbox
  n26/core/templates/cotton/ui/switch/impl.html
Due: none

docs: describe the switch's change and checkedChange as they now fire
  n26/core/templates/cotton/n26/toggle.html
  n26/core/templates/n26/add_gang_to_campaign.html
  n26/designsystem/catalog.py
Due: none

feat: mark React components in the design-system gallery
  n26/designsystem/catalog.py
  n26/designsystem/introspect.py
  n26/designsystem/templates/designsystem/_react_mark.html
  n26/designsystem/templates/designsystem/base.html
  n26/designsystem/templates/designsystem/component.html
  n26/designsystem/tests.py
Due: none

test: expect the switch among the React-marked components
  n26/designsystem/tests.py
Due: none

feat: let N26 profiles hide equipment categories from a list
  n26/core/access.py
  n26/core/browse.py
  n26/core/card.py
  n26/core/effects.py
  n26/core/views/equip.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/forms.py
  n26/library/migrations/0119_hide_equipment_categories.py
  n26/library/models/__init__.py
  n26/library/models/modifier.py
  n26/library/prose.py
  n26/library/recipes.md
  n26/library/references.py
  n26/library/specs.py
  n26/tests/sandbox/test_equipment_category_access.py
Due: check-fmt, markdownlint

feat: let N26 profiles hide equipment categories from a list (#2744)
  n26/core/access.py
  n26/core/browse.py
  n26/core/card.py
  n26/core/effects.py
  n26/core/views/equip.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/forms.py
  n26/library/migrations/0119_hide_equipment_categories.py
  n26/library/models/__init__.py
  n26/library/models/modifier.py
  n26/library/prose.py
  n26/library/recipes.md
  n26/library/references.py
  n26/library/specs.py
  n26/tests/sandbox/test_equipment_category_access.py
Due: check-fmt, markdownlint

fix: keep empty Lasting Injuries rows off n26 gang cards and release captures
  n26/core/operations.py
  n26/core/render.py
  n26/core/templates/n26/gang_sheet.html
  n26/core/views/edit.py
  n26/core/views/gangs.py
  n26/designsystem/templates/designsystem/demos/model-card/80-dead.html
  n26/tests/sandbox/test_escape.py
  n26/tests/sandbox/test_model_status.py
  n26/tests/test_views_crews.py
Due: none

fix: restore manual tier selection on the N26 model Edit page
  n26/core/test_action_augmentations.py
  n26/core/tier_choices.py
  n26/core/views/choose.py
  n26/tests/sandbox/test_fighter_action_flows.py
  n26/tests/sandbox/test_spyrer_augmentations.py
Due: none

test: expect manual tier links in the N26 chooser layout
  n26/tests/sandbox/test_choosing.py
Due: none

fix: preserve N23 injury rating until death confirmation
  n23/core/tests/test_injury_views.py
  n23/core/tests/test_reconcile_backfill.py
  n23/core/views/fighter/state.py
Due: none

fix: allow N23 campaign admins to confirm fighter death
  n23/core/tests/test_injury_views.py
  n23/core/views/fighter/crud.py
Due: none

feat: add N26 campaign player actions and dice logging
  n26/core/campaign_permissions.py
  n26/core/campaigns.py
  n26/core/forms.py
  n26/core/history.py
  n26/core/migrations/0078_campaign_dice_rolls.py
  n26/core/models/__init__.py
  n26/core/models/campaign.py
  n26/core/models/campaign_roll.py
  n26/core/templates/cotton/n26/view/campaign_sheet.html
  n26/core/templates/n26/add_battle.html
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/campaign_log.html
  n26/core/templates/n26/campaign_roll.html
  n26/core/templates/n26/includes/campaign_log.html
  n26/core/templates/n26/record_campaign_roll.html
  n26/core/views/__init__.py
  n26/core/views/campaign_rolls.py
  n26/core/views/campaigns.py
  n26/core/views/permissions.py
  n26/designsystem/templates/designsystem/shell/campaign.html
  n26/tests/test_views_campaign_rolls.py
  n26/tests/test_views_campaigns.py
  n26/urls.py
Due: none

fix: apply N23 fighter death once under concurrent confirmations
  n23/core/handlers/fighter/kill.py
  n23/core/tests/test_handlers_fighter_lifecycle.py
  n23/core/tests/test_injury_views.py
  n23/core/tests/test_reconcile_backfill.py
  n23/core/views/fighter/crud.py
Due: none

fix: clarify N26 campaign recording recovery and history
  n26/core/forms.py
  n26/core/templates/n26/record_campaign_roll.html
  n26/core/views/campaigns.py
  n26/tests/test_views_campaign_rolls.py
Due: none

fix: count only applied N23 post-battle deaths
  n23/core/handlers/fighter/injury.py
  n23/core/tests/test_post_battle_updates.py
  n23/core/views/list/post_battle.py
Due: none

fix: release only unrolled captures moving to Active or In Recovery
  n26/core/operations.py
  n26/core/render.py
  n26/core/views/gangs.py
  n26/tests/sandbox/test_escape.py
Due: none

fix: restore manual tier selection on the N26 model Edit page (#2746)
  n26/core/test_action_augmentations.py
  n26/core/tier_choices.py
  n26/core/views/choose.py
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_fighter_action_flows.py
  n26/tests/sandbox/test_spyrer_augmentations.py
Due: none

fix: match N23 death locks to fighter cost writers
  n23/core/handlers/fighter/kill.py
  n23/core/tests/test_handlers_fighter_lifecycle.py
Due: none

test: put the model back in Captured before checking a rolled capture stays
  n26/tests/sandbox/test_escape.py
Due: none

fix: describe N26 campaign note changes as updates
  n26/core/history.py
Due: none

fix: keep empty Lasting Injuries rows off n26 gang cards and release captures (#2745)
  n26/core/operations.py
  n26/core/render.py
  n26/core/templates/n26/gang_sheet.html
  n26/core/views/edit.py
  n26/core/views/gangs.py
  n26/designsystem/templates/designsystem/demos/model-card/80-dead.html
  n26/tests/sandbox/test_escape.py
  n26/tests/sandbox/test_model_status.py
  n26/tests/test_views_crews.py
Due: none

fix: preserve N26 dice history when removing battles
  n26/core/campaigns.py
  n26/core/templates/n26/remove_battle.html
  n26/core/views/battles.py
  n26/core/views/campaigns.py
  n26/tests/test_views_battles.py
  n26/tests/test_views_campaign_rolls.py
Due: none
