Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

perf: use QuerySet.update() in facts_from_db to bypass signals (#1210)
  gyrinx/core/models/list.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_history_tracking.py
Due: none

perf: use QuerySet.update() in set_dirty to bypass signals
  gyrinx/core/models/list.py
Due: none

perf: use QuerySet.update() in set_dirty to bypass signals (#1211)
  gyrinx/core/models/list.py
Due: none

perf: optimize list view display methods and reduce N+1 queries
  gyrinx/core/models/list.py
  gyrinx/core/views/list.py
  gyrinx/settings_dev.py
Due: none

Turn creating initial list actions by default
  gyrinx/settings.py
Due: none

perf: optimize list view display methods and reduce N+1 queries (#1212)
  gyrinx/core/models/list.py
  gyrinx/core/views/list.py
  gyrinx/settings.py
  gyrinx/settings_dev.py
Due: none

feat: add admin action to backfill list action tracking
  gyrinx/core/admin/list.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_tasks.py
  gyrinx/tasks/registry.py
Due: none

Address review feedback
  gyrinx/core/admin/list.py
  gyrinx/core/tasks.py
  gyrinx/tasks/registry.py
Due: none

feat: add admin action to backfill list action tracking (#1214)
  gyrinx/core/admin/list.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_tasks.py
  gyrinx/tasks/registry.py
Due: none

Remove debug requirement from actions view
  gyrinx/core/views/debug.py
Due: none

feat: add scheduled task support via Cloud Scheduler
  gyrinx/settings_prod.py
  gyrinx/tasks/provisioning.py
  gyrinx/tasks/route.py
  gyrinx/tasks/tests/test_route.py
  requirements.txt
Due: none

Address PR feedback: add type annotation and clarify message format
  gyrinx/tasks/provisioning.py
Due: none

feat: add scheduled backfill task to find and enqueue lists missing actions
  gyrinx/core/tasks.py
  gyrinx/tasks/registry.py
Due: none

Remove unused 'scheduled' field from scheduler message payload
  gyrinx/tasks/provisioning.py
Due: none

Add 5s sleep between batches of 10 enqueues in backfill scheduler
  gyrinx/core/tasks.py
Due: none

Add cron validation to TaskRoute and reduce backfill frequency
  gyrinx/tasks/registry.py
  gyrinx/tasks/route.py
  gyrinx/tasks/tests/test_route.py
Due: none

Improve scheduler provisioning with cleanup and validation
  gyrinx/tasks/provisioning.py
  gyrinx/tasks/route.py
  gyrinx/tasks/tests/test_route.py
Due: none

Remove time.sleep from backfill scheduler and add test coverage
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_tasks.py
Due: none

feat: add scheduled task support via Cloud Scheduler (#1216)
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_tasks.py
  gyrinx/settings_prod.py
  gyrinx/tasks/provisioning.py
  gyrinx/tasks/registry.py
  gyrinx/tasks/route.py
  gyrinx/tasks/tests/test_route.py
  requirements.txt
Due: none

fix: replace dots with hyphens in Cloud Scheduler job names
  gyrinx/tasks/route.py
  gyrinx/tasks/tests/test_route.py
Due: none

fix: add backpressure for database connection exhaustion
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_tasks.py
  gyrinx/tasks/registry.py
  gyrinx/tasks/views.py
Due: none

feat: force tracing and log GCP trace URLs in debug mode
  gyrinx/settings_dev.py
  gyrinx/tracing.py
Due: none

feat: include method, path, and status code in trace URL log
  gyrinx/tracing.py
Due: none

Remove backfill task infrastructure after migration complete
  gyrinx/core/admin/list.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_tasks.py
  gyrinx/tasks/registry.py
Due: none

docs: add task framework documentation
  docs/SUMMARY.md
  docs/tasks/architecture.md
  docs/tasks/how-to.md
  docs/tasks/reference.md
Due: check-fmt, markdownlint

Remove backfill task infrastructure after migration complete (#1217)
  gyrinx/core/admin/list.py
  gyrinx/core/tasks.py
  gyrinx/core/tests/test_tasks.py
  gyrinx/tasks/registry.py
Due: none

feat: force tracing and log GCP trace URLs in debug mode (#1213)
  gyrinx/settings_dev.py
  gyrinx/tracing.py
Due: none

tweaks
  docs/SUMMARY.md
  docs/explanation/task-framework.md
  docs/how-to-guides/task-framework.md
  docs/technical-reference/task-framework.md
Due: check-fmt, markdownlint

docs: add task framework documentation (#1218)
  docs/SUMMARY.md
  docs/explanation/task-framework.md
  docs/how-to-guides/task-framework.md
  docs/technical-reference/task-framework.md
Due: check-fmt, markdownlint

feat: add with_latest_actions() method and fix prefetch gaps in views
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/list_performance.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/views/__init__.py
  gyrinx/core/views/campaign.py
  gyrinx/core/views/list.py
Due: check-fmt

feat: remove in-memory cache READ path from List.cost_int_cached (#1215)
  .claude/notes/cost-call-graph.md
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/campaign/campaign_start.html
  gyrinx/core/tests/test_list_refresh_cost.py
  gyrinx/core/tests/test_models_core.py
  gyrinx/core/views/campaign.py
  gyrinx/core/views/list.py
Due: check-fmt, markdownlint

feat: add with_latest_actions() method and fix prefetch gaps in views (#1219)
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/list_performance.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/views/__init__.py
  gyrinx/core/views/campaign.py
  gyrinx/core/views/list.py
Due: check-fmt

feat: remove in-memory cache WRITE path and infrastructure (#1215)
  gyrinx/conftest.py
  gyrinx/core/handlers/campaign_operations.py
  gyrinx/core/models/list.py
  gyrinx/core/test_utils.py
  gyrinx/core/tests/test_assignment_deletion_cost.py
  gyrinx/core/tests/test_models_core.py
  gyrinx/settings.py
  pyproject.toml
Due: none

fix: use cost_int() instead of deprecated cost_int_cached
  gyrinx/core/handlers/campaign_operations.py
  gyrinx/core/tests/test_assignment_deletion_cost.py
Due: none

fix: mark cloned fighters dirty in copy_attributes_to()
  gyrinx/content/tests/test_content_cost_signals.py
  gyrinx/core/handlers/campaign_operations.py
  gyrinx/core/models/campaign.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/campaign/campaign_asset_new.html
  gyrinx/core/templates/core/list_performance.html
  gyrinx/core/tests/test_clone_linked_fighter_equipment.py
  gyrinx/core/tests/test_models_core.py
  gyrinx/core/views/vehicle.py
Due: none

feat: remove in-memory cache paths and infrastructure (#1215) (#1221)
  .claude/notes/cost-call-graph.md
  gyrinx/conftest.py
  gyrinx/content/tests/test_content_cost_signals.py
  gyrinx/core/handlers/campaign_operations.py
  gyrinx/core/models/campaign.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/campaign/campaign_asset_new.html
  gyrinx/core/templates/core/campaign/campaign_start.html
  gyrinx/core/templates/core/list_performance.html
  gyrinx/core/test_utils.py
  gyrinx/core/tests/test_assignment_deletion_cost.py
  gyrinx/core/tests/test_clone_linked_fighter_equipment.py
  gyrinx/core/tests/test_list_refresh_cost.py
  gyrinx/core/tests/test_models_core.py
  gyrinx/core/views/campaign.py
  gyrinx/core/views/list.py
  gyrinx/core/views/vehicle.py
  gyrinx/settings.py
  pyproject.toml
Due: check-fmt, markdownlint

perf: optimize list detail page load by batching expansion queries
  gyrinx/content/models_/expansion.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
Due: check-fmt

perf: optimize list detail page load by batching expansion queries (#1224)
  gyrinx/content/models_/expansion.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
Due: check-fmt
