Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

feat: add /manual-test-plan command for generating browser test plans (#1136)
  .claude/commands/manual-test-plan.md
  .gitignore
  gyrinx/core/templates/core/debug/test_plan_index.html
  gyrinx/core/views/debug.py
  gyrinx/settings_dev.py
  gyrinx/urls.py
Due: check-fmt, markdownlint

feat: add UPDATE_CREDITS ListAction handler for edit_list_credits (#1139)
  gyrinx/core/handlers/list/__init__.py
  gyrinx/core/handlers/list/credits.py
  gyrinx/core/handlers/list/operations.py
  gyrinx/core/migrations/0118_add_update_credits_action_type.py
  gyrinx/core/models/action.py
  gyrinx/core/tests/test_clone.py
  gyrinx/core/tests/test_handlers_list_credits.py
  gyrinx/core/tests/test_handlers_list_operations.py
  gyrinx/core/views/list.py
Due: none

refactor: extract shared calculate_refund_credits utility
  gyrinx/core/handlers/equipment/removal.py
  gyrinx/core/handlers/fighter/removal.py
  gyrinx/core/handlers/refund.py
Due: none

refactor: reorganize equipment handlers into directory structure (#1137)
  gyrinx/core/handlers/equipment/__init__.py
  gyrinx/core/handlers/equipment/purchase.py
  gyrinx/core/handlers/equipment/reassignment.py
  gyrinx/core/handlers/equipment/removal.py
  gyrinx/core/handlers/equipment/sale.py
  gyrinx/core/handlers/equipment_purchases.py
  gyrinx/core/handlers/fighter/__init__.py
  gyrinx/core/handlers/fighter/removal.py
  gyrinx/core/handlers/fighter/vehicle.py
  gyrinx/core/handlers/refund.py
  gyrinx/core/tests/test_handlers_equipment_purchases.py
  gyrinx/core/tests/test_handlers_fighter_removal.py
  gyrinx/core/tests/test_handlers_vehicle_purchases.py
  gyrinx/core/views/list.py
  gyrinx/core/views/vehicle.py
Due: none

test: add dedicated handler tests for handle_fighter_advancement
  gyrinx/core/tests/test_handlers_fighter_advancement.py
Due: none

refactor: add make_content_skill factory to conftest
  gyrinx/conftest.py
  gyrinx/core/tests/test_handlers_fighter_advancement.py
Due: none

fix: add feature flag handling to advancement handler tests
  gyrinx/core/tests/test_handlers_fighter_advancement.py
Due: none

test: add dedicated handler tests for handle_fighter_advancement (#1140)
  gyrinx/conftest.py
  gyrinx/core/tests/test_handlers_fighter_advancement.py
Due: none

Add diataxis agent
  .claude/agents/diataxis-docs-expert.md
Due: check-fmt, markdownlint

docs: expand logging and tracing reference with SQL debugging, events, and query utilities
  docs/logging-and-tracing-reference.md
Due: check-fmt, markdownlint

Add notes on explorer-agent and summary
  .claude/agents/diataxis-docs-expert.md
Due: check-fmt, markdownlint

docs: expand logging and tracing reference documentation (#1142)
  docs/logging-and-tracing-reference.md
Due: check-fmt, markdownlint

Add diataxis agent (#1141)
  .claude/agents/diataxis-docs-expert.md
Due: check-fmt, markdownlint

WIP
  gyrinx/core/tests/test_request_data_too_big.py
Due: none

feat: implement handler pattern for fighter edit and equipment cost override
  gyrinx/conftest.py
  gyrinx/core/handlers/equipment/__init__.py
  gyrinx/core/handlers/equipment/cost_override.py
  gyrinx/core/handlers/fighter/__init__.py
  gyrinx/core/handlers/fighter/edit.py
  gyrinx/core/tests/test_handlers_equipment_cost_override.py
  gyrinx/core/tests/test_handlers_fighter_edit.py
  gyrinx/core/views/list.py
Due: none

fix: capture old equipment cost override before form validation
  gyrinx/core/handlers/equipment/cost_override.py
  gyrinx/core/tests/test_handlers_equipment_cost_override.py
  gyrinx/core/views/list.py
Due: none

Add debug page for viewing list actions
  gyrinx/core/templates/core/debug/list_actions.html
  gyrinx/core/templates/core/includes/list_common_header.html
  gyrinx/core/views/debug.py
  gyrinx/urls.py
Due: none

Add debug page for viewing list actions (#1149)
  gyrinx/core/templates/core/debug/list_actions.html
  gyrinx/core/templates/core/includes/list_common_header.html
  gyrinx/core/views/debug.py
  gyrinx/urls.py
Due: none

fix: use _is_fighter_stash_linked for equipment cost override
  gyrinx/core/handlers/equipment/cost_override.py
  gyrinx/core/tests/test_handlers_equipment_cost_override.py
  gyrinx/core/tests/test_handlers_fighter_edit.py
Due: none

refactor: move calculated_cost_int to ListFighterEquipmentAssignment model
  gyrinx/core/handlers/equipment/cost_override.py
  gyrinx/core/handlers/fighter/edit.py
  gyrinx/core/models/list.py
Due: none

feat: implement handler pattern for fighter edit and equipment cost override (#1148)
  gyrinx/conftest.py
  gyrinx/core/handlers/equipment/__init__.py
  gyrinx/core/handlers/equipment/cost_override.py
  gyrinx/core/handlers/fighter/__init__.py
  gyrinx/core/handlers/fighter/edit.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_handlers_equipment_cost_override.py
  gyrinx/core/tests/test_handlers_fighter_edit.py
  gyrinx/core/views/list.py
Due: none

feat: switch stat advancements to use mod system (#605)
  gyrinx/core/migrations/0119_add_uses_mod_system_to_advancement.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_advancements.py
Due: check-fmt

fix: use Python filtering for advancements to avoid N+1 queries
  gyrinx/core/models/list.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
Due: check-fmt

feat: switch stat advancements to use mod system (#605) (#1146)
  gyrinx/core/migrations/0119_add_uses_mod_system_to_advancement.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_advancements.py
Due: check-fmt

Improve manual test human instructions
  .claude/commands/manual-test-plan.md
Due: check-fmt, markdownlint

feat: add delete advancement handler (#685)
  gyrinx/core/handlers/fighter/__init__.py
  gyrinx/core/handlers/fighter/advancement.py
  gyrinx/core/templates/core/list_fighter_advancement_delete.html
  gyrinx/core/templates/core/list_fighter_advancements.html
  gyrinx/core/tests/test_handlers_fighter_advancement.py
  gyrinx/core/urls.py
  gyrinx/core/views/list.py
Due: none

fix: improve advancement removal UI and reject stash fighter advancements
  gyrinx/core/handlers/fighter/advancement.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/includes/fighter_card_content_inner.html
  gyrinx/core/templates/core/list_fighter_advancement_delete.html
  gyrinx/core/templates/core/list_fighter_advancements.html
  gyrinx/core/tests/test_handlers_fighter_advancement.py
Due: none

Small tweaks
  gyrinx/core/handlers/fighter/advancement.py
  gyrinx/core/templates/core/list_fighter_advancement_delete.html
Due: none

fix: include direct stash fighters in stash-linked check
  .claude/commands/manual-test-plan.md
  gyrinx/conftest.py
  gyrinx/core/handlers/fighter/advancement.py
  gyrinx/core/tests/test_handlers_fighter_advancement.py
Due: check-fmt, markdownlint

refactor: add messages.validation helper and clarify stash logic
  gyrinx/core/handlers/fighter/advancement.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/list_fighter_advancements.html
  gyrinx/core/views/campaign.py
  gyrinx/core/views/list.py
  gyrinx/core/views/vehicle.py
  gyrinx/messages.py
Due: none

feat: add delete advancement handler (#685) (#1147)
  .claude/commands/manual-test-plan.md
  gyrinx/conftest.py
  gyrinx/core/handlers/fighter/__init__.py
  gyrinx/core/handlers/fighter/advancement.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/includes/fighter_card_content_inner.html
  gyrinx/core/templates/core/list_fighter_advancement_delete.html
  gyrinx/core/templates/core/list_fighter_advancements.html
  gyrinx/core/tests/test_handlers_fighter_advancement.py
  gyrinx/core/urls.py
  gyrinx/core/views/campaign.py
  gyrinx/core/views/list.py
  gyrinx/core/views/vehicle.py
  gyrinx/messages.py
Due: check-fmt, markdownlint

feat: implement kill/resurrect handlers and refactor clone handler
  gyrinx/core/handlers/fighter/__init__.py
  gyrinx/core/handlers/fighter/hire_clone.py
  gyrinx/core/handlers/fighter/kill.py
  gyrinx/core/handlers/fighter/resurrect.py
  gyrinx/core/templates/core/list_fighter_kill.html
  gyrinx/core/templates/core/list_fighter_resurrect.html
  gyrinx/core/tests/test_handlers_fighter_operations.py
  gyrinx/core/tests/test_kill_fighter.py
  gyrinx/core/tests/test_resurrect_fighter.py
  gyrinx/core/views/list.py
Due: none

feat: implement kill/resurrect handlers and refactor clone handler (#1157)
  gyrinx/core/handlers/fighter/__init__.py
  gyrinx/core/handlers/fighter/hire_clone.py
  gyrinx/core/handlers/fighter/kill.py
  gyrinx/core/handlers/fighter/resurrect.py
  gyrinx/core/templates/core/list_fighter_kill.html
  gyrinx/core/templates/core/list_fighter_resurrect.html
  gyrinx/core/tests/test_handlers_fighter_operations.py
  gyrinx/core/tests/test_kill_fighter.py
  gyrinx/core/tests/test_resurrect_fighter.py
  gyrinx/core/views/list.py
Due: none

Remove main branch protection to fix claude.yml
  .github/workflows/claude.yml
Due: check-fmt

feat: add TRACING_MODE setting with off/console/gcp options (#1159)
  gyrinx/conftest.py
  gyrinx/settings.py
  gyrinx/settings_dev.py
  gyrinx/settings_prod.py
  gyrinx/tracing.py
Due: none

Update performance queries
  gyrinx/core/tests/fixtures/performance_view_queries.json
Due: check-fmt

Upgrade Django from 5.2.9 to 6.0 (#1160)
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/settings.py
  requirements.txt
Due: check-fmt

Add cost prop design and tweaked cost design
  docs/fighter-cost-system-design.md
  docs/technical-design/cost-propagation-architecture.md
Due: check-fmt, markdownlint

feat: add OpenTelemetry tracing to handlers and signal handlers
  gyrinx/core/handlers/campaign_operations.py
  gyrinx/core/handlers/equipment/cost_override.py
  gyrinx/core/handlers/equipment/purchase.py
  gyrinx/core/handlers/equipment/reassignment.py
  gyrinx/core/handlers/equipment/removal.py
  gyrinx/core/handlers/equipment/sale.py
  gyrinx/core/handlers/fighter/advancement.py
  gyrinx/core/handlers/fighter/capture.py
  gyrinx/core/handlers/fighter/edit.py
  gyrinx/core/handlers/fighter/hire_clone.py
  gyrinx/core/handlers/fighter/kill.py
  gyrinx/core/handlers/fighter/removal.py
  gyrinx/core/handlers/fighter/resurrect.py
  gyrinx/core/handlers/fighter/vehicle.py
  gyrinx/core/handlers/list/credits.py
  gyrinx/core/handlers/list/operations.py
  gyrinx/core/models/list.py
  gyrinx/core/signals.py
Due: none

Apply suggestions from code review
  gyrinx/core/handlers/campaign_operations.py
  gyrinx/core/handlers/fighter/edit.py
Due: none
