Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

fix: a category name shared by two sections counts apart in the picker
  n26/core/templates/cotton/n26/collection_picker/category.html
  n26/core/templates/cotton/n26/collection_picker/index.html
  n26/core/test_views_equip.py
Due: none

chore: keep pre-commit revs and templates in step with djlint 1.44.2
  .pre-commit-config.yaml
  gyrinx/templates/account/snippets/menu.html
  n23/core/templates/core/list_packs.html
  n23/core/templates/core/pack/pack_fighter_equipment_list_item_remove.html
  n23/core/templates/core/pack/pack_item_edit.html
  pyproject.toml
Due: check-fmt

fix: five more from review — names, sampling, wording, a stale message and an empty page
  n26/core/CLAUDE.md
  n26/core/templates/admin/maintenance/n26/convert_specialisation.html
  n26/library/conversion/base.py
  n26/library/conversion/specialisation.py
  n26/maintenance.py
  n26/tests/sandbox/test_conversion_specialisation.py
  n26/tests/test_maintenance_console.py
Due: check-fmt, markdownlint

fix: a taken-away subtype is not a holding, and a restored isolation level is checked
  n26/library/conversion/base.py
  n26/library/conversion/specialisation.py
Due: none

feat: the specialisation switch stops deleting things, and history keeps its words
  n26/core/CLAUDE.md
  n26/core/history.py
  n26/library/conversion/base.py
  n26/library/conversion/specialisation.py
  n26/tests/sandbox/test_conversion_paths.py
  n26/tests/sandbox/test_conversion_specialisation.py
  n26/tests/test_maintenance_console.py
Due: check-fmt, markdownlint

docs: smoke-test data changes on a real database before shipping
  CLAUDE.md
Due: check-fmt, markdownlint

fix: the conversion reads one snapshot, refuses a doubled answer, and drops the rehearsal
  n26/core/templates/admin/maintenance/n26/_convert_detail.html
  n26/core/templates/admin/maintenance/n26/convert_specialisation.html
  n26/library/conversion/base.py
  n26/library/conversion/specialisation.py
  n26/library/management/commands/n26_convert.py
  n26/maintenance.py
  n26/tests/sandbox/test_conversion_specialisation.py
  n26/tests/test_maintenance_console.py
Due: none

fix: the apply page says how many gangs the conversion reaches
  n26/core/templates/admin/maintenance/n26/convert_specialisation.html
  n26/library/conversion/base.py
  n26/maintenance.py
  n26/tests/test_maintenance_console.py
Due: none

fix: the apply page does not claim to check gangs it will not look at
  n26/core/templates/admin/maintenance/n26/convert_specialisation.html
Due: none

fix: the plan counts one gang in the singular, and names the hidden as one
  n26/library/conversion/base.py
  n26/library/conversion/specialisation.py
Due: none

fix: a request to rehearse is declined, never quietly converted
  n26/maintenance.py
  n26/tests/test_maintenance_console.py
Due: none

feat: the specialisations become picks, without deleting anything (#2242)
  CLAUDE.md
  n26/core/CLAUDE.md
  n26/core/history.py
  n26/core/templates/admin/maintenance/n26/_convert_detail.html
  n26/core/templates/admin/maintenance/n26/convert_specialisation.html
  n26/library/conversion/base.py
  n26/library/conversion/specialisation.py
  n26/library/management/commands/n26_convert.py
  n26/maintenance.py
  n26/tests/sandbox/test_conversion_paths.py
  n26/tests/sandbox/test_conversion_specialisation.py
  n26/tests/test_maintenance_console.py
Due: check-fmt, markdownlint

fix: gear stored twice as wargear and weapon becomes one weapon
  n26/core/CLAUDE.md
  n26/core/templates/admin/maintenance/n26/_merge_wargear_detail.html
  n26/core/templates/admin/maintenance/n26/merge_wargear_into_weapon.html
  n26/library/repair.py
  n26/maintenance.py
  n26/tests/sandbox/test_repair_wargear.py
Due: check-fmt, markdownlint

fix: the record counts the gangs it proved, not the gangs it touched
  n26/core/templates/admin/maintenance/n26/_merge_wargear_detail.html
  n26/core/templates/admin/maintenance/n26/merge_wargear_into_weapon.html
  n26/library/repair.py
  n26/tests/sandbox/test_repair_wargear.py
Due: none

fix: a left-alone pair is not an error, and every gang that spends is reconciled
  n26/core/templates/admin/maintenance/n26/merge_wargear_into_weapon.html
  n26/tests/sandbox/test_repair_wargear.py
Due: none

docs: the skills feature says select, not learn
  n26/core/access.py
  n26/core/navigation.py
  n26/core/operations.py
  n26/core/render.py
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/cotton/n26/view/model_edit.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/learn.html
  n26/core/test_navigation.py
  n26/core/test_views_owned.py
  n26/core/views/edit.py
  n26/core/views/gangs.py
  n26/core/views/learn.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/form-page/30-with-a-switcher.html
  n26/designsystem/tests.py
  n26/library/concepts.md
  n26/library/models/assignable.py
  n26/library/models/modifier.py
  n26/library/recipes.md
  n26/library/standard_content.py
  n26/tests/sandbox/test_collections.py
  n26/tests/sandbox/test_computed_effects.py
  n26/tests/sandbox/test_editing_skills.py
  n26/tests/sandbox/test_learning_skills.py
  n26/urls.py
Due: check-fmt, markdownlint

fix: gear stored twice as wargear and weapon becomes one weapon (#2245)
  n26/core/CLAUDE.md
  n26/core/templates/admin/maintenance/n26/_merge_wargear_detail.html
  n26/core/templates/admin/maintenance/n26/merge_wargear_into_weapon.html
  n26/library/repair.py
  n26/maintenance.py
  n26/tests/sandbox/test_repair_wargear.py
Due: check-fmt, markdownlint

docs: prompt for a Cursor automation that answers feature questions
  .claude/notes/cursor-qa-automation-prompt.md
Due: check-fmt, markdownlint

fix: ellipsis the n26 top-bar name so the switcher chevron stays put
  n26/core/templates/cotton/n26/quick_switcher/index.html
  n26/core/templates/cotton/n26/site/nav/index.html
  n26/core/test_quick_switcher.py
  n26/core/test_site_nav.py
Due: none

fix: a category name shared by two sections counts apart in the picker (#2239)
  n26/core/templates/cotton/n26/collection_picker/category.html
  n26/core/templates/cotton/n26/collection_picker/index.html
  n26/core/test_views_equip.py
Due: none

feat: the Venator skill trees become picks
  n26/core/history.py
  n26/core/templates/admin/maintenance/n26/convert.html
  n26/library/conversion/__init__.py
  n26/library/conversion/base.py
  n26/library/conversion/skill_tree.py
  n26/library/conversion/specialisation.py
  n26/maintenance.py
  n26/tests/sandbox/test_conversion_skill_tree.py
  n26/tests/test_maintenance_console.py
Due: none

refactor: the conversion suites read the shared helpers by their own names
  n26/library/conversion/specialisation.py
  n26/tests/sandbox/test_conversion_paths.py
  n26/tests/sandbox/test_conversion_specialisation.py
Due: none

feat: a pickable says which category it links, and each conversion holds its own lock
  n26/core/CLAUDE.md
  n26/core/card.py
  n26/core/effects.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/conversion/base.py
  n26/library/conversion/skill_tree.py
  n26/library/conversion/specialisation.py
  n26/library/migrations/0063_a_pickable_says_what_its_category_link_means.py
  n26/library/models/slots.py
  n26/library/specs.py
  n26/maintenance.py
  n26/tests/sandbox/test_conversion_skill_tree.py
  n26/tests/test_maintenance_console.py
Due: check-fmt, markdownlint

fix: the proof sample goes round the kinds instead of draining them
  n26/core/templates/admin/maintenance/n26/convert.html
  n26/library/conversion/base.py
  n26/library/conversion/skill_tree.py
  n26/tests/sandbox/test_conversion_skill_tree.py
  n26/tests/sandbox/test_conversion_specialisation.py
Due: none

feat: the Venator skill trees become picks (#2247)
  n26/core/CLAUDE.md
  n26/core/card.py
  n26/core/effects.py
  n26/core/history.py
  n26/core/templates/admin/maintenance/n26/convert.html
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/conversion/__init__.py
  n26/library/conversion/base.py
  n26/library/conversion/skill_tree.py
  n26/library/conversion/specialisation.py
  n26/library/migrations/0063_a_pickable_says_what_its_category_link_means.py
  n26/library/models/slots.py
  n26/library/specs.py
  n26/maintenance.py
  n26/tests/sandbox/test_conversion_paths.py
  n26/tests/sandbox/test_conversion_skill_tree.py
  n26/tests/sandbox/test_conversion_specialisation.py
  n26/tests/test_maintenance_console.py
Due: check-fmt, markdownlint

chore: a maintenance repair runs on the tasks framework, and the grenade one retires
  CLAUDE.md
  n26/core/CLAUDE.md
  n26/core/templates/admin/maintenance/n26/_merge_wargear_detail.html
  n26/core/templates/admin/maintenance/n26/merge_wargear_into_weapon.html
  n26/library/repair.py
  n26/maintenance.py
  n26/tests/sandbox/test_repair_wargear.py
Due: check-fmt, markdownlint

chore: maintenance repairs run on the tasks framework, and the grenade one retires (#2246)
  CLAUDE.md
  n26/core/CLAUDE.md
  n26/core/templates/admin/maintenance/n26/_merge_wargear_detail.html
  n26/core/templates/admin/maintenance/n26/merge_wargear_into_weapon.html
  n26/library/repair.py
  n26/maintenance.py
  n26/tests/sandbox/test_repair_wargear.py
Due: check-fmt, markdownlint

feat: the Venator gang legacies become picks, and the slot pilot retires
  .claude/notes/archetype-today.md
  .claude/notes/backfill-lessons.md
  n26/core/templates/admin/maintenance/n26/retire_pilot.html
  n26/library/conversion/__init__.py
  n26/library/conversion/base.py
  n26/library/conversion/gang_legacy.py
  n26/library/gang_legacy_pilot.py
  n26/maintenance.py
  n26/tests/sandbox/test_conversion_gang_legacy.py
  n26/tests/sandbox/test_gang_legacy_pilot.py
  n26/tests/test_maintenance_console.py
Due: check-fmt, markdownlint

fix: the pilot hunt scopes to the default pack, and counts leave the prose
  n26/library/conversion/gang_legacy.py
  n26/library/gang_legacy_pilot.py
  n26/maintenance.py
Due: none

fix: the runs re-prove the world they were planned in, and the pilot refuses everything it does not name
  n26/library/conversion/base.py
  n26/library/conversion/gang_legacy.py
  n26/library/gang_legacy_pilot.py
  n26/maintenance.py
  n26/tests/fixtures.py
  n26/tests/sandbox/test_conversion_gang_legacy.py
  n26/tests/sandbox/test_gang_legacy_pilot.py
  n26/tests/test_maintenance_console.py
Due: none

feat: the Venator gang legacies become picks, and the slot pilot retires (#2248)
  .claude/notes/archetype-today.md
  .claude/notes/backfill-lessons.md
  n26/core/templates/admin/maintenance/n26/retire_pilot.html
  n26/library/conversion/__init__.py
  n26/library/conversion/base.py
  n26/library/conversion/gang_legacy.py
  n26/library/gang_legacy_pilot.py
  n26/maintenance.py
  n26/tests/fixtures.py
  n26/tests/sandbox/test_conversion_gang_legacy.py
  n26/tests/sandbox/test_gang_legacy_pilot.py
  n26/tests/test_maintenance_console.py
Due: check-fmt, markdownlint

feat: add n26 changelog pages
  n26/CLAUDE.md
  n26/core/templates/cotton/n26/changelog/entry.html
  n26/core/templates/cotton/n26/changelog/index.html
  n26/core/templates/n26/changelog.html
  n26/core/templates/n26/changelog_entry.html
  n26/core/templates/n26/dashboard.html
  n26/core/views/__init__.py
  n26/core/views/changelog.py
  n26/core/views/gangs.py
  n26/designsystem/assets/app.css
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/changelog/30-rich-summary.html
  n26/tests/test_platform_integration.py
  n26/urls.py
Due: check-fmt, markdownlint

feat: the site remembers which edition a reader was last in
  gyrinx/context_processors.py
  gyrinx/editions.py
  gyrinx/middleware.py
  gyrinx/settings.py
  gyrinx/templates/platform/includes/edition_toggle.html
  gyrinx/templates/platform/layouts/base.html
  gyrinx/tests/test_editions.py
  n23/core/templates/core/includes/edition_toggle.html
  n23/core/templates/core/layouts/base.html
  n26/core/templates/cotton/n26/site/edition_toggle.html
Due: none

feat: notifications reach the n26 bar
  n26/CLAUDE.md
  n26/core/templates/cotton/n26/site/nav/index.html
  n26/core/templates/n26/layouts/base.html
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/site-nav/15-unread.html
  n26/tests/test_platform_integration.py
Due: check-fmt, markdownlint

refactor: centralize changelog summary rendering
  n26/core/templates/cotton/n26/changelog/entry.html
  n26/core/templates/cotton/n26/changelog/index.html
  n26/core/templates/n26/changelog.html
  n26/core/templates/n26/changelog_entry.html
  n26/core/templates/n26/dashboard.html
  n26/core/views/changelog.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/changelog/10-updates.html
  n26/designsystem/templates/designsystem/demos/changelog/30-rich-summary.html
  n26/designsystem/templates/designsystem/demos/view-dashboard/10-dashboard.html
  n26/designsystem/templates/designsystem/shell/home.html
  n26/tests/test_platform_integration.py
Due: none

test: loosen changelog markup assertion
  n26/tests/test_platform_integration.py
Due: none

feat: add changelog sidebar to index
  n26/core/templates/n26/_changelog_sidebar.html
  n26/core/templates/n26/changelog.html
  n26/core/templates/n26/changelog_entry.html
  n26/core/views/changelog.py
  n26/tests/test_platform_integration.py
Due: none

feat: the edition choice leaves the address once it is remembered
  gyrinx/editions.py
  gyrinx/middleware.py
  gyrinx/tests/test_editions.py
Due: none

refactor: the unread count is one pill, drawn in both places
  n26/core/templates/cotton/n26/count_badge.html
  n26/core/templates/cotton/n26/site/nav/index.html
  n26/core/templates/n26/layouts/base.html
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/count-badge/10-the-pill.html
  n26/designsystem/templates/designsystem/demos/count-badge/20-where-it-rides.html
  n26/designsystem/templates/designsystem/demos/site-nav/15-unread.html
  n26/tests/test_platform_integration.py
Due: none

feat: add n26 changelog pages (#2249)
  n26/CLAUDE.md
  n26/core/templates/cotton/n26/changelog/entry.html
  n26/core/templates/cotton/n26/changelog/index.html
  n26/core/templates/n26/_changelog_sidebar.html
  n26/core/templates/n26/changelog.html
  n26/core/templates/n26/changelog_entry.html
  n26/core/templates/n26/dashboard.html
  n26/core/views/__init__.py
  n26/core/views/changelog.py
  n26/core/views/gangs.py
  n26/designsystem/assets/app.css
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/changelog/10-updates.html
  n26/designsystem/templates/designsystem/demos/changelog/30-rich-summary.html
  n26/designsystem/templates/designsystem/demos/view-dashboard/10-dashboard.html
  n26/designsystem/templates/designsystem/shell/home.html
  n26/tests/test_platform_integration.py
  n26/urls.py
Due: check-fmt, markdownlint

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
