Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

fix: keep augmentation tiers inline on printed model cards
  n26/core/printing.py
  n26/core/render.py
  n26/core/templates/cotton/n26/print/weapons.html
  n26/core/templates/n26/includes/gear_lines.html
  n26/core/templates/n26/print_gang.html
  n26/core/test_printing.py
  n26/tests/sandbox/test_spyrer_augmentations.py
Due: none

fix: leave stash print names on StashLine fields
  n26/core/templates/n26/print_gang.html
Due: none

docs: clarify Pickable authoring help and agent copy rules
  .agents/skills/microcopy/SKILL.md
  n26/library/concepts.md
  n26/library/forms.py
  n26/library/migrations/0116_concise_pickable_help.py
  n26/library/models/AGENTS.md
  n26/library/models/slots.py
  n26/library/recipes.md
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_choosing.py
Due: check-fmt, markdownlint

docs: leave copyright reminders in agent guidance
  n26/library/concepts.md
  n26/library/recipes.md
Due: check-fmt, markdownlint

fix: keep ordinary gear choices on N26 roster cards
  n26/core/templates/n26/includes/gear_lines.html
  n26/core/test_card_rows.py
  n26/tests/sandbox/test_choosing.py
Due: none

feat: add authored copy to N26 choice pages and inline gear tiers (#2647)
  .agents/skills/microcopy/SKILL.md
  n26/core/printing.py
  n26/core/render.py
  n26/core/templates/cotton/n26/assignable_lines.html
  n26/core/templates/cotton/n26/choice_offer.html
  n26/core/templates/cotton/n26/choice_picks.html
  n26/core/templates/cotton/n26/model_card/body.html
  n26/core/templates/cotton/n26/print/weapons.html
  n26/core/templates/n26/includes/assignable_name.html
  n26/core/templates/n26/includes/gear_lines.html
  n26/core/templates/n26/includes/weapon_name.html
  n26/core/test_card_rows.py
  n26/core/test_printing.py
  n26/core/views/choose.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/forms.py
  n26/library/migrations/0115_authored_choice_copy.py
  n26/library/migrations/0116_concise_pickable_help.py
  n26/library/models/AGENTS.md
  n26/library/models/slots.py
  n26/library/recipes.md
  n26/library/specs.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_spyrer_augmentations.py
Due: check-fmt, markdownlint

fix: size print sheets for paper and add PrintConfig orientation
  n23/core/forms/print_config.py
  n23/core/migrations/0217_print_config_orientation.py
  n23/core/models/print_config.py
  n23/core/static/core/scss/_classic_card.scss
  n23/core/static/core/scss/print.scss
  n23/core/templates/core/includes/blank_fighter_card.html
  n23/core/templates/core/includes/blank_vehicle_card.html
  n23/core/templates/core/includes/classic_sheet.html
  n23/core/templates/core/includes/fighter_card_content.html
  n23/core/templates/core/includes/fighter_card_stash.html
  n23/core/templates/core/includes/fighter_notes_card.html
  n23/core/templates/core/includes/list.html
  n23/core/templates/core/includes/list_attributes.html
  n23/core/templates/core/includes/list_campaign_actions.html
  n23/core/templates/core/includes/list_campaign_resources_assets.html
  n23/core/templates/core/list_print.html
  n23/core/templates/core/list_print_classic.html
  n23/core/templates/core/print_config/form.html
  n23/core/tests/test_print_orientation.py
  n23/core/views/list/views.py
  n26/core/migrations/0074_print_config_orientation.py
  n26/core/models/print_config.py
  n26/core/operations.py
  n26/core/templates/n26/print_gang.html
  n26/core/templates/n26/print_setup.html
  n26/core/test_views_print.py
  n26/core/views/printing.py
Due: check-fmt

feat: show the model count instead of Trade Points on n26 gang lists
  n26/core/templates/cotton/n26/record_table/gang_row.html
  n26/core/templates/cotton/n26/wealth/figure.html
  n26/core/templates/cotton/n26/wealth/index.html
  n26/core/test_views_gangs.py
  n26/core/views/gangs.py
Due: none

feat: stack Actions and the stash on the gang sheet
  n26/core/activities.py
  n26/core/templates/cotton/n26/activities_square/index.html
  n26/core/templates/cotton/n26/stash/group.html
  n26/core/templates/cotton/n26/stash/index.html
  n26/core/templates/cotton/n26/view/gang_sheet.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/test_views_founding_activity.py
  n26/core/test_views_trade_points.py
  n26/core/views/gangs.py
  n26/designsystem/assets/app.css
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/activities-square/10-nothing-open.html
  n26/designsystem/templates/designsystem/demos/activities-square/50-no-history.html
  n26/designsystem/templates/designsystem/demos/activities-square/60-post-battle.html
  n26/designsystem/templates/designsystem/demos/activities-square/70-post-battle-only.html
  n26/designsystem/templates/designsystem/demos/activities-square/80-post-battle-no-history.html
  n26/designsystem/tests.py
  n26/tests/sandbox/test_rolling.py
  n26/tests/test_views_post_battle.py
Due: none

fix: pad the last weapons row on the n26 model card
  n26/core/templates/cotton/n26/model_card/body.html
Due: none

fix: leave dead models out of the n26 gang list model count
  n26/core/render.py
  n26/core/templates/cotton/n26/record_table/gang_row.html
  n26/core/templates/cotton/n26/wealth/index.html
  n26/core/test_views_gangs.py
  n26/core/views/gangs.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/wealth/20-models-lead.html
Due: none

fix: let N26 model card labels and gear controls wrap on phones
  n26/core/templates/cotton/n26/model_card/body.html
  n26/core/templates/n26/includes/gear_lines.html
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

fix: pad the last weapons row on the n26 model card (#2655)
  n26/core/templates/cotton/n26/model_card/body.html
Due: none

fix: take print orientation from ?orientation= and join N23 group cards by orientation
  n23/core/migrations/0217_print_config_orientation.py
  n23/core/models/print_config.py
  n23/core/static/core/scss/print.scss
  n23/core/templates/core/includes/classic_sheet.html
  n23/core/templates/core/list_print_lore_notes_classic.html
  n23/core/templates/core/print_config/form.html
  n23/core/tests/test_print_orientation.py
  n23/core/views/list/views.py
  n26/core/templates/n26/print_gang.html
  n26/core/views/printing.py
  n26/tests/sandbox/test_cloning.py
Due: check-fmt

fix: move N26 model card skill edit beside its label
  n26/core/templates/cotton/n26/model_card/body.html
  n26/tests/sandbox/test_selecting_skills.py
Due: none

fix: wrap N26 model card labels and gear controls on phones (#2656)
  n26/core/templates/cotton/n26/model_card/body.html
  n26/core/templates/n26/includes/gear_lines.html
  n26/tests/sandbox/test_fighter_action_flows.py
  n26/tests/sandbox/test_selecting_skills.py
Due: none

feat: stack Actions and the stash on the gang sheet (#2653)
  n26/core/activities.py
  n26/core/templates/cotton/n26/activities_square/index.html
  n26/core/templates/cotton/n26/stash/group.html
  n26/core/templates/cotton/n26/stash/index.html
  n26/core/templates/cotton/n26/view/gang_sheet.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/test_views_founding_activity.py
  n26/core/test_views_trade_points.py
  n26/core/views/gangs.py
  n26/designsystem/assets/app.css
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/activities-square/10-nothing-open.html
  n26/designsystem/templates/designsystem/demos/activities-square/50-no-history.html
  n26/designsystem/templates/designsystem/demos/activities-square/60-post-battle.html
  n26/designsystem/templates/designsystem/demos/activities-square/70-post-battle-only.html
  n26/designsystem/templates/designsystem/demos/activities-square/80-post-battle-no-history.html
  n26/designsystem/tests.py
  n26/tests/sandbox/test_rolling.py
  n26/tests/test_views_post_battle.py
Due: none

feat: show the model count instead of Trade Points on n26 gang lists (#2652)
  n26/core/render.py
  n26/core/templates/cotton/n26/record_table/gang_row.html
  n26/core/templates/cotton/n26/wealth/figure.html
  n26/core/templates/cotton/n26/wealth/index.html
  n26/core/test_views_gangs.py
  n26/core/views/gangs.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/wealth/20-models-lead.html
Due: none

fix: give the model card Skills pencil a real tooltip and update stale tests
  n26/core/templates/cotton/n26/model_card/body.html
  n26/tests/sandbox/test_editing_skills.py
Due: none

test: check the choice picker adds no unwritten lead
  n26/tests/sandbox/test_gang_legacy.py
  n26/tests/sandbox/test_outcast_affiliation_shape.py
Due: none

fix: give the model card Skills pencil a real tooltip and update stale tests (#2660)
  n26/core/templates/cotton/n26/model_card/body.html
  n26/tests/sandbox/test_editing_skills.py
  n26/tests/sandbox/test_gang_legacy.py
  n26/tests/sandbox/test_outcast_affiliation_shape.py
Due: none

feat: show tagged changelog entries on the shared changelog page
  gyrinx/urls.py
  n26/core/changelog_urls.py
  n26/core/templates/cotton/n26/changelog/entry.html
  n26/core/templates/n26/_changelog_filters.html
  n26/core/templates/n26/_changelog_tags.html
  n26/core/templates/n26/changelog.html
  n26/core/templates/n26/changelog_entry.html
  n26/core/templates/n26/dashboard.html
  n26/core/views/__init__.py
  n26/core/views/changelog.py
  n26/core/views/gangs.py
  n26/designsystem/catalog.py
  n26/tests/test_platform_integration.py
  n26/urls.py
Due: none

fix: paint changelog entry tags with solid badge colours
  n26/core/templates/n26/_changelog_tags.html
  n26/core/views/changelog.py
  n26/designsystem/templates/designsystem/demos/changelog/40-tags.html
  n26/tests/test_platform_integration.py
Due: none

fix: 404 missing entries on the old n26 changelog address
  n26/core/views/changelog.py
  n26/tests/test_platform_integration.py
Due: none

feat: page n26 quick switchers from /n26/switcher/ as a React island
  docs/developing-gyrinx/react.md
  n26/core/navigation.py
  n26/core/templates/cotton/n26/quick_switcher/of.html
  n26/core/templatetags/navigation.py
  n26/core/templatetags/react.py
  n26/core/test_navigation.py
  n26/core/test_react.py
  n26/core/views/__init__.py
  n26/core/views/switchers.py
  n26/designsystem/catalog.py
  n26/frontend/islands/quick-switcher/entry.tsx
  n26/frontend/tooling/export_cotton_recipes.py
  n26/frontend/ui/QuickSwitcher.test.tsx
  n26/frontend/ui/QuickSwitcher.tsx
  n26/frontend/ui/index.tsx
  n26/library/templatetags/authoring_nav.py
  n26/library/test_artwork.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_ingest_page.py
  n26/tests/sandbox/test_staged_authoring.py
  n26/tests/test_platform_integration.py
  n26/tests/test_views_campaigns.py
  n26/tests/test_views_crews.py
  n26/urls.py
  scripts/check_cotton.py
Due: check-fmt, markdownlint

fix: search n26 switcher sources on the words their rows show
  n26/core/navigation.py
  n26/core/static/n26/react-islands.js
  n26/core/templatetags/react.py
  n26/core/test_navigation.py
  n26/frontend/runtime/react-islands-loader.test.js
  n26/frontend/ui/QuickSwitcher.test.tsx
  n26/frontend/ui/QuickSwitcher.tsx
  n26/library/templatetags/authoring_nav.py
Due: check-fmt

feat: move c-n26.pick-list and the tab-links overflow onto React
  n26/core/navigation.py
  n26/core/templates/cotton/n26/pick_list/box.html
  n26/core/templates/cotton/n26/pick_list/index.html
  n26/core/templates/cotton/n26/pick_list/legend.html
  n26/core/templates/cotton/n26/quick_switcher/of.html
  n26/core/templates/cotton/n26/tab_links.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/skills_box.html
  n26/core/templatetags/navigation.py
  n26/core/templatetags/pick_list.py
  n26/core/test_pick_list.py
  n26/core/test_tab_links.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/pick-list/10-long.html
  n26/designsystem/templates/designsystem/demos/pick-list/20-grouped.html
  n26/frontend/islands/pick-list/PickList.test.tsx
  n26/frontend/islands/pick-list/PickList.tsx
  n26/frontend/islands/pick-list/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/frontend/tooling/export_cotton_recipes.py
  n26/frontend/ui/QuickSwitcher.tsx
  n26/frontend/ui/index.tsx
  n26/tests/sandbox/test_editing_what_a_model_is.py
Due: check-fmt

feat: page n26 quick switchers from /n26/switcher/ as a React island (#2658)
  docs/developing-gyrinx/react.md
  n26/core/navigation.py
  n26/core/static/n26/react-islands.js
  n26/core/templates/cotton/n26/quick_switcher/of.html
  n26/core/templatetags/navigation.py
  n26/core/templatetags/react.py
  n26/core/test_navigation.py
  n26/core/test_react.py
  n26/core/views/__init__.py
  n26/core/views/switchers.py
  n26/designsystem/catalog.py
  n26/frontend/islands/quick-switcher/entry.tsx
  n26/frontend/runtime/react-islands-loader.test.js
  n26/frontend/tooling/export_cotton_recipes.py
  n26/frontend/ui/QuickSwitcher.test.tsx
  n26/frontend/ui/QuickSwitcher.tsx
  n26/frontend/ui/index.tsx
  n26/library/templatetags/authoring_nav.py
  n26/library/test_artwork.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_ingest_page.py
  n26/tests/sandbox/test_staged_authoring.py
  n26/tests/test_platform_integration.py
  n26/tests/test_views_campaigns.py
  n26/tests/test_views_crews.py
  n26/urls.py
  scripts/check_cotton.py
Due: check-fmt, markdownlint

feat: move c-n26.pick-list and the tab-links overflow onto React (#2659)
  n26/core/navigation.py
  n26/core/templates/cotton/n26/pick_list/box.html
  n26/core/templates/cotton/n26/pick_list/index.html
  n26/core/templates/cotton/n26/pick_list/legend.html
  n26/core/templates/cotton/n26/quick_switcher/of.html
  n26/core/templates/cotton/n26/tab_links.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/skills_box.html
  n26/core/templatetags/navigation.py
  n26/core/templatetags/pick_list.py
  n26/core/test_pick_list.py
  n26/core/test_tab_links.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/pick-list/10-long.html
  n26/designsystem/templates/designsystem/demos/pick-list/20-grouped.html
  n26/frontend/islands/pick-list/PickList.test.tsx
  n26/frontend/islands/pick-list/PickList.tsx
  n26/frontend/islands/pick-list/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/frontend/tooling/export_cotton_recipes.py
  n26/frontend/ui/QuickSwitcher.tsx
  n26/frontend/ui/index.tsx
  n26/tests/sandbox/test_editing_what_a_model_is.py
Due: check-fmt

fix: let fetch-pr-comments.sh report Copilot lite reviews in progress
  .agents/skills/pr-comments/SKILL.md
  .agents/skills/pr-comments/scripts/annotate_reviews_in_progress.py
  .agents/skills/pr-comments/scripts/fetch-pr-comments.sh
  gyrinx/tests/test_pr_comments_reviews_in_progress.py
Due: check-fmt, markdownlint

feat: move n26 filter-select authoring pickers to React
  n26/core/templates/cotton/n26/filter_select.html
  n26/core/templatetags/filter_select.py
  n26/core/test_filter_select.py
  n26/designsystem/catalog.py
  n26/designsystem/tests.py
  n26/frontend/islands/filter-select/FilterSelect.test.tsx
  n26/frontend/islands/filter-select/FilterSelect.tsx
  n26/frontend/islands/filter-select/entry.tsx
  n26/frontend/tooling/alpine-baseline.json
  n26/frontend/ui/index.tsx
  n26/tests/sandbox/test_authoring_views.py
Due: check-fmt

fix: size print sheets for paper and add PrintConfig orientation (#2654)
  n23/core/forms/print_config.py
  n23/core/migrations/0217_print_config_orientation.py
  n23/core/models/print_config.py
  n23/core/static/core/scss/_classic_card.scss
  n23/core/static/core/scss/print.scss
  n23/core/templates/core/includes/blank_fighter_card.html
  n23/core/templates/core/includes/blank_vehicle_card.html
  n23/core/templates/core/includes/classic_sheet.html
  n23/core/templates/core/includes/fighter_card_content.html
  n23/core/templates/core/includes/fighter_card_stash.html
  n23/core/templates/core/includes/fighter_notes_card.html
  n23/core/templates/core/includes/list.html
  n23/core/templates/core/includes/list_attributes.html
  n23/core/templates/core/includes/list_campaign_actions.html
  n23/core/templates/core/includes/list_campaign_resources_assets.html
  n23/core/templates/core/list_print.html
  n23/core/templates/core/list_print_classic.html
  n23/core/templates/core/list_print_lore_notes_classic.html
  n23/core/templates/core/print_config/form.html
  n23/core/tests/test_print_orientation.py
  n23/core/views/list/views.py
  n26/core/migrations/0074_print_config_orientation.py
  n26/core/models/print_config.py
  n26/core/operations.py
  n26/core/templates/n26/print_gang.html
  n26/core/templates/n26/print_setup.html
  n26/core/test_views_print.py
  n26/core/views/printing.py
  n26/tests/sandbox/test_cloning.py
Due: check-fmt

fix: simplify fighter action flows and resume existing drafts
  n26/core/action_flow.py
  n26/core/action_forms.py
  n26/core/action_records.py
  n26/core/advancements.py
  n26/core/render.py
  n26/core/templates/cotton/n26/assignable_lines.html
  n26/core/templates/cotton/n26/counter_controls.html
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/n26/action_flow.html
  n26/core/templates/n26/equip.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/action_panels.html
  n26/core/templates/n26/includes/assignable_name.html
  n26/core/templates/n26/includes/equip_update.html
  n26/core/templates/n26/includes/model_card_update.html
  n26/core/test_action_checkout.py
  n26/core/test_advancement_runtime.py
  n26/core/test_render.py
  n26/core/views/action_flows.py
  n26/core/views/advancement_flows.py
  n26/core/views/edit.py
  n26/core/views/equip.py
  n26/core/views/gangs.py
  n26/tests/sandbox/test_advancement_action_flows.py
  n26/tests/sandbox/test_counters.py
  n26/tests/sandbox/test_fighter_action_flows.py
  n26/tests/sandbox/test_selecting_skills.py
Due: none

fix: preserve advancement choices when reviewing corrections
  n26/core/views/action_flows.py
  n26/core/views/advancement_flows.py
  n26/designsystem/sampledata.py
  n26/designsystem/tests.py
  n26/tests/sandbox/test_advancement_action_flows.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

feat: show fighter rank titles and advancement history
  n26/core/progression.py
  n26/core/render.py
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/model_card_update.html
  n26/core/templates/n26/includes/progression_history.html
  n26/core/templates/n26/includes/progression_status.html
  n26/core/test_progression.py
  n26/core/views/edit.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/migrations/0117_rank_titles.py
  n26/library/models/actions.py
  n26/library/specs.py
  n26/library/standard_content.py
  n26/library/test_actions.py
  n26/library/test_fighter_action_content.py
  n26/library/views.py
  n26/tests/sandbox/test_rank_progression.py
Due: check-fmt, markdownlint

fix: keep action history on the confirmed result
  n26/core/action_flow.py
  n26/core/render.py
  n26/tests/sandbox/test_advancement_action_flows.py
  n26/tests/sandbox/test_fighter_action_flows.py
Due: none

fix: batch rank displays and preserve authoring compatibility
  n26/core/augmentations.py
  n26/core/crews.py
  n26/core/progression.py
  n26/core/test_action_augmentations.py
  n26/core/test_progression.py
  n26/core/test_views_print.py
  n26/core/views/assignment_sets.py
  n26/core/views/printing.py
  n26/library/authoring.py
  n26/library/test_actions.py
  n26/library/views.py
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_crews.py
  n26/tests/sandbox/test_rank_progression.py
  n26/tests/test_views_assignment_sets.py
Due: none

test: account for the earned rank history query
  n26/core/test_views_edit.py
Due: none

fix: resume incomplete flows and label only offered choices
  n26/core/render.py
  n26/core/test_views_equip.py
  n26/core/views/action_flows.py
  n26/core/views/edit.py
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_collapsed_lines.py
  n26/tests/sandbox/test_fighter_action_flows.py
  n26/tests/sandbox/test_reset_spyrer_built_ins.py
  n26/tests/sandbox/test_slots_and_picks.py
Due: none

fix: keep rank display out of advancement previews
  n26/core/advancements.py
  n26/core/progression.py
  n26/core/test_advancement_runtime.py
  n26/core/test_progression.py
Due: none
