Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

fix: extend "fighter or vehicle" copy to type/category and add regression test
  gyrinx/core/forms/pack.py
  gyrinx/core/tests/test_pack_vehicles_beasts.py
Due: none

fix: singular label override + clearer help text for pack fighter form (#1733)
  gyrinx/core/forms/pack.py
  gyrinx/core/tests/test_pack_vehicles_beasts.py
  gyrinx/core/views/pack.py
Due: none

feat: pack support for psyker disciplines and powers
  .claude/notes/pack-psyker-powers-plan.md
  gyrinx/content/migrations/0164_add_psyker_descriptions.py
  gyrinx/content/models/psyker.py
  gyrinx/core/forms/pack.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/pack/includes/fighter_preview_card.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_fighter_default_psyker_powers.html
  gyrinx/core/tests/test_pack_psyker.py
  gyrinx/core/urls.py
  gyrinx/core/views/fighter/helpers.py
  gyrinx/core/views/fighter/powers.py
  gyrinx/core/views/pack.py
Due: check-fmt, markdownlint

fix: merge psyker UI to one section, sync fighter card across pack pages
  gyrinx/core/templates/core/pack/includes/fighter_preview_card.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/tests/test_pack_psyker.py
  gyrinx/core/views/pack.py
Due: none

fix: pack fighter edit card links to equipment tab
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/tests/test_pack_psyker.py
Due: none

fix: move discipline "generic" tag to muted description line
  gyrinx/core/templates/core/pack/pack.html
Due: none

fix: address PR review — pack-scoped multi-pack safety, disabled-default visibility, archive cascade for default powers, microcopy
  gyrinx/core/forms/pack.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/tests/test_pack_psyker.py
  gyrinx/core/views/fighter/helpers.py
  gyrinx/core/views/pack.py
Due: none

test: assert 200 before negative body check (PR review nit)
  gyrinx/core/tests/test_pack_psyker.py
Due: none

feat: pack support for psyker disciplines and powers (#1735)
  .claude/notes/pack-psyker-powers-plan.md
  gyrinx/content/migrations/0164_add_psyker_descriptions.py
  gyrinx/content/models/psyker.py
  gyrinx/core/forms/pack.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/pack/includes/fighter_preview_card.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/pack_fighter_default_psyker_powers.html
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/tests/test_pack_psyker.py
  gyrinx/core/urls.py
  gyrinx/core/views/fighter/helpers.py
  gyrinx/core/views/fighter/powers.py
  gyrinx/core/views/pack.py
Due: check-fmt, markdownlint

chore: upgrade Claude GitHub Actions to Opus 4.7 and Sonnet 4.6
  .github/workflows/claude-code-improvement.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-update.yml
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude.yml
  .github/workflows/weekly-summary.yml
Due: check-fmt

chore: upgrade Claude GitHub Actions to Opus 4.7 and Sonnet 4.6 (#1738)
  .github/workflows/claude-code-improvement.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-update.yml
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude.yml
  .github/workflows/weekly-summary.yml
Due: check-fmt

fix: address Dependabot security alerts
  package.json
  requirements.txt
  uv.lock
Due: check-fmt

fix(ci): tune Postgres max_locks_per_transaction in docker-compose
  docker-compose.yml
Due: check-fmt

fix: address Dependabot security alerts (#1741)
  docker-compose.yml
  package.json
  requirements.txt
  uv.lock
Due: check-fmt

feat: pack support for customising existing weapons with new profiles
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/pack/customise_weapon.html
  gyrinx/core/templates/core/pack/customise_weapon_picker.html
  gyrinx/core/templates/core/pack/includes/weapon_profiles_display.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/weapon_profile_add.html
  gyrinx/core/templates/core/pack/weapon_profile_delete.html
  gyrinx/core/templates/core/pack/weapon_profile_edit.html
  gyrinx/core/tests/test_pack_customise_weapon.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: none

fix: address PR review on customise-weapon flow
  gyrinx/core/tests/test_pack_customise_weapon.py
  gyrinx/core/views/pack.py
Due: none

fix: customise-weapon table matches pack page (no outer border)
  gyrinx/core/templates/core/pack/customise_weapon.html
Due: none

fix: cap customise-weapon page width to 6/8 cols at xl/lg
  gyrinx/core/templates/core/pack/customise_weapon.html
Due: none

feat: pack support for customising existing weapons (#1740)
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/pack/customise_weapon.html
  gyrinx/core/templates/core/pack/customise_weapon_picker.html
  gyrinx/core/templates/core/pack/includes/weapon_profiles_display.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/templates/core/pack/weapon_profile_add.html
  gyrinx/core/templates/core/pack/weapon_profile_delete.html
  gyrinx/core/templates/core/pack/weapon_profile_edit.html
  gyrinx/core/tests/test_pack_customise_weapon.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: none

feat: pack support for custom list/gang attributes
  gyrinx/core/forms/attribute.py
  gyrinx/core/forms/pack.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_pack_attributes.py
  gyrinx/core/utils.py
  gyrinx/core/views/list/attributes.py
  gyrinx/core/views/pack.py
Due: check-fmt

fix: pack attribute form pack-aware restricted_to; drop select-mode hint from pack page
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/views/pack.py
Due: none

fix: rename pack page section to 'Gang Attribute'
  gyrinx/core/tests/test_pack_attributes.py
  gyrinx/core/views/pack.py
Due: none

fix: address PR review on pack attributes
  gyrinx/core/forms/pack.py
  gyrinx/core/views/pack.py
Due: none

feat: pack page sidebar CTAs and richer empty states
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/views/pack.py
Due: none

Potential fix for pull request finding
  gyrinx/core/templates/core/pack/pack.html
Due: none

feat: pack support for custom list/gang attributes (#1745)
  gyrinx/core/forms/attribute.py
  gyrinx/core/forms/pack.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_pack_attributes.py
  gyrinx/core/utils.py
  gyrinx/core/views/list/attributes.py
  gyrinx/core/views/pack.py
Due: check-fmt

feat: house rule mod system for content packs
  gyrinx/content/admin.py
  gyrinx/content/migrations/0165_add_content_mod_application.py
  gyrinx/content/models/__init__.py
  gyrinx/content/models/modifier.py
  gyrinx/content/tests/test_content_mod_application.py
  gyrinx/core/forms/pack.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/includes/list_fighter_statline.html
  gyrinx/core/templates/core/includes/list_fighter_weapon_profile_statline.html
  gyrinx/core/templates/core/pack/house_rule_delete.html
  gyrinx/core/templates/core/pack/house_rule_form.html
  gyrinx/core/templates/core/pack/house_rule_picker.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/tests/test_ruleline_skilline_queries.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: none

docs: add localized CLAUDE.md files for core, static, and templates
  gyrinx/core/CLAUDE.md
  gyrinx/core/static/CLAUDE.md
  gyrinx/core/templates/CLAUDE.md
Due: check-fmt, markdownlint

docs: address Copilot review feedback on CLAUDE.md files
  gyrinx/core/CLAUDE.md
  gyrinx/core/static/CLAUDE.md
  gyrinx/core/templates/CLAUDE.md
Due: check-fmt, markdownlint

docs: add localized CLAUDE.md files for core, static, and templates (#1748)
  gyrinx/core/CLAUDE.md
  gyrinx/core/static/CLAUDE.md
  gyrinx/core/templates/CLAUDE.md
Due: check-fmt, markdownlint

feat: refine house-rule picker UX and tighten target validation
  gyrinx/content/migrations/0165_add_content_mod_application.py
  gyrinx/content/models/modifier.py
  gyrinx/content/tests/test_content_mod_application.py
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/house_rule_form.html
  gyrinx/core/templates/core/pack/house_rule_picker.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/views/pack.py
Due: none

feat: clarify weapon name placement in house-rule UI
  gyrinx/core/templates/core/pack/house_rule_form.html
  gyrinx/core/templates/core/pack/house_rule_picker.html
  gyrinx/core/views/pack.py
Due: none

fix: inline standard profile with weapon name in house-rule picker
  gyrinx/core/templates/core/pack/house_rule_picker.html
  gyrinx/core/views/pack.py
Due: none

style: drop fs-7 and bold weight from house-rule picker weapon names
  gyrinx/core/templates/core/pack/house_rule_picker.html
Due: none

style: drop cost column from house-rule fighter picker
  gyrinx/core/templates/core/pack/house_rule_picker.html
Due: none

fix: address PR review on house-rule mod system
  CLAUDE.md
  gyrinx/content/admin.py
  gyrinx/content/models/modifier.py
  gyrinx/content/tests/test_content_mod_application.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/pack/pack.html
Due: check-fmt, markdownlint

fix: keep pack_mods_by_target lookup to a single query when no apps exist
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_ruleline_skilline_queries.py
Due: none

feat: house rule mod system for content packs (#1747)
  CLAUDE.md
  gyrinx/content/admin.py
  gyrinx/content/migrations/0165_add_content_mod_application.py
  gyrinx/content/models/__init__.py
  gyrinx/content/models/modifier.py
  gyrinx/content/tests/test_content_mod_application.py
  gyrinx/core/forms/pack.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/includes/list_fighter_statline.html
  gyrinx/core/templates/core/includes/list_fighter_weapon_profile_statline.html
  gyrinx/core/templates/core/pack/house_rule_delete.html
  gyrinx/core/templates/core/pack/house_rule_form.html
  gyrinx/core/templates/core/pack/house_rule_picker.html
  gyrinx/core/templates/core/pack/pack.html
  gyrinx/core/tests/test_ruleline_skilline_queries.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: check-fmt, markdownlint

fix: archived pack content stays visible to subscribed lists/gangs
  CLAUDE.md
  gyrinx/content/models/base.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_list_packs.py
  gyrinx/core/tests/test_models_pack.py
  gyrinx/core/tests/test_pack_psyker.py
  gyrinx/core/views/fighter/equipment.py
  gyrinx/core/views/list/views.py
Due: check-fmt, markdownlint

fix: scope archive-inclusion to subscriber reads of with_packs
  CLAUDE.md
  gyrinx/content/models/base.py
  gyrinx/content/models/equipment.py
  gyrinx/content/models/fighter.py
  gyrinx/content/models/weapon.py
  gyrinx/core/forms/advancement.py
  gyrinx/core/forms/attribute.py
  gyrinx/core/forms/list.py
  gyrinx/core/forms/vehicle.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_list_packs.py
  gyrinx/core/tests/test_models_pack.py
  gyrinx/core/utils.py
  gyrinx/core/views/fighter/advancements.py
  gyrinx/core/views/fighter/equipment.py
  gyrinx/core/views/fighter/helpers.py
  gyrinx/core/views/fighter/powers.py
  gyrinx/core/views/fighter/rules.py
  gyrinx/core/views/fighter/skills.py
  gyrinx/core/views/list/attributes.py
  gyrinx/core/views/vehicle.py
Due: check-fmt, markdownlint
