Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

fix: update gear category help text to use valid example (#1537)
  gyrinx/core/forms/pack.py
Due: none

feat: show weapon profiles inline on weapon edit page
  gyrinx/core/templates/core/pack/pack_archived.html
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: none

fix: update list selection tab headers to match nomenclature (#1538)
  gyrinx/core/templates/core/lists.html
  gyrinx/core/templates/core/pack/pack_lists.html
  gyrinx/core/tests/test_views_pack.py
Due: none

feat: archive weapon profiles from content packs instead of deleting (#1536)
  gyrinx/content/models/base.py
  gyrinx/content/models/equipment.py
  gyrinx/core/migrations/0136_partial_unique_constraint_on_pack_item.py
  gyrinx/core/models/list.py
  gyrinx/core/models/pack.py
  gyrinx/core/templates/core/pack/pack_archived.html
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/templates/core/pack/weapon_profile_delete.html
  gyrinx/core/templates/core/pack/weapon_profile_edit.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/urls.py
  gyrinx/core/views/fighter/equipment.py
  gyrinx/core/views/pack.py
Due: check-fmt

fix: pack weapons not showing on fighter cards
  gyrinx/core/models/list.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/views/fighter/equipment.py
Due: check-fmt

fix: pack weapons not showing on fighter cards (#1541)
  gyrinx/core/models/list.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/views/fighter/equipment.py
Due: check-fmt

feat: replace multi-select dropdowns with checkboxes in content pack forms
  gyrinx/core/forms/__init__.py
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/includes/weapon_profile_stats_form.html
  gyrinx/core/views/pack.py
  gyrinx/pages/templates/pages/forms/widgets/bs_checkbox_option_compact.html
  gyrinx/pages/templates/pages/forms/widgets/bs_checkbox_select_compact.html
Due: none

fix: address PR feedback — fix stale docstring and improve traits query
  gyrinx/core/forms/__init__.py
  gyrinx/core/forms/pack.py
Due: none

feat: replace multi-select dropdowns with checkboxes in content pack forms (#1542)
  gyrinx/core/forms/__init__.py
  gyrinx/core/forms/pack.py
  gyrinx/core/templates/core/pack/includes/weapon_profile_stats_form.html
  gyrinx/core/views/pack.py
  gyrinx/pages/templates/pages/forms/widgets/bs_checkbox_option_compact.html
  gyrinx/pages/templates/pages/forms/widgets/bs_checkbox_select_compact.html
Due: none

fix: remove spurious checkbox from skills selector in custom fighters (#1544)
  gyrinx/forms.py
  gyrinx/tests/test_forms.py
Due: none

feat: show subscribed lists in dedicated section on pack lists page
  gyrinx/core/templates/core/pack/pack_lists.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: none

feat: allow default equipment definition for content pack fighters
  gyrinx/core/templates/core/pack/includes/fighter_default_equipment.html
  gyrinx/core/templates/core/pack/pack_fighter_default_assignment_remove.html
  gyrinx/core/templates/core/pack/pack_fighter_default_gear_add.html
  gyrinx/core/templates/core/pack/pack_fighter_default_weapons_add.html
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/tests/test_views_pack_default_equipment.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: none

feat: show "Add Content Pack" link on lists with no packs
  gyrinx/core/templates/core/includes/list.html
Due: none

fix: align POST validation with GET picker filtering for default equipment
  gyrinx/core/views/pack.py
Due: none

test: add tests for "Add Content Pack" link visibility
  gyrinx/core/tests/test_list_packs.py
Due: none

fix: use pk subquery for M2M exclude in pack lists view
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: none

Add Pushpush note to CLAUDE.md
  CLAUDE.md
Due: check-fmt, markdownlint

feat: allow default equipment definition for content pack fighters (#1550)
  gyrinx/core/templates/core/pack/includes/fighter_default_equipment.html
  gyrinx/core/templates/core/pack/pack_fighter_default_assignment_remove.html
  gyrinx/core/templates/core/pack/pack_fighter_default_gear_add.html
  gyrinx/core/templates/core/pack/pack_fighter_default_weapons_add.html
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/tests/test_views_pack_default_equipment.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: none

feat: show "Add Content Pack" link on lists with no packs (#1551)
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/tests/test_list_packs.py
Due: none

feat: show subscribed lists in dedicated section on pack lists page (#1549)
  gyrinx/core/templates/core/pack/pack_lists.html
  gyrinx/core/tests/test_views_pack.py
  gyrinx/core/views/pack.py
Due: none

Add Pushpush note to CLAUDE.md (#1552)
  CLAUDE.md
Due: check-fmt, markdownlint

Add extra labelling instructions for CCA
  .github/workflows/claude.yml
Due: check-fmt

Move back towards @claude for triggering CCA
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude.yml
Due: check-fmt

feat: allow equipment list definition for content pack fighters (#1518)
  gyrinx/core/templates/core/pack/includes/fighter_equipment_list.html
  gyrinx/core/templates/core/pack/pack_fighter_default_weapons_add.html
  gyrinx/core/templates/core/pack/pack_fighter_equipment_list_gear_add.html
  gyrinx/core/templates/core/pack/pack_fighter_equipment_list_item_remove.html
  gyrinx/core/templates/core/pack/pack_fighter_equipment_list_weapons_add.html
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/tests/test_views_pack_equipment_list.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: none

Add design system template
  gyrinx/core/templates/core/debug/design_system.html
  gyrinx/core/views/debug.py
  gyrinx/urls.py
Due: none

fix: address PR feedback for equipment list feature
  gyrinx/core/templates/core/pack/pack_fighter_equipment_list_gear_add.html
  gyrinx/core/templates/core/pack/pack_fighter_equipment_list_weapons_add.html
  gyrinx/core/views/pack.py
Due: none

feat: allow equipment list definition for content pack fighters (#1558)
  gyrinx/core/templates/core/pack/includes/fighter_equipment_list.html
  gyrinx/core/templates/core/pack/pack_fighter_default_weapons_add.html
  gyrinx/core/templates/core/pack/pack_fighter_equipment_list_gear_add.html
  gyrinx/core/templates/core/pack/pack_fighter_equipment_list_item_remove.html
  gyrinx/core/templates/core/pack/pack_fighter_equipment_list_weapons_add.html
  gyrinx/core/templates/core/pack/pack_item_edit.html
  gyrinx/core/tests/test_views_pack_equipment_list.py
  gyrinx/core/urls.py
  gyrinx/core/views/pack.py
Due: none

Fix filtering logic
  .github/workflows/claude-issue-triage.yml
Due: check-fmt

Prompt tweak
  .github/workflows/claude-issue-triage.yml
Due: check-fmt

Move back towards @claude for triggering CCA (#1555)
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude.yml
Due: check-fmt

Enable Figma capture in debug mode
  gyrinx/core/templates/core/layouts/foundation.html
Due: none

fix: align weekly summary intro dates with discussion title
  .github/workflows/weekly-summary.yml
Due: check-fmt

Enable Figma capture in debug mode (#1562)
  gyrinx/core/templates/core/layouts/foundation.html
Due: none

fix: align weekly summary intro dates with discussion title (#1563)
  .github/workflows/weekly-summary.yml
Due: check-fmt

refactor: merge Info tab into Notes, add compact card mode, clean up Lore/Notes pages
  CLAUDE.md
  gyrinx/core/forms/list.py
  gyrinx/core/migrations/0138_merge_20260314_1338.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/includes/fighter_card.html
  gyrinx/core/templates/core/includes/fighter_card_content.html
  gyrinx/core/templates/core/includes/fighter_card_gear.html
  gyrinx/core/templates/core/includes/list_about.html
  gyrinx/core/templates/core/includes/list_fighter_weapons.html
  gyrinx/core/templates/core/includes/list_notes.html
  gyrinx/core/templates/core/list_fighter_info_edit.html
  gyrinx/core/templates/core/list_fighter_notes_edit.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/urls.py
  gyrinx/core/views/fighter/__init__.py
  gyrinx/core/views/fighter/narrative.py
Due: check-fmt, markdownlint

feat: add Notes page mirroring About page structure (#1560)
  CLAUDE.md
  gyrinx/core/forms/list.py
  gyrinx/core/migrations/0136_add_notes_to_list.py
  gyrinx/core/migrations/0137_add_notes_to_list_fighter.py
  gyrinx/core/migrations/0138_merge_20260314_1338.py
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/includes/fighter_card.html
  gyrinx/core/templates/core/includes/fighter_card_content.html
  gyrinx/core/templates/core/includes/fighter_card_gear.html
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/includes/list_fighter_weapons.html
  gyrinx/core/templates/core/includes/list_notes.html
  gyrinx/core/templates/core/list_fighter_info_edit.html
  gyrinx/core/templates/core/list_fighter_narrative_edit.html
  gyrinx/core/templates/core/list_fighter_notes_edit.html
  gyrinx/core/templates/core/list_notes.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_integration_core_functionality.py
  gyrinx/core/tests/test_notes_page.py
  gyrinx/core/urls.py
  gyrinx/core/views/fighter/__init__.py
  gyrinx/core/views/fighter/narrative.py
  gyrinx/core/views/list/views.py
Due: check-fmt, markdownlint

feat: show private notes to list owner on gang-wide notes page (#1579)
  gyrinx/core/templates/core/includes/list_notes.html
  gyrinx/core/tests/test_notes_page.py
Due: none

fix: remove category counts from content pack page (#1582)
  gyrinx/core/templates/core/pack/pack.html
Due: none

fix: move icon outside link for "Add Content Pack" on list pages (#1584)
  gyrinx/core/templates/core/includes/list.html
Due: none

test: add coverage for permissions-shared and hidden packs when my=0
  gyrinx/core/tests/test_views_pack.py
Due: none
