Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

fix: describe archived Interstitials as shown nowhere and place a new attachment last
  n26/library/authoring.py
  n26/library/deletion.py
  n26/library/models/slots.py
  n26/library/staged.md
  n26/library/test_slots.py
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
Due: check-fmt, markdownlint

fix: draw a model's status on the figures line, ahead of the Trade Points and rating
  n26/core/templates/cotton/n26/model_card/index.html
  n26/designsystem/templates/designsystem/demos/model-card/15-header.html
Due: none

fix: keep fmt.sh and worktree venvs aligned with uv.lock (#2568)
  .codex/run.sh
  .github/dependabot.yml
  .github/workflows/ci-checks.yml
  .gitignore
  .pre-commit-config.yaml
  gyrinx/tests/test_formatter_versions.py
  gyrinx/tests/test_worktree_venv.py
  scripts/activate_venv_hook.sh
  scripts/check_formatter_versions.py
  scripts/dev.sh
  scripts/fmt.sh
  scripts/lib/worktree.sh
  scripts/setup_web.sh
Due: check-fmt

fix: drop the book comparison from Interstitial.description's help text
  n26/library/migrations/0108_a_slot_can_carry_an_interstitial.py
  n26/library/models/slots.py
Due: none

fix: sit the model card's status on the figures' baseline and close the gap between the two rows
  n26/core/templates/cotton/n26/model_card/index.html
Due: none

feat: draw repeated gear, skill and stash lines once as Name (xN) (#2558)
  n26/core/capture.py
  n26/core/effects.py
  n26/core/printing.py
  n26/core/render.py
  n26/core/render_text.py
  n26/core/templates/cotton/n26/assignable_lines.html
  n26/core/templates/n26/includes/assignable_name.html
  n26/core/templates/n26/print_gang.html
  n26/core/test_choice_names.py
  n26/core/test_render.py
  n26/core/views/edit.py
  n26/core/views/gangs.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/tests.py
  n26/tests/sandbox/test_collapsed_lines.py
  n26/tests/sandbox/test_computed_effects.py
  n26/tests/sandbox/test_lasting_effects.py
  n26/tests/sandbox/test_slots_and_picks.py
Due: none

feat: add Interstitial and InterstitialSlot to the library with an authoring page (#2562)
  n26/library/admin.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/deletion.py
  n26/library/migrations/0108_a_slot_can_carry_an_interstitial.py
  n26/library/models/__init__.py
  n26/library/models/slots.py
  n26/library/references.py
  n26/library/specs.py
  n26/library/staged.md
  n26/library/staged.py
  n26/library/templates/authoring/interstitial_detach.html
  n26/library/test_admin.py
  n26/library/test_slots.py
  n26/library/test_staged.py
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
  n26/urls.py
Due: check-fmt, markdownlint

feat: draw the book's asterisk after two-slot weapon names on cards and pickers (#2555)
  n26/core/listing.py
  n26/core/owned.py
  n26/core/render.py
  n26/core/render_text.py
  n26/core/templates/cotton/n26/assignable_lines.html
  n26/core/templates/cotton/n26/owned_lines.html
  n26/core/templates/cotton/n26/print/weapons.html
  n26/core/templates/cotton/n26/stash/group.html
  n26/core/templates/n26/includes/equip_line.html
  n26/core/templates/n26/includes/equip_owned_line.html
  n26/core/templates/n26/includes/weapon_name.html
  n26/core/templates/n26/print_gang.html
  n26/core/templates/n26/print_setup.html
  n26/core/views/owned.py
  n26/library/models/__init__.py
  n26/library/models/assignable.py
  n26/tests/sandbox/test_two_slot_weapons.py
Due: none

feat: name a pet's owner on its card, and the pet on the kit line that brought it (#2574)
  n26/core/capture.py
  n26/core/icons.py
  n26/core/printing.py
  n26/core/render.py
  n26/core/render_text.py
  n26/core/templates/cotton/n26/assignable_lines.html
  n26/core/templates/cotton/n26/model_card/body.html
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/cotton/n26/print/weapons.html
  n26/core/templates/cotton/n26/stash/group.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/templates/n26/includes/assignable_name.html
  n26/core/templates/n26/includes/gear_lines.html
  n26/core/templates/n26/includes/weapon_name.html
  n26/core/templates/n26/print_gang.html
  n26/core/templates/n26/print_setup.html
  n26/core/views/gangs.py
  n26/core/views/permissions.py
  n26/core/views/printing.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/model-card/15-header.html
  n26/designsystem/templates/designsystem/demos/model-card/20-digital.html
  n26/designsystem/templates/designsystem/demos/model-card/40-empty-written.html
  n26/designsystem/templates/designsystem/demos/model-card/90-pet.html
  n26/designsystem/templates/designsystem/demos/model-card/95-in-the-stash.html
  n26/designsystem/tests.py
  n26/designsystem/views.py
  n26/tests/sandbox/test_pets.py
  n26/tests/sandbox/test_two_slot_weapons.py
Due: none

feat: serve n26 icons from Lucide
  gyrinx/site/icons.py
  gyrinx/tests/test_banner_icons.py
  n26/core/CLAUDE.md
  n26/core/brand_icons.py
  n26/core/icons.py
  n26/core/templates/cotton/n26/campaign_assets.html
  n26/core/templates/cotton/n26/filter_select.html
  n26/core/templates/cotton/n26/icon.html
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/cotton/n26/quick_switcher/index.html
  n26/core/templates/cotton/n26/radio_cards/card.html
  n26/core/templates/cotton/n26/roster_summary.html
  n26/core/templates/cotton/n26/search_bar.html
  n26/core/templates/cotton/n26/site/announcement.html
  n26/core/templates/cotton/n26/site/nav/index.html
  n26/core/templates/cotton/n26/site/nav/theme.html
  n26/core/templates/n26/add_player.html
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/campaign_table.html
  n26/core/templates/n26/layouts/base.html
  n26/core/templatetags/icons.py
  n26/core/test_icons.py
  n26/core/test_views_dashboard.py
  n26/designsystem/CLAUDE.md
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/base.html
  n26/designsystem/templates/designsystem/demos/action-bar/10-page-actions.html
  n26/designsystem/templates/designsystem/demos/action-links/20-icons.html
  n26/designsystem/templates/designsystem/demos/icon/10-the-set.html
  n26/designsystem/templates/designsystem/demos/icon/30-inline-with-text.html
  n26/designsystem/templates/designsystem/demos/input/30-addons.html
  n26/designsystem/templates/designsystem/demos/link/40-trailing.html
  n26/designsystem/templates/designsystem/index.html
  n26/designsystem/templates/designsystem/shell/campaign.html
  n26/designsystem/tests.py
  n26/designsystem/views.py
  n26/tests/test_platform_integration.py
  pyproject.toml
  uv.lock
Due: check-fmt, markdownlint

feat: add sql-performance skill for Django pages
  .agents/skills/sql-performance/SKILL.md
  CLAUDE.md
Due: check-fmt, markdownlint

fix: address icon library review feedback
  gyrinx/site/icons.py
  n26/core/CLAUDE.md
  n26/core/test_icons.py
  n26/designsystem/templates/designsystem/demos/icon/10-the-set.html
Due: check-fmt, markdownlint

docs: explain command-line SQL capture
  .agents/skills/sql-performance/SKILL.md
Due: check-fmt, markdownlint

feat: serve n26 icons from Lucide (#2573)
  gyrinx/site/icons.py
  gyrinx/tests/test_banner_icons.py
  n26/core/CLAUDE.md
  n26/core/brand_icons.py
  n26/core/icons.py
  n26/core/templates/cotton/n26/campaign_assets.html
  n26/core/templates/cotton/n26/filter_select.html
  n26/core/templates/cotton/n26/icon.html
  n26/core/templates/cotton/n26/model_card/index.html
  n26/core/templates/cotton/n26/quick_switcher/index.html
  n26/core/templates/cotton/n26/radio_cards/card.html
  n26/core/templates/cotton/n26/roster_summary.html
  n26/core/templates/cotton/n26/search_bar.html
  n26/core/templates/cotton/n26/site/announcement.html
  n26/core/templates/cotton/n26/site/nav/index.html
  n26/core/templates/cotton/n26/site/nav/theme.html
  n26/core/templates/n26/add_player.html
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/campaign_table.html
  n26/core/templates/n26/layouts/base.html
  n26/core/templatetags/icons.py
  n26/core/test_icons.py
  n26/core/test_views_dashboard.py
  n26/designsystem/CLAUDE.md
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/base.html
  n26/designsystem/templates/designsystem/demos/action-bar/10-page-actions.html
  n26/designsystem/templates/designsystem/demos/action-links/20-icons.html
  n26/designsystem/templates/designsystem/demos/icon/10-the-set.html
  n26/designsystem/templates/designsystem/demos/icon/30-inline-with-text.html
  n26/designsystem/templates/designsystem/demos/input/30-addons.html
  n26/designsystem/templates/designsystem/demos/link/40-trailing.html
  n26/designsystem/templates/designsystem/index.html
  n26/designsystem/templates/designsystem/shell/campaign.html
  n26/designsystem/tests.py
  n26/designsystem/views.py
  n26/tests/test_platform_integration.py
  pyproject.toml
  uv.lock
Due: check-fmt, markdownlint

feat: show an interstitial screen at /n26/gangs/<id>/next/ when a founding, hire or pick brings a slot
  n26/core/arrivals.py
  n26/core/operations.py
  n26/core/render.py
  n26/core/templates/cotton/n26/arrival_block.html
  n26/core/templates/cotton/n26/arrival_question.html
  n26/core/templates/n26/includes/arrival_blocks.html
  n26/core/templates/n26/next.html
  n26/core/views/__init__.py
  n26/core/views/arrivals.py
  n26/core/views/choose.py
  n26/core/views/gangs.py
  n26/core/views/hire.py
  n26/core/views/permissions.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/arrival-block/10-open.html
  n26/designsystem/templates/designsystem/demos/arrival-block/20-chosen.html
  n26/designsystem/templates/designsystem/demos/arrival-block/30-skippable.html
  n26/designsystem/templates/designsystem/shell/_nav.html
  n26/designsystem/templates/designsystem/shell/next.html
  n26/designsystem/tests.py
  n26/designsystem/urls.py
  n26/designsystem/views.py
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_interstitials.py
  n26/tests/sandbox/test_outcast_affiliation_flow.py
  n26/tests/sandbox/test_staged_content.py
  n26/urls.py
Due: none

test: pin that a staged attachment keeps its screen off the arrival path
  n26/tests/sandbox/test_interstitials.py
Due: none

refactor: rename ArrivalScreen.outstanding_said to outstanding_words
  n26/core/render.py
  n26/core/templates/n26/includes/arrival_blocks.html
  n26/tests/sandbox/test_interstitials.py
Due: none

fix: harden the arrival screen's address handling and settle only screened questions
  n26/core/arrivals.py
  n26/core/render.py
  n26/core/views/arrivals.py
  n26/core/views/choose.py
  n26/tests/sandbox/test_interstitials.py
Due: none

fix: name the open questions with "and" on the arrival screen and plainer copy
  n26/core/render.py
  n26/core/templates/cotton/n26/arrival_question.html
  n26/core/templates/n26/includes/arrival_blocks.html
  n26/core/templates/n26/next.html
  n26/designsystem/templates/designsystem/shell/next.html
  n26/designsystem/tests.py
  n26/tests/sandbox/test_interstitials.py
Due: none

fix: key the screen's carrier lookup by the canonical pk, and keep a worked-at choice the way on until it is full
  n26/core/arrivals.py
  n26/core/views/choose.py
  n26/tests/sandbox/test_interstitials.py
Due: none

fix: land a pick that takes its own question away, and let the chooser decide its continuation before asking for a screen
  n26/core/arrivals.py
  n26/core/views/choose.py
  n26/tests/sandbox/test_interstitials.py
Due: none

fix: say Continue waits for settled questions, and order same-placed slots by name
  n26/core/render.py
  n26/core/templates/n26/includes/arrival_blocks.html
  n26/core/templates/n26/next.html
  n26/core/views/arrivals.py
  n26/designsystem/catalog.py
  n26/tests/sandbox/test_interstitials.py
Due: none

fix: spare ordinary readers a derivation for staged-only screens, and order a block's slots by attachment
  n26/core/arrivals.py
  n26/core/views/arrivals.py
  n26/designsystem/sampledata.py
  n26/tests/sandbox/test_interstitials.py
Due: none

fix: name each picker on the arrival screen by the heading that asks its question
  n26/core/render.py
  n26/core/templates/cotton/n26/arrival_question.html
  n26/core/templates/cotton/n26/choice_offer.html
  n26/core/templates/cotton/n26/choice_picks.html
  n26/core/templates/cotton/n26/radio_cards/index.html
  n26/designsystem/tests.py
  n26/tests/sandbox/test_interstitials.py
Due: none

fix: give a question drawn under two screens a heading id per drawing
  n26/core/render.py
  n26/core/views/arrivals.py
  n26/designsystem/sampledata.py
  n26/designsystem/tests.py
  n26/tests/sandbox/test_interstitials.py
Due: none

fix: hold Continue until a choice has every pick it asks for
  n26/core/render.py
  n26/core/templates/n26/includes/arrival_blocks.html
  n26/core/templates/n26/next.html
  n26/core/views/arrivals.py
  n26/core/views/choose.py
  n26/core/views/gangs.py
  n26/core/views/hire.py
  n26/designsystem/catalog.py
  n26/tests/sandbox/test_interstitials.py
Due: none

fix: say which choices on the arrival screen can wait
  n26/core/templates/n26/next.html
  n26/designsystem/templates/designsystem/shell/next.html
Due: none

fix: make Continue write the arrival screen's answers and drop the per-question Save
  n26/core/render.py
  n26/core/templates/cotton/n26/arrival_block.html
  n26/core/templates/cotton/n26/arrival_question.html
  n26/core/templates/cotton/n26/choice_picks.html
  n26/core/templates/n26/includes/arrival_blocks.html
  n26/core/templates/n26/next.html
  n26/core/views/arrivals.py
  n26/core/views/choose.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/arrival-block/30-skippable.html
  n26/designsystem/templates/designsystem/shell/next.html
  n26/designsystem/tests.py
  n26/tests/sandbox/test_interstitials.py
Due: none

fix: narrow the screen after founding to the gang's own questions with asking(hosts=)
  n26/core/arrivals.py
  n26/core/views/gangs.py
  n26/tests/sandbox/test_interstitials.py
Due: none

fix: build arrival_screen's sample from gang-hosted questions and real pickables
  n26/designsystem/sampledata.py
  n26/designsystem/tests.py
Due: none

fix: name a choice once in the Continue hint when two screens ask it
  n26/core/render.py
  n26/tests/sandbox/test_interstitials.py
Due: none

docs: add the interstitial recipe to the authoring cookbook
  n26/library/recipes.md
Due: check-fmt, markdownlint

docs: name both nouns in the interstitial recipe's attach step
  n26/library/recipes.md
Due: check-fmt, markdownlint

docs: plain-English pass over the recipes cookbook
  n26/library/recipes.md
Due: check-fmt, markdownlint

docs: rewrite the interstitial recipe in plain prose
  n26/library/recipes.md
Due: check-fmt, markdownlint

feat: add toolbar-backed page inspection
  .agents/skills/sql-performance/SKILL.md
  CLAUDE.md
  gyrinx/page_inspection.py
  gyrinx/tests/test_page_inspection.py
  n23/core/management/commands/inspect_page.py
Due: check-fmt, markdownlint

feat: show an authored screen at /n26/gangs/{id}/next/ when a founding, hire or pick brings a slot (#2564)
  n26/core/arrivals.py
  n26/core/operations.py
  n26/core/render.py
  n26/core/templates/cotton/n26/arrival_block.html
  n26/core/templates/cotton/n26/arrival_question.html
  n26/core/templates/cotton/n26/choice_offer.html
  n26/core/templates/cotton/n26/choice_picks.html
  n26/core/templates/cotton/n26/radio_cards/index.html
  n26/core/templates/n26/includes/arrival_blocks.html
  n26/core/templates/n26/next.html
  n26/core/views/__init__.py
  n26/core/views/arrivals.py
  n26/core/views/choose.py
  n26/core/views/gangs.py
  n26/core/views/hire.py
  n26/core/views/permissions.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/arrival-block/10-open.html
  n26/designsystem/templates/designsystem/demos/arrival-block/20-chosen.html
  n26/designsystem/templates/designsystem/demos/arrival-block/30-skippable.html
  n26/designsystem/templates/designsystem/shell/_nav.html
  n26/designsystem/templates/designsystem/shell/next.html
  n26/designsystem/tests.py
  n26/designsystem/urls.py
  n26/designsystem/views.py
  n26/library/recipes.md
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_interstitials.py
  n26/tests/sandbox/test_outcast_affiliation_flow.py
  n26/tests/sandbox/test_staged_content.py
  n26/urls.py
Due: check-fmt, markdownlint

feat: add c-share / c-n26.share to gang, campaign and help pages
  docs/DESIGN-SYSTEM.md
  gyrinx/pages/templates/flatpages/default.html
  gyrinx/pages/tests/test_share_button.py
  gyrinx/templates/cotton/share.html
  n23/core/static/core/js/index.js
  n23/core/templates/core/campaign/campaign.html
  n23/core/templates/core/debug/design_system.html
  n23/core/templates/core/includes/list.html
  n23/core/tests/test_share_button.py
  n26/core/templates/cotton/n26/share.html
  n26/core/templates/cotton/n26/view/gang_sheet.html
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/gang_sheet.html
  n26/core/test_views_share.py
  n26/designsystem/catalog.py
  n26/designsystem/templates/designsystem/demos/share/10-share.html
  n26/designsystem/tests.py
  n26/tests/test_views_campaigns.py
Due: check-fmt, markdownlint

fix: make c-share / c-n26.share navigate when the clipboard is unavailable
  n23/core/static/core/js/index.js
  n23/core/tests/test_share_button.py
  n26/core/templates/cotton/n26/share.html
  n26/core/templates/n26/campaign.html
  n26/designsystem/catalog.py
Due: check-fmt

fix: leave modified clicks on c-share / c-n26.share to the browser; share slot in the gallery shells
  n23/core/static/core/js/index.js
  n26/core/templates/cotton/n26/share.html
  n26/core/test_views_share.py
  n26/designsystem/templates/designsystem/shell/campaign.html
  n26/designsystem/templates/designsystem/shell/gang.html
  n26/designsystem/tests.py
  n26/tests/test_views_campaigns.py
Due: check-fmt
