Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

style: wrap the print setup summary test payload for ruff
  n26/core/test_views_print.py
Due: none

feat: let AddsAssignable grant wargear
  n26/core/card.py
  n26/core/effects.py
  n26/core/render.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/migrations/0095_modifiers_can_grant_wargear.py
  n26/library/models/modifier.py
  n26/library/prose.py
  n26/library/recipes.md
  n26/library/specs.py
  n26/library/tests.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_computed_effects.py
Due: check-fmt, markdownlint

feat: use Collections for gang and archetype hire lists
  n26/core/hire.py
  n26/core/render.py
  n26/core/views/hire.py
  n26/library/collections.md
  n26/library/concepts.md
  n26/library/recipes.md
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_gang_archetypes.py
Due: check-fmt, markdownlint

feat: use Collections for gang and archetype hire lists (#2496)
  n26/core/hire.py
  n26/core/render.py
  n26/core/views/hire.py
  n26/library/collections.md
  n26/library/concepts.md
  n26/library/recipes.md
  n26/library/views.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_gang_archetypes.py
Due: check-fmt, markdownlint

feat: a Category can draw its own row on a model card (#2501)
  n26/core/capture.py
  n26/core/card.py
  n26/core/printing.py
  n26/core/render.py
  n26/core/render_text.py
  n26/core/templates/cotton/n26/model_card/body.html
  n26/core/templates/cotton/n26/view/model_edit.html
  n26/core/templates/n26/fighter_edit.html
  n26/core/templates/n26/includes/gear_lines.html
  n26/core/test_views_edit.py
  n26/core/views/edit.py
  n26/core/views/owned.py
  n26/designsystem/sampledata.py
  n26/library/migrations/0095_a_category_may_draw_its_own_row_on_a_card.py
  n26/library/models/category.py
  n26/tests/sandbox/test_gear_rows.py
Due: none

feat: a credit price may be below zero
  n26/core/operations.py
  n26/library/migrations/0096_a_price_may_be_below_zero.py
  n26/library/models/assignable.py
  n26/library/models/collection.py
  n26/library/models/profile.py
  n26/tests/sandbox/test_prices_below_zero.py
Due: none

fix: the floor under a fighter's price holds on every surface
  n26/library/migrations/0096_a_price_may_be_below_zero.py
  n26/library/models/assignable.py
  n26/library/models/collection.py
  n26/library/models/profile.py
  n26/tests/sandbox/test_prices_below_zero.py
Due: none

feat: a credit price may be below zero (#2503)
  n26/core/operations.py
  n26/library/migrations/0096_a_price_may_be_below_zero.py
  n26/library/models/assignable.py
  n26/library/models/collection.py
  n26/library/models/profile.py
  n26/tests/sandbox/test_prices_below_zero.py
Due: none

feat: put notes, pictures and write-in space on n26 print cards (#2509)
  n26/core/migrations/0063_print_notes_cover_pictures_and_writing_space.py
  n26/core/models/print_config.py
  n26/core/templates/n26/print_gang.html
  n26/core/templates/n26/print_setup.html
  n26/core/test_views_print.py
  n26/core/views/printing.py
  n26/designsystem/assets/print.css
Due: none

Preserve empty grant provenance labels
  n26/core/render.py
  n26/core/test_render.py
Due: none

fix: buy() reconciles a weapon's built-ins so Spyrer augmentation tiers arrive
  .claude/notes/issue-2313-plan.md
  n26/core/operations.py
  n26/tests/sandbox/test_spyrer_augmentations.py
Due: check-fmt, markdownlint

fix: move() re-homes what a carrier brought alongside it; reconcile only where built-ins exist
  .claude/notes/issue-2313-plan.md
  n26/core/operations.py
  n26/tests/sandbox/test_spyrer_augmentations.py
Due: check-fmt, markdownlint

fix: move() reads a carrier's old host from its roots so a bolted-on part's grants follow it
  n26/core/operations.py
  n26/tests/sandbox/test_spyrer_augmentations.py
Due: none

test: assert_reconciled on every Spyrer augmentation climb
  n26/tests/sandbox/test_spyrer_augmentations.py
Due: none

fix: let Codex access local PostgreSQL through its Unix socket
  .codex/config.toml
  .codex/run.sh
  CLAUDE.md
  scripts/dev.sh
Due: check-fmt, markdownlint

feat: let AddsAssignable grant wargear (#2513)
  n26/core/card.py
  n26/core/effects.py
  n26/core/render.py
  n26/core/test_render.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/migrations/0101_modifiers_can_grant_wargear.py
  n26/library/models/modifier.py
  n26/library/prose.py
  n26/library/recipes.md
  n26/library/specs.py
  n26/library/tests.py
  n26/tests/sandbox/test_authoring_views.py
  n26/tests/sandbox/test_computed_effects.py
Due: check-fmt, markdownlint

fix: let Codex access local PostgreSQL through its Unix socket (#2515)
  .codex/config.toml
  .codex/run.sh
  CLAUDE.md
  scripts/dev.sh
Due: check-fmt, markdownlint

feat: add Codex worktree setup, cleanup and dev URL scripts
  .codex/README.md
  .codex/cleanup.sh
  .codex/dev-url.sh
  .codex/setup.sh
  .codex/tests/test_lifecycle.py
  .codex/worktree.sh
  CLAUDE.md
Due: check-fmt, markdownlint

fix: clear PostgreSQL address overrides before worktree cleanup
  .codex/cleanup.sh
  .codex/tests/test_lifecycle.py
Due: none

feat: allow several migration leaves per app and add the Migration watch workflow
  .github/workflows/ci-checks.yml
  .github/workflows/migration-watch.yml
  CLAUDE.md
  docs/developing-gyrinx/models-and-database.md
  gyrinx/migration_graph.py
  gyrinx/migration_overlap.py
  gyrinx/tests/test_migration_graph.py
  n23/core/apps.py
  n23/core/management/commands/check_migration_conflicts.py
  n23/core/management/commands/check_migration_overlap.py
  scripts/check_migration_conflicts.sh
  scripts/migration_watch_report.py
Due: check-fmt, markdownlint

fix: migration-watch drops the persisted token, reports on setup failure, and lists PR files by diff
  .github/workflows/migration-watch.yml
  gyrinx/migration_graph.py
  gyrinx/tests/test_migration_graph.py
  scripts/migration_watch_report.py
Due: check-fmt

fix: migration watch reads a truncated overlap report as a note and names the pathspec as a glob
  n23/core/management/commands/check_migration_overlap.py
  scripts/migration_watch_report.py
Due: none

fix: migration watch scopes write permissions to the check job and re-takes main's scripts before reporting
  .github/workflows/migration-watch.yml
  n23/core/management/commands/check_migration_overlap.py
  scripts/migration_watch_report.py
Due: check-fmt

fix: buy() reconciles a weapon's built-ins so Spyrer augmentation tiers arrive (#2514)
  .claude/notes/issue-2313-plan.md
  n26/core/operations.py
  n26/tests/sandbox/test_spyrer_augmentations.py
Due: check-fmt, markdownlint

chore: library migration 0097 becomes 0102, on 0101_modifiers_can_grant_wargear
  n26/library/migrations/0102_a_grant_may_carry_its_pick.py
Due: none

feat: let AddsAssignable give a hidden Slot with its starting pick (with_pick)
  n26/core/card.py
  n26/core/effects.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/forms.py
  n26/library/migrations/0097_a_grant_may_carry_its_pick.py
  n26/library/models/modifier.py
  n26/library/models/slots.py
  n26/library/offers.py
  n26/library/prose.py
  n26/library/recipes.md
  n26/library/references.py
  n26/library/specs.py
  n26/tests/sandbox/test_a_grant_may_carry_its_pick.py
Due: check-fmt, markdownlint

chore: point library migration 0097 at 0096_a_price_may_be_below_zero
  n26/library/migrations/0097_a_grant_may_carry_its_pick.py
Due: none

fix: READ_WITH loads AddsAssignable.with_pick so protecting-reference text does not query per row
  n26/library/references.py
Due: none

fix: the modifier composer refuses a bad with_pick on the field instead of failing the request
  n26/library/forms.py
  n26/tests/sandbox/test_a_grant_may_carry_its_pick.py
Due: none

fix: AssetTable's price column is created signed, as every assignable's is after 0096
  n26/library/migrations/0099_asset_tables_are_held_by_gangs.py
Due: none

feat: add AssetTable so a gang holds the Territory tables it may roll on
  n26/core/effects.py
  n26/core/history.py
  n26/core/migrations/0063_an_assignment_can_name_an_asset_table.py
  n26/core/models/assignment.py
  n26/core/render.py
  n26/library/admin.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/migrations/0099_asset_tables_are_held_by_gangs.py
  n26/library/migrations/0100_the_territory_selection_table.py
  n26/library/models/__init__.py
  n26/library/models/campaign_type.py
  n26/library/models/defaults.py
  n26/library/models/modifier.py
  n26/library/models/slots.py
  n26/library/prose.py
  n26/library/references.py
  n26/library/specs.py
  n26/library/tables.py
  n26/library/templates/authoring/_coverage.html
  n26/library/templates/authoring/_editable_parts.html
  n26/library/templates/authoring/asset_table_entry_remove.html
  n26/library/templates/authoring/detail.html
  n26/library/templates/authoring/picklist_table.html
  n26/library/territory_table.py
  n26/library/views.py
  n26/tests/sandbox/test_asset_tables.py
  n26/tests/sandbox/test_built_in_offers.py
  n26/tests/sandbox/test_prose.py
  n26/urls.py
Due: check-fmt, markdownlint

feat: add GangHasPickable so TargetsGang can narrow to gangs that have picked a Pickable
  n26/core/card.py
  n26/library/authoring.py
  n26/library/concepts.md
  n26/library/income.py
  n26/library/migrations/0098_the_gang_scope_may_name_a_pick.py
  n26/library/models/__init__.py
  n26/library/models/modifier.py
  n26/library/prose.py
  n26/library/recipes.md
  n26/library/specs.py
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_the_gang_scope_may_name_a_pick.py
Due: check-fmt, markdownlint

chore: library migration 0098 becomes 0103, on 0102_a_grant_may_carry_its_pick
  n26/library/migrations/0103_the_gang_scope_may_name_a_pick.py
Due: none

chore: renumber the asset-table migrations behind main's leaves
  n26/core/migrations/0064_an_assignment_can_name_an_asset_table.py
  n26/library/migrations/0104_asset_tables_are_held_by_gangs.py
  n26/library/migrations/0105_the_territory_selection_table.py
Due: none

fix: the scope verbs judge every condition before writing the scope row
  n26/library/authoring.py
  n26/tests/sandbox/test_the_gang_scope_may_name_a_pick.py
Due: none

fix: the founding page's 'Every gang starts with' leaves asset tables out
  n26/core/campaigns.py
  n26/tests/sandbox/test_asset_tables.py
Due: none

feat: roll on asset tables in a campaign — pool and starting rolls, Tables page
  n26/core/campaigns.py
  n26/core/forms.py
  n26/core/history.py
  n26/core/migrations/0064_a_campaign_records_a_roll.py
  n26/core/models/campaign.py
  n26/core/render.py
  n26/core/templates/cotton/n26/campaign_assets.html
  n26/core/templates/cotton/n26/campaign_gangs.html
  n26/core/templates/cotton/n26/view/campaign_sheet.html
  n26/core/templates/n26/campaign.html
  n26/core/templates/n26/campaign_table.html
  n26/core/templates/n26/campaign_tables.html
  n26/core/templates/n26/includes/campaign_roll_dialogs.html
  n26/core/templates/n26/new_table.html
  n26/core/views/__init__.py
  n26/core/views/campaigns.py
  n26/designsystem/sampledata.py
  n26/tests/sandbox/actions.py
  n26/tests/sandbox/test_asset_rolls.py
  n26/tests/sandbox/test_asset_tables.py
  n26/urls.py
Due: none

fix: campaign table bands are judged against the die; rolls hold staged content back; a former campaign's tables are not offered
  n26/core/campaigns.py
  n26/core/forms.py
  n26/core/render.py
  n26/core/views/campaigns.py
  n26/tests/sandbox/test_asset_rolls.py
Due: none

fix: add_asset admits an opened table's entries; roll dialogs drop the Territory rule for other types
  n26/core/campaigns.py
  n26/core/forms.py
  n26/core/templates/n26/campaign_table.html
  n26/core/templates/n26/campaign_tables.html
  n26/core/templates/n26/includes/campaign_roll_dialogs.html
  n26/core/templates/n26/new_table.html
  n26/core/views/campaigns.py
  n26/tests/sandbox/test_asset_rolls.py
Due: none

chore: core migration 0064_a_campaign_records_a_roll becomes 0065, on 0064_an_assignment_can_name_an_asset_table
  n26/core/migrations/0065_a_campaign_records_a_roll.py
Due: none
