Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

check-fmt:
  name: check-fmt
  entry: ./scripts/fmt-check.sh
  language: script
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
  language: system

feat: normalise stat formats and materialise statlines (#1861 Track C1) (#2103)
  .claude/notes/c0-fix-list.md
  .claude/notes/track-c-plan.md
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/templates/admin/maintenance/materialise_statlines.html
  gyrinx/maintenance/templates/admin/maintenance/normalise_stat_formats.html
  gyrinx/maintenance/tests/test_admin_views.py
  n23/core/forms/list.py
  n23/core/maintenance/statlines.py
  n23/core/migrations/0201_statline_backfill_operations.py
  n23/core/models/backfill.py
  n23/core/tests/test_maintenance_statlines.py
  n23/core/views/fighter/stats.py
Due: check-fmt, markdownlint

chore: run ci-checks on PRs targeting any branch, not just main
  .github/workflows/ci-checks.yml
Due: check-fmt

chore: run ci-checks on PRs targeting any branch, not just main (#2111)
  .github/workflows/ci-checks.yml
Due: check-fmt

feat: migrate fighter stat overrides to the override store (#1861 C2)
  .claude/notes/track-c-plan.md
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/templates/admin/maintenance/migrate_stat_overrides.html
  n23/core/maintenance/stat_overrides.py
  n23/core/migrations/0202_migrate_stat_overrides_operation.py
  n23/core/models/backfill.py
  n23/core/tests/test_maintenance_stat_overrides.py
Due: check-fmt, markdownlint

fix: close the two blocking C2 review findings
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/templates/admin/maintenance/migrate_stat_overrides.html
  gyrinx/maintenance/tests/test_admin_views.py
  n23/core/maintenance/stat_overrides.py
  n23/core/tests/test_maintenance_stat_overrides.py
Due: none

feat: migrate fighter stat overrides to the override store (#1861 Track C2) (#2112)
  .claude/notes/track-c-plan.md
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/templates/admin/maintenance/migrate_stat_overrides.html
  gyrinx/maintenance/tests/test_admin_views.py
  n23/core/maintenance/stat_overrides.py
  n23/core/migrations/0202_migrate_stat_overrides_operation.py
  n23/core/models/backfill.py
  n23/core/tests/test_maintenance_stat_overrides.py
Due: check-fmt, markdownlint

refactor: move edition-agnostic request handling to the platform
  bandit/bandit-baseline.json
  bandit/bandit-baseline.txt
  gyrinx/account_forms.py
  gyrinx/adapter.py
  gyrinx/context_processors.py
  gyrinx/forms.py
  gyrinx/impersonation.py
  gyrinx/middleware.py
  gyrinx/settings.py
  gyrinx/tests/test_forms.py
  gyrinx/tests/test_request_data_too_big.py
  gyrinx/widgets.py
  n23/core/admin/list.py
  n23/core/context_processors.py
  n23/core/forms/__init__.py
  n23/core/forms/battle.py
  n23/core/forms/campaign.py
  n23/core/forms/list.py
  n23/core/forms/pack.py
  n23/core/forms/terms.py
  n23/core/forms/vehicle.py
  n23/core/middleware.py
  n23/core/signals.py
  n23/core/tests/test_email_headers.py
  n23/core/tests/test_impersonation.py
  n23/core/tests/test_upgrade_form_radio.py
  n23/core/views/campaign/views.py
  n23/core/views/impersonation.py
  n23/core/views/list/views.py
  n23/core/views/user.py
Due: check-fmt

refactor: move user accounts into a platform app, without touching a table
  bandit/bandit-baseline.json
  bandit/bandit-baseline.txt
  gyrinx/account_forms.py
  gyrinx/accounts/__init__.py
  gyrinx/accounts/admin.py
  gyrinx/accounts/apps.py
  gyrinx/accounts/migrations/0001_move_userprofile_to_accounts.py
  gyrinx/accounts/migrations/__init__.py
  gyrinx/accounts/models.py
  gyrinx/api/patreon.py
  gyrinx/api/test_patreon.py
  gyrinx/badges.py
  gyrinx/settings.py
  gyrinx/tests/test_admin_auth.py
  n23/core/admin/__init__.py
  n23/core/forms/__init__.py
  n23/core/migrations/0203_move_userprofile_to_accounts.py
  n23/core/models/__init__.py
  n23/core/signals.py
  n23/core/tests/test_badge_views.py
  n23/core/tests/test_badges.py
  n23/core/tests/test_tos_agreement.py
  n23/core/views/user.py
Due: check-fmt

refactor: serve the edition under /n23/ and split the debug routes
  bandit/bandit-baseline.json
  bandit/bandit-baseline.txt
  gyrinx/urls.py
  gyrinx/views_debug.py
  n23/core/templates/core/debug/list_actions.html
  n23/core/templates/core/debug/list_balance_sheet.html
  n23/core/templates/core/includes/list.html
  n23/core/templates/core/includes/list_common_header.html
  n23/core/tests/test_campaign.py
  n23/core/tests/test_campaign_copy.py
  n23/core/tests/test_campaign_private_visibility.py
  n23/core/tests/test_cotton_badge.py
  n23/core/tests/test_cotton_callouts.py
  n23/core/tests/test_debug_views.py
  n23/core/tests/test_fighter_switcher.py
  n23/core/tests/test_group_tags.py
  n23/core/tests/test_homepage_campaigns.py
  n23/core/tests/test_impersonation.py
  n23/core/tests/test_list_fighter_group_keys.py
  n23/core/tests/test_list_house_filter_security.py
  n23/core/tests/test_list_packs.py
  n23/core/tests/test_pack_vehicles_beasts.py
  n23/core/tests/test_pack_weapon_accessories.py
  n23/core/tests/test_print_lab.py
  n23/core/tests/test_tags.py
  n23/core/tests/test_vehicle_injury_campaign_actions.py
  n23/core/tests/test_views_pack.py
  n23/core/urls/__init__.py
  n23/core/urls/debug.py
  n23/core/views/debug.py
  n23/core/views/print_lab.py
Due: check-fmt

fix: let the platform own the banner cache key
  bandit/bandit-baseline.json
  bandit/bandit-baseline.txt
  conftest.py
  gyrinx/site/models.py
  n23/core/context_processors.py
  n23/core/tests/test_context_processors.py
  n23/core/tests/test_maintenance_statlines.py
  n23/core/urls/__init__.py
  n23/core/views/list/views.py
Due: check-fmt

refactor: move user accounts into a platform app, without touching a table (#2106)
  bandit/bandit-baseline.json
  bandit/bandit-baseline.txt
  gyrinx/account_forms.py
  gyrinx/accounts/__init__.py
  gyrinx/accounts/admin.py
  gyrinx/accounts/apps.py
  gyrinx/accounts/migrations/0001_move_userprofile_to_accounts.py
  gyrinx/accounts/migrations/__init__.py
  gyrinx/accounts/models.py
  gyrinx/api/patreon.py
  gyrinx/api/test_patreon.py
  gyrinx/badges.py
  gyrinx/settings.py
  gyrinx/tests/test_admin_auth.py
  n23/core/admin/__init__.py
  n23/core/forms/__init__.py
  n23/core/migrations/0203_move_userprofile_to_accounts.py
  n23/core/models/__init__.py
  n23/core/signals.py
  n23/core/tests/test_badge_views.py
  n23/core/tests/test_badges.py
  n23/core/tests/test_tos_agreement.py
  n23/core/views/user.py
Due: check-fmt

refactor: move edition-agnostic request handling to the platform (#2104)
  bandit/bandit-baseline.json
  bandit/bandit-baseline.txt
  gyrinx/account_forms.py
  gyrinx/adapter.py
  gyrinx/context_processors.py
  gyrinx/forms.py
  gyrinx/impersonation.py
  gyrinx/middleware.py
  gyrinx/settings.py
  gyrinx/tests/test_forms.py
  gyrinx/tests/test_request_data_too_big.py
  gyrinx/widgets.py
  n23/core/admin/list.py
  n23/core/context_processors.py
  n23/core/forms/__init__.py
  n23/core/forms/battle.py
  n23/core/forms/campaign.py
  n23/core/forms/list.py
  n23/core/forms/pack.py
  n23/core/forms/terms.py
  n23/core/forms/vehicle.py
  n23/core/middleware.py
  n23/core/signals.py
  n23/core/tests/test_email_headers.py
  n23/core/tests/test_impersonation.py
  n23/core/tests/test_upgrade_form_radio.py
  n23/core/views/campaign/views.py
  n23/core/views/impersonation.py
  n23/core/views/list/views.py
  n23/core/views/user.py
Due: check-fmt

refactor: serve the edition under /n23/ and split the debug routes (#2110)
  bandit/bandit-baseline.json
  bandit/bandit-baseline.txt
  conftest.py
  gyrinx/site/models.py
  gyrinx/urls.py
  gyrinx/views_debug.py
  n23/core/context_processors.py
  n23/core/templates/core/debug/list_actions.html
  n23/core/templates/core/debug/list_balance_sheet.html
  n23/core/templates/core/includes/list.html
  n23/core/templates/core/includes/list_common_header.html
  n23/core/tests/test_campaign.py
  n23/core/tests/test_campaign_copy.py
  n23/core/tests/test_campaign_private_visibility.py
  n23/core/tests/test_context_processors.py
  n23/core/tests/test_cotton_badge.py
  n23/core/tests/test_cotton_callouts.py
  n23/core/tests/test_debug_views.py
  n23/core/tests/test_fighter_switcher.py
  n23/core/tests/test_group_tags.py
  n23/core/tests/test_homepage_campaigns.py
  n23/core/tests/test_impersonation.py
  n23/core/tests/test_list_fighter_group_keys.py
  n23/core/tests/test_list_house_filter_security.py
  n23/core/tests/test_list_packs.py
  n23/core/tests/test_maintenance_statlines.py
  n23/core/tests/test_pack_vehicles_beasts.py
  n23/core/tests/test_pack_weapon_accessories.py
  n23/core/tests/test_print_lab.py
  n23/core/tests/test_tags.py
  n23/core/tests/test_vehicle_injury_campaign_actions.py
  n23/core/tests/test_views_pack.py
  n23/core/urls/__init__.py
  n23/core/urls/debug.py
  n23/core/views/debug.py
  n23/core/views/list/views.py
  n23/core/views/print_lab.py
Due: check-fmt

refactor: stop reading legacy stat override columns (#1861 Track C3)
  conftest.py
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/templates/admin/maintenance/stat_advancements.html
  gyrinx/maintenance/tests/test_admin_views.py
  n23/core/forms/list.py
  n23/core/handlers/fighter/advancement.py
  n23/core/maintenance/stat_advancements.py
  n23/core/migrations/0206_retire_stat_advancement_cleanup.py
  n23/core/models/backfill.py
  n23/core/models/list/advancement.py
  n23/core/models/list/fighter.py
  n23/core/templates/core/list_fighter_stats_edit.html
  n23/core/tests/fixtures/performance_view_queries.json
  n23/core/tests/test_advancements.py
  n23/core/tests/test_assignments.py
  n23/core/tests/test_clone_linked_fighter_complete.py
  n23/core/tests/test_clone_psyker_and_additional.py
  n23/core/tests/test_forms_smart_quotes.py
  n23/core/tests/test_list_fighter_stat_override.py
  n23/core/tests/test_maintenance_stat_advancements.py
  n23/core/tests/test_maintenance_stat_overrides.py
  n23/core/tests/test_maintenance_statlines.py
  n23/core/tests/test_migration_convert_legacy_advancements.py
  n23/core/tests/test_mod_ctx_optimization.py
  n23/core/tests/test_models_core.py
  n23/core/views/fighter/stats.py
Due: check-fmt

fix: keep archived overrides out of the stats form
  conftest.py
  n23/core/forms/list.py
  n23/core/tests/test_forms_smart_quotes.py
  n23/core/tests/test_list_fighter_stat_override.py
Due: none

fix: don't let a POST without stat fields wipe a fighter's overrides
  conftest.py
  n23/core/handlers/fighter/advancement.py
  n23/core/tests/test_list_fighter_stat_override.py
  n23/core/tests/test_maintenance_statlines.py
  n23/core/views/fighter/stats.py
Due: none

fix: reconcile stat overrides per field instead of rewriting them all
  n23/core/tests/test_list_fighter_stat_override.py
  n23/core/views/fighter/stats.py
Due: none

refactor: stop reading legacy stat override columns (#1861 Track C3) (#2113)
  conftest.py
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/templates/admin/maintenance/stat_advancements.html
  gyrinx/maintenance/tests/test_admin_views.py
  n23/core/forms/list.py
  n23/core/handlers/fighter/advancement.py
  n23/core/maintenance/stat_advancements.py
  n23/core/migrations/0206_retire_stat_advancement_cleanup.py
  n23/core/models/backfill.py
  n23/core/models/list/advancement.py
  n23/core/models/list/fighter.py
  n23/core/templates/core/list_fighter_stats_edit.html
  n23/core/tests/fixtures/performance_view_queries.json
  n23/core/tests/test_advancements.py
  n23/core/tests/test_assignments.py
  n23/core/tests/test_clone_linked_fighter_complete.py
  n23/core/tests/test_clone_psyker_and_additional.py
  n23/core/tests/test_forms_smart_quotes.py
  n23/core/tests/test_list_fighter_stat_override.py
  n23/core/tests/test_maintenance_stat_advancements.py
  n23/core/tests/test_maintenance_stat_overrides.py
  n23/core/tests/test_maintenance_statlines.py
  n23/core/tests/test_migration_convert_legacy_advancements.py
  n23/core/tests/test_mod_ctx_optimization.py
  n23/core/tests/test_models_core.py
  n23/core/views/fighter/stats.py
Due: check-fmt

refactor: drop the legacy stat override columns (#1861 Track C4)
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/templates/admin/maintenance/migrate_stat_overrides.html
  gyrinx/maintenance/tests/test_admin_views.py
  n23/core/maintenance/stat_overrides.py
  n23/core/migrations/0207_drop_legacy_stat_override_columns.py
  n23/core/models/backfill.py
  n23/core/models/list/fighter.py
  n23/core/tests/fixtures/performance_view_queries.json
  n23/core/tests/test_advancements.py
  n23/core/tests/test_list_fighter_stat_override.py
  n23/core/tests/test_maintenance_stat_overrides.py
  n23/core/tests/test_maintenance_statlines.py
  n23/core/tests/test_migration_convert_legacy_advancements.py
  n23/core/tests/test_migration_fix_movement_advances.py
Due: check-fmt

refactor: drop the legacy stat override columns (#1861 Track C4) (#2115)
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/templates/admin/maintenance/migrate_stat_overrides.html
  gyrinx/maintenance/tests/test_admin_views.py
  n23/core/maintenance/stat_overrides.py
  n23/core/migrations/0207_drop_legacy_stat_override_columns.py
  n23/core/models/backfill.py
  n23/core/models/list/fighter.py
  n23/core/tests/fixtures/performance_view_queries.json
  n23/core/tests/test_advancements.py
  n23/core/tests/test_list_fighter_stat_override.py
  n23/core/tests/test_maintenance_stat_overrides.py
  n23/core/tests/test_maintenance_statlines.py
  n23/core/tests/test_migration_convert_legacy_advancements.py
  n23/core/tests/test_migration_fix_movement_advances.py
Due: check-fmt

refactor: move the statline helpers into the content app
  .claude/notes/track-c-inline-statline-editing.md
  n23/content/statlines.py
  n23/core/views/pack.py
Due: check-fmt, markdownlint

feat: edit a fighter type's stats on its own admin page (#1861)
  conftest.py
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/templates/admin/maintenance/materialise_statlines.html
  gyrinx/maintenance/templates/admin/maintenance/normalise_stat_formats.html
  gyrinx/maintenance/tests/test_admin_views.py
  n23/content/admin.py
  n23/content/models/fighter.py
  n23/content/models/signal_handlers.py
  n23/content/statlines.py
  n23/content/tests/test_admin_fighter_statline.py
  n23/content/tests/test_statline.py
  n23/content/tests/test_statline_clean.py
  n23/core/maintenance/statlines.py
  n23/core/migrations/0208_retire_statline_maintenance_operations.py
  n23/core/models/backfill.py
  n23/core/tests/test_advancement_choices.py
  n23/core/tests/test_fighter_advancement_cost.py
  n23/core/tests/test_injury_modifiers.py
  n23/core/tests/test_list_fighter_stat_override.py
  n23/core/tests/test_maintenance_statlines.py
  n23/core/tests/test_mod_ctx_optimization.py
  n23/core/tests/test_views_pack.py
  n23/core/views/pack.py
Due: none

feat: edit a fighter type's stats on its own admin page (#1861) (#2122)
  .claude/notes/track-c-inline-statline-editing.md
  conftest.py
  gyrinx/maintenance/admin.py
  gyrinx/maintenance/templates/admin/maintenance/materialise_statlines.html
  gyrinx/maintenance/templates/admin/maintenance/normalise_stat_formats.html
  gyrinx/maintenance/tests/test_admin_views.py
  n23/content/admin.py
  n23/content/models/fighter.py
  n23/content/models/signal_handlers.py
  n23/content/statlines.py
  n23/content/tests/test_admin_fighter_statline.py
  n23/content/tests/test_statline.py
  n23/content/tests/test_statline_clean.py
  n23/core/maintenance/statlines.py
  n23/core/migrations/0208_retire_statline_maintenance_operations.py
  n23/core/models/backfill.py
  n23/core/tests/test_advancement_choices.py
  n23/core/tests/test_fighter_advancement_cost.py
  n23/core/tests/test_injury_modifiers.py
  n23/core/tests/test_list_fighter_stat_override.py
  n23/core/tests/test_maintenance_statlines.py
  n23/core/tests/test_mod_ctx_optimization.py
  n23/core/tests/test_views_pack.py
  n23/core/views/pack.py
Due: check-fmt, markdownlint

refactor: move the generic request and queryset helpers to the platform
  .github/copilot-instructions.md
  gyrinx/http.py
  gyrinx/querysets.py
  gyrinx/templates/cotton/cancel.html
  gyrinx/tests/test_querysets.py
  n23/core/CLAUDE.md
  n23/core/tests/test_tags.py
  n23/core/utils.py
  n23/core/views/battle.py
  n23/core/views/campaign/actions.py
  n23/core/views/campaign/assets.py
  n23/core/views/campaign/attributes.py
  n23/core/views/campaign/captured.py
  n23/core/views/campaign/lifecycle.py
  n23/core/views/campaign/lists.py
  n23/core/views/campaign/resources.py
  n23/core/views/campaign/views.py
  n23/core/views/csrf.py
  n23/core/views/fighter/equipment.py
  n23/core/views/fighter/equipment_sets.py
  n23/core/views/fighter/narrative.py
  n23/core/views/fighter/powers.py
  n23/core/views/fighter/rules.py
  n23/core/views/fighter/skills.py
  n23/core/views/fighter/stats.py
  n23/core/views/home.py
  n23/core/views/impersonation.py
  n23/core/views/list/attributes.py
  n23/core/views/list/skill_trees.py
  n23/core/views/list/views.py
  n23/core/views/notification.py
  n23/core/views/pack.py
  n23/core/views/print_config.py
Due: check-fmt, markdownlint

refactor: move the remaining edition-agnostic request handling to the platform
  gyrinx/api/tasks.py
  gyrinx/api/tests.py
  gyrinx/api/views.py
  gyrinx/context_processors.py
  gyrinx/impersonation.py
  gyrinx/middleware.py
  gyrinx/settings.py
  gyrinx/tasks/registry.py
  gyrinx/tests/test_context_processors.py
  gyrinx/tests/test_csrf.py
  gyrinx/views_csrf.py
  gyrinx/views_impersonation.py
  n23/core/context_processors.py
  n23/core/middleware.py
  n23/core/tasks.py
  n23/core/tests/test_impersonation.py
  n23/core/urls/misc.py
  n23/core/views/__init__.py
Due: none

fix: prefetch the notification target so the inbox stops querying per row
  n23/core/models/notification.py
  n23/core/tests/test_views_notifications.py
  n23/core/views/notification.py
Due: none

refactor: give notifications a generic target instead of List/Campaign FKs
  n23/core/migrations/0207_notification_generic_target.py
  n23/core/migrations/0208_notification_generic_target_backfill.py
  n23/core/models/list/list.py
  n23/core/models/notification.py
  n23/core/tests/test_notifications.py
  n23/core/views/campaign/views.py
  n23/core/views/list/views.py
Due: none

fix: renumber the notification migrations around main's 0207 and 0208
  n23/core/migrations/0209_notification_generic_target.py
  n23/core/migrations/0210_notification_generic_target_backfill.py
Due: none

refactor: move the generic request and queryset helpers to the platform (#2116)
  .github/copilot-instructions.md
  gyrinx/http.py
  gyrinx/querysets.py
  gyrinx/templates/cotton/cancel.html
  gyrinx/tests/test_querysets.py
  n23/core/CLAUDE.md
  n23/core/tests/test_tags.py
  n23/core/utils.py
  n23/core/views/battle.py
  n23/core/views/campaign/actions.py
  n23/core/views/campaign/assets.py
  n23/core/views/campaign/attributes.py
  n23/core/views/campaign/captured.py
  n23/core/views/campaign/lifecycle.py
  n23/core/views/campaign/lists.py
  n23/core/views/campaign/resources.py
  n23/core/views/campaign/views.py
  n23/core/views/csrf.py
  n23/core/views/fighter/equipment.py
  n23/core/views/fighter/equipment_sets.py
  n23/core/views/fighter/narrative.py
  n23/core/views/fighter/powers.py
  n23/core/views/fighter/rules.py
  n23/core/views/fighter/skills.py
  n23/core/views/fighter/stats.py
  n23/core/views/home.py
  n23/core/views/impersonation.py
  n23/core/views/list/attributes.py
  n23/core/views/list/skill_trees.py
  n23/core/views/list/views.py
  n23/core/views/notification.py
  n23/core/views/pack.py
  n23/core/views/print_config.py
Due: check-fmt, markdownlint

refactor: give notifications a generic target instead of List/Campaign FKs (#2118)
  n23/core/migrations/0209_notification_generic_target.py
  n23/core/migrations/0210_notification_generic_target_backfill.py
  n23/core/models/list/list.py
  n23/core/models/notification.py
  n23/core/tests/test_notifications.py
  n23/core/tests/test_views_notifications.py
  n23/core/views/campaign/views.py
  n23/core/views/list/views.py
  n23/core/views/notification.py
Due: none

refactor: move the remaining edition-agnostic request handling to the platform (#2117)
  gyrinx/api/tasks.py
  gyrinx/api/tests.py
  gyrinx/api/views.py
  gyrinx/context_processors.py
  gyrinx/impersonation.py
  gyrinx/middleware.py
  gyrinx/settings.py
  gyrinx/tasks/registry.py
  gyrinx/tests/test_context_processors.py
  gyrinx/tests/test_csrf.py
  gyrinx/views_csrf.py
  gyrinx/views_impersonation.py
  n23/core/context_processors.py
  n23/core/middleware.py
  n23/core/tasks.py
  n23/core/tests/test_impersonation.py
  n23/core/urls/misc.py
  n23/core/views/__init__.py
Due: none

refactor: move the notification inbox to the platform (#2121)
  gyrinx/context_processors.py
  gyrinx/settings.py
  gyrinx/site/__init__.py
  gyrinx/site/admin.py
  gyrinx/site/migrations/0002_move_notification_to_platform.py
  gyrinx/site/models.py
  gyrinx/site/templates/admin/gyrinxsite/notification/broadcast.html
  gyrinx/site/templates/admin/gyrinxsite/notification/change_list.html
  gyrinx/templates/django/forms/field.html
  gyrinx/tests/test_admin_registration.py
  gyrinx/tests/test_notification_admin.py
  gyrinx/tests/test_notification_badge.py
  gyrinx/tests/test_notifications.py
  n23/core/admin/__init__.py
  n23/core/context_processors.py
  n23/core/cost/reconcile_notify.py
  n23/core/handlers/battle.py
  n23/core/migrations/0211_drop_notification_related_columns.py
  n23/core/migrations/0212_move_notification_to_platform.py
  n23/core/models/__init__.py
  n23/core/models/notification.py
  n23/core/tests/test_battle_invite_notifications.py
  n23/core/tests/test_cotton_call_site_gates.py
  n23/core/tests/test_notification_banners.py
  n23/core/tests/test_reconcile_notify.py
  n23/core/tests/test_views_notifications.py
  n23/core/views/campaign/views.py
  n23/core/views/list/views.py
  n23/core/views/notification.py
Due: none

test: stop crew query-count tests depending on cache warmth
  conftest.py
  n23/core/tests/test_crew.py
Due: none

refactor: move the notification inbox to the platform (#2121) (#2124)
  gyrinx/context_processors.py
  gyrinx/settings.py
  gyrinx/site/__init__.py
  gyrinx/site/admin.py
  gyrinx/site/migrations/0002_move_notification_to_platform.py
  gyrinx/site/models.py
  gyrinx/site/templates/admin/gyrinxsite/notification/broadcast.html
  gyrinx/site/templates/admin/gyrinxsite/notification/change_list.html
  gyrinx/templates/django/forms/field.html
  gyrinx/tests/test_admin_registration.py
  gyrinx/tests/test_notification_admin.py
  gyrinx/tests/test_notification_badge.py
  gyrinx/tests/test_notifications.py
  n23/core/admin/__init__.py
  n23/core/context_processors.py
  n23/core/cost/reconcile_notify.py
  n23/core/handlers/battle.py
  n23/core/migrations/0211_drop_notification_related_columns.py
  n23/core/migrations/0212_move_notification_to_platform.py
  n23/core/models/__init__.py
  n23/core/models/notification.py
  n23/core/tests/test_battle_invite_notifications.py
  n23/core/tests/test_cotton_call_site_gates.py
  n23/core/tests/test_notification_banners.py
  n23/core/tests/test_reconcile_notify.py
  n23/core/tests/test_views_notifications.py
  n23/core/views/campaign/views.py
  n23/core/views/list/views.py
  n23/core/views/notification.py
Due: none

Path conditions:
  check-fmt: any of: \.scss$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  markdownlint: any of: \.md$
