Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

Update .github/workflows/claude-plan-action.yml
  .github/workflows/claude-plan-action.yml
Due: check-fmt

Use fixtures properly
  gyrinx/conftest.py
  gyrinx/core/tests/test_migrate_upgrade_to_upgrades_field.py
Due: none

Add Claude issue responder workflow (#1073)
  .github/workflows/claude-plan-action.yml
Due: check-fmt

Add migration to move upgrade data to upgrades_field (#1072)
  gyrinx/conftest.py
  gyrinx/core/migrations/0113_migrate_upgrade_to_upgrades_field.py
  gyrinx/core/tests/test_migrate_upgrade_to_upgrades_field.py
Due: none

Add blank cards config to form
  gyrinx/core/static/core/js/index.js
  gyrinx/core/templates/core/print_config/form.html
Due: check-fmt

Regenerate migrations
  gyrinx/core/migrations/0113_historicalprintconfig_blank_fighter_cards_and_more.py
Due: none

Merge migrations
  gyrinx/core/migrations/0114_merge_20251111_2156.py
Due: none

Update bootstrap JS and CSS versions
  gyrinx/core/templates/core/layouts/foundation.html
  gyrinx/templates/500.html
Due: none

Switch claude-plan-action workflow to our runner
  .github/workflows/claude-plan-action.yml
Due: check-fmt

Workflow tweaks
  .github/workflows/claude-dispatch.yml
  .github/workflows/claude.yml
  .github/workflows/test-default-runner.yaml
  .github/workflows/test-free-runner.yaml
Due: check-fmt

Phase 2: Remove code references to deprecated upgrade field (#1077)
  gyrinx/core/views/list.py
Due: none

fix: set rating_current in test_remove_weapon to prevent negative value
  gyrinx/core/tests/test_integration_core_functionality.py
Due: none

Allow exotic beasts to roll dice for advancements (#1079)
  gyrinx/core/templates/core/list_fighter_advancement_dice_choice.html
  gyrinx/core/tests/test_advancements.py
  gyrinx/core/views/list.py
Due: none

feat: add refund checkbox to equipment/fighter deletion views
  gyrinx/core/templates/core/list_fighter_archive.html
  gyrinx/core/templates/core/list_fighter_assign_delete_confirm.html
  gyrinx/core/templates/core/list_fighter_assign_upgrade_delete_confirm.html
  gyrinx/core/templates/core/list_fighter_delete.html
  gyrinx/core/templates/core/list_fighter_weapon_profile_delete.html
  gyrinx/core/templates/core/list_fighter_weapons_accessory_delete.html
  gyrinx/core/tests/test_equipment_deletion_refund.py
  gyrinx/core/views/list.py
Due: none

Allow claude in planning action
  .github/workflows/claude-plan-action.yml
Due: check-fmt

Revert "fix: use cost_for_house for vehicles in stash (#1065)"
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_vehicle_stash_cost_bug.py
Due: none

Revert "fix: use cost_for_house for vehicles in stash" (#1083)
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_vehicle_stash_cost_bug.py
Due: none

fix: allow credit refunds when list actions are disabled
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_equipment_deletion_refund.py
Due: none

Checkpoint
  gyrinx/conftest.py
Due: none

Optimize test database setup with --nomigrations flag
  .claude/notes/test_suite_database_optimization.md
  pyproject.toml
Due: check-fmt, markdownlint

Final tweaks
  gyrinx/core/templates/core/includes/blank_vehicle_card.html
Due: none

Implement Copilot feedback on test optimizations
  .claude/notes/test_suite_database_optimization.md
  gyrinx/conftest.py
Due: check-fmt, markdownlint

Add support for blank fighter/vehicle cards (#1071)
  gyrinx/core/forms/print_config.py
  gyrinx/core/migrations/0113_historicalprintconfig_blank_fighter_cards_and_more.py
  gyrinx/core/migrations/0114_merge_20251111_2156.py
  gyrinx/core/models/print_config.py
  gyrinx/core/static/core/js/index.js
  gyrinx/core/templates/core/includes/blank_fighter_card.html
  gyrinx/core/templates/core/includes/blank_vehicle_card.html
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/print_config/form.html
  gyrinx/core/views/list.py
Due: check-fmt

tweaks
  gyrinx/core/templates/core/includes/list_common_header.html
Due: none

Remove migration test file and update performance snapshot
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_migrate_upgrade_to_upgrades_field.py
Due: check-fmt

Regenerate migration
  gyrinx/core/migrations/0115_remove_upgrade_field_from_assignment.py
Due: none

Optimize test database setup with --nomigrations flag (#1085)
  .claude/notes/test_suite_database_optimization.md
  gyrinx/conftest.py
  pyproject.toml
Due: check-fmt, markdownlint

Phase 3: Remove upgrade field from ListFighterEquipmentAssignment (#1084)
  gyrinx/core/migrations/0115_remove_upgrade_field_from_assignment.py
  gyrinx/core/models/list.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_migrate_upgrade_to_upgrades_field.py
Due: check-fmt

Implement ListAction tracking for priority operations (#1078)
  gyrinx/core/models/list.py
  gyrinx/core/templates/core/list_fighter_archive.html
  gyrinx/core/templates/core/list_fighter_assign_delete_confirm.html
  gyrinx/core/templates/core/list_fighter_assign_upgrade_delete_confirm.html
  gyrinx/core/templates/core/list_fighter_delete.html
  gyrinx/core/templates/core/list_fighter_weapon_profile_delete.html
  gyrinx/core/templates/core/list_fighter_weapons_accessory_delete.html
  gyrinx/core/tests/test_equipment_deletion_refund.py
  gyrinx/core/tests/test_integration_core_functionality.py
  gyrinx/core/views/list.py
Due: none

Fix fighter advancement cost calculations
  gyrinx/core/models/list.py
  gyrinx/core/tests/test_fighter_advancement_cost.py
Due: none

Update performance test snapshot
  gyrinx/core/tests/fixtures/performance_view_queries.json
Due: check-fmt

Add refresh button for list cost calculations (#1086)
  gyrinx/core/templates/core/includes/list_common_header.html
  gyrinx/core/tests/test_list_refresh_cost.py
  gyrinx/core/urls.py
  gyrinx/core/views/list.py
Due: none

Fix fighter advancement cost calculations (#1087)
  gyrinx/core/models/list.py
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_fighter_advancement_cost.py
Due: check-fmt

Improve plan action and lint action configs
  .github/workflows/claude-plan-action.yml
  .pre-commit-config.yaml
Due: check-fmt

Upgrade to the v1 claude-code-action
  .github/workflows/claude-code-improvement.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-dispatch.yml
  .github/workflows/claude-issue-progress.yml
  .github/workflows/claude-plan-action.yml
  .github/workflows/claude.yml
Due: check-fmt

Add ListAction for fighter cloning
  gyrinx/core/forms/list.py
  gyrinx/core/handlers/fighter_operations.py
  gyrinx/core/templates/core/list_fighter_clone.html
  gyrinx/core/tests/test_handlers_fighter_operations.py
  gyrinx/core/views/list.py
Due: none

Add ListAction support to reassignment
  gyrinx/core/handlers/equipment_purchases.py
  gyrinx/core/tests/test_handlers_equipment_purchases.py
  gyrinx/core/views/list.py
Due: none

Resurrection working
  gyrinx/core/templates/core/includes/fighter_card_content.html
  gyrinx/core/templates/core/list_fighter_resurrect.html
  gyrinx/core/urls.py
  gyrinx/core/views/list.py
Due: none

Do something with response variables
  gyrinx/core/templates/core/list_fighter_resurrect.html
  gyrinx/core/tests/test_resurrect_fighter.py
  gyrinx/core/views/list.py
Due: none

Fix fighter edit state test
  gyrinx/core/templates/core/list_fighter_resurrect.html
  gyrinx/core/tests/test_fighter_state_edit.py
  gyrinx/core/views/list.py
Due: none
