Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

feat: open n26 model status to every owner, not just the founding flag (#2883)
  n26/core/test_views_edit.py
  n26/core/views/equip.py
  n26/core/views/gangs.py
  n26/core/views/permissions.py
  n26/designsystem/templates/designsystem/demos/activities-square/70-post-battle-only.html
  n26/tests/sandbox/test_model_status.py
  n26/tests/test_views_post_battle.py
Due: none

fix: draw the n26 Actions square for any owner with a model In Recovery or held for ransom
  n26/core/views/edit.py
  n26/core/views/gangs.py
  n26/tests/sandbox/test_escape.py
  n26/tests/sandbox/test_fighter_action_flows.py
  n26/tests/sandbox/test_model_status.py
  n26/tests/sandbox/test_ransom.py
  n26/tests/test_views_post_battle.py
Due: none

feat: show all three N26 home and hire tabs on phones with narrow_tabs
  n26/core/templates/cotton/n26/tab_links.html
  n26/core/templates/cotton/n26/view/dashboard.html
  n26/core/templates/cotton/ui/tabs/index.html
  n26/core/templates/n26/hire_fighter.html
  n26/core/test_tab_links.py
  n26/core/test_ui_tabs.py
  n26/core/test_views_dashboard.py
  n26/core/test_views_hire.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/tab-links/20-three-whole.html
Due: none

fix: read narrow_tabs as a number in c-n26.tab-links and test the narrow padding
  n26/core/templates/cotton/n26/tab_links.html
  n26/core/templates/cotton/ui/tabs/index.html
  n26/core/test_tab_links.py
  n26/core/test_ui_tabs.py
Due: none

fix: validate founding Trade Points activity identities
  n26/core/activities.py
  n26/core/operations.py
  n26/core/test_views_edit.py
  n26/core/test_views_founding_activity.py
  n26/core/test_views_trade_points.py
  n26/core/views/edit.py
  n26/core/views/gangs.py
  n26/tests/sandbox/test_founding_budget.py
Due: none

fix: open the N26 skill pencil in the checkbox editor
  n26/core/templates/cotton/n26/model_card/body.html
  n26/core/templates/n26/includes/skills_box.html
  n26/core/views/edit.py
  n26/core/views/skills.py
  n26/tests/sandbox/test_editing_skills.py
  n26/tests/sandbox/test_selecting_skills.py
Due: none

feat: record multiple dice in N26 campaign rolls
  n26/core/campaigns.py
  n26/core/forms.py
  n26/core/migrations/0083_campaign_roll_multiple_dice.py
  n26/core/models/campaign_roll.py
  n26/core/templates/n26/campaign_roll.html
  n26/core/templates/n26/record_campaign_roll.html
  n26/core/views/campaign_rolls.py
  n26/frontend/islands/campaign-roll-source/CampaignRollSource.test.tsx
  n26/frontend/islands/campaign-roll-source/CampaignRollSource.tsx
  n26/tests/test_views_campaign_rolls.py
Due: none

fix: create_asset and create_table read the asset type under the lock
  n26/core/campaigns.py
  n26/tests/sandbox/test_campaign_asset_type_edits.py
Due: none

test: give the asset type edit test classes their contract docstrings
  n26/tests/sandbox/test_campaign_asset_type_edits.py
Due: none

feat: show all three N26 home and hire tabs on phones with narrow_tabs (#2892)
  n26/core/templates/cotton/n26/tab_links.html
  n26/core/templates/cotton/n26/view/dashboard.html
  n26/core/templates/cotton/ui/tabs/index.html
  n26/core/templates/n26/hire_fighter.html
  n26/core/test_tab_links.py
  n26/core/test_ui_tabs.py
  n26/core/test_views_dashboard.py
  n26/core/test_views_hire.py
  n26/designsystem/catalog.py
  n26/designsystem/sampledata.py
  n26/designsystem/templates/designsystem/demos/tab-links/20-three-whole.html
Due: none

fix: let zero-TP gangs record founding completion
  n26/core/templates/n26/trade_points.html
  n26/core/test_views_trade_points.py
  n26/core/views/gangs.py
  n26/tests/sandbox/test_founding_budget.py
Due: none

docs: clarify zero-TP founding completion controls
  docs/plans/hire-time-trade-points.md
Due: check-fmt, markdownlint

fix: open the N26 skill pencil in the checkbox editor (#2895)
  n26/core/templates/cotton/n26/model_card/body.html
  n26/core/templates/n26/includes/skills_box.html
  n26/core/views/edit.py
  n26/core/views/skills.py
  n26/tests/sandbox/test_editing_skills.py
  n26/tests/sandbox/test_selecting_skills.py
Due: none

feat: record multiple dice in N26 campaign rolls (#2897)
  n26/core/campaigns.py
  n26/core/forms.py
  n26/core/migrations/0083_campaign_roll_multiple_dice.py
  n26/core/models/campaign_roll.py
  n26/core/templates/n26/campaign_roll.html
  n26/core/templates/n26/record_campaign_roll.html
  n26/core/views/campaign_rolls.py
  n26/frontend/islands/campaign-roll-source/CampaignRollSource.test.tsx
  n26/frontend/islands/campaign-roll-source/CampaignRollSource.tsx
  n26/tests/test_views_campaign_rolls.py
Due: none

perf: reuse advancement reads and reduce pytest fixture work
  .github/workflows/test.yaml
  conftest.py
  docs/test-performance-improvements.md
  n26/core/advancements.py
  n26/core/test_advancement_runtime.py
  n26/tests/fixtures.py
  n26/tests/sandbox/test_asset_rolls.py
  n26/tests/sandbox/test_choosing.py
  n26/tests/sandbox/test_fighter_action_flows.py
  n26/tests/sandbox/test_fighter_progression_setup.py
  n26/tests/sandbox/test_gang_history.py
  n26/tests/sandbox/test_ingest.py
Due: check-fmt, markdownlint

test: share Gang Legacy setup across lifecycle assertions
  docs/test-performance-improvements.md
  n26/tests/sandbox/test_gang_legacy.py
Due: check-fmt, markdownlint

fix: target the Trading Post and bound hire-time activity reads
  docs/plans/hire-time-trade-points.md
  n26/core/models/gang.py
  n26/core/templates/n26/includes/hire_time_action.html
  n26/core/views/trade_points.py
  n26/tests/sandbox/test_founding_budget.py
Due: check-fmt, markdownlint

fix: preserve TP action completion and reject stale founding reopen
  docs/plans/hire-time-trade-points.md
  n26/core/founding.py
  n26/core/models/gang.py
  n26/core/templates/n26/trade_points.html
  n26/core/test_views_founding_activity.py
  n26/core/views/gangs.py
  n26/core/views/trade_points.py
  n26/tests/sandbox/test_founding_budget.py
Due: check-fmt, markdownlint

fix: draw the n26 Actions square for any owner with a model In Recovery or held for ransom (#2896)
  n26/core/views/edit.py
  n26/core/views/gangs.py
  n26/tests/sandbox/test_escape.py
  n26/tests/sandbox/test_fighter_action_flows.py
  n26/tests/sandbox/test_model_status.py
  n26/tests/sandbox/test_ransom.py
  n26/tests/test_views_post_battle.py
Due: none

perf: share advancement reads and N26 test setup
  docs/test-performance-improvements.md
  n26/core/advancements.py
  n26/core/browse.py
  n26/core/views/advancement_flows.py
  n26/tests/sandbox/test_advancement_action_flows.py
  n26/tests/sandbox/test_founding_budget.py
  n26/tests/sandbox/test_journal_content.py
  n26/tests/sandbox/test_lasting_effects.py
  n26/tests/sandbox/test_outcast_gang.py
Due: check-fmt, markdownlint

fix: stop number inputs taking "e", "E" and "+" on every page shell (#2884)
  gyrinx/site/static/platform/js/number-input-characters.js
  gyrinx/site/tests/test_number_input_characters.py
  n23/core/templates/core/layouts/foundation.html
  n26/core/templates/n26/layouts/base.html
  n26/designsystem/templates/designsystem/base.html
  n26/frontend/test/number-input-characters.test.js
Due: check-fmt

feat: edit a campaign's own asset types from an Asset types tab in Edit campaign (#2885)
  n26/core/campaigns.py
  n26/core/forms.py
  n26/core/history.py
  n26/core/migrations/0082_campaign_events_record_asset_type_edits.py
  n26/core/models/campaign.py
  n26/core/templates/n26/edit_asset_type.html
  n26/core/templates/n26/edit_campaign.html
  n26/core/test_header_menus.py
  n26/core/views/__init__.py
  n26/core/views/campaigns.py
  n26/designsystem/templates/designsystem/shell/campaign.html
  n26/tests/sandbox/test_campaign_asset_type_edits.py
  n26/tests/test_badges.py
  n26/urls.py
Due: none

fix: check House conditions before Operation.gain_asset runs a territory recruit
  n26/core/operations.py
  n26/tests/sandbox/test_campaign_assets.py
Due: none

fix: count a territory recruit from OpAddsMiniature at full value in gang rating
  n26/library/models/modifier.py
  n26/tests/sandbox/test_campaign_assets.py
Due: none

fix: seed Shivver Den's Escher Controlled boon as +1 Reputation in journal_content
  n26/library/journal_content.py
  n26/tests/sandbox/test_journal_content.py
Due: none

fix: preserve personal TP grants and recheck them under the gang lock
  n26/core/founding.py
  n26/core/views/equip.py
  n26/core/views/gangs.py
  n26/library/standard_content.py
  n26/tests/sandbox/test_founding_budget.py
Due: none

test: restore the TestCampaignSuppression heading in test_campaign_assets
  n26/tests/sandbox/test_campaign_assets.py
Due: none

perf: build only the gang's own card in Operation.gain_asset's scope check
  n26/core/operations.py
  n26/library/journal_content.py
Due: none

fix: use restored personal TP grants when buying equipment
  n26/core/views/equip.py
  n26/tests/sandbox/test_founding_budget.py
Due: none
