Repository gyrinx-app/gyrinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-fmt, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# fail_fast: true
repos:
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        language: python
        types: [jupyter]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        types_or: [python, pyi]
        pass_filenames: false
        args:
          [
            "-c",
            "pyproject.toml",
            "-r",
            ".",
            "--baseline",
            "bandit/bandit-baseline.json",
          ]
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: check-fmt
        name: check-fmt
        entry: ./scripts/fmt-check.sh
        language: script
        types_or: [scss, javascript, json, markdown, yaml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--django]
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-migrations
        name: Check for missing migrations
        entry: ./scripts/check_migrations.sh
        language: script
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli "*.md" --fix --ignore "CHANGELOG.md" --config .markdownlint.json
        language: system
        files: \.md$

  # Skipped becuase they take too long
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: ./scripts/test.sh
  #       args: ["--parallel", "--durations=20", "-v"]
  #       language: script
  #       pass_filenames: false
  #       always_run: true

fix: classic card — full-white cog centre over the gear's faint fill
  gyrinx/core/static/core/scss/_classic_card.scss
Due: check-fmt

fix: drop stale card_theme column that broke PrintConfig saves
  gyrinx/core/migrations/0155_drop_stale_card_theme_column.py
Due: none

feat: classic card — fillable blank cards
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/includes/classic_card.html
Due: check-fmt

fix: classic card — close the statline frame on the left
  gyrinx/core/static/core/scss/_classic_card.scss
Due: check-fmt

feat: classic card — fighter portrait bottom-right + plain white-circle cog
  gyrinx/core/print_cards.py
  gyrinx/core/static/core/img/print/classic/overlays/cog.png
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/includes/classic_card.html
  gyrinx/core/tests/test_print_config_classic.py
Due: check-fmt

chore: merge migration for card_style + reconcile_action_type
  gyrinx/core/migrations/0156_merge_20260704_2154.py
Due: none

fix: address PR review on classic print cards
  gyrinx/core/migrations/0155_drop_stale_card_theme_column.py
  gyrinx/core/print_cards.py
  gyrinx/core/templates/core/includes/classic_sheet.html
  gyrinx/core/tests/test_print_lab.py
  gyrinx/core/views/print_lab.py
Due: none

fix: classic card — align XP/Kills split with the detail columns
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/templates/core/includes/classic_card.html
Due: check-fmt

fix: classic print — drop the card theme option, always use the blank plate
  .claude/notes/classic-card-print-config-wiring.md
  gyrinx/core/forms/print_config.py
  gyrinx/core/migrations/0154_print_config_card_style_theme.py
  gyrinx/core/models/print_config.py
  gyrinx/core/templates/core/list_print_classic.html
  gyrinx/core/templates/core/print_config/form.html
  gyrinx/core/tests/test_print_config_classic.py
  gyrinx/core/tests/test_print_config_stash.py
  gyrinx/core/views/list/views.py
Due: check-fmt, markdownlint

refactor: classic card — share the detail/kills column gap
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/views/print_lab.py
Due: check-fmt

chore: regenerate merge migration against latest main
  gyrinx/core/migrations/0156_merge_20260705_1006.py
Due: none

feat: classic mode print cards (#1726) (#1945)
  .claude/notes/classic-card-print-config-wiring.md
  gyrinx/core/forms/print_config.py
  gyrinx/core/migrations/0154_print_config_card_style_theme.py
  gyrinx/core/migrations/0155_drop_stale_card_theme_column.py
  gyrinx/core/migrations/0156_merge_20260705_1006.py
  gyrinx/core/models/print_config.py
  gyrinx/core/print_cards.py
  gyrinx/core/static/core/img/print/classic/backgrounds/blank.jpg
  gyrinx/core/static/core/img/print/classic/backgrounds/even.jpg
  gyrinx/core/static/core/img/print/classic/backgrounds/odd.jpg
  gyrinx/core/static/core/img/print/classic/backgrounds/paper_even.jpg
  gyrinx/core/static/core/img/print/classic/backgrounds/paper_odd.jpg
  gyrinx/core/static/core/img/print/classic/backgrounds/plate_dark.webp
  gyrinx/core/static/core/img/print/classic/icons/out-of-ammo.png
  gyrinx/core/static/core/img/print/classic/icons/out-of-ammo.svg
  gyrinx/core/static/core/img/print/classic/overlays/nameplate.png
  gyrinx/core/static/core/img/print/classic/overlays/screen.webp
  gyrinx/core/static/core/img/print/classic/overlays/sidebar.webp
  gyrinx/core/static/core/img/print/classic/overlays/stamp.png
  gyrinx/core/static/core/img/print/classic/skulls/blood-in-the-spire.webp
  gyrinx/core/static/core/img/print/classic/skulls/bonedry-and-broke.webp
  gyrinx/core/static/core/img/print/classic/skulls/daemons-of-meridian.webp
  gyrinx/core/static/core/img/print/classic/skulls/devils-of-gunk-deep.webp
  gyrinx/core/static/core/scss/_classic_card.scss
  gyrinx/core/static/core/scss/print_classic.scss
  gyrinx/core/templates/core/debug/print_lab.html
  gyrinx/core/templates/core/debug/print_lab_sheet.html
  gyrinx/core/templates/core/includes/classic_card.html
  gyrinx/core/templates/core/includes/classic_sheet.html
  gyrinx/core/templates/core/list_print_classic.html
  gyrinx/core/templates/core/print_config/form.html
  gyrinx/core/tests/test_print_config_classic.py
  gyrinx/core/tests/test_print_config_stash.py
  gyrinx/core/tests/test_print_lab.py
  gyrinx/core/views/list/views.py
  gyrinx/core/views/print_lab.py
  gyrinx/urls.py
Due: check-fmt, markdownlint

fix: book clone's real rating at the clone seam, not the source's stale cache
  gyrinx/core/handlers/list/operations.py
  gyrinx/core/tests/test_clone.py
Due: none

test: address Copilot nits on clone-seam regression test
  gyrinx/core/tests/test_clone.py
Due: none

feat: equipment sets (Tools of the Trade) — Phase 1 (#1853)
  gyrinx/core/migrations/0156_equipment_sets.py
  gyrinx/core/models/list/__init__.py
  gyrinx/core/models/list/equipment_set.py
  gyrinx/core/models/list/fighter.py
  gyrinx/core/models/list/list.py
  gyrinx/core/models/list/signal_handlers.py
  gyrinx/core/templates/core/includes/fighter_card_content.html
  gyrinx/core/templates/core/includes/fighter_card_cost.html
  gyrinx/core/templates/core/includes/fighter_card_equipment_set_switcher.html
  gyrinx/core/templates/core/includes/list_common_header.html
  gyrinx/core/templates/core/list_fighter_equipment_set_edit.html
  gyrinx/core/templates/core/list_fighter_equipment_sets.html
  gyrinx/core/tests/fixtures/performance_view_queries.json
  gyrinx/core/tests/test_equipment_sets.py
  gyrinx/core/urls/fighter.py
  gyrinx/core/views/fighter/equipment_sets.py
  gyrinx/core/views/list/views.py
Due: check-fmt

fix: book clone's real rating at the clone seam, not the source's stale cache (#1953)
  gyrinx/core/handlers/list/operations.py
  gyrinx/core/tests/test_clone.py
Due: none

fix: don't duplicate linked equipment children onto the stash on fighter death
  gyrinx/core/handlers/fighter/kill.py
  gyrinx/core/tests/test_handlers_fighter_lifecycle.py
Due: none

fix: equipment-set switcher comment leaked onto the fighter card
  gyrinx/core/templates/core/includes/fighter_card_equipment_set_switcher.html
  gyrinx/core/tests/test_equipment_sets.py
Due: none

fix: don't duplicate linked equipment children onto the stash on fighter death (#1958)
  gyrinx/core/handlers/fighter/kill.py
  gyrinx/core/tests/test_handlers_fighter_lifecycle.py
Due: none

fix: equipment-set switcher shows a dot, not the loadout name
  gyrinx/core/templates/core/includes/fighter_card_equipment_set_switcher.html
Due: none

feat: gate equipment-set pages on the rule + declutter the UI
  gyrinx/core/templates/core/list_fighter_equipment_set_edit.html
  gyrinx/core/templates/core/list_fighter_equipment_sets.html
  gyrinx/core/tests/test_equipment_sets.py
  gyrinx/core/views/fighter/equipment_sets.py
Due: none

feat: notifications & inbox (#721)
  gyrinx/core/admin/__init__.py
  gyrinx/core/admin/notification.py
  gyrinx/core/context_processors.py
  gyrinx/core/migrations/0157_add_notification_model.py
  gyrinx/core/models/__init__.py
  gyrinx/core/models/notification.py
  gyrinx/core/templates/admin/core/notification/broadcast.html
  gyrinx/core/templates/admin/core/notification/change_list.html
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/includes/notification_banners.html
  gyrinx/core/templates/core/includes/notification_list_item.html
  gyrinx/core/templates/core/includes/notification_source.html
  gyrinx/core/templates/core/layouts/base.html
  gyrinx/core/templates/core/list.html
  gyrinx/core/templates/core/notifications.html
  gyrinx/core/tests/test_notification_admin.py
  gyrinx/core/tests/test_notification_badge.py
  gyrinx/core/tests/test_notification_banners.py
  gyrinx/core/tests/test_notifications.py
  gyrinx/core/tests/test_views_notifications.py
  gyrinx/core/urls/__init__.py
  gyrinx/core/urls/notification.py
  gyrinx/core/views/__init__.py
  gyrinx/core/views/campaign/views.py
  gyrinx/core/views/list/views.py
  gyrinx/core/views/notification.py
  gyrinx/settings.py
Due: none

fix: make equipment-set switcher an inline icon, not a button
  gyrinx/core/templates/core/includes/fighter_card_equipment_set_switcher.html
Due: none

docs: seed local demo/test users with a verified allauth email
  CLAUDE.md
Due: check-fmt, markdownlint

feat: add equipment sets link to the fighter action dropdown
  gyrinx/core/templates/core/includes/fighter_card_content.html
  gyrinx/core/tests/test_equipment_sets.py
Due: none

fix: refine notification inbox row styling per UI feedback
  gyrinx/core/templates/core/includes/notification_list_item.html
  gyrinx/core/templates/core/includes/notification_source.html
Due: none

fix: notification inbox as a divided list, not bordered boxes
  gyrinx/core/templates/core/includes/notification_list_item.html
  gyrinx/core/templates/core/notifications.html
Due: none

feat: refine equipment sets manage UI wording and flow
  gyrinx/core/templates/core/includes/fighter_card_equipment_set_switcher.html
  gyrinx/core/templates/core/list_fighter_equipment_set_edit.html
  gyrinx/core/templates/core/list_fighter_equipment_sets.html
  gyrinx/core/tests/test_equipment_sets.py
  gyrinx/core/views/fighter/equipment_sets.py
Due: none

fix: move notification banners below list/campaign headers; simplify system tag
  gyrinx/core/templates/core/campaign/campaign.html
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/includes/notification_source.html
  gyrinx/core/templates/core/list.html
Due: none

feat: home the notifications inbox in the account section; space stacked banners
  gyrinx/core/templates/core/includes/account_sidebar.html
  gyrinx/core/templates/core/includes/list.html
  gyrinx/core/templates/core/includes/notification_banners.html
  gyrinx/core/templates/core/notifications.html
Due: none

fix: drop the divider above the first and below the last notification
  gyrinx/core/templates/core/includes/notification_list_item.html
  gyrinx/core/templates/core/notifications.html
Due: none

feat: render notification content as sanitised rich text
  gyrinx/core/admin/notification.py
  gyrinx/core/templates/admin/core/notification/broadcast.html
  gyrinx/core/templates/core/includes/notification_banners.html
  gyrinx/core/templates/core/includes/notification_list_item.html
  gyrinx/core/tests/test_views_notifications.py
Due: none

fix: address PR review feedback on equipment sets
  gyrinx/core/models/list/fighter.py
  gyrinx/core/models/list/list.py
  gyrinx/core/templates/core/includes/fighter_card_cost.html
  gyrinx/core/templates/core/includes/list_common_header.html
  gyrinx/core/tests/test_equipment_sets.py
  gyrinx/core/views/fighter/equipment_sets.py
Due: none

fix: define __all__ in notification admin to avoid wildcard-import namespace pollution
  gyrinx/core/admin/notification.py
Due: none

fix: renumber equipment sets migration after merging main
  gyrinx/core/migrations/0157_equipment_sets.py
Due: none

fix: address review nits — drop dead logger, unique checkbox labels, prefetch banner sender
  gyrinx/core/models/notification.py
  gyrinx/core/templates/core/includes/notification_list_item.html
  gyrinx/core/views/notification.py
Due: none

fix: broadcast form cleanup + safer "mark all read" and bulk ids
  gyrinx/core/admin/notification.py
  gyrinx/core/templates/core/notifications.html
  gyrinx/core/tests/test_notification_admin.py
  gyrinx/core/tests/test_views_notifications.py
  gyrinx/core/views/notification.py
Due: none

fix: address second review pass + prove no list-page N+1
  gyrinx/core/templates/core/includes/fighter_card_equipment_set_switcher.html
  gyrinx/core/tests/test_equipment_sets.py
  gyrinx/core/views/fighter/equipment_sets.py
  gyrinx/core/views/list/views.py
Due: none

perf: batch notify_many so large broadcasts stay memory-bounded
  gyrinx/core/admin/notification.py
  gyrinx/core/models/notification.py
  gyrinx/core/tests/test_notifications.py
Due: none

feat: stateful tooltip on the navbar notifications button
  gyrinx/core/templates/core/layouts/base.html
  gyrinx/core/tests/test_notification_badge.py
Due: none
